Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

fix the select option chip not properly displaying the data
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
Owners: @open-metadata/ui

fixed release dialog flash
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
Owners: @open-metadata/ui

fix loader issue for permission test
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Owners: @open-metadata/ui

optimized approach to remove release dialog flash
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
Owners: @open-metadata/ui

fix e2e test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
Owners: @open-metadata/ui

fix explore sort order test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
Owners: @open-metadata/ui

Okta validator fix
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/AzureAuthValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/OktaAuthValidator.java
Owners: @open-metadata/backend

cryptography safe version upgrade
  ingestion/setup.py
Owners: @open-metadata/ingestion

fix e2e test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
Owners: @open-metadata/ui

Docs: Tag Updation
  openmetadata-docs/content/v1.7.x/features/index.md
Owners: none

support status icons for running, aborted, failed
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-aborted.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-failed.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-running.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Owners: @open-metadata/ui

revert search provider changes
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
Owners: @open-metadata/ui

fix delete data contract test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Owners: @open-metadata/ui

fixed sonar
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.test.tsx
Owners: @open-metadata/ui

fix domain tests (#22775)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Owners: @open-metadata/ui

fix domain tests (#22775)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Owners: @open-metadata/ui

fix metrics test
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
Owners: @open-metadata/ui

supported new form field for UserTeamSelectInput Selector
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

remove component changes that we not needed
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignee.less
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
Owners: @open-metadata/ui

fix the selected owner chip design
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
Owners: @open-metadata/ui

Mark DataQualityAndProfiler.spec as fixme Increase test timeout for AddTestNewFlow.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/AddTestCaseNewFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Owners: @open-metadata/ui

supported the userPopoverList width as per screen size with max and min limitation
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
Owners: @open-metadata/ui

fix curated assets test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
Owners: @open-metadata/ui

seprate const and enum to fix tests
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/TestSuite.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
Owners: @open-metadata/ui

Fix customize page layout for Governance and Data Assets (#22766)
  openmetadata-ui/src/main/resources/ui/playwright/constant/customizeDetail.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/widget-header.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
Owners: @open-metadata/ui

Fix customize page layout for Governance and Data Assets (#22766)
  openmetadata-ui/src/main/resources/ui/playwright/constant/customizeDetail.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/widget-header.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
Owners: @open-metadata/ui

fix the tab inside userTeamSelect list not proper as the content and some oprimiztion on component side
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
Owners: @open-metadata/ui

fix the playwright because of owner changes
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Owners: @open-metadata/ui

chore(BE): support displayName for installed apps endpoint (#22443)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Owners: @open-metadata/backend

modify the rule for dataAssetRule and semantic form contract (#22744)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/JSONLogicSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Owners: @open-metadata/ui

fix tags.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Owners: @open-metadata/ui

playwright cover for column search
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
Owners: @open-metadata/ui

fix tests
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
Owners: @open-metadata/ui

Apply make py_format
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/ometa/mixins/mlmodel_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/source/messaging/redpanda/connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/es_reindex.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
Owners: @open-metadata/ingestion

remove ui
  ingestion/src/metadata/ingestion/source/drive/drive_service.py
  ingestion/src/metadata/utils/fqn.py
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/googleSheetsConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Owners: @open-metadata/ingestion, @open-metadata/ui

MINOR - Disable Custom Data Asset Rules
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

update generated types
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/driveServiceMetadataPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Owners: @open-metadata/ui

remove enable from semantic forms
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
Owners: @open-metadata/ui

update data contract validation icon
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataContractValidationApplication.svg
Owners: @open-metadata/ui

fix(ui): expand icon after updating column details
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
Owners: @open-metadata/ui
