Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

MINOR - Handle removed tests from contract & Add Rule Engine Tests (#22755)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend

Support navigation blocker for customize my data page (#22752)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/NavigationBlocker.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizablePageHeader/CustomizablePageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.tsx
Owners: @open-metadata/ui

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/constant/customizeDetail.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/widget-header.less
Owners: @open-metadata/ui

Support navigation blocker for customize my data page (#22752)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/NavigationBlocker.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizablePageHeader/CustomizablePageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.tsx
Owners: @open-metadata/ui

test(ui): e2e tests for data contracts (#22737)
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractViewSwitchTab/ContractViewSwitchTab.component.tsx
Owners: @open-metadata/ui

fix styling for data contract
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/UserTeamSelectSimple.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/user-team-select.less
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

fix tests
  ingestion/tests/unit/topology/database/test_databricks.py
Owners: @open-metadata/ingestion

fix lint
  ingestion/tests/unit/topology/database/test_databricks.py
Owners: @open-metadata/ingestion

address comments
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/JSONLogicSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Owners: @open-metadata/ui

test(ui): e2e tests for data contracts (#22737)
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractViewSwitchTab/ContractViewSwitchTab.component.tsx
Owners: @open-metadata/ui

MINOR: Improve Databricks Profiler & Test Connection (#22732)
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/tests/unit/topology/database/test_databricks.py
Owners: @open-metadata/ingestion

MINOR: Improve Databricks Profiler & Test Connection (#22732)
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/tests/unit/topology/database/test_databricks.py
Owners: @open-metadata/ingestion

bump ingestion version
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Owners: @open-metadata/ingestion

fix directory and files
  ingestion/src/metadata/ingestion/source/drive/drive_service.py
  ingestion/src/metadata/utils/fqn.py
Owners: @open-metadata/ingestion

Add more details to search reindex into slack, default the max content to 10mb (#22741)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClusterMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Owners: @open-metadata/backend

Fix user activity tracking (#22738)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/UserMetricsServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/CatalogSecurityContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserActivityFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserActivityTracker.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/UserMetricsServletTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/auth/UserActivityTrackerTest.java
Owners: @open-metadata/backend

bump ingestion version
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Owners: @open-metadata/ingestion

Add more details to search reindex into slack, default the max content to 10mb (#22741)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClusterMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Owners: @open-metadata/backend

Update DataProduct Schema
  openmetadata-spec/src/main/resources/json/schema/entity/domains/dataProduct.json
  openmetadata-spec/src/main/resources/rdf/ontology/openmetadata.ttl
Owners: none

fix e2e tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementDrawer/AnnouncementDrawer.tsx
Owners: @open-metadata/ui

Fix: 1. Propagate updatedBy from the trigger and make the updatedBy to be a reviewer in case of auto approval by reviewer. 2. Multiple Workflow Instance Conflicts resolution
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/EventBasedEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FilterEntityImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceStateRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Owners: @open-metadata/backend

Remove early no conflict return
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowUtils.java
Owners: @open-metadata/backend

fix test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Owners: @open-metadata/backend

Minor : missing old pipeline in pipeline widget (#22761)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Owners: @open-metadata/backend

Minor : missing old pipeline in pipeline widget (#22761)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Owners: @open-metadata/backend

Docs: 18.10 Release Updation (#22762)
  openmetadata-docs/content/partials/v1.8/releases/1.8.9.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.9.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Owners: none

fix tier option logic
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Owners: @open-metadata/ui

Docs: Updation
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/mwaa.md
Owners: none

fix login test failure (#22753)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LoginConfiguration.spec.ts
Owners: @open-metadata/ui

fix login test failure (#22753)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LoginConfiguration.spec.ts
Owners: @open-metadata/ui

Docs: Brand Name Tag Updation (#22760)
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.7.x/getting-started/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.8.x/getting-started/index.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-ui.md
Owners: none

Update the common props for ServiceInsights tabs
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Owners: @open-metadata/ui

Fix-22668 Glossary term missing from UI in columns search (#22764)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Owners: @open-metadata/backend

Fix-22668 Glossary term missing from UI in columns search (#22764)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Owners: @open-metadata/backend

Docs: Connectors Updation
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.8.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/postgres/yaml.md
Owners: none

revert owner and description style change
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/UserTeamSelectSimple.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

Docs: Connectors Updation
  openmetadata-docs/content/v1.8.x/connectors/security/ranger/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/security/ranger/index.md
Owners: none

Fix user activity tracking (#22738)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/UserMetricsServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/CatalogSecurityContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserActivityFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserActivityTracker.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/UserMetricsServletTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/auth/UserActivityTrackerTest.java
Owners: @open-metadata/backend

Docs: Connectors Features Updation (#22774)
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.8.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.8.x/connectors/security/ranger/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/security/ranger/index.md
Owners: none

fix domain tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Owners: @open-metadata/ui
