Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

Fix Test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Owners: @open-metadata/backend

fixed unit tests
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.test.tsx
Owners: @open-metadata/ui

added the status badge for latestRun in DataAssetHeader
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-cancel-outline.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Owners: @open-metadata/ui

Grafana test fix
  ingestion/tests/unit/topology/dashboard/test_grafana.py
Owners: @open-metadata/ingestion

fix tests
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Owners: @open-metadata/backend

Allow admins to set default persona for all the users
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaDetailsCard/PersonaDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
Owners: @open-metadata/ui

Fix FeedResourceTest after addition of multi-domain rule in entityRulesSettings.json (#22706)
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Owners: @open-metadata/backend

fix the pagination in table schema form
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
Owners: @open-metadata/ui

fix: hide scrollbar from sidebar
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
Owners: @open-metadata/ui

fix: hide scrollbar from sidebar
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Owners: @open-metadata/ui

fix feed id
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
Owners: @open-metadata/ui

Data Contract UI Improvement (#22705)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-cancel-outline.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/ExpandableCard/ExpandableCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Owners: @open-metadata/ui

Fix(ui) : Updated tag and selection group style (#22708)
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/contract-quality-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectionCardGroup/SelectionCardGroup.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
Owners: @open-metadata/ui

fix tour
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.test.tsx
Owners: @open-metadata/ui

fixd failing test
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerConfigurationPage/ProfilerConfigurationPage.test.tsx
Owners: @open-metadata/ui

hide serviceEngine selection field from profiler workflow
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Owners: @open-metadata/ui

MINOR - Don't enforce data contract on PATCH & cleanups (#22709)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend

fix style issue
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.tsx
Owners: @open-metadata/ui

update routes
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
Owners: @open-metadata/ui

fixed contract form design changes
  openmetadata-ui/src/main/resources/ui/src/assets/svg/bookoutline.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/codeoutline.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Owners: @open-metadata/ui

semantic-form-design-fix
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Owners: @open-metadata/ui

localization fix
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

fix tour test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
Owners: @open-metadata/ui

fix the lineage cycle playwright failing on 1.8.9
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
Owners: @open-metadata/ui

Feat: spark engine UI - supporting PR (#22679)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/context/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerConfigurationPage/ProfilerConfigurationClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerConfigurationPage/ProfilerConfigurationPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerConfigurationPage/ProfilerConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerConfigurationPage/profiler-configuration-page.style.less
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Owners: @open-metadata/ui

add plugin registry for applications
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/plugins/AppPlugin.ts
Owners: @open-metadata/ui

MINOR - Add Tests & fix migrations
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.1/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

fix the lineage cycle playwright failing on 1.8.9 (#22713)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
Owners: @open-metadata/ui

monir fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
Owners: @open-metadata/ui

remove redundunt myData tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/MyData.spec.ts
Owners: @open-metadata/ui

fix the alert contract staus, redirect to tab from failed contract badge, hide the quality chart if all the values are 0, and icon fix around quality and semantic
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
Owners: @open-metadata/ui

Epic connector (#22652)
  openmetadata-service/src/main/resources/json/data/testConnections/database/epic.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/epicConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Epic.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/epicConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Owners: @open-metadata/backend, @open-metadata/ui

minor style fixes
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SettingsSso.less
Owners: @open-metadata/ui

added button to remove a semantic in the card and minor fix
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
Owners: @open-metadata/ui

tag styling new look
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableTags/TableTags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/tagsV1.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

fix test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
Owners: @open-metadata/backend

Fix: #20662 Display Name sort for DataAssets (#22620)
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/explore.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
Owners: @open-metadata/backend, @open-metadata/ui

fix sorting on updatedAt field in classification_search_index
  openmetadata-spec/src/main/resources/elasticsearch/en/classification_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/classification_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/classification_index_mapping.json
Owners: none

Playwright Tests coverage for Entity Permissions ,ServiceEntity, Domains and Glossary Operation Permissions (#22435)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DomainPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/GlossaryPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPermissionUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Owners: @open-metadata/ui

remove unused old user profile component (#22701)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
Owners: @open-metadata/ui
