Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

Add Test
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/UserMetricsServletTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/auth/UserActivityTrackerTest.java
Owners: @open-metadata/backend

Fix the playwright and add check to prevent the live updates of one service showing for others
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
Owners: @open-metadata/ui

Fix #22623 Fetch entities for import csv should exclude only the fields that are coming from the CSV (#22663)
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
Owners: @open-metadata/backend

Add Spark Engine docs
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/configuration.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/external-configuration.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/partitioning.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/prerequisites.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/ui-configuration.md
Owners: none

Update structure
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
Owners: none

MINOR: fix e2e tests (#22723)
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
  ingestion/tests/cli_e2e/test_cli_tableau.py
Owners: @open-metadata/ingestion

Enhance custom basemodel validation with hybrid name transformation system
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/tests/unit/models/test_custom_basemodel_validation.py
  ingestion/tests/unit/models/test_custom_pydantic.py
Owners: @open-metadata/ingestion

Refactor custom basemodel validation and improve test coverage
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/tests/unit/models/test_custom_basemodel_validation.py
  ingestion/tests/unit/models/test_custom_pydantic.py
Owners: @open-metadata/ingestion

Update DashboardDataModel and CreateDashboardDataModelRequest fields in custom basemodel validation
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
Owners: @open-metadata/ingestion

fix: lint
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
Owners: @open-metadata/ingestion

Update custom basemodel validation to enhance name transformation logic
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
Owners: @open-metadata/ingestion

Fix import statement in fqn.py to comply with linting rules
  ingestion/src/metadata/utils/fqn.py
Owners: @open-metadata/ingestion

Update test_custom_basemodel_validation to reflect changes in entity fields
  ingestion/tests/unit/models/test_custom_basemodel_validation.py
Owners: @open-metadata/ingestion

Enhance FQN building logic to handle special characters in table and column names
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/test_fqn.py
  ingestion/tests/unit/utils/test_fqn_special_chars.py
Owners: @open-metadata/ingestion

Enhance dashboard data model by adding a new field for trend confidence with quotes
  ingestion/examples/sample_data/dashboards/dashboardDataModels.json
Owners: @open-metadata/ingestion

FIx Branches
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Owners: @open-metadata/backend

Add more details to search reindex into slack, default the max content to 10mb
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClusterMetrics.java
Owners: @open-metadata/backend

update e2e tests as per feedback
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
Owners: @open-metadata/ui

chore(release): Prepare Branch for `1.9.0-SNAPSHOT`
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/ingestion, @open-metadata/backend

add test
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
Owners: @open-metadata/ui

nit
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
Owners: @open-metadata/ui

chore(release): Prepare Branch for `1.9.0-SNAPSHOT` (#22742)
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/ingestion, @open-metadata/backend

googledrive files
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/source/drives/drive_service.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/GoogleSheetsConnectionClassConverter.java
  openmetadata-service/src/main/resources/json/data/testConnections/database/googleSheets.json
  openmetadata-service/src/main/resources/json/data/testConnections/drive/googleDrive.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/googleSheetsConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/driveServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/GoogleSheets.md
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Owners: @open-metadata/ingestion, @open-metadata/backend, @open-metadata/ui

add migration logic
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Owners: @open-metadata/ui

modify the rule for dataAssetRule and semantic form contract
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataContract.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Owners: @open-metadata/ui

fix
  ingestion/src/metadata/ingestion/source/drive/drive_service.py
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Owners: @open-metadata/ingestion, @open-metadata/ui

fix the query input placement
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
Owners: @open-metadata/ui

Fix for --entities param to work with or with-out quotes
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Owners: @open-metadata/backend

fix the rule config
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Owners: @open-metadata/ui

Add Spark Engine docs (#22739)
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/configuration.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/external-configuration.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/partitioning.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/prerequisites.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/ui-configuration.md
Owners: none

add test
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
Owners: @open-metadata/ui

update data contract details fields
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/contract-detail-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignee.less
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
Owners: @open-metadata/ui

Update OM - DCAT vocab
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/RdfTestUtils.java
  openmetadata-spec/src/main/resources/rdf/ontology/openmetadata.ttl
Owners: @open-metadata/backend

Auth0 validator
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/Auth0Validator.java
Owners: @open-metadata/backend

[ISSUE-22747] add domain and custom properties ingestion functionality to dbt agent
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_utils.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
Owners: @open-metadata/ingestion

fix some styling around form
  openmetadata-ui/src/main/resources/ui/src/assets/svg/table-outline.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Owners: @open-metadata/ui

make the google sheets work
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/source/drive/drive_service.py
  ingestion/src/metadata/utils/filters.py
  ingestion/src/metadata/utils/fqn.py
  openmetadata-service/src/main/resources/json/data/testConnections/drive/googleDrive.json
Owners: @open-metadata/ingestion, @open-metadata/backend

Allow admins to set default persona for all the users (#22710)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaDetailsCard/PersonaDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
Owners: @open-metadata/ui

Docs: Add missing image to mcp guides
  openmetadata-docs/images/v1.8/how-to-guides/mcp/claude-settings.jpg
  openmetadata-docs/images/v1.9/how-to-guides/mcp/claude-settings.jpg
Owners: none

Fix Flaky Optimistic Lock exception in the test case
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Owners: @open-metadata/backend
