Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @chirag-madlani, @karanh37, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from @chireg / @karan for changes around component library
/openmetadata-ui-core-components/src/main/resources/ui/ @chirag-madlani @karanh37

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

Updated `TagResourceTest.assertFieldChange` to fix broken test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/utils/JsonUtils.java
Owners: @open-metadata/backend

Add support for translations in multi lang
  ingestion/src/metadata/pii/algorithms/presidio_recognizer_factory.py
  ingestion/src/metadata/pii/scanners/custom_ner_scanner.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/resources/json/data/tags/piiTagsWithRecognizers.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/classification/createClassification.json
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTag.json
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTagWithRecognizers.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/classification.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/type/contextRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/customRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/denyListRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/patternRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/piiEntity.json
  openmetadata-spec/src/main/resources/json/schema/type/predefinedRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizers/patterns.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizers/regexFlags.json
  openmetadata-ui/src/main/resources/ui/src/components/Classification/RecognizerEditor/RecognizerEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
Owners: @open-metadata/ingestion, @open-metadata/backend, @open-metadata/ui

revert ui changes
  openmetadata-ui/src/main/resources/ui/src/components/Classification/RecognizerEditor/RecognizerEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsContainer/TagFeedback/TagFeedback.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsContainer/TagsContainer.enhanced.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
Owners: @open-metadata/ui

Add Tag Feedback System
  bootstrap/sql/migrations/native/1.10.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedCollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RecognizerFeedbackRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/recognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizerFeedback.json
  openmetadata-ui/src/main/resources/ui/src/components/TagsContainer/TagFeedback/TagFeedback.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsContainer/TagsContainer.enhanced.tsx
Owners: @open-metadata/backend, @open-metadata/ui

Fix typing issues and add tests to reocgnizer factory
  ingestion/src/metadata/pii/algorithms/presidio_recognizer_factory.py
  ingestion/tests/unit/pii/algorithms/test_presidio_recognizer_factory.py
Owners: @open-metadata/ingestion

Fix flaky tests dependent on order
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Owners: @open-metadata/backend

Change editor toolbar background color to white for add domain form
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/add-domain.less
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
Owners: @open-metadata/ui

Change editor toolbar background color to white for add domain form (#23587)
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/add-domain.less
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
Owners: @open-metadata/ui

Migrated other index related methods and add tests
  openmetadata-service/src/main/java/org/openmetadata/service/search/IndexManagementClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchIndexManager.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexManagerIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchIndexManagerIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchIndexManagerTest.java
Owners: @open-metadata/backend
