Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

FIX - Restore existing DC during PUT
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

FIX - Restore existing DC during PUT (#22832)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

FIX - Restore existing DC during PUT (#22832)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

style fixes for scim token card
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanism.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/AccessTokenCard/AccessTokenCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SettingsSso.less
Owners: @open-metadata/ui

e2e tableau use pat creds
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/tests/cli_e2e/dashboard/tableau/tableau.yaml
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/ingestion

Fix #20081: Infinite scroll Pagination support for Glossary Term Table in UI
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LargeGlossaryPerformance.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericWidget/GenericWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTabOptimized.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Owners: @open-metadata/backend, @open-metadata/ui

Minor: add configs for embedding provider (#22825)
  conf/openmetadata.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/elasticSearchConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Owners: @open-metadata/ui

Add Traditional Chinese translation
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/LocalUtil.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Owners: @open-metadata/ui

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
Owners: @open-metadata/ui

Add openmetadata-dsl for ChangeEvent and EntityInterface
  openmetadata-dsl/README.md
  openmetadata-dsl/lombok.config
  openmetadata-dsl/pom.xml
  openmetadata-dsl/src/main/antlr4/org/openmetadata/dsl/grammar/OpenMetadataDSL.g4
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/OpenMetadataDSL.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/ast/BinaryExpression.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/ast/Expression.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/ast/FieldAccessExpression.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/ast/FunctionCallExpression.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/ast/LiteralExpression.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/evaluation/EvaluationContext.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/exceptions/DSLException.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/exceptions/EvaluationException.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/exceptions/ParseException.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/functions/FunctionRegistry.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/parser/DSLParser.java
  openmetadata-dsl/src/test/java/org/openmetadata/dsl/OpenMetadataDSLTest.java
  pom.xml
Owners: none

Remove home text from landing page and disable save for customize pages
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseGlossaryTermDetailPage/CustomiseGlossaryTermDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizableDomainPage/CustomizableDomainPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizeDetailsPage/CustomizeDetailsPage.tsx
Owners: @open-metadata/ui

add pagination on subdomains table
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Domain/DomainClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Owners: @open-metadata/ui

fix the keyboard delete action in bulk actions
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useGridEditController.ts
Owners: @open-metadata/ui

reverted the file change
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
Owners: @open-metadata/ui

fix flaky user test
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Owners: @open-metadata/ui

fix test
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Owners: @open-metadata/ui

Enhance SQL injection protection across search endpoints
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/EsUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OsUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchUtilsTest.java
Owners: @open-metadata/backend

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
Owners: @open-metadata/ui

add tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SubDomainPagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
Owners: @open-metadata/ui

added support for column header click select all column delete handle as well
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Owners: @open-metadata/ui

fixed flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
Owners: @open-metadata/ui

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
Owners: @open-metadata/ui

SECURITY: Replace sanitization with parameterized queries in ListFilter
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterParameterizedQueryIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterParameterizedQueryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterTest.java
Owners: @open-metadata/backend

ENHANCE: Improve SQL injection protection in SearchUtils
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
Owners: @open-metadata/backend

Add Traditional Chinese translation (#22838)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/LocalUtil.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Owners: @open-metadata/ui

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
Owners: @open-metadata/ui

fix table pagination issue on load
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
Owners: @open-metadata/ui

fix domain tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Owners: @open-metadata/ui

fix domain tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Owners: @open-metadata/ui

Remove home text from landing page and disable save for customize pages (#22840)
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseGlossaryTermDetailPage/CustomiseGlossaryTermDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizableDomainPage/CustomizableDomainPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizeDetailsPage/CustomizeDetailsPage.tsx
Owners: @open-metadata/ui

bump playwright to latest version
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Owners: @open-metadata/ui

enable indexedDB for storageState
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Owners: @open-metadata/ui

Remove home text from landing page and disable save for customize pages (#22840)
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseGlossaryTermDetailPage/CustomiseGlossaryTermDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizableDomainPage/CustomizableDomainPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizeDetailsPage/CustomizeDetailsPage.tsx
Owners: @open-metadata/ui

Fix #20081: Infinite scroll Pagination support for Glossary Term Table in UI
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LargeGlossaryPerformance.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
Owners: @open-metadata/ui

fixed custom service condition
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
Owners: @open-metadata/ui

fix(test): DataContract.spec (#22837)
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
Owners: @open-metadata/ui

bump playwright version in workflows
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/postgresql-nightly-e2e.yml
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/ui

bump playwright version in mysql-nightly-e2e.yml
  .github/workflows/mysql-nightly-e2e.yml
Owners: @akash-jain-10, @harshach, @tutte

ISSUE-22847: Update pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
Owners: @open-metadata/ui

Fix Failing Migrations dues to charts
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
Owners: @open-metadata/backend

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte
