Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

Update openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/ingestion-examples/sample-configs/mysql_basic_config.json
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/ingestion-examples/sample-configs/mysql_basic_config.json
Owners: none

Enhance Sample Data Generation: Update table and column limits, add description and owner fields to table creation requests in sample_data.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Owners: @open-metadata/ingestion

Refactor SampleDataSource: Improve readability by adjusting conditional formatting for owner checks in sample_data.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Owners: @open-metadata/ingestion

Add comprehensive GitHub Copilot instructions combining AI principles with OpenMetadata development guidance (#22860)
  .github/copilot-instructions.md
Owners: @akash-jain-10, @harshach, @tutte

Reduced number of tables per schema to 10
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Owners: @open-metadata/ingestion

Refactor BigQuery client type hinting in bigquery_utils.py
  ingestion/src/metadata/utils/bigquery_utils.py
Owners: @open-metadata/ingestion

fix logger level in sample_data.yaml (#22867)
  ingestion/pipelines/sample_data.yaml
Owners: @open-metadata/ingestion

fix logger level in sample_data.yaml (#22867)
  ingestion/pipelines/sample_data.yaml
Owners: @open-metadata/ingestion

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte
