Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

Docs: UI Table Test Addition
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-ui.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
Owners: none

add tests for filter, add, remove widgets
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
Owners: @open-metadata/ui

Docs: UI Table Test Addition
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/index.md
Owners: none

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Owners: @open-metadata/ui

MINOR: Add support for csv.gz in datalake (#22666)
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/utils/test_datalake.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
Owners: @open-metadata/ingestion, @open-metadata/ui

Update custom basemodel validation to enhance name transformation logic
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
Owners: @open-metadata/ingestion

private config masked and added in Get app
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/EntityMasker.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/PasswordEntityMasker.java
Owners: @open-metadata/backend

fix: lint
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
Owners: @open-metadata/ingestion

MINOR: Add support for csv.gz in datalake (#22666)
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/utils/test_datalake.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
Owners: @open-metadata/ingestion, @open-metadata/ui

Fix KPI widget scalability
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/KPILegend.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/kpi-legend.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Widgets.constant.ts
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Owners: @open-metadata/ui

Enhance dashboard data model by adding a new field for trend confidence with quotes
  ingestion/examples/sample_data/dashboards/dashboardDataModels.json
Owners: @open-metadata/ingestion

MINOR - Fix updates & add rule provider (#22676)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/settings/entityRulesSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-aborted.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-fail.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-successful.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/status-badge.less
  openmetadata-ui/src/main/resources/ui/src/constants/DataQuality.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/entityRulesSettings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Owners: @open-metadata/backend, @open-metadata/ui

update language files
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

chore(ui): Add what's new for 1.8.9 (#22694)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Owners: @open-metadata/ui

fix tests
  ingestion/src/metadata/utils/elasticsearch.py
Owners: @open-metadata/ingestion

multiple data contract tab and form and detail page improvement
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataContractValidationApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-expand-open.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Owners: @open-metadata/ui

pending localization keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Owners: @open-metadata/ui

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/kpi-legend.less
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
Owners: @open-metadata/ui

fixed workflow empty screen (#22691)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/WorkFlowTab/WorkflowHistory.component.tsx
Owners: @open-metadata/ui

remove unused old user profile component
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
Owners: @open-metadata/ui

Add icons for agents and statuses
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-auto-classification.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-auto-tiering.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-data-assets.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-database.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-empty-doc.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-inherited-roles.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-pending.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-running.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-stack-quality.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-stack-search.svg
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/agents-status-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/service-insights-tab.less
  openmetadata-ui/src/main/resources/ui/src/enums/ServiceInsights.enum.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
Owners: @open-metadata/ui

fix the quality icon and semantic listing fix
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
Owners: @open-metadata/ui

get appconfig using api
  ingestion/src/metadata/workflow/application.py
Owners: @open-metadata/ingestion

alerts api eslint fix
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
Owners: @open-metadata/ui

fix minor issue
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
Owners: @open-metadata/ui

fix(ui): User popover card team redirection issue (#22531)
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TasktabIncidentManagerHeaderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
Owners: @open-metadata/ui

update bot details in scim card
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanism.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/AccessTokenCard/AccessTokenCard.component.tsx
Owners: @open-metadata/ui

add curated assets test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
Owners: @open-metadata/ui

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.tsx
Owners: @open-metadata/ui

prep rules and fixes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/settings/entityRulesSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend

fix test
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Owners: @open-metadata/ui

Fix KPI widget scalability (#22699)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/KPILegend.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/kpi-legend.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Widgets.constant.ts
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Owners: @open-metadata/ui

fix the schema data not going in api and also fix some styling around add sementic button
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
Owners: @open-metadata/ui

remove cleanup
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Owners: @open-metadata/ui

small fixes and relationship storing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

fixes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteMapper.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

fixes
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

fix entity test
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPermissionUtils.ts
Owners: @open-metadata/ui

fix flaky tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/SelectAssetTypeField/SelectAssetTypeField.component.tsx
Owners: @open-metadata/ui
