Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

Fix Failing Migrations dues to charts (#22850)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
Owners: @open-metadata/backend

Fix Failing Migrations dues to charts (#22850)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
Owners: @open-metadata/backend

Add Action and Builder
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/actions/Actions.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/ActionExecutionResult.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/AlertEvaluationResult.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/AlertExecutionMetrics.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/DSLAlert.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/DSLAlertBuilder.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/DSLAlertEvaluator.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/DSLAlertTemplate.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/alerts/DefaultAlertTemplates.java
Owners: none

Add Core and Dsl Actions
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/conditions/Entity.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/conditions/PipelineStatus.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/conditions/TestResult.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/core/DSLAction.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/core/DSLCondition.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/core/DSLExecutionContext.java
  openmetadata-dsl/src/main/java/org/openmetadata/dsl/core/DSLParser.java
Owners: none

fix flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SubDomainPagination.spec.ts
Owners: @open-metadata/ui

fix tests
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.test.tsx
Owners: @open-metadata/ui

add documentation for plugin
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/plugins/AppPlugin.ts
Owners: @open-metadata/ui

Enhancement #22111 : Implement Hierarchical Domain Access for hasDomain() Rule
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CreateResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Owners: @open-metadata/backend

Fix Tests
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfTagUpdater.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/RdfTestUtils.java
Owners: @open-metadata/backend

Fix java checkstyle
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/RdfTestUtils.java
Owners: @open-metadata/backend

Custom Workflows - Draft Implementation 2, improved periodic batch entity filter and other improvements
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/Workflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CheckEntityAttributesTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/ConditionalSetEntityAttributeTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetEntityAttributeTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/UserApprovalTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/CreateApprovalTaskImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/PeriodicBatchEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchEntitiesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FilterEntityImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
Owners: @open-metadata/backend

Add RDF workflows
  .github/workflows/maven-postgres-rdf-tests-build.yml
Owners: @akash-jain-10, @harshach, @tutte

[ISSUE-22747] py_format
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_utils.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Owners: @open-metadata/ingestion

ISSUE-22847: Update pt-br.json (#22849)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
Owners: @open-metadata/ui

ISSUE-22847: Update pt-br.json (#22849)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
Owners: @open-metadata/ui

Fix Swagger documentation showing incorrect dataProducts field in Data Product Create API (#22393)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
Owners: @open-metadata/backend

improve logic
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Owners: @open-metadata/backend

Ray Implementation
  ingestion/parallel/ARCHITECTURE.md
  ingestion/parallel/Makefile
  ingestion/parallel/__init__.py
  ingestion/parallel/adapters/__init__.py
  ingestion/parallel/adapters/memory_cache.py
  ingestion/parallel/adapters/universal_processor.py
  ingestion/parallel/adapters/universal_sink.py
  ingestion/parallel/adapters/universal_source.py
  ingestion/parallel/deploy/argo/om-parallel-ingestion-argo-only.yaml
  ingestion/parallel/deploy/argo/om-parallel-ingestion-memory.yaml
  ingestion/parallel/deploy/argo/om-parallel-ingestion.yaml
  ingestion/parallel/deploy/argo/submit-workflows.sh
  ingestion/parallel/deploy/kuberay/kuberay-operator.yaml
  ingestion/parallel/deploy/kuberay/rbac.yaml
  ingestion/parallel/examples/__init__.py
  ingestion/parallel/examples/all_workflows.py
  ingestion/parallel/examples/postgres_quality_check.py
  ingestion/parallel/images/om-ray-runner.Dockerfile
  ingestion/parallel/images/om-sink.Dockerfile
  ingestion/parallel/om_adapters.py
  ingestion/parallel/om_argo_runner.py
  ingestion/parallel/om_parallel.py
Owners: @open-metadata/ingestion

fix the table version page breaking if large column list
  openmetadata-ui/src/main/resources/ui/src/components/Entity/VersionTable/VersionTable.component.tsx
Owners: @open-metadata/ui

remove the comment code as not needed
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
Owners: @open-metadata/ui

implement sw for token storage
  openmetadata-ui/src/main/resources/ui/public/app-worker.js
Owners: @open-metadata/ui

use token storage methods from sw utils instead of localstorage
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Owners: @open-metadata/ui

update tests
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.test.tsx
Owners: @open-metadata/ui

fixed unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.test.ts
Owners: @open-metadata/ui

implement sw token storage utils
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.ts
Owners: @open-metadata/ui

register sw and update webpack config to enable it
  openmetadata-ui/src/main/resources/ui/src/index.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Owners: @open-metadata/ui

cleanup localstorage utils
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
Owners: @open-metadata/ui

add tests for sw token storage utils
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.test.ts
Owners: @open-metadata/ui

refactor: remove unused code
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProviderUtil.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
Owners: @open-metadata/ui

refactor playwright token management logic
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tokenStorage.ts
Owners: @open-metadata/ui

enable indexedDB for storageState
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Owners: @open-metadata/ui

bump playwright to latest version
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Owners: @open-metadata/ui

bump playwright version in workflows
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/postgresql-nightly-e2e.yml
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/ui

update code comments
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.ts
Owners: @open-metadata/ui

bump playwright version in mysql-nightly-e2e.yml
  .github/workflows/mysql-nightly-e2e.yml
Owners: @akash-jain-10, @harshach, @tutte

refactor saml callback component useEffect code
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
Owners: @open-metadata/ui

fix logger level in sample_data.yaml
  ingestion/pipelines/sample_data.yaml
Owners: @open-metadata/ingestion

REFINE: Update ListFilterParameterizedQueryIntegrationTest for improved binding
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterParameterizedQueryIntegrationTest.java
Owners: @open-metadata/backend

pbi prioritize expression string before description in description field
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
Owners: @open-metadata/ingestion

App widgets oss (#22743)
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/plugins/AppPlugin.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
Owners: @open-metadata/ui

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte
