Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

Docs: Tableau Note Updation
  openmetadata-docs/content/partials/v1.8/connectors/dashboard/configure-ingestion.md
  openmetadata-docs/content/partials/v1.9/connectors/dashboard/configure-ingestion.md
Owners: none

moved types to interface file
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelsTable.tsx
Owners: @open-metadata/ui

fix(ui): tour functionality (#22711)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Owners: @open-metadata/ui

Docs: Tableau Note Updation (#22725)
  openmetadata-docs/content/partials/v1.8/connectors/dashboard/configure-ingestion.md
  openmetadata-docs/content/partials/v1.9/connectors/dashboard/configure-ingestion.md
Owners: none

refcator test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DomainPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/GlossaryPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
Owners: @open-metadata/ui

fix: enum to domains (#22722)
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/propagationStopConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/lineagePropagationAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/propagationStopConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Owners: @open-metadata/ui

refactor test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/GlossaryPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
Owners: @open-metadata/ui

add e2e tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
Owners: @open-metadata/ui

chore(release): Prepare Branch for `1.9.0`
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/ingestion, @open-metadata/backend

tableau fix
  ingestion/tests/cli_e2e/test_cli_tableau.py
Owners: @open-metadata/ingestion

remove the important from less and optimize tagChip newLook code
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/contract-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
Owners: @open-metadata/ui

fix the file casing
  openmetadata-ui/src/main/resources/ui/src/assets/svg/codeOutline.svg
Owners: @open-metadata/ui

bump ingestion versio
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Owners: @open-metadata/ingestion

MINOR: Improve Unity Catalog Usage (#22721)
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/queries.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/query_parser.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/usage.py
Owners: @open-metadata/ingestion

Bug: Repositories overriding fieldSetters can fail to load tags at entity level (#22622)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
Owners: @open-metadata/backend

Remove unnecessary changes and move util function to util file
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-data-assets.svg
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
Owners: @open-metadata/ui

Fix Flakiness of SearchResourceTest
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
Owners: @open-metadata/backend

fixed testsuit flaky
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuitePipelineRedeploy.spec.ts
Owners: @open-metadata/ui

optimize code
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
Owners: @open-metadata/ui

Docs: 404 URL Fix
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.8.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
Owners: none

Docs: 404 URL Fix (#22730)
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.8.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
Owners: none

MINOR: Improve Databricks Profiler & Test Connection
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
Owners: @open-metadata/ingestion

fixed testsuit
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuitePipelineRedeploy.spec.ts
Owners: @open-metadata/ui

lint fix
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
Owners: @open-metadata/ingestion

Adding enhanced validators
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/Auth0Validator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/AzureAuthValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/CognitoAuthValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/GoogleAuthValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/OktaAuthValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/SamlValidator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/auth/validator/AzureAuthValidatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/auth/validator/GoogleAuthValidatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/auth/validator/OktaAuthValidatorTest.java
Owners: @open-metadata/backend

Supported the contract execution chart card in Contract Page
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
Owners: @open-metadata/ui

Centralized secret id building
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
Owners: @open-metadata/backend

update confidential client configurations
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Owners: @open-metadata/ui

pending localization keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

minor improvenent around message
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
Owners: @open-metadata/ui

Docs: Colun UI Test Updation in 1.9
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-ui.md
  openmetadata-docs/images/v1.9/how-to-guides/quality/column-test/standard-deviation.gif
  openmetadata-docs/images/v1.9/how-to-guides/quality/column-test/sum.gif
Owners: none

localization keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Owners: @open-metadata/ui

add test for create data contract
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
Owners: @open-metadata/ui

decrease the chart size and fix some localizaion keys
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

Update the default rule for checkglossaryterm has reviewers node in governance workflow
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
Owners: @open-metadata/backend

Fix #22623 Fetch entities for import csv should exclude only the fields that are coming from the CSV (#22663)
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
Owners: @open-metadata/backend

Fix user activity tracking
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/UserMetricsServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/CatalogSecurityContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserActivityFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserActivityTracker.java
Owners: @open-metadata/backend

Fix #22623 Fetch entities for import csv should exclude only the fields that are coming from the CSV (#22663)
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
Owners: @open-metadata/backend

Docs: Colun UI Test Updation in 1.9
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-ui.md
Owners: none

added contract in persona tab and added beta lable in table contract tab and preference data asset rule tab
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Owners: @open-metadata/ui
