Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

Multiple data contract tab and form and detail page improvement (#22700)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataContractValidationApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-expand-open.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
Owners: @open-metadata/ui

cleanup
  docker/development/RDF_SETUP.md
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfUtils.java
  openmetadata-spec/src/main/resources/rdf/docs/relationship-coverage-analysis.md
  openmetadata-spec/src/main/resources/rdf/docs/sql-to-sparql-implementation.md
  openmetadata-spec/src/main/resources/rdf/docs/sql-to-sparql-options.md
  rdf-docs/api-usage-examples.md
  rdf-docs/comparison-with-dataworld.md
  rdf-docs/example-sparql-queries.md
  rdf-docs/integration-guide.md
  rdf-docs/model-generation.md
  rdf-docs/sql-to-sparql-options.md
  rdf-docs/storage-comparison.md
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/backend

Fix styling
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/semantic/EmbeddingService.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/storage/JenaFusekiStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/storage/RdfStorageInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/translator/JsonLdTranslator.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/rdf/RdfResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndexWithEmbedding.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/SemanticSearchQueryBuilder.java
Owners: @open-metadata/backend

remove duplicated ttl file
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/OntologyLoader.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/storage/JenaFusekiStorage.java
  openmetadata-spec/src/main/resources/rdf/ontology/openmetadata-complete.ttl
  openmetadata-spec/src/main/resources/rdf/ontology/openmetadata.ttl
Owners: @open-metadata/backend

model generator cleanup
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/generator/RdfModelGenerator.java
Owners: @open-metadata/backend

Data Contract UI Improvement
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/ExpandableCard/ExpandableCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Owners: @open-metadata/ui

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Owners: @open-metadata/ui

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
Owners: @open-metadata/ui

Feed migrations to support multi-domain (#22601)
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FeedUtils.java
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/feed/createThread.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/type/changeEvent.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/feed/createThread.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/feed/thread.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/eventSubscriptionDiagnosticInfo.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/typedEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/failedEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/failedEventResponse.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/changeEvent.ts
Owners: @open-metadata/backend, @open-metadata/ui

Add Trigger filter to have empty string
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
Owners: @open-metadata/backend

fix tasks test
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
Owners: @open-metadata/ui

Fix Java checkstyle
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
Owners: @open-metadata/backend

Updated DocStrings with Comments!
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Owners: @open-metadata/backend

Fix FeedResourceTest after addition of multi-domain rule in entityRulesSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Owners: @open-metadata/backend

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
Owners: @open-metadata/ui

Add migrations to update widget descriptions
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
Owners: none

move to postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
Owners: none

move to postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
Owners: none

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
Owners: @open-metadata/ui

move to postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
Owners: none

fix build
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Owners: @open-metadata/backend

Update ChartDetailsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ChartDetailsUtils.tsx
Owners: @open-metadata/ui

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
Owners: @open-metadata/ui

fixes
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Owners: @open-metadata/backend

address pr comments
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
Owners: @open-metadata/ui

Update test_custom_basemodel_validation to reflect changes in entity fields
  ingestion/tests/unit/models/test_custom_basemodel_validation.py
Owners: @open-metadata/ingestion

MINOR - Add platform rules & fix Data Contract execution (#22703)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/settings/entityRulesSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend

test(ui): e2e tests for landing page (#22678)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/RecentlyViewed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/EmptyWidgetPlaceholder/EmptyWidgetPlaceholderV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/WidgetCard/WidgetCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/WidgetCard/WidgetCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetMoreOptions/WidgetMoreOptions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/SelectAssetTypeField/SelectAssetTypeField.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/RecentlyViewed.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/recently-viewed.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
Owners: @open-metadata/ui

Updated tag and slection group style
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectionCardGroup/SelectionCardGroup.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
Owners: @open-metadata/ui

MINOR - Don't enforce data contract on PATCH & cleanups
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend

fix pipeline refs for test suite
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
Owners: @open-metadata/backend

Add migrations to update widget descriptions (#22707)
  bootstrap/sql/migrations/native/1.9.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/postDataMigrationSQLScript.sql
Owners: none

Enhance Ingestion Workflow Form and Localization Updates
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
  openmetadata-ui/src/main/resources/ui/src/context/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Owners: @open-metadata/ui

added add testCase drawer in the contract form
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/contract-quality-form-tab.less
Owners: @open-metadata/ui

added pagination
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
Owners: @open-metadata/ui

fix the semantic card not visibel on expand and switch not working on outside
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ExpandableCard/ExpandableCard.tsx
Owners: @open-metadata/ui

fix the add new semantic not being disbaled on first edit
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
Owners: @open-metadata/ui

update cleanup
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
Owners: @open-metadata/ui

Updated the JsonLogic apply to incorporate RuleEngine changes
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
Owners: @open-metadata/backend

Fix Test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Owners: @open-metadata/backend

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte
