Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

MINOR - Disable Custom Data Asset Rules (#22784)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

MINOR - Disable Custom Data Asset Rules (#22784)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Owners: @open-metadata/ui

Fix: RateLimiterComparisonTest
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RateLimiterComparisonTest.java
Owners: @open-metadata/backend

added tests for data model count (#22756)
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
Owners: @open-metadata/ui

added tests for data model count (#22756)
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
Owners: @open-metadata/ui

skip the range selection test in bulk import
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
Owners: @open-metadata/ui

Fix glossary tab and chart icon issue for persona (#22793)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Persona/PersonaUtils.ts
Owners: @open-metadata/ui

Fix glossary tab and chart icon issue for persona (#22793)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Persona/PersonaUtils.ts
Owners: @open-metadata/ui

Fix(ui) : Release dialog flash (#22776)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.test.tsx
Owners: @open-metadata/ui

added some more context
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
Owners: @open-metadata/ui

Fix(ui) : Release dialog flash (#22776)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.test.tsx
Owners: @open-metadata/ui

feature: googlesheet connector (#22464)
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/source/drive/drive_service.py
  ingestion/src/metadata/utils/filters.py
  ingestion/src/metadata/utils/fqn.py
  openmetadata-service/src/main/resources/json/data/testConnections/drive/googleDrive.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/driveServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/driveServiceMetadataPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Owners: @open-metadata/ingestion, @open-metadata/backend, @open-metadata/ui

fix test
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Owners: @open-metadata/ui

unskip the schema table test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/SchemaTable.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Owners: @open-metadata/ui

Fix empty chart UI in persona
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
Owners: @open-metadata/ui

Fix: RateLimiterProductionReadinessTest
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RateLimiterProductionReadinessTest.java
Owners: @open-metadata/backend

Fix: ListFilterTest
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterTest.java
Owners: @open-metadata/backend

Fix: SearchListFilterTest
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/SearchListFilterTest.java
Owners: @open-metadata/backend

feature: googlesheet connector (#22464)
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/source/drive/drive_service.py
  ingestion/src/metadata/utils/filters.py
  ingestion/src/metadata/utils/fqn.py
  openmetadata-service/src/main/resources/json/data/testConnections/drive/googleDrive.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/driveServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/driveServiceMetadataPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Owners: @open-metadata/ingestion, @open-metadata/backend, @open-metadata/ui

Fix: RequestLatencyContextTest
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyContextTest.java
Owners: @open-metadata/backend

test(ui): enhance data contract playwright test (#22795)
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
Owners: @open-metadata/ui

Fix: RequestLatencyTrackingSimpleTest
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyTrackingSimpleTest.java
Owners: @open-metadata/backend

fix tour.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.component.tsx
Owners: @open-metadata/ui

fixed test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
Owners: @open-metadata/ui

unskip classification playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Owners: @open-metadata/ui

fix missing widgets
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.ts
Owners: @open-metadata/ui

test(ui): enhance data contract playwright test (#22795)
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
Owners: @open-metadata/ui

fix the coverage issue due to dataAssetRules changes
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
Owners: @open-metadata/ui

remove the commented code
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
Owners: @open-metadata/ui

Feature/1 fix and add lineage to exasol connector (#21399)
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/exasol.yaml
  ingestion/src/metadata/ingestion/source/database/exasol/connection.py
  ingestion/src/metadata/ingestion/source/database/exasol/lineage.py
  ingestion/src/metadata/ingestion/source/database/exasol/queries.py
  ingestion/src/metadata/ingestion/source/database/exasol/query_parser.py
  ingestion/src/metadata/ingestion/source/database/exasol/service_spec.py
  ingestion/tests/cli_e2e/database/exasol/exasol.yaml
  ingestion/tests/cli_e2e/test_cli_exasol.py
  ingestion/tests/unit/topology/database/test_exasol.py
  openmetadata-docs/content/v1.8.x/connectors/database/exasol/index.md
  openmetadata-service/src/main/resources/json/data/testConnections/database/exasol.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/exasolConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/exasolConnection.ts
Owners: @akash-jain-10, @harshach, @tutte, @open-metadata/ingestion, @open-metadata/backend, @open-metadata/ui

feat: Enable ES Search for Databases (#19041)
  ingestion/src/metadata/utils/fqn.py
Owners: @open-metadata/ingestion

MINOR - fix(elasticsearch): add None value filter (#18711)
  ingestion/src/metadata/utils/elasticsearch.py
Owners: @open-metadata/ingestion

fix failing checks
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
Owners: @open-metadata/ui

Glossary Term load issues
  .gitignore
  GLOSSARY_PERFORMANCE_IMPROVEMENTS.md
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTabOptimized.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  scripts/cleanup-test-glossary.sh
  scripts/generate-large-glossary-test-data.py
  scripts/large_glossary_test.csv
  scripts/large_glossary_test.json
  scripts/requirements-glossary-test.txt
Owners: @open-metadata/ui

Glossary Term load issues
  GLOSSARY_PERFORMANCE_IMPROVEMENTS.md
Owners: none

COVERAGE: fix the coverage issue due to dataAssetRules changes (#22801)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
Owners: @open-metadata/ui

COVERAGE: fix the coverage issue due to dataAssetRules changes (#22801)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
Owners: @open-metadata/ui

PLAYWRIGHT: skip the range selection test in bulk import (#22796)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
Owners: @open-metadata/ui

PLAYWRIGHT: skip the range selection test in bulk import (#22796)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
Owners: @open-metadata/ui

bump ingestion version
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Owners: @open-metadata/ingestion
