Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

Docs: Airflow Configuration Note Updation
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/configuring-lineage.md
Owners: none

Docs: Airflow Configuration Note Updation (#22817)
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/configuring-lineage.md
Owners: none

fix error messages
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
  openmetadata-ui/src/main/resources/ui/src/rest/securityConfigAPI.ts
Owners: @open-metadata/ui

Docs: Kafka Permissions Updation
  openmetadata-docs/content/v1.7.x/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.8.x/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/messaging/kafka/index.md
Owners: none

added unit test
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/__tests__/SSOConfigurationFormRJSF.test.tsx
Owners: @open-metadata/ui

Docs: Kafka Permissions Updation (#22818)
  openmetadata-docs/content/v1.7.x/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.8.x/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/messaging/kafka/index.md
Owners: none

Azure validator rectified
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/AzureAuthValidator.java
Owners: @open-metadata/backend

fix(ui): contract results sort order fix rule for domain field
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
Owners: @open-metadata/ui

fix the team icon placement
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/user-tag.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
Owners: @open-metadata/ui

Validation issues solved for auth0
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/Auth0Validator.java
Owners: @open-metadata/backend

modify the team entity specific permission
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Owners: @open-metadata/ui

cleanup around unused data
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
Owners: @open-metadata/ui

Fix live update bugs
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/agents-status-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/platform-insights-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/TotalDataAssetsWidget.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Owners: @open-metadata/ui

support automator status
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datainsight/system/DataInsightSystemChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/messages/ChartDataStreamMessage.java
Owners: @open-metadata/backend

fix glossary styling
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
Owners: @open-metadata/ui

fix query search index
  openmetadata-spec/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/query_index_mapping.json
Owners: none

add configs for embedding provider
  conf/openmetadata.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
Owners: none

FIX - Contract mismatch with existing test suites
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

FIX - Contract mismatch with existing test suites
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
Owners: @open-metadata/backend

add oidc prefix for oidc client fields
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Owners: @open-metadata/ui

FIX - Contract mismatch with existing test suites
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

Fix curated assets description
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
Owners: @open-metadata/ui

format
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

fix tab change issue
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
Owners: @open-metadata/ui

format
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
Owners: @open-metadata/backend

Fix curated assets description (#22827)
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
Owners: @open-metadata/ui

Fix curated assets description (#22827)
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
Owners: @open-metadata/ui

fix type issues
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
  openmetadata-ui/src/main/resources/ui/src/rest/securityConfigAPI.ts
Owners: @open-metadata/ui

Update the logic to display the AutoPilot status and add playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
Owners: @open-metadata/ui

Fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
Owners: @open-metadata/ui

make embedding dimension dynamic
  conf/openmetadata.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
Owners: none

fix(ui): contract results sort order (#22820)
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/user-tag.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
Owners: @open-metadata/ui

fix(ui): contract results sort order (#22820)
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/user-tag.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
Owners: @open-metadata/ui

FIX - Contract mismatch with existing test suites (#22826)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

FIX - Contract mismatch with existing test suites (#22826)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

Add OpenSearch IAM Auth optional config
  conf/openmetadata.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aws/SigV4RequestSigningInterceptor.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchClientIamAuthTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
Owners: @open-metadata/backend

Fix service insight live update bugs (#22822)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datainsight/system/DataInsightSystemChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/messages/ChartDataStreamMessage.java
  openmetadata-spec/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/query_index_mapping.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/agents-status-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/platform-insights-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/TotalDataAssetsWidget.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Owners: @open-metadata/backend, @open-metadata/ui

Fix service insight live update bugs (#22822)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datainsight/system/DataInsightSystemChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/messages/ChartDataStreamMessage.java
  openmetadata-spec/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/query_index_mapping.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/agents-status-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/platform-insights-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/TotalDataAssetsWidget.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Owners: @open-metadata/backend, @open-metadata/ui

Add ssl support to hive
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
  ingestion/src/metadata/ingestion/source/database/hive/custom_hive_connection.py
  ingestion/src/metadata/utils/ssl_manager.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
Owners: @open-metadata/ingestion

FIX - Restore existing DC during PUT
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend
