Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

fix the description box overflow and owner selcect box overlapping on select input
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/contract-detail-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
Owners: @open-metadata/ui

enum label fix
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Owners: @open-metadata/ui

fixed github redirect
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.test.tsx
Owners: @open-metadata/ui

fix the contract interal tab and beta tag styling
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractViewSwitchTab/contract-view-switch-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsLabel/tabs-label.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Owners: @open-metadata/ui

fix Typescript generation
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/createEventPublisherJob.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMetadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/elasticSearchConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/searchIndexingAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/metadata/metadataESConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/metadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/metadataToElasticSearchPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/system/eventPublisherJob.ts
Owners: @open-metadata/ui

fix saml certificate formatting and select widgets
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
Owners: @open-metadata/ui

Fix: #19907 Glossary Term Approval Workflow - Trigger Filters - JsonLogic along with Exclude Fields filter (#22437)
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/CheckEntityAttributesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/EventBasedEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FilterEntityImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceStateRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/JsonLogicUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/LogicOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/GlossaryApprovalWorkflowTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/eventBasedEntityTrigger.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/governance/createWorkflowDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/triggers/eventBasedEntityTrigger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Owners: @open-metadata/backend, @open-metadata/ui

Fix: #19907 Glossary Term Approval Workflow - Trigger Filters - JsonLogic along with Exclude Fields filter (#22437)
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/CheckEntityAttributesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/EventBasedEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FilterEntityImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceStateRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/JsonLogicUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/LogicOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/GlossaryApprovalWorkflowTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/eventBasedEntityTrigger.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/governance/createWorkflowDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/triggers/eventBasedEntityTrigger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Owners: @open-metadata/backend, @open-metadata/ui

Supported Contract Execution Chart Summary Card (#22735)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/table-outline.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Owners: @open-metadata/ui

modify the rule for dataAssetRule and semantic form contract (#22744)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/JSONLogicSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Owners: @open-metadata/ui

redshift cli fix
  ingestion/tests/cli_e2e/test_cli_redshift.py
Owners: @open-metadata/ingestion

updated tests
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.test.tsx
Owners: @open-metadata/ui

fix styling for data contract (#22771)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataContractValidationApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-aborted.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-failed.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-running.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/user-team-select.less
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/TestSuite.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

fix styling for data contract (#22771)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataContractValidationApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-aborted.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-failed.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract-running.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/user-team-select.less
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/TestSuite.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

fix loader issue for permission test (#22777)
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Owners: @open-metadata/ui

remove the comment code and fix the localization and sematic status changing issue are contract validation run
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/user-team-select.less
Owners: @open-metadata/ui

fix loader issue for permission test (#22777)
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Owners: @open-metadata/ui

snowflake fix
  ingestion/src/metadata/ingestion/source/database/snowflake/data_diff/data_diff.py
Owners: @open-metadata/ingestion

remove client type from ui for ldap and saml
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Owners: @open-metadata/ui

fixed tier flaky
  openmetadata-ui/src/main/resources/ui/playwright/constant/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
Owners: @open-metadata/ui

- Fix Search Metadata Tool to reduce context token size and improve response
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SearchMetadataTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-spec/src/main/resources/json/schema/api/mcp/mcpSearchResponse.json
Owners: none

Checkstyle
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SearchMetadataTool.java
Owners: none

Enable bedrock embedding service (#22734)
  conf/openmetadata.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/elasticSearchConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Owners: @open-metadata/ui

fix the contract interal tab and beta tag styling (#22786)
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractViewSwitchTab/contract-view-switch-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsLabel/tabs-label.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Owners: @open-metadata/ui

fix the contract interal tab and beta tag styling (#22786)
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractViewSwitchTab/contract-view-switch-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsLabel/tabs-label.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Owners: @open-metadata/ui

Fix glossary tab and chart icon issue for persona
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Persona/PersonaUtils.ts
Owners: @open-metadata/ui

removed unncessary items
  openmetadata-ui/src/main/resources/ui/playwright/constant/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
Owners: @open-metadata/ui

Okta validation rectified
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthServeletHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/OktaAuthValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ValidationHttpUtil.java
Owners: @open-metadata/backend

revert snowflake change
  ingestion/src/metadata/ingestion/source/database/snowflake/data_diff/data_diff.py
Owners: @open-metadata/ingestion

Mark DataQualityAndProfiler.spec as fixme (#22782)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/AddTestCaseNewFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Owners: @open-metadata/ui

Mark DataQualityAndProfiler.spec as fixme (#22782)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/AddTestCaseNewFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Owners: @open-metadata/ui

enhance data contract test
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
Owners: @open-metadata/ui

fix AUT tests (#22778)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Owners: @open-metadata/ui

fix AUT tests (#22778)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Owners: @open-metadata/ui

Update data contract details fields (#22746)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/contract-detail-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/user-team-select.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

Update data contract details fields (#22746)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/contract-detail-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/user-team-select.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Owners: @open-metadata/ui

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Owners: @open-metadata/ui

fix metrics test (#22781)
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
Owners: @open-metadata/ui

fix metrics test (#22781)
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
Owners: @open-metadata/ui

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte
