Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

MINOR: e2e fixes (#22787)
  ingestion/tests/cli_e2e/test_cli_redshift.py
Owners: @open-metadata/ingestion

Fix(ui): Flaky Tier Count (#22791)
  openmetadata-ui/src/main/resources/ui/playwright/constant/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
Owners: @open-metadata/ui

Fix(ui): Flaky Tier Count (#22791)
  openmetadata-ui/src/main/resources/ui/playwright/constant/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
Owners: @open-metadata/ui

fix tour.spec (#22800)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.component.tsx
Owners: @open-metadata/ui

fix tour.spec (#22800)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.component.tsx
Owners: @open-metadata/ui

Improve JsonLD Translator
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/translator/JsonLdTranslator.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/translator/RdfPropertyMapper.java
  openmetadata-spec/src/main/resources/rdf/ontology/openmetadata.ttl
Owners: @open-metadata/backend

Fix breaking UI on edit announcement (#22763)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementDrawer/AnnouncementDrawer.tsx
Owners: @open-metadata/ui

Fix breaking UI on edit announcement (#22763)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementDrawer/AnnouncementDrawer.tsx
Owners: @open-metadata/ui

Fix empty chart UI in persona (#22798)
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.ts
Owners: @open-metadata/ui

Fix empty chart UI in persona (#22798)
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.ts
Owners: @open-metadata/ui

Google validator improved
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/GoogleAuthValidator.java
Owners: @open-metadata/backend

Add DriveService support in ingestion routes
  ingestion/src/metadata/ingestion/ometa/routes.py
Owners: @open-metadata/ingestion

Fix Vulnerabilities
  common/pom.xml
  openmetadata-mcp/pom.xml
Owners: none

PLAYWRIGHT: Unskip Classification and SchemaTable playwright test (#22799)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/SchemaTable.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Owners: @open-metadata/ui

PLAYWRIGHT: Unskip Classification and SchemaTable playwright test (#22799)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/SchemaTable.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Owners: @open-metadata/ui

Fix Vulnerabilities (#22805)
  common/pom.xml
  openmetadata-mcp/pom.xml
Owners: none

Fix Vulnerabilities (#22805)
  common/pom.xml
  openmetadata-mcp/pom.xml
Owners: none

Fix unit test
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
Owners: @open-metadata/ui

fix(test): permissions test (#22719)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DomainPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/GlossaryPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
Owners: @open-metadata/ui

fix(test): permissions test (#22719)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DomainPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/GlossaryPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
Owners: @open-metadata/ui

register sw and update webpack config to enable it
  openmetadata-ui/src/main/resources/ui/src/index.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Owners: @open-metadata/ui

implement sw for token storage
  openmetadata-ui/src/main/resources/ui/public/app-worker.js
Owners: @open-metadata/ui

use token storage methods from sw utils instead of localstorage
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Owners: @open-metadata/ui

implement sw token storage utils
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.ts
Owners: @open-metadata/ui

DOCS - Multi domain breaking changes
  openmetadata-docs/content/partials/v1.9/deployment/upgrade/upgrade-prerequisites.md
Owners: none

cleanup localstorage utils
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
Owners: @open-metadata/ui

refactor playwright token management logic
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tokenStorage.ts
Owners: @open-metadata/ui

update code comments
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.ts
Owners: @open-metadata/ui

update tests
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.test.tsx
Owners: @open-metadata/ui

fixed unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.test.ts
Owners: @open-metadata/ui

add tests for sw token storage utils
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.test.ts
Owners: @open-metadata/ui

refactor: remove unused code
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProviderUtil.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
Owners: @open-metadata/ui

disbable the upload dragger when file in process in BulkImport
  openmetadata-ui/src/main/resources/ui/src/components/UploadFile/UploadFile.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UploadFile/UploadFile.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UploadFile/upload-file.less
  openmetadata-ui/src/main/resources/ui/src/pages/EntityImport/BulkEntityImportPage/BulkEntityImportPage.tsx
Owners: @open-metadata/ui

update select component
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SsoConfigurationFormArrayFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/sso-configuration-form-array-field-template.less
Owners: @open-metadata/ui

Fix Vulnerabilities
  common/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Owners: @open-metadata/backend

Chore: Service Insights live update improvements and bug fixes (#22772)
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Owners: @open-metadata/ui

Chore: Service Insights live update improvements and bug fixes (#22772)
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Owners: @open-metadata/ui

Fix Vulnerabilities (#22813)
  common/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Owners: @open-metadata/backend

Fix Vulnerabilities (#22813)
  common/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Owners: @open-metadata/backend

fix playwright test
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Owners: @open-metadata/ui
