Repository open-metadata/OpenMetadata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @open-metadata/ui, @open-metadata/backend, @open-metadata/ingestion, @akash-jain-10, @harshach, @tutte

.github/CODEOWNERS:

# Individual scopes

# Review from UI owners for changes around UI code
/openmetadata-ui/src/main/resources/ui/ @open-metadata/ui

# Review from Backend owners for changes around Backend code
/openmetadata-service/ @open-metadata/backend

# Review from Ingestion owners for changes around Ingestion code
/ingestion @open-metadata/ingestion
/ingestion-core @open-metadata/ingestion

# Review from Devops owners for changes around workflows
/.github @akash-jain-10 @harshach @tutte
/docker @akash-jain-10 @harshach @tutte

Docs: Add missing image to mcp guides (#22750)
  openmetadata-docs/images/v1.8/how-to-guides/mcp/claude-settings.jpg
  openmetadata-docs/images/v1.9/how-to-guides/mcp/claude-settings.jpg
Owners: none

Supported Contract Execution Chart Summary Card (#22735)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/table-outline.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Owners: @open-metadata/ui

Fix(UI): Incorrect Data model count (#22726)
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Owners: @open-metadata/ui

Fix(UI): Incorrect Data model count (#22726)
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Owners: @open-metadata/ui

Allow admins to set default persona for all the users (#22710)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaDetailsCard/PersonaDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
Owners: @open-metadata/ui

Support navigation blocker for customize my data page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/NavigationBlocker.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizablePageHeader/CustomizablePageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.tsx
Owners: @open-metadata/ui

fix login test failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LoginConfiguration.spec.ts
Owners: @open-metadata/ui

update jwt for saml
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Owners: @open-metadata/ui

Docs: SSAS Connector Error Fixed
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/connectors/database/ssas/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/ssas/troubleshooting.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/ssas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/ssas/troubleshooting.md
Owners: none

Docs: DAtafactory Error Fix
  openmetadata-docs/content/v1.7.x/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/datafactory/yaml.md
Owners: none

MINOR - Add Rule Engine Tests
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend

format
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend

Saml validator changes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/CognitoAuthValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/validator/SamlValidator.java
Owners: @open-metadata/backend

Docs: 404 Link Checker Error Fixing (#22754)
  openmetadata-docs/content/v1.7.x/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/connectors/database/ssas/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/ssas/troubleshooting.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/ssas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/ssas/troubleshooting.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/datafactory/yaml.md
Owners: none

added tests for data model count
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
Owners: @open-metadata/ui

Enhance Ingestion Framework: Add Drive Service support and improve logging for User Profiles
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/utils/logger.py
Owners: @open-metadata/ingestion

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
Owners: @open-metadata/ui

add test for data contract export and delete
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractViewSwitchTab/ContractViewSwitchTab.component.tsx
Owners: @open-metadata/ui

refactor test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Owners: @open-metadata/ui

improve test suite handling
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Owners: @open-metadata/backend

Docs: Updation
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-ui.md
Owners: none

Minor : missing old pipeline in pipeline widget
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Owners: @open-metadata/backend

Docs: Column UI Test Updation in 1.9 (#22736)
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-ui.md
  openmetadata-docs/images/v1.9/how-to-guides/quality/column-test/standard-deviation.gif
  openmetadata-docs/images/v1.9/how-to-guides/quality/column-test/sum.gif
Owners: none

Docs: 18.10 Release Updation
  openmetadata-docs/content/partials/v1.8/releases/1.8.9.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.9.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Owners: none

Bug: Repositories overriding fieldSetters can fail to load tags at entity level (#22622)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
Owners: @open-metadata/backend

Fix breaking UI on edit announcement
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
Owners: @open-metadata/ui

update logic to add specific fields
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
Owners: @open-metadata/ui

enable bedrock embedding service
  conf/openmetadata.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/elasticSearchConfiguration.ts
Owners: @open-metadata/ui

Fix Flakiness of SearchResourceTest (#22728)
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
Owners: @open-metadata/backend

Enhance Ingestion Framework: Add Drive Service support and improve logging for User Profiles (#22733)
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/utils/logger.py
Owners: @open-metadata/ingestion

Fix Flakiness of SearchResourceTest (#22728)
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
Owners: @open-metadata/backend

Fix-22668 Glossary term missing from UI in columns searching
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Owners: @open-metadata/backend

add tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
Owners: @open-metadata/ui

Docs: Updation
  openmetadata-docs/content/v1.7.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.7.x/getting-started/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.8.x/getting-started/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/index.md
Owners: none

Enhance Ingestion Workflow: Add processingEngine support and update related interfaces and utilities
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
Owners: @open-metadata/ui

Fix customize page layout for Governance and Data Assets
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
Owners: @open-metadata/ui

update json logic to get fields
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/JSONLogicSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Owners: @open-metadata/ui

Add support for both multiprocessing and multithreading for relevant platforms
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/lineage_processors.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/utils/helpers.py
Owners: @open-metadata/ingestion

add test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Owners: @open-metadata/backend

MINOR - Handle removed tests from contract & Add Rule Engine Tests (#22755)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Owners: @open-metadata/backend
