Repository open-metadata/OpenMetadata, pull requests merged in 2021-12, with the labels that each got.

#1515 Style : Changing some styles on explore page.
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FilterContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
Labels: enhancement

#1517 Style : Adding new styling to other pages.
  openmetadata-ui/src/main/resources/ui/src/components/common/avatar/Avatar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: enhancement

#1535 GitBook: [#60] Updating Document for Json Schema to Typescript Types Generation.
  docs/SUMMARY.md
  docs/open-source-community/developer/generate-typescript-types-from-json-schema.md
Labels: documentation

#1534 Style : Changing App-bar Layout.
  openmetadata-ui/src/main/resources/ui/src/assets/svg/search.svg
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/AnchorDropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/types.ts
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: enhancement

#1542 Update setup.py
  ingestion/setup.py
Labels: bug

#1571 Remove Service Where ever API call is being with fields parameter having service in versionPage.
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
Labels: bug

#1601 Update redoc version to support search in API
  openmetadata-ui/src/main/resources/ui/package-lock.json
  openmetadata-ui/src/main/resources/ui/package.json
Labels: enhancement

#1599 Feat : UI - Filter by database name.
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Labels: enhancement, new feature

#1633 Fixed linting issue.
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.js
Labels: bug

#1645 Style : Improved Feeds Card Styling and Added Rich text for description.
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedCard/FeedCards.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/onboarding/Onboarding.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Mydata.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: enhancement

#1639 fix: add container_name to docker-compose
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose.yml
  ingestion/src/metadata/cmd.py
Labels: enhancement

#1719 Fix : Adding fix to get my data and following data on landing page.
  openmetadata-ui/src/main/resources/ui/src/constants/Mydata.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: bug, enhancement

#1723 Fix : Adding fix for owner and column description in feeds card.
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: enhancement

#1725 Style : Adding Some style changes according to the feedback in #1710
  openmetadata-ui/src/main/resources/ui/src/assets/svg/version-black.svg
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/AnchorDropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: enhancement

#1742 Adding EntityType in feeds updates.
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedCard/FeedCards.component.tsx
Labels: enhancement

#1741 Improvement: improve description ui as per feedback
  openmetadata-ui/src/main/resources/ui/src/components/FrequentlyJoinedTables/FrequentlyJoinedTables.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
Labels: enhancement

#1770 Style: Adding style changes as per #1761 feedback.
  openmetadata-ui/src/main/resources/ui/src/assets/svg/config-color.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dashboard.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/lineage-color.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/manage-color.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/pipeline.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/profiler-color.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/schema-color.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/search-color.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/search.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/topic.svg
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsPane/TabsPane.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/searchbar/Searchbar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: enhancement

#1789 Fix #1777 Left column for faceted search on Explore page disappears some times.
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: bug

#1790 Adding Developer documentation to run UI components
  docs/SUMMARY.md
  docs/open-source-community/developer/run-openmetadata-ui-locally.md
Labels: documentation

#1794 Cherry-Pick UI doc commits.
  docs/SUMMARY.md
Labels: documentation

#1866 Fix: #1745 Two arrows seem unnecessary In details page breadcrumb.
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
Labels: enhancement

#1865 Style : Changing icons size and thickness.
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-schema.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/schema-color.svg
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
Labels: enhancement

#1864 Adding Lineage section to Dashboard entities
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: enhancement

#1929 Adding feed data for column changes.
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: bug

#1946 Changing File from JSX to TSX
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/buttons/Button/Button.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/buttons/Button/Button.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/ToolBarOptions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/toggle-switch/ToggleSwitch.test.tsx
  openmetadata-ui/src/main/resources/ui/src/contexts/ToastContext.tsx
Labels: enhancement

#1935 UI : Adding versioning for dashboard entity.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/dashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
Labels: enhancement

#1942 UI : Adding versioning for Pipeline Entity.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/pipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
Labels: enhancement
