Repository open-metadata/OpenMetadata, pull requests merged in 2021-11, with the labels that each got.

#973 Feat : Add versioning for table entity in the UI
  catalog-rest-service/src/main/resources/ui/src/assets/svg/version.svg
  catalog-rest-service/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  catalog-rest-service/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  catalog-rest-service/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  catalog-rest-service/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  catalog-rest-service/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  catalog-rest-service/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  catalog-rest-service/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.interface.ts
  catalog-rest-service/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.style.css
  catalog-rest-service/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  catalog-rest-service/src/main/resources/ui/src/components/EntityVersionTimeLine/EntityVersionTimeLine.css
  catalog-rest-service/src/main/resources/ui/src/components/EntityVersionTimeLine/EntityVersionTimeLine.tsx
  catalog-rest-service/src/main/resources/ui/src/components/Modals/ModalWithMarkdownEditor/ModalWithMarkdownEditor.tsx
  catalog-rest-service/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  catalog-rest-service/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  catalog-rest-service/src/main/resources/ui/src/components/common/TabsPane/TabsPane.tsx
  catalog-rest-service/src/main/resources/ui/src/components/common/description/Description.tsx
  catalog-rest-service/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  catalog-rest-service/src/main/resources/ui/src/constants/constants.ts
  catalog-rest-service/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  catalog-rest-service/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  catalog-rest-service/src/main/resources/ui/src/pages/Pipeline-details/index.tsx
  catalog-rest-service/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  catalog-rest-service/src/main/resources/ui/src/styles/x-master.css
  catalog-rest-service/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: new feature

#1191 feat: Docker Image Push Workflow
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-server.yml
  docker/local-metadata/Dockerfile_mysql
Labels: enhancement, new feature

#1254 Fix: If tier tag is not present show other tags.
  catalog-rest-service/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
Labels: bug

#1315 Import Error fix - Okta
  Makefile
  ingestion/src/metadata/ingestion/ometa/openmetadata_rest.py
Labels: bug, blocker

#1376 Added OMeta API, removed wget
  docker/run_local_docker.sh
  ingestion/src/metadata/cmd.py
Labels: bug, blocker

#1362 fix: remove spaCy dependencies from setup.py
  docs/SUMMARY.md
  docs/connectors/data-model/dbt.md
  docs/connectors/glue-catalog.md
  docs/connectors/mariadb.md
  docs/install/metadata-ingestion/ingest-sample-data.md
  docs/install/run-in-production.md
  docs/open-source-community/developer/build-a-connector/README.md
  docs/open-source-community/developer/build-a-connector/processor.md
  docs/openmetadata/connectors/athena.md
  docs/openmetadata/connectors/hive.md
  docs/openmetadata/connectors/kafka.md
  docs/openmetadata/connectors/mssql.md
  docs/openmetadata/connectors/mysql.md
  docs/openmetadata/connectors/oracle.md
  docs/openmetadata/connectors/pii.md
  docs/openmetadata/connectors/postgres.md
  docs/openmetadata/connectors/redshift.md
  docs/openmetadata/connectors/salesforce.md
  docs/openmetadata/connectors/snowflake.md
  docs/openmetadata/connectors/superset.md
  docs/openmetadata/connectors/tableau.md
  docs/openmetadata/connectors/vertica.md
  ingestion/README.md
  ingestion/requirements.txt
  ingestion/setup.py
  ingestion/src/metadata/ingestion/processor/pii.py
Labels: enhancement

#1368 feat: Adding CI for python integration tests
  .github/workflows/py-integration-tests.yml
  Makefile
Labels: enhancement

#1381 Fix: Docker Image to use new Dist Location while running locally
  catalog-rest-service/src/test/resources/descriptions.md
  docker/local-metadata/Dockerfile
  docs/install/README.md
  docs/install/local-Install.md
  docs/open-source-community/developer/build-code-run-tests.md
Labels: bug

#1393 Adding Lineage node expansion to show columns .
  openmetadata-ui/src/main/resources/ui/src/assets/svg/minus.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.jsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: enhancement

#1454 Fixed Column node text in lineage and suggestion index for dbt models.
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dbt-model-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dbt-model.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.jsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: enhancement

#1459 Adding support for recently search term
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: new feature

#1476 UI : Adding support for 3 column layout.
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageContainerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
Labels: enhancement
