Repository open-metadata/OpenMetadata, pull requests merged in 2021-09, with the labels that each got.

#383 Fix #381: SQLAlchemy URL is causing issues in creating service
  ingestion/examples/workflows/mssql.json
  ingestion/src/metadata/utils/helpers.py
Labels: bug, blocker

#440 Added Recently viewed feature for Landing page
  catalog-rest-service/src/main/resources/ui/package-lock.json
  catalog-rest-service/src/main/resources/ui/package.json
  catalog-rest-service/src/main/resources/ui/src/axiosAPIs/dashboardAPI.ts
  catalog-rest-service/src/main/resources/ui/src/axiosAPIs/topicsAPI.ts
  catalog-rest-service/src/main/resources/ui/src/components/recently-viewed/RecentlyViewed.tsx
  catalog-rest-service/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  catalog-rest-service/src/main/resources/ui/src/constants/constants.ts
  catalog-rest-service/src/main/resources/ui/src/enums/entity.enum.ts
  catalog-rest-service/src/main/resources/ui/src/interface/types.d.ts
  catalog-rest-service/src/main/resources/ui/src/pages/dashboard-details/index.tsx
  catalog-rest-service/src/main/resources/ui/src/pages/my-data-details/index.tsx
  catalog-rest-service/src/main/resources/ui/src/pages/my-data/index.tsx
  catalog-rest-service/src/main/resources/ui/src/pages/topic-details/index.tsx
  catalog-rest-service/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: blocker, new feature

#441 Added Looker service for UI
  catalog-rest-service/src/main/resources/ui/src/assets/img/service-icon-looker.png
  catalog-rest-service/src/main/resources/ui/src/constants/services.const.ts
  catalog-rest-service/src/main/resources/ui/src/enums/service.enum.ts
  catalog-rest-service/src/main/resources/ui/src/utils/ServiceUtils.ts
Labels: blocker, new feature

#449 Updated webpack with file-loaders for slick-carousel
  catalog-rest-service/src/main/resources/ui/package-lock.json
  catalog-rest-service/src/main/resources/ui/package.json
  catalog-rest-service/src/main/resources/ui/webpack.config.dev.js
  catalog-rest-service/src/main/resources/ui/webpack.config.prod.js
Labels: bug, blocker

#460 Pylint fix
  .github/workflows/pylint.yml
Labels: bug

#467 Fix #466: Fix airflow example dag
  ingestion/examples/airflow/sample_tables_airflow_example.py
Labels: bug

#474 Fix #471: Topic/Dashboard ownership and follow should reflect in Elastic Search immediately after those actions
  catalog-rest-service/src/main/java/org/openmetadata/catalog/events/ElasticSearchEventHandler.java
Labels: bug, blocker

#487 Fixing Safari UI issues
  catalog-rest-service/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  catalog-rest-service/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  catalog-rest-service/src/main/resources/ui/src/components/my-data/MyDataHeader.tsx
  catalog-rest-service/src/main/resources/ui/src/styles/tailwind.css
  catalog-rest-service/src/main/resources/ui/src/styles/x-master.css
  catalog-rest-service/src/main/resources/ui/tailwind.config.js
Labels: blocker

#564 Adding commit activity badge in readme
  README.md
Labels: documentation
