Repository open-metadata/OpenMetadata, pull requests merged in 2022-12, with the labels that each got.

#9048 Cypress: Enable the skip test and fix failing test
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Collect.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/LogoutUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
Labels: UI, safe to test

#9094 Fix 9093 : Search Card Link to smoothly route instead of loading the whole page
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardTitle.component.tsx
Labels: UI, safe to test

#9079 Fix#7690: Use ES to build Tables FQN when processing Lineage
  ingestion/src/metadata/utils/elasticsearch.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/test_fqn.py
Labels: Ingestion, safe to test

#9088 Fix #8083: Adding a child term to a parent term in glossary produces error
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: backend, safe to test

#9091 Fix #8323: GenerateToken can overwrite any relations that user may have
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#9096 Fixed ctrl + k is not working as expected #7824
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchProvider.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Labels: UI, safe to test

#9065 Fix: Safer default Mark Deleted Tables
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v007__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v007__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/database/database_service.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/mocks/LogsViewer.mock.ts
Labels: Ingestion, safe to test

#9095 Lineage Backend example and status fix
  ingestion/src/airflow_provider_openmetadata/lineage/utils.py
  openmetadata-docs/content/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/images/openmetadata/connectors/airflow/lineage-backend-dag.png
  openmetadata-docs/images/openmetadata/connectors/airflow/lineage-backend-lineage.png
Labels: Ingestion, safe to test

#9098 fix(ui): wrong relative time being rendered
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
Labels: UI, safe to test

#9099 Fix: dagster issue 'nodes'
  ingestion/src/metadata/ingestion/source/pipeline/dagster.py
Labels: Ingestion, safe to test

#9028 UI : Make the Activity card popup style similar to explore page
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#9106 Cypress: Fixed dropdown click issue for appbar
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Collect.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
Labels: UI, safe to test

#9101 Docs - Python SDK installation
  openmetadata-docs/content/sdk/python/index.md
Labels: Ingestion, safe to test

#9105 Fixed: [UI] Add support for renaming glossary #8733
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
Labels: UI, safe to test

#9077 fix(ui): hide elasticSearchIndex page for non-admins
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#9120 fix(ui): tags description was going out of the view
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI, safe to test

#9107 UI : Revamp Teams page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/arrow-down-light.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/arrow-right-light.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/hide-password.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/show-password.svg
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#9125 Fixed Broken docs links for ingestion
  ingestion/README.md
  ingestion/examples/airflow/dags/airflow_lineage_example.py
  ingestion/src/metadata/utils/credentials.py
Labels: Ingestion, safe to test

#9112 Cypress: Added test related to redirection from home page
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/redirections.spec.js
Labels: UI, safe to test

#9076 Fix #8846 : Replace Reviewer and deploy ingestion modal with antd modal in the UI -2
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/DeployIngestionLoaderModal/DeployIngestionLoaderModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/DeployIngestionLoaderModal/DeployIngestionLoaderModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/DeployIngestionLoaderModal/DeployIngestionLoaderModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/RelatedTermsModal/RelatedTermsModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/RelatedTermsModal/RelatedTermsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ReviewerModal/ReviewerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ReviewerModal/ReviewerModal.interface.ts
Labels: UI, safe to test

#9126 UI : Use Backend system level flag for system tags
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Labels: UI, safe to test

#9090 Fix #6463: Add support for default suggestions for suggestion API
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/glossary_term_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/table_search_index_mapping.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/tag_index_mapping.json
Labels: backend, safe to test

#9136 Add E2E env
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, E2E-testing, safe to test

#9102 chore(ui) : Check for preferred_username while signup
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test

#9138 Fix: aggregate type
  ingestion/src/metadata/ingestion/source/database/clickhouse.py
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, safe to test

#9113 Fix #7056 - Automatic lineage from ML Model to ML Feature Data Source
  ingestion/tests/integration/ometa/test_ometa_model_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
Labels: Ingestion, safe to test

#9144 Fix(UI)#9017: Fixed description not rendering on explore page in Safari browser
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.less
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
Labels: UI, safe to test

#9143 Fix E2E: new envs
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/tests/cli_e2e/database/bigquery/bigquery.yaml
Labels: Ingestion, safe to test

#8828 Update AbstractEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AbstractEventPublisher.java
Labels: backend, safe to test

#9135 Fix #9123 - Add owner and tags to Airflow DAGs
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
Labels: Ingestion, safe to test

#9160 Added java distribution
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
Labels: Ingestion, safe to test

#9145 Track new primary key
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/main/resources/json/data/settings/settingsData.json
Labels: safe to test

#9150 Fixed failing flaky cypress tests.
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
Labels: UI, safe to test

#9154 UI: Added support for renaming user generated tag category
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tagAPI.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#9166 Fix : Do not render the slack chat component directly as child of router switch
  openmetadata-ui/src/main/resources/ui/src/router/AppRouter.tsx
Labels: UI, safe to test

#9165 Fix : Logs screen for data insight pipeline is hanging
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.interfaces.ts
Labels: UI, safe to test

#9170 Fix : Do not render the slack chat component directly as child of router switch (#9166)
  openmetadata-ui/src/main/resources/ui/src/router/AppRouter.tsx
Labels: UI, safe to test

#9169 Fix(UI)#7173: Fixed issue where soft deleted tables were showing on schema details page
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaDetailsUtils.ts
Labels: UI, safe to test

#9175 UI : Remove Y-axis for percentage charts on data insight page
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9173 bump(ui) : antd@4.20.6 to antd@4.24.0
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityAnnouncement.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/styles/components/tabs.less
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, ui-config

#9177 Fixed time field type for profiler
  ingestion/src/metadata/orm_profiler/orm/converter.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: bug, Ingestion, support, profiler, safe to test

#9164 Fix(UI): Fixed localization keys.
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9183 Fix typos in JSON schemas and follow standard naming convention
  ingestion/src/metadata/clients/domo_client.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard.py
  ingestion/src/metadata/ingestion/source/database/domodatabase.py
  ingestion/src/metadata/ingestion/source/pipeline/domopipeline.py
  ingestion/src/metadata/utils/connections.py
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DailyActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/PageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticsearch/BuildSearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticsearch/BulkProcessorListener.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/util/UtilResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/events/createWebhook.json
  openmetadata-spec/src/main/resources/json/schema/auth/ldapConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/auth/loginRequest.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/dailyActiveUsers.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/mostActiveUsers.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/mostViewedEntities.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/pageViewsByEntities.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/percentageOfEntitiesWithDescriptionByType.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/percentageOfEntitiesWithOwnerByType.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/totalEntitiesByTier.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/totalEntitiesByType.json
  openmetadata-spec/src/main/resources/json/schema/entity/events/webhook.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/domoDashboardConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/domoDatabaseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/domoPipelineConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/utils/servicesCount.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-spec/src/main/resources/json/schema/settings/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
Labels: backend, safe to test

#9041 Fix #9040: Remove fields such as tableQueries, tableProfile, tests, sample data as part of table fields
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
Labels: backend, safe to test

#9171 UI: Added localisation support for ui
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/CustomOption.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/CustomOption.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Glossary.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Ingestions.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#9174 Fixes #9167 - Default value for SLACK_CHAT_SLACK_URL
  conf/openmetadata.yaml
Labels: safe to test

#9200 Fix(UI): Fixed UI errors for changes in PR #9183
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.ts
Labels: UI, safe to test

#9195 Fix #8083: Follow-up fix to add glossary terms (#9191)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
Labels: devops, safe to test

#9179 Add: function to get different catalogs
  ingestion/src/metadata/examples/workflows/databricks.yaml
  ingestion/src/metadata/ingestion/source/database/databricks.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
Labels: Ingestion, safe to test

#9188 UI : Data Insight KPI improvements
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/mocks/KPIList.ts
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/KPIMock.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9213 Fixed lineage search issue and added unit test
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.test.tsx
Labels: UI, safe to test

#9190 UI: Add support for showing created and updated information to Glossary Term in the UI #3113
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/DeleteConfirmationModal/DeleteConfirmationModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/Glossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9210 Added SSL Connection steps for Clickhouse connection
  openmetadata-docs/content/connectors/database/clickhouse/index.md
Labels: documentation, Ingestion, safe to test

#9202 Fix(UI): Fixed tables from all the services showing on database Schema page
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/mocks/DatabaseSchemaPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaDetailsUtils.ts
Labels: UI, safe to test

#9214 Fix(UI): Regression in search filters
  openmetadata-ui/src/main/resources/ui/src/enums/Explore.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/mocks/ExplorePageUtils.mock.ts
Labels: UI, safe to test

#9199 Solve issues related to actitivity feed
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  pom.xml
Labels: safe to test

#9193 Fix #9181 - Handle failed callback status without workflow
  ingestion/src/metadata/utils/time_utils.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
Labels: Ingestion, safe to test

#9215 locale (ui) : add localization support for UI labels -2
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/HelperTextUtil.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Login.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/LoginCarousel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/LoginCarousel.tsx
Labels: UI, safe to test

#9176 Fix #9044 - Add prometheus event monitor
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/CloudwatchEventMonitor.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/EventMonitorFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/PrometheusEventMonitor.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MicrometerBundleSingleton.java
  openmetadata-spec/src/main/resources/json/schema/monitoring/eventMonitorProvider.json
Labels: Ingestion, safe to test

#9122 feat(ui) : Add search dropdown
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
Labels: UI, safe to test

#9222 Added french translation
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, Ingestion, safe to test

#9221 Fixes #9192 - Update ES response for DI
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v007__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v007__create_db_connection_info.sql
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/resources/json/data/dataInsight/mostViewedEntities.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/mostViewedEntities.json
Labels: Ingestion, backend, safe to test, data insight

#9220 Added localisation support part 2
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/BotsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicDetailsUtils.ts
Labels: UI, safe to test

#9230 Fix(#9226): do not show error for public IP resolution
  openmetadata-service/src/main/java/org/openmetadata/service/util/PipelineServiceClient.java
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
Labels: UI, safe to test

#9231 Fix(#9137): UI: Delete button not visible for connection options and connection arguments
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
Labels: UI, safe to test

#9196 Fix 7278: add test connection
  docker/validate_compose.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/tests/unit/profiler/test_profiler_partitions.py
Labels: Ingestion, safe to test

#9206 Fix #9182 - Airflow Lineage Operator & Airflow lineage state
  ingestion/examples/airflow/dags/airflow_lineage_operator.py
  ingestion/src/airflow_provider_openmetadata/README.md
  ingestion/src/airflow_provider_openmetadata/__init__.py
  ingestion/src/airflow_provider_openmetadata/hooks/__init__.py
  ingestion/src/airflow_provider_openmetadata/hooks/openmetadata.py
  ingestion/src/airflow_provider_openmetadata/lineage/backend.py
  ingestion/src/airflow_provider_openmetadata/lineage/callback.py
  ingestion/src/airflow_provider_openmetadata/lineage/config/loader.py
  ingestion/src/airflow_provider_openmetadata/lineage/operator.py
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
  ingestion/src/airflow_provider_openmetadata/lineage/utils.py
  ingestion/src/airflow_provider_openmetadata/provider.yaml
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/tests/integration/lineage/airflow/test_airflow_lineage.py
  openmetadata-docs/content/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/connectors/pipeline/airflow/lineage-operator.md
  openmetadata-docs/content/deployment/upgrade/versions/012-to-013.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/connectors/airflow/airflow-connection.png
Labels: Ingestion, safe to test

#9233 Add LRU to ES fqn
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
Labels: Ingestion, safe to test

#9228 Fix #9227: Fix metabase connector to work with non-admin user
  ingestion/src/metadata/ingestion/source/dashboard/metabase.py
Labels: backend, safe to test

#9247 Remove Test case URL encoding
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
Labels: Ingestion, safe to test

#9249 Schema for Alerts
  openmetadata-spec/src/main/resources/json/schema/alerts/alertAction.json
  openmetadata-spec/src/main/resources/json/schema/alerts/alertFilterRules.json
  openmetadata-spec/src/main/resources/json/schema/alerts/alerts.json
  openmetadata-spec/src/main/resources/json/schema/alerts/api/createAlert.json
  openmetadata-spec/src/main/resources/json/schema/alerts/api/createAlertAction.json
  openmetadata-spec/src/main/resources/json/schema/alerts/triggerConfig.json
Labels: backend, safe to test

#9152 UI :- Added functionality to drag and drop teams in another team
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/drag.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/dashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/pipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/teamsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/topicsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/DraggableBodyRow.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/team.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/constants/Teams.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Teams.mock.ts
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#9252 Fix Get sample data for e2e tests
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/tests/cli_e2e/test_cli_db_base.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Labels: Ingestion, safe to test

#9250 Fix (#9238) : Dashboard owner and tags not appearing on dashboard list
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/mocks/servicePage.mock.ts
Labels: UI, safe to test

#9244 UI : fix add owner and tier functionality on Translated entity page
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
Labels: UI, safe to test

#9243 Fix #9205 - Fix CustomPipelineConnection java class
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/customPipelineConnection.json
Labels: Ingestion, safe to test

#9229 Fix deployment docs
  openmetadata-docs/content/deployment/bare-metal/index.md
Labels: backend, safe to test

#9241 Fix #9116 & #8284 - Clean tableau source, fix ownership, add description and SSL verification
  .pylintrc
  ingestion/setup.py
  ingestion/src/airflow_provider_openmetadata/hooks/openmetadata.py
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau.py
  ingestion/src/metadata/utils/connections.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/ssl_registry.py
  ingestion/tests/integration/ometa/test_ometa_user_api.py
  openmetadata-docs/content/connectors/dashboard/tableau/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/tableauConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/ssl/validateSSLClientConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/ssl/verifySSLConfig.json
Labels: Ingestion, safe to test

#9253 Airflow APIs - Don't fail if missing IP
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/ip.py
Labels: Ingestion, safe to test

#9263 Fix #8944: Added pagination logic for PowerBi
  ingestion/src/metadata/clients/powerbi_client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi.py
Labels: Ingestion, safe to test

#9239 Fixes 9192 - Add entity link in response
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v007__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v007__create_db_connection_info.sql
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/web_analytic_entity_view_report_data_index_mapping.py
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/resources/elasticsearch/web_analytic_entity_view_report_data_index.json
  openmetadata-service/src/main/resources/json/data/dataInsight/mostViewedEntities.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/webAnalyticEntityViewReportData.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/mostViewedEntities.json
Labels: Ingestion, backend, safe to test, data insight

#9208 Fixes #9025 -- Added deletion of WebAnalytics events in dataInsight Workflow
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/ingestion/ometa/mixins/data_insight_mixin.py
  ingestion/tests/integration/data_insight/test_web_analytic_events.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResourceTest.java
Labels: Ingestion, backend, safe to test, data insight

#9133 fix(ui): add description around filter pattern
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#9236 UI : Added add test suite functionality in test suite page
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/rightPanelData.ts
  openmetadata-ui/src/main/resources/ui/src/constants/TestSuite.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/AddTestSuiteForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/AddTestSuiteForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuiteStepper.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuiteStepper.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/testSuite.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#9270 Fixes #8184 Athena Profiler
  ingestion/src/metadata/orm_profiler/orm/functions/median.py
Labels: Ingestion, profiler, safe to test

#9224 Feat(ui) ✨ : Add support for Avro editor
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TopicSchema.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicSchema.utils.ts
Labels: new feature, UI, safe to test

#9261 Logic improved for BYTES column
  ingestion/setup.py
  ingestion/src/metadata/orm_profiler/orm/types/bytea_to_string.py
  ingestion/src/metadata/orm_profiler/orm/types/hex_byte_string.py
Labels: Ingestion, safe to test

#9271 UI : Fix pagination issue in test case
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9268 Fixed SQL query missing when a data quality test is edited #8341
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/schema-editor/SchemaEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/schema-editor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
Labels: UI, safe to test

#9273 Fix#4648: Use ES call to get table entity
  ingestion/src/metadata/config/common.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/utils/fqn.py
Labels: Ingestion, safe to test

#9265 feat(ui): localisation for utils and models
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Fqn.js
  openmetadata-ui/src/main/resources/ui/src/utils/Fqn.test.js
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Labels: UI, safe to test

#9262 Fixed API throwing error while fetching soft-deleted MLmodel entity #5596
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9285 fix(#9240) Data Insight Latest Value for Percentage of Entity Description is Not Correct
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9245 Fix: added datalake gen2
  ingestion/setup.py
  ingestion/src/metadata/clients/connection_clients.py
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/utils/azure_utils.py
  ingestion/src/metadata/utils/connections.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/datalakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azureCredentials.json
Labels: Ingestion, safe to test

#9279 Fix(UI) #9277: Fixed issue with dropdown options not resetting for different drop-downs
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/mocks/ExploreQuickFilters.mock.ts
Labels: UI, safe to test

#9209 Fix #8509: Add schema fields
  ingestion/examples/sample_data/topics/topics.json
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  ingestion/src/metadata/parsers/avro_parser.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createTopic.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
  openmetadata-spec/src/main/resources/json/schema/type/schema.json
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TopicSchema.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicSchemaUtils.test.ts
Labels: backend, safe to test

#9235 Add Test Suite Implementation for Datalake
  ingestion/src/airflow_provider_openmetadata/lineage/callback.py
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
  ingestion/src/metadata/examples/workflows/datalake_profiler.yaml
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/interfaces/datalake/datalake_profiler_interface.py
  ingestion/src/metadata/interfaces/datalake/datalake_test_suite_interface.py
  ingestion/src/metadata/interfaces/sqalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/orm_profiler/metrics/static/count_in_set.py
  ingestion/src/metadata/orm_profiler/metrics/static/unique_count.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/src/metadata/test_suite/api/models.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/validations/column/column_value_max_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_mean_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_median_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_min_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_stddev_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_in_set.py
  ingestion/src/metadata/test_suite/validations/column/column_values_length_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_missing_count_to_be_equal.py
  ingestion/src/metadata/test_suite/validations/column/column_values_not_in_set.py
  ingestion/src/metadata/test_suite/validations/column/column_values_sum_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_not_null.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_unique.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_match_regex.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_not_match_regex.py
  ingestion/src/metadata/test_suite/validations/core.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_be_between.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_equal.py
  ingestion/src/metadata/test_suite/validations/table/table_column_name_to_exist.py
  ingestion/src/metadata/test_suite/validations/table/table_column_to_match_set.py
  ingestion/src/metadata/test_suite/validations/table/table_custom_sql_query.py
  ingestion/src/metadata/test_suite/validations/table/table_row_count_to_be_between.py
  ingestion/src/metadata/test_suite/validations/table/table_row_count_to_equal.py
  ingestion/src/metadata/utils/azure_utils.py
  ingestion/src/metadata/utils/column_base_model.py
  ingestion/tests/unit/test_suite/test_validations.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/ip.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/lineage.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/metadata.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/profiler.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/usage.py
  openmetadata-airflow-apis/tests/integration/operations/test_airflow_ops.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
Labels: Ingestion, safe to test

#9295 Fix Clickhouse Comments
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/clickhouse.py
Labels: Ingestion, support, safe to test

#9298 e2e: DataConsumer Role test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
Labels: UI, E2E-testing, safe to test

#9293 Fix #9217: Add Support for Endpoint URL in Datalake
  ingestion/src/metadata/clients/aws_client.py
Labels: Ingestion, safe to test

#9294 Fix: Datalake s3 get list of files
  ingestion/src/metadata/ingestion/source/database/datalake.py
Labels: Ingestion, safe to test

#9305 Integrated schema parsers
  ingestion/examples/sample_data/topics/topics.json
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  ingestion/src/metadata/parsers/avro_parser.py
  ingestion/src/metadata/parsers/json_schema_parser.py
  ingestion/src/metadata/parsers/protobuf_parser.py
  ingestion/src/metadata/parsers/schema_parsers.py
  ingestion/tests/unit/test_avro_parser.py
  ingestion/tests/unit/test_json_schema_parser.py
  ingestion/tests/unit/test_protobuf_parser.py
  ingestion/tests/unit/test_suite/test_validations.py
Labels: Ingestion, safe to test

#9308 UI: Data insight feedback part 1
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopViewEntities.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9307 Feat(UI) #8060: Adding highlight for searched items in dropdown. #8060
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
Labels: safe to test

#9274 Fix MlModel Lineage edge order
  ingestion/src/metadata/ingestion/ometa/mixins/mlmodel_mixin.py
Labels: Ingestion, safe to test

#9309 UI : Add localization
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailsList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPageList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#9299 Openmetadata workflow issue 9172
  .github/workflows/docker-openmetadata-server.yml
Labels: safe to test

#9313 UI: Data-insight feedbacks part 2
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DailyActiveUsersChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9315 fix(ui): cypress failure for webhook, slack, msteams
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MSTeams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Slack.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Webhooks.spec.js
Labels: UI, safe to test

#9316 Fixes for Alerts
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/generic/GenericWebhookPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AlertRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertActionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/resources/json/data/alerts/filterData.json
  openmetadata-spec/src/main/resources/json/schema/alerts/alertFilterRules.json
  openmetadata-spec/src/main/resources/json/schema/alerts/alerts.json
  openmetadata-spec/src/main/resources/json/schema/alerts/entitySpelFilters.json
Labels: backend, safe to test

#8896 Deprecate configurations for auth provider configuration on Airflow
  conf/openmetadata.yaml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Labels: Ingestion, backend, safe to test

#9327 Fixes #9290 Policies Don't Prevent Custom Properties Modification by …
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/ResourceRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/OperationContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonPatchUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/permissions/PermissionsResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
Labels: backend, safe to test

#9304 UI/UX improvements part-1
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerLatestValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ChartUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#9323 Fix: Snyk Severity for Delta Spark
  ingestion/setup.py
Labels: Ingestion, safe to test

#9322 Fix#9251: DB2 connection config and ingestion update
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v007__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v007__create_db_connection_info.sql
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/orm_profiler/orm/functions/conn_test.py
  ingestion/src/metadata/orm_profiler/orm/registry.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/db2Connection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
Labels: Ingestion, safe to test

#9319 Added percentage computation for tier chart and added functionality of on hover chart will be focus
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9334 remove norms for ES index mappings
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/table_search_index_mapping.py
  openmetadata-service/src/main/resources/elasticsearch/table_index_mapping.json
Labels: backend, safe to test

#9333 Fix(UI) #9331: SearchDropdown improvements and bug fixes.
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
Labels: UI, safe to test

#9310 Fix #9058: Add time elapsed in seconds instead of mili-seconds
  ingestion/src/metadata/utils/sql_queries.py
Labels: Ingestion, safe to test

#9336 Fix failure in GCS datalake ingestions
  ingestion/src/metadata/ingestion/source/database/datalake.py
Labels: Ingestion, safe to test

#9288 UI : Restricted special character for Glossary and Term
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
Labels: UI, safe to test

#9312 UI : Lineage UI improvement
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#9337 UI : fix the required filed issue in Profiler setting Modal
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
Labels: UI, safe to test

#9339 Created ActivityFeed Alert
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AbstractAlertPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/ActivityFeedAlertCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/filter/FilterRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertActionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FilterUtil.java
  openmetadata-service/src/main/resources/json/data/alerts/alertsActionData.json
  openmetadata-service/src/main/resources/json/data/alerts/alertsData.json
  openmetadata-spec/src/main/resources/json/schema/alerts/alertAction.json
  openmetadata-spec/src/main/resources/json/schema/alerts/api/createAlertAction.json
Labels: backend, safe to test

#9335 UI : Clean up data insights summary and KPIs
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.test.tsx
Labels: UI, safe to test

#9338 UI : downgrade qs@6.11.0 to qs@6.10.3
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#9343 UI: update the KPI side text
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9328 Fix: Metadata backup Azure blob issue
  ingestion/src/metadata/cli/backup.py
  openmetadata-docs/content/deployment/backup-restore-metadata.md
Labels: Ingestion, safe to test

#9325 Fix #9283: Description and tags are not getting updated for schema fields
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Labels: backend, safe to test

#9314 Fix: making token as optional field
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v007__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v007__create_db_connection_info.sql
  ingestion/src/metadata/clients/connection_clients.py
  ingestion/src/metadata/utils/connections.py
  ingestion/tests/unit/topology/pipeline/test_dagster.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dagsterConnection.json
Labels: Ingestion, safe to test

#9342 Fix: Update Ingestion docker images and fix python libraries dependencies
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/setup.py
Labels: Ingestion, safe to test

#9345 UI: DataInsight feedback part 4
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightProgressBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPILatestResults.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopViewEntities.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.less
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9351 Fix: Bot roles missing after edition
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Labels: Ingestion, safe to test

#9341 Fix #9276 - Fix dump syntax for backup
  ingestion/src/metadata/cli/db_dump.py
  ingestion/src/metadata/cli/restore.py
  openmetadata-docs/content/deployment/backup-restore-metadata.md
Labels: Ingestion, safe to test

#9340 Fixes #5522 by implementing timeout for the profiler
  ingestion/src/metadata/interfaces/profiler_protocol.py
  ingestion/src/metadata/interfaces/sqalchemy/sqa_profiler_interface.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/utils/custom_thread_pool.py
  ingestion/tests/unit/profiler/test_profiler.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
Labels: UI, Ingestion, safe to test

#9346 Alert Fixes : removed redundant files, updated Triggwe
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v007__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v007__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AbstractAlertPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsActionPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AbstractEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/filter/FilterRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AlertRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SettingsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/EventMonitorPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FilterUtil.java
  openmetadata-service/src/main/resources/json/data/alerts/alertsData.json
  openmetadata-service/src/main/resources/json/data/alerts/filterData.json
  openmetadata-service/src/main/resources/json/data/alerts/triggerData.json
  openmetadata-service/src/main/resources/json/data/settings/settingsData.json
  openmetadata-spec/src/main/resources/json/schema/alerts/triggerConfig.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Labels: backend, safe to test

#9330 Fix #2435: Add tagging support for services and database
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MessagingServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MlModelServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDatabase.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDashboardService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDatabaseService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMessagingService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMlModelService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createPipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
Labels: backend, safe to test

#9361 Code cleanup changes
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/gateway/OpenMetadata.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/model/AccessTokenResponse.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/model/OktaSSOConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DailyActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DataInsightAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AuditEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/EventMonitorPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticsearch/BuildSearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LoginAttemptCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/CloudWatchEventMonitorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/EventMonitorFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/airflow/AirflowRESTClientIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dataInsight/DataInsightResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/locations/LocationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/FullyQualifiedNameTest.java
Labels: backend, safe to test

#9362 chore(ui): cleanup activity feed from settings page
  openmetadata-ui/src/main/resources/ui/src/pages/ActivityFeedSettingsPage/ActivityFeedSettingsPage.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/ActivityFeedSettingsPage/ActivityFeedSettingsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ActivityFeedSettingsPage/ActivityFeedSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ActivityFeedSettingsPage/ActivityFeedSettingsPage.utils.ts
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#9364 Fix Mysql e2e test
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#9356 Fixe Ownership and Tier Processing
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
Labels: Ingestion, safe to test, data insight

#9363 Airflow e2e integration test
  Makefile
  ingestion/examples/airflow/dags/airflow_lineage_operator.py
  ingestion/tests/integration/lineage/airflow/test_airflow_lineage.py
Labels: Ingestion, safe to test

#9360 Add arg in backup doc
  openmetadata-docs/content/deployment/backup-restore-metadata.md
Labels: Ingestion, safe to test

#9368 UI: Converted data insight dropdown to checkbox dropdown
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#9359 UI : Added Organization displayName in DataInsight health glance
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9369 Cypress: skipping flaky cypress test
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
Labels: UI, safe to test

#9367 UI : Added auto-generated password on page load
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/user.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9366 Fix : Pipeline execution results overflow
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/tree-view-tab.less
Labels: UI, safe to test

#9358 Fix: updated docs for datalake-azure
  openmetadata-docs/content/connectors/database/datalake/airflow.md
  openmetadata-docs/content/connectors/database/datalake/cli.md
  openmetadata-docs/content/connectors/database/datalake/index.md
  openmetadata-docs/content/connectors/database/datalake/troubleshooting.md
  openmetadata-docs/images/openmetadata/connectors/datalake/service-connection-using-azure.png
  openmetadata-docs/images/openmetadata/connectors/datalake/troubleshoot-clientId.png
Labels: Ingestion, safe to test

#9371 UI : Fix missing header of User and Admin table
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.util.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test
