Repository open-metadata/OpenMetadata, pull requests merged in 2022-09, with the labels that each got.

#7114 Profiler & Data Quality UI feedback & improvement #7090 Part 2
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/schema-editor/SchemaEditor.tsx
Labels: UI

#7111 Fix minor column data quality test bugs
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/validations/core.py
  ingestion/tests/unit/test_suite/test_validations.py
Labels: data quality

#7103 Fix #7102 UI : Update test suites, database, database schema and service pages with new permissions
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/Glossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestActions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCaseCommonTabContainer/TestCaseCommonTabContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCasesTab/TestCasesTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
Labels: new feature, UI

#7126 Fix custom property permission issue
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomEntityDetail.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomEntityDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
Labels: UI

#7129 Added logic to handle testSuite when no database is set in service co…
  ingestion/src/metadata/test_suite/api/workflow.py
Labels: data quality

#7135 Profiler & Data Quality UI feedback & improvement #7090 part 4
  openmetadata-ui/src/main/resources/ui/src/assets/svg/no-data-icon.svg
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI

#7143 Fix #7137 UI: @Mention filter doesn't work in Entity page activity feeds tab
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/FeedRepository.java
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#7144 FIx #7136 UI: Admin is not able to edit an announcement
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
Labels: UI

#7160 UI : Change Webhook layout to table
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhookTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhookTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhooksV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#7154 Fix #7146 UI : For edit and view permission look for `EditAll` and `ViewAll` first.
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestActions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/Teams.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCasesTab/TestCasesTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotsPageV1/BotsPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: UI

#7180 UI - Add help text for valid and invalid condition
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.tsx
Labels: UI

#7186 Fix #7147 UI: Wrong task type being created for Request Description tasks
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
Labels: UI

#7192 Fix the cypress test
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/DataQualityTest.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskStatus.test.tsx
Labels: UI

#7190 Change Admin icon and make Dashboard filter panel color consistent
  openmetadata-ui/src/main/resources/ui/src/assets/svg/admin.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/filter-primary.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/page-not-found/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#7189 Revamp Policies CollapseTable in Card style
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
Labels: UI

#7193 Revamp Tags LeftPanel design similar to glossaries
  openmetadata-ui/src/main/resources/ui/src/components/common/LeftPanelCard/LeftPanelCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsPane/TabsPane.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#7195 Change error placeholder for addData and noData
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/img/add-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/img/no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/DataQualityTest.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhooksV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetail.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#7170 Fix: Added workflow config example for Redpanda
  ingestion/examples/workflows/redpanda.yaml
Labels: Ingestion

#7203 Fix#7112: Issue ingesting Kafka when the basic auth is enabled in the Schea Registry
  ingestion/src/metadata/utils/connections.py
Labels: bug, Ingestion

#7218 Fix docker-compose files
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
Labels: bug, docker

#7194 Change deprecated Layout to V1
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/Glossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Card/CardV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageContainerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/layout/page-layout.less
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#7224 Fix #7184 add description lags
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithMarkdownEditor/ModalWithMarkdownEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/BotDetailsPage/BotDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Labels: UI

#7196 Fixed Feedback on 0.12 UI #7071
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/tableProfiler.less
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.style.ts
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/profiler.less
  openmetadata-ui/src/main/resources/ui/src/styles/index.js
Labels: UI

#7222 UI : Fix the Webhook add button issue in settings
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhooksV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/BotsPageV1/BotsPageV1.component.tsx
Labels: UI

#7244 fix(ui): hide error if API throws un-authorized
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
Labels: UI

#7249 UI : Fix Glossary Page issue
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Labels: UI

#7242 UI : Eliminate unused component
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/DataQualityTest.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/Table/DataQualityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/Table/DataQualityTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/dataQualityTest.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidgetWrapper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPage.tsx
Labels: UI

#7243 UI: Removed group type option for teams with child teams.
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.utils.ts
Labels: UI

#7197 Improvements(UI): Worked on UI feedback styling changes
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/add-chat.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/comment.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/request-icon.svg
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSetting.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.style.less
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/SummaryDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.style.less
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Card/Card.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagPage.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
Labels: UI

#7253 UI: Eliminate NonAdmin Action component
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsPane/TabsPane.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/non-admin-action/NonAdminAction.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/non-admin-action/NonAdminAction.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
Labels: UI

#7247 UI : Fix Tags page and minor ui issue
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Card/Card.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#7188 Fixed: UI: Ownership should be allowed for only teams of type "Group" #7175
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidgetWrapper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.js
  openmetadata-ui/src/main/resources/ui/src/utils/ManageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: UI

#7259 Improvements (UI) #7248 : Worked on UI improvements and bug fixes
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerSummaryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerProgressWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerProgressWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/tableProfiler.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
Labels: UI

#7264 UI: Replace Empty table with error placeholder
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhooksV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
Labels: UI

#7257 Fix: SQLAlchemy driver scheme options is mssql + pyodbc that time dat…
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
  openmetadata-docs/images/openmetadata/connectors/mssql/add-new-service.png
Labels: Ingestion

#7267 UI #7248 : Worked on UI improvements.
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsPane/TabsPane.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/profiler.less
Labels: UI

#7260 Fix #5091 Make "Data Quality" column on Table schema page optional to hide
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
Labels: UI

#7256 UI: Changed default page size for tables from 10 to 15
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/webhookAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhookTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhooksV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddWebhookPage/AddWebhookPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MsTeamsPage/MsTeamsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SlackSettingsPage/SlackSettingsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WebhooksPage/WebhooksPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI

#7268 UI review 0.12 release #7248 part 1
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Card/CardV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
Labels: UI

#7269 Profiler close session after metric computation
  ingestion/src/metadata/interfaces/sqa_interface.py
Labels: profiler

#7277 Fix #7276 UI: Entity Page Activity Feed tab is empty
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
Labels: UI

#7286 Add E2E for entity Announcement
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/EntityDetails.spec.js
Labels: UI, E2E-testing

#7282 Fix: Improvements on secret manager implementation
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/NoopSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerConfiguration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerFactory.java
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/secretsManagerProvider.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/ExternalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/NoopSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/SecretsManagerFactoryTest.java
  catalog-rest-service/src/test/resources/openmetadata-secure-test.yaml
  conf/openmetadata.yaml
  ingestion/src/metadata/utils/secrets/aws_based_secrets_manager.py
  ingestion/src/metadata/utils/secrets/external_secrets_manager.py
  ingestion/src/metadata/utils/secrets/noop_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/integration/ometa/test_ometa_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_noop_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/secretsManagerProvider.json
Labels: Ingestion

#7288 Fix Amundsen migration & added logic for table entity owners
  ingestion/src/metadata/ingestion/source/metadata/amundsen.py
  ingestion/src/metadata/utils/sql_queries.py
  openmetadata-docs/content/openmetadata/connectors/metadata/amundsen/index.md
Labels: Ingestion

#7292 UI : Add `ConditionalAllow` check for Create Operation Permission
  openmetadata-ui/src/main/resources/ui/src/utils/PermissionsUtils.ts
Labels: UI

#7289 Fixed UI: Test-suite hard delete not working #7287
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
Labels: UI

#7303 UI : Add Permission Check on Entity Page
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/permissionAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.test.tsx
Labels: UI

#7237 UI : Added add placeholder for settings tables no data
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/AnchorDropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
Labels: UI

#7306 Fixed 0.12 Tour is showing error #7252
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Labels: UI

#7307 UI: Improvements and bug fixes for 0.12 part-4
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-gray.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/Badge.less
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhooksV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/webhookV1.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Card/Card.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/antd-master.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/toggle-switch.less
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#7298 UI: Improvements and bug fixes for 0.12 part-3
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/RolesAndPoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI

#7308 UI :- Placeholder fixes in Webhook
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhookTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MsTeamsPage/MsTeamsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MsTeamsPage/MsTeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SlackSettingsPage/SlackSettingsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SlackSettingsPage/SlackSettingsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#7317 UI : Add Permission Check on Entity Page Part2
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotDetailsPage/BotDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotDetailsPage/BotDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
Labels: UI

#7323 UI :- Fix announcement card, overflow, no search placeholder
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/Badge.less
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#7324 UI : Permission fix for create operation
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddWebhookPage/AddWebhookPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditWebhookPage/EditWebhookPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Labels: UI

#7331 fix(ui): preserve all object for backend purpose
  openmetadata-ui/src/main/resources/ui/src/pages/ActivityFeedSettingsPage/ActivityFeedSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ActivityFeedSettingsPage/ActivityFeedSettingsPage.utils.ts
Labels: UI

#7029 Fix/volume docs
  openmetadata-docs/content/deployment/docker/index.md
  openmetadata-docs/content/deployment/docker/volumes.md
Labels: documentation

#7330 UI :- Fix glossary and UI bugs
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Card/Card.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ActivityFeedSettingsPage/ActivityFeedSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#7337 fix(ui): update link icons
  openmetadata-ui/src/main/resources/ui/src/assets/svg/external-link-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/external-link-white.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/external-link.svg
Labels: UI

#7336 UI :- Change Placeholder with new one
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
Labels: UI

#7329 UI: Fixed the issue with profile picture not showing properly
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Labels: UI

#7333 Fix Glossary trailing name space issue
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Labels: UI

#7318 Fix#6512: Add Secrets Manager documentation
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerMigrationService.java
  openmetadata-docs/content/deployment/secrets-manager/how-to-add-a-new-implementation/index.md
  openmetadata-docs/content/deployment/secrets-manager/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/aws-secrets-manager/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/aws-ssm-parameter-store/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/index.md
  openmetadata-docs/content/deployment/upgrade/versions/011-to-012.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/deployment/secrets-manager/om-secrets-manager-disabled.png
  openmetadata-docs/images/deployment/secrets-manager/om-secrets-manager-enabled.png
  openmetadata-docs/images/deployment/secrets-manager/supported-implementations/aws-secrets-manager/secrets-manager-console.png
  openmetadata-docs/images/deployment/secrets-manager/supported-implementations/aws-ssm-parameter-store/ssm-parameter-store-console.png
Labels: documentation, Ingestion

#7356 Doc: Minor corrections in SSO related docs
  openmetadata-docs/content/deployment/bare-metal/security.md
  openmetadata-docs/content/deployment/security/amazon-cognito-sso/docker.md
  openmetadata-docs/content/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/deployment/security/enable-ssl/index.md
  openmetadata-docs/content/deployment/security/google/docker.md
  openmetadata-docs/content/deployment/security/keycloak/docker.md
  openmetadata-docs/content/deployment/security/okta/docker.md
Labels: documentation

#7332 Fixes #7299 by updating GE submodule to new test API
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/great_expectations/builders/column/base_column_test_builder.py
  ingestion/src/metadata/great_expectations/builders/column/value_max_to_be_between.py
  ingestion/src/metadata/great_expectations/builders/column/value_min_to_be_between.py
  ingestion/src/metadata/great_expectations/builders/column/values_lengths_to_be_between.py
  ingestion/src/metadata/great_expectations/builders/column/values_sum_to_be_between.py
  ingestion/src/metadata/great_expectations/builders/column/values_to_be_between.py
  ingestion/src/metadata/great_expectations/builders/column/values_to_be_in_set.py
  ingestion/src/metadata/great_expectations/builders/column/values_to_be_not_in_set.py
  ingestion/src/metadata/great_expectations/builders/column/values_to_be_not_null.py
  ingestion/src/metadata/great_expectations/builders/column/values_to_be_unique.py
  ingestion/src/metadata/great_expectations/builders/column/values_to_match_regex.py
  ingestion/src/metadata/great_expectations/builders/generic_test_case_builder.py
  ingestion/src/metadata/great_expectations/builders/supported_ge_tests.py
  ingestion/src/metadata/great_expectations/builders/table/base_table_test_builders.py
  ingestion/src/metadata/great_expectations/builders/table/column_count_to_be_between.py
  ingestion/src/metadata/great_expectations/builders/table/column_count_to_equal.py
  ingestion/src/metadata/great_expectations/builders/table/column_name_to_exist.py
  ingestion/src/metadata/great_expectations/builders/table/column_name_to_match_set.py
  ingestion/src/metadata/great_expectations/builders/table/row_count_to_be_between.py
  ingestion/src/metadata/great_expectations/builders/table/row_count_to_equal.py
  ingestion/src/metadata/great_expectations/utils/ometa_config_handler.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/database/dbt_source.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/sink/metadata_rest.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
  ingestion/tests/unit/great_expectations/conftest.py
  ingestion/tests/unit/great_expectations/test_column_builder.py
  ingestion/tests/unit/great_expectations/test_table_builder.py
  ingestion/tests/unit/test_fqn.py
Labels: data quality

#7378 UI : Fix Body Scroll issue
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#7417 UI: Fixed Clicking "profiler & data quality" and "data quality" tab making the main tabs disappear #7351
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/tableProfiler.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/index.js
Labels: UI

#7423 Fixed issue UI : Upgrade cypress version to 10.7.0 #7400
  .github/workflows/cypress-integration-tests.yml
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshift.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/e2e.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI

#7344 UI: Fixed issue with search not working properly for queries with space on explore page
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FilterUtils.js
Labels: UI

#7451 Fix(UI) #7441: Fixed issue with profile picture.
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Labels: UI

#7416 Fixed table filter pattern for bigquery service
  ingestion/src/metadata/ingestion/source/database/bigquery.py
Labels: Ingestion

#7455 UI : Remove pre hook script
  openmetadata-ui/pom.xml
  openmetadata-ui/src/main/resources/ui/package.json
Labels: UI

#7476 UI : Remove bot option from create user page
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.test.tsx
Labels: UI

#7485 Fix UI Issue: Allow decimal point in profile sample
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
Labels: UI

#7465 Fixes #7364 by implementing column level failure log
  ingestion/src/metadata/ingestion/api/processor.py
  ingestion/src/metadata/interfaces/sqa_interface.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/tests/unit/profiler/test_profiler.py
Labels: profiler

#7494 Fixes #7118 by cleaning up test names
  ingestion/src/metadata/test_suite/validations/core.py
  ingestion/tests/integration/test_suite/test_registry_names_match_test_definition.py
  ingestion/tests/unit/test_suite/test_validations.py
  openmetadata-docs/content/openmetadata/ingestion/workflows/data-quality/tests.md
  openmetadata-spec/src/main/resources/json/data/tests/columnValueMaxToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValueMeanToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValueMedianToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValueMinToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValueStdDevToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesLengthsToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesMissingCountToBeEqual.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesSumToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesToBeInSet.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesToBeNotInSet.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesToBeNotNull.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesToBeUnique.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesToMatchRegex.json
  openmetadata-spec/src/main/resources/json/data/tests/columnValuesToNotMatchRegex.json
  openmetadata-spec/src/main/resources/json/data/tests/tableColumnCountToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/tableColumnCountToEqual.json
  openmetadata-spec/src/main/resources/json/data/tests/tableColumnNameToExist.json
  openmetadata-spec/src/main/resources/json/data/tests/tableColumnToMatchSet.json
  openmetadata-spec/src/main/resources/json/data/tests/tableCustomSQLQuery.json
  openmetadata-spec/src/main/resources/json/data/tests/tableRowCountToBeBetween.json
  openmetadata-spec/src/main/resources/json/data/tests/tableRowCountToEqual.json
Labels: data quality

#7479 Fix issue #7234 : Add MlModel filter pattern in UI
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/enums/filterPattern.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#7467 Add unit tests for policies components
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.test.tsx
Labels: UI

#7487 Fix UI Issue : Made Testcase nodata description more descriptive and decrease the ic…
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
Labels: UI

#7463 UI: Added cypress test for Data quality and profiler
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestSuiteScheduler.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
Labels: UI

#7546 Fix #7409 If the airflow service not available we throw IP exception
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: enhancement, UI

#7549 Fix(UI) #7491: Fixed expansion issue for rows in entity tables
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI

#7543 Fix UI : Added check for airflow while creating TestSuite
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
Labels: UI

#7547 Fixed issue Create test suite ingestion pipelines with underscores instead of spaces #7279
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
Labels: UI

#7484 UI: Fix Bots Listing Page is not showing updated name and description
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MSTeams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Slack.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Webhooks.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#7557 UI: Fixed issue: TestSuite descriptions are unable to update and also unable to create a test suite when edit tests permission is given#7507
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
Labels: UI

#7461 Fix(UI) #7403 : Explore page tabs data loading issue
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Labels: UI

#7555 Fixes #7422 - Implement FROM `table` SAMPLE ... for Snowflake sampling
  ingestion/src/metadata/interfaces/sqa_interface.py
  ingestion/src/metadata/orm_profiler/orm/functions/random_num.py
  ingestion/src/metadata/orm_profiler/profiler/sampler.py
Labels: Ingestion, profiler

#7559 Fix#7424: Create Bots on default authorizer init
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-spec/src/main/resources/json/schema/entity/bot.json
Labels: backend

#7556 Fix UI : fix the whole page refresh on switch change in Teams Page
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI

#7590 Fix #7466 UI throws fetch entity count error when there is no data in ElasticSearch
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Labels: UI

#7591 Add Specific Projectid support feature
  ingestion/src/metadata/cli/docker.py
  ingestion/src/metadata/ingestion/source/database/bigquery.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/src/metadata/utils/source_connections.py
Labels: P0, support

#7551 Fix UI : Empty data issue while changing owner in Profiler and DataQuality
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
Labels: UI

#7600 Fix#7519: Fix DOCKER_URL_ROOT value for docker.py
  ingestion/src/metadata/cli/docker.py
Labels: bug, devops

#7615 Fix#7493: Airflow container can not be restarted
  ingestion/ingestion_dependency.sh
Labels: bug, devops

#7583 Fix UI :- Convert CustomProperty html table to antd table
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
Labels: UI

#7593 Fixed issue: Allow users to add to tags during the creation process - P0 - 0.12.1 #7550
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddTags/add-tags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Labels: UI

#7599 Fixes #7309 -- Implement testPlatform filter
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/resources/json/data/tests/tableColumnToMatchSet.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToEqual.json
Labels: backend

#7624 Fix UI : Change tags label to Value and tooltip to it's FQN in Explorer Page
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetTypes.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FilterContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Labels: UI

#7650 Fix UI :- Added platform filter for Custom test definition
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
Labels: UI

#7657 Remove unused imports
  ingestion/src/metadata/clients/fivetran_client.py
  ingestion/src/metadata/config/workflow.py
  ingestion/src/metadata/ingestion/api/sink.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/ometa/superset_rest.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau.py
  ingestion/src/metadata/ingestion/source/database/hive.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/ingestion/source/metadata/amundsen.py
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster.py
  ingestion/src/metadata/orm_profiler/metrics/static/count_in_set.py
  ingestion/src/metadata/orm_profiler/metrics/static/ilike_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/like_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/not_like_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/null_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/sum.py
  ingestion/src/metadata/utils/secrets/external_secrets_manager.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/unit/great_expectations/test_ometa_validation_action.py
  ingestion/tests/unit/profiler/conftest.py
  ingestion/tests/unit/profiler/test_runner.py
  ingestion/tests/unit/source/test_mssql.py
  ingestion/tests/unit/source/test_vertica.py
  ingestion/tests/unit/test_entity_link.py
Labels: Ingestion

#7660 Fix #7630 Roles are not updating in User tab after creation
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: UI

#7658 Fix UI :- Special character issue in column while creating Quality test
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI

#7597 fix(ui): Issues around Add Data Quality Test #7498
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI

#7654 Fix UI :- Pipleine cypress issue
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/pipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.component.tsx
Labels: UI

#7636 Fix UI : Redirect issue after token expiry user login
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
Labels: UI

#7681 Fix #7646 UI: Non-admin user should not be allowed to add a bot
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Labels: UI

#7685 Fixes #7478 -- Added Hive syntax for RAND and PERCENTILE functions
  ingestion/src/metadata/orm_profiler/orm/functions/median.py
  ingestion/src/metadata/orm_profiler/orm/functions/random_num.py
Labels: profiler

#7673 UI Fixed: Styling of adding Related Terms and Synonyms is different #7671
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/SummaryDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI

#7703 Fixed issue : Trailing space in display name and FQN of glossary term is not handled correctly
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Labels: UI

#7706 UI Fixed issue Make columns sortable on Profiler & Data Quality page
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
Labels: UI

#7707 Fix UI : Google login layout style
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#7688 Fix UI :- The redirect issue after silentcallback failure and change Navbar color
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Labels: UI

#7692 UI: Added a switch to show soft deleted teams on team details page
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
Labels: UI

#7698 Fixed issue: Quality tests can not be created if the column names have spaces or special characters #7623
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Labels: UI

#7723 Fix: RedshiftSource’ object has no attribute ‘dbt_manifest’
  ingestion/src/metadata/ingestion/source/database/database_service.py
Labels: bug, Ingestion

#7718 UI: Added cypress tests for soft deleted team checks.
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
Labels: UI

#7714 Updated the docs for issue-#7601 & issue-#4562
  openmetadata-docs/content/quick-start/local-deployment.md
Labels: documentation, P0, devops

#7748 UI: Fixed Failing cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
Labels: UI

#7751 Improve Cypress test coverage Part 1
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TotalCountForTeams&Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
Labels: E2E-testing

#7713 test(ui): cypress tests added for re-run
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshift.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
Labels: UI

#7750 (Feature) UI: Add ability to view and delete "soft-deleted" tests#7728
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCasesTab/TestCasesTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#7744 Fix minor issues with dbt test results ingestion
  ingestion/src/metadata/ingestion/source/database/dbt_source.py
Labels: Ingestion, data quality

#7749 Fixes #7280 - Implements support for BYTEA DType
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/orm_profiler/orm/converter.py
  ingestion/src/metadata/orm_profiler/orm/registry.py
  ingestion/src/metadata/orm_profiler/orm/types/bytea_to_string.py
  ingestion/tests/unit/profiler/custom_types/test_custom_types.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, profiler

#7766 UI: Added recursive param for soft deleting teams.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
Labels: UI

#7776 Fix UI : Create user page along with some styling
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/user.enum.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#7773 UI: Fix failing cypress tests part-2
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TotalCountForTeams&Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
Labels: UI

#7741 Added default volumes
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  docker/run_local_docker.sh
  ingestion/src/metadata/cli/docker.py
Labels: P0, devops

#7788 UI: Fixed redirection issue after refreshing auth token failed
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
Labels: UI

#7785 Fix UI :- Cypress issue for User and Bot creation
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
Labels: UI

#7798 Removed the volume for Database
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  docker/run_local_docker.sh
  ingestion/src/metadata/cli/docker.py
Labels: devops

#7806 Fixed clean function in docker.py
  ingestion/src/metadata/cli/docker.py
Labels: bug

#7807 Fix UI : Fix password validation while creating account
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/error-message.ts
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
Labels: UI

#7799 Fix UI :- Fix saved URL direct after login
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI

#7811 Fix UI :- fix the Password field showing in SSO login
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
Labels: UI

#7816 Fix UI : fix the disabled button click issue
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
Labels: UI

#7808 UI: Fixed issue with suggestion overlay staying after redirection to the result
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
Labels: UI

#7794 Added checks to see if DAG can reach OM
  ingestion/src/metadata/test_suite/api/workflow.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
Labels: data quality
