Repository open-metadata/OpenMetadata, pull requests merged in 2022-04, with the labels that each got.

#3783 Add UI error Handling for Roles and Tags Page
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WebhooksPage/WebhooksPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WebhooksPage/WebhooksPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI, unit-test

#3708 feat: Add Workflow CI for SonarCloud OpenMetadata UI
  .github/workflows/yarn-coverage.yml
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/sonar-project.properties
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: enhancement, UI

#3818 Add unit test for topic and pipeline component
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
Labels: UI, unit-test

#3887 Added error handling test cases for datasetDetailsPage component
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.test.tsx
Labels: unit-test

#3911 UI: Add Unit test for AddWebhook component
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.tsx
Labels: unit-test

#3933 UI: Added unit test for dashboardVersion page
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/dashboardVersion.mock.ts
Labels: unit-test

#4002 UI: Implemented new ui for adding services and adding ingestion
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/circle-checkbox.svg
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConnectionDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/Steps.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/IngestionStepper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/IngestionStepper.css
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/filterPattern.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/react-select-component/ReactSelectMultiInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/react-select-component/ReactSelectMultiInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/react-select-component/reactSelectCustomStyle.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/toggle-switch/ToggleSwitchV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/toggle-switch/ToggleSwitchV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/ingestion.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/enums/filterPattern.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI

#4041 Feat: Added support for deleting Tags and Tags category.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tagAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tagAPI.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#4103 Feat :Add support for hard delete table entity.
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/entity.constants.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ManageUtils.ts
Labels: UI

#4158 UI: New ingestion API for service page
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/ingestion.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#4229 Fix: issue-4220: Airflow throwing error while deploying ingestion dags to airflow
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#4299 Feat: Added new Teams and Users page
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/Form.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/Form.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserList.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/user.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Labels: UI

#4308 Fix issue-4216 Remove Associated Tags field from tags page
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#4342 Feat: Added hard delete support for team & users page
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/DeleteWidgetBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar-old.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/entity.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: UI

#4370 Reverting the list changes into string
  docker/metadata/docker-compose.yml
Labels: support

#4372 Fix markdown editor toolbox icons are bigger compare to write and preview. Doesn't look clean and consistent.
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.css
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.tsx
Labels: UI

#4381 Fix: Glossary and Glossary term page issues.
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Labels: enhancement, UI, ux-improvements

#4380 UI: Revamp Manage Tab UI
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.style.ts
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: enhancement, UI, ux-improvements

#4410 UI Feedback 0.10 Part 1
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListSeparator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
Labels: UI

#4413 Fix issue:- 4384 UI: On Page refresh incorrect button is shown for "Join Team" or "Leave Team"
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
Labels: UI

#4416 UI: Remove dummy text from manage tab
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidget.tsx
Labels: enhancement, UI

#4417 Update Icons for teams, pipeline, dashboard and ingestion.
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dashboard-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ingestion.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/pipeline-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/teams-grey.svg
Labels: enhancement, UI

#4419 Updated 404 page with new UI
  openmetadata-ui/src/main/resources/ui/src/assets/img/404-image.png
  openmetadata-ui/src/main/resources/ui/src/assets/svg/404-number.svg
  openmetadata-ui/src/main/resources/ui/src/pages/page-not-found/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#4420 Fix issue- 4277 No notification after updating the DB connection
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ServiceConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#4432 UI :Add meta information in explore entity cards
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
Labels: enhancement, UI

#4440 Fix issue-4433 Delete action for glossary and teams page redirect to home page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
Labels: UI

#4441 Hot reload module for UI
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Labels: UI

#4472 Fix: Miscellaneous UI issues
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.css
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.tsx
Labels: enhancement, UI

#4474 Updated reviewer section ui for glossary page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetBody.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
Labels: UI

#4524 fix issue-4499:- UI: do not throw error when team list is empty []
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
Labels: bug, UI

#4527 Fixes consumer config
  ingestion/src/metadata/ingestion/source/kafka.py
Labels: support

#4522 Fix issue-4513 UI: Fix error for main branch
  openmetadata-ui/src/main/resources/ui/src/components/Modals/RoleModal/AddRoleModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/react-select-component/ReactSelectMultiInput.tsx
Labels: UI

#4531 fixed issue-4516 UI: Remove popover for ingestion status if there is no details available
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
Labels: UI
