Repository open-metadata/OpenMetadata, pull requests merged in 2022-02, with the labels that each got.

#2587 Bigquery ADC and Policy Tag implementation
  ingestion/setup.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/bigquery.py
  ingestion/src/metadata/ingestion/source/sql_source.py
Labels: P0, Ingestion

#2655 Added check for policy tags
  ingestion/src/metadata/ingestion/source/sql_source.py
Labels: bug

#2659 Issue-969: Superset Lineage Implemented
  ingestion/examples/workflows/superset.json
  ingestion/src/metadata/ingestion/ometa/superset_rest.py
  ingestion/src/metadata/ingestion/source/superset.py
Labels: Ingestion

#2682 Issue-2672: Tableau Package Upgraded
  ingestion/examples/workflows/tableau.json
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/tableau.py
Labels: Ingestion

#2598 Fix for #2597 - added check with column type mapping
  ingestion/src/metadata/ingestion/source/sql_source.py
  ingestion/src/metadata/utils/column_type_parser.py
Labels: bug, P0

#2826 Added Users to TableQueries
  ingestion/src/metadata/ingestion/source/sample_data.py
  ingestion/src/metadata/utils/column_type_parser.py
Labels: Ingestion

#2794 Glossary Entity Added - Ingestion fix
  ingestion/setup.py
  ingestion/src/metadata/ingestion/ometa/mixins/glossary_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
Labels: bug, Ingestion

#2850 Tableau Lineage Implementation
  ingestion/src/metadata/ingestion/source/tableau.py
Labels: Ingestion

#2854 Table Constraints Added - Ingestion
  ingestion/examples/sample_data/datasets/tables.json
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/sql_source.py
Labels: Ingestion

#2885 Extend team to support defaultRoles
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TeamRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/TeamResource.java
  catalog-rest-service/src/main/resources/json/schema/api/teams/createTeam.json
  catalog-rest-service/src/main/resources/json/schema/entity/teams/team.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/teams/TeamResourceTest.java
  ingestion-core/src/metadata/_version.py
Labels: backend

#2893 fix: cherry pick for 0.8.3
  docker/metadata/Dockerfile
  docker/metadata/docker-compose.yml
Labels: P2

#2922 Fix : Roles page is showing blank UI when switching to the users tab.
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesPage.component.tsx
Labels: UI

#2928 Removed ColumnDataTypeDisplay check with ColumnDataType
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/DatabaseUtil.java
Labels: backend

#2933 Added Error Handling in Policy tags - Bigquery
  ingestion/src/metadata/ingestion/source/bigquery.py
Labels: bug, Ingestion

#2955 Fix Okta Authentication and Validation - Ingestion
  ingestion/examples/auth_examples/okta_example.json
  ingestion/setup.py
  ingestion/src/metadata/cmd.py
  ingestion/src/metadata/ingestion/api/workflow.py
  ingestion/src/metadata/ingestion/ometa/auth_provider.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/openmetadata_rest.py
Labels: bug, Ingestion
