Repository open-metadata/OpenMetadata, pull requests merged in 2022-11, with the labels that each got.

#8460 Fixed: Custom property failing cypress test
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/e2e.js
  openmetadata-ui/src/main/resources/ui/cypress/support/get-search-query.command.js
Labels: UI

#8477 Fix UI | Enable 2-finger scroll zoom-in/zoom-out on the Lineage tab#6942
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
Labels: UI

#8474 Fixes #7810 - Allow to only pass min or max
  ingestion/src/metadata/test_suite/validations/column/column_value_max_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_mean_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_median_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_min_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_stddev_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_length_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_sum_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_between.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_be_between.py
  ingestion/src/metadata/utils/test_suite.py
  ingestion/tests/unit/test_suite/test_validations.py
Labels: Ingestion, data quality

#8471 Fix #7802 Differentiate Tags & Glossary Terms
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-viewer/tags-viewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-viewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: enhancement, UI

#8306 UI :- Added restore option for soft deleted Teams
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/teamsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
Labels: UI

#8469 Add Unit tests for data insight component part1
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.test.tsx
Labels: UI, unit-test

#8488 Revert #7292 : Add ConditionalAllow check for Create Operation Permission
  openmetadata-ui/src/main/resources/ui/src/utils/PermissionsUtils.ts
Labels: UI

#8452 feat: add Kinesis connector
  ingestion/setup.py
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/clients/connection_clients.py
  ingestion/src/metadata/examples/workflows/kinesis.yaml
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  ingestion/src/metadata/ingestion/source/messaging/kinesis.py
  ingestion/src/metadata/ingestion/source/messaging/messaging_service.py
  ingestion/src/metadata/utils/connections.py
  ingestion/tests/unit/source/test_kinesis.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/kinesisConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
Labels: hacktoberfest-accepted

#8491 Fix UI(#8467) : Only allow admins to create and update bot and user entities
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/HelperTextUtil.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI

#8498 Fix #8497 Update Table styling
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Labels: UI

#8464 Fixes #8353 - Implement Aggregation Endpoint for dataInsight
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v006__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v006__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DataInsightAggregatorFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DataInsightAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/main/resources/json/data/dataInsight/percentageOfEntitiesWithDescriptionByType.json
  openmetadata-service/src/main/resources/json/data/dataInsight/percentageOfEntitiesWithOwnerByType.json
  openmetadata-service/src/main/resources/json/data/dataInsight/totalEntitiesByTier.json
  openmetadata-service/src/main/resources/json/data/dataInsight/totalEntitiesByType.json
  openmetadata-service/src/main/resources/json/data/metadata/openmetadataMetadata.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dataInsight/DataInsightResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/analytics/webAnalyticEventData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/webAnalyticEventType/pageViewEvent.json
  openmetadata-spec/src/main/resources/json/schema/api/dataInsight/createDataInsightChart.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/dataInisghtChartResult.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/dataInsightChart.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/percentageOfEntitiesWithDescriptionByType.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/percentageOfEntitiesWithOwnerByType.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/totalEntitiesByTier.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/totalEntitiesByType.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
Labels: backend, data insight

#8523 Add: databricks troubleshoot page
  openmetadata-docs/content/connectors/database/databricks/airflow.md
  openmetadata-docs/content/connectors/database/databricks/cli.md
  openmetadata-docs/content/connectors/database/databricks/troubleshooting.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/connectors/databricks/Connection-details.png
  openmetadata-docs/images/openmetadata/connectors/databricks/Generate-token.png
  openmetadata-docs/images/openmetadata/connectors/databricks/Open-create-tocken-page.png
  openmetadata-docs/images/openmetadata/connectors/databricks/Open-sql-warehouse.png
  openmetadata-docs/images/openmetadata/connectors/databricks/select-sql-warehouse.png
Labels: documentation

#8435 feat: add SageMaker connector
  ingestion/setup.py
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/clients/connection_clients.py
  ingestion/src/metadata/examples/workflows/sagemaker.yaml
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker.py
  ingestion/src/metadata/utils/connections.py
  ingestion/tests/unit/source/test_sagemaker.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/mlmodel/sageMakerConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
Labels: hacktoberfest-accepted

#8522 Fix #8490 Wrong message in the required message on Policy page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.tsx
Labels: UI

#8527 Updated the document for docker deployment
  openmetadata-docs/content/deployment/docker/index.md
Labels: documentation, devops

#8524 Fix #7737 (UI) : Changed how entity details are shown in 'My Data' and 'Following' tabs on user details page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/mocks/User.mocks.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#8557 Fix(UI) #8552: Fixed issue with tag removal for columns
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
Labels: UI

#8558 Schedule security scan every Monday at midnight
  .github/workflows/security-scan.yml
Labels: security

#8528 Fixes #8470 - Implements refinement functions for web analytics events
  ingestion/setup.py
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/data_insight/helper/data_insight_es_index.py
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/src/metadata/data_insight/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/web_analytic_entity_view_report_data_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/web_analytic_user_activity_report_data_index_mapping.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/unit/data_insight/test_web_analytic_report_processor.py
  openmetadata-spec/src/main/resources/json/schema/analytics/reportData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/entityReportData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/webAnalyticEntityViewReportData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/webAnalyticUserActivityReportData.json
Labels: Ingestion, data insight

#8564 Fix(UI) #8563: Fixed field name in announcement modal.
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
Labels: UI

#8562 Fix #8540 Session ID does not reset for web analytic
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/@types/web-analytics.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: enhancement, UI

#8516 schema-filter-added-in-datalake-for-bucket
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/tests/unit/topology/database/test_datalake.py
Labels: safe to test

#8526 Fix #8481 (UI): Changed how team assets are shown similar to explore page
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI

#8581 Fixes #8432 - Added bit -> binary column type conversion for mssql
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
Labels: Ingestion

#8566 Fixes 8470 -- Implements ES aggregation for web analytic data
  ingestion/src/metadata/data_insight/helper/data_insight_es_index.py
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/web_analytic_entity_view_report_data_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/web_analytic_user_activity_report_data_index_mapping.py
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DailyActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DataInsightAggregatorFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/PageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/resources/json/data/dataInsight/dailyActiveUsers.json
  openmetadata-service/src/main/resources/json/data/dataInsight/mostActiveUsers.json
  openmetadata-service/src/main/resources/json/data/dataInsight/mostViewedEntities.json
  openmetadata-service/src/main/resources/json/data/dataInsight/pageViewsByEntities.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/dataInsightChart.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/dataInsightChartResult.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/dailyActiveUsers.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/mostActiveUsers.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/mostViewedEntities.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/pageViewsByEntities.json
Labels: backend, data insight

#8591 Feat(UI): Added EntitySummaryPanel in Explore page
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ColumnSummary/ColumnSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ColumnSummary/ColumnSummary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#8599 Feat: UI Added feature to show edge information onClick of edge
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.style.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#8253 feat(ui): update pipeline status UI
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/calendar.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/filter.svg
  openmetadata-ui/src/main/resources/ui/src/components/Execution/Execution.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/Execution.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/TreeViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/tree-view-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/execution.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/executionUtils.tsx
Labels: UI

#8609 Feat: Added Search functionality for lineage
  openmetadata-ui/src/main/resources/ui/src/assets/svg/exit-full-screen.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#8623 Fixes #8135 - Implement partitioning config for profiler
  ingestion/setup.py
  ingestion/src/metadata/interfaces/sqalchemy/mixins/sqa_mixin.py
  ingestion/src/metadata/interfaces/sqalchemy/sqa_profiler_interface.py
  ingestion/src/metadata/orm_profiler/api/models.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/profiler/handle_partition.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/utils/partition.py
  ingestion/tests/unit/profiler/test_profiler_partitions.py
  ingestion/tests/unit/test_partition.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, profiler

#8607 Fix(UI): Explore page bugs
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ColumnSummary/ColumnSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Labels: UI

#8604 Fix(UI) #8549: Fixed issue with URL in the description breaking due to characters limit.
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#8647 (UI) #8513: UI improvements - part 1
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithMarkdownEditor/ModalWithMarkdownEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#8641 Feat #8639 UI : Show charts latest value in data insight overview card and rename datasets to data assets
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DailyActiveUsersChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightDetail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopViewEntities.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI

#8657 Fixes #8473 - Implements KPI Workflow
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/data_insight/runner/kpi_runner.py
  ingestion/src/metadata/data_insight/runner/run_result_registry.py
  ingestion/src/metadata/data_insight/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/ometa/mixins/data_insight_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/unit/data_insight/kpi/test_registry_functions.py
  openmetadata-spec/src/main/resources/json/schema/dataInsight/kpi/basic.json
Labels: backend, data insight

#8660 Fix #8642 Session ID is not unique across users
  openmetadata-ui/src/main/resources/ui/src/@types/web-analytics.d.ts
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/basic-auth.provider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
Labels: UI

#8672 CI - Do not check labels on push
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-tests.yml
  .github/workflows/yarn-coverage.yml
Labels: Ingestion, safe to test

#8670 python fix circular import
  ingestion/src/metadata/data_insight/api/workflow.py
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/gateway/OpenMetadata.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/interceptors/OktaAccessTokenRequestInterceptor.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/Auth0AuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/AzureAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/CustomOIDCAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/GoogleAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/NoOpAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/OktaAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/OpenMetadataAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/factory/AuthenticationProviderFactory.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/interfaces/AuthenticationProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/resources/json/data/metadataService/OpenmetadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
Labels: backend, safe to test

#8667 Fix(UI)#8627: Fixed tour flow failing on step 4
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
Labels: UI, safe to test

#8668 Fix(UI)#8659: Fixed issue with wrong link for custom attributes in activity feed
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#8686 Fixes #8506 Build tag and glossary term cache and use it instead of d…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: backend, safe to test

#8673 Fixed Add Partition Setting in UI for Profiler #8624
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#8690 Simplify EntityRepository store method
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LocationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StorageServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagCategoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebhookRepository.java
Labels: backend, safe to test

#8689 Fixes #8688 Enforce mutuallyExclusive tag labels
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v006__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v006__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LocationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StorageServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagCategoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebhookRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FullyQualifiedName.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/FullyQualifiedNameTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/api/data/createGlossary.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createGlossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/api/tags/createTag.json
  openmetadata-spec/src/main/resources/json/schema/api/tags/createTagCategory.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossary.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/tags/tagCategory.json
Labels: backend, safe to test

#8682 Ingestion Pipeline deployed, Athena tests and pydantic extras
  .github/workflows/py-tests.yml
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v006__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v006__create_db_connection_info.sql
  ingestion/setup.py
  ingestion/src/metadata/utils/source_connections.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
Labels: Ingestion, safe to test

#8692 Added pipelineTypes
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/connectionBasicType.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
Labels: backend, safe to test

#8677 Fix: Filter Datalake empty files
  ingestion/src/metadata/ingestion/source/database/datalake.py
Labels: Ingestion, safe to test

#8635 Fix #8416: Restore Entities after soft delete with all it's old data
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/kpi/KpiResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/locations/LocationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/data/restoreEntity.json
Labels: backend, safe to test

#8502 Docs #8501: Added 0.12 to 0.13 upgrade docs
  openmetadata-docs/content/deployment/backup-restore-metadata.md
  openmetadata-docs/content/deployment/bare-metal/security.md
  openmetadata-docs/content/deployment/docker/security.md
  openmetadata-docs/content/deployment/kubernetes/security.md
  openmetadata-docs/content/deployment/upgrade/docker.md
  openmetadata-docs/content/deployment/upgrade/index.md
  openmetadata-docs/content/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/deployment/upgrade/versions/012-to-013.md
  openmetadata-docs/content/deployment/upgrade/versions/09-to-010.md
  openmetadata-docs/content/deployment/upgrade/versions/index.md
  openmetadata-docs/content/menu.md
Labels: Ingestion, safe to test

#8695 Add restore method for metadata resource
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/AuthenticatorHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/jwt/JWTTokenGenerator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/util/UtilResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/JWTTokenGeneratorTest.java
  openmetadata-spec/src/main/resources/json/schema/auth/basicAuth.json
  openmetadata-spec/src/main/resources/json/schema/auth/generateToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/jwtAuth.json
  openmetadata-spec/src/main/resources/json/schema/auth/revokeToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/ssoAuth.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
Labels: backend, safe to test

#8696 Fix PyMSSQL Version
  ingestion/setup.py
Labels: Ingestion, safe to test

#8674 Add queries in sample data for lineage
  ingestion/examples/sample_data/lineage/lineage.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#8699 Removed User and Test Suite
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
Labels: Ingestion, safe to test

#8702 Fix : Types import issue for JwtAuth and SsoServiceType
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BotsUtils.ts
Labels: UI, safe to test

#8710 Fix #8709: Added lineage workflow docs
  openmetadata-docs/content/connectors/ingestion/workflows/lineage/index.md
  openmetadata-docs/content/connectors/ingestion/workflows/lineage/lineage-workflow-query-logs.md
  openmetadata-docs/content/connectors/ingestion/workflows/usage/index.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/ingestion/workflows/lineage/add-ingestion.png
  openmetadata-docs/images/openmetadata/ingestion/workflows/lineage/configure-lineage-ingestion.png
  openmetadata-docs/images/openmetadata/ingestion/workflows/lineage/scheule-and-deploy.png
  openmetadata-docs/images/openmetadata/ingestion/workflows/lineage/table-entity-page.png
  openmetadata-docs/images/openmetadata/ingestion/workflows/usage/table-entity-page.png
Labels: Ingestion, safe to test

#8697 Fixed Lineage SQL query only visible on click #8628
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/schema-editor/SchemaEditor.tsx
Labels: UI, safe to test

#8711 UI: Fixed UI | Table Detail pane on the Lineage tab doesn't show the column count
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#8666 Updated cypress code and fixed flaky cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityAnnouncement.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MSTeams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Slack.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Webhooks.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#8693 Change GET APIs to PUT apis
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/auth-API.ts
Labels: backend, safe to test

#8703 UI Fixed Deleting the Tier tag category causes UI errors #5849
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Labels: UI, safe to test

#8720 Fix#8577: Bots sensitive passwords fields are stored in secrets store
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SecretsManagerUpdateException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerUpdateService.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AuthenticationMechanismBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSSMSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/ExternalSecretsManagerTest.java
Labels: Ingestion, safe to test

#8716 fix(ui): update default status to empty instead queued
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
Labels: UI, safe to test

#8679 Added support for 'Metadata Services' connectors
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/ingestion.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/mocks/servicePage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MetadataServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#8723 ES reindex Airflow workflow
  ingestion/pipelines/metadata_to_es.json
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/es_reindex.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/registry.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/metadataToElasticSearchPipeline.json
Labels: Ingestion, safe to test

#8731 Fixes #8730 Backend - Support renaming tag category and tag names
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagCategoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
Labels: backend, safe to test

#8734 Fixes #7524 Backend: Allow users to rename the Glossary name and Glos…
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagCategoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createGlossary.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createGlossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: backend, safe to test

#8743 Fix OM_DATABASE env variable name
  openmetadata-docs/content/deployment/docker/index.md
Labels: backend, safe to test

#8729 Data insight workflow
  ingestion/setup.py
  ingestion/src/metadata/utils/constants.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
Labels: Ingestion, safe to test, data insight

#8725 Fix#8577: Ingestion Pipelines sensitive passwords fields are stored in secrets store
  ingestion/src/metadata/utils/dbt_config.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerUpdateService.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/IngestionPipelineBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSSMSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/ExternalSecretsManagerTest.java
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtBucketDetails.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtCloudConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtGCSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtHttpConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtLocalConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtS3Config.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
Labels: Ingestion, safe to test

#8747 Fix Delete API failure issue
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
Labels: UI, safe to test

#8748 fix: Run Maven CI on JSON Schema Changes
  .github/workflows/maven-build.yml
Labels: devops, safe to test

#8751 UI: Fixed Selection option for new node is not visible issue
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#8776 Fixes Backend : KPI patch API is not working #8774
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
Labels: backend, safe to test

#8694 Dl Profiler
  ingestion/src/metadata/data_insight/runner/run_result_registry.py
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/interfaces/datalake/__init__.py
  ingestion/src/metadata/interfaces/datalake/datalake_profiler_interface.py
  ingestion/src/metadata/interfaces/profiler_protocol.py
  ingestion/src/metadata/interfaces/sqalchemy/mixins/sqa_mixin.py
  ingestion/src/metadata/interfaces/sqalchemy/sqa_profiler_interface.py
  ingestion/src/metadata/interfaces/sqalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/metrics/core.py
  ingestion/src/metadata/orm_profiler/metrics/datalake_metrics_computation_registry.py
  ingestion/src/metadata/orm_profiler/metrics/sqa_metrics_computation_registry.py
  ingestion/src/metadata/orm_profiler/metrics/static/column_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/column_names.py
  ingestion/src/metadata/orm_profiler/metrics/static/count.py
  ingestion/src/metadata/orm_profiler/metrics/static/count_in_set.py
  ingestion/src/metadata/orm_profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/max.py
  ingestion/src/metadata/orm_profiler/metrics/static/max_length.py
  ingestion/src/metadata/orm_profiler/metrics/static/mean.py
  ingestion/src/metadata/orm_profiler/metrics/static/min.py
  ingestion/src/metadata/orm_profiler/metrics/static/min_length.py
  ingestion/src/metadata/orm_profiler/metrics/static/null_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/row_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/stddev.py
  ingestion/src/metadata/orm_profiler/metrics/static/sum.py
  ingestion/src/metadata/orm_profiler/metrics/static/unique_count.py
  ingestion/src/metadata/orm_profiler/metrics/window/median.py
  ingestion/src/metadata/orm_profiler/orm/converter.py
  ingestion/src/metadata/orm_profiler/orm/registry.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/src/metadata/orm_profiler/profiler/datalake_sampler.py
  ingestion/src/metadata/orm_profiler/profiler/sampler.py
  ingestion/src/metadata/utils/ansi.py
  ingestion/src/metadata/utils/gcs_utils.py
  ingestion/src/metadata/utils/logger.py
  ingestion/src/metadata/utils/s3_utils.py
  ingestion/src/metadata/utils/workflow_output_handler.py
  ingestion/tests/integration/orm_profiler/test_converter.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  ingestion/tests/unit/profiler/test_converter.py
  ingestion/tests/unit/profiler/test_metrics.py
  ingestion/tests/unit/profiler/test_profiler.py
  ingestion/tests/unit/profiler/test_sample.py
  ingestion/tests/unit/profiler/test_sqa_profiler_interface.py
  ingestion/tests/unit/profiler/test_workflow.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/datalakeConnection.json
Labels: Ingestion, safe to test

#8761 Fix data insight bugs
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/src/metadata/data_insight/runner/kpi_runner.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/utils/time_utils.py
  ingestion/tests/unit/test_time_utils.py
Labels: Ingestion, safe to test, data insight

#8740 Fixes #7569 - Adding Reviewers at the root of the Glossary should be …
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: backend, safe to test

#8782 Fixes #8701 Unable to add condition for matchAnyTags condition policy…
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Labels: backend, safe to test

#8700 UI : Change the popover to hover on Type in table entity
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
Labels: UI, safe to test

#8759 Fix: Added metadata service
  ingestion/src/metadata/clients/connection_clients.py
  ingestion/src/metadata/ingestion/source/metadata/amundsen.py
  ingestion/src/metadata/utils/connections.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
Labels: Ingestion, safe to test

#8768 #8752 Fix Kpi Should not be allowed to be created before current date
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/KpiAPI.ts
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
Labels: UI, safe to test, data insight

#8777 UI : Fix the scrolling issue on ui and recent view item alignment issue
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/entity.less
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayoutV1.tsx
Labels: UI, safe to test

#8791 Trigger maven and py-tests on all PRs
  .github/workflows/maven-build.yml
  .github/workflows/py-tests.yml
Labels: Ingestion, safe to test

#8779 Fixed: Whatsnew modal issue in custom property spec
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Labels: UI, safe to test

#8767 fix(ui): remove teams root route and redirect it to Organization
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
Labels: UI, safe to test

#8793 Fix #8698 - Improve ES logging
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
Labels: Ingestion, safe to test

#8797 Fix KPI Check and ES deletion logic
  ingestion/src/metadata/data_insight/api/workflow.py
Labels: Ingestion, safe to test, data insight

#8764 Fix #8661 - Add Custom Connector docs
  openmetadata-docs/content/connectors/custom-connectors.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/connectors/custom-connector.png
Labels: Ingestion, safe to test

#8802 Fix #8800: Fixed filterpattern and lineage for Redash
  ingestion/src/metadata/ingestion/source/dashboard/redash.py
Labels: Ingestion, safe to test

#8804 Added Ldap Authentication Documentation
  openmetadata-docs/content/deployment/bare-metal/security.md
  openmetadata-docs/content/deployment/docker/security.md
  openmetadata-docs/content/deployment/kubernetes/security.md
  openmetadata-docs/content/deployment/security/basic-auth/index.md
  openmetadata-docs/content/deployment/security/ldap/index.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/deployment/security/ldap/Ldap_ScreenShot1.png
Labels: backend, safe to test

#8810 ISSUE-8785: Fix rich-text-editor autofocus problem
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.tsx
Labels: safe to test

#8757 Fix(UI) #8727: Worked on improvements in Data Insight Ingestion step
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm/EsConfigFieldLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm/MetadataToESConfigForm.less
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm/MetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/ingestion.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#8815 On init the auth provider 'openmetadata' must generate a JWT token if not present on config
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
Labels: Ingestion, safe to test

#8817 Fix e2e test and add slack alert
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#8803 Cypress: Skip the flaky profiler test and added API wait time for services
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
Labels: UI, safe to test

#8819 Remove count logic in custom sql test
  ingestion/src/metadata/test_suite/validations/table/table_custom_sql_query.py
  openmetadata-docs/content/connectors/ingestion/workflows/data-quality/tests.md
Labels: Ingestion, data quality, safe to test

#8749 UI : Added missing connector icons
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-amundsen.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-atlas.svg
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-domo.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-kinesis.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-nifi.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-quicksight.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-sagemaker.png
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#8820 Fix e2e workflow indentation
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#8824 Fixes #8821 Inherit ownership from parent container when creating chi…
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: backend, safe to test

#8739 Fix #8738: Improve Search Relevancy
  ingestion/pipelines/sample_data.yaml
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/dashboard_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/mlmodel_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/pipeline_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/table_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/tag_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/topic_search_index_mapping.py
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/user_index_mapping.json
Labels: backend, safe to test

#8826 Fixes #2254 Tag usage count is incorrect when a tag name is a prefix of another tag name
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
Labels: backend, safe to test

#8822 Cypress: Updated condition for service page
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
Labels: UI, safe to test

#8760 fix(ui): persist pagination on explore page when user hit back on browser
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearch.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FilterUtils.ts
Labels: UI, safe to test

#8805 Fix #8750: Superset Owner Fix
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/superset.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau.py
Labels: Ingestion, safe to test

#8812 Fix #8559: Skipping DBT analysis nodes
  ingestion/src/metadata/ingestion/source/database/dbt_source.py
Labels: Ingestion, safe to test

#8833 E2E workflow continue on fail
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#8240 Fixed streamLoading bug
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
Labels: safe to test

#8708 Fix: Changes in bigquey for project-id
  ingestion/examples/sample_data/datasets/service.json
  ingestion/src/metadata/ingestion/source/database/bigquery.py
  ingestion/src/metadata/utils/connections.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/src/metadata/utils/source_connections.py
  ingestion/tests/unit/test_credentials.py
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcsCredentials.json
Labels: Ingestion, safe to test

#8832 Fixed UI: Lineage exit full screen is not working for pipeline entity #8831
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/pipeline.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
Labels: UI, safe to test

#8806 Fix #8794 - Separate DL requirements and lazy imports
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/interfaces/datalake/datalake_profiler_interface.py
  ingestion/src/metadata/orm_profiler/metrics/core.py
  ingestion/src/metadata/orm_profiler/metrics/datalake_metrics_computation_registry.py
  ingestion/src/metadata/orm_profiler/metrics/static/max_length.py
  ingestion/src/metadata/orm_profiler/metrics/static/mean.py
  ingestion/src/metadata/orm_profiler/metrics/static/min_length.py
  ingestion/src/metadata/orm_profiler/orm/registry.py
  ingestion/src/metadata/orm_profiler/profiler/datalake_sampler.py
  openmetadata-docs/content/connectors/database/datalake/airflow.md
  openmetadata-docs/content/connectors/database/datalake/cli.md
Labels: Ingestion, safe to test

#8807 UI: Explore page UI improvements
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardTitle.less
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.less
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#8837 Skip the flaky glossary test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
Labels: UI, safe to test

#8838 Fix and add Workflow Failures
  ingestion/src/metadata/test_suite/api/workflow.py
Labels: Ingestion, safe to test

#8811 UI : Disabe the test connection of Openmetadata in Metadata service and change Metadata service icon
  openmetadata-ui/src/main/resources/ui/src/assets/svg/metadata.svg
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#8808 Fix #8658: Redshift Data Type Incorrect
  ingestion/src/metadata/ingestion/source/database/redshift.py
Labels: Ingestion, safe to test

#8801 Fix #8754 UI : Data Insight report improvements
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPILatestResults.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
Labels: UI, safe to test

#8839 FIx: 'get_table_entities_from_query' try with uppercase table name
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Labels: Ingestion, safe to test

#8840 Cypress Fixed failing glossary and recently searched term test
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
Labels: UI, safe to test

#8788 Updated the host volume for Docker deployment section
  openmetadata-docs/content/deployment/docker/index.md
Labels: documentation, P0, devops, safe to test

#8771 Add secrets manager documentation back
  openmetadata-docs/content/deployment/secrets-manager/how-to-add-a-new-implementation/index.md
  openmetadata-docs/content/deployment/secrets-manager/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/aws-secrets-manager/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/aws-ssm-parameter-store/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/index.md
  openmetadata-docs/content/menu.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/secretsManagerProvider.json
Labels: documentation, Ingestion, safe to test

#8847 Fix: minor fix on text sent into slack when E2E fails
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#8849 Add Pylint print checker and py-checkstyle as required
  .github/workflows/py-checkstyle.yml
  .pylintrc
  Makefile
  ingestion/plugins/README.md
  ingestion/plugins/__init__.py
  ingestion/plugins/print_checker.py
  ingestion/src/metadata/utils/ansi.py
  ingestion/src/metadata/utils/time_utils.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/unit/data_insight/kpi/test_registry_functions.py
  ingestion/tests/unit/source/test_sagemaker.py
Labels: Ingestion, safe to test

#7968 Entity timeseries table missing index on entityFQN causing slower queries
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v006__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v006__create_db_connection_info.sql
Labels: backend, safe to test

#8844 UI : fix the missing special character in TableEntity type column
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
Labels: UI, safe to test

#8861 Fix Great Expectation Import Error
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/utils/ansi.py
Labels: Ingestion, safe to test

#8853 Fixes #8408 - added logic for modulo function for pyodbc driver
  ingestion/src/metadata/orm_profiler/orm/functions/median.py
  ingestion/src/metadata/orm_profiler/orm/functions/modulo.py
Labels: Ingestion, profiler, safe to test

#8863 Centralise Component Config definition
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/es_reindex.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: Ingestion, safe to test

#8813 UI #8513: UI Improvements - 0.13 - part 2
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/usersList.less
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#8869 Fix #8868: Support `json.gz` files for datalake
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/utils/gcs_utils.py
  ingestion/src/metadata/utils/s3_utils.py
Labels: Ingestion, safe to test

#8818 Fix#8728: Review sensitive data not marked as password in the JSON schemas
  ingestion/src/metadata/ingestion/ometa/auth_provider.py
  ingestion/src/metadata/utils/secrets/aws_based_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_ssm_secrets_manager.py
  ingestion/src/metadata/utils/secrets/external_secrets_manager.py
  ingestion/src/metadata/utils/secrets/noop_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/integration/ometa/test_ometa_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSBasedSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSSMSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/ExternalSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/InMemorySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/NoopSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSSMSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/ExternalSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/NoopSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerFactoryTest.java
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/datalakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/atlasConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/domopipelineConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/client/auth0SSOClientConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/client/azureSSOClientConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/client/customOidcSSOClientConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/client/googleSSOClientConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/client/oktaSSOClientConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/secrets/secretsManagerProvider.json
Labels: Ingestion, safe to test

#8872 Add Doc around windows installation
  openmetadata-docs/content/quick-start/local-deployment.md
Labels: Ingestion, safe to test

#8870 add docs around passing of private key
  openmetadata-docs/content/deployment/security/okta/docker.md
Labels: Ingestion, safe to test

#8862 Fixed Remove StartDate on Pipeline UI #8860
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EditEntityLineage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
Labels: UI, safe to test

#8871 UI : Add Feedback text for kpi
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPILatestResults.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#8864 UI : Encoded the fqn name on Node expand for lineage api endpoint
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#8877 fix(ui): advance search style updates
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/react-awesome-query.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
Labels: UI, safe to test

#8722 Added host volumes for Database service
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/maven-build.yml
  .github/workflows/py-tests.yml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  docker/run_local_docker.sh
  ingestion/src/metadata/cli/docker.py
Labels: bug, P0, devops, safe to test

#8851 Fix: ignored query with om-version and dbt
  ingestion/src/metadata/clients/databricks_client.py
  ingestion/src/metadata/ingestion/source/database/databricks_lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks_usage.py
Labels: Ingestion, safe to test

#8843 Fix: Updated docs for domo bigquery
  openmetadata-docs/content/connectors/dashboard/index.md
  openmetadata-docs/content/connectors/database/bigquery/airflow.md
  openmetadata-docs/content/connectors/database/bigquery/cli.md
  openmetadata-docs/content/connectors/database/bigquery/index.md
  openmetadata-docs/content/connectors/database/domo-database/troubleshoot.md
  openmetadata-docs/content/connectors/database/index.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/connectors/bigquery/multiple-project-id.png
  openmetadata-docs/images/openmetadata/connectors/bigquery/service-connection.png
  openmetadata-docs/images/openmetadata/connectors/domodatabase/access-token.png
  openmetadata-docs/images/openmetadata/connectors/domodatabase/client-id.png
  openmetadata-docs/images/openmetadata/connectors/domodatabase/scopes.jpeg
Labels: Ingestion, safe to test

#8882 Added Task Types for DataInsight and ES Reindex
  openmetadata-service/src/main/java/org/openmetadata/service/airflow/AirflowRESTClient.java
Labels: backend, safe to test

#8881 fix(ui): activity-feed popover position issue
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
Labels: UI, safe to test

#8894 Fix: Downgrade version of wait-on-check-action to 1.0.0
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-tests.yml
  .github/workflows/yarn-coverage.yml
Labels: Ingestion, safe to test

#8678 Add: JWT validation and GKE troubleshooting
  openmetadata-docs/content/deployment/kubernetes/gke-troubleshooting.md
  openmetadata-docs/content/deployment/security/jwt-troubleshooting.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/deployment/troubleshoot/dag-log.png
  openmetadata-docs/images/deployment/troubleshoot/jwt-token.png
  openmetadata-docs/images/deployment/troubleshoot/jwt-validation.png
  openmetadata-docs/images/deployment/troubleshoot/permission-pod-events.png
Labels: documentation, Ingestion, safe to test

#8895 Fix upgrade issues with new bot role feature
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
Labels: backend, safe to test

#8827 Fix #8676: Getting all entity data along with deleted one even if sho…
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
Labels: backend, safe to test

#8883 UI #8513: Activity feed filter UI improvements
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-all-application-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-comment-grey-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-folder-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-mentions-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-task-primary.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/svgconstant.tsx
Labels: UI, safe to test

#8887 UI : Improve pipeline execution tree view
  openmetadata-ui/src/main/resources/ui/src/components/Execution/Execution.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/TreeViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/tree-view-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/executionUtils.tsx
Labels: UI, safe to test

#8890 UI :- Change explore left panel to old style ui
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FilterContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/facetFilter.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#8889 UI #8513: UI improvements 0.13 Part-3
  openmetadata-ui/src/main/resources/ui/src/assets/svg/vector.svg
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/TreeViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.less
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#8891 Fix openmetadata connection migration
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v006__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v006__create_db_connection_info.sql
Labels: Ingestion, safe to test

#8865 Added File Types in Datalake Docs
  openmetadata-docs/content/connectors/database/datalake/airflow.md
  openmetadata-docs/content/connectors/database/datalake/cli.md
  openmetadata-docs/content/connectors/database/datalake/index.md
Labels: Ingestion, safe to test
