Repository open-metadata/OpenMetadata, pull requests merged in 2022-07, with the labels that each got.

#5816 Fixed: Team & Users page is stuck at loading on trying to join the team
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/AnchorDropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
Labels: UI

#5844 Fix#5843 UI : Do not show the request description icon in entities that has no support for tasks yet
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#5854 Fix #5471 Creating a tag with an illegal character prevents utilizing the tagging system until manually removed
  openmetadata-ui/src/main/resources/ui/src/components/Modals/FormModal/index.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#5853 Fix: issue 5645: UI feedback 0.11
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
Labels: UI

#5861 Fixed Column level lineage issue #5825
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Labels: UI

#5884 Feat: UI button to pause/unpause ingestion pipeline executions
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/IngestionStepper.css
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI

#5904 Fix #5857 Add icon for foreign key constraint
  openmetadata-ui/src/main/resources/ui/src/assets/svg/foriegnKey.svg
  openmetadata-ui/src/main/resources/ui/src/enums/table.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI

#5929 ✨ UI: Display a switch to show Closed Tasks vs Open Tasks
  openmetadata-ui/src/main/resources/ui/src/assets/svg/complete.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/in-progress.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: new feature, UI

#5950 Fix #5926 Missing downstream in pipeline task view
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TaskNode.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.tsx
Labels: UI

#5963 Fix #5809 Show count of schemas and tables being deleted when a database service is being deleted.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#5970 Fix #5968 Airbyte logo is missing
  openmetadata-ui/src/main/resources/ui/src/assets/img/Airbyte.png
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#5953 Fixed#5951: Not getting EntityReference Object in lineage edge for pipeline
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/LineageRepository.java
Labels: backend

#5975 Fixed issue-5897: UI: Tags usage link is broken
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
Labels: UI

#5992 Fixed issue 5981 UI: Add Team button doesn't work in the users page
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
Labels: UI

#5862 ✨ Activity Feed: Show "Request Tag" button for Tags
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ClosedTask.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ColumnDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/CommentModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTask.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/EntityDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsTask.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskStatus.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: new feature, UI

#6060 Fix #5880 Validate Airflow connection in Test Connection button
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
Labels: UI

#6040 Fix #6012 Pass clean 'name' to Airflow ingestion pipeline
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/Steps.interface.ts
Labels: UI

#5925 Fix #5915: Implementation of AWS Secret Manager
  .pre-commit-config.yaml
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplicationConfig.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/ServiceConnectionEntityInterface.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/ServiceEntityInterface.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/exception/SecretsManagerException.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/fernet/Fernet.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DashboardServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DatabaseServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MessagingServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MlModelServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PipelineServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/ServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/CollectionRegistry.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/dashboard/DashboardServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/database/DatabaseServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/messaging/MessagingServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/mlmodel/MlModelServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerConfiguration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerFactory.java
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/dashboardService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/databaseService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/messagingService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/mlmodelService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/pipelineService.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/DashboardServiceResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/LocalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/SecretsManagerFactoryTest.java
  catalog-rest-service/src/test/resources/openmetadata-secure-test.yaml
  conf/openmetadata.yaml
  openmetadata-core/src/main/java/org/openmetadata/core/entity/interfaces/ServiceConnectionEntityInterface.java
  openmetadata-core/src/main/java/org/openmetadata/core/entity/interfaces/ServiceEntityInterface.java
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-core/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/pipelineService.json
Labels: Ingestion, backend

#6039 ✨ Activity Feed: Show "Request Tag" button for table column Tags
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
Labels: new feature, UI

#6082 Fix #5954 Improper line breaks cuts words in half
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
Labels: enhancement, UI, ux-improvements

#6083 Fix #6079 MlModel UI - Dashboard Undefined
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
Labels: UI

#6124 Fix #6115 UI : Getting `Invalid field name policyUrl` on the roles page
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesPage.component.tsx
Labels: UI

#6096 ✨ UI: Request/update tag should be created as a task
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsDiffView.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsTask.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: new feature, UI

#6116 Fix #6020: Doc migration - Dev & SDK
  openmetadata-docs/content/developers/architecture/code-layout.md
  openmetadata-docs/content/developers/architecture/design.md
  openmetadata-docs/content/developers/architecture/index.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/cypress-integration-tests.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/generate-typescript-types-from-json-schema.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/index.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/ingestion-framework.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/openmetadata-server.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/openmetadata-ui.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-docs/content/developers/contribute/index.md
  openmetadata-docs/content/developers/contribute/ux-style-guide.md
  openmetadata-docs/content/developers/open-source-community.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/content/sdk/index.md
  openmetadata-docs/content/sdk/java/index.md
  openmetadata-docs/content/sdk/python/build-connector/bulk-sink.md
  openmetadata-docs/content/sdk/python/build-connector/index.md
  openmetadata-docs/content/sdk/python/build-connector/sink.md
  openmetadata-docs/content/sdk/python/build-connector/source.md
  openmetadata-docs/content/sdk/python/build-connector/stage.md
  openmetadata-docs/content/sdk/python/entities/index.md
  openmetadata-docs/content/sdk/python/entities/ml-model-skd.md
  openmetadata-docs/content/sdk/python/entities/ml-model.md
  openmetadata-docs/content/sdk/python/index.md
  openmetadata-docs/content/sdk/python/ingestion/dbt.md
  openmetadata-docs/content/sdk/python/ingestion/index.md
  openmetadata-docs/images/developers/architecture/api-container-diagram.png
  openmetadata-docs/images/developers/architecture/architecture.png
  openmetadata-docs/images/developers/architecture/post-call-api.png
  openmetadata-docs/images/developers/architecture/put-call-api.png
  openmetadata-docs/images/developers/architecture/system-and-components.png
  openmetadata-docs/images/developers/architecture/system-context-diagram.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/cypress-screenshot.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-add-dependencies.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-catalog-rest-service.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-dependencies.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-jersey-dependency.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-library.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-open-settings.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-runtime-config.png
  openmetadata-docs/images/developers/contribute/fork-github-project.png
  openmetadata-docs/images/developers/contribute/github-issues.png
  openmetadata-docs/images/developers/contribute/new-pr.png
  openmetadata-docs/images/developers/contribute/open-pr.png
  openmetadata-docs/images/developers/contribute/select-fork-branch.png
  openmetadata-docs/images/developers/contribute/ux-style.png
  openmetadata-docs/images/developers/open-source-community.png
  openmetadata-docs/images/sdk/python/ingestion/extracting-dbt-data.png
Labels: documentation, migration

#5891 Pipeline lineage edge UI
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/LineageRepository.java
  catalog-rest-service/src/main/resources/json/schema/type/entityLineage.json
  ingestion/examples/sample_data/lineage/lineage.json
  ingestion/src/airflow_provider_openmetadata/lineage/utils.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow.py
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/AddPipeLineModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, Ingestion, Lineage-Editor

#6144 Fixes issue related to tags page
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#6153 Fixed issue Team listing is not scrollable when creating the user
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
Labels: UI

#6155 ✨ Ingestion Pipeline Logs from UI
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionLogsModal/IngestionLogsModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionLogsModal/IngestionLogsModal.tsx
Labels: new feature, UI

#6151 Add unit tests for task page components
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ClosedTask.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ClosedTask.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ColumnDetail.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ColumnDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskPageLayout.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskPageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskStatus.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskStatus.tsx
Labels: UI

#6187 Fix #6175 UI : show "Close with comment" for task creator, assignees, owners and admins
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
Labels: UI

#6128 Fix#5924: Implement secret manager for Airflow REST Plugin
  .coveragerc
  .github/workflows/py-tests-3_7.yml
  .github/workflows/py-tests-3_8.yml
  .github/workflows/py-tests-3_9.yml
  .gitignore
  Makefile
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  ingestion/airflow.cfg
  ingestion/examples/airflow/airflow.cfg
  ingestion/setup.py
  ingestion/sonar-project.properties
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/secrets_manager.py
  ingestion/src/metadata/utils/singleton.py
  ingestion/tests/integration/ometa/test_ometa_api.py
  ingestion/tests/unit/metadata/utils/__init__.py
  ingestion/tests/unit/metadata/utils/test_secrets_manager.py
  openmetadata-airflow-apis/src/openmetadata/workflows/ingestion/common.py
  openmetadata-airflow-apis/src/openmetadata/workflows/ingestion/credentials_builder.py
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Labels: Ingestion

#6192 Add unit tests for task page components
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/CommentModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/CommentModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffView.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsDiffView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsDiffView.tsx
Labels: UI

#6209 Fix #6202 UI : Explore page card should show unique tags
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
Labels: UI

#6226 Fix softDelete should not sent hardDelete true
  openmetadata-ui/src/main/resources/ui/src/constants/entity.constants.ts
Labels: UI

#6229 Add unit test for task page components part-2
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTask.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/EntityDetail.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsTabs.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsTabs.tsx
Labels: UI, unit-test

#6243 Fix #6242 Handle Pipeline without tasks on Pipeline view
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
Labels: UI

#6271 UI: Global setting page
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSetting.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSetting.less
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSetting.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingPage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI

#6275 ✨ UI : Update Markdown Parser
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/markdown.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/EditorToolBar.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.less
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: new feature

#6150 Added E2E test for delete service work flow
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/redshift.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/src/styles/index.js
Labels: UI, Cypress

#6327 Fix #6320 UI : Update Entity Versions Markdown Parser
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI

#6323 ✨ feat UI : kill endpoint for IngestionPipeline
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/KillIngestionPipelineModal/KillIngestionModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/KillIngestionPipelineModal/KillIngestionPipelineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: new feature, UI

#6361 feature: allow configuration of dbt s3 from the UI without AWS credentials
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTFormConstants.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
Labels: UI

#6381 UI: Added custom property pages into global settings
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPage/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
Labels: UI

#6350 ✨ UI : Add custom properties support for all entities
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicDetailsUtils.ts
Labels: new feature, UI

#6399 Fix #6356 Clicking tasks on My Tasks should open up the task details
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/ActivityFeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/SendButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.jsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reaction.jsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.jsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
Labels: UI, ux-improvements

#6401 Fix #6397 UI : Override markdown parser default stylings
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.less
Labels: enhancement, UI

#6430 Fix: detected high severity vulnerabilities by Snyk
  catalog-rest-service/pom.xml
  common/pom.xml
  openmetadata-core/pom.xml
  pom.xml
Labels: security

#6431 Fix #4391 UI : Use user API to get owns and following data on home page.
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
Labels: enhancement, UI

#6429 UI: Added users and admin page to global settings menu
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-restore.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/usersList.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI
