Repository open-metadata/OpenMetadata, pull requests merged in 2022-10, with the labels that each got.

#7817 UI: Fix for #7791
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
Labels: UI

#7796 Fix bot creation and edition logic
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/secrets/external_secrets_manager.py
  ingestion/src/metadata/utils/secrets/noop_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_based_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_ssm_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_noop_secrets_manager.py
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/InMemorySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/NoopSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerMigrationService.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/ThirdPartySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataServerConnectionBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/validators/AirflowConfigValidation.java
  openmetadata-service/src/test/java/org/openmetadata/service/fixtures/ConfigurationFixtures.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/bots/BotResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/teams/createUser.json
  openmetadata-spec/src/main/resources/json/schema/entity/bot.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Labels: Ingestion, backend

#7818 Added information for airflow migration and upgrade
  openmetadata-docs/content/deployment/upgrade/versions/011-to-012.md
Labels: documentation

#7832 Fix #7801: Fixed Glue Pipeline
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v005__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v005__create_db_connection_info.sql
  ingestion/src/metadata/examples/workflows/glue_pipeline.yaml
  ingestion/src/metadata/ingestion/source/pipeline/glue_pipeline.py
  ingestion/src/metadata/utils/connections.py
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/gluePipelineConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
Labels: hacktoberfest

#7813 Fixed mysql BLOB type when ingesting sample data
  ingestion/src/metadata/orm_profiler/orm/converter.py
Labels: profiler

#7771 Feat ✨ #7770 UI : Allow user to edit botUser Details on Bot profile page.
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/botsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanism.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/HelperTextUtil.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/BotDetailsPage/BotDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotDetailsPage/BotDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BotsUtils.ts
Labels: new feature, hacktoberfest, UI

#7866 Fix: Entity Announcement Cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
Labels: hacktoberfest, E2E-testing

#7837 Add: Doc for restore CLI
  openmetadata-docs/content/deployment/upgrade/backup-metadata.md
Labels: documentation

#7831 Added util command to overwrite dag_generated_config path in DAG file
  ingestion/src/metadata/cli/openmetadata_imports_migration.py
  ingestion/src/metadata/cmd.py
  ingestion/tests/unit/metadata/cli/test_openmetadata_imports_migration.py
Labels: migration

#7876 UI Fixed issue Spaces in test suite name should not be allowed #7872
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
Labels: UI

#7875 Fix UI :- Glossary default item after clicking from list to navigation
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: hacktoberfest, UI

#7885 Fix #7881 Tag page throws 404 for tierTag when upgrading from 0.11.5 to 0.12.1
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: hacktoberfest, hacktoberfest-accepted

#7891 Update Docker upgrade doc
  openmetadata-docs/content/deployment/docker/index.md
  openmetadata-docs/content/deployment/docker/volumes.md
  openmetadata-docs/content/deployment/upgrade/docker.md
  openmetadata-docs/content/deployment/upgrade/versions/011-to-012.md
Labels: documentation

#7896 Doc: Add bot configurations for SSO after 0.12.1
  openmetadata-docs/content/deployment/security/google/bare-metal.md
  openmetadata-docs/content/deployment/security/google/docker.md
  openmetadata-docs/content/deployment/security/google/kubernetes.md
  openmetadata-docs/content/deployment/upgrade/versions/011-to-012.md
  openmetadata-docs/images/deployment/security/google/click-bot.png
  openmetadata-docs/images/deployment/security/google/configure-bot.png
  openmetadata-docs/images/deployment/security/google/select-google-sso.png
Labels: documentation

#7882 Fix(UI): Loader not shown while fetching permissions on teams page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
Labels: UI

#7907 Updated OpenMetadata UI Readme with getting started steps
  openmetadata-ui/src/main/resources/ui/README.md
Labels: hacktoberfest, hacktoberfest-accepted

#7917 Docs: Temporary remove of secrets manager docs
  openmetadata-docs/content/deployment/secrets-manager/how-to-add-a-new-implementation/index.md
  openmetadata-docs/content/deployment/secrets-manager/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/aws-secrets-manager/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/aws-ssm-parameter-store/index.md
  openmetadata-docs/content/deployment/secrets-manager/supported-implementations/index.md
  openmetadata-docs/content/menu.md
Labels: documentation

#7929 Doc #7921 : Add How to guide for running ingestion pipeline with basic auth
  openmetadata-docs/content/how-to-guides/cli-ingestion-with-basic-auth/index.md
  openmetadata-docs/content/how-to-guides/teams-and-users/how-to-organise-teams-and-users.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/cli-ingestion-with-basic-auth/bot-list.png
  openmetadata-docs/images/cli-ingestion-with-basic-auth/bot-token.png
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#7933 E2E #7930 : Add E2E test for newly added bots feature
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
Labels: E2E-testing, hacktoberfest-accepted

#7935 Fix Bigquery ADC diff projectid
  ingestion/src/metadata/utils/source_connections.py
Labels: hacktoberfest, Ingestion, support

#7920 Fix #7911 -- Trino profiler query
  ingestion/src/metadata/orm_profiler/orm/functions/median.py
  ingestion/src/metadata/orm_profiler/orm/functions/modulo.py
Labels: profiler

#7926 Fix UI :- Added Ellipses in tags
  openmetadata-ui/src/main/resources/ui/src/components/tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Labels: UI

#7959 Redshift constrain error
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/test_helpers.py
Labels: Ingestion

#7973 Removes support database for Trino Connection
  ingestion/src/metadata/test_suite/api/workflow.py
Labels: Ingestion

#7894 Fix UI : Explorer Request and Update tags form
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
Labels: hacktoberfest, UI

#7982 Fix #7957 Table with FK and PK only display PK label in schema tab
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI

#7977 Fix #7510 UI permission denied to edit lineage on Topics
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EditEntityLineage.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
Labels: UI

#7986 Update: update note in mysql doc
  openmetadata-docs/content/connectors/database/mysql/index.md
Labels: documentation

#7958 Doc: Add missing docs for Bots configuration
  .github/workflows/sync-docs.yml
  openmetadata-docs/content/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/deployment/security/auth0/docker.md
  openmetadata-docs/content/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/deployment/security/azure/docker.md
  openmetadata-docs/content/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/deployment/security/custom-oidc/bare-metal.md
  openmetadata-docs/content/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/deployment/security/google/bare-metal.md
  openmetadata-docs/content/deployment/security/google/docker.md
  openmetadata-docs/content/deployment/security/google/kubernetes.md
  openmetadata-docs/content/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/deployment/security/keycloak/docker.md
  openmetadata-docs/content/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/deployment/security/okta/docker.md
  openmetadata-docs/content/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/deployment/security/one-login/docker.md
  openmetadata-docs/content/deployment/security/one-login/kubernetes.md
  openmetadata-docs/content/how-to-guides/feature-configurations/bots.md
  openmetadata-docs/content/how-to-guides/feature-configurations/index.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/click-bot.png
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/configure-bot.png
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/select-google-sso.png
Labels: documentation

#7988 chore (#7373) UI : Remove momentjs and use luxon
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/authentication/authenticators/GoogleAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExecutionStrip/ExecutionStrip.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BotsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, ui-config

#8016 Fix #6346 UI - convert all cron editor jsx file to tsx file
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CronUtils.ts
Labels: UI

#8047 Remove UserRepository constructor which could cause NPE
  openmetadata-service/src/main/java/org/openmetadata/service/CatalogHealthCheck.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticSearch/BuildSearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Labels: bug, backend

#8053 Add CLI e2e tests workflow dispatch
  .github/workflows/py-cli-e2e-tests.yml
  .gitignore
Labels: E2E-testing

#8054 Change text on Sign Up
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
Labels: hacktoberfest, Ingestion

#7956 Fixes lineage linting
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Labels: lineage

#8058 Fix Superset REST client requests
  ingestion/src/metadata/ingestion/ometa/superset_rest.py
Labels: bug, Ingestion

#7922 Fixed linting for Profiler
  .pylintrc
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/metrics/core.py
  ingestion/src/metadata/orm_profiler/metrics/static/mean.py
  ingestion/src/metadata/orm_profiler/orm/converter.py
  ingestion/src/metadata/orm_profiler/orm/functions/median.py
  ingestion/src/metadata/orm_profiler/orm/functions/modulo.py
  ingestion/src/metadata/orm_profiler/orm/functions/sum.py
  ingestion/src/metadata/orm_profiler/orm/types/bytea_to_string.py
  ingestion/src/metadata/orm_profiler/orm/types/hex_byte_string.py
  ingestion/src/metadata/orm_profiler/orm/types/uuid.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/src/metadata/orm_profiler/profiler/runner.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/tests/unit/profiler/test_profiler_partitions.py
Labels: data quality, profiler

#8078 Doc: Add extra step required when configuring SSL
  openmetadata-docs/content/deployment/security/enable-ssl/openmetadata-server.md
Labels: documentation

#8001 UI :- Converted html table to Antd table for tag and MlModal
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#8046 Fix #6346 convert all jsx files to tsx file
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reaction.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reaction.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/popover/PopOver.test.tsx
Labels: enhancement, UI

#8067 Updated env variable for heap
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
Labels: bug, devops

#8101 Fix TypeScript Error for ButtonProps
  openmetadata-ui/src/main/resources/ui/src/components/buttons/Button/Button.interface.ts
Labels: UI

#8004 Fix Policy Tags from diff project ids
  Makefile
  ingestion/src/metadata/ingestion/source/database/bigquery.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
Labels: P0, Ingestion, support

#8025 UI :- Converted html table to Antd table for Custom Properties and Database Details
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
Labels: UI

#8120 Add Missing Connectors from the list
  openmetadata-docs/content/connectors/index.md
Labels: documentation

#8019 UI :- Converted html table to Antd table for Dashboard and PipelinesVersion
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
Labels: UI

#8119 Fixed: UI: Test case result & profiler result is not visible in UI #8114
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
Labels: UI

#8129 Fix UI : The auth mechanism for the edit bot is throwing an error for scopes value #8116
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.interface.ts
Labels: UI

#8091 Fix#7532: Allow overriding service connection config when ingesting from CLI
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Labels: Ingestion

#8136 Doc: Fix Profiler documentation
  openmetadata-docs/content/connectors/database/athena/airflow.md
  openmetadata-docs/content/connectors/database/athena/cli.md
  openmetadata-docs/content/connectors/database/azuresql/airflow.md
  openmetadata-docs/content/connectors/database/azuresql/cli.md
  openmetadata-docs/content/connectors/database/bigquery/airflow.md
  openmetadata-docs/content/connectors/database/bigquery/cli.md
  openmetadata-docs/content/connectors/database/clickhouse/airflow.md
  openmetadata-docs/content/connectors/database/clickhouse/cli.md
  openmetadata-docs/content/connectors/database/databricks/airflow.md
  openmetadata-docs/content/connectors/database/databricks/cli.md
  openmetadata-docs/content/connectors/database/db2/airflow.md
  openmetadata-docs/content/connectors/database/db2/cli.md
  openmetadata-docs/content/connectors/database/druid/airflow.md
  openmetadata-docs/content/connectors/database/druid/cli.md
  openmetadata-docs/content/connectors/database/hive/airflow.md
  openmetadata-docs/content/connectors/database/hive/cli.md
  openmetadata-docs/content/connectors/database/mariadb/airflow.md
  openmetadata-docs/content/connectors/database/mariadb/cli.md
  openmetadata-docs/content/connectors/database/mssql/airflow.md
  openmetadata-docs/content/connectors/database/mssql/cli.md
  openmetadata-docs/content/connectors/database/mysql/airflow.md
  openmetadata-docs/content/connectors/database/mysql/cli.md
  openmetadata-docs/content/connectors/database/oracle/airflow.md
  openmetadata-docs/content/connectors/database/oracle/cli.md
  openmetadata-docs/content/connectors/database/postgres/airflow.md
  openmetadata-docs/content/connectors/database/postgres/cli.md
  openmetadata-docs/content/connectors/database/presto/airflow.md
  openmetadata-docs/content/connectors/database/presto/cli.md
  openmetadata-docs/content/connectors/database/redshift/airflow.md
  openmetadata-docs/content/connectors/database/redshift/cli.md
  openmetadata-docs/content/connectors/database/salesforce/airflow.md
  openmetadata-docs/content/connectors/database/salesforce/cli.md
  openmetadata-docs/content/connectors/database/singlestore/airflow.md
  openmetadata-docs/content/connectors/database/singlestore/cli.md
  openmetadata-docs/content/connectors/database/snowflake/airflow.md
  openmetadata-docs/content/connectors/database/snowflake/cli.md
  openmetadata-docs/content/connectors/database/trino/airflow.md
  openmetadata-docs/content/connectors/database/trino/cli.md
  openmetadata-docs/content/connectors/database/vertica/airflow.md
  openmetadata-docs/content/connectors/database/vertica/cli.md
Labels: documentation

#8144 Fix: SonarCloud coverage for Python code
  .github/workflows/py-tests.yml
  Makefile
  ingestion/sonar-project.properties
Labels: testing

#8149 Fix Keycloak documentation
  openmetadata-docs/content/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/deployment/security/keycloak/docker.md
  openmetadata-docs/content/deployment/security/keycloak/index.md
  openmetadata-docs/content/deployment/security/keycloak/kubernetes.md
Labels: documentation

#8151 Fix: Sonar coverage test run only for Python 3.9
  .github/workflows/py-tests.yml
Labels: Ingestion

#8111 FIx #7477 Add logic to fetch log use react-lazylog
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionLogsModal/IngestionLogsModal.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionLogsModal/IngestionLogsModal.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI

#8178 UI: Added unit test for profilerDashboardPage and profilerDashboard component [part 1]
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
Labels: UI, unit-test

#8109 Feat (#7561) Announcements are not supported for MLModel from UI
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityAnnouncement.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AssigneeList/AssigneeList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI

#8183 FIX #8169: modify Antlr4 CLI installation guidelines to be more prominent
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/prerequisites.md
Labels: documentation, hacktoberfest-accepted

#8190 UI: Added Unit test and localisation support for profilerTab component [Part-2]
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
Labels: UI, unit-test

#8205 Fix #8204 UI : While login just show the loader in login button.
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/basic-auth.provider.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
Labels: enhancement, UI

#8173 Fix (ui) :- Tag dropdown overflow issue and added localisation
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI

#8112 Fix UI :- Missing close icon from modal
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/elastic-re-index-modal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/CommentModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/modal.less
Labels: UI

#8087 UI :- Added option to remove Owner and Tier
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidgetWrapper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/types.ts
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#8209 Doc : Add How to guide for Custom Property
  openmetadata-docs/content/how-to-guides/custom-properties.md
  openmetadata-docs/content/menu.md
Labels: documentation

#8199 Fix/env variable
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
Labels: bug

#8225 Update: Trino&Presto catalog Details
  openmetadata-docs/content/connectors/database/presto/airflow.md
  openmetadata-docs/content/connectors/database/presto/cli.md
  openmetadata-docs/content/connectors/database/presto/index.md
  openmetadata-docs/content/connectors/database/trino/airflow.md
  openmetadata-docs/content/connectors/database/trino/cli.md
  openmetadata-docs/content/connectors/database/trino/index.md
  openmetadata-docs/images/openmetadata/connectors/presto/service-connection.png
  openmetadata-docs/images/openmetadata/connectors/trino/service-connection.png
Labels: Ingestion

#8222 Update: Note in oracle doc
  openmetadata-docs/content/connectors/database/oracle/airflow.md
  openmetadata-docs/content/connectors/database/oracle/cli.md
  openmetadata-docs/content/connectors/database/oracle/index.md
Labels: hacktoberfest-accepted

#8181 Feat ✨ (#8159)Implement Web Analytics logic from frontend
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WebAnalytics/WebAnalytics.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/WebAnalytics/WebAnalyticsProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WebAnalytics/WebAnalyticsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: enhancement, new feature, UI

#8266 Updated the tags
  .github/workflows/docker-openmetadata-postgres.yml
Labels: bug, devops

#8280 Cherry Pick "Fix test suite bug for redefined quotes (#8248)" for 0.12.2
  ingestion/src/metadata/interfaces/sqalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/test_suite/api/workflow.py
  openmetadata-docs/content/deployment/upgrade/versions/011-to-012.md
Labels: data quality

#8285 New release 0.12.2
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  common/pom.xml
  docker/metadata/Dockerfile
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: devops

#8220 UI :- Added EmptyPlaceholder for no data Modal store
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#8286 Fix: Improve error messages in the CLI and update dashboard YAML example files
  ingestion/src/metadata/examples/workflows/domodashboard.yaml
  ingestion/src/metadata/examples/workflows/looker.yaml
  ingestion/src/metadata/examples/workflows/metabase.yaml
  ingestion/src/metadata/examples/workflows/redash.yaml
  ingestion/src/metadata/examples/workflows/tableau.yaml
  ingestion/src/metadata/utils/workflow_output_handler.py
Labels: Ingestion

#8122 Fixes #8121 -- Report endpoint for data insight
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportDataRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-spec/src/main/resources/json/schema/analytics/reportData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/entityReportData.json
Labels: backend

#8193 Fixes #8154 - Add collect endpoint for web analytic events
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v006__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v006__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/main/resources/json/data/analytics/webAnalyticEvents/pageView.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/analytics/basic.json
  openmetadata-spec/src/main/resources/json/schema/analytics/pageViewEvent.json
  openmetadata-spec/src/main/resources/json/schema/analytics/webAnalyticEvent.json
  openmetadata-spec/src/main/resources/json/schema/analytics/webAnalyticEventData.json
  openmetadata-spec/src/main/resources/json/schema/api/analytics/createWebAnalyticEvent.json
Labels: backend

#8291 fix(ui) : Remove icon visible in Dropdown other than owner
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
Labels: UI

#8106 Fix UI: Improve add user into team flow #7789
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddUsersModal.less
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddUsersModalV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddUsersModalV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI

#8260 Feat ✨(#8258) Integrate Collect API on UI to collect the pageView Data
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/WebAnalyticsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
Labels: UI

#8251 UI :- Added Redeploy option in Ingestion Pipeline action
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#8335 Fix lineage issues with merge_into and copy grants queries
  ingestion/setup.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase.py
  ingestion/src/metadata/ingestion/source/dashboard/mode.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake_lineage.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/test_query_parser.py
Labels: Ingestion

#8336 change sampling method for snflk
  ingestion/src/metadata/orm_profiler/orm/functions/random_num.py
  ingestion/src/metadata/orm_profiler/profiler/sampler.py
Labels: profiler

#8348 Doc: Update Java prerequisites for build code
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/prerequisites.md
Labels: documentation

#8351 Fixes #8206 -- Implement data insight refinement for entity report data
  Makefile
  ingestion/src/metadata/data_insight/__init__.py
  ingestion/src/metadata/data_insight/api/__init__.py
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/data_insight/processor/__init__.py
  ingestion/src/metadata/data_insight/processor/data_processor.py
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/sink/__init__.py
  ingestion/src/metadata/data_insight/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/ometa/mixins/data_insight_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/entity_report_data_index_mapping.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/src/metadata/utils/logger.py
  ingestion/src/metadata/utils/workflow_output_handler.py
  ingestion/tests/integration/data_insight/__init__.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/unit/data_insight/__init__.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  ingestion/tests/unit/test_helpers.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/registry.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportDataRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-spec/src/main/resources/json/schema/analytics/reportData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/entityReportData.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dataInsightPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
Labels: Ingestion, data insight

#8363 Add missing calls to 'clean_raw_query' when using LineageRunner
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/dashboard/redash.py
Labels: bug, Ingestion

#8302 UI : Change App bar items
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/logo-monogram.svg
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI

#8185 UI :- Added loading state on Save button in Modal
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/KillIngestionPipelineModal/KillIngestionPipelineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/CommentModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/CommentModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/index.js
  openmetadata-ui/src/main/resources/ui/src/styles/modal.less
Labels: UI

#8386 Fix: Sonar Cloud Python coverage
  .github/workflows/py-tests.yml
Labels: Ingestion

#8383 Fix: Update Maven dependencies
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend

#8384 Fix UI :- fix the Team redirect url in mentions
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: UI

#8393 Fix UI :- Added Row count separator in table entity
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
Labels: UI

#8382 Fix #8361 Ingestion logs pass wrong breadcrumbs and URL
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LogsViewer.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: enhancement, UI

#8402 Fix #8396 Multiple webanalytics events send per single page load
  openmetadata-ui/src/main/resources/ui/src/router/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
Labels: enhancement, UI

#8398 Remove authorizer for the collect endpoint
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
Labels: backend

#8381 Cypress: Fixed failing cypress for role page
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
Labels: UI, Cypress

#8433 Update Okta documentation
  openmetadata-docs/content/deployment/security/okta/index.md
Labels: documentation

#8440 Updated the volume document and one community user ticket
  openmetadata-docs/content/deployment/docker/volumes.md
  openmetadata-docs/content/deployment/kubernetes/index.md
Labels: documentation, devops

#8085 Removed unnecessary docker-compose files
  docker/local-metadata/docker-compose-dev-postgres.yml
  docker/local-metadata/docker-compose-dev.yml
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Labels: hacktoberfest-accepted

#8420 Fix UI :- Fix the active tab for explore page after refresh
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
Labels: UI

#8459 Fix UI :- fix the window resizing issue in Service page on hover
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI
