Repository open-metadata/OpenMetadata, pull requests merged in 2022-06, with the labels that each got.

#5197 Add pagination and fix search for Users page
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
Labels: UI, safe to test

#5232 Cypress: E2E test for glossary page
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
Labels: Cypress, safe to test

#5249 Fix #5248 UI : Confirmation modal is showing wrong tables count on database page
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
Labels: UI

#5071 UI : Add mlModel Entity Page
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.ts
Labels: new feature, UI, safe to test

#5254 Fix #5209: Replace Teams dropdown with selectable component and integrate search api
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/react-select-component/reactSelectCustomStyle.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
Labels: UI, safe to test

#5274 Fix #5230: Remove IngestionPipeline source from UI code
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#5278 Fix #5269 Service descriptions lost after editing
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#5284 Fix #5250 Json data is not visible properly in entity details page ->sample data tab
  openmetadata-ui/src/main/resources/ui/src/components/Modals/SchemaModal/SchemaModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/SchemaModal/SchemaModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/RowData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/RowData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
Labels: UI, safe to test

#5225 Fix #5210: Review database field for connectors
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/db2Connection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mariaDBConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/singleStoreConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/DatabaseServiceResourceTest.java
  ingestion/src/metadata/ingestion/source/database/bigquery.py
  ingestion/src/metadata/ingestion/source/database/db2.py
  ingestion/src/metadata/ingestion/source/database/hive.py
  ingestion/src/metadata/ingestion/source/database/mariadb.py
  ingestion/src/metadata/ingestion/source/database/mysql.py
  ingestion/src/metadata/ingestion/source/database/oracle.py
  ingestion/src/metadata/ingestion/source/database/postgres.py
  ingestion/src/metadata/ingestion/source/database/presto.py
  ingestion/src/metadata/ingestion/source/database/snowflake.py
  ingestion/src/metadata/ingestion/source/database/trino.py
  ingestion/src/metadata/utils/source_connections.py
  ingestion/tests/unit/source/test_bigquery.py
  ingestion/tests/unit/source/test_mysql.py
  ingestion/tests/unit/source/test_source_parsing.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/database/verticaConnection.json
Labels: safe to test

#5149 [Backend] Java Client SDK [WIP]
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/JwtFilter.java
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/gateway/OpenMetadata.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/interceptors/CustomRequestInterceptor.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/interceptors/OktaAccessTokenRequestInterceptor.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/model/OktaAccessTokenResponse.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/model/OktaSSOConfig.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/Auth0AuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/AzureAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/CustomOIDCAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/GoogleAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/NoOpAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/OktaAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/OpenMetadataAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/factory/AuthenticationProviderFactory.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/interfaces/AuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/interfaces/OktaAccessTokenApi.java
  openmetadata-clients/pom.xml
  openmetadata-core/src/main/java/org/openmetadata/core/util/VersionUtils.java
Labels: safe to test

#5314 Fix #5240 Display database name and table name in activity feed.
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardHeader/FeedCardHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardHeader/FeedCardHeader.tsx
Labels: enhancement, UI, safe to test

#5326 Upgrade dependencies for release 0.11
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/bots/BotResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/TableResource.java
  openmetadata-core/pom.xml
  pom.xml
Labels: safe to test

#5335 Fix #5334 UI: Add tooltip to show FQN on hover in activity feed header link
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardHeader/FeedCardHeader.tsx
Labels: UI

#5312 Fix #5243 UI : Show custom properties in table entity page
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/CustomPropertyTable/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/CustomPropertyTable/PropertyInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/CustomPropertyTable/PropertyInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
Labels: UI, safe to test

#5329 Fix #5297 Backend: Add support for reactions to conversations and replies
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/FeedRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/feeds/FeedResource.java
  catalog-rest-service/src/main/resources/json/schema/entity/feed/thread.json
  catalog-rest-service/src/main/resources/json/schema/type/reaction.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/feeds/FeedResourceTest.java
Labels: backend, collaboration

#5340 Fix #5324 UI: Add ML model entity on explore page.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar-old.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI

#5351 Fix Cypress test failures
  .github/workflows/cypress-integration-tests.yml
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/types.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Labels: safe to test

#5337 Cypress: Fix tests post removal of profile and sample data toggles from ingestion
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/redshift.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
Labels: UI, safe to test

#5368 Fix issue #5355 Selecting Users or Admins renders first team's details
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Labels: UI, safe to test

#5412 Fix #5384 Use `displayName` instead of `name` for pipeline listing page
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#5408 Fix #5116: Update UI connection for Pipeline Services
  catalog-rest-service/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  openmetadata-ui/src/main/resources/ui/parseConnectionSchema.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/enums/filterPattern.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MessagingServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#5365 Fixed#5364: added support for Azure SSO
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/AzureAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/GoogleAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/factory/AuthenticationProviderFactory.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/interfaces/AuthenticationProvider.java
Labels: safe to test

#5427 ✨ [Feature] : Advance Search
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedField.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedField.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedFields.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedFields.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearchDropDown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearchDropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/advanceSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.ts
Labels: new feature, UI

#5414 Fix start datetime and format for create ingestions
  catalog-rest-service/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-airflow-apis/src/openmetadata/workflows/ingestion/common.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#5449 Fix #5442 UI Reactions disappear when opening side drawer
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Mydata.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/feed.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: UI

#5440 [Backend] Websocket implementation added
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/events/ChangeEventHandler.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/AuthorizerConfiguration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/JwtFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/socket/FeedServlet.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/socket/HeaderRequestWrapper.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/socket/SocketAddressFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/socket/WebSocketManager.java
  catalog-rest-service/src/test/resources/openmetadata-secure-test.yaml
  conf/openmetadata.yaml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose.yml
Labels: safe to test

#5457 Fix Advanced Search Layout.
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
Labels: UI

#5460 Fix #5454 Table description overlaps with Frequently joined tables
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#5323 Fix #4850: Airflow Dags in the Open Metadata lineage not showing the tasks flow
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#5470 ✨ Feat : Add onHover Effect on Activity feeds
  openmetadata-ui/src/main/resources/ui/src/assets/svg/Reaction.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/Reply.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/delete-white.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardFooter/FeedCardFooter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.jsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#5491 Fixed#5490: added support for Custom sso
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/Auth0AuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/CustomOIDCAuthenticationProvider.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/factory/AuthenticationProviderFactory.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/security/interfaces/CustomOIDCAccessTokenApi.java
Labels: new feature, backend

#5430 Fix #5016: Unit test for UserDetails component
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ConfirmationModal/ConfirmationModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/avatar/Avatar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/avatar/Avatar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/next-previous/NextPrevious.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/non-admin-action/NonAdminAction.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/popover/PopOver.test.jsx
  openmetadata-ui/src/main/resources/ui/src/components/common/searchbar/Searchbar.test.js
Labels: UI

#5476 Fixed: Glossary-tag issue and added skipped cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Labels: UI, Cypress

#5483 Fix #4697: UI Create property URL dynamically
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
Labels: UI

#5518 Fix: Messaging Ingestion Pipeline with enableSampleData
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
Labels: UI

#5515 Fix #5514: Task Executions strip below task DAG flow
  openmetadata-ui/src/main/resources/ui/src/components/ExecutionStrip/ExecutionStrip.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TaskNode.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
Labels: UI

#5513 Fix #4583: Move Database service connection form
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ServiceConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI

#5543 Fix #5542 UI : Table Query Card Is Not Expandable
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
Labels: UI

#5557 Fix: Add DBT Cloud option in the UI
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTFormConstants.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTFormEnum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
Labels: UI

#5548 Fixed-Issue #4687:right panel to tab view in user page
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/usersprofile.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  yarn.lock
Labels: UI

#5593 Fixed #5564 and #5279: profile updation and redirect url
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI

#5632 Fix view connection layout
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Labels: UI

#5637 Revamp ✨ : Request/update description should be created as a task
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Ellipses/Ellipses.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useAfterMount.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskPage.styles.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffView.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskPageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: enhancement

#5660 (refactor): loader glitch
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Labels: UI

#5676 Fix DAG view and add separator
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineStatusList/PipelineStatusList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TaskNode.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI

#5665 feat(ui): #5322 support notification web-socket connection
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/assets/svg/alert-bell.svg
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/web-scoket/web-scoket.provider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#5679 [issues-5649] fix hover over for entity cards
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.jsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#5681 layout fixes
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/AddWebhook.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsDetail/BotsDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddWebhookPage/AddWebhookPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotsPage/BotsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#5640 feat(ui): thread filter on feeds page
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-all-application.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-comment-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-folder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-mentions.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-task.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Mydata.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/usersprofile.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/mydata.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#5722 ✨ Revamp : Task Details Page
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
Labels: UI, ux-improvements

#5736 ✨ Refactor : Refactor Table Entity Conversation and Task Flow Logic #5734
  openmetadata-ui/src/main/resources/ui/src/assets/svg/Task-ic.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.jsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, ux-improvements

#5744 fix(ui): blur profile on user page
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ProfilerUtils.ts
Labels: UI, ux-improvements

#5738 fix(ui): #5731 fix filter issue on redirect to user profile task tab
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.test.tsx
Labels: UI, ux-improvements

#5770 ✨ UI Improvements 0.11.1
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/IngestionStepper.css
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
Labels: UI, ux-improvements

#5776 Fix #5772: Connection Scheme field missing from Ingestion UI
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
Labels: UI

#5797 fixed issue: 5780 unable to delete lineage edge
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Labels: UI

#5786 ✨ UI : Add task status icon to the task card
  openmetadata-ui/src/main/resources/ui/src/assets/svg/complete.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/in-progress.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, ux-improvements

#5798 Fix #5785 UI : Fix Emoji Popover Is Not Appearing After The First Mouseover
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.jsx
Labels: UI, ux-improvements
