Repository open-metadata/OpenMetadata, pull requests merged in 2022-08, with the labels that each got.

#6471 fix(ui): Eliminating signup page error
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
Labels: UI

#6485 Fix: Update AWS redshift maven repository url
  pom.xml
Labels: security

#6473 Counts api patch
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/UtilRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/util/UtilResource.java
  catalog-rest-service/src/main/resources/json/schema/entity/utils/entitiesCount.json
  catalog-rest-service/src/main/resources/json/schema/entity/utils/servicesCount.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/util/UtilResourceTest.java
Labels: backend

#6492 Do 'mvn clean install' when running security-scan GH workflow
  .github/workflows/security-scan.yml
Labels: security

#6507 ✨ Feat : UI Add support to create an announcement
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcement.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements-black.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements-white.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/AnnouncementBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/Badge.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AddAnnouncementModal/AddAnnouncementModal.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AddAnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
Labels: new feature, UI

#6532 Fix #6528 Color updates on Pipeline
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#6522 Fix#5917: Stop saving connection service configuration parameters when secret manager is configured
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DashboardServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DatabaseServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MessagingServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MlModelServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PipelineServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/ServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ServiceEntityResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/dashboard/DashboardServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/database/DatabaseServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/messaging/MessagingServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/mlmodel/MlModelServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/DashboardServiceRepositoryUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/DatabaseServiceRepositoryUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/MessagingServiceRepositoryUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/MlModelServiceRepositoryUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/PipelineServiceRepositoryUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/ServiceRepositoryTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/DashboardServiceResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/DatabaseServiceResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/MessagingServiceResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/MlModelServiceResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/PipelineServiceResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ServiceResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/LocalSecretsManagerTest.java
Labels: Ingestion, backend

#6543 ✨ UI: Show announcement banner on entity pages and options to manage the announcement
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AddAnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementCard/AnnouncementCard.less
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementCard/AnnouncementCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementCard/AnnouncementCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TimeUtils.ts
Labels: new feature, UI

#6612 Fix: Snyk vulnerability found in org.postgresql:postgresql@42.3.6
  pom.xml
Labels: security

#6611 SSO Docker - changed to Bash from YAML
  openmetadata-docs/content/deployment/security/amazon-cognito-sso/docker.md
  openmetadata-docs/content/deployment/security/auth0/docker.md
  openmetadata-docs/content/deployment/security/azure/docker.md
  openmetadata-docs/content/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/deployment/security/google/docker.md
  openmetadata-docs/content/deployment/security/index.md
  openmetadata-docs/content/deployment/security/okta/docker.md
  openmetadata-docs/content/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/deployment/security/one-login/docker.md
  openmetadata-docs/content/deployment/security/one-login/index.md
  openmetadata-docs/content/deployment/security/one-login/kubernetes.md
Labels: documentation

#6617 Fix #6616 UI: Announcement Improvements
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementCard/AnnouncementCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
Labels: UI

#6619 ✨ Feat : UI Add support for editing post messages
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/ActivityFeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.css
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementCard/AnnouncementCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI

#6640 Fix #6637 UI : Change Manage Button UI According to the mock
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements-black.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-delete.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.less
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
Labels: UI

#6642 Fix: DatabaseServiceType enum in JSON schema definition
  catalog-rest-service/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/databaseService.json
Labels: backend

#6647 Fix #6635 UI : Announcement improvements
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: UI, ux-improvements

#6610 Fix#6517: Add clusterName property to the application config yaml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplicationConfig.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerFactory.java
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/LocalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/SecretsManagerFactoryTest.java
  catalog-rest-service/src/test/resources/openmetadata-secure-test.yaml
  conf/openmetadata.yaml
  ingestion/airflow.cfg
  ingestion/examples/airflow/airflow.cfg
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/secrets_manager.py
  ingestion/tests/unit/metadata/utils/test_secrets_manager.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Labels: Ingestion, backend

#6668 Fix #6667 Make UI Changes to adopt new permission API response structure
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/Entitylineage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/non-admin-action/NonAdminAction.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PermissionsUtils.ts
Labels: UI

#6669 Feat(UI): Added announcement filter option for activity feeds.
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
Labels: UI

#6674 Snyk report uploaded as HTML files
  .github/workflows/security-scan.yml
  .gitignore
  Makefile
Labels: security

#6627 (Feat) UI: Add Profiler Tab as per new mock
  ingestion/examples/sample_data/profiler/tableProfile.json
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-primery.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerProgressWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerProgressWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TestIndicator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TestIndicator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/tableProfiler.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/entity.constants.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#6651 ✨ Feat : Add New roles and policy UI - Part 1
  openmetadata-ui/src/main/resources/ui/src/assets/svg/policies.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/rolesAPIV1.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetail.less
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.less
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetail.less
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.less
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: new feature, UI

#6691 fixed issue 6690 profiler setting modal slider showing undefined when there is no value
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
Labels: UI

#6688 Fix#6360: Airflow 2.3.3 None schedule validation
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.jsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.test.tsx
Labels: bug, UI, Ingestion

#6708 Fix issue: Logs not getting displayed in UI for Lineage Workflow #6707
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionLogsModal/IngestionLogsModal.tsx
Labels: UI

#6666 Fix: Avoid store sensitive info in events repository using custom annotation
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/events/ChangeEventHandler.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/JsonUtils.java
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/dashboardService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/databaseService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/messagingService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/metadataService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/mlmodelService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/pipelineService.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/workflow.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/EntityResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/util/JsonUtilsTest.java
  common/pom.xml
  common/src/main/java/org/openmetadata/annotations/IgnoreMaskedFieldAnnotationIntrospector.java
  common/src/main/java/org/openmetadata/annotations/MaskedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/MaskedField.java
  common/src/main/java/org/openmetadata/annotations/OpenMetadataAnnotator.java
  openmetadata-core/pom.xml
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-core/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-core/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-core/src/main/resources/json/schema/metadataIngestion/workflow.json
  pom.xml
Labels: backend

#6737 Fix #6725 Ability to create multiple separate ingestions for one database service
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#6742 Fix #6689 Announcement bug
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
Labels: UI, ux-improvements

#6740 Fixed issue: for non-admin user global setting left panel should visible properly #6710
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPage/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI

#6743 Fix#6643: Secure in secrets manager the dbtConfigSource object
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/IngestionPipelineRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerMigrationService.java
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/workflow.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/IngestionPipelineRepositoryTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTestParams.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/LocalSecretsManagerTest.java
  ingestion/src/metadata/ingestion/api/workflow.py
  ingestion/src/metadata/utils/secrets_manager.py
  ingestion/tests/unit/metadata/utils/test_secrets_manager.py
  openmetadata-core/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-core/src/main/resources/json/schema/metadataIngestion/workflow.json
Labels: Ingestion, backend

#6763 Allow settings path for all the domains
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#6766 added cypress for teams and users page as per new layout
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Users.spec.js
Labels: UI, Cypress

#6758 ✨ feat : Add UI support for deleting thread
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: new feature

#6788 Fix #6633 Support multi-line Sample Data header row
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
Labels: UI

#6771 AWS SSM secrets manager implementation on backend
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSBasedSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerFactory.java
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/ExternalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/SecretsManagerFactoryTest.java
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Labels: backend

#6778 Added libxml2 in the ingestion Dockerfile
  docker/airflow/Dockerfile
  ingestion/Dockerfile
Labels: bug

#6798 fixed issue #6797 teams and users redirection is not working
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI

#6808 Added hierarchical view for teams page in global setting
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/teamsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/Teams.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/Form.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/Form.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Labels: UI

#6805 AWS SSM secrets manager implementation on ingestion
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/IngestionPipelineRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSBasedSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/IngestionPipelineRepositoryTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTestParams.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/ExternalSecretsManagerTest.java
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/ingestion/api/workflow.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/secrets/__init__.py
  ingestion/src/metadata/utils/secrets/aws_based_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_ssm_secrets_manager.py
  ingestion/src/metadata/utils/secrets/local_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/integration/ometa/test_ometa_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/__init__.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_based_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_ssm_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_local_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  ingestion/tests/unit/metadata/utils/test_secrets_manager.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-core/src/main/java/org/openmetadata/core/fernet/Fernet.java
Labels: Ingestion

#6832 Fix#5917: Implementation of temp secret for testing connection
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSBasedSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerConfiguration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerFactory.java
  catalog-rest-service/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/secretsManagerProvider.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/ExternalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/LocalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/SecretsManagerFactoryTest.java
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/secrets/aws_based_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_ssm_secrets_manager.py
  ingestion/src/metadata/utils/secrets/local_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/integration/ometa/test_ometa_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_based_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_ssm_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_local_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/test_connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-core/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/secretsManagerProvider.json
Labels: Ingestion, backend

#6848 ✨ Feat : Add New roles and policy UI - Part 4
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/rolesAPIV1.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
Labels: new feature

#6871 Fix#6868: Fix table repository bug
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/jdbi3/TableRepositoryUnitTest.java
Labels: bug, Ingestion

#6878 added cypress test for custom properties
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Customproperties.spec.js
Labels: UI

#6863 ✨ Feat(#3031) Support policy authoring through UI (outside of role page)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/Remove.svg
  openmetadata-ui/src/main/resources/ui/src/constants/HelperTextUtil.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/EditRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetail.less
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: new feature

#6903 ✨ Feat(#6902) UI - Add condition support for policy rules
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/rolesAPIV1.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/EditRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetail.less
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.tsx
Labels: new feature, UI

#6919 Fix#6027: Improve logging in ORM profiler
  ingestion/src/metadata/interfaces/sqa_interface.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/metrics/static/count_in_set.py
  ingestion/src/metadata/orm_profiler/orm/types/uuid.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/src/metadata/orm_profiler/sink/metadata_rest.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/validations/column/column_value_max_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_mean_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_median_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_min_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_stddev_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_in_set.py
  ingestion/src/metadata/test_suite/validations/column/column_values_length_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_missing_count_to_be_equal.py
  ingestion/src/metadata/test_suite/validations/column/column_values_not_in_set.py
  ingestion/src/metadata/test_suite/validations/column/column_values_sum_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_not_null.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_unique.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_match_regex.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_not_match_regex.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_be_between.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_equal.py
  ingestion/src/metadata/test_suite/validations/table/table_column_name_to_exist.py
  ingestion/src/metadata/test_suite/validations/table/table_column_to_match_set.py
  ingestion/src/metadata/test_suite/validations/table/table_custom_sql_query.py
  ingestion/src/metadata/test_suite/validations/table/table_row_count_to_be_between.py
  ingestion/src/metadata/test_suite/validations/table/table_row_count_to_equal.py
Labels: Ingestion

#6759 Fix/airflow dag issue
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
Labels: bug

#6933 Fix #6932 UI | Full Table name is not displayed on the Table Home Page
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
Labels: UI

#6928 Fixed #6762 DB2 test connection
  ingestion/src/metadata/orm_profiler/orm/functions/conn_test.py
Labels: Ingestion, profiler

#6920 Fix#6027: Improve logging in OpenMetadata Airflow APIs
  openmetadata-airflow-apis/openmetadata_managed_apis/api/error_handlers.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/delete.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/disable.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/enable.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/health.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/ip.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/kill.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/last_dag_logs.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/status.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/test_connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/trigger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/utils.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/kill_all.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/test_connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/utils/__init__.py
  openmetadata-airflow-apis/openmetadata_managed_apis/utils/logger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/workflow_builder.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/workflow_factory.py
Labels: Ingestion

#6964 UI : Remove unused code for bot list
  openmetadata-ui/src/main/resources/ui/src/components/BotsList/BotsList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsList/BotsList.tsx
Labels: UI

#6969 Fixes #5313 by adding logic to skip non OM on testSuite workflow
  ingestion/src/metadata/interfaces/sqa_interface.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/runner/core.py
Labels: data quality

#6962 Fix #5140 E2E Testing for Roles and Policies Page
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Roles.spec.js
Labels: E2E-testing

#6970 Fix#6027: Fix logging in metadata package modules except ingestion and orm_profiler
  ingestion/connectors/docker-cli.py
  ingestion/src/metadata/cli/backup.py
  ingestion/src/metadata/cli/docker.py
  ingestion/src/metadata/cli/ingest.py
  ingestion/src/metadata/clients/mode_client.py
  ingestion/src/metadata/clients/neo4j_client.py
  ingestion/src/metadata/clients/powerbi_client.py
  ingestion/src/metadata/cmd.py
  ingestion/src/metadata/config/common.py
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/great_expectations/utils/ometa_config_handler.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/validations/column/column_value_max_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_mean_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_median_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_min_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_value_stddev_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_in_set.py
  ingestion/src/metadata/test_suite/validations/column/column_values_length_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_missing_count_to_be_equal.py
  ingestion/src/metadata/test_suite/validations/column/column_values_not_in_set.py
  ingestion/src/metadata/test_suite/validations/column/column_values_sum_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_between.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_not_null.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_unique.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_match_regex.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_not_match_regex.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_be_between.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_equal.py
  ingestion/src/metadata/test_suite/validations/table/table_column_name_to_exist.py
  ingestion/src/metadata/test_suite/validations/table/table_column_to_match_set.py
  ingestion/src/metadata/test_suite/validations/table/table_custom_sql_query.py
  ingestion/src/metadata/test_suite/validations/table/table_row_count_to_be_between.py
  ingestion/src/metadata/test_suite/validations/table/table_row_count_to_equal.py
  ingestion/src/metadata/utils/connections.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/src/metadata/utils/dbt_config.py
  ingestion/src/metadata/utils/filters.py
  ingestion/src/metadata/utils/gcs_utils.py
  ingestion/src/metadata/utils/secrets/aws_based_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_ssm_secrets_manager.py
  ingestion/tests/unit/test_column_type_parser.py
Labels: Ingestion

#6931 Fix#6027: Improve logging in ingestion library
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/bulksink/migrate.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/ometa/auth_provider.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/ometa/credentials.py
  ingestion/src/metadata/ingestion/ometa/mixins/dashboard_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/mlmodel_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/server_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/tag_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase.py
  ingestion/src/metadata/ingestion/source/dashboard/mode.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi.py
  ingestion/src/metadata/ingestion/source/dashboard/superset.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau.py
  ingestion/src/metadata/ingestion/source/database/athena.py
  ingestion/src/metadata/ingestion/source/database/bigquery.py
  ingestion/src/metadata/ingestion/source/database/clickhouse.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/ingestion/source/database/dbt_source.py
  ingestion/src/metadata/ingestion/source/database/deltalake.py
  ingestion/src/metadata/ingestion/source/database/dynamodb.py
  ingestion/src/metadata/ingestion/source/database/glue.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/mssql.py
  ingestion/src/metadata/ingestion/source/database/postgres.py
  ingestion/src/metadata/ingestion/source/database/presto.py
  ingestion/src/metadata/ingestion/source/database/redshift.py
  ingestion/src/metadata/ingestion/source/database/salesforce.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/database/snowflake.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/ingestion/source/messaging/kafka.py
  ingestion/src/metadata/ingestion/source/metadata/amundsen.py
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
  ingestion/src/metadata/ingestion/source/metadata/metadata.py
  ingestion/src/metadata/ingestion/source/mlmodel/mlflow.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow.py
  ingestion/src/metadata/ingestion/source/pipeline/glue.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
Labels: Ingestion

#7033 Fix Profiler for json or variant types in Snowflake
  ingestion/Dockerfile_local
  ingestion/src/metadata/ingestion/source/database/snowflake.py
Labels: bug, profiler

#7018 Update MyData and Explore with new roles and policy
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/permissionAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/rolesAPIV1.ts
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: new feature, UI

#7050 Update Users, Admins and tags page with new roles and policy
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/non-admin-action/NonAdminAction.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: new feature

#7080 FIx: Add missing healthcheck to docker-compose-postgres
  docker/metadata/docker-compose-postgres.yml
Labels: bug, docker

#7088 Added logic to allow profile data to be ingested when sample data fetch fails
  ingestion/src/metadata/orm_profiler/profiler/core.py
Labels: profiler

#7096 Remove unused property `extra_hosts` from docker-compose files
  .github/workflows/py-tests-3_10.yml
  .github/workflows/py-tests-3_7.yml
  .github/workflows/py-tests-3_8.yml
  .github/workflows/py-tests-3_9.yml
  docker/local-metadata/docker-compose-dev-postgres.yml
  docker/local-metadata/docker-compose-dev.yml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  docker/metadata/openmetadata-start.sh
  docker/run_local_docker.sh
  ingestion/examples/airflow/dags/airflow_metadata_extraction.py
  ingestion/examples/airflow/dags/airflow_metadata_to_es.py
  ingestion/examples/airflow/dags/airflow_sample_data.py
  ingestion/examples/airflow/dags/airflow_sample_usage.py
  ingestion/examples/sample_data/tests/testSuites.json
Labels: Ingestion, docker
