Repository open-metadata/OpenMetadata, pull requests merged in 2022-05, with the labels that each got.

#4533 Fixed issue:- 4530 Users & Teams Page shows loading screen on selecting navigation twice
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
Labels: UI

#4607 Fix 4582 - Looker instance error
  ingestion/src/metadata/ingestion/source/looker.py
Labels: bug, Ingestion

#4574 Fixed issue-4557: UI: Improve UX on User Profile page
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.test.tsx
Labels: UI

#4645 Fix issue:- 4487 Show pipeline status on click of deploy
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/events/Events.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/objectRepository/DatabaseServicePage.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/objectRepository/UserPage.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/databaseService/DatabaseServicePageTest.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/users/UsersPageTest.java
Labels: UI

#4670 Fix #4581: [Looker] | Ingestion UI | Remove Unnecessary config on service connection
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
Labels: UI

#4669 Fix #4511: Hide the test connection button for Sample Data.
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ServiceConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#4668 Fix #4608: Unit tests for DBT config step
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
Labels: UI, unit-test

#4661 Fix issue 4556 UI: Explore page improvements
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI

#4623 Fix issue-4575: UI: Add total count of user owned or following data entities in profile page and home page
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Labels: UI

#4627 Fix #4155: Left panel filter does not reset after
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FilterUtils.js
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/explore/Explore.java
Labels: UI

#4702 Fix #4690 UI | Paginator on Database Service Page shows NaN
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
Labels: UI

#4704 Fix #4643 UI : Support new roles schema
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/role.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/team.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/user.ts
Labels: UI

#4747 Fixes Bigquery Sample Data
  ingestion/src/metadata/ingestion/source/bigquery.py
Labels: bug, P0, Ingestion

#4748 fixed tag add and remove issue at entity level
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
Labels: UI

#4744 Fix issue 4701:- Fixed broken tour guide
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
Labels: UI

#4716 Feat: Implemented two step ingestion flow
  openmetadata-ui/src/main/resources/ui/src/assets/svg/creating-ingestion.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/deploy-ingestion.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/IngestionStepper.css
  openmetadata-ui/src/main/resources/ui/src/components/Modals/DeployIngestionLoaderModal/DeployIngestionLoaderModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/DeployIngestionLoaderModal/DeployIngestionLoaderModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/ingestion.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#4743 Fix message texts and service icons
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-delta-lake.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-power-bi.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-salesforce.png
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#4791 feat: Docker image and CI for Airflow Image
  .github/workflows/docker-openmetadata-airflow.yml
  docker/airflow/Dockerfile
Labels: P0

#4653 Revamp Snowflake
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/DatabaseServiceResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/util/TestUtils.java
  ingestion/examples/workflows/snowflake.json
  ingestion/examples/workflows/snowflake_usage.json
  ingestion/src/metadata/ingestion/models/ometa_tag_category.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/snowflake.py
  ingestion/src/metadata/ingestion/source/snowflake_usage.py
  ingestion/src/metadata/ingestion/source/sql_source.py
  ingestion/src/metadata/utils/source_connections.py
  ingestion/src/metadata/utils/sql_queries.py
  ingestion/tests/unit/source/test_source_parsing.py
Labels: P0, Ingestion

#4806 Fixed issue: 4555 UI: Add breadcrumbs to Add Service page and Services page
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI

#4808 Fix: Remove Test Connection for Pipeline Services
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#4727 Fix #4559 UI: Add support to get JWT token for bot users
  openmetadata-ui/src/main/resources/ui/src/assets/svg/bot-profile.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/BotsDetail/BotsDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsList/BotsList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/BotsListpage/BotsListpage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotsPage/BotsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI

#4810 Fix: Add additional fields to the DBT config form and support DB filter pattern
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTFormConstants.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/filterPattern.enum.ts
Labels: UI

#4823 Fix #4785 Sample data for Messaging Services/Topics
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/topic.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicDetailsUtils.ts
Labels: UI

#4841 Missing pymssql dependency
  ingestion/setup.py
Labels: bug, Ingestion, support

#4842 Fix #4827 UI : Show Expiry date for JWT token on bots details page.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/BotsDetail/BotsDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/authN/jwtAuth.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/user.ts
  openmetadata-ui/src/main/resources/ui/src/pages/BotsListpage/BotsListpage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotsPage/BotsPage.component.test.tsx
Labels: UI

#4861 Filterpattern bug resolved.
  ingestion/src/metadata/utils/filters.py
Labels: bug

#4840 Fixed: UI inconsistency as per feedback #4192
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.tsx
Labels: UI

#4878 Fix #4745 UI: For scrolling the content in the middle column, the cursor needs to be in the middle column .
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Labels: UI

#4881 Fixed issue #4852 Simple search bar for connectors
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
Labels: UI

#4890 Fix: Messaging and Dashboard ingestion from UI
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI

#4848 Fix issue-4813 UI: Improve UX in Metadata Ingestion page
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.jsx
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
Labels: UI

#4845 Add: Unit Test source for multiple conn
  ingestion/tests/unit/test_source_connection.py
Labels: Ingestion

#4949 Fixed issue 4948 active page value is not updating in ui for team page
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
Labels: UI

#4938 Fix #4937 UI : The separator lines are overlapping on the profile page while editing the description.
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithMarkdownEditor/ModalWithMarkdownEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithMarkdownEditor/ModalWithMarkdownEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/UserDetailsModal/UserDetailsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
Labels: UI

#4952 Fix: Explore Page issues
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI

#4965 Fix #4963 UI : Lineage Node table with a slash (/) in their name throwing 404 error
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Labels: UI

#4974 Fix #4964 UI : Add unit tests for bot listing and bot details page.
  openmetadata-ui/src/main/resources/ui/src/components/BotsDetail/BotsDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsDetail/BotsDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsList/BotsList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsList/BotsList.tsx
Labels: testing, UI

#4982 Fix #4832: update the Elastic Search error page links and unit tests
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
Labels: UI

#4992 Fix #4718 UI: Link in the @mention of user refreshes the whole page
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Labels: UI

#4856 UI Added support for User's profile image everywhere
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardFooter/FeedCardFooter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardFooter/FeedCardFooter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardHeader/FeedCardHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/RelatedTermsModal/RelatedTermsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ReviewerModal/ReviewerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/avatar/Avatar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-container/tags-container.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/CheckboxUserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: UI

#4994 Added support for minute level selection for ingestion scheduler
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.jsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, unit-test

#5026 Added cypress test for home page - part 2
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTerms.tsx
Labels: UI, E2E-testing, Cypress

#5039 Added E2E test for entity delete flow for all the entity
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.tsx
Labels: UI, E2E-testing, Cypress

#5043 Fix issue-4951: Unwanted entries for My Data section on User Profile page
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI

#5037 Optimising generation of typescripts from schema and as prebuild script
  .gitignore
  catalog-rest-service/src/main/resources/json/schema/entity/type.json
  ingestion-core/src/metadata/_version.py
  openmetadata-ui/pom.xml
  openmetadata-ui/src/main/resources/ui/.prettierignore
  openmetadata-ui/src/main/resources/ui/json2ts.sh
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDatabase.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDatabaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createGlossaryTerm.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createLocation.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createMlModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTopic.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/events/createWebhook.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMessagingService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createStorageService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/tags/createTag.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/tags/createTagCategory.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/metadata/openMetadataConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/metadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: UI

#4532 Fix : UI manual Lineage Editor Issues
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/Entitylineage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, Lineage-Editor

#5059 Fix #4443: Swagger APIs must work in secure mode
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI

#5062 Fix #5038 Dashboard lineage edit button is overlapping the conversation for add tags
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
Labels: UI

#5081 Fix: UI Should show other tags if the glossary search index fails.
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/axios.enum.ts
Labels: UI

#5082 Fix: Adding Glossary Term into Parent Glossary Term redirects to blank(null) UI
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/glossary-data-card/GlossaryDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI

#5087 E2E testing: Refactor cypress test
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Labels: E2E-testing, Cypress

#5106 Fix #4834: Inconsistencies and improvements
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
Labels: UI

#5113 Fix #5110 UI : Hide bots link from setting dropdown if user is not an admin
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Labels: UI, safe to test

#5115 Fix #5114 UI : Broken link for users on request description for conversations
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
Labels: UI, safe to test

#5103 Cypress: E2E testing for teams and users page
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDetails/UserDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: Cypress, safe to test

#5120 [BACKEND][BUG] Fix the issue between the Code and Generated Swagger D…
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/CatalogResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/bots/BotResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/charts/ChartResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/config/ConfigResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/dashboards/DashboardResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/DatabaseResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/DatabaseSchemaResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/TableResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/events/EventResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/events/WebhookResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/feeds/FeedResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/glossary/GlossaryResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/glossary/GlossaryTermResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/lineage/LineageResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/locations/LocationResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/metrics/MetricsResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/mlmodels/MlModelResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/permissions/PermissionsResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/pipelines/PipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/policies/PolicyResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/reports/ReportResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/search/SearchResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/dashboard/DashboardServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/database/DatabaseServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/messaging/MessagingServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/storage/StorageServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/RoleResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/TeamResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/UserResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/topics/TopicResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/types/TypeResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/usage/UsageResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/version/VersionResource.java
Labels: safe to test

#5124 updated cypress test to support new placeholder message
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
Labels: safe to test

#5118 Unit test: teams users component
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.test.tsx
Labels: UI, safe to test

#5123 Fixes #5122 Add backend and API support for column-level lineage
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v002__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v002__create_db_connection_info.sql
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/EntityRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/LineageRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TeamRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/UserRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/lineage/LineageResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/types/TypeResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/EntityUtil.java
  catalog-rest-service/src/main/resources/json/schema/type/basic.json
  catalog-rest-service/src/main/resources/json/schema/type/entityLineage.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/EntityResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/feeds/FeedResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/lineage/LineageResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/teams/UserResourceTest.java
  ingestion-core/src/metadata/_version.py
  openmetadata-core/src/main/resources/json/schema/entity/type.json
Labels: safe to test

#5126 source-connection-test-updated
  ingestion/src/metadata/utils/source_connections.py
  ingestion/tests/unit/test_source_connection.py
Labels: safe to test

#5133 Fix #5132 UI : Handle new lineage schema
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Labels: UI, safe to test

#5168 Fix #5167: Fix Tag Category Creating Issue
  ingestion/src/metadata/ingestion/source/database/bigquery.py
Labels: safe to test

#5152 Fix #2725: Add IngestionPipeline Task logs
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/airflow/AirflowRESTClient.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/JsonUtils.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/PipelineServiceClient.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/airflow/AirflowRESTClientIntegrationTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/airflow/HttpServerExtension.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/airflow/JsonHandler.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/airflow/MockResponse.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/util/JsonUtilsTest.java
  openmetadata-airflow-apis/README.md
  openmetadata-airflow-apis/src/openmetadata/api/apis_metadata.py
  openmetadata-airflow-apis/src/openmetadata/api/config.py
  openmetadata-airflow-apis/src/openmetadata/api/rest_api.py
  openmetadata-airflow-apis/src/openmetadata/operations/last_dag_logs.py
  pom.xml
Labels: safe to test

#5161 Fix types issue post schema changes
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.tsx
Labels: UI, safe to test

#5130 Unit test for Teams component
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
Labels: unit-test, safe to test

#5136 Fix #5129 UI : Handle table constraints to show corresponding constraints Icon for columns.
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/AnchorDropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
Labels: UI, safe to test

#4386 Fix #1607 Operational metrics for OpenMetadata system observability
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/OpenMetadataServerHealthCheck.java
  catalog-rest-service/src/test/resources/openmetadata-secure-test.yaml
  conf/openmetadata.yaml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose.yml
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/source/hive/test_hive_crud.py
  ingestion/tests/integration/source/trino/test_trino_crud.py
  pom.xml
Labels: safe to test

#5104 Fix #4537: Use ES for users and teams
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/redshift.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/teamsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/userAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/types.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.js
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ManageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: UI, safe to test

#5192 Fix : table constraint is missing in datasetVersion schema
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
Labels: UI

#5187 Cypress: E2E test for tags page
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Tags.spec.js
Labels: Cypress, safe to test

#5205 Fix #5204: Support AWS Cognito SSO for user authentication
  openmetadata-ui/src/main/resources/ui/src/assets/img/icon-aws-cognito.png
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/signin.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: safe to test

#5186 fixed issue- 5185 MyData spec is failing for click on explore page
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
Labels: Cypress, safe to test

#5150 Cypress: sample data testing for ingestion
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/redshift.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/snowflake.spec.js
Labels: Cypress, safe to test

#5160 Fix #5036: added category filter for types API
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/ListFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/types/TypeResource.java
Labels: safe to test

#5217 Fix #5207 UI - Team Assets display table full address
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
Labels: UI, safe to test

#5218 Fix #5213 Manage tab for service gives "invalid field id"
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI

#5211 Fix #5135: ElasticSearch shows 10000 max hit number
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/search/SearchResource.java
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.ts
Labels: UI, backend

#4869 Fixed #4771: Syncing newly added tags to a glossary term to assets labeled with that glossary term
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/EntityRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryTermRepository.java
Labels: safe to test

#5184 Feat : #5057 UI : Add support for adding a custom field to an entity
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/metadataTypeAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomField/AddCustomField.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomField/AddCustomField.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomField/RightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomField/RightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomEntityDetail.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomEntityDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomFieldTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomFieldTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/LeftPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/LeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsPane/TabsPane.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomEntityPage/CustomEntityPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomEntityPage/CustomEntityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
Labels: new feature, UI
