Repository open-metadata/OpenMetadata, pull requests merged in 2022-03, with the labels that each got.

#3019 Power BI connector
  catalog-rest-service/src/main/resources/json/schema/entity/services/dashboardService.json
  ingestion-core/src/metadata/_version.py
  ingestion/examples/workflows/powerbi.json
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/powerbi.py
Labels: Ingestion

#2855 Atlas connector
  ingestion/examples/workflows/atlas.json
  ingestion/examples/workflows/atlas_mapping.json
  ingestion/setup.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/atlas.py
  ingestion/src/metadata/utils/atlas_client.py
Labels: Ingestion

#3097 Excluding db2 from all plugins
  ingestion/setup.py
Labels: Ingestion

#3116 Sql_alchemy_helper Engine fix
  ingestion/src/metadata/ingestion/source/sql_alchemy_helper.py
  ingestion/src/metadata/profiler/common/database_common.py
Labels: bug, Ingestion

#3086 Publish mvn test report to PR
  .github/workflows/maven-build.yml
Labels: testing

#3136 Generate typescript types from json schema.
  openmetadata-ui/src/main/resources/ui/src/generated/api/feed/threadCount.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/policies/createPolicy.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/teams/createTeam.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/feed/thread.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/accessControl/rule.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/policy.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/role.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/team.ts
Labels: UI

#3138 column-issue-fixed
  ingestion/src/metadata/ingestion/source/salesforce.py
Labels: Ingestion

#3154 Fix: Query Parser
  ingestion/src/metadata/ingestion/processor/query_parser.py
Labels: bug, Ingestion

#3184 UI : New Data profiler Layout.
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTest.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/Forms/ColumnTestForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/interface/dataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: enhancement, new feature, UI

#3195 Datetime concat issue fixed - Auth Client - Ingestion
  ingestion/src/metadata/ingestion/ometa/client.py
Labels: Ingestion

#3174 Fixing Snowflake Query and arrayDataType issue
  ingestion/src/metadata/ingestion/source/snowflake.py
  ingestion/src/metadata/ingestion/source/sql_source.py
Labels: bug, Ingestion

#3269 UI : Addressing 0.9.0 Feedback Part 1
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserDataCard/UserDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/my-data-details/SchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
Labels: enhancement, UI, ux-improvements

#3274 UI : Addressing 0.9.0 Feedback Part 2
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/UserDetailsModal/UserDetailsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
Labels: enhancement, UI, ux-improvements

#3319 Snowflake optional config
  catalog-rest-service/src/main/java/org/openmetadata/catalog/airflow/AirflowUtils.java
  catalog-rest-service/src/main/resources/json/schema/operations/pipelines/databaseServiceMetadataPipeline.json
  ingestion/src/metadata/ingestion/source/snowflake_usage.py
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AddServiceModal/AddServiceModal.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/operations/pipelines/createAirflowPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/operations/pipelines/airflowPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/operations/pipelines/databaseServiceMetadataPipeline.ts
Labels: bug, P0, Ingestion

#3354 Fix Usage from Bulk Sink
  ingestion/src/metadata/ingestion/api/workflow.py
Labels: bug, Ingestion

#3365 Minor Fixes - Ingestion - Datetime format, Looker fix
  Makefile
  catalog-rest-service/src/main/resources/json/schema/operations/pipelines/databaseServiceMetadataPipeline.json
  ingestion-core/src/metadata/_version.py
  ingestion/examples/workflows/snowflake_usage.json
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/looker.py
  ingestion/src/metadata/ingestion/source/sample_usage.py
  ingestion/src/metadata/ingestion/source/snowflake.py
  ingestion/src/metadata/ingestion/source/snowflake_usage.py
  ingestion/src/metadata/ingestion/source/sql_source.py
  ingestion/src/metadata/utils/sql_queries.py
Labels: Ingestion

#3339 Fix #3313: Not all activities are captured in service activity feed
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/ChangeEventParser.java
Labels: backend

#3472 Bigquery Custom query for partitioned table and policy tag fix
  ingestion/src/metadata/ingestion/source/bigquery.py
  ingestion/src/metadata/ingestion/source/sql_source.py
Labels: Ingestion

#3560 Fixed PyTest Workflow
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/sample_data.py
  ingestion/tests/integration/ometa/test_ometa_chart_api.py
  ingestion/tests/integration/ometa/test_ometa_dashboard_api.py
  ingestion/tests/integration/ometa/test_ometa_database_api.py
  ingestion/tests/integration/ometa/test_ometa_database_service_api.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  ingestion/tests/integration/ometa/test_ometa_model_api.py
  ingestion/tests/integration/ometa/test_ometa_pipeline_api.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/ometa/test_ometa_topic_api.py
Labels: P0, Ingestion

#3459 Docker Calculation fix + Reset DB command added
  docker/run_local_docker.sh
  ingestion/src/metadata/cli/docker.py
  ingestion/src/metadata/cmd.py
Labels: Ingestion

#3548 Add unit tests for Activity feed side panel
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/ActivityFeedEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/ActivityFeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelOverlay.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelOverlay.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
Labels: testing, UI

#3458 Standardized Metabase db_service_name across dashboards
  ingestion/examples/workflows/metabase.json
  ingestion/src/metadata/ingestion/source/metabase.py
Labels: Ingestion

#3580 Fixing Metadata indexing issue - Local Docker
  docker/run_local_docker.sh
  ingestion/ingestion_dependency.sh
Labels: P0, Ingestion, docker

#3587 Modifying Timeout for PyTests
  .github/workflows/py-tests.yml
Labels: testing, Ingestion

#3601 fix 3594 - modified fallbacks
  ingestion/src/airflow_provider_openmetadata/lineage/config.py
Labels: bug, P0

#3591 UI:Add owner support for team
  openmetadata-ui/src/main/resources/ui/src/assets/img/ss-landing.png
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/team.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI

#3603 Added fix for Airflow Pipeline status
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/operations/AirflowPipelineResource.java
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, backend

#3615 Fix UI Error Handling on Topic entity page
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
Labels: enhancement, UI

#3624 Fix Redshift Usage Pipeline
  ingestion/examples/sample_data/datasets/query_log
  ingestion/src/metadata/ingestion/source/redshift_usage.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
Labels: bug, Ingestion

#3641 Fix UI Error Handling on Dashboard entity page
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
Labels: testing, UI

#3650 Added fix for Sample_Usage not being ingested in Local docker
  docker/local-metadata/Dockerfile
  docker/local-metadata/docker-compose.yml
  docker/metadata/openmetadata-start.sh
  docker/run_local_docker.sh
  ingestion/examples/airflow/dags/airflow_metadata_to_es.py
  ingestion/examples/airflow/dags/airflow_sample_data.py
  ingestion/examples/airflow/dags/airflow_sample_usage.py
Labels: bug, docker

#3730 Add unit test for table entity page
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsPane/TabsPane.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
Labels: UI, unit-test

#3788 Add UI error Handling for webhook and database Page
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/WebhooksPage/WebhooksPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WebhooksPage/WebhooksPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
Labels: UI, unit-test
