Repository open-metadata/OpenMetadata, pull requests merged in 2023-08, with the labels that each got.

#12680 Fix exceptions thrown as reflections scan non java classes
  common/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
Labels: backend, safe to test

#12684 Updating docker env and symbolic link for openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/openmetadata.yaml
Labels: devops, safe to test

#12638 feat(server): description support for team hierarchy
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/teams/teamHierarchy.json
Labels: UI, backend, safe to test

#12681 Fix tests logging; do not initialize the search client if the search …
  .github/workflows/maven-build.yml
  common/pom.xml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/IndexUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/resources/log4j-silent.properties
  openmetadata-service/src/test/resources/logback.xml
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/pom.xml
Labels: backend, devops, safe to test

#12683 Fix airflow not ingesting pipelines
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Labels: Ingestion, safe to test

#12643 fix(ui): ui breaking as url was not encoded.
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/PipelineActions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, backend, safe to test

#12688 fix(#12682): fail to display custom properties of the table
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/ExtensionTable.tsx
Labels: UI, safe to test

#12691 fix 12498: pipeline metadata info
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/fivetran/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/nifi/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/spline/index.md
Labels: documentation, Ingestion, safe to test

#12704 quick fix row value docs
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/fivetran/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/nifi/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/spline/index.md
Labels: documentation, Ingestion, safe to test

#12370 Fix #8208: OpenMetadata server supports Postgres 15
  docker/postgresql/Dockerfile_postgres
  docker/postgresql/postgres-script.sql
  openmetadata-docs/content/v1.1.0/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.1.0/deployment/docker/index.md
  openmetadata-docs/content/v1.1.0/deployment/kubernetes/index.md
  openmetadata-service/pom.xml
Labels: documentation, backend, devops, safe to test

#12690 fix(ui): ingestion tab bugs on service details page
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/PipelineActions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/PipelineActions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#12400 add automate exception message for invalid enum value as api request parameter
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
Labels: backend, safe to test

#12707 fix: glossary term reviewers is not updating
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Labels: UI, safe to test

#12697 Fix Test Suite Migrations
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/mysql/v110/MySQLMigration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/mysql/v111/MySQLMigration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/postgres/v110/PostgresMigration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/postgres/v111/PostgresMigration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/utils/v110/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/utils/v111/MigrationUtilV111.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
Labels: backend, safe to test

#12708 [CHORE] Reduce docker image size by removing pip cache
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
Labels: Ingestion, devops, safe to test

#12694 fix: ui fixes 1.1.1
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTag.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LineageNodeLabelV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/lineage-node-label.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, backend, safe to test

#12716 Add v015 for 1.2.0 release
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v015__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v015__create_db_connection_info.sql
Labels: Ingestion, safe to test

#12715 cypress: fixed e2e cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WelcomeScreen/welcome-screen.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddDataQualityTestPage/AddDataQualityTestPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Labels: UI, safe to test

#12720 fix maven buiild workflows
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
Labels: backend, devops, safe to test

#12721 Mvn workflows
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
Labels: backend, devops, safe to test

#12665 chore(client): replace popover with tooltip in some components
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTermsAntd.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/buttons/CopyToClipboardButton/CopyToClipboardButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
Labels: UI, safe to test

#12727 Fixes #12555 - Fix DL test suite
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/utils/datalake/common.py
  ingestion/src/metadata/utils/datalake/csv_tsv_dispatch.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
Labels: Ingestion, safe to test

#12714 [FEAT] Implement Docker InitContainer for migration
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  docker/openmetadata-start.sh
Labels: devops, safe to test

#12730 Fix Failing TestSuite Migration
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/utils/v110/MigrationUtil.java
Labels: backend, safe to test

#12731 fix: CI Maven Builds; Cypress Tests
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build-skip.yml
  .github/workflows/maven-postgres-tests-build.yml
Labels: devops, safe to test

#12724 fixed displayName issue for owner
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/GlossaryTermIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/TeamIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/indexes/UserIndex.java
Labels: backend, safe to test

#12723 doc: add what's new for 1.1.1
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#12740 Fixes #11305 Delete threads corresponding to an entity when the entity …
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogGenericExceptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/MessageParser.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
Labels: backend, safe to test

#12729 fixed issue for when classification has . in name the termCount was n…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuiteStepper/TestSuiteStepper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI, backend, safe to test

#12744 [Docs] - host.docker.internal docs & postgres ingestAllDatabases belo…
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/AzureSQL.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Clickhouse.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Databricks.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Db2.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Druid.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Hive.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Impala.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/MariaDB.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/MongoDB.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mssql.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Oracle.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/PinotDB.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Postgres.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Presto.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Redshift.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/SQLite.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/SapHana.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/SingleStore.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Trino.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Vertica.md
Labels: UI, Ingestion, backend, safe to test

#12737 fix: Align Docker Base Image to use airflow 2.5.3
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Labels: Ingestion, devops, safe to test

#12748 [Docs] - Update release information for 1.1.1
  openmetadata-docs/content/v1.1.1-SNAPSHOT/releases/index.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/releases/releases/latest.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/releases/releases/supported.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/releases/roadmap/index.md
Labels: documentation, Ingestion, safe to test

#12750 Avro record dtype fix for datalake
  ingestion/src/metadata/parsers/avro_parser.py
Labels: Ingestion, safe to test

#12749 fix(ui): redirection issue of frequently join column
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#12754 fix(ui): the redirect issue in DQ pipeline because of encoding
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeader/EntityHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestCaseDetailsPage/TestCaseDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LogsViewer.utils.ts
Labels: UI, safe to test

#12753 Improve exception handling for superset
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/client.py
Labels: Ingestion, safe to test

#12742 Fixes 12741 Getting entity by name does not return inherited properties
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogGenericExceptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: backend, safe to test

#12758 test suite listing fixes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
Labels: backend, safe to test

#12477 chore:(ui): parse ingestion workflow schemas
  .gitignore
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/parseIngestionSchema.js
Labels: UI, safe to test

#12767 Update PostgreSQL Base Branch to `14` for `1.1.1` release
  docker/postgresql/Dockerfile_postgres
Labels: devops, safe to test

#12768 feat(version-bump): Prepare 1.1.1-release
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: UI, Ingestion, backend, devops, safe to test

#12761 Log the query in restore if there are any exceptions
  ingestion/src/metadata/cli/restore.py
Labels: Ingestion, safe to test

#12755 [Docs] - Oracle permissions explanation
  openmetadata-docs/content/v1.1.1-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/deployment/ingestion/openmetadata.md
Labels: documentation, Ingestion, safe to test

#12711 Fix #9704 - Add inline TNS string
  ingestion/src/metadata/ingestion/source/database/oracle/connection.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Oracle.md
Labels: UI, Ingestion, backend, safe to test

#12769 ui: fixed table encoding issue while splitting FQN
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, safe to test

#12772 cypress: worked on flaky ui cypress
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
Labels: UI, safe to test

#12775 [FIX] Fixing docker compose OM server version
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#12778 Docs: fix mssql pyodbc connection args
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mssql.md
Labels: UI, Ingestion, safe to test

#12728 chore(ui): added unit and cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/DataInsightMetadataToESConfigForm/DataInsightMetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/KillIngestionPipelineModal/KillIngestionModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/KillIngestionPipelineModal/KillIngestionPipelineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsIngestion/SettingsIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/IngestionListTable.mock.ts
Labels: UI, safe to test

#12780 chore: add type in json schema
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dataInsightPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryLineagePipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryUsagePipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtAzureConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtGCSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtS3Config.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/messagingServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/metadataToElasticSearchPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/mlmodelServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/containerMetadataConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storageServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
Labels: UI, backend, safe to test

#12781 [Fix] Docs update to 1.1.1 version
  openmetadata-docs/content/partials/v1.1.1/deployment/upgrade/upgrade-prerequisites-111.md
Labels: documentation, devops, safe to test

#12784 Fix #12783: Metadata Ingestion is dropping constraints just to add them again afterwards
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
Labels: Ingestion, backend, safe to test

#12788 Table Constraint & Bump Ingestion Version
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
Labels: Ingestion, safe to test

#12789 fix(ui): types reference issue
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/DataInsightMetadataToESConfigForm/DataInsightMetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm/MetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LogsViewer.utils.ts
Labels: UI, safe to test

#12801 Fix maven workflows to build the project before running tests
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
Labels: backend, devops, safe to test

#12796 Added ui support for Russian language
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, safe to test

#12809 Fix impala migration query
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v014__create_db_connection_info.sql
Labels: Ingestion, safe to test

#12776 Fix #12770 - Cleanup DL structure & Readers & Python 3.8
  .github/workflows/py-tests.yml
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/parser.py
  ingestion/src/metadata/ingestion/source/database/datalake/columns.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/readers/dataframe/__init__.py
  ingestion/src/metadata/readers/dataframe/avro.py
  ingestion/src/metadata/readers/dataframe/base.py
  ingestion/src/metadata/readers/dataframe/common.py
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/src/metadata/readers/dataframe/json.py
  ingestion/src/metadata/readers/dataframe/models.py
  ingestion/src/metadata/readers/dataframe/parquet.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/readers/file/__init__.py
  ingestion/src/metadata/readers/file/adls.py
  ingestion/src/metadata/readers/file/api_reader.py
  ingestion/src/metadata/readers/file/base.py
  ingestion/src/metadata/readers/file/bitbucket.py
  ingestion/src/metadata/readers/file/config_source_factory.py
  ingestion/src/metadata/readers/file/credentials.py
  ingestion/src/metadata/readers/file/gcs.py
  ingestion/src/metadata/readers/file/github.py
  ingestion/src/metadata/readers/file/local.py
  ingestion/src/metadata/readers/file/s3.py
  ingestion/src/metadata/readers/models.py
  ingestion/src/metadata/utils/datalake/avro_dispatch.py
  ingestion/src/metadata/utils/datalake/common.py
  ingestion/src/metadata/utils/datalake/csv_tsv_dispatch.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/src/metadata/utils/datalake/json_dispatch.py
  ingestion/src/metadata/utils/datalake/parquet_dispatch.py
  ingestion/tests/unit/readers/test_credentials.py
  ingestion/tests/unit/readers/test_df_reader.py
  ingestion/tests/unit/readers/test_github_reader.py
  ingestion/tests/unit/resources/datalake/cities.parquet
  ingestion/tests/unit/resources/datalake/employees.json
  ingestion/tests/unit/resources/datalake/example.avro
  ingestion/tests/unit/resources/datalake/transactions_1.csv
  ingestion/tests/unit/topology/dashboard/test_looker_lkml_parser.py
  ingestion/tests/unit/topology/dashboard/test_lookml_bitbucket_reader.py
  ingestion/tests/unit/topology/dashboard/test_lookml_github_reader.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/database/test_mongodb.py
  openmetadata-airflow-apis/setup.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/datalakeConnection.json
Labels: Ingestion, backend, devops, safe to test, Backward-Incompatible-Change

#12830 Update roadmap
  openmetadata-docs/content/v1.1.0/releases/roadmap/index.md
Labels: documentation, backend, safe to test

#12829 12803.part2 - Display names are not updated in entity references
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogGenericExceptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
Labels: backend, safe to test

#12800 Fix #10164: Check any name voilations during the import dryrun
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/test/java/org/openmetadata/csv/EntityCsvTest.java
Labels: backend, safe to test

#12799 Fix #12734 - Do not publish .egg to pypi
  .github/workflows/py-ingestion-core-publish.yml
  .github/workflows/py-ingestion-publish.yml
  Makefile
Labels: Ingestion, devops, safe to test

#12804 Fix #12798 - Update Snowflake GetTables test query
  ingestion/src/metadata/ingestion/source/database/mongodb/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Labels: Ingestion, safe to test

#12827 ui: replace encodeURI with encodeURIComponent in entity details page
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#12807 Fix bulk soft-delete or restore from search indexes
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchRetriableException.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/DataInsightsReportJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChangeEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/EventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/IndexUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/ParseTags.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRequest.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRetriableException.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/UpdateSearchEventsConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ColumnIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ElasticSearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryTermIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/QueryIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ReportDataIndexes.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TagIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TeamIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/UserIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/models/FlattenColumn.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/models/FlattenSchemaField.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/models/SearchSuggest.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/changeEvent.json
Labels: backend, safe to test

#12832 fix: show owner in glossary term table
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.style.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
Labels: UI, safe to test

#12782 Fix #12779: Add support for SearchIndexes for ElasticSearch and OpenSearch
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v015__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v015__create_db_connection_info.sql
  ingestion/examples/sample_data/searchIndexes/searchIndexes.json
  ingestion/examples/sample_data/searchIndexes/service.json
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/searchindex/SearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/searchIndexes/SearchServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/SearchServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createSearchIndex.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createSearchService.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/searchIndex.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/customSearchConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/elasticSearchConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/openSearchConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/searchService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/serviceType.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/searchServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
Labels: UI, Ingestion, backend, safe to test

#12841 [Fix] Init Container depends on
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#12848 fix(docs) - Duplicate section
  openmetadata-docs/content/v1.1.1/deployment/docker/index.md
Labels: documentation

#12847 Fix #12346: Allow updating Query used by other tables while editing …
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
Labels: backend, safe to test

#12850 Fix Cypress Test failures for search
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
Labels: backend, safe to test

#12849 Fix Qliksense import
  ingestion/setup.py
Labels: Ingestion, safe to test

#12851 Fix: pyodbc type not supported for -150
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
Labels: Ingestion, safe to test

#12864 test suite listing fixes
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/utils/v110/MigrationUtil.java
Labels: backend, safe to test

#12866 Removing the large packages clean as the github action is failing
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/monitor-slack-link.yml
  .github/workflows/publish-maven-package.yml
  .github/workflows/security-scan.yml
  .github/workflows/selenium-noIngestion-tests.yml
Labels: devops, safe to test

#12859 Issue 11345
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DataInsightAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/EsServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/EsServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OsServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OsServicesOwnerAggregator.java
  openmetadata-service/src/main/resources/elasticsearch/entity_report_data_index.json
  openmetadata-service/src/main/resources/json/data/dataInsight/percentageOfServicesWithDescription.json
  openmetadata-service/src/main/resources/json/data/dataInsight/percentageOfServicesWithOwner.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/entityReportData.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/dataInsightChartResult.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/percentageOfServicesWithDescription.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/percentageOfServicesWithOwner.json
  openmetadata-spec/src/main/resources/json/schema/type/changeEvent.json
Labels: Ingestion, backend, safe to test

#12861 fix data consumer role cypress and some ui issues
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#12868 Fix #12479: MariaDB Mysql Time Col profiler issues + fix e2e tests
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/cli_e2e/test_cli_postgres.py
Labels: Ingestion, safe to test

#12872 Fix Ldap
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
Labels: Ingestion, backend, safe to test

#12840 Fix ADLS parquet reads
  ingestion/src/metadata/ingestion/source/database/column_helpers.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/readers/dataframe/parquet.py
  ingestion/tests/unit/topology/storage/test_storage.py
Labels: Ingestion, safe to test

#12881 chore(ui): remove validation for connection option and arguments from json schema form
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#12852 fix #12815: user not able to create ingestion pipeline with isOwner() or matchTeam() conditions
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#12786 fix(ui): schema page loader bug
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
Labels: UI, safe to test

#12843 Fixes 12820: SageMaker Metadata Ingestion Success
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker/metadata.py
Labels: Ingestion, safe to test

#12893 Add missing API docs to 1.1.1
  openmetadata-docs/content/v1.1.1/developers/apis/api-organization.md
  openmetadata-docs/content/v1.1.1/developers/apis/implementation-notes.md
  openmetadata-docs/content/v1.1.1/developers/apis/index.md
Labels: documentation, backend, safe to test

#12823 Add support for JWT auth in Trino
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v015__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v015__create_db_connection_info.sql
  ingestion/examples/workflows/trino.yaml
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/common/jwtAuth.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Trino.md
Labels: UI, Ingestion, backend, safe to test

#12676 Fixed #11519 Support Usage queries contain \n characters
  ingestion/src/metadata/ingestion/source/database/usage_source.py
Labels: Ingestion, safe to test

#12466 Fixes Issue #12297 - Added upsert logic for DI
  ingestion/src/metadata/data_insight/api/workflow.py
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
Labels: Ingestion, backend, safe to test, data insight

#12897 Added LogBack File for bootstrap_storage.sh
  openmetadata-service/src/main/resources/logback.xml
Labels: backend, safe to test

#12856 Added dbt multiple project support for s3, azure, gcs datalake sources
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/readers/file/config_source_factory.py
  ingestion/src/metadata/utils/s3_utils.py
Labels: Ingestion, safe to test

#12871 ui : supported delete functionality for sample data
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-delete.svg
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.style.less
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/sample.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tableAPI.ts
Labels: UI, safe to test

#12888 fix: supported display name in activity feed
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeaderName.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeaderV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: UI, safe to test

#12706 ui: fixed multiple API call in table profiler tab
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
Labels: UI, safe to test

#12904 ui: added title for policy and role page & fix multi selection issue in create policy
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
Labels: UI, safe to test

#12889 Add External Table type support bq
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
Labels: Ingestion, safe to test

#12905 chore(ui) : fix ui styling issues
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/activity-feed-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/SourceList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/tagsV1.less
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Chip/Chip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryViewer/QueryViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryViewer/query-viewer.style.less
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
Labels: UI, safe to test

#12913 Fix Classification Migration for missing fqn in json causing failures
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
Labels: backend, safe to test

#12915 Fix #11228 - Document Airflow Permissions
  openmetadata-docs/content/v1.1.1/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/deployment/ingestion/openmetadata.md
Labels: documentation, Ingestion, safe to test

#12892 Fix #12302: Add ElasticSearch Ingestion Source
  ingestion/examples/workflows/elasticsearch.yaml
  ingestion/src/metadata/ingestion/models/search_index_data.py
  ingestion/src/metadata/ingestion/ometa/mixins/search_index_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/search/elasticsearch/connection.py
  ingestion/src/metadata/ingestion/source/search/elasticsearch/metadata.py
  ingestion/src/metadata/ingestion/source/search/elasticsearch/parser.py
  ingestion/src/metadata/ingestion/source/search/search_service.py
  ingestion/src/metadata/utils/filters.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/topology/search/test_elasticsearch.py
  openmetadata-service/src/main/resources/json/data/testConnections/search/elasticsearch.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/searchIndex.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/elasticSearchConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/searchServiceMetadataPipeline.json
Labels: Ingestion, backend, safe to test

#12918 delete alias only if it exist
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
Labels: backend, safe to test

#12811 fix: change design of mention list item
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.css
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#12921 [SecurityHeaders] Fixed issue with Security Headers
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/OMWebBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/OMWebConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/PermissionPolicyHeaderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/ReferrerPolicyHeaderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/OMErrorPageHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/OpenMetadataAssetServlet.java
Labels: backend, devops, safe to test

#12923 Fix postgres migration files
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v008__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v010__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v011__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v012__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v013__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v001__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v002__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v003__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v004__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v005__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v006__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v007__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v008__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v009__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v010__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v011__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v012__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v013__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/flyway/org.postgresql.Driver/v014__create_db_connection_info.sql.orig
  bootstrap/sql/migrations/native/1.1.0/mysql/postDataMigrationSQLScript.sql.orig
  bootstrap/sql/migrations/native/1.1.0/mysql/schemaChanges.sql.orig
  bootstrap/sql/migrations/native/1.1.0/postgres/postDataMigrationSQLScript.sql.orig
  bootstrap/sql/migrations/native/1.1.0/postgres/schemaChanges.sql.orig
  bootstrap/sql/migrations/native/1.1.1/mysql/schemaChanges.sql.orig
  bootstrap/sql/migrations/native/1.1.1/postgres/schemaChanges.sql.orig
  bootstrap/sql/migrations/native/1.1.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.2/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcess.java.orig
  openmetadata-service/src/main/resources/logback.xml.orig
Labels: Ingestion, backend, safe to test

#12890 Set Test Suite FQN
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/tests/integration/test_suite/test_workflow.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
Labels: Ingestion, backend, safe to test

#12927 fix: python tests failure after PR #12865
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/integration/data_insight/test_web_analytic_events.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
Labels: Ingestion, safe to test

#12907 Issue-12884: Fix Test Case Summary Performance Issues
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, Ingestion, backend, data quality, safe to test

#12912 issue-12903 DELETE endpoint for profiler data
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: Ingestion, backend, profiler, safe to test

#12917 chore(ui): fix ui styling issue
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/ProgressBar/ProgressBar.utils.tsx
Labels: UI, safe to test

#12824 fixes #12732: version history not showing properly for multiple changes
  openmetadata-ui/src/main/resources/ui/src/assets/svg/foreign-key-line-through.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/foreign-key.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/foriegnKey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-key-line-through.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-key.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-not-null-line-through.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-not-null.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-notnull.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-unique-line-through.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-unique.svg
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/DataAssetsVersionHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/DataAssetsVersionHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityVersionTimeLine/EntityVersionTimeLine.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/EntityVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/ForeignKeyConstraint.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsVersionHeaderUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelVersionUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineVersionUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TopicVersionUtils.ts
Labels: UI, safe to test

#10127 Support to impersonate a service account in the Bigquery source
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/utils/bigquery_utils.py
  ingestion/src/metadata/utils/credentials.py
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpCredentials.json
Labels: Ingestion, backend, safe to test

#12932 Fix E2E vars
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, devops, safe to test

#12937 docs: updated heading from test definition to test type
  openmetadata-docs/content/v1.1.1/connectors/ingestion/workflows/data-quality/index.md
Labels: documentation, UI, safe to test

#12934 Fix Test Suite Migrations
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v112/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v112/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
Labels: backend, safe to test

#12935 fix: mlflow cypress by adding model filter pattern
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/MlFlow.spec.js
Labels: UI, safe to test

#12933 Fix Impersonation issue
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/utils/bigquery_utils.py
  ingestion/src/metadata/utils/credentials.py
Labels: Ingestion, safe to test

#12916 Fix #8885 - Misleading 404 logs & suffix cleanup
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/unit/test_ometa_endpoints.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-docs/content/v1.1.1/connectors/dashboard/index.md
  openmetadata-docs/content/v1.1.1/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.1.1/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.1.1/connectors/database/index.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/database/deltalake/yaml.md
  openmetadata-docs/images/connectors/mongodb.png
  openmetadata-docs/images/connectors/qliksense.png
  openmetadata-docs/images/connectors/saphana.png
Labels: documentation, Ingestion, safe to test

#12944 Fix Oracle case issue
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
Labels: Ingestion, safe to test

#12943 chore(ui): added cypress tests for version pages and related bug fixes
  openmetadata-ui/src/main/resources/ui/cypress/common/VersionUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/storageAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: UI, safe to test

#12953 Update deployment document
  openmetadata-docs/content/v0.13.4/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/v0.13.4/connectors/pipeline/airflow/lineage-operator.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/airflow/lineage-operator.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/lineage-operator.md
  openmetadata-docs/content/v1.1.0/deployment/index.md
  openmetadata-docs/content/v1.1.1/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/v1.1.1/connectors/pipeline/airflow/lineage-operator.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/pipeline/airflow/lineage-operator.md
Labels: documentation, backend, safe to test

#12946 fix(ui): tags page api optimization after certain action
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#12958 Prepare 1.1.3 migrations based on 1.1.2
  bootstrap/sql/migrations/native/1.1.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.2/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.3/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.3/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.3/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#12920 Fix #6700: Add support for table properties: file format for datalake
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createTable.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, backend, safe to test

#12945 Oracle add filter for lineage query
  ingestion/src/metadata/ingestion/source/database/oracle/lineage.py
Labels: Ingestion, safe to test

#12955 fix(ui): encoding issue in entity pages
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
Labels: UI, safe to test

#12950 chore(ui): fix ui styling issue
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.less
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#12837 ui: NO option to edit associated tables "Query used by other tables:" while editing query #12346
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/QueryFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryUsedByOtherTable/QueryUsedByOtherTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryUsedByOtherTable/QueryUsedByOtherTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/QueryPage/QueryPage.component.tsx
Labels: UI, backend, safe to test

#12931 Update dependencies
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  pom.xml
Labels: backend, safe to test

#12961 chore(ui): fix ui styling issue
  openmetadata-ui/src/main/resources/ui/src/assets/svg/Reaction.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/Reply.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/delete-white.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
Labels: UI, safe to test

#12939 Refactor converter, unique count, add registry
  ingestion/src/metadata/profiler/metrics/static/unique_count.py
  ingestion/src/metadata/profiler/orm/converter/base.py
  ingestion/src/metadata/profiler/orm/converter/converter_registry.py
  ingestion/src/metadata/profiler/orm/converter/dispatch_converter.py
  ingestion/src/metadata/profiler/orm/converter/registry.py
  ingestion/src/metadata/profiler/orm/functions/sum.py
  ingestion/src/metadata/profiler/orm/functions/unique_count.py
Labels: Ingestion, safe to test

#12970 Run Maven CI on manual dispatch
  .github/workflows/maven-build.yml
Labels: Ingestion, devops, safe to test

#12942 - LowerCase the UserNames and Email in user_entity
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v112/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v112/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LoginAttemptCache.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/bots/BotResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#12926 Fix #10344 - Use ingestionPipeline retries when deploying
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/dbt.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/lineage.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/profiler.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/usage.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Messaging/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Metadata/workflows/dataInsight.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Metadata/workflows/elasticSearchReindex.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Metadata/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/MlModel/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Storage/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/IngestionWorkflow.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, Ingestion, backend, safe to test

#12974 Add include views to profiler
  ingestion/src/metadata/profiler/api/workflow.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
Labels: Ingestion, backend, safe to test

#12962 doc(ui): whats new for 1.1.2
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#12963 [WIP] - Add testSuite query param for listing Ingestion Pipelines
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/SettingsIngestion/SettingsIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Labels: UI, Ingestion, backend, safe to test

#12965 Attach openmetadata-ui sources in packaging
  openmetadata-ui/pom.xml
Labels: UI, safe to test

#12985 [Feat] Version-bump: Prepare 1.1.2-release
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  docker/postgresql/Dockerfile_postgres
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: UI, Ingestion, backend, devops, safe to test

#12983 doc: update data insight doc
  openmetadata-docs/content/v1.2.0-SNAPSHOT/features/data-insight/index.md
  openmetadata-docs/images/v1.2.0/features/data-insight/add-data-insight-pipeline.png
  openmetadata-docs/images/v1.2.0/features/data-insight/data-insight-page.png
Labels: documentation, UI, safe to test

#12990 ui: updated schedule interval to send undefine when none is selected
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
Labels: UI, safe to test

#12982 fixed #10691 support multiDatabase, usage & lineage support for Azure SQL
  ingestion/examples/workflows/azuresql_lineage.yaml
  ingestion/examples/workflows/azuresql_usage.yaml
  ingestion/src/metadata/ingestion/source/database/azuresql/lineage.py
  ingestion/src/metadata/ingestion/source/database/azuresql/metadata.py
  ingestion/src/metadata/ingestion/source/database/azuresql/query_parser.py
  ingestion/src/metadata/ingestion/source/database/azuresql/usage.py
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/database/azuresql/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/AzureSQL.md
Labels: documentation, UI, Ingestion, backend, safe to test

#12988 Fix airflow config retries postgres migration
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#12997 fix(chore): Remove OPENMETADATA_DEBUG Param
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#12993 Remove .egg for airflow APIs publish
  .github/workflows/openmetadata-airflow-apis.yml
Labels: Ingestion, devops, safe to test

#12999 Fix #12167: Support for Stored Procedures as another entity under Database Schema
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  ingestion/examples/sample_data/datasets/stored_procedures.json
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/StoredProcedureResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/StoredProcedureResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createStoredProcedure.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/storedProcedure.json
Labels: Ingestion, backend, safe to test

#12948 Issue 8930 - Update profiler timestamp from seconds to milliseconds
  bootstrap/sql/migrations/native/1.1.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.3/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
Labels: UI, Ingestion, profiler, safe to test

#13000 [Docs] - Update path for generating API description
  openmetadata-service/pom.xml
Labels: Ingestion, backend, safe to test

#13003 fix(docs): Add FAQs for kubernetes
  openmetadata-docs/content/v1.1.2/deployment/kubernetes/faqs.md
Labels: documentation, devops, safe to test

#13006 [DOC FIX] Updating 1.1.2 Documentation with the required fixes
  openmetadata-docs/content/partials/v1.1.2/deployment/upgrade/upgrade-prerequisites-112.md
  openmetadata-docs/content/v1.1.2/deployment/docker/index.md
  openmetadata-docs/content/v1.1.2/deployment/upgrade/index.md
  openmetadata-docs/content/v1.1.2/quick-start/local-docker-deployment.md
Labels: documentation, devops, safe to test

#12991 Issue-12914 -- Split profiler, data quality and data insight table from `entity_time_series_extension`
  bootstrap/sql/migrations/native/1.1.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.3/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportDataRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: Ingestion, backend, safe to test

#12973 chore(ui): restrict unwanted api calls and fix some styling issue
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test
