Repository open-metadata/OpenMetadata, pull requests merged in 2023-12, with the labels that each got.

#14191 #11626 & #14131 - Lineage with other Entities & attr-based xlets
  docker/development/docker-compose.yml
  ingestion/examples/airflow/dags/airflow_lineage_example.py
  ingestion/setup.py
  ingestion/src/airflow_provider_openmetadata/lineage/backend.py
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/integration/airflow/__init__.py
  ingestion/tests/integration/airflow/test_lineage_runner.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
  openmetadata-docs/content/v1.2.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/airflow/lineage-backend.md
Labels: documentation, Ingestion, devops, safe to test

#14188 fix: add autocomplete widget for dynamic forms
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetAsyncSelectList/DataAssetAsyncSelectList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JsonSchemaWidgets/AsyncSelectWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Applications.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
Labels: UI, safe to test

#14137 #14136: duplicate column issue in pipeline execution and date picker clear action
  openmetadata-ui/src/main/resources/ui/src/assets/svg/calendar.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/filter.svg
  openmetadata-ui/src/main/resources/ui/src/components/Execution/Execution.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/Execution.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/PipelineVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/executionUtils.tsx
Labels: UI, safe to test

#14194 DOCS: Moved out of OM folder
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/activity-feeds.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/add-announcement.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/announcements.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/request-description.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/request-tags.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-discovery/details.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-discovery/discover.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-discovery/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-discovery/preview.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/assets.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/auto.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/best-practices.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/classification.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/request-tags.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/tiers.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/assets.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/best-practices.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/create-terms.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/glossary-term.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/import.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/setup.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/cost-analaysis.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/data-culture.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/email-report.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/ingestion.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/kpi.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/report.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/tiering.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/column.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/explore.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/manual.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/workflow.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-quality-profiler/alerts.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-quality-profiler/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-quality-profiler/tab.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-quality-profiler/test.md
Labels: documentation, safe to test

#14192 fix: #14187 TagsVersionPage break having dot in it's name
  openmetadata-ui/src/main/resources/ui/src/pages/ClassificationVersionPage/ClassificationVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ClassificationVersionPage/ClassificationVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Labels: UI, safe to test

#14155 Minor: Add recursive flag for delete consistently in all the APIs
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/StoredProcedureResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/searchindex/SearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/searchIndexes/SearchServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
Labels: backend, safe to test

#14124 optimise the CIs
  .github/workflows/maven-build-skip.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
Labels: devops, safe to test

#14202 Minor: add base class for entity right panel
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityRightPanelClassBase.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityRightPanelClassBase.ts
Labels: UI, safe to test

#14200 Fixes #14182: Search Index Application weekly schedule
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CronUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CronUtils.ts
Labels: UI, safe to test

#14206 Fix #13850: Glossary FQN should be used
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
Labels: backend, safe to test

#14029 #14028: fix the sed command issue in ingestion dep script
  ingestion/ingestion_dependency.sh
Labels: Ingestion, safe to test

#14139 Update ingestion_dependency.sh
  docker/development/docker-compose.yml
  ingestion/ingestion_dependency.sh
Labels: Ingestion, devops, safe to test

#14221 Minor: Fix 'str' object has no attribute 'serviceType' for SP Lineage
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
Labels: Ingestion, safe to test

#14216 Minor: Fix airflow empty status
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Labels: Ingestion, safe to test

#14226 Fix #14161 - Add skip on failure when listing entities in DI
  ingestion/src/metadata/data_insight/producer/web_analytics_producer.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Labels: Ingestion, safe to test, data insight

#14228 doc: Python API reference documentation
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/auth_provider.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/client.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/client_utils.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/credentials.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/dashboard_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/data_insight_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/es_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/index.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/ingestion_pipeline_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/lineage_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/mlmodel_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/models.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/ometa_api.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/patch_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/patch_mixin_utils.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/pipeline_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/provider_registry.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/query_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/role_policy_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/routes.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/search_index_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/server_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/service_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/table_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/tests_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/topic_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/user_mixin.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/utils.md
  openmetadata-docs/content/v1.2.x/sdk/python/api-reference/version_mixin.md
Labels: documentation, Ingestion, safe to test

#14207 #13719 : Change task title in activity feeds
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TableVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Task.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#14163 #14134: supported retention period in table entity
  ingestion/examples/sample_data/datasets/tables.json
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/RetentionPeriod/RetentionPeriod.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RetentionPeriod/RetentionPeriod.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RetentionPeriod/RetentionPeriod.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/DashboardDataModel.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Database.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/DatabaseSchema.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/MlModelVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/SearchIndex.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Service.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/StoredProcedure.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/dashboardVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.test.tsx
Labels: UI, Ingestion, backend, safe to test

#14232 DOCS: Glossary article updates
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/approval.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/import.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/styling.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/report.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/images/v1.2/how-to-guides/governance/glossary_approval.png
  openmetadata-docs/images/v1.2/how-to-guides/governance/style1.png
  openmetadata-docs/images/v1.2/how-to-guides/governance/style2.png
  openmetadata-docs/images/v1.2/how-to-guides/governance/style3.png
  openmetadata-docs/images/v1.2/how-to-guides/governance/style4.png
Labels: documentation, safe to test

#14241 DOCS: Minor change - Data governance slug
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/index.md
Labels: documentation, safe to test

#14230 #14153: Fix snowflake docs
  openmetadata-docs/content/v1.2.x/connectors/database/snowflake/yaml.md
Labels: documentation, Ingestion, safe to test

#14204 FIXES #14049 - Split test case resolution status from test case result
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AuditEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityTimeSeriesInterface.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCaseResolutionStatus.json
  openmetadata-spec/src/main/resources/json/schema/tests/assigned.json
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/inReview.json
  openmetadata-spec/src/main/resources/json/schema/tests/resolved.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCaseResolutionStatus.json
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
Labels: UI, Ingestion, backend, safe to test, Backward-Incompatible-Change

#14231 Fix Patch in Apps
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: backend, safe to test

#14239 Minor: doc fix wrong url in README.md
  README.md
Labels: safe to test

#14245 MINOR: missing import in SearchIndexRepository class
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
Labels: Ingestion, backend, safe to test

#14244 Adds a validation API
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/addGlossaryToAssetsRequest.json
  openmetadata-spec/src/main/resources/json/schema/type/bulkOperationResult.json
Labels: backend, safe to test

#14236 fix(ui): throw validation errors while modifying glossary term
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-exclamation-circle.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryUpdateConfirmationModal/GlossaryUpdateConfirmationModal.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryUpdateConfirmationModal/GlossaryUpdateConfirmationModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#14251 Assignee can only be user who is not a bot or Team
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Labels: backend, safe to test

#14225 Format Error on Indexing Application, and in schedule turn off recreate
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
Labels: backend, safe to test

#14250 Aggregation case insensitive issue and explore page search fix
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/data_products_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
Labels: UI, backend, safe to test

#14254 Minor: fixed the links for kubernetes on premises page
  openmetadata-docs/content/v1.0.x/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.0.x/menu.md
  openmetadata-docs/content/v1.2.x/menu.md
Labels: documentation, UI, safe to test

#14219 #14168: Mark SP and Data model deletion
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/metadata.md
Labels: UI, Ingestion, backend, safe to test

#14214 feat: add profile for doris connector
  ingestion/src/metadata/profiler/orm/functions/length.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/src/metadata/profiler/orm/registry.py
Labels: Ingestion, safe to test

#14256 #14217: remove logback dependency
  common/pom.xml
  pom.xml
Labels: backend, safe to test

#14264 fix: Include `DB_PROPERTIES` env for docker-compose files
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-ingestion/env-mysql
  docker/docker-compose-ingestion/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#14269 USer password appears in failing entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#13999 Fixes: 14240 and Fixes 13365: Bulk patch descriptions from dbt
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
Labels: Ingestion, backend, safe to test

#14274 fix: `AIRFLOW_DB_PROPERTIES` default value in docker compose files
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/ingestion_dependency.sh
Labels: Ingestion, devops, safe to test

#14276 Minor: Remove retention period from patch request
  ingestion/src/metadata/ingestion/models/patch_request.py
Labels: Ingestion, safe to test

#14275 Miner: cypress - fixed failing cypress in main
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
Labels: UI, safe to test

#14270 propogate domain if added at service level
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Labels: backend, safe to test

#14278 Docs: Link corrected
  openmetadata-docs/content/v1.2.x/how-to-guides/index.md
Labels: documentation, safe to test

#14258 Minor: Fix test case resolution status indexes
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
Labels: backend, safe to test

#14255 Assets improvements part 2
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AssetFilters/AssetFilters.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AssetFilters/AssetFilters.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/asset-selection-model.style.less
  openmetadata-ui/src/main/resources/ui/src/components/DataProductsContainer/DataProductsContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryUpdateConfirmationModal/GlossaryUpdateConfirmationModal.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryUpdateConfirmationModal/GlossaryUpdateConfirmationModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationUtils.tsx
Labels: UI, backend, safe to test

#14279 MINOR: Remove column displayName from patch request
  ingestion/src/metadata/ingestion/models/patch_request.py
Labels: Ingestion, safe to test

#14283 fix: revert testCaseResolutionStatus index mapping
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
Labels: UI, backend, safe to test

#14284 Minor: fix entityType aggregation
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/metadata_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/metadata_service_search_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/metadata_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/tag_index_mapping.json
Labels: backend, safe to test

#14281 fix(ui): tag updataion with derived tags
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
Labels: UI, safe to test

#14271 doc: add whats new for 1.2.3
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#14293 FIXED: notificaiton widget position issue
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
Labels: UI, safe to test

#14290 Minor(#13715): add table support in block editor
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-add-column-after.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-add-row-after.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-delete-column.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-delete-row.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-table.svg
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BubbleMenu/BubbleMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/EditorSlots.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slash-command/items.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slash-command/renderItems.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/TableMenu/TableMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#14305 MINOR: Fix description and tags update from ingestion patch
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
Labels: Ingestion, safe to test

#14310 Fix #14308: Search is not working for column/schema field level
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/topic_index_mapping.json
Labels: backend, safe to test

#14309 Update dependencies and plugins
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-ui/pom.xml
  pom.xml
Labels: UI, backend, safe to test

#14246 #13696: add support for dot in schema name to fetch tables
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
  ingestion/tests/unit/topology/database/test_mssql.py
Labels: Ingestion, safe to test

#14315 fix(#14311):Unable to add the term's name in Thai.
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.test.ts
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
Labels: UI, safe to test

#14297 MINOR: Fix the query of domain in explore
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Domains.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
Labels: UI, safe to test

#14316 Fix custom attrs for glossary term
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, safe to test

#14249 #14235: adding dialect based on connection type to LineageParser
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
Labels: Ingestion, safe to test

#14321 MINOR: Fixed dashboard e2e counts after put v/s patch update and demo instance changes
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
  ingestion/tests/cli_e2e/test_cli_quicksight.py
  ingestion/tests/cli_e2e/test_cli_redash.py
  ingestion/tests/cli_e2e/test_cli_tableau.py
Labels: Ingestion, safe to test

#14322 Minor(Cypress): Fixed failing cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearchQuickFilters.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightAlert.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Domains.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
Labels: UI, safe to test

#14223 changes needed for adding knowledgeCenterIndex
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Labels: backend, safe to test

#14328 #12539 change the default "last 3 days" for Data Quality TestCaseResults
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
Labels: UI, safe to test

#14332 MINOR: Fixed json schema descriptions for query duration from seconds to milliseconds
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/type/queryParserData.json
  openmetadata-spec/src/main/resources/json/schema/type/tableQuery.json
Labels: Ingestion, backend, safe to test

#14335 Made the indexFactory getter setter public because of CI error in col…
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Labels: backend, safe to test

#14336 DOCS: URL corrections
  openmetadata-docs/content/v1.1.x/how-to-guides/data-governance/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/quick-start-guide-for-admins/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/quick-start-guide-for-admins/teams-and-users/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/teams-and-users/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/index.md
Labels: documentation, safe to test

#14330 MINOR: renamed API endpoints from `resolution` to `incident`
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#14342 Minor: Fix docs to include jwt url from OM in all the principalURLs config
  openmetadata-docs/content/v1.2.x/deployment/security/amazon-cognito-sso/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/amazon-cognito-sso/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/amazon-cognito-sso/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/auth0/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/azure/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.2.x/deployment/security/custom-oidc/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/google/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/google/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/google/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/one-login/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/one-login/kubernetes.md
Labels: documentation, backend, safe to test

#14341 MINOR: Fixed entity request left check in topology runner
  ingestion/src/metadata/ingestion/api/topology_runner.py
Labels: Ingestion, safe to test

#14344 chore(docs): Update JWT Token snippet path
  openmetadata-docs/content/v1.2.x/deployment/security/enable-jwt-tokens.md
Labels: documentation, devops, safe to test

#14323 FIX #14248 - Implement test case resolution task workflow
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/feed/closeTask.json
  openmetadata-spec/src/main/resources/json/schema/api/feed/resolveTask.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCaseResolutionStatus.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/tests/inReview.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCaseResolutionStatus.json
Labels: Ingestion, backend, data quality, safe to test

#14338 fixes #14337: remove security gap in approval workflow
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
Labels: UI, safe to test

#14350 #14351 fixed profiler setting is not persist for sample data count
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
Labels: UI, safe to test

#14345 #13445 Profiler Graph Should not Show a Point if value is None
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerLatestValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/SingleColumnProfile.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ObjectUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ObjectUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableProfilerUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableProfilerUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableProfilerUtils.ts
Labels: UI, safe to test

#14352 Minor: Fix e2e count mismatch
  ingestion/tests/cli_e2e/database/bigquery_multiple_project/bigquery_multiple_project.yaml
  ingestion/tests/cli_e2e/test_cli_bigquery_multiple_project.py
  ingestion/tests/cli_e2e/test_cli_dbt_redshift.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#14364 Docs: YouTube images have been resized
  openmetadata-docs/content/partials/v1.2/releases/latest.md
  openmetadata-docs/content/v1.0.x/developers/open-source-community.md
  openmetadata-docs/content/v1.0.x/quick-start/local-deployment.md
  openmetadata-docs/content/v1.0.x/releases/releases/index.md
  openmetadata-docs/content/v1.1.x/developers/open-source-community.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-discovery/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-insights/data-culture.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-lineage/column.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-lineage/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-lineage/manual.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-quality-profiler/index.md
  openmetadata-docs/content/v1.1.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.1.x/releases/releases/index.md
  openmetadata-docs/content/v1.2.x/connectors/custom-connectors.md
  openmetadata-docs/content/v1.2.x/developers/open-source-community.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-discovery/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/approval.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/data-culture.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/column.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-lineage/manual.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-quality-profiler/index.md
  openmetadata-docs/content/v1.2.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.2.x/releases/releases/index.md
Labels: documentation, safe to test

#14334 Update Cypress CI workflows for issue-14324
  .github/workflows/cypress-integration-tests-mysql-skip.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql-skip.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#14367 Minor (cypress): fixed failing cypress for custom metric
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/CustomMetric.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
Labels: UI, safe to test

#14273 fix old password match
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
Labels: UI, backend, safe to test

#14372 Update Cypress CI strategy
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops

#14147 [Docs]- add ui doc for doris connector
  openmetadata-docs/content/v1.2.x/connectors/database/doris/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/doris/yaml.md
  openmetadata-docs/images/v1.2/connectors/doris/add-new-service.png
  openmetadata-docs/images/v1.2/connectors/doris/select-service.png
  openmetadata-docs/images/v1.2/connectors/doris/service-connection.png
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Doris.md
Labels: documentation, UI, safe to test

#14374 Docs: Changes in Admin Guide & How-to Guides home page
  openmetadata-docs/content/v1.1.x/how-to-guides/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/roles-policies/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/roles-policies/use-cases.md
  openmetadata-docs/content/v1.2.x/how-to-guides/index.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/connector1.jpg
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/connector2.jpg
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/delete1.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/delete2.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/schedule.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake1.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake2.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake3.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake4.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake5.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake6.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake7.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/snowflake8.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/testconnection1.png
  openmetadata-docs/images/v1.2/how-to-guides/admin-guide/view-service.png
Labels: documentation, safe to test

#14371 Minor: Improve exception handling in Superset
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#14373 Minor: Airflow skip task status if task deleted
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Labels: Ingestion, safe to test

#14377 FIX #14376: Pagination control get blocked by notification popup
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
Labels: UI, safe to test

#14380 Docs: Updated v1.3 & changed to How-to Guides
  openmetadata-docs/content/partials/v1.3/releases/latest.md
  openmetadata-docs/content/v1.0.x/how-to-guides/index.md
  openmetadata-docs/content/v1.0.x/menu.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-governance/glossary-classification/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/index.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/classification/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/index.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/custom-connectors.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/developers/open-source-community.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/use-cases.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-discovery/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-governance/classification/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-governance/glossary/approval.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-governance/glossary/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-insights/data-culture.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-lineage/column.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-lineage/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-lineage/manual.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-quality-profiler/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/connector1.jpg
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/connector2.jpg
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/delete1.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/delete2.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/schedule.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake1.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake2.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake3.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake4.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake5.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake6.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake7.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/snowflake8.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/testconnection1.png
  openmetadata-docs/images/v1.3/how-to-guides/admin-guide/view-service.png
Labels: documentation, safe to test

#14382 Fix ci label
  .github/workflows/java-checkstyle.yml
  .github/workflows/yarn-coverage.yml
Labels: UI, devops, safe to test

#14383 Update security-scan CI to use OpenMetadata Organization
  .github/workflows/security-scan.yml
Labels: devops

#14375 Fixes #14215: Add missing decode stage to gz/zip files in json ingestion reader.
  ingestion/src/metadata/readers/dataframe/json.py
Labels: Ingestion, safe to test

#14378 #14043 - Fix metadata backup memory profile
  ingestion/src/metadata/cli/db_dump.py
  ingestion/src/metadata/cmd.py
  openmetadata-docs/content/v1.2.x/connectors/dashboard/looker/index.md
  openmetadata-docs/content/v1.2.x/connectors/dashboard/looker/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/dashboard/looker/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/dashboard/looker/yaml.md
Labels: documentation, Ingestion, safe to test

#14385 #12027 - Add support for Python 3.11
  .github/workflows/py-tests.yml
  ingestion/setup.py
  scripts/datamodel_generation.py
Labels: Ingestion, devops, safe to test

#14397 Minor: added missing connector images
  openmetadata-docs/images/connectors/apachenifi.png
  openmetadata-docs/images/connectors/dagster.png
  openmetadata-docs/images/connectors/fivetran.png
  openmetadata-docs/images/connectors/ldap.png
  openmetadata-docs/images/connectors/pulsar.png
Labels: documentation, UI, safe to test

#14399 MINOR - Don't fail fast python CI
  .github/workflows/py-tests.yml
Labels: devops

#14400 Update Dockerfile.ci file to use new MySQL Keys
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
Labels: Ingestion, safe to test

#13678 Fixes #9919: Cleaned up postgres lineage and fixed function in postgres query_parser
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/src/metadata/ingestion/source/database/postgres/query_parser.py
  ingestion/src/metadata/ingestion/source/database/postgres/usage.py
Labels: Ingestion, safe to test

#14409 MINOR - Update CI lewagon/wait-on-check-action version
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-tests.yml
  .github/workflows/yarn-coverage.yml
Labels: Ingestion, devops, safe to test

#14410 DOCS: Broken links in v1.2 corrected
  openmetadata-docs/content/v1.2.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/azuresql/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/couchbase/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/presto/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/deployment/index.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/lineage/index.md
  openmetadata-docs/content/v1.2.x/connectors/ml-model/mlflow/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/ml-model/sagemaker/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/storage/s3/yaml.md
  openmetadata-docs/content/v1.2.x/deployment/docker/index.md
  openmetadata-docs/content/v1.2.x/deployment/security/index.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.2.x/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/how-to-ingest-metadata.md
  openmetadata-docs/content/v1.2.x/how-to-guides/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/tags.md
  openmetadata-docs/content/v1.2.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.2.x/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/content/v1.2.x/quick-start/sandbox.md
Labels: documentation, safe to test

#14416 Revert "Update Dockerfile.ci file to use new MySQL Keys"
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
Labels: Ingestion, safe to test

#14412 Minor: Fix casing in MSSQL test connection query
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Labels: Ingestion, safe to test

#14356 #14340 & #13849 - Clean secret ID and improve encrypt/decrypt exception management
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/src/metadata/utils/secrets/noop_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/integration/ometa/test_ometa_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SecretsManagerException.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSBasedSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSSMSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/DBSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/ExternalSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/InMemorySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/PasswordEntityMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSSMSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/AWSSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/DBSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerLifecycleTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/entity/automations/testServiceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/secrets/secretsManagerConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/security/secrets/secretsManagerProvider.json
  openmetadata-ui/src/main/resources/ui/src/mocks/IngestionListTable.mock.ts
Labels: UI, Ingestion, backend, devops, safe to test

#14402 MINOR: Added custom properties methods in python sdk
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/models/custom_properties.py
  ingestion/src/metadata/ingestion/ometa/mixins/custom_property_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/utils/tag_utils.py
  ingestion/tests/integration/ometa/test_ometa_custom_properties_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createCustomProperty.json
Labels: Ingestion, backend, safe to test

#14407 MINOR: Prepare alation connector json schemas
  openmetadata-service/src/main/resources/json/data/testConnections/metadata/alation.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/alationConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/apiAccessTokenAuth.json
Labels: Ingestion, backend, safe to test

#14398 MINOR - Skip delta tests for 3.11
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/tests/integration/ometa/test_ometa_domains_api.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  ingestion/tests/integration/test_suite/test_workflow.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
  ingestion/tests/unit/readers/test_df_reader.py
  ingestion/tests/unit/topology/dashboard/test_looker_lkml_parser.py
  ingestion/tests/unit/topology/database/test_deltalake.py
  ingestion/tests/unit/topology/pipeline/test_airflow.py
  ingestion/tests/unit/utils/test_deprecation.py
  ingestion/tests/unit/utils/test_stored_procedures.py
  ingestion/tests/unit/workflow/test_base_workflow.py
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/deltalake/yaml.md
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/ValidatorUtilTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/events/webhook.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/entity/type.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  scripts/datamodel_generation.py
Labels: documentation, Ingestion, backend, safe to test

#14431 Minor: update git-blmae-ignore-revs, and uncomment ClassificationReso…
  .git-blame-ignore-revs
  .pre-commit-config.yaml.swp
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
Labels: backend, safe to test

#14319 Adds Test in Glossary Term from various languages
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: backend, safe to test

#14384 fix #14159: Added support for displayName in adding ingestion
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
Labels: UI, safe to test

#14436 MINOR: Apply Spotless issue fix
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: Ingestion, backend, safe to test

#14438 Add notification for Glossary Approval Task
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
Labels: backend, safe to test

#14379 Minor: add base class for search
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/DataAssetsVersionHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test, e2e

#14327 fix #14292: Tags Page UI issues
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ClassificationDetails/ClassificationDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/rich-text-editor.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test, e2e

#14426 #14425 - Create ingestion-base-slim image
  .github/workflows/docker-openmetadata-ingestion-base-slim.yml
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
  ingestion/setup.py
Labels: Ingestion, devops, safe to test

#14439 Superset exception handling in 1.1.7
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#14441 Minor: Ingestion package release 1.1.7
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#14443 FIXED - [docs] profiler image for column
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/profiler/index.md
Labels: documentation, UI, safe to test

#14444 Minor: Superset DataModel Check Fix
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#14445 Minor: Bump ingestion package version 1.1.7
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, devops, safe to test

#14446 MINOR - Truncate automations_workflow
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#14447 MINOR: Superset DataModel Check Fix
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#14381 fix #13551: show domain on users page
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/User.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.test.tsx
Labels: UI, safe to test, e2e

#14452 Docs: Link Corrected
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/approval.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-governance/glossary/approval.md
Labels: documentation, safe to test

#14420 Fix 14084: Removed Airflow Mssql backend connection
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/pipeline/airflow/connection.py
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/airflow/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/upgrade/versions/120-to-130.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/menu.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/airflowConnection.json
Labels: documentation, Ingestion, backend, safe to test

#14457 Fix [#14266]: CustomProperty page loading and error toast issue
  openmetadata-ui/src/main/resources/ui/src/components/InlineEdit/InlineEdit.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/InlineEdit/InlineEdit.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/InlineEdit/InlineEdit.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
Labels: UI, safe to test

#14289 #12908 support for table owner in postgres
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
  openmetadata-docs/content/partials/v1.2/connectors/database/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/database/configure-ingestion.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
Labels: documentation, Ingestion, backend, safe to test

#14449 MINOR: Fix Adls connection typo
  openmetadata-docs/content/v1.1.x/main-concepts/metadata-standard/schemas/entity/services/connections/storage/adlsConnection.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/content/v1.2.x/main-concepts/metadata-standard/schemas/entity/services/connections/storage/adlsConnection.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/main-concepts/metadata-standard/schemas/entity/services/connections/storage/adlsConnection.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/menu.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/storage/adlsConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
Labels: documentation, Ingestion, backend, safe to test

#14458 MINOR: Fixed add ingestion page breaking
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, Ingestion, safe to test

#14411 MINOR: Update README.md
  README.md
Labels: Ingestion, safe to test

#14465 fix: SSL Docs for `OPENMETADATA_OPTS`
  openmetadata-docs/content/v1.2.x/deployment/security/enable-ssl/airflow-ssl.md
  openmetadata-docs/content/v1.2.x/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/security/enable-ssl/airflow-ssl.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/security/enable-ssl/ssl-troubleshooting.md
Labels: documentation, devops, safe to test

#14455 fix: exception on global search sometimes
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
Labels: UI, safe to test

#14456 Fix Charts Tasks for description update
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Labels: backend, safe to test

#14460 #14317 fix: glossary term broken link
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/TagsSelectForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/TagsSelectForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Tag.constants.ts
Labels: UI, safe to test

#14287 Fixes 14286: Transpose row=None before try statement in compute_metrics_in_thread function
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
Labels: Ingestion, safe to test

#14405 fix #14404: table schema tab ui issues
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RetentionPeriod/RetentionPeriod.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RetentionPeriod/RetentionPeriod.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RetentionPeriod/RetentionPeriod.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDescription/TableDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDescription/TableDescription.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#14474 #14363: Fixed version page breaking issue for Table and Pipeline assets.
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/PipelineVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/VersionTable.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Labels: UI, safe to test, e2e

#14461 Fix 13823: Validate and Parse gracefully IngestionPipeline
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/tests/unit/test_workflow_parse.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
Labels: Ingestion, safe to test

#14481 Remove and unschedule jobs on
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
Labels: backend, safe to test

#14386 Fixes #14331 - Add Test Case Incident Manager Migration
  bootstrap/sql/migrations/native/1.3.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/resolved.json
Labels: Ingestion, backend, safe to test, migration

#14484 fix failing test case of cleanup UI
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WebAnalytics/WebAnalyticsProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementDrawer/AnnouncementDrawer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/LocationSearch/useLocationSearch.test.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.test.ts
Labels: UI, safe to test

#14469 fix(#14257): glossary term name get fully truncate for long text in glossary table
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, e2e

#14487 #14320 - FIx Airflow Callback datetime conversion
  ingestion/src/airflow_provider_openmetadata/lineage/status.py
  ingestion/tests/integration/airflow/test_lineage_runner.py
  ingestion/tests/integration/airflow/test_status_callback.py
  ingestion/tests/integration/integration_base.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Labels: Ingestion, safe to test

#14488 MINOR - Fix py CI
  ingestion/tests/integration/airflow/test_lineage_runner.py
Labels: Ingestion, safe to test

#14480 MINOR search fix
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/pipeline_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/pipeline_service_index_mapping.json
Labels: backend, safe to test

#14490 Minor: Fix context evaluation to use the class as context
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/test/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Labels: backend, safe to test

#14489 Docs: Broken links corrected
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  openmetadata-docs/content/v1.0.x/connectors/database/trino/cli.md
  openmetadata-docs/content/v1.0.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.0.x/connectors/ingestion/deployment/index.md
  openmetadata-docs/content/v1.0.x/connectors/ingestion/lineage/index.md
  openmetadata-docs/content/v1.0.x/connectors/ml-model/mlflow/cli.md
  openmetadata-docs/content/v1.0.x/connectors/ml-model/sagemaker/airflow.md
  openmetadata-docs/content/v1.0.x/connectors/ml-model/sagemaker/cli.md
  openmetadata-docs/content/v1.0.x/deployment/security/amazon-cognito-sso/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/amazon-cognito-sso/docker.md
  openmetadata-docs/content/v1.0.x/deployment/security/amazon-cognito-sso/kubernetes.md
  openmetadata-docs/content/v1.0.x/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/auth0/docker.md
  openmetadata-docs/content/v1.0.x/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.0.x/deployment/security/custom-oidc/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/v1.0.x/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/v1.0.x/deployment/security/google/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/google/docker.md
  openmetadata-docs/content/v1.0.x/deployment/security/google/kubernetes.md
  openmetadata-docs/content/v1.0.x/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.0.x/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.0.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.0.x/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.0.x/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/one-login/docker.md
  openmetadata-docs/content/v1.0.x/deployment/security/one-login/kubernetes.md
  openmetadata-docs/content/v1.0.x/sdk/python/entities/ml-model.md
  openmetadata-docs/content/v1.1.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.1.x/connectors/ingestion/deployment/index.md
  openmetadata-docs/content/v1.1.x/sdk/python/entities/ml-model.md
  openmetadata-docs/content/v1.2.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.2.x/sdk/python/entities/ml-model.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/trino/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/ml-model/sagemaker/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/sdk/python/entities/ml-model.md
Labels: documentation, Ingestion, safe to test

#14476 [Snyk] Security upgrade io.dropwizard:dropwizard-assets from 2.1.9 to 2.1.11
  pom.xml
Labels: backend, safe to test

#14491 Code clean up related to issues flagged by Sonar and IDE
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/gchat/GChatPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/msteams/MSTeamsPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/slack/SlackEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/OMErrorPageHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/usage/UsageResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/ExternalSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/OMMicrometerHttpFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MicrometerBundleSingleton.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ParallelStreamUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#14494 14493 Part 1 - Support for database schema, table import export
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/resources/json/data/database/databaseCsvDocumentation.json
  openmetadata-service/src/main/resources/json/data/databaseSchema/databaseSchemaCsvDocumentation.json
  openmetadata-service/src/test/java/org/openmetadata/csv/EntityCsvTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#14496 Fix #13982: Fix userFQN encoding while creating mentions
  bootstrap/sql/migrations/native/1.2.4/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.4/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/MessageParser.java
Labels: backend, safe to test

#14468 FIxes 13543: Added Duckdb Ingestion Connector
  ingestion/src/metadata/ingestion/source/database/duckdb/__init__.py
  ingestion/src/metadata/ingestion/source/database/duckdb/connection.py
  ingestion/src/metadata/ingestion/source/database/duckdb/metadata.py
  ingestion/src/metadata/ingestion/source/database/duckdb/queries.py
  ingestion/src/metadata/ingestion/source/database/duckdb/utils.py
  openmetadata-service/src/main/resources/json/data/testConnections/database/duckdb.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/duckdbConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-duckdb.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
Labels: UI, Ingestion, backend, safe to test

#14453 fix: Add SAML and LDAP env configs; disabled by default
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#14353 [Snyk] Security upgrade org.elasticsearch.client:elasticsearch-rest-high-level-client from 7.17.14 to 7.17.16
  pom.xml
Labels: backend, safe to test
