Repository open-metadata/OpenMetadata, pull requests merged in 2023-03, with the labels that each got.

#10367 Trino Optimize table comments
  ingestion/src/metadata/ingestion/source/database/trino/metadata.py
  ingestion/src/metadata/ingestion/source/database/trino/queries.py
Labels: Ingestion, safe to test

#10347 Add issue config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: Ingestion, safe to test

#10363 Fix #10263: Fetch Vertica Schema Comments
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
  ingestion/src/metadata/ingestion/source/database/vertica/queries.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
Labels: Ingestion, safe to test

#10316 ✨feat(ui)#10274: UI - allow to configure OM logo
  conf/openmetadata.yaml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  openmetadata-docs/content/how-to-guides/custom-logo/how-to-add-custom-logo.md
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/applicationConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
Labels: UI, safe to test

#10301 Fix #8981: Move Connection Options and Connection Args to main properties
  ingestion/src/metadata/ingestion/connections/builders.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/connection.py
  ingestion/src/metadata/ingestion/source/database/deltalake/connection.py
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  ingestion/src/metadata/ingestion/source/messaging/kafka/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/clickhouseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltaLakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/kafkaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/redpandaConnection.json
Labels: Ingestion, safe to test

#10371 fix: docs for k8s publicKeys
  openmetadata-docs/content/deployment/security/amazon-cognito-sso/kubernetes.md
  openmetadata-docs/content/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/deployment/security/google/kubernetes.md
  openmetadata-docs/content/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/deployment/security/one-login/kubernetes.md
Labels: devops, safe to test

#10305 fix: Use endpointURL and region in s3_fs
  ingestion/src/metadata/utils/s3_utils.py
Labels: safe to test

#10380 Clean up pandas dependencies
  ingestion/src/metadata/interfaces/datalake/datalake_test_suite_interface.py
  ingestion/src/metadata/interfaces/datalake/mixins/pandas_mixin.py
  ingestion/src/metadata/profiler/metrics/core.py
  ingestion/src/metadata/profiler/metrics/static/column_count.py
  ingestion/src/metadata/profiler/metrics/static/column_names.py
  ingestion/src/metadata/profiler/metrics/static/count.py
  ingestion/src/metadata/profiler/metrics/static/count_in_set.py
  ingestion/src/metadata/profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/max_length.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/metrics/static/min_length.py
  ingestion/src/metadata/profiler/metrics/static/not_regexp_match_count.py
  ingestion/src/metadata/profiler/metrics/static/null_count.py
  ingestion/src/metadata/profiler/metrics/static/regexp_match_count.py
  ingestion/src/metadata/profiler/metrics/static/row_count.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/metrics/static/sum.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/profiler/interface/pandas/pandas_profiler_interface.py
Labels: Ingestion, safe to test

#9710 UI :- Change normal select to ANTD select in Service Page
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#10385 fix service name typo in docs
  openmetadata-docs/content/connectors/pipeline/airflow/index.md
Labels: safe to test

#10388 Updated the command for ubuntu dependencies
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-generate.yml
  .github/workflows/py-ingestion-core-publish.yml
  .github/workflows/py-ingestion-publish.yml
  .github/workflows/py-tests.yml
Labels: bug, blocker, devops, safe to test

#10393 chore(ui) : Change ErrorPlace holder in Data Insight Page
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/EmptyGraphPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/ServicesPage.tsx
Labels: UI, safe to test

#10400 Fix: broken image link in Kafka docs
  openmetadata-docs/content/connectors/messaging/kafka/troubleshooting.md
Labels: documentation, Ingestion, safe to test

#10378 Fix #10292: Remove DB & Schema Usage Filters
  ingestion/src/metadata/ingestion/source/database/bigquery/lineage.py
  ingestion/src/metadata/ingestion/source/database/bigquery/query_parser.py
  ingestion/src/metadata/ingestion/source/database/bigquery/usage.py
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mssql/usage.py
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/src/metadata/ingestion/source/database/postgres/query_parser.py
  ingestion/src/metadata/ingestion/source/database/postgres/usage.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/redshift/lineage.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/query_parser.py
  ingestion/src/metadata/ingestion/source/database/redshift/usage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/query_parser.py
  ingestion/src/metadata/ingestion/source/database/snowflake/usage.py
  ingestion/tests/unit/test_usage_filter.py
Labels: Ingestion, safe to test

#10278 added unit test for profiler summsary card component
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerSummaryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerSummaryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCasesTab/TestCasesTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
Labels: UI, safe to test

#10387 ui: updated ux for database service name field in database ingestion form
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#10411 ui: refactor localization file
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCasesTab/TestCasesTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ColumnDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
Labels: UI, safe to test

#10416 chore(workflow): add Karan & Dhruvin to team
  .github/teams.yml
Labels: UI, safe to test

#10364 fix #10173 handle cases where entity would be deleted from OM
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
Labels: Ingestion, safe to test, data insight

#10256 pii tagging using spacy
  ingestion/setup.py
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/processor/pii.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/processor.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/profiler/profiler/core.py
  ingestion/src/metadata/profiler/profiler/interface/pandas/pandas_profiler_interface.py
  ingestion/src/metadata/profiler/profiler/interface/profiler_protocol.py
  ingestion/src/metadata/profiler/profiler/interface/sqlalchemy/sqa_profiler_interface.py
  ingestion/tests/integration/utils/test_processor.py
  ingestion/tests/unit/profiler/test_workflow.py
  openmetadata-docs/content/connectors/database/athena/index.md
  openmetadata-docs/content/connectors/database/azuresql/index.md
  openmetadata-docs/content/connectors/database/bigquery/index.md
  openmetadata-docs/content/connectors/database/clickhouse/index.md
  openmetadata-docs/content/connectors/database/databricks/index.md
  openmetadata-docs/content/connectors/database/datalake/index.md
  openmetadata-docs/content/connectors/database/db2/index.md
  openmetadata-docs/content/connectors/database/deltalake/index.md
  openmetadata-docs/content/connectors/database/domo-database/index.md
  openmetadata-docs/content/connectors/database/druid/index.md
  openmetadata-docs/content/connectors/database/dynamodb/index.md
  openmetadata-docs/content/connectors/database/glue/index.md
  openmetadata-docs/content/connectors/database/hive/index.md
  openmetadata-docs/content/connectors/database/mariadb/index.md
  openmetadata-docs/content/connectors/database/mssql/index.md
  openmetadata-docs/content/connectors/database/mysql/index.md
  openmetadata-docs/content/connectors/database/oracle/index.md
  openmetadata-docs/content/connectors/database/postgres/index.md
  openmetadata-docs/content/connectors/database/presto/index.md
  openmetadata-docs/content/connectors/database/redshift/index.md
  openmetadata-docs/content/connectors/database/salesforce/index.md
  openmetadata-docs/content/connectors/database/singlestore/index.md
  openmetadata-docs/content/connectors/database/snowflake/index.md
  openmetadata-docs/content/connectors/database/trino/index.md
  openmetadata-docs/content/connectors/database/vertica/index.md
  openmetadata-docs/content/connectors/ingestion/workflows/profiler/auto_tagging.md
  openmetadata-docs/content/connectors/ingestion/workflows/profiler/index.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/connectors/configure-metadata-ingestion-database.png
  openmetadata-docs/images/openmetadata/ingestion/workflows/profiler/configure-profiler-workflow.png
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: Ingestion, safe to test

#10167 chore(ui): advance search spec refactoring
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearch.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearch.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Labels: UI, safe to test

#10391 chore(ui): UI improvements for same Border Radius
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightDetail.less
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/datasetDetails.style.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTermsAntd.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/forgot-password/forgot-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/card.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/styles/layout/page-layout.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#10418 [DOCS] Add key pairs configurations for docker and kubernetes
  openmetadata-docs/content/deployment/security/enable-jwt-tokens.md
Labels: devops, safe to test

#10426 Update Roadmap
  openmetadata-docs/content/overview/releases/index.md
  openmetadata-docs/content/overview/roadmap/index.md
Labels: backend, safe to test

#10383 Fix #10382 - Test Connection Definitions, Results and Resource
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestConnectionDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResource.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/tableau.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/mysql.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/redshift.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/testConnectionDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/testConnectionResult.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/objectstoreService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
Labels: Ingestion, safe to test

#10381 add tags to schema Level
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
Labels: backend, safe to test

#10439 fix: scoped import for presidio
  ingestion/src/metadata/ingestion/processor/pii.py
Labels: Ingestion, safe to test

#10421 Localization refactor part 2
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/DisplayNameComponent/DisplayNameComponent.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/ImportResult.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementCard/AnnouncementCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
Labels: UI, safe to test

#10444 Doc: Add Java SDK examples to the documentation
  openmetadata-docs/content/sdk/java/index.md
Labels: Ingestion, safe to test

#10434 UI : Sorted tier filters in explore Leftpanel
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#10437 Fix #10401 - Add Automations Workflow Resource & PUT service test connection result
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  ingestion/operators/docker/test_connection.py
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/ometa/mixins/server_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/ometa/test_ometa_workflow_api.py
  ingestion/tests/unit/test_workflow_parse.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/test_connection.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/operations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/objectstore/ObjectStoreServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/operations/WorkflowResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MessagingServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MlModelServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ObjectStoreServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/ServiceEntityInterface.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-spec/src/main/resources/json/schema/api/automations/createWorkflow.json
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/automations/testServiceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/automations/workflow.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/testConnectionResult.json
Labels: Ingestion, safe to test

#10441 Add service type to container & ometa tests
  ingestion/tests/integration/ometa/test_ometa_objectstore_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/azureObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/gcsObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/s3ObjectStoreConnection.json
Labels: Ingestion, safe to test

#10443 Fix: Stop displaying authorization values in debug logs
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/tests/integration/ometa/test_ometa_api.py
  ingestion/tests/integration/workflow/mysql_test.yaml
  ingestion/tests/integration/workflow/test_workflow.py
Labels: Ingestion, safe to test

#10440 Handle null window metric
  ingestion/src/metadata/profiler/profiler/interface/sqlalchemy/sqa_profiler_interface.py
Labels: Ingestion, profiler, safe to test

#10403 #9544: Added patch owner to Python SDK. Includes tests.
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
Labels: safe to test

#10445 Fix#10377: Service connection not overwritten as expected
  ingestion/src/metadata/ingestion/api/workflow.py
  ingestion/src/metadata/profiler/api/workflow.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/tests/integration/workflow/test_workflow.py
  openmetadata-docs/content/connectors/ingestion/deployment/index.md
  openmetadata-docs/content/main-concepts/metadata-standard/schemas/entity/services/connections/metadata/openMetadataConnection.md
Labels: Ingestion, safe to test

#10442 Localization refactor part3
  openmetadata-ui/src/main/resources/ui/.lintstagedrc.yaml
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm/MetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityVersionTimeLine/EntityVersionTimeLine.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/onboarding/Onboarding.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI, safe to test

#9999 fix(ui): right panel for lineage mode
  openmetadata-ui/src/main/resources/ui/src/assets/svg/tag-grey.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DashboardSummary/DashboardSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DashboardSummary/DashboardSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/MlModelSummary/MlModelSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/MlModelSummary/MlModelSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/PipelineSummary/PipelineSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/PipelineSummary/PipelineSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/mocks/TableSummary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/CommonSkeletons/LabelCountSkeleton/LabelCountSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/Skeleton.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/SummaryPanelSkeleton/SummaryPanelSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardTitle.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/rest/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/topicsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#10450 fixed bigquery and postgres cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
Labels: UI, safe to test

#10447 UI : Fix the scroll on service Page
  openmetadata-ui/src/main/resources/ui/src/pages/services/ServicesPage.tsx
Labels: UI, safe to test

#10430 Fix #10429: Kafka Sample data improvements and adding support for JSONSchema and Protobuf
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/kafka.yaml
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  ingestion/src/metadata/ingestion/source/messaging/kafka/connection.py
  ingestion/src/metadata/parsers/avro_parser.py
  ingestion/src/metadata/parsers/json_schema_parser.py
  ingestion/src/metadata/parsers/protobuf_parser.py
  ingestion/tests/unit/test_avro_parser.py
  ingestion/tests/unit/test_json_schema_parser.py
  ingestion/tests/unit/test_protobuf_parser.py
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: backend, safe to test

#10464 Update CONTRIBUTING.md to fix Slack link
  CONTRIBUTING.md
Labels: Ingestion, safe to test

#10456 Fix mysql e2e tests after adding new tables
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#10386 Fix error code if else in webhooks
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/gchat/GChatWebhookPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/generic/GenericWebhookPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/msteams/MSTeamsWebhookPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/slack/SlackWebhookEventPublisher.java
Labels: backend, safe to test

#10366 dbt performance improvement
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/entity_link.py
  ingestion/tests/unit/resources/datasets/manifest_test_node.json
  ingestion/tests/unit/resources/datasets/manifest_v4_v5_v6.json
  ingestion/tests/unit/resources/datasets/manifest_v7.json
  ingestion/tests/unit/resources/datasets/manifest_v8.json
  ingestion/tests/unit/test_dbt.py
Labels: Ingestion, safe to test

#10466 Downgraded python confluent-kafka library
  ingestion/setup.py
Labels: Ingestion, safe to test

#10467 fix: spacy model
  ingestion/setup.py
  ingestion/src/metadata/ingestion/processor/pii.py
  ingestion/src/metadata/profiler/profiler/core.py
Labels: Ingestion, safe to test

#10417 Fix #10402: Add support for AssumeRole for AWS
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  openmetadata-spec/src/main/resources/json/schema/security/credentials/awsCredentials.json
Labels: Ingestion, safe to test

#10470 Pyimpala fix colnames, comments and dialect sql compilation
  ingestion/src/metadata/ingestion/source/database/column_helpers.py
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/profiler/orm/functions/length.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/src/metadata/profiler/orm/functions/random_num.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/tests/unit/source/test_column_helpers.py
Labels: Ingestion, safe to test

#10473 Added doc in avro array and tests
  ingestion/examples/sample_data/topics/topics.json
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/database/datalake/utils.py
  ingestion/src/metadata/parsers/avro_parser.py
  ingestion/tests/unit/test_avro_parser.py
  ingestion/tests/unit/topology/database/test_datalake.py
Labels: Ingestion, safe to test

#10472 Fixed: Add job definition id field for dbt cloud in UI #10269
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#10465 Fix few profiler bugs
  ingestion/src/metadata/profiler/metrics/composed/non_parametric_skew.py
  ingestion/src/metadata/profiler/metrics/hybrid/histogram.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/profiler/profiler/interface/sqlalchemy/sqa_profiler_interface.py
  ingestion/tests/unit/profiler/test_profiler.py
Labels: Ingestion, profiler, safe to test

#10474 Bug: Update sqllineage-openmetadata + add timeout for parsing queries
  ingestion/setup.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/tests/unit/test_query_parser.py
  ingestion/tests/unit/test_sql_lineage.py
Labels: Ingestion, safe to test

#10488 chore(ui): disable console logs for tests
  openmetadata-ui/src/main/resources/ui/package.json
Labels: UI, safe to test

#10476 fix: mark table deleted dependencies
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
Labels: Ingestion, safe to test

#10490 fix: handle overflow in profiler
  ingestion/src/metadata/interfaces/sqalchemy/sqa_profiler_interface.py
  ingestion/src/metadata/orm_profiler/metrics/system/system.py
Labels: Ingestion, safe to test

#10448 Don't store the OM connection in the Ingestion Pipeline or Workflow
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  ingestion/tests/integration/ometa/test_ometa_workflow_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/operations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/ExternalSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/NoopSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/TestServiceConnectionRequestClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/WorkflowClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/EntityMasker.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/NoopEntityMasker.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/PasswordEntityMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/operations/WorkflowResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/ExternalSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/converter/ClassConverterFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/masker/TestEntityMasker.java
  openmetadata-spec/src/main/resources/json/schema/entity/automations/workflow.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
Labels: Ingestion, safe to test

#10408 Add steps in test_connection function
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/connection.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/connection.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/connection.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/connection.py
  ingestion/src/metadata/ingestion/source/database/presto/connection.py
  ingestion/src/metadata/ingestion/source/database/singlestore/connection.py
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
  ingestion/src/metadata/ingestion/source/database/trino/queries.py
  ingestion/src/metadata/ingestion/source/database/vertica/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/domopipeline/connection.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
Labels: Ingestion, safe to test

#10419 ✨feat(ui)#10271:UI - Object Storage Service Part-2
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-amazon-s3.svg
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-gcs.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-ms-azure.png
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerChildren/ContainerChildren.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerChildren/ContainerChildren.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/objectStoreAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/menu.less
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ContainerDetailUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ContainerDetailUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#10497 fix: handle None `owner`
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#10501 fix(ui): update recent runs instead whole page
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Labels: UI, safe to test

#10479 UI : Added Delete toggle and restore Testsuite functionality
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuiteStepper.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#10425 Added flag for overriding owners
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
  openmetadata-docs/content/connectors/dashboard/domo-dashboard/airflow.md
  openmetadata-docs/content/connectors/dashboard/domo-dashboard/cli.md
  openmetadata-docs/content/connectors/dashboard/domo-dashboard/index.md
  openmetadata-docs/content/connectors/dashboard/looker/airflow.md
  openmetadata-docs/content/connectors/dashboard/looker/cli.md
  openmetadata-docs/content/connectors/dashboard/looker/index.md
  openmetadata-docs/content/connectors/dashboard/superset/airflow.md
  openmetadata-docs/content/connectors/dashboard/superset/cli.md
  openmetadata-docs/content/connectors/dashboard/superset/index.md
  openmetadata-docs/content/connectors/dashboard/tableau/airflow.md
  openmetadata-docs/content/connectors/dashboard/tableau/cli.md
  openmetadata-docs/content/connectors/dashboard/tableau/index.md
  openmetadata-docs/images/openmetadata/connectors/configure-metadata-ingestion-dashboard.png
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: Ingestion, safe to test

#10506 adding quotes around alias
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
Labels: Ingestion, safe to test

#10509 Bug: fix flaky timeout test
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/utils/timeout.py
  ingestion/tests/unit/test_sql_lineage.py
Labels: Ingestion, safe to test

#10499 Fixes #10498 - Add support for nifi client certificate auth.
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
  ingestion/src/metadata/ingestion/source/pipeline/nifi/connection.py
  ingestion/tests/unit/topology/pipeline/test_nifi.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/nifiConnection.json
Labels: Ingestion, safe to test

#10517 chore(ui): change user page search variable name to `user`
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test

#10520 fix: Make column name a selection box for tableRowInsertedCountToBeBetween test #10284
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTest.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
Labels: UI, safe to test

#10527 fix: Make column name a selection box only for tableRowInsertedCountToBeBetween test
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
Labels: UI, safe to test

#10528 UI: Fix the icon on lineage Node
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#10513 fix(#10500): When the tier is removed all tags are also removed.
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
Labels: UI, safe to test

#10469 Fix: Databricks complex column type issue
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
Labels: Ingestion, safe to test

#10536 Fixed dbt e2e filter test
  ingestion/tests/cli_e2e/test_cli_dbt_redshift.py
Labels: Ingestion, safe to test

#10493 ui: Add UI Graph for Histogram #10365
  openmetadata-ui/src/main/resources/ui/src/components/Chart/Chart.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Chart/DataDistributionHistogram.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Chart/DataDistributionHistogram.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#10539 added process owner
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
Labels: Ingestion, safe to test

#10519 Prepare exit handler & Add missing arg to test connection
  ingestion/operators/docker/exit_handler.py
  ingestion/operators/docker/main.py
  ingestion/operators/docker/test_connection.py
Labels: Ingestion, safe to test

#10522 Fix system profile bq
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/profiler/orm/functions/median.py
Labels: Ingestion, safe to test

#10534 chore(ui): remove react-copy-to-clipboard and add custom hook for copy text
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-copy.svg
  openmetadata-ui/src/main/resources/ui/src/components/buttons/CopyToClipboardButton/CopyToClipboardButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/buttons/CopyToClipboardButton/CopyToClipboardButton.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useClipBoard.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useClipBoard.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: enhancement, UI, safe to test

#10547 Add Labels on DatabaseSchema Level
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/tests/unit/profiler/test_profiler.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDatabaseSchema.json
Labels: Ingestion, safe to test

#10471 UI : Added tags at schema Level
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#10546 UI : Fix the Explore breaking issue when ES is down
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Labels: UI, safe to test

#10537 Add Indexing Mapping Language in Reindexing
  openmetadata-service/src/main/java/org/openmetadata/service/util/ElasticSearchIndexUtil.java
  openmetadata-spec/src/main/resources/json/schema/api/createEventPublisherJob.json
Labels: backend, safe to test

#10540 fixed mydata flaky cypress test
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
Labels: UI, safe to test

#10557 fixed: Column profile graph by ingestion is not showing the values #10462
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ChartUtils.tsx
Labels: UI, safe to test

#10553 fix druid ingestion
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/druidConnection.json
Labels: Ingestion, safe to test

#10538 feat(ui): support debug option for dbt config
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCommonFields.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCommonFields.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
Labels: UI, safe to test

#10569 UI : Fix cypress for tags
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
Labels: UI, safe to test

#10574 fix: exclude owner from page view traffic in DI
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
Labels: Ingestion, safe to test, data insight

#10560 Fixes #10559 Remove individual resources & operations when All is spe…
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/PolicyRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/CompiledRuleTest.java
Labels: backend, safe to test

#10368 feat: lineage pagination
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/Entitylineage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LineageNodeLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LoadMoreNode.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Lineage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#10581 Fix #10580: add bindDN and bindPassword to args of LDAPConnection()
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
Labels: safe to test

#10570 Fixed Redash Source Issues
  ingestion/setup.py
  ingestion/src/metadata/ingestion/ometa/credentials.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/client.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  openmetadata-docs/content/connectors/dashboard/redash/airflow.md
  openmetadata-docs/content/connectors/dashboard/redash/cli.md
  openmetadata-docs/content/connectors/dashboard/redash/index.md
  openmetadata-docs/images/openmetadata/connectors/redash/service-connection.png
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/redashConnection.json
Labels: Ingestion, safe to test

#10585 doc: Add doc for "how to add language support"
  openmetadata-docs/content/how-to-guides/how-to-add-language-support.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/how-to-guides/language-support.png
Labels: UI, safe to test

#10575 UI : Change Explore Placeholder when ES failed
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Labels: UI, safe to test

#10551 fix(#10504): Assigning owners doesn't work for non-admin users
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidgetWrapper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidgetWrapper.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ManageUtils.ts
Labels: UI, safe to test

#10552 Fix test suite pipeline and slack alerts
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/test/java/org/openmetadata/service/alerts/AlertsURLFormattingTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Labels: Ingestion, backend, safe to test

#10593 Fix misleading date in documentation
  openmetadata-docs/content/overview/releases/latest-release.md
Labels: Ingestion, safe to test

#10592 Fix Quicksight URL
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/tests/unit/topology/dashboard/test_quicksight.py
  openmetadata-docs/content/deployment/docker/index.md
Labels: Ingestion, safe to test

#10548 Handle object store tags & Create abstract EntityUpdaterWithColumn
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/objectstores/ContainerResourceTest.java
Labels: Ingestion, safe to test

#10588 Update MWAA docs
  openmetadata-docs/content/connectors/ingestion/deployment/running-from-mwaa.md
  openmetadata-docs/images/openmetadata/connectors/deployment/create-ecs-cluster.png
  openmetadata-docs/images/openmetadata/connectors/deployment/create-ecs-service-networking.png
  openmetadata-docs/images/openmetadata/connectors/deployment/create-ecs-service.png
  openmetadata-docs/images/openmetadata/connectors/deployment/create-ecs-task.png
  openmetadata-docs/images/openmetadata/connectors/deployment/create-ecs-task2.png
Labels: Ingestion, safe to test

#10573 Added exception handling in dashboard sources
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#10576 feat: [UI] Support moving glossary terms across glossary hierarchy #6601
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Labels: UI, safe to test

#10594 UI : Fix the field size of column in Teams Table
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
Labels: UI, safe to test

#10433 Fix #5153: Add referred columns for foreign key constraint and sort_key, dist_key support
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/topology/database/test_postgres.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: backend, safe to test

#10591 Add support dbt in connection
  ingestion/tests/unit/topology/metadata/test_amundsen.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltaLakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/druidConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mariaDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/pinotDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
Labels: Ingestion, safe to test

#10596 Aligned airflow source with lineage
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
Labels: Ingestion, safe to test

#10602 Fix: remove avro-python3 deprecated dependency
  ingestion/setup.py
  ingestion/tests/unit/topology/database/test_datalake.py
Labels: Ingestion, safe to test

#10590 Databricks Pileline code improve & Test connection update & Databricks issue solved
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/tests/unit/topology/pipeline/test_databricks_pipeline.py
Labels: Ingestion, safe to test

#10541 fix(ui): support language for re-indexing Elasticsearch or Opensearch
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
Labels: UI, safe to test

#10449 Query as entity
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/utils/test_processor.py
  ingestion/tests/unit/topology/metadata/test_atlas.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/QueryUtil.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/type/tableUsageCount.json
Labels: backend, safe to test

#10494 chore(ui): fix advance search modal getting stuck
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearch.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/facetFilter.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/router/withAdvanceSearch.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FilterUtils.ts
Labels: UI, safe to test

#10562 Add search api integration for object store
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ColumnIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
Labels: backend, safe to test

#10561 Fix patching tags for tasks
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
Labels: backend, safe to test

#10558 Add users.isBot flag to index and add defaults to the user spec
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/UserIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: backend, safe to test

#10625 Update eks.md
  openmetadata-docs/content/deployment/kubernetes/eks.md
Labels: devops, safe to test

#10598 Fix: pass correct env var to the ingestion docker image
  docker/development/docker-compose.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: Ingestion, safe to test

#10621 Fix: UI updated as per new query as entity change
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/mocks/TableSummary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/queryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/tableAPI.ts
Labels: UI, safe to test

#10496 feat: add lineage config dialog
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LineageConfigModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LineageConfigModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#10620 Fix oracle bulk view definitions and comments & improve metadata version
  ingestion/src/metadata/__version__.py
  ingestion/src/metadata/ingestion/ometa/mixins/server_mixin.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/tests/unit/test_version.py
Labels: Ingestion, safe to test

#10624 Fix: remove 'audience' field from OM metadata service security config
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
Labels: Ingestion, safe to test

#10613 Fix databricks timeout issue
  ingestion/src/metadata/examples/workflows/databricks.yaml
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  openmetadata-docs/content/connectors/database/databricks/airflow.md
  openmetadata-docs/content/connectors/database/databricks/cli.md
  openmetadata-docs/content/connectors/database/databricks/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
Labels: Ingestion, safe to test

#10626 UI : Fix the breaking issue on Datalake service
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Labels: UI, safe to test

#10601 Update Storage Container list filter, add missing counts & rename workflow operations to automations
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/objectstores/ContainerResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/automations/WorkflowResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/objectstores/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/utils/entitiesCount.json
  openmetadata-spec/src/main/resources/json/schema/entity/utils/servicesCount.json
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/databaseAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/objectStoreAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/pipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/topicsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: Ingestion, safe to test

#10639 Added s3 and gcs examples for dbt
  openmetadata-docs/content/connectors/ingestion/workflows/dbt/ingest-dbt-ui.md
  openmetadata-docs/images/openmetadata/ingestion/workflows/dbt/aws-s3.png
  openmetadata-docs/images/openmetadata/ingestion/workflows/dbt/gcs-bucket-form.png
  openmetadata-docs/images/openmetadata/ingestion/workflows/dbt/gcs-bucket-path.png
Labels: Ingestion, safe to test

#10555 Personal Access Token Feature
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TokenRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/AuthenticatorHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/jwt/JWTTokenGenerator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TokenUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/auth/createPersonalToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/emailVerificationToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/personalAccessToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/revokePersonalToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/serviceTokenEnum.json
Labels: backend, safe to test

#10646 [Fix] Add field argument to `get_user_by_email` function
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
Labels: Ingestion, safe to test

#10622 Fix #9161: Add Japanese translation to OpenMetadata
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: safe to test

#10659 Move common functionality to EntityRepository store method
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AlertActionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AlertRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LocationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StorageServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
Labels: backend, safe to test

#10605 fix: chart url
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Labels: Ingestion, safe to test

#10647 fix: lineage pagination issues
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#10481 Fix #10478: tags updation issue for schemaFields and tasks
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicDetailsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/PipelineDetailsUtils.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/TopicDetailsUtils.mock.ts
Labels: UI, safe to test

#10577 fix(ui): pagination fix and tags to be shown form end
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI, safe to test

#10531 Issue #3809: Add python client for Roles and Policies
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/role_policy_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/patch.py
  ingestion/tests/integration/ometa/test_ometa_role_policy_api.py
Labels: safe to test

#10655 Added Vote for Queries
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/EnumBackwardCompatibilityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/api/voteRequest.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/type/entityRelationship.json
  openmetadata-spec/src/main/resources/json/schema/type/votes.json
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.test.tsx
Labels: backend, safe to test

#10657 Fixes #10656 Fix permissions API bug
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/permissions/PermissionsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/Authorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RoleCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/TestCaseResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Labels: backend, safe to test

#10676 Create stage location in the workflow, not the apis
  ingestion/src/metadata/ingestion/stage/table_usage.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/usage.py
Labels: Ingestion, safe to test

#10683 Add Okta Doc fix, Athena lineage fix, quicksight permissions
  openmetadata-docs/content/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/connectors/database/athena/index.md
  openmetadata-docs/content/deployment/security/okta/index.md
  openmetadata-docs/images/deployment/security/okta/default-server.png
Labels: Ingestion, safe to test

#10554 feat: Added custom event event type for web analytics
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-service/src/main/resources/json/data/analytics/webAnalyticEvents/customEvent.json
  openmetadata-spec/src/main/resources/json/schema/analytics/basic.json
  openmetadata-spec/src/main/resources/json/schema/analytics/webAnalyticEventData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/webAnalyticEventType/customEvent.json
  openmetadata-spec/src/main/resources/json/schema/analytics/webAnalyticEventType/pageViewEvent.json
Labels: Ingestion, backend, safe to test

#10666 chore(ui): add support for service documentation md file
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/databaseName.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/databaseSchema.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/hostPort.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/password.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/scheme.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/sslCA.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/sslCert.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/sslKey.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/connections/fields/username.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql/requirements.md
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: UI, safe to test

#10640 chore(ui): add glossary and glossary terms count on landing page
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-flat-doc.svg
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: enhancement, UI, safe to test

#10680 Fixes #10679 - Add policy functions inAnyTeam and hasAnyRole
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/SubjectContextTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/Function.java
Labels: backend, safe to test

#10692 Bigquery Docs Fix
  openmetadata-docs/content/connectors/database/bigquery/airflow.md
  openmetadata-docs/content/connectors/database/bigquery/cli.md
  openmetadata-docs/content/connectors/database/bigquery/index.md
  openmetadata-docs/content/connectors/database/bigquery/roles.md
  openmetadata-docs/content/deployment/security/keycloak/index.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/connectors/bigquery/create-role-1.png
  openmetadata-docs/images/openmetadata/connectors/bigquery/create-role-2.png
  openmetadata-docs/images/openmetadata/connectors/bigquery/create-role-3.png
  openmetadata-docs/images/openmetadata/connectors/bigquery/create-role-4.png
  openmetadata-docs/images/openmetadata/connectors/bigquery/create-role-5.png
  openmetadata-docs/images/openmetadata/connectors/bigquery/create-role-6.png
Labels: Ingestion, safe to test

#10698 Fix search by email index keyword
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/user_search_index_mapping.py
  ingestion/tests/integration/ometa/test_ometa_user_api.py
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
Labels: Ingestion, safe to test

#10693 Update MySQL e2e counts after #10265
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#10672 UI : Added show deleted table in Database schema level
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/closed-lock.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/hide-password.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-restore.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/open-lock.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/show-password.svg
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/ManageButton.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
Labels: UI, safe to test

#10700 Update PR template
  .github/pull_request_template.md
Labels: Ingestion, safe to test

#10667 UI - Add ES log retrieval
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.interfaces.ts
Labels: Ingestion, safe to test

#10712 doc: added best practice section to profiler
  openmetadata-docs/content/connectors/ingestion/workflows/profiler/index.md
Labels: documentation, Ingestion, safe to test

#10563 Fix #10489: Handle unknown data types & store raw data type
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
  ingestion/src/metadata/ingestion/source/database/azuresql/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/metadata.py
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/ingestion/source/database/mariadb/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
  ingestion/src/metadata/ingestion/source/database/mysql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mysql/utils.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/presto/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/ingestion/source/database/singlestore/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/ingestion/source/database/trino/metadata.py
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
  ingestion/tests/unit/resources/expected_output_column_parser.json
  ingestion/tests/unit/test_column_type_parser.py
  ingestion/tests/unit/test_dbt.py
  ingestion/tests/unit/topology/database/test_postgres.py
  ingestion/tests/unit/topology/database/test_salesforce.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, safe to test

#10708 Fixes #10290 - NUMERIC type assigned the wrong dtype in converter.py
  ingestion/src/metadata/profiler/api/workflow.py
  ingestion/src/metadata/profiler/metrics/composed/non_parametric_skew.py
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/profiler/core.py
Labels: Ingestion, profiler, safe to test
