Repository open-metadata/OpenMetadata, pull requests merged in 2023-02, with the labels that each got.

#9805 Fixed#6145: Notification for service owner when ingestion pipeline fails
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/main/resources/json/data/alerts/filterData.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Labels: safe to test

#9691 Add looker unit tests
  ingestion/setup.py
  ingestion/src/metadata/ingestion/models/es_documents.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
  openmetadata-spec/src/main/resources/json/schema/type/usageDetails.json
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Labels: Ingestion, safe to test

#10001 UI : Minor ui fixes and localisation
  openmetadata-ui/src/main/resources/ui/src/assets/svg/plus-primary.svg
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/TreeViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#10045 ui: fixed onboarding placeholder issue on homepage
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/mocks/MyData.mocks.ts
Labels: UI, safe to test

#10049 Glue Required Permissions Docs
  openmetadata-docs/content/connectors/database/glue/airflow.md
  openmetadata-docs/content/connectors/database/glue/cli.md
  openmetadata-docs/content/connectors/database/glue/index.md
Labels: Ingestion, safe to test

#9882 Docs - Upgrade and breaking changes for 0.13.2
  openmetadata-docs/content/connectors/custom-connectors.md
  openmetadata-docs/content/connectors/ingestion/deployment/airflow-dag.md
  openmetadata-docs/content/connectors/ingestion/deployment/running-from-mwaa.md
  openmetadata-docs/content/connectors/pipeline/airflow/gcs.md
  openmetadata-docs/content/deployment/airflow/index.md
  openmetadata-docs/content/deployment/backup-restore-metadata.md
  openmetadata-docs/content/deployment/docker/index.md
  openmetadata-docs/content/deployment/kubernetes/index.md
  openmetadata-docs/content/deployment/kubernetes/values.md
  openmetadata-docs/content/deployment/upgrade/bare-metal.md
  openmetadata-docs/content/deployment/upgrade/docker.md
  openmetadata-docs/content/deployment/upgrade/index.md
  openmetadata-docs/content/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/deployment/upgrade/versions/011-to-012.md
  openmetadata-docs/content/deployment/upgrade/versions/012-to-013.md
  openmetadata-docs/content/overview/releases/latest-release.md
  openmetadata-docs/content/overview/roadmap/index.md
Labels: Ingestion, safe to test

#10048 Feat: Avoid running Maven CI on each PR if it is not needed
  .github/workflows/maven-build-skip.yml
  .github/workflows/maven-build.yml
Labels: Ingestion, safe to test

#10062 Fix #10061: Adding Reference to GlossaryTerm throws an error with Ent…
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
Labels: backend, safe to test

#10056 Docs - Fix version typo
  openmetadata-docs/content/deployment/upgrade/docker.md
Labels: Ingestion, safe to test

#10051 solved issue of entity followed by user not visible after editing the…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
Labels: safe to test

#10071 Doc: Add security notes for prod environments
  openmetadata-docs/content/deployment/security/amazon-cognito-sso/index.md
  openmetadata-docs/content/deployment/security/auth0/index.md
  openmetadata-docs/content/deployment/security/azure/index.md
  openmetadata-docs/content/deployment/security/basic-auth/index.md
  openmetadata-docs/content/deployment/security/custom-oidc/index.md
  openmetadata-docs/content/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/deployment/security/google/index.md
  openmetadata-docs/content/deployment/security/keycloak/index.md
  openmetadata-docs/content/deployment/security/okta/index.md
  openmetadata-docs/content/deployment/security/one-login/index.md
Labels: Ingestion, safe to test

#10053 Doc: Update security docs related to SSL configuration
  Makefile
  openmetadata-docs/content/deployment/security/enable-ssl/openmetadata-server.md
  openmetadata-docs/content/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/deployment/enable-ssl/500-error-ssl.png
  openmetadata-docs/images/deployment/enable-ssl/handshake-error-ssl.png
Labels: Ingestion, safe to test

#10034 UI Improvements
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/next-previous/NextPrevious.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/button.less
Labels: UI, safe to test

#10040 Bump main branch to version 1.0.0
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  common/pom.xml
  docker/metadata/Dockerfile
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: Ingestion, safe to test

#10076 [Cherry Pick to 0.13.2] - Fix pylint checkstyle
  ingestion/src/metadata/cli/docker.py
  ingestion/src/metadata/ingestion/sink/file.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/trino/metadata.py
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/src/metadata/orm_profiler/sink/file.py
  ingestion/src/metadata/utils/secrets/aws_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_ssm_secrets_manager.py
  ingestion/src/metadata/utils/singleton.py
Labels: Ingestion, safe to test

#10059 Fix date partition Bug
  ingestion/src/metadata/orm_profiler/profiler/handle_partition.py
  ingestion/src/metadata/orm_profiler/profiler/sampler.py
Labels: Ingestion, profiler, safe to test

#10050 Fixes #10018 - Limit user fields to team
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
Labels: Ingestion, safe to test

#10074 fix(ui): add principle domain to username to generate email
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProviderUtil.test.ts
Labels: UI, safe to test

#10079 Prevent Authentication bypass using Jwt Token Config in case of OM su…
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/CatalogOpenIdAuthorizationRequestFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
Labels: backend, safe to test

#10069 Updated Client to use OpenApi , updated feign dependencies, added Ela…
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/api/ElasticSearchApi.java
Labels: backend, safe to test

#10084 Doc: Change security note banner position
  openmetadata-docs/content/deployment/security/amazon-cognito-sso/index.md
  openmetadata-docs/content/deployment/security/auth0/index.md
  openmetadata-docs/content/deployment/security/azure/index.md
  openmetadata-docs/content/deployment/security/basic-auth/index.md
  openmetadata-docs/content/deployment/security/custom-oidc/index.md
  openmetadata-docs/content/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/deployment/security/google/index.md
  openmetadata-docs/content/deployment/security/keycloak/index.md
  openmetadata-docs/content/deployment/security/okta/index.md
  openmetadata-docs/content/deployment/security/one-login/index.md
Labels: Ingestion, safe to test

#10086 Generate PDF for Snyk security report
  .github/workflows/security-scan.yml
  Makefile
  scripts/datamodel_generation.py
  scripts/html_to_pdf.py
Labels: Ingestion, safe to test

#10093 Update security-scan.yml
  .github/workflows/security-scan.yml
Labels: Ingestion, safe to test

#10091 Fixes issue #10082 -- Unsupported field types for bigquery
  ingestion/src/metadata/orm_profiler/orm/functions/datetime.py
  openmetadata-docs/content/connectors/ingestion/workflows/profiler/index.md
Labels: Ingestion, safe to test

#10094 Fix: pytest CI should not skipped with changes on om-spec or om-service
  .github/workflows/py-tests-skip.yml
  .github/workflows/py-tests.yml
Labels: Ingestion, safe to test

#10066 Fixes #10065 Allow Unicode characters and digits in the entityName
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/locations/LocationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/location.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/events/webhook.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/entity/type.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  scripts/datamodel_generation.py
Labels: backend, safe to test

#10092 ui: improve glossary bulk upload ui
  openmetadata-ui/src/main/resources/ui/src/assets/svg/fail-badge.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/success-badge.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/ImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/ImportResult.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Glossary.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#10081 refactor: remove font awesome dependency
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/assets/img/confetti-bg.jpeg
  openmetadata-ui/src/main/resources/ui/src/assets/img/no-data-placeholder.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/speed-o-meeter.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/ss-explore.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/ss-landing.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/ss-table-details.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/ss-users.png
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dots-six-bold.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/DisplayNameComponent/DisplayNameComponent.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineageSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/ArrayFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/ObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/SourceList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RolesCard/RolesCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/next-previous/NextPrevious.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsPageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/test/unit/mocks/fontawesome.mock.js
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#10095 UI : Fix Test cases breaking issue while editing
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayoutV1.tsx
Labels: UI, safe to test

#10101 Tableau Owner Fix
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#10100 Add json zip support for datalake
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/utils/gcs_utils.py
  ingestion/src/metadata/utils/s3_utils.py
Labels: Ingestion, safe to test

#10103 fixed: scroll issue in glossary preview
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/ImportResult.tsx
Labels: UI, safe to test

#10098 doc: added more details regarding freshness metrics
  openmetadata-docs/content/connectors/ingestion/workflows/profiler/metrics.md
  openmetadata-docs/images/openmetadata/ingestion/workflows/profiler/profiler-freshness-metrics.png
Labels: documentation, Ingestion, safe to test

#10104 fix(ui): update what's new content features
  openmetadata-ui/src/main/resources/ui/src/assets/img/EntitySplChar.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/ImprovedSQLLineage.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/IngestionFramework.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/NewUIGlossary.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/TagCategory.png
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/index.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
Labels: UI, safe to test

#10102 Use es for fqn in dbt datamodel
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#10105 Bump versions for 0.13.2.2
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#10106 doc(DQ): Added summary of failure/success behavior for each test
  openmetadata-docs/content/connectors/ingestion/workflows/data-quality/tests.md
Labels: documentation, Ingestion, safe to test

#10107 Update docs for Keycloak
  openmetadata-docs/content/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/deployment/security/keycloak/docker.md
  openmetadata-docs/content/deployment/security/keycloak/kubernetes.md
Labels: backend, safe to test

#10042 10041 Part1 - Refactor and clean up System APIs
  conf/openmetadata.yaml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  ingestion/src/metadata/ingestion/ometa/mixins/server_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/gateway/OpenMetadata.java
  openmetadata-docs/content/deployment/kubernetes/values.md
  openmetadata-docs/content/deployment/security/basic-auth/index.md
  openmetadata-docs/content/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/deployment/security/jwt-troubleshooting.md
  openmetadata-docs/content/deployment/security/ldap/index.md
  openmetadata-docs/content/how-to-guides/feature-configurations/bots.md
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UtilRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CatalogResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/util/UtilResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/version/VersionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/CollectionRegistryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/ConfigResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
Labels: backend, safe to test

#10110 Use the primitive boolean expression
  openmetadata-service/src/main/java/org/openmetadata/csv/CsvUtil.java
  package.json
  yarn.lock
Labels: safe to test

#10109 add GChat as alert destination
  README.md
  openmetadata-docs/content/developers/webhooks.md
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/gchat/GChatMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/gchat/GChatWebhookPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-spec/src/main/resources/json/schema/alerts/alertAction.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Labels: safe to test

#10112 Databricks comments & view definitions in bulk
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
Labels: Ingestion, safe to test

#10117 ui: fetch table api in ascending order in schema details page
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
Labels: UI, safe to test

#10121 Doc: Update Bot configuration doc
  openmetadata-docs/content/how-to-guides/feature-configurations/bots.md
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/generate-new-token.png
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/revoke-jwt-token.png
Labels: documentation, Ingestion, safe to test

#9978 Update project dependencies
  common/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#10064 Parallel tests
  openmetadata-service/pom.xml
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/locations/LocationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/permissions/PermissionsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MessagingServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/usage/UsageResourceTest.java
Labels: backend, safe to test

#10114 Handle XLets in groups for AirflowLineageRunner
  ingestion/examples/airflow/dags/airflow_lineage_operator.py
  ingestion/src/airflow_provider_openmetadata/lineage/backend.py
  ingestion/src/airflow_provider_openmetadata/lineage/operator.py
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
  ingestion/src/airflow_provider_openmetadata/lineage/xlets.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/tests/integration/lineage/airflow/test_airflow_lineage.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
Labels: Ingestion, safe to test

#10118 fix: use async for advanced search autocomplete
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
Labels: safe to test

#10080 Domo issue
  ingestion/src/metadata/clients/domo_client.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/tests/unit/resources/datasets/domodashboard_dataset.json
  ingestion/tests/unit/topology/dashboard/test_domodashboard.py
Labels: Ingestion, safe to test

#9716 fix(ui): localization for const final part
  openmetadata-ui/src/main/resources/ui/.eslintrc.yaml
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/auth.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/usersprofile.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.ts
Labels: UI, safe to test

#10126 fixed: tag api being called on every click in create glossary and create glossary term page
  openmetadata-ui/src/main/resources/ui/src/components/AddTags/AddTags.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddTags/add-tags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Tags.mock.ts
Labels: UI, safe to test

#10130 Doc: Update feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Ingestion, safe to test

#10142 fix: Table list view within service shows `name` instead of `displayName` #10136
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
Labels: UI, safe to test

#10132 Added dbt fixes for source nodes and es parent nodes
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/dbt_config.py
Labels: Ingestion, safe to test

#10122 cypress: added missing cypress test case for glossary feature-part-1
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test

#10131 fix(ui): eliminate username logic from signIn process
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
Labels: UI, safe to test

#10119 Fix: Added changes for Pii sensitive
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/processor.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/tests/integration/utils/test_processor.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: Ingestion, safe to test

#10129 Datalake Avro & Json Lines Support
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/datalake/models.py
  ingestion/src/metadata/ingestion/source/database/datalake/utils.py
  ingestion/src/metadata/parsers/avro_parser.py
  ingestion/src/metadata/parsers/json_schema_parser.py
  ingestion/src/metadata/parsers/protobuf_parser.py
  ingestion/src/metadata/utils/azure_utils.py
  ingestion/src/metadata/utils/gcs_utils.py
  ingestion/src/metadata/utils/s3_utils.py
  ingestion/tests/unit/resources/datasets/avro_data_file.avro
  ingestion/tests/unit/resources/datasets/avro_schema_file.avro
  ingestion/tests/unit/test_avro_parser.py
  ingestion/tests/unit/test_json_schema_parser.py
  ingestion/tests/unit/test_protobuf_parser.py
  ingestion/tests/unit/topology/database/test_datalake.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, safe to test

#10116 Update test connection function for common source
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/connection.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/queries.py
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
  ingestion/src/metadata/ingestion/source/database/mssql/connection.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
Labels: Ingestion, safe to test

#10125 UI : Fix expandable icon in entity table
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-key.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/pending-badge.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#10151 UI : Added locailzation
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/RolesAndPoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/onboarding/Onboarding.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Onboarding.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTask.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/page-not-found/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
Labels: UI, safe to test

#10146 Fixed#9427: LDAP-s support connection without MTLS
  openmetadata-docs/content/deployment/security/ldap/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/LdapUtil.java
  openmetadata-spec/src/main/resources/json/schema/auth/basicLoginRequest.json
  openmetadata-spec/src/main/resources/json/schema/auth/emailRequest.json
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/ldapConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/ldapTrustStoreConfig/customTrustManagerConfig.json
  openmetadata-spec/src/main/resources/json/schema/configuration/ldapTrustStoreConfig/hostNameConfig.json
  openmetadata-spec/src/main/resources/json/schema/configuration/ldapTrustStoreConfig/jvmDefaultConfig.json
  openmetadata-spec/src/main/resources/json/schema/configuration/ldapTrustStoreConfig/trustAllConfig.json
  openmetadata-spec/src/main/resources/json/schema/email/emailRequest.json
Labels: safe to test

#10157 fix: snowflake frequently join table
  ingestion/src/metadata/ingestion/lineage/parser.py
Labels: Ingestion, safe to test

#10078 Superset Unit Tests
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/tests/unit/resources/datasets/superset_dataset.json
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#10159 Bump versions
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: UI, safe to test

#10166 fix: table scroll in column profile table
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
Labels: UI, safe to test

#10161 UI : Fix missing localization
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/auth.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#10162 UI : Fix task badge icon size
  openmetadata-ui/src/main/resources/ui/src/assets/svg/complete.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/in-progress.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/Badge.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
Labels: UI, safe to test

#10165 UI : Fix Activity and Support icons
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements-basic-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements-black.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/api.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/doc.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/external-link.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-all-application-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-all-application.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-comment-grey-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-comment-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-folder-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-folder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-mentions-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-mentions.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-task-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-task.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/slack-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/version-black.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/AnchorDropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
Labels: UI, safe to test

#10169 Relax data asset name restrictions to allow the special characters ex…
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/bots/BotResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/locations/LocationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/permissions/PermissionsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/usage/UsageResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDatabase.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createDatabaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/location.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
Labels: backend, safe to test

#10170 Fix unused dbName for non SQA sources
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/utils/constants.py
Labels: Ingestion, safe to test

#10179 fix: added tag in datamodel generation
  scripts/datamodel_generation.py
Labels: Ingestion, safe to test

#10152 Set the server connection when running a pipeline
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Labels: Ingestion, safe to test

#10178 Fix#10177: Check if user is bot before update or create a bot user
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
Labels: Ingestion, safe to test

#9662 Add long file tar name generation
  openmetadata-dist/pom.xml
Labels: backend, safe to test

#10154 Upgrade isort pre-commit to 5.12.0
  .pre-commit-config.yaml
Labels: safe to test

#10176 update columnValueMaxToBeBetween json schema.
  openmetadata-service/src/main/resources/json/data/tests/columnValueMaxToBeBetween.json
Labels: safe to test

#10168 cypress: rename advanceSearch spec to SearchFlow
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
Labels: UI, safe to test

#10201 Fixed entity reference for dbt and glue
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
Labels: Ingestion, safe to test

#10172 Fixes #10137 - Reorganize API documentation sections
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertActionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticsearch/BuildSearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/kpi/KpiResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/locations/LocationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/metrics/MetricsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/reports/ReportResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/usage/UsageResource.java
Labels: safe to test

#10221 Add tag docs for the Python SDK
  openmetadata-docs/content/menu.md
  openmetadata-docs/content/sdk/python/ingestion/lineage.md
  openmetadata-docs/content/sdk/python/ingestion/tags.md
Labels: Ingestion, safe to test

#10214 Fixes #10212 User email address should be unique
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#10205 chore(ui) : Add missing localization
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/SummaryDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/ArrayFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCasesTab/TestCasesTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/EditorToolBar.ts
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
Labels: enhancement, UI, safe to test

#10183 UI : Localization fix
  openmetadata-ui/src/main/resources/ui/src/assets/svg/Task-ic.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/account-activation-confirmation.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
Labels: UI, safe to test

#10209 limit dbt runs to successful state
  ingestion/src/metadata/utils/dbt_config.py
Labels: safe to test

#10233 Api Change For Login Request
  openmetadata-docs/content/sdk/java/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-spec/src/main/resources/json/schema/auth/loginRequest.json
Labels: backend, safe to test

#10218 Update grpcio-tools to 1.51.1
  ingestion/setup.py
Labels: safe to test

#10234 null-type-column-handling-added
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Labels: safe to test

#10246 Fixes #10245 fix(profiler): snowflake system metric
  ingestion/src/metadata/orm_profiler/metrics/system/system.py
Labels: Ingestion, profiler, safe to test

#10222 chore(ui) : Add missing localization part 2
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTFormConstants.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#10255 Kafka Schema Registry Note
  openmetadata-docs/content/connectors/messaging/kafka/airflow.md
  openmetadata-docs/content/connectors/messaging/kafka/cli.md
  openmetadata-docs/content/connectors/messaging/kafka/index.md
  openmetadata-docs/content/connectors/messaging/redpanda/airflow.md
  openmetadata-docs/content/connectors/messaging/redpanda/cli.md
  openmetadata-docs/content/connectors/messaging/redpanda/index.md
Labels: Ingestion, safe to test

#10254 UI : Fix Profile Page issue
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
Labels: UI, safe to test

#10088 Move search to URL query string parameter rather than path
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTermsAntd.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/SearchOptions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#10239 fix: Docs for fixing helm upgrades for MySQL
  openmetadata-docs/content/deployment/upgrade/index.md
  openmetadata-docs/content/deployment/upgrade/kubernetes.md
Labels: devops, safe to test

#10248 issue-9734: job-id-param-added-for-dbt-cloud-ingestion
  ingestion/src/metadata/examples/workflows/dbt.yaml
  ingestion/src/metadata/utils/dbt_config.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtCloudConfig.json
Labels: safe to test

#10252 Fixed#10211: Enable LDAP configuration to be configured via environment variable
  conf/openmetadata.yaml
  openmetadata-docs/content/deployment/security/ldap/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/LdapUtil.java
  openmetadata-spec/src/main/resources/json/schema/configuration/ldapConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/ldapTrustStoreConfig/truststoreConfig.json
Labels: safe to test

#10260 ui: added localization support for ui
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/basic-auth.provider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/authenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/authenticators/basic-auth.authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/forgot-password/forgot-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/reset-password/reset-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/ServicesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddUsersModalV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/CheckboxUserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
Labels: UI, safe to test

#10270 Add impyla as scheme for hive connector
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
Labels: Ingestion, safe to test

#10268 Updated tableau req docs for metadata api
  openmetadata-docs/content/connectors/dashboard/tableau/airflow.md
  openmetadata-docs/content/connectors/dashboard/tableau/cli.md
  openmetadata-docs/content/connectors/dashboard/tableau/index.md
Labels: Ingestion, safe to test

#10180 Cypress: add cypress test for glossary part 2
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ReviewerModal/ReviewerModal.component.tsx
Labels: UI, safe to test

#10280 chore(ui): do not persist the facet filters on tab change
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Labels: UI, safe to test

#10047 Added dbt unit test
  ingestion/tests/unit/test_dbt.py
Labels: Ingestion, safe to test

#10288 chores(ui): Added Localization improvements
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
Labels: UI, safe to test

#10293 How to guide for custom logo
  openmetadata-docs/content/how-to-guides/custom-logo/how-to-add-custom-logo.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/how-to-guides/custom-logo/login-Page-Logo.png
  openmetadata-docs/images/how-to-guides/custom-logo/nav-Bar-Logo.png
Labels: backend, safe to test

#10277 chore(ui): UI improvements
  openmetadata-ui/src/main/resources/ui/src/assets/svg/bottom-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ConfirmationModal/ConfirmationModal.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
Labels: UI, safe to test

#10295 Fix Clickhouse Types
  ingestion/src/metadata/ingestion/source/database/clickhouse/metadata.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Labels: Ingestion, safe to test

#10276 Add Database & Schema Description: Snowflake
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Labels: Ingestion, safe to test

#10207 Support postgres multiple DB ingestion for user with no access
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
Labels: Ingestion, safe to test

#10294 Pipeline Service Client - Pass the service to run and deploy
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
Labels: Ingestion, safe to test

#10297 Fixed#10247: Users associated with more than one team are being counted more than once.
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
Labels: safe to test

#10282 Added dbt oracle fix
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/resources/datasets/manifest_null_db.json
  ingestion/tests/unit/resources/datasets/manifest_v4_v5_v6.json
  ingestion/tests/unit/resources/datasets/manifest_v7.json
  ingestion/tests/unit/resources/datasets/manifest_v8.json
  ingestion/tests/unit/test_dbt.py
Labels: Ingestion, safe to test

#10287 - Config Changes for Logo and Jwt Expiry
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/AuthenticatorHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LoginAttemptCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/jwt/JWTTokenGenerator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/ConfigResourceTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/applicationConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/loginConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/slackChatConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/slackEventPubConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
Labels: backend, safe to test

#10299 chore(ui): add check for notification is present or not in the browser
  openmetadata-ui/src/main/resources/ui/src/utils/BrowserNotificationUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BrowserNotificationUtils.ts
Labels: UI, safe to test

#10182 Airflow API change for test connection
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/connection.py
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
  ingestion/src/metadata/ingestion/source/database/mssql/connection.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/test_connection.py
Labels: Ingestion, safe to test

#10300 fix: missing localization key
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Ingestions.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.ts
Labels: UI, safe to test

#10315 Added uri in jsonchema for aws credentials
  ingestion/examples/sample_data/glue/database_service.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/awsCredentials.json
Labels: Ingestion, safe to test

#10283 Issue 9064 - New Object Store Service and Container models
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ObjectStoreServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/objectstores/ContainerResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/objectstore/ObjectStoreServiceResource.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/objectstores/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ObjectStoreServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createContainer.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createObjectStoreService.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/azureObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/gcsObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/s3ObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/objectstoreService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/serviceType.json
Labels: safe to test

#10335 [fixed] profiler would not fetch serviceConnection from OpenMetadata
  ingestion/src/metadata/orm_profiler/api/workflow.py
Labels: safe to test

#10336 sample data for object store service and containers
  ingestion/examples/sample_data/objectcontainers/containers.json
  ingestion/examples/sample_data/objectcontainers/service.json
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: safe to test

#10334 Simplify Pipeline Service Client Response and prep test connection for ingestion base
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
  ingestion/operators/docker/main.py
  ingestion/operators/docker/test_connection.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
Labels: Ingestion, safe to test

#10191 Fix patch tag for columns
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
Labels: backend, safe to test

#10289 Es update issue fix
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
Labels: safe to test

#9499 Lineage task
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: safe to test

#10348 UI : Fix the drop team issue on type GROUP
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#10352 Fix MySQL E2E CLI
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#10340 Fix: bug on description & tag update for duplicate entity names
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
Labels: safe to test

#10331 chore(ui): UI improvements
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/paper-plane-primary.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/SendButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Labels: UI, safe to test

#10356 Fix(UI) : Make generated fields required in filters and destination
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
Labels: UI, safe to test

#10359 Support Snowflake Geometry Type
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Labels: Ingestion, safe to test

#10362 fix(UI) : Improvements
  openmetadata-ui/src/main/resources/ui/src/assets/svg/metadata.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
Labels: UI, safe to test
