Repository open-metadata/OpenMetadata, pull requests merged in 2023-06, with the labels that each got.

#11811 Fix Document links
  openmetadata-docs/content/v0.13.3/connectors/dashboard/domo-dashboard/airflow.md
  openmetadata-docs/content/v0.13.3/connectors/dashboard/domo-dashboard/cli.md
  openmetadata-docs/content/v0.13.3/connectors/dashboard/domo-dashboard/index.md
  openmetadata-docs/content/v0.13.3/connectors/database/domo-database/airflow.md
  openmetadata-docs/content/v0.13.3/connectors/database/domo-database/cli.md
  openmetadata-docs/content/v0.13.3/connectors/database/domo-database/index.md
  openmetadata-docs/content/v0.13.3/connectors/database/snowflake/airflow.md
  openmetadata-docs/content/v0.13.3/connectors/database/snowflake/cli.md
  openmetadata-docs/content/v0.13.3/connectors/database/snowflake/index.md
  openmetadata-docs/content/v0.13.3/connectors/pipeline/domo-pipeline/airflow.md
  openmetadata-docs/content/v0.13.3/connectors/pipeline/domo-pipeline/cli.md
  openmetadata-docs/content/v0.13.3/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v0.13.3/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.0.0/connectors/dashboard/domo-dashboard/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/dashboard/domo-dashboard/cli.md
  openmetadata-docs/content/v1.0.0/connectors/dashboard/domo-dashboard/index.md
  openmetadata-docs/content/v1.0.0/connectors/database/domo-database/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/database/domo-database/cli.md
  openmetadata-docs/content/v1.0.0/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.0.0/connectors/database/snowflake/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/database/snowflake/cli.md
  openmetadata-docs/content/v1.0.0/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.0.0/connectors/index.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/domo-pipeline/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/domo-pipeline/cli.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/index.md
  openmetadata-docs/content/v1.0.0/developers/index.md
  openmetadata-docs/content/v1.0.0/menu.md
  openmetadata-docs/content/v1.0.0/quick-start/local-deployment.md
  openmetadata-docs/content/v1.0.0/quick-start/sandbox.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/domo-dashboard/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/domo-dashboard/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/domo-dashboard/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/domo-database/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/domo-database/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/snowflake/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/snowflake/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/pipeline/domo-pipeline/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/pipeline/domo-pipeline/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.1.0-snapshot/developers/index.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/DomoDashboard.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/DomoDatabase.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Snowflake.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/DomoPipeline.md
Labels: documentation, UI, Ingestion, safe to test

#11833 Fix LineTooLong
  ingestion/src/metadata/ingestion/ometa/auth_provider.py
Labels: Ingestion, safe to test

#11843 Fix redshift e2e with new lineage info
  ingestion/tests/cli_e2e/base/test_cli.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Labels: Ingestion, safe to test

#11842 fix(ui): list field highlighting in service connection form
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
Labels: UI, safe to test

#11784 feat(ui): export modal for all the entities
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ExportGlossaryModal/ExportGlossaryModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ExportGlossaryModal/ExportGlossaryModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonItemLabel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/teamsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
Labels: UI, safe to test

#11841 test(ui): unit tests for my data widget
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Labels: UI, safe to test

#11850 cypress: fixed flaky cypress for service specs
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
Labels: UI, safe to test

#11616 Improvements for Change Event Parsing Logic
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/email/EmailMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/email/EmailPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/gchat/GChatPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/msteams/MSTeamsPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/slack/SlackEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/DefaultEntityFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/EntityFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/IngestionPipelineFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/KpiFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/QueryFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/TestCaseFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/factory/ParserFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/DefaultFieldFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/FieldFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/FollowersFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/OwnerFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/TagFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FeedMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FeedUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Labels: backend, safe to test

#11832 Fix #11781: Fix atlas lineage issue
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  openmetadata-docs/content/v1.0.0/connectors/metadata/amundsen/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/amundsen/cli.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/amundsen/index.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/atlas/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/atlas/cli.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/atlas/index.md
Labels: documentation, Ingestion, safe to test

#11849 fix(#11575): filter pattern does not work if `,` in regex
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/tsconfig.json
Labels: UI, safe to test

#11856 Fix #11855: Tags can get deleted if the service name matches partially with targetFQN
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#11858 feat: Update Versions to prepare for 1.0.3 Release
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  docker/docker-compose-ingestion/docker-compose-ingestion-postgres.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, devops, safe to test

#11828 fix: use lineage config while fetching child nodes
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LineageNodeLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
Labels: UI, safe to test

#11836 Fixes #11705 - Update ingestion and backend to match new DQ flow
  ingestion/examples/sample_data/tests/logicalTestSuites.json
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/data_quality/README.md
  ingestion/src/metadata/data_quality/api/models.py
  ingestion/src/metadata/data_quality/api/workflow.py
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface_factory.py
  ingestion/src/metadata/data_quality/interface/test_suite_protocol.py
  ingestion/src/metadata/data_quality/runner/core.py
  ingestion/src/metadata/data_quality/source/base_test_suite_source.py
  ingestion/src/metadata/data_quality/source/test_suite_source_factory.py
  ingestion/src/metadata/ingestion/models/tests_data.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  ingestion/tests/integration/test_suite/test_workflow.py
  ingestion/tests/unit/test_suite/test_factories.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createLogicalTestCases.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, Ingestion, backend, data quality, safe to test

#11859 cypress: updated cypress for entityDetails as per new changes
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
Labels: UI, safe to test

#11847 Fixes Issue #11438 - Implement threshold and startegy for custom SQL
  ingestion/src/metadata/data_quality/validations/table/base/tableCustomSQLQuery.py
  ingestion/src/metadata/data_quality/validations/table/pandas/tableCustomSQLQuery.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableCustomSQLQuery.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/test_helpers.py
  ingestion/tests/unit/test_suite/conftest.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  openmetadata-service/src/main/resources/json/data/tests/tableCustomSQLQuery.json
  openmetadata-spec/src/main/resources/json/schema/tests/testDefinition.json
Labels: Ingestion, backend, data quality, safe to test

#11862 chore(ui): disable the dropdown on filter pattern
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.tsx
Labels: UI, safe to test

#11835 Fixed null values in upstreamColumns for tableau data models
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
Labels: Ingestion, safe to test

#11866 feat: update style guide
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCardV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/feed-card-header-v1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/activity-feed-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/ActivityFeedActions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChartV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsightV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/Tags.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/recently-viewed.less
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#11871 Remove unnecessary constructors in ResultList implementations
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/kpi/KpiResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/metrics/MetricsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/permissions/PermissionsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/reports/ReportResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/automations/WorkflowResourceTest.java
Labels: backend, safe to test

#11873 Fixes #11872 - Add authorization for Usage APIs
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogGenericExceptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/usage/UsageResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/usage/UsageResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
Labels: backend, safe to test

#11874 fix: CI Snyk Reports
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Labels: Ingestion, safe to test

#11867 fix(ui): json schema form field validation
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/FieldErrorTemplate/FieldErrorTemplate.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/FieldErrorTemplate/FieldErrorTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#11876 Remove `aarch64` from dockerfile
  ingestion/Dockerfile.ci
Labels: Ingestion, safe to test

#11885 Fix Update Issue in MetadataService in case the ES config is updated
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetadataServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
Labels: backend, safe to test

#11791 Added Support for Slack Related Configuration , Added Slack Bot , Sla…
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AbstractAlertPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/NoOpExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/OpenMetadataExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/fernet/Fernet.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-spec/src/main/resources/json/schema/configuration/slackAppConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
  pom.xml
Labels: backend, safe to test

#11865 Fix #9155: updated the error messages for duplicate entity failure for better context
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/EditRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuiteStepper.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI, safe to test

#11881 Fixe Issue #11863 - Add Status logic for test case results
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/data_quality/api/workflow.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
  ingestion/tests/integration/test_suite/test_workflow.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Labels: Ingestion, backend, data quality, safe to test

#11892 Revert "Fixe Issue #11863 - Add Status logic for test case results"
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/data_quality/api/workflow.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
  ingestion/tests/integration/test_suite/test_workflow.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Labels: Ingestion, backend, safe to test

#11870 Added dbt description toggle docs
  openmetadata-docs/content/v0.13.3/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v0.13.3/connectors/ingestion/workflows/dbt/ingest-dbt-descriptions.md
  openmetadata-docs/content/v0.13.3/menu.md
  openmetadata-docs/content/v1.0.0/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.0.0/connectors/ingestion/workflows/dbt/ingest-dbt-descriptions.md
  openmetadata-docs/content/v1.0.0/menu.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/ingestion/workflows/dbt/ingest-dbt-descriptions.md
  openmetadata-docs/content/v1.1.0-snapshot/menu.md
  openmetadata-docs/images/v0.13.3/openmetadata/ingestion/workflows/dbt/dbt-features/dbt-update-descriptions.png
  openmetadata-docs/images/v1.0.0/features/ingestion/workflows/dbt/dbt-features/dbt-update-descriptions.png
  openmetadata-docs/images/v1.1.0/features/ingestion/workflows/dbt/dbt-features/dbt-update-descriptions.png
Labels: documentation, Ingestion, safe to test

#11893 Fixes Issue #11863 - Add Status to DQ
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/data_quality/api/workflow.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
  ingestion/tests/integration/test_suite/test_workflow.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Labels: Ingestion, backend, safe to test

#11899 [Snyk] Security upgrade alpine from 3.15 to 3
  docker/docker-compose-quickstart/Dockerfile
Labels: backend, devops, safe to test

#11898 Docs: Add 1.0.3 Release Notes
  openmetadata-docs/content/v1.0.0/releases/releases/index.md
  openmetadata-docs/content/v1.0.0/releases/releases/latest.md
Labels: documentation, devops, safe to test

#11901 fix(ci): Maven Publish GitHub (#11762)
  .github/workflows/publish-maven-package.yml
Labels: devops, safe to test

#11509 Fix #11348: Return a proper error message when a token with wrong keyID sent
  openmetadata-service/src/main/java/org/openmetadata/service/security/MultiUrlJwkProvider.java
Labels: UI, backend, safe to test

#11900 Temporarily disable sys. metrics for snowflake while working on #11743
  ingestion/src/metadata/profiler/metrics/system/system.py
Labels: Ingestion, profiler, safe to test

#11904 Fixes #11617 Entity get operations check for ViewAll operation instea…
  openmetadata-service/src/main/java/org/openmetadata/service/ResourceRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/kpi/KpiResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/metrics/MetricsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/reports/ReportResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
Labels: backend, safe to test

#11903 Fix Japanese language indexing
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/team_index_mapping.json
Labels: backend, safe to test

#11889 Fix column resize to limit to 128 chars
  ingestion/src/metadata/ingestion/source/database/column_helpers.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
Labels: Ingestion, backend, safe to test

#11896 Fix #9282: Support Databricks Unity Catalog
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/databricks.yaml
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/databricks/legacy/__init__.py
  ingestion/src/metadata/ingestion/source/database/databricks/legacy/lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks/legacy/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/models.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/__init__.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
  ingestion/src/metadata/utils/db_utils.py
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/databricks/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/databricks/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/databricks/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Databricks.md
Labels: documentation, UI, Ingestion, backend, safe to test

#11917 doc: Added profiler, apis and schemas documentation back
  openmetadata-docs/content/v0.13.3/connectors/ingestion/workflows/profiler/index.md
  openmetadata-docs/content/v0.13.3/developers/apis/api-organization.md
  openmetadata-docs/content/v0.13.3/developers/apis/implementation-notes.md
  openmetadata-docs/content/v0.13.3/developers/apis/index.md
  openmetadata-docs/content/v0.13.3/developers/schemas/index.md
  openmetadata-docs/content/v0.13.3/developers/schemas/schema-language.md
  openmetadata-docs/content/v0.13.3/menu.md
  openmetadata-docs/content/v1.0.0/connectors/ingestion/workflows/profiler/index.md
  openmetadata-docs/content/v1.0.0/developers/apis/api-organization.md
  openmetadata-docs/content/v1.0.0/developers/apis/implementation-notes.md
  openmetadata-docs/content/v1.0.0/developers/apis/index.md
  openmetadata-docs/content/v1.0.0/developers/schemas/index.md
  openmetadata-docs/content/v1.0.0/developers/schemas/schema-language.md
  openmetadata-docs/content/v1.0.0/menu.md
Labels: documentation, Ingestion, safe to test

#11914 fix: check for empty description strings
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
Labels: Ingestion, safe to test, data insight

#11907 Change ES mapping maximumMessageSize & retentionSize to long
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/topic_index_mapping.json
Labels: Ingestion, backend, safe to test

#11922 doc: updated documentation info for DB requiremenst
  openmetadata-docs/content/v0.13.3/deployment/bare-metal/index.md
  openmetadata-docs/content/v0.13.3/deployment/docker/index.md
  openmetadata-docs/content/v0.13.3/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.0.0/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.0.0/deployment/docker/index.md
  openmetadata-docs/content/v1.0.0/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.1.0-snapshot/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.1.0-snapshot/deployment/docker/index.md
  openmetadata-docs/content/v1.1.0-snapshot/deployment/kubernetes/index.md
Labels: documentation, Ingestion, safe to test

#11921 fix(ui): the tags issue with same column name in entities
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ContainerDetailUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ContainerDetailUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataModelsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicSchema.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicSchemaUtils.test.ts
Labels: UI, safe to test

#11911 Fix 11875: Add check to see if parent table exists in OM
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#11909 feat: implemented export user functionality and refactor user tab
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/UserTab/UserTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/UserTab/UserTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Teams.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/teamsAPI.ts
Labels: UI, safe to test

#11927 fix(ci): version bump to 1.0.4
  .github/workflows/docker-openmetadata-server.yml
Labels: devops, safe to test

#11906 Add database name filed for oracle db
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/oracle/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/oracle/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/oracle/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Oracle.md
Labels: documentation, UI, Ingestion, backend, safe to test

#11880 Centralize tags ingestion logic
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/metadata/amundsen/metadata.py
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/metadata.py
  ingestion/src/metadata/utils/tag_utils.py
  ingestion/tests/unit/test_dbt.py
  ingestion/tests/unit/topology/metadata/test_atlas.py
  ingestion/tests/unit/topology/pipeline/test_dagster.py
Labels: Ingestion, safe to test

#11934 Fix datamodel generate issue for python 3.8
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpCredentials.json
Labels: Ingestion, backend, safe to test

#11933 Fix #11808: Handle lineage for single db sources in superset
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/tests/unit/resources/datasets/superset_dataset.json
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#11916 fix( #11589):japanese/chinese language support in custom property name
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#11940 Update test conn definition on initialize
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestConnectionDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResourceTest.java
Labels: Ingestion, backend, safe to test

#11936 chore(ui): remove refresh token on logout
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
Labels: UI, safe to test

#11932 Align bootstrap after 1.0.4 patch
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v012__create_db_connection_info.sql
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v013__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v012__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v013__create_db_connection_info.sql
Labels: Ingestion, safe to test

#11958 Added Note for Local File System Ingestion (ingest-dbt-ui.md)
  openmetadata-docs/content/v1.0.0/connectors/ingestion/workflows/dbt/ingest-dbt-ui.md
Labels: documentation, safe to test

#11945 Fix #11752 - Multiple inlets in AirflowLineageOperator
  ingestion/examples/airflow/dags/airflow_lineage_operator.py
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
  ingestion/tests/integration/lineage/airflow/test_airflow_lineage.py
Labels: Ingestion, safe to test

#11500 fixed issue for lineage description
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  ingestion/tests/unit/test_logger.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/lineage/addLineage.json
  openmetadata-spec/src/main/resources/json/schema/type/entityLineage.json
Labels: Ingestion, backend, safe to test

#11964 Use python for Slack Link Monitoring
  .github/workflows/monitor-slack-link.yml
  scripts/slack-link-monitor.py
Labels: Ingestion, devops, safe to test

#11938 Update docker for sandbox
  docker/run_local_docker.sh
Labels: devops, safe to test

#11946 fix (ui): Add `strategy` and `threshold` to the SQL test #11848
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/schema-editor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/ImportTeamsPage/ImportTeamsPage.test.tsx
Labels: UI, safe to test

#11948 dbt test parameter values fixed
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#11971 Add Lineage support for mssql
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
Labels: Ingestion, backend, safe to test

#11977 Fixes #11976 Add support for suggest and request description and tags…
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogGenericExceptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Labels: backend, safe to test

#11982 fix(docker): Docker ENV files Syntax issues
  docker/docker-compose-ingestion/env-mysql
  docker/docker-compose-openmetadata/env-mysql
Labels: devops, safe to test

#11923 Fix 10689: Added Powerbi Datamodels
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/powerbi/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/powerbi/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/powerbi/setup-powerbi-account.md
  openmetadata-docs/images/v1.1.0/connectors/powerbi/lineage-powerbi-om.png
  openmetadata-docs/images/v1.1.0/connectors/powerbi/lineage-powerbi.png
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
Labels: documentation, Ingestion, backend, safe to test

#11956 Fixes #11955: Modify URL to register with Airflow Lineage Backend
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
Labels: Ingestion, safe to test

#11992 Fix authentication configuration docs to reflect to
  openmetadata-docs/content/v1.0.0/deployment/security/amazon-cognito-sso/bare-metal.md
  openmetadata-docs/content/v1.0.0/deployment/security/amazon-cognito-sso/docker.md
  openmetadata-docs/content/v1.0.0/deployment/security/amazon-cognito-sso/kubernetes.md
  openmetadata-docs/content/v1.0.0/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.0.0/deployment/security/auth0/docker.md
  openmetadata-docs/content/v1.0.0/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.0.0/deployment/security/custom-oidc/bare-metal.md
  openmetadata-docs/content/v1.0.0/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/v1.0.0/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/v1.0.0/deployment/security/google/bare-metal.md
  openmetadata-docs/content/v1.0.0/deployment/security/google/docker.md
  openmetadata-docs/content/v1.0.0/deployment/security/google/kubernetes.md
  openmetadata-docs/content/v1.0.0/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.0.0/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.0.0/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.0.0/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.0.0/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.0.0/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.0.0/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/v1.0.0/deployment/security/one-login/docker.md
  openmetadata-docs/content/v1.0.0/deployment/security/one-login/kubernetes.md
Labels: documentation, backend, safe to test

#11943 Fix #1076: Add mongodb support
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/mongodb.yaml
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/mongodb/__init__.py
  ingestion/src/metadata/ingestion/source/database/mongodb/connection.py
  ingestion/src/metadata/ingestion/source/database/mongodb/metadata.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/database/test_domodatabase.py
  ingestion/tests/unit/topology/database/test_glue.py
  ingestion/tests/unit/topology/database/test_mongodb.py
  ingestion/tests/unit/topology/database/test_postgres.py
  ingestion/tests/unit/topology/database/test_redshift.py
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/mongodb/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/mongodb/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/mongodb/index.md
  openmetadata-docs/content/v1.1.0-snapshot/menu.md
  openmetadata-docs/images/v1.1.0/connectors/mongodb/add-new-service.png
  openmetadata-docs/images/v1.1.0/connectors/mongodb/select-service.png
  openmetadata-docs/images/v1.1.0/connectors/mongodb/service-connection.png
  openmetadata-service/src/main/resources/json/data/testConnections/database/mongodb.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mongoDB/mongoDBValues.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mongoDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/MongoDB.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-mongodb.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: documentation, UI, Ingestion, backend, safe to test

#11993 Update sdk/python/ingestion/lineage.md docs
  openmetadata-docs/content/v1.0.0/sdk/python/ingestion/lineage.md
Labels: documentation, safe to test

#11919 Fix #10542 & #10830 - Mask Sample Data PII & Column Metrics
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/Authorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, safe to test

#11986 Added project property to dashboards
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/database/mongodb/connection.py
  ingestion/tests/unit/topology/database/test_mongodb.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
Labels: Ingestion, backend, safe to test

#11989 Fixes #11895 - Add Indexing and Search logic for TestCases
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
  ingestion/tests/integration/test_suite/test_workflow.py
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Labels: Ingestion, backend, data quality, safe to test

#11912 chore(ui): improve test connection workflow delete flow
  openmetadata-ui/src/main/resources/ui/src/components/common/AirflowMessageBanner/AirflowMessageBanner.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#11910 chore(ui): move connection option and arguments under advanced config
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/Steps.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/ObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/object-field-template.less
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#11999 skip dbt cli e2e
  ingestion/tests/cli_e2e/base/test_cli_dbt.py
Labels: Ingestion, safe to test

#9324 Add get tableProfilerConfig test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: backend, safe to test

#12006 fix: release connection from engine pool
  ingestion/src/metadata/profiler/api/workflow.py
  ingestion/src/metadata/profiler/interface/profiler_protocol.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/sqa_profiler_interface.py
  ingestion/src/metadata/profiler/processor/core.py
Labels: Ingestion, profiler, safe to test

#12015 Fix #12014: Register OpenMetadata as a service when the server starts.
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ServiceEntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
Labels: backend, safe to test

#11988 Fix #11312: Deprecate ES Reindex on Ingestion and use reindex APIs instead
  ingestion/pipelines/metadata_to_es.json
  ingestion/pipelines/metadata_to_es.yaml
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/source/metadata/metadata.py
  ingestion/src/metadata/ingestion/source/metadata/metadata_elasticsearch/metadata.py
  ingestion/src/metadata/ingestion/source/metadata/openmetadata/__init__.py
  ingestion/src/metadata/ingestion/source/metadata/openmetadata/metadata.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/es_reindex.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/Authorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthorizer.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/metadataESConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/metadataToElasticSearchPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Metadata/workflows/elasticSearchReindex.md
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/MetadataToESConfigForm/MetadataToESConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
Labels: UI, Ingestion, backend, safe to test

#11996 Fixed Mark Deleted Tables for multiple DBs
  ingestion/src/metadata/ingestion/source/database/database_service.py
Labels: Ingestion, safe to test

#12008 Fix Airflow callback import
  ingestion/src/airflow_provider_openmetadata/lineage/callback.py
Labels: Ingestion, safe to test

#12002 Fix Redshift performance and memory issues for ingestion-base
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
  ingestion/setup.py
Labels: Ingestion, safe to test

#12018 Fixes #11994 - Update dbt and GE integration with new DQ flow
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/cli_e2e/base/test_cli_dbt.py
  ingestion/tests/integration/great_expectations/__init__.py
  ingestion/tests/integration/great_expectations/great_expectations/.gitignore
  ingestion/tests/integration/great_expectations/great_expectations/checkpoints/sqlite.yml
  ingestion/tests/integration/great_expectations/great_expectations/expectations/IntegrationTestExpectation.json
  ingestion/tests/integration/great_expectations/great_expectations/great_expectations.yml
  ingestion/tests/integration/great_expectations/great_expectations/ometa_config/config.yaml
  ingestion/tests/integration/great_expectations/great_expectations/plugins/custom_data_docs/styles/data_docs_custom_styles.css
  ingestion/tests/integration/great_expectations/test_great_expectation_integration.py
  ingestion/tests/unit/great_expectations/test_ometa_validation_action.py
  ingestion/tests/unit/test_fqn.py
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TestCaseIndex.java
Labels: Ingestion, backend, data quality, safe to test

#12036 Reindex improvement
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
Labels: backend, safe to test

#11998 Fixes #11883 - A user can resolve a task created by him
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/ExternalSecretsManagerTest.java
Labels: backend, safe to test

#12032 Fix #12012: Fix clickhouse usage schema_name error
  ingestion/src/metadata/ingestion/source/database/clickhouse/query_parser.py
Labels: Ingestion, safe to test

#12030 Add `project` to Data Models JSON Schema & Implement in Looker
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/parser.py
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/looker/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/looker/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/looker/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
Labels: documentation, Ingestion, backend, safe to test

#12013 Fix for #11807 Part 2: Add SourceUrl for table entity
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v013__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v013__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/dashboard/mode/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/constants.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/fivetran/metadata.py
  ingestion/tests/unit/topology/database/test_bigquery.py
  ingestion/tests/unit/topology/database/test_snowflake.py
  ingestion/tests/unit/topology/pipeline/test_dagster.py
  ingestion/tests/unit/topology/pipeline/test_databricks_pipeline.py
  ingestion/tests/unit/topology/pipeline/test_domopipeline.py
  ingestion/tests/unit/topology/pipeline/test_fivetran.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createChart.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboard.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createPipeline.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createTable.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: Ingestion, backend, safe to test

#11972 Fix #11966 - Add delete secrets options for managed SM
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSSMSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/InMemorySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/NoopSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/IngestionPipelineBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerLifecycleTest.java
Labels: Ingestion, backend, safe to test

#12050 Bug fixes for Activity Feed + Restrict digits to 2' place
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightTotalAssetTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/IngestionPipelineFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/KpiFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/QueryFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/TestCaseFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Labels: backend, safe to test

#10925 feat(ui): support disable option for tags and classification
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/disable-tag.svg
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tagAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
Labels: UI, backend, safe to test

#12051 Fix #11966 - Add delete secrets options for managed SM
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSSMSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/InMemorySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/NoopSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/IngestionPipelineBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerLifecycleTest.java
Labels: Ingestion, backend, safe to test

#12041 Add platform in Pipeline Service status msg
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-collate-support.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/AirflowMessageBanner/AirflowMessageBanner.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useAirflowStatus.ts
  openmetadata-ui/src/main/resources/ui/src/interface/AirflowStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
Labels: UI, Ingestion, backend, safe to test

#12007 Add automations workflow truncate migration
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v013__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v013__create_db_connection_info.sql
Labels: Ingestion, safe to test

#12009 Fix #11978 - Fix Airflow UI docs
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Airflow.md
Labels: UI, Ingestion, safe to test

#12059 Update dbt docs for S3
  openmetadata-docs/content/v1.0.0/connectors/ingestion/workflows/dbt/dbt-troubleshooting.md
  openmetadata-docs/content/v1.0.0/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/ingestion/workflows/dbt/dbt-troubleshooting.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/ingestion/workflows/dbt/index.md
Labels: documentation, Ingestion, safe to test

#12065 Fixed dbt test column name
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/fqn.py
Labels: Ingestion, safe to test

#12005 Issue 11686: Add IncludeOwner + scheduleInterval in Airflow
  ingestion/examples/sample_data/pipelines/pipelines.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/models.py
  ingestion/src/metadata/utils/constants.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createPipeline.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createPipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
Labels: UI, Ingestion, backend, safe to test

#12067 Added dbt test_metadata check
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#12052 Added Powerbi Lineage across workspaces and datamodel projects
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#12076 Fixes #12069 - Test Case Summary for testSuite endpoint return 0
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#12072 Fixes #11743 - Remove SQLParse dependency for System Metrics
  ingestion/src/metadata/profiler/metrics/core.py
  ingestion/src/metadata/profiler/metrics/system/__init__.py
  ingestion/src/metadata/profiler/metrics/system/dml_operation.py
  ingestion/src/metadata/profiler/metrics/system/queries/__init__.py
  ingestion/src/metadata/profiler/metrics/system/queries/bigquery.py
  ingestion/src/metadata/profiler/metrics/system/queries/redshift.py
  ingestion/src/metadata/profiler/metrics/system/queries/snowflake.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/utils/profiler_utils.py
  ingestion/tests/integration/orm_profiler/system/__init__.py
  ingestion/tests/integration/orm_profiler/system/test_bigquery_system_metrics.py
  ingestion/tests/integration/orm_profiler/system/test_redshift_system_metrics.py
  ingestion/tests/integration/orm_profiler/system/test_snowflake_system_metrics.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
  ingestion/tests/unit/profiler/conftest.py
  ingestion/tests/unit/profiler/test_utils.py
Labels: Ingestion, profiler, safe to test

#12046 Add Pipeline Service Status Job to publish to Prometheus
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-docs/content/v1.1.0-snapshot/deployment/upgrade/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJobHandler.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
Labels: documentation, Ingestion, backend, devops, safe to test

#12060 Fix #12056 - Clean verbose debug logs
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/tests/integration/ometa/test_ometa_api.py
Labels: Ingestion, safe to test

#11839 Added Azure Blob Storage to dbt config
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/dbt.yaml
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/dbt_config.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtAzureConfig.json
Labels: Ingestion, backend, safe to test

#12048 Fixed dagster bugs and Added Pydantic Models
  ingestion/src/metadata/ingestion/source/pipeline/dagster/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/models.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/tests/unit/topology/pipeline/test_dagster.py
Labels: Ingestion, safe to test

#12068 fix(ui):supported separate tags for glossary and tags
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV1/TagsContainerV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV1/TagsContainerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV1/TagsTree.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Labels: UI, safe to test

#12073 fix#11003: added show deleted switch for required pages
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataModelsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/databaseAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/pipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/storageAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/topicsAPI.ts
Labels: UI, safe to test

#12079 Fix 12025: Clickhouse NaN issue
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/profiler/interface/__init__.py
  ingestion/src/metadata/profiler/interface/pandas/__init__.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/__init__.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/src/metadata/profiler/processor/pandas/__init__.py
  ingestion/src/metadata/profiler/processor/pandas/sampler.py
  ingestion/src/metadata/profiler/processor/sqlalchemy/__init__.py
  ingestion/src/metadata/profiler/processor/sqlalchemy/sampler.py
  ingestion/src/metadata/profiler/source/base_profiler_source.py
  ingestion/src/metadata/profiler/source/profiler_source_factory.py
  ingestion/tests/unit/profiler/test_datalake_metrics.py
  ingestion/tests/unit/profiler/test_metrics.py
  ingestion/tests/unit/profiler/test_profiler.py
  ingestion/tests/unit/profiler/test_runner.py
  ingestion/tests/unit/profiler/test_sample.py
  ingestion/tests/unit/profiler/test_sqa_profiler_interface.py
  ingestion/tests/unit/profiler/test_workflow.py
Labels: Ingestion, safe to test

#12084 fix(ui): airflow cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/Airflow.spec.js
Labels: UI, safe to test

#12087 Fixed mysqlclient dep
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
Labels: Ingestion, safe to test

#12045 chore(ui): update json form advanced config styling
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/ObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/object-field-template.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#12100 added search for test case index
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
Labels: backend, safe to test

#12097 chore(ui): allow parenthesis in entity name
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddDataInsightReportAlert/AddDataInsightReportAlert.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/RuleForm/RuleForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/AddTestSuiteForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
Labels: UI, safe to test

#12071 fix ui feedbacks
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/App.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/NoFeedPlaceholder/NoFeedPlaceholder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/NoFeedPlaceholder/NoFeedPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddTags/AddTags.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddTags/add-tags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/SearchOptions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/app-bar.style.less
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/app-container.less
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FilterContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FilterContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/facetFilter.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/facetFilter.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#12088 feat(ui): lineage - allow pipelines to be added for table to topic and vice versa
  openmetadata-ui/src/main/resources/ui/src/assets/svg/folder.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#12111 Fix sonar issues for static variable names
  openmetadata-service/src/main/java/org/openmetadata/service/ChangeEventConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/ReportsHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/ActivityFeedAlertCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatasourceConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSSMSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/InMemorySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/NoopSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RoleCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlSettingsHolder.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MicrometerBundleSingleton.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ReIndexingHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/SubjectContextTest.java
Labels: backend, safe to test

#12098 fixed: Dashboard services UI error #12003
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dashboardAPI.ts
Labels: UI, safe to test

#12109 Move Service Retrieval for Test Suite to Workflow
  ingestion/src/metadata/data_quality/api/workflow.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
Labels: Ingestion, data quality, safe to test

#12101 Fix 6874: Added Support for lineage from dbt ephemeral nodes
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_utils.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
Labels: Ingestion, safe to test

#12112 feat: show all entities related to user
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/drawer.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#12116 ui: data quality feedback part 1
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTest.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DailyActiveUsersChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopActiveUsers.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopViewEntities.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/IngestionStepper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/ingestion-stepper.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/SingleColumnProfile.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/tableProfiler.less
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#12117 fix(ui): update details on task resolve
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
Labels: UI, safe to test

#12126 cypress: fixed failing cypress tests of main
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#12122 fix(ui): tour page
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TourProvider/TourProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tour/Tour.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useTour.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Labels: UI, safe to test

#12118 feat(ui) #11344: supported mutually exclusive updating functionality to classification from ui
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Labels: UI, safe to test

#12119 fix(ui): ui improvement for tags and placeholder icon
  openmetadata-ui/src/main/resources/ui/src/assets/svg/add-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/no-access-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/no-search-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV1/TagsContainerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
Labels: UI, safe to test

#12123 fix: address feedbacks of explore lineage
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.style.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LineageConfigModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewModal.styles.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/UserSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/card.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/drawer.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#12121 fix(UI): reverted the ES config step for 'Data Insights Pipeline'
  ingestion/src/metadata/utils/constants.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/elasticsearch_sink.py
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/DataInsightMetadataToESConfigForm/DataInsightMetadataToESConfigForm.tsx
Labels: UI, Ingestion, safe to test

#12113 Fix #12106 - Fix looker chart `sourceUrl` & Array datatype handling
  ingestion/src/metadata/ingestion/source/dashboard/looker/columns.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
Labels: Ingestion, safe to test

#12137 Set logger level for ingestion-base
  ingestion/operators/docker/main.py
Labels: Ingestion, safe to test

#12140 ui: worked on DQ feedback part 2
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTest.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/AddTestSuiteForm/AddTestSuiteForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#12120 Powerbi loop bug fix
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#12134 Remove duplicated line in OpenMetadata-service pom.xml
  openmetadata-service/pom.xml
Labels: backend, safe to test

#12089 Global k8s values docs
  .github/workflows/cypress-integration-tests-mysql-skip.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql-skip.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  openmetadata-docs/content/v1.0.0/deployment/kubernetes/values.md
Labels: documentation, devops

#12125 fix: hash name of test suite + append
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#12035 Docs: add proxy_pass setting for nginx
  openmetadata-docs/content/v1.0.0/deployment/security/enable-ssl/nginx.md
Labels: documentation, backend, safe to test

#12108 Fix atlas lineage custom db name issue
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  ingestion/tests/unit/topology/metadata/test_atlas.py
Labels: Ingestion, safe to test

#12105 Fix #12083 - Backoff retry when polling for pipeline service client status
  openmetadata-docs/content/v1.1.0-snapshot/releases/roadmap/index.md
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJob.java
  pom.xml
Labels: documentation, Ingestion, backend, safe to test

#12138 Databricks Support Table Constraints
  ingestion/src/metadata/ingestion/source/database/databricks/models.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
Labels: Ingestion, safe to test

#12063 Fix #11659: Add support for filter patterns in dbt workflow
  ingestion/src/metadata/examples/workflows/dbt.yaml
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-docs/content/v1.1.0-snapshot/connectors/ingestion/workflows/dbt/ingest-dbt-cli.md
  openmetadata-docs/content/v1.1.0-snapshot/sdk/python/ingestion/dbt.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
Labels: documentation, UI, Ingestion, backend, safe to test

#12145 Move Top Level Imports
  ingestion/src/metadata/utils/datalake/csv_tsv_dispatch.py
  ingestion/src/metadata/utils/datalake/parquet_dispatch.py
Labels: Ingestion, safe to test

#12146 Fix Migrations
  bootstrap/sql/org.postgresql.Driver/v013__create_db_connection_info.sql
Labels: Ingestion, safe to test

#12139 Mask queries, Table sample data and Topic sample data
  ingestion/examples/sample_data/topics/topics.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/topicsAPI.ts
Labels: UI, Ingestion, backend, safe to test

#11066 Dockerfile Update
  .github/workflows/docker-openmetadata-server.yml
  docker/development/Dockerfile
  docker/docker-compose-quickstart/Dockerfile
  docker/openmetadata-start.sh
Labels: devops, safe to test

#12115 Docker script update
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/run_local_docker.sh
Labels: devops, safe to test

#12151 Fix Failing Maven CI Test
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: backend, safe to test

#12152 Fix SQLLineage Test
  ingestion/tests/unit/test_query_parser.py
Labels: Ingestion, safe to test
