Repository open-metadata/OpenMetadata, pull requests merged in 2023-10, with the labels that each got.

#13386 feat: added german translation for OM
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, Ingestion, safe to test

#13395 Fix SettingsCache initialization
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Labels: backend, safe to test

#13360 fix(test): cypress skipped tests
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/Airflow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Alerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
Labels: UI, safe to test

#13384 Issue 12679 - Handle Entity Object Instantiation Error + Refactor Workflow
  ingestion/operators/docker/main.py
  ingestion/setup.py
  ingestion/src/metadata/cli/insight.py
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/data_insight/processor/__init__.py
  ingestion/src/metadata/data_insight/processor/cost_analysis_base.py
  ingestion/src/metadata/data_insight/processor/cost_analysis_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/kpi/__init__.py
  ingestion/src/metadata/data_insight/processor/kpi/kpi_runner.py
  ingestion/src/metadata/data_insight/processor/kpi/run_result_registry.py
  ingestion/src/metadata/data_insight/processor/reports/__init__.py
  ingestion/src/metadata/data_insight/processor/reports/cost_analysis_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/web_analytic_report_data_processor.py
  ingestion/src/metadata/data_insight/producer/__init__.py
  ingestion/src/metadata/data_insight/producer/entity_producer.py
  ingestion/src/metadata/data_insight/producer/producer_factory.py
  ingestion/src/metadata/data_insight/producer/producer_interface.py
  ingestion/src/metadata/data_insight/producer/web_analytics_producer.py
  ingestion/src/metadata/data_insight/sink/metadata_rest.py
  ingestion/src/metadata/data_insight/source/__init__.py
  ingestion/src/metadata/data_insight/source/metadata.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/workflow/data_insight.py
  ingestion/src/metadata/workflow/workflow_output_handler.py
  ingestion/tests/integration/data_insight/producer/__init__.py
  ingestion/tests/integration/data_insight/producer/test_producers.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/unit/data_insight/kpi/test_registry_functions.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  ingestion/tests/unit/data_insight/test_web_analytic_report_processor.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-docs/content/v1.0.x/features/data-insight/index.md
  openmetadata-docs/content/v1.1.x/features/data-insight/index.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/features/data-insight/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
Labels: documentation, Ingestion, backend, safe to test, data insight

#13376 Prepare Storage Connector for ADLS & Docs
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/bigquery.yaml
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/readers/file/adls.py
  ingestion/src/metadata/readers/file/gcs.py
  ingestion/src/metadata/readers/file/s3.py
  ingestion/src/metadata/utils/storage_metadata_config.py
  ingestion/tests/unit/topology/storage/test_storage.py
  openmetadata-docs/content/partials/v1.2/connectors/storage/configure-ingestion.md
  openmetadata-docs/content/partials/v1.2/connectors/storage/manifest.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/storage/s3/yaml.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/manifestMetadataConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/storageBucketDetails.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/storageMetadataADLSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storageServiceMetadataPipeline.json
Labels: documentation, Ingestion, backend, safe to test

#13399 fix(ui): initial load tab details in container page
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
Labels: UI, safe to test

#13296 fix(ui): revamp teams page added supported subscription webhooks
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/gchat.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/teams.svg
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamsHeaderSection/TeamsSubscription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/team.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.style.less
  openmetadata-ui/src/main/resources/ui/src/constants/Teams.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
Labels: UI, safe to test

#13292 Fix #12870 - Troubleshoot Debian/CentOS Airflow apis installation
  openmetadata-docs/content/v1.1.x/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/deployment/ingestion/openmetadata.md
Labels: documentation, Ingestion, safe to test

#13385 Batch PII tagging
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/profiler/api/models.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  ingestion/tests/integration/orm_profiler/test_pii_processor.py
Labels: Ingestion, safe to test

#13413 Fix Latest Pylint 3.0.0 issues
  .pylintrc
  ingestion/plugins/print_checker.py
  ingestion/setup.py
Labels: Ingestion, safe to test

#13242 Fixed dbt optional files for local config
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Labels: Ingestion, safe to test

#13361 Fix 7410: add documentation for sharded tables
  openmetadata-docs/content/v1.0.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/database/bigquery/index.md
Labels: documentation, Ingestion, safe to test

#13408 Cost analysis agg
  ingestion/examples/sample_data/data_insights/data_insights.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DataInsightAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/EsAggregatedUnusedAssetsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/EsUnusedAssetsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OsAggregatedUnusedAssetsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OsUnusedAssetsAggregator.java
  openmetadata-service/src/main/resources/json/data/dataInsight/aggregatedUnusedAssets.json
  openmetadata-service/src/main/resources/json/data/dataInsight/unusedAssets.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/dataInsightChartResult.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/aggregatedUnusedAsserts.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/unusedAssets.json
Labels: Ingestion, backend, safe to test, data insight

#12895 Add Java 17 support
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/docker-openmetadata-server.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/publish-maven-package.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-tests.yml
  .github/workflows/security-scan.yml
  .github/workflows/selenium-noIngestion-tests.yml
  docker/development/Dockerfile
  docker/docker-compose-quickstart/Dockerfile
  docker/images/minimal-ubuntu/Dockerfile
  openmetadata-service/pom.xml
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  pom.xml
Labels: backend, devops, safe to test

#13420 fix: encode search query text
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, safe to test

#13105 ui: UI to use Tier TAG displayName if provided #12899
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
Labels: UI, safe to test

#13425 Fix repository registration
  conf/openmetadata.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/NoOpExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/OpenMetadataExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ClassUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-spec/pom.xml
  openmetadata-spec/src/main/resources/json/schema/configuration/extensionConfiguration.json
  pom.xml
Labels: backend, safe to test

#13419 Fix failing E2Es
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test, hacktoberfest-accepted

#13400 Allow ometa to create services without storing the connection
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/ometa/mixins/service_mixin.py
  ingestion/tests/integration/ometa/test_ometa_service_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MessagingServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MlModelServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/SearchServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/StorageServiceResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createDashboardService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDatabaseService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMessagingService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMetadataService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMlModelService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createPipelineService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createSearchService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createStorageService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Labels: Ingestion, backend, safe to test

#13421 Added entity_ref instead of fqn in unused data assets aggregrate API
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/EsUnusedAssetsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OsUnusedAssetsAggregator.java
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/aggregatedCostAnalysisReportData.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/rawCostAnalysisReportData.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/unusedAssets.json
Labels: Ingestion, backend, safe to test

#13414 fix(ui): supported announcement in pending entities
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#13404 fix(ui): supported removal of subscription in teams
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamsHeaderSection/TeamsSubscription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/team.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Teams.constants.ts
Labels: UI, safe to test

#13432 Fix column lineage noneType error
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Labels: Ingestion, safe to test

#13250 Fixes 13249: Added ingestion support - Presto tbl/col comments
  ingestion/src/metadata/ingestion/source/database/presto/metadata.py
  ingestion/src/metadata/ingestion/source/database/presto/queries.py
Labels: Ingestion, safe to test

#13128 fixes #12771: Added Greenplum Ingestion Connector
  ingestion/src/metadata/ingestion/source/database/greenplum/__init__.py
  ingestion/src/metadata/ingestion/source/database/greenplum/connection.py
  ingestion/src/metadata/ingestion/source/database/greenplum/metadata.py
  ingestion/src/metadata/ingestion/source/database/greenplum/queries.py
  ingestion/src/metadata/ingestion/source/database/greenplum/utils.py
  openmetadata-service/src/main/resources/json/data/testConnections/database/greenplum.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/greenplumConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-greenplum.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, Ingestion, backend, safe to test

#13244 Fixes 12922: Trino NaN issue + TrinoUserError
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/snowflake/__init__.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/snowflake/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/trino/__init__.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/trino/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/src/metadata/profiler/orm/functions/sum.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/processor/sampler/sampler_factory.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/trino/sampler.py
  ingestion/src/metadata/utils/entity_link.py
  ingestion/src/metadata/utils/fqn.py
Labels: bug, Ingestion, profiler, safe to test

#13140 Support LookML multi repos
  ingestion/setup.py
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/bulk_parser.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/models.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/utils.py
Labels: Ingestion, safe to test

#13430 chore(ui): add route and sidebar prop support in app
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slashCommand/items.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
Labels: UI, safe to test

#13438 Update references to Airflow instead of Airbyte
  openmetadata-docs/content/v1.1.x/connectors/pipeline/airflow/yaml.md
Labels: documentation

#13437 fix: handle tableConfig for profiler CLI
  ingestion/setup.py
  ingestion/src/metadata/profiler/processor/core.py
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: UI, Ingestion, support, profiler, safe to test

#13380 Fix Bigquery Test connection for multiproject
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/tests/unit/test_handle_partitions.py
  ingestion/tests/unit/topology/database/test_bigquery.py
Labels: Ingestion, safe to test, hacktoberfest-accepted

#13441 fix(ui): change search index value for search and data product
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
Labels: UI, safe to test

#13446 Aggregate Cost Analysis Report sample data, json schema change and mappings
  ingestion/examples/sample_data/data_insights/data_insights.json
  openmetadata-service/src/main/resources/elasticsearch/aggregated_cost_analysis_report_data_index.json
  openmetadata-spec/src/main/resources/json/schema/analytics/reportDataType/aggregatedCostAnalysisReportData.json
Labels: Ingestion, backend, safe to test

#13447 Fixes #13267 - Remove maxLen and minLen from profiler default metrics
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/profiler/processor/default.py
Labels: Ingestion, profiler, safe to test

#13448 fix: Glossary tags are not showing proper name when using in entities #13440
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/tagsV1.less
Labels: UI, safe to test

#13450 fix(ui): domain cypress and not found domain issue after deleting last entry
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
Labels: UI, safe to test

#13457 Fix looker missing git execution on container image
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
  ingestion/src/metadata/ingestion/source/dashboard/looker/bulk_parser.py
  ingestion/src/metadata/readers/file/local.py
Labels: Ingestion, safe to test

#13451 Fix superset owner issue for db
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#13453 Update Aggregate Cost Analysis DI processor for new data
  ingestion/src/metadata/data_insight/processor/reports/cost_analysis_report_data_processor.py
Labels: Ingestion, safe to test

#13344 Fix #13336: Clean Mark All Deleted Table Flag
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/database/database_service.py
  openmetadata-docs/content/v1.0.x/connectors/database/impala/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/quick-start-guide-for-admins/how-to-ingest-metadata.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/main-concepts/metadata-standard/schemas/metadataIngestion/databaseServiceMetadataPipeline.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/metadata.md
Labels: documentation, UI, Ingestion, backend, safe to test

#13454 DQ base workflow
  ingestion/operators/docker/main.py
  ingestion/src/metadata/cli/dataquality.py
  ingestion/src/metadata/data_quality/api/models.py
  ingestion/src/metadata/data_quality/api/workflow.py
  ingestion/src/metadata/data_quality/processor/__init__.py
  ingestion/src/metadata/data_quality/processor/test_case_runner.py
  ingestion/src/metadata/data_quality/runner/base_test_suite_source.py
  ingestion/src/metadata/data_quality/runner/core.py
  ingestion/src/metadata/data_quality/runner/models.py
  ingestion/src/metadata/data_quality/runner/test_suite_source_factory.py
  ingestion/src/metadata/data_quality/sink/metadata_rest.py
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/src/metadata/ingestion/api/status.py
  ingestion/src/metadata/ingestion/api/steps.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/src/metadata/utils/logger.py
  ingestion/src/metadata/workflow/data_quality.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  ingestion/tests/integration/test_suite/test_workflow.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/test_suite.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
Labels: Ingestion, safe to test

#13472 lineage-docs
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-lineage/column.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-lineage/explore.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-lineage/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-lineage/manual.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-lineage/workflow.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/images/v1.1/how-to-guides/lineage/column1.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/edge.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/ingestion.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/l1.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/l2.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/l3.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/lineage1.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/lineage2.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/lineage3.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/nodes.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/pipeline.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/view.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/wkf1.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/wkf2.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/wkf3.png
  openmetadata-docs/images/v1.1/how-to-guides/lineage/wkf4.png
Labels: documentation, safe to test

#13463 fix(ui): broken breadcrumb issue in request/update pages for tags/description
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
Labels: UI, safe to test

#13465 Fix #12952: Fix Nifi json decode error
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
Labels: Ingestion, safe to test

#13443 fix(ui): revamp dropable ui effect for glossary terms table
  openmetadata-ui/src/main/resources/ui/src/components/Draggable/DraggableBodyRow.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Labels: UI, safe to test

#13436 Support migration extensions
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/MigrationWorkflowTest.java
Labels: Ingestion, backend, safe to test

#13393 [Snyk] Fix for 1 vulnerabilities
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, Ingestion, safe to test

#13412 Register system knowledge panels
  openmetadata-service/src/main/java/org/openmetadata/service/resources/docstore/DocStoreResource.java
  openmetadata-service/src/main/resources/json/data/document/activityFeed.json
  openmetadata-service/src/main/resources/json/data/document/announcements.json
  openmetadata-service/src/main/resources/json/data/document/following.json
  openmetadata-service/src/main/resources/json/data/document/kpi.json
  openmetadata-service/src/main/resources/json/data/document/myData.json
  openmetadata-service/src/main/resources/json/data/document/recentlyViewed.json
  openmetadata-service/src/main/resources/json/data/document/totalAssets.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
Labels: backend, safe to test

#13338 Fixes #13052: Datalake Nested Columns Sample Data ingestion
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/metrics/static/sum.py
  ingestion/src/metadata/profiler/metrics/static/unique_count.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/processor/sampler/pandas/sampler.py
  ingestion/src/metadata/readers/dataframe/json.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/topology/database/test_couchbase.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/database/test_mongodb.py
Labels: Ingestion, safe to test

#13480 Make tests to run mvn clean package
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
Labels: backend, devops, safe to test

#13479 Upgrade search versions
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchDailyActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchUnusedAssetsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchDailyActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchUnusedAssetsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-shaded-deps/elasticsearch-dep/.gitignore
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/.gitignore
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  pom.xml
Labels: backend, devops, safe to test

#13484 Modify pytest timeout from 30 to 40 mins
  .github/workflows/py-tests.yml
Labels: Ingestion, devops, safe to test

#13471 Fix #7272 - BaseWorkflow docs and cleanup
  ingestion/src/metadata/cli/insight.py
  ingestion/src/metadata/data_insight/processor/reports/data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/web_analytic_report_data_processor.py
  ingestion/src/metadata/ingestion/api/processor.py
  ingestion/src/metadata/ingestion/api/sink.py
  ingestion/src/metadata/ingestion/api/stage.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/utils/importer.py
  ingestion/src/metadata/workflow/README.md
  ingestion/src/metadata/workflow/workflow_output_handler.py
  ingestion/tests/cli_e2e/base/test_cli_dashboard.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/base/test_cli_dbt.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
  openmetadata-docs/images/readme/ingestion/base-workflow.steps.drawio.png
  openmetadata-docs/images/readme/ingestion/base-workflow.workflow.drawio.png
Labels: documentation, Ingestion, safe to test

#13487 metadata CLI accepts tilde for relative paths
  ingestion/src/metadata/cli/backup.py
  ingestion/src/metadata/cli/dataquality.py
  ingestion/src/metadata/cli/ingest.py
  ingestion/src/metadata/cli/insight.py
  ingestion/src/metadata/cli/lineage.py
  ingestion/src/metadata/cli/profile.py
  ingestion/src/metadata/cli/usage.py
  ingestion/src/metadata/cmd.py
  openmetadata-docs/content/v1.1.x/connectors/pipeline/airflow/mwaa.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/pipeline/airflow/mwaa.md
Labels: documentation, Ingestion, safe to test

#13488 Fix Github Actions, Timeout
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-tests.yml
  docker/run_local_docker.sh
Labels: Ingestion, devops, safe to test, hacktoberfest-accepted

#13492 fix(CI): Postgresql Docker Compose Services Dependency
  docker/development/docker-compose-postgres.yml
Labels: devops, safe to test

#13464 Fix #12082 - Bump PyAthena version
  ingestion/examples/airflow/dags/airflow_metadata_to_es.py
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
  ingestion/src/metadata/pii/processor.py
Labels: Ingestion, safe to test

#13501 Register Ingestion pipelines just from YAML
  conf/openmetadata.yaml
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/utils/class_helper.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/workflow_status_mixin.py
  ingestion/tests/unit/test_ometa_endpoints.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJobHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
Labels: Ingestion, backend, safe to test

#13498 fix: updated DI cost analysis aggregated report
  ingestion/examples/sample_data/data_insights/data_insights.json
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/AggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/AggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/resources/json/data/dataInsight/aggregatedUnusedAssetsCount.json
  openmetadata-service/src/main/resources/json/data/dataInsight/aggregatedUnusedAssetsSize.json
  openmetadata-service/src/main/resources/json/data/dataInsight/aggregatedUsedvsUnusedAssetsCount.json
  openmetadata-service/src/main/resources/json/data/dataInsight/aggregatedUsedvsUnusedAssetsSize.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/aggregatedUnusedAssetsCount.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/type/aggregatedUnusedAssetsSize.json
Labels: Ingestion, backend, safe to test, data insight

#13318 Build Applications Automations
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AppUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/OmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/ReportsHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppMarketPlaceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/Reindex.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ReIndexingHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ResultList.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexEvent.java
  openmetadata-service/src/main/resources/json/data/app/DataInsightsApplication.json
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataInsightsApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/policy/ApplicationBotPolicy.json
  openmetadata-service/src/main/resources/json/data/role/ApplicationBotRole.json
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/AppRuntime.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appRunRecord.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/dataInsightsApp.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/searchIndexingApp.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/createAppRequest.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/jobStatus.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/liveExecutionContext.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/scheduledExecutionContext.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/applicationPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-spec/src/main/resources/json/schema/type/paging.json
Labels: UI, backend, safe to test

#13503 [Snyk] Upgrade @azure/msal-react from 1.3.0 to 1.5.11
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#13497 Fix hive e2e test count
  ingestion/tests/cli_e2e/test_cli_hive.py
Labels: Ingestion, safe to test

#13506 Remove ES reindexing files from UI
  openmetadata-ui/src/main/resources/ui/src/components/TriggerReIndexing/TriggerReIndexing.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Ingestions.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.tsx
Labels: UI, backend, safe to test

#13504 [Snyk] Upgrade @okta/okta-auth-js from 6.4.0 to 6.9.0
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#13489 Enable pymssql python library
  ingestion/setup.py
Labels: Ingestion, safe to test

#13508 Point Reindex request to new Applications api
  docker/run_local_docker.sh
Labels: backend, safe to test

#13362 chore(ui): block editor improvement part2
  openmetadata-ui/src/main/resources/ui/src/assets/img/ic-format-hashtag.png
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BubbleMenu/BubbleMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/hashtag/HashList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/mention/MentionList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slashCommand/items.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/constants/BlockEditor.constants.ts
Labels: UI, safe to test

#13510 fix(ui): assets path in editor command items
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slashCommand/items.ts
Labels: UI, safe to test

#13512 Created Uber Jar for openmetada-service
  openmetadata-service/pom.xml
Labels: backend, safe to test

#13509 Data insights Docs
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-insights/data-culture.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-insights/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-insights/ingestion.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-insights/kpi.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-insights/report.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-insights/tiering.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/images/v1.1/how-to-guides/insights/daup.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/di1.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/di2.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/di3.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/di4.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/insights1.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/insights2.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/kpi.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/kpi1.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/kpi2.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/kpi3.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/mau.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/mvda.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/ohg.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/ohg2.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/pdad.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/pdao.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/pvda.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/tda.png
  openmetadata-docs/images/v1.1/how-to-guides/insights/tdat.png
Labels: documentation, safe to test

#13496 Custom Property Backend Support and list approved glossary terms
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/topic_index_mapping.json
Labels: backend, safe to test

#13511 - Add Latest App Run Endpoint
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: backend, safe to test

#13466 fix(ui): breaking schema page due to encoding failure
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchIndexVersion/SearchIndexVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchIndexVersion/SearchIndexVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/StoredProcedureVersion/StoredProcedureVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/StoredProcedureVersion/StoredProcedureVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/ContainerVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/PipelineVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/StoredProcedureVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TableVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TopicVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseVersionPage/DatabaseVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#13516 Remove Shade Plugin causing transitive deps failure
  openmetadata-service/pom.xml
Labels: backend, safe to test

#13505 Fixes #12298 - Update report data type to camel case
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  docker/development/docker-compose-postgres.yml
  ingestion/examples/sample_data/data_insights/data_insights.json
  ingestion/src/metadata/data_insight/processor/reports/cost_analysis_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/web_analytic_report_data_processor.py
  ingestion/src/metadata/data_insight/producer/producer_factory.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  ingestion/tests/unit/data_insight/test_web_analytic_report_processor.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-spec/src/main/resources/json/schema/analytics/reportData.json
Labels: Ingestion, backend, devops, safe to test

#13527 fix(CI): Enable workflow_dispatch for PyTests
  .github/workflows/py-tests.yml
Labels: devops, safe to test

#13524 chore(ui): add prepareType prop support in manage button component
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
Labels: UI, safe to test, hacktoberfest-accepted

#13520 fix(ui): disable sorting on user selection
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
Labels: UI, safe to test

#13525 chore(ui): focus editor when wrapper area is captured
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
Labels: UI, safe to test

#13523 fix(ui): excluded unsupported service on listing
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StorageServiceUtils.ts
Labels: UI, safe to test

#13531 Move copy method to create entity from createEntity request to Entity…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/StoredProcedureResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datainsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/docstore/DocStoreResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/kpi/KpiResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/searchindex/SearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/searchIndexes/SearchServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/PersonaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
Labels: backend, safe to test

#13537 Make domain optional for data product
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDataProduct.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/dataProduct.json
Labels: backend, safe to test

#13467 dbt fixed null sql updates and source descriptions
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, backend, safe to test

#13529 Fix mysql E2E test count
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#13540 chore(ui): add extra checks for popups in block editor
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/hashtag/hashtagSuggestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/mention/mentionSuggestions.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slashCommand/renderItems.ts
Labels: UI, safe to test

#13193 ui: clean-up in data insight page
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dollar-bag.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/AppAnalyticsTab/AppAnalyticsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataAssetsTab/DataAssetsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataAssetsTab/DataAssetsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/DataInsight.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightLeftPanel/DataInsightLeftPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightLeftPanel/DataInsightLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/searchAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: hacktoberfest, UI, safe to test

#13541 Fix extensions migrations path
  bootstrap/bootstrap_storage.sh
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Labels: backend, safe to test

#13538 Do not run sonar by default
  pom.xml
Labels: backend, safe to test

#13546 fix(CI): Python Tests
  .github/workflows/py-tests.yml
Labels: devops, safe to test

#13485 Add Glossary Migration
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v120/MigrationUtil.java
Labels: backend, safe to test

#13550 Remove jdbi unit of work
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DocumentRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PersonaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestConnectionDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiTransactionManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkApplicationEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/LinkedRequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/ManagedHandleInvocationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/NonHttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/RequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
Labels: backend, safe to test

#13552 Fix credentials issue elastic search
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Labels: backend, safe to test

#13544 Application UI part2
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataInsightsApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/SearchIndexingApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/application.svg
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/app-details.less
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#13532 Disable tags when the classification is disabled
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
Labels: backend, safe to test

#13507 fixed ES Indexing for very large S3 Storage Service buckets fails
  ingestion/examples/sample_data/storage/containers.json
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/container_index_mapping.json
Labels: Ingestion, backend, safe to test

#13558 remove log from initializeRepositories
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
Labels: backend, safe to test

#13548 chore(ui): add base class for left sidebar
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LeftSidebarClassBase.ts
Labels: UI, safe to test

#13560 fix: revert compose changes
  docker/development/docker-compose.yml
Labels: Ingestion, devops, safe to test

#13294 feat(ui): support table partitioned details
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/PartitionedKeys/PartitionedKeys.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#13561 fix: pass rnd table bound columns to sample query
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
Labels: Ingestion, profiler, safe to test

#13545 Maven-sonarcloud ci
  .github/workflows/maven-sonar-build.yml
Labels: devops

#13483 [Snyk] Upgrade reactflow from 11.1.1 to 11.8.3
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, Ingestion, safe to test

#13559 feat: add custom property filter in advanced search modal
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/advanced-search-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/exlore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperties/CustomProperty.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, safe to test

#13528 Fix Nifi test connection
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
Labels: Ingestion, safe to test

#13567 chore(ui): changed the variables file import to a relative path
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/tag-select-fom.style.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
Labels: UI, safe to test

#13565 fix(ui): disabled logs on running state and minor fixes
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
Labels: UI, safe to test

#13539 Nested columns search fix
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_data_model_index.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/topic_index_mapping.json
Labels: backend, safe to test

#13557 chore(ui): customize landing page improvements
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/AddWidgetModal/AddWidgetModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/AddWidgetModal/AddWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/AddWidgetModal/AddWidgetTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/right-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/CustomizePage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePageClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#13570 chore(ui): add support for custom messages and options in delete widget modal
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
Labels: UI, safe to test

#13568 ui: fixed broken tour feature
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/GlossaryImportResult.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/TourEndModal/TourEndModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tour/Tour.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Glossary.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
Labels: UI, safe to test

#13569 Add services index to all alias
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
Labels: backend, safe to test

#13547 fix cypress failures
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/Draggable/DraggableBodyRow.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Labels: UI, backend, safe to test

#13522 fix(ui): ui feedbacks for 1.2 release
  openmetadata-service/src/main/resources/json/data/tests/columnValueMaxToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMeanToBeBetween.json
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/notification-box.less
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/nav-bar.less
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/button.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, backend, safe to test

#13542 fix(ui): revamp asset filtering style
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-model.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#13518 Prepare migration context
  openmetadata-service/src/main/java/org/openmetadata/service/migration/README.md
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcess.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcessImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/CommonMigrationOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationWorkflowContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v120/Migration.java
  openmetadata-service/src/main/resources/logback.xml
Labels: Ingestion, backend, safe to test

#13577 fix(ui): fqn encoding issue on customizable landing page
  openmetadata-ui/src/main/resources/ui/src/assets/img/kpi-small.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/total-assets-medium.png
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/DocStoreAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePageClassBase.ts
Labels: UI, safe to test

#13576 fix(ui): asset service icon, support some search index value, and fix ingestion encoded issue
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#13586 Fix glossary highlighter
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
Labels: backend, safe to test

#13583 Added missing search things
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_data_model_index.json
  openmetadata-service/src/main/resources/elasticsearch/jp/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/stored_procedure_index_mapping.json
Labels: backend, safe to test

#13573 move services tests to service folder
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/Following.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/Airflow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/MlFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/S3Storage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/superset.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test

#13582 ui: importing brand logo with classBase approach
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BrandImage/BrandImageClassBase.ts
Labels: UI, safe to test

#13588 ui: fixed glossary badge feedback
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/tags-container.style.less
Labels: UI, safe to test

#13592 docs: run bootstrap from correct folder
  openmetadata-docs/content/v1.2.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Labels: documentation

#13593 docs: update java version in contribution docs
  openmetadata-docs/content/v1.2.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/prerequisites.md
Labels: documentation

#13596 Fixes #13595 Consolidate changes by a user in a single session to a s…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
Labels: backend, safe to test

#13591 chore(ui): update block editor extension to show correct data
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/hashtag/hashtagSuggestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/mention/mentionSuggestions.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slashCommand/renderItems.ts
Labels: UI, safe to test

#13587 Fix incorrect ingestion pipeline duration
  ingestion/src/metadata/ingestion/api/status.py
Labels: Ingestion, safe to test

#13600 fix(ci): Run Cypress CI on Main Branch Only
  .github/workflows/cypress-integration-tests-mysql-skip.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql-skip.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#13578 Data products explore tab
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-feeds-filter.svg
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/data-products-details-page.less
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsPage/DataProductsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DataProductSummary/DataProductSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/exlore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/feeds-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedsFilterPopover/FeedsFilterPopover.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test

#13589 LifeCycle Usage Workflow: query type value fixes
  ingestion/src/metadata/ingestion/api/step.py
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/utils/life_cycle_utils.py
Labels: Ingestion, safe to test

#13612 fix(ui): revamp lineage edge layout
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AppPipelineModel/AddPipeLineModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AppPipelineModel/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AppPipelineModel/add-pipeline-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#13605 fix(ui): removed the persona settings option for non-admin users
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#13619 upgrade java version in openmetadata-clients pom
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
Labels: backend, safe to test

#13620 Fix #13555: Long column names considered repeated
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
Labels: Ingestion, backend, safe to test

#13625 fix(CI): Maven Central Publish Command
  .github/workflows/publish-maven-package.yml
Labels: devops, safe to test

#13621 data quality articles
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-insights/data-culture.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-quality-profiler/alerts.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-quality-profiler/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-quality-profiler/tab.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-quality-profiler/test.md
  openmetadata-docs/content/v1.1.x/how-to-guides/user-guide-data-stewards/overview-data-assets/tabs.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/images/v1.1/how-to-guides/quality/alert1.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/alert2.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/cp.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/cp1.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/da.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dc.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dd.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dp.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dq.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dq1.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dq2.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dr.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/dv.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/quality1.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test1.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test10.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test11.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test2.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test3.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test4.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test5.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test6.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test7.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test8.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/test9.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/tp.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/tu.png
  openmetadata-docs/images/v1.1/how-to-guides/quality/vc.png
Labels: documentation, safe to test

#13627 Fixed init of status class pydantic model
  ingestion/src/metadata/ingestion/api/status.py
Labels: Ingestion, safe to test

#13631 Fix DQ Workflow
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/data_quality.py
  ingestion/src/metadata/workflow/workflow_status_mixin.py
Labels: Ingestion, safe to test

#13563 Add E2E - Oracle, Athena. Remove Duplicated code
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/src/metadata/ingestion/source/database/azuresql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/utils/sqa_utils.py
  ingestion/tests/cli_e2e/database/bigquery/bigquery.yaml
  ingestion/tests/cli_e2e/database/bigquery_multiple_project/bigquery_multiple_project.yaml
  ingestion/tests/cli_e2e/database/oracle/oracle.yaml
  ingestion/tests/cli_e2e/test_cli_athena.py
  ingestion/tests/cli_e2e/test_cli_bigquery_multiple_project.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
Labels: Ingestion, devops, safe to test

#13635 fix(CI): Cypress CI Runs group name scoping to CI
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#13634 fixed a minor fix in opensearch
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#13637 fix(CI): Cypress CI enable parallelization
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops

#13633 fix: links in quill mentions
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QuillLink/QuillLink.ts
Labels: UI, safe to test

#13640 Fix Hive Bytes issue, add athena yaml, fix bigquerymultiple project id token issue
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/setup.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/tests/cli_e2e/database/athena/athena.yaml
  ingestion/tests/cli_e2e/database/bigquery_multiple_project/bigquery_multiple_project.yaml
Labels: Ingestion, devops, safe to test

#13606 chore(ui): refactored landing page layout
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.less
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/RecentlyViewed/RecentlyViewed.less
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/RecentlyViewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/CustomizablePage.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPageSettings/CustomPageSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePageClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#13642 Fix source url look due to index alias issue
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
Labels: backend, safe to test

#13623 cypress: fixed failing cypress in main (part-1)
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/service.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Applications/ApplicationCard/ApplicationCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
Labels: UI, safe to test

#13626 Remove duplicates from entity_extension_time_series and add the const…
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  ingestion/src/airflow_provider_openmetadata/lineage/status.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/utils/time_utils.py
  ingestion/tests/integration/data_insight/test_web_analytic_events.py
Labels: Ingestion, safe to test

#13648 Fix E2E failures
  ingestion/tests/cli_e2e/database/athena/athena.yaml
  ingestion/tests/cli_e2e/test_cli_hive.py
Labels: Ingestion, safe to test

#13647 fix: limit fields to only required ones
  ingestion/src/metadata/data_insight/source/metadata.py
Labels: Ingestion, safe to test, data insight
