Repository open-metadata/OpenMetadata, pull requests merged in 2023-04, with the labels that each got.

#10836 Fix #10814: Improve parsing logic for union fields in topic
  ingestion/src/metadata/parsers/avro_parser.py
  ingestion/tests/unit/test_avro_parser.py
  ingestion/tests/unit/topology/database/test_datalake.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-spec/src/main/resources/json/schema/type/schema.json
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
Labels: Ingestion, safe to test

#10880 Fixes #10711 Cannot assign a policy to a team with a soft-deleted user
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#10881 Fixes #10241 - Include Status, Owner and Reviewer in Bulk Glossary Up…
  openmetadata-service/src/main/java/org/openmetadata/csv/CsvUtil.java
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/resources/json/data/glossary/glossaryCsvDocumentation.json
  openmetadata-service/src/test/java/org/openmetadata/csv/EntityCsvTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
Labels: backend, safe to test

#10832 ✨feat(ui): Add click event web analytic
  openmetadata-ui/src/main/resources/ui/src/components/WebAnalytics/WebAnalytics.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/router/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/WebAnalyticsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
Labels: UI, safe to test

#10879 Fix #10320: Add Athena Usage & Lineage
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/examples/workflows/athena_lineage.yaml
  ingestion/src/metadata/examples/workflows/athena_usage.yaml
  ingestion/src/metadata/ingestion/source/database/athena/lineage.py
  ingestion/src/metadata/ingestion/source/database/athena/models.py
  ingestion/src/metadata/ingestion/source/database/athena/query_parser.py
  ingestion/src/metadata/ingestion/source/database/athena/usage.py
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks/usage.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/constants.py
  openmetadata-docs/content/connectors/database/athena/airflow.md
  openmetadata-docs/content/connectors/database/athena/cli.md
  openmetadata-docs/content/connectors/database/athena/index.md
  openmetadata-docs/content/connectors/ingestion/lineage/index.md
  openmetadata-docs/content/connectors/ingestion/workflows/usage/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/athenaConnection.json
Labels: Ingestion, safe to test

#10894 Update: openmetadata-sqllineage dependency
  ingestion/setup.py
Labels: Ingestion, safe to test

#10694 Fix #8726 - Add permission to data insight
  ingestion/src/metadata/ingestion/ometa/mixins/data_insight_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/events/WebAnalyticEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ReportDataContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dataInsight/DataInsightChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dataInsight/DataInsightResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Collect.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/KPIMock.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/WebAnalyticsAPI.ts
Labels: Ingestion, backend, safe to test, data insight, Backward-Incompatible-Change

#10872 Data model entity added for Tableau
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, safe to test

#10893 fix: broken lineage link on tour page
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Labels: UI, safe to test

#10914 Ingestion pipeline by service type task
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatasourceConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Labels: safe to test

#10910 Added non admin apis support for PowerBI
  ingestion/src/metadata/examples/workflows/powerbi.yaml
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  openmetadata-docs/content/connectors/dashboard/powerbi/airflow.md
  openmetadata-docs/content/connectors/dashboard/powerbi/cli.md
  openmetadata-docs/content/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/connectors/dashboard/powerbi/setup-powerbi-account.md
  openmetadata-docs/images/openmetadata/connectors/powerbi/service-connection.png
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/powerBIConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/PowerBI/fields/useAdminApis.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/PowerBI/requirements.md
Labels: Ingestion, safe to test

#10862 fix(ui):test connection should be disabled is airflow is not present
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
Labels: UI, safe to test

#10908 Fixes #10907 Parent glossary term should not be allowed moved under i…
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FullyQualifiedName.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/FullyQualifiedNameTest.java
Labels: backend, safe to test

#10897 Test Connection Improvements: Use patch instead of put
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin_utils.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
Labels: Ingestion, safe to test

#10922 Fix roadmap dates and features
  openmetadata-docs/content/overview/roadmap/index.md
Labels: backend, safe to test

#10920 added migration scripts for druid and postgres docs update
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-docs/content/connectors/database/postgres/airflow.md
  openmetadata-docs/content/connectors/database/postgres/cli.md
  openmetadata-docs/content/connectors/database/postgres/index.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Postgres/requirements.md
Labels: Ingestion, safe to test

#10891 upgraded cypress to v12.9.0 and fixed service connection cypress
  ingestion/src/metadata/ingestion/models/es_documents.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#10906 Handle Email From UI
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Labels: backend, safe to test

#10783 fix(ui): entity selection for es re-indexing
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexFactory.java
  openmetadata-ui/src/main/resources/ui/src/assets/svg/close-circle-outlined.svg
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#10654 fix(ui): show system badge for system tags
  openmetadata-ui/src/main/resources/ui/src/assets/svg/closed-lock.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/Badge/Badge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Badge/Badge.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Badge/badge.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/tags.mock.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#10766 Fixes #7044 Handle database filter in ingestion pipeline when connection specifies a database from UI side #7044
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/filterPattern.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#10885 chore(ui): Show error message if test definition API fails
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#10919 Fix #10896: Fix snappy coded issue
  ingestion/setup.py
Labels: Ingestion, safe to test

#10929 solved url isse when space is involed in fqn
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
Labels: safe to test

#10913 Test Connection Improvements: Short Circuit Test Connection & Improve Error Messages
  ingestion/src/metadata/ingestion/connections/test_connections.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/domodashboard.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/looker.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/metabase.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/mode.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/powerbi.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/quicksight.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/redash.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/superset.json
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/tableau.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/athena.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/azuresql.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/bigquery.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/clickhouse.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/databricks.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/datalake.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/db2.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/deltalake.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/domodatabase.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/druid.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/dynamodb.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/glue.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/hive.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/mariadb.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/mssql.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/mysql.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/oracle.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/pinotdb.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/postgres.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/presto.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/redshift.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/salesforce.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/singlestore.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/snowflake.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/sqlite.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/trino.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/vertica.json
  openmetadata-service/src/main/resources/json/data/testConnections/messaging/kafka.json
  openmetadata-service/src/main/resources/json/data/testConnections/messaging/kinesis.json
  openmetadata-service/src/main/resources/json/data/testConnections/messaging/redpanda.json
  openmetadata-service/src/main/resources/json/data/testConnections/metadata/amundsen.json
  openmetadata-service/src/main/resources/json/data/testConnections/metadata/atlas.json
  openmetadata-service/src/main/resources/json/data/testConnections/mlmodel/mlflow.json
  openmetadata-service/src/main/resources/json/data/testConnections/mlmodel/sagemaker.json
  openmetadata-service/src/main/resources/json/data/testConnections/objectstore/s3.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/airbyte.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/airflow.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/dagster.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/databrickspipeline.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/domopipeline.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/fivetran.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/gluepipeline.json
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/nifi.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/testConnectionDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/testConnectionResult.json
Labels: Ingestion, safe to test

#10934 adding timeout option for Dagster and Amundsen changes
  ingestion/src/metadata/ingestion/source/metadata/amundsen/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dagsterConnection.json
Labels: Ingestion, safe to test

#10785 Fixes #10612 : Change error message for already exist entity
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#10939 Fixing the cypress-test path
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: safe to test

#10909 Fix #10904, Glossary Search: no Matches info for Synonyms
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
Labels: backend, safe to test

#10942 fix(CI): Run Cypress on main branch with all changes except docs
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#10809 Fix #10808: Add configuration to enable HSTS, X-Frame-Options, X-Cont…
  conf/openmetadata.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  pom.xml
Labels: backend, safe to test

#10937 cypress: fix flaky cypress test from main
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
Labels: UI, safe to test

#10915 Fixes #10911 - Improve Data Insight Logging
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/src/metadata/data_insight/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/utils/workflow_output_handler.py
Labels: Ingestion, safe to test, data insight

#10940 Fix #10729 - Set catalog for databrick DQ and Profiler
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/sqa_profiler_interface.py
Labels: Ingestion, data quality, profiler, safe to test

#10932 fix(#10905):API documentation does not show bullets from Markdown
  openmetadata-ui/src/main/resources/ui/public/swagger.html
  openmetadata-ui/src/main/resources/ui/src/pages/swagger/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/swagger/swagger.less
Labels: UI, safe to test

#10928 Fixes #10924 - Trim the redundant permissions in the permission list
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/permissions/PermissionsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
Labels: Ready for testing, safe to test

#10873 Rel #10828 - Update container index and fix airflow ingestion
  ingestion/src/metadata/ingestion/models/es_documents.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/container_search_index_mapping.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
Labels: Ingestion, safe to test

#10948 fixes for Reindex
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SinkException.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SourceException.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/interfaces/Sink.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/interfaces/Source.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/EsDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/EsSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
Labels: backend, safe to test

#10923 Fix#10584: Add lineage for Tableau data models
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/models/topology.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/__init__.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Labels: Ingestion, safe to test

#10931 feat #10584 : Supported DataModel in Dashboard Page
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelsInterface.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataModelsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataModelsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#10899 fix 10685: test suite related bug fixes and improvements
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
Labels: UI, safe to test

#10938 Feat #10584 : Support SQL tab in Data Model Entity
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
Labels: UI, safe to test

#10861 Fixes #10828 : Change object label and added container filter pattern in Metadata
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/filterPattern.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#10953 cypress: fix failing cypress test
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
Labels: UI, safe to test

#10936 Feat #10584: Support Lineage for DataModel Entity
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-model.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#10876 fixes #10755: Changed description change method for service connections from 'Put' to 'PATCH'
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#10870 Add ingestionIpInfoEnabled configuration
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Labels: Ingestion, safe to test

#10767 Fixes : #8732 Support displayName field in at Tags
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/editName.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Tags.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/tags/Form.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/Form.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsPageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Labels: UI, safe to test

#10944 Fixed Issue #10943: Impala query engine metadata ingestion and median function profiler
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/orm/functions/median.py
Labels: safe to test

#10799 fix: user selectable list popover issues
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/UserSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/user-select-dropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/user-team-selectable-list.less
Labels: UI, safe to test

#10838 [WIP] Fixes #10721: created client file for metabase and moved get request to client file
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
Labels: safe to test

#10866 [WIP] - Fixes #10725 - Fix extension in ingestion pipeline and delete statuses api
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
Labels: Ingestion, safe to test

#10963 Update python sdk client connection details
  openmetadata-docs/content/sdk/python/index.md
Labels: backend, safe to test

#10960 Fixes 10959: MSSQL profile has error when averaging large integer column
  ingestion/src/metadata/profiler/metrics/static/mean.py
Labels: safe to test

#10941 Feat #10584 : Support Activity tab for DataModel Entity
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataModelsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataModelsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#10946 fix(ui): API endpoints to fetch elastic search data on settings page.
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ReIndexingHandler.java
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.css
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.tsx
Labels: UI, safe to test

#10968 fix: add rollback logic to custom sql query to exit out of transaction
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableCustomSQLQuery.py
Labels: Ingestion, safe to test

#10868 fixes: #10604: json viewer not loading properly
  openmetadata-ui/src/main/resources/ui/.eslintrc.yaml
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/SchemaModal/SchemaModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/RowData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/schema-editor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#10823 fix(ui): glossary improvements
  openmetadata-ui/src/main/resources/ui/src/assets/svg/edit-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/external-links.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/folder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-arrow-down.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-arrow-right.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-flat-doc.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-up-down-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/plus-outlined.svg
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeaderButtons/GlossaryHeaderButtons.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTabs/GlossaryTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDisplayNameModal/EntityDisplayNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagButton/TagButton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/UserSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryRightPanel/GlossaryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#10966 feat(ui): glossary versions page
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeaderButtons/GlossaryHeaderButtons.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTabs/GlossaryTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryVersion/GlossaryVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#10947 ui: move queries from ES to REST API
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryFilters/QueryFilters.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Query.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Query/QueryUtils.ts
Labels: UI, safe to test

#10961 fixes App Analytics summary not adjusting to the datetime [UI] #10571
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#10971 Add Stop Functionality For Reindex
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ReIndexingHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.tsx
Labels: backend, safe to test

#10976 Issue 10975 - fix workflow break at none
  ingestion/src/metadata/data_quality/validations/table/base/tableRowInsertedCountToBeBetween.py
  ingestion/src/metadata/ingestion/connections/test_connections.py
Labels: bug, Ingestion, safe to test

#10956 Fix #10273: Parse nested json for datalake
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/datalake/utils.py
  ingestion/tests/unit/topology/database/test_datalake.py
Labels: Ingestion, safe to test

#10957 Fix #10858: Fix dashbaord & pipeline url
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/nifi/metadata.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
  ingestion/tests/unit/topology/pipeline/test_airbyte.py
  ingestion/tests/unit/topology/pipeline/test_nifi.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
Labels: Ingestion, safe to test

#10977 Fixed dbt logging
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/dbt_config.py
  ingestion/tests/unit/test_dbt.py
Labels: Ingestion, safe to test

#10981 Avoid ES Bulk Calls for not requests
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
Labels: backend, safe to test

#10980 Fixes 10821: Issue with dash and underscore in trino fixed
  ingestion/src/metadata/ingestion/source/database/trino/metadata.py
Labels: Ingestion, safe to test

#10958 fix(ui): fixed flaky cypress test for TeamsHierarchy spec
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
Labels: UI, safe to test

#10987 fix(ui): upgrade cy machine to 3
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: UI, safe to test

#10986 Add ES locale missing translations
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
Labels: Ingestion, safe to test

#10945 Rel to #10927 - Looker DataModel
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/columns.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/models.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/parser.py
  ingestion/src/metadata/readers/__init__.py
  ingestion/src/metadata/readers/base.py
  ingestion/src/metadata/readers/github.py
  ingestion/src/metadata/readers/local.py
  ingestion/tests/unit/resources/lkml/cats.explore.lkml
  ingestion/tests/unit/resources/lkml/kittens.explore.lkml
  ingestion/tests/unit/resources/lkml/views/cats.view.lkml
  ingestion/tests/unit/resources/lkml/views/dogs.view.lkml
  ingestion/tests/unit/resources/lkml/views/kittens.view.lkml
  ingestion/tests/unit/topology/dashboard/test_looker.py
  ingestion/tests/unit/topology/dashboard/test_looker_lkml_parser.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/lookerConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/githubCredentials.json
Labels: Ingestion, safe to test

#10985 Doc update for Data-insight
  openmetadata-docs/content/openmetadata/data-insight/index.md
Labels: Ingestion, safe to test

#10997 fix#10859: permission issue in test suite details page
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
Labels: UI, safe to test

#10988 chore(ui) #10886 : Add version page for container
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/objectStoreAPI.ts
Labels: UI, safe to test

#10995 Use metabase models in client
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/client.py
  ingestion/src/metadata/utils/constants.py
Labels: Ingestion, safe to test

#11014 Fix test usage resources
  ingestion/tests/unit/test_suite/test_validations_datalake.py
Labels: Ingestion, safe to test

#10962 Fixes #6340: Implement Median support for MySQL
  ingestion/src/metadata/profiler/orm/functions/median.py
Labels: profiler, safe to test

#10992 Remove space before : in before update activity feed message
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Labels: backend, safe to test

#11018 Fixes 8264: add docs around adding taxonomy project id
  ingestion/src/metadata/examples/workflows/bigquery.yaml
  openmetadata-docs/content/connectors/database/bigquery/airflow.md
  openmetadata-docs/content/connectors/database/bigquery/cli.md
  openmetadata-docs/content/connectors/database/bigquery/index.md
Labels: Ingestion, safe to test

#11005 Fix #10999: Add support for materialised views in oracle
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
Labels: Ingestion, safe to test

#11016 Added enum for ssl and auth in redshift, postgres and hive
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/ssl/validateSSLClientConfig.json
Labels: Ingestion, safe to test

#11000 fix: glossary route path for add term
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/edit-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-down-up-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-up-down-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeaderButtons/GlossaryHeaderButtons.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermReferencesModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryVersion/GlossaryVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagButton/TagButton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
Labels: UI, safe to test

#10998 Added logic for cleaning up schemas
  ingestion/src/metadata/ingestion/models/delete_entity.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/databaseAPI.ts
Labels: Ingestion, safe to test

#11008 Fix#10584: Add filters for data models
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
  ingestion/src/metadata/utils/filters.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/filterPattern.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: Ingestion, safe to test

#10996 cypress: fixed flaky cypress of main branch
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
Labels: UI, safe to test

#10898 fix 10883: quick filter dropdown improvements and bug fixes
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/advancedSearchQuickFilters.constants.js
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/AdvancedSearchUtils.mock.ts
Labels: UI, safe to test

#11013 Update dependencies for 1.0 release
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#11026 Handle container parents
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/ingestion/source/storage/s3/models.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/tests/unit/topology/storage/test_storage.py
Labels: Ingestion, safe to test

#11022 fix 11021: remove repeating item title
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcsValues.json
Labels: Ingestion, safe to test

#11031 Fix Failing migrations
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
Labels: backend, safe to test

#11019 Looker - Update GitHub creds for UI form
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/utils/filters.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/lookerConnection.json
Labels: Ingestion, safe to test

#10917 fixes: Improve search functionality for teams page #10653
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
Labels: UI, safe to test

#11040 Fix E2E for Mysql
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#11028 Fix 9399: issue with validating profile sample input for percentage to be between 0 and 100
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Labels: Ingestion, safe to test

#11045 Data insights with metadata command-line
  ingestion/src/metadata/cli/insight.py
  ingestion/src/metadata/cmd.py
  ingestion/src/metadata/examples/workflows/data_insight.yaml
  ingestion/src/metadata/utils/workflow_output_handler.py
  openmetadata-docs/content/openmetadata/data-insight/index.md
Labels: Ingestion, safe to test

#11050 Update latest-release.md
  openmetadata-docs/content/overview/releases/index.md
  openmetadata-docs/content/overview/releases/latest-release.md
Labels: backend, safe to test

#11033 fix UI: Confusing data about query on table details page. #8303
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryCount/QueryCount.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryCount/QueryCount.test.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#11047 Add Looker Sample Data
  ingestion/examples/sample_data/looker/charts.json
  ingestion/examples/sample_data/looker/dashboardDataModels.json
  ingestion/examples/sample_data/looker/dashboards.json
  ingestion/examples/sample_data/looker/service.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#11030 Add location migration queries
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
Labels: Ingestion, safe to test

#10990 fix(ui):Popover should be on the right side
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
Labels: UI, safe to test

#10978 ui: integrated add query flow
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/tableProfiler.less
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCardExtraOption/QueryCardExtraOption.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCardExtraOption/QueryCardExtraOption.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCardExtraOption/QueryCardExtraOption.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryFilters/QueryFilters.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryFilters/QueryFilters.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/table-queries.style.less
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/QueryPage/QueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/queryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#11041 feat#10187: added functionality for selection of custom date range for the timestamp
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DropDown.svg
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatePickerMenuUtils.tsx
Labels: UI, safe to test

#11053 Fix: Minor bug introduced in #10914
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
Labels: Ingestion, safe to test

#5855 Added a installation manual (postgres demo)
  installation_deployment_postgres_demo.md
Labels: safe to test

#11027 fix: flaky cypress for glossary
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
Labels: UI, safe to test

#11055 Fixes #10543 : UI improvements and minor fixes
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EmailConfigForm/EmailConfigForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.less
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/auth.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/AddTestSuiteForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/reset-password/reset-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
Labels: UI, safe to test

#11044 Fix for issue leading to vulnerability flags + extras
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/IngestionPipelineUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/LdapUtil.java
  openmetadata-service/src/main/resources/json/data/metadataService/OpenmetadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
Labels: backend, safe to test

#11052 fix#10285: data quality UI improvments
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestCaseDetailsPage/TestCaseDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestCaseDetailsPage/TestCaseDetailsPage.style.less
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#10970 fix: rename tests endpoint to `dataQuality/<specificity>`
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  openmetadata-docs/content/connectors/ingestion/workflows/data-quality/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: Ingestion, safe to test, Backward-Incompatible-Change

#11010 chore(ui): text connection status modal improvements
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-warning.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.less
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/test-connection.style.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#11001 airflow support for higher versions
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/models.py
Labels: Ingestion, safe to test

#10921 feat(ui): new pagination with page number and page size
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Labels: UI, safe to test

#11065 Python Client - Catch ConnectionError to handle RemoteDisconnected
  ingestion/src/metadata/ingestion/ometa/client.py
Labels: Ingestion, safe to test

#11062 S3 Storage - Add partition columns details
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/tests/integration/ometa/test_ometa_storage_api.py
  ingestion/tests/unit/topology/storage/test_storage.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/containerMetadataConfig.json
Labels: Ingestion, safe to test

#11067 Doc: Update Kafka troubleshooting section
  ingestion/src/metadata/examples/workflows/kafka.yaml
  openmetadata-docs/content/connectors/messaging/kafka/troubleshooting.md
Labels: Ingestion, safe to test

#11072 1.0.0 beta bump version
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion-postgres.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: Ingestion, safe to test

#11061 Modal-feedback-non-mandat-step-fail
  openmetadata-ui/src/main/resources/ui/src/assets/svg/attention.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#11069 Fixes comments #10543: Change and redirect the DataModel url to it's page from Lineage panel
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/RolesAndPoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailsList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#11054 Fix#10584: Tableau E2E and docs
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/tests/cli_e2e/README.md
  ingestion/tests/cli_e2e/base/__init__.py
  ingestion/tests/cli_e2e/base/test_cli.py
  ingestion/tests/cli_e2e/base/test_cli_dashboard.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/base/test_cli_dbt.py
  ingestion/tests/cli_e2e/common/__init__.py
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/dashboard/tableau/redshift.yaml
  ingestion/tests/cli_e2e/dashboard/tableau/tableau.yaml
  ingestion/tests/cli_e2e/test_cli_bigquery.py
  ingestion/tests/cli_e2e/test_cli_dbt_redshift.py
  ingestion/tests/cli_e2e/test_cli_mssql.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
  ingestion/tests/cli_e2e/test_cli_tableau.py
  ingestion/tests/cli_e2e/test_cli_vertica.py
  openmetadata-docs/content/connectors/dashboard/domo-dashboard/airflow.md
  openmetadata-docs/content/connectors/dashboard/domo-dashboard/cli.md
  openmetadata-docs/content/connectors/dashboard/looker/airflow.md
  openmetadata-docs/content/connectors/dashboard/looker/cli.md
  openmetadata-docs/content/connectors/dashboard/metabase/airflow.md
  openmetadata-docs/content/connectors/dashboard/metabase/cli.md
  openmetadata-docs/content/connectors/dashboard/mode/airflow.md
  openmetadata-docs/content/connectors/dashboard/mode/cli.md
  openmetadata-docs/content/connectors/dashboard/powerbi/airflow.md
  openmetadata-docs/content/connectors/dashboard/powerbi/cli.md
  openmetadata-docs/content/connectors/dashboard/quicksight/airflow.md
  openmetadata-docs/content/connectors/dashboard/quicksight/cli.md
  openmetadata-docs/content/connectors/dashboard/redash/airflow.md
  openmetadata-docs/content/connectors/dashboard/redash/cli.md
  openmetadata-docs/content/connectors/dashboard/superset/airflow.md
  openmetadata-docs/content/connectors/dashboard/superset/cli.md
  openmetadata-docs/content/connectors/dashboard/tableau/airflow.md
  openmetadata-docs/content/connectors/dashboard/tableau/cli.md
Labels: Ingestion, safe to test

#11059 Fixes #9632 - Add Profiler Support for BQ Arrays of Structs
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/interface/profiler_protocol.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/sqa_profiler_interface.py
  ingestion/src/metadata/profiler/metrics/hybrid/histogram.py
  ingestion/src/metadata/profiler/metrics/static/unique_count.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/handle_partition.py
  ingestion/src/metadata/profiler/processor/runner.py
  ingestion/src/metadata/profiler/processor/sampler.py
  ingestion/src/metadata/profiler/sink/metadata_rest.py
  ingestion/src/metadata/utils/profiler_utils.py
  ingestion/src/metadata/utils/sqa_utils.py
  ingestion/tests/unit/profiler/test_converter.py
  ingestion/tests/unit/profiler/test_runner.py
  ingestion/tests/unit/profiler/test_sample.py
  ingestion/tests/unit/profiler/test_utils.py
  ingestion/tests/unit/resources/expected_output_column_parser.json
Labels: Ingestion, data quality, profiler, safe to test

#11074 Handle impala auth mechanism
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
Labels: Ingestion, safe to test

#11075 Fix Ingestion Top Level Imports
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/source/database/datalake/utils.py
Labels: Ingestion, safe to test

#10706 UI : Fix the dropdown issue in Activity feed
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Labels: UI, safe to test

#11079 Fix: Add Tableau E2E test missing env vars
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#11073 fixed glossary & service failing cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
Labels: UI, safe to test

#11071 Fixed tableau url
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
Labels: UI, Ingestion, safe to test

#11087 Fix postgres migrations & Update maven CI triggers
  .github/workflows/maven-build-skip.yml
  .github/workflows/maven-build.yml
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
Labels: Ingestion, safe to test

#11086 Changes for no columns and added owner for table
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/models.py
Labels: Ingestion, safe to test

#11090 fix: column retrieval for SNOWFLAKE
  ingestion/src/metadata/profiler/processor/handle_partition.py
  ingestion/src/metadata/profiler/processor/sampler.py
Labels: Ingestion, profiler, safe to test

#11051 K8 step update
  openmetadata-docs/content/deployment/kubernetes/eks.md
  openmetadata-docs/content/deployment/kubernetes/gke.md
  openmetadata-docs/content/deployment/kubernetes/on-prem.md
Labels: devops, safe to test

#11084 fix(ui): breadcrumb for details page
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
Labels: UI, safe to test

#11081 fix(ui) UI: Inconsistency in left panel #9431
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTermsAntd.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/card.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/menu.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#11082 Improve Redshift Query for Usage
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
Labels: Ingestion, safe to test

#11080 Ingestion: Metabase Unit Tests
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
  ingestion/tests/unit/topology/dashboard/test_domodashboard.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
  ingestion/tests/unit/topology/dashboard/test_quicksight.py
Labels: Ingestion, safe to test

#11099 Update roadmap release date
  openmetadata-docs/content/overview/roadmap/index.md
Labels: Ingestion, safe to test

#11091 Fix: Add Redash E2E test
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/tests/cli_e2e/dashboard/redash/redash.yaml
  ingestion/tests/cli_e2e/test_cli_redash.py
Labels: Ingestion, safe to test

#11096 Issue 10805 profiler e2e mssql
  ingestion/tests/cli_e2e/base/config_builders/__init__.py
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/base/e2e_types.py
  ingestion/tests/cli_e2e/base/test_cli.py
  ingestion/tests/cli_e2e/base/test_cli_dashboard.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_mssql.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Labels: Ingestion, E2E-testing, profiler, safe to test

#11092 Feat UI : UI Improvement
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/user.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/AddTestSuiteForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/account-activation-confirmation.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ToastUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/EntitySummaryPanelUtils.mock.tsx
Labels: UI, safe to test

#11109 Fix: bump 'openmetadata-sqllineage' version to 1.0.4
  ingestion/setup.py
Labels: Ingestion, safe to test

#11115 fix: remove count of results processed
  ingestion/tests/cli_e2e/common/test_cli_db.py
Labels: Ingestion, E2E-testing, profiler, safe to test

#11104 Bug: Integer ingestion config field changes needed to be handled correctly
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
Labels: bug, UI, Ingestion, safe to test

#11108 Fix: Supported localization in server error message
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/callbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/callbacks/Auth0Callback/Auth0Callback.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
Labels: UI, safe to test

#11098 fix: Redash lineage issue
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/mode/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
Labels: Ingestion, safe to test

#11112 Fixes #11106 : Supported Markdown preview in the test case description
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
Labels: UI, safe to test

#11127 Fix Query Pagination Issue
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#11129 Fix cypress issue
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
Labels: UI, safe to test

#11101 fix(ui): updated icon to be consistent with glossary
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#11117 ui: search dropdown improvements
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
Labels: UI, safe to test
