Repository open-metadata/OpenMetadata, pull requests merged in 2023-01, with the labels that each got.

#9555 Fixed bigquery e2e test
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Labels: Ingestion, safe to test

#9557 Fix airflow backend ingestion
  ingestion/Dockerfile
  ingestion/setup.py
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#9556 Fix Flyway Clean Disabled Issue
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Labels: backend, safe to test

#9563 fixed tags and classifications update issue
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tagAPI.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Labels: UI, safe to test

#9559 Fix: refactor get_column_type
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/tests/unit/test_column_type_parser.py
Labels: Ingestion, safe to test

#9568 Added maven publish git action workflow
  .github/workflows/publish-maven-package.yml
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: safe to test

#9570 chore(ui): remove react-select deps from project
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/react-select-component/reactSelectCustomStyle.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#9537 Improve SQL column lineage parsing
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/tests/unit/test_query_parser.py
  ingestion/tests/unit/test_sql_lineage.py
Labels: safe to test

#9571 Added run conditions for mvn publish workflow
  .github/workflows/publish-maven-package.yml
Labels: safe to test

#9572 Redshift: varchar datatype fix
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
Labels: Ingestion, safe to test

#9553 feat(ui): support locale change option from UI
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, safe to test

#9581 fixed glossary term and user profile picture API failure issue
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Labels: UI, safe to test

#9590 Fix UI issue due to dropwizard Upgrade
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/OpenMetadataAssetServlet.java
Labels: backend, safe to test

#9591 bump node version to align with UI
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/prerequisites.md
Labels: UI, safe to test

#9463 Enabled Alert Tests
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsActionPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsPublisherManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/alerts/AlertResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertActionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: backend, safe to test

#9587 Fix #8422: Fix False usage query count
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
Labels: Ingestion, safe to test

#9574 fix(ui): cypress test fixes and improvements
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
Labels: UI, safe to test

#9596 fix(test): cypress failure for react-select changes
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
Labels: UI, safe to test

#9585 chore(ui): fix todo comments and done cleanup on types
  openmetadata-ui/src/main/resources/ui/public/favicon.png
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/serviceAPI.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tagAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tagAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/FormModal/FormModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/FormModal/index.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/ServicesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/tagsTypes.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#9586 chore(ui): remove react-slick and use AntD carousel
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/FeaturesCarousel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/FeaturesCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Login.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/login/LoginCarousel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/LoginCarousel.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#9603 add devops team review for workflow updates
  .github/CODEOWNERS
Labels: UI, safe to test

#9601 chore(ui): jest comment for coverage on PRs
  .github/workflows/yarn-coverage.yml
  openmetadata-ui/src/main/resources/ui/package.json
Labels: UI, safe to test

#9606 chore(ui) : Remove react-tippy dependency and use antd component
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/SendButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FrequentlyJoinedTables/FrequentlyJoinedTables.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarButton/GithubStarButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTermsAntd.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/buttons/CopyToClipboardButton/CopyToClipboardButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/buttons/CopyToClipboardButton/CopyToClipboardButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FilterContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/popover/PopOver.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/popover/PopOver.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/popover/PopOverTypes.ts
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#9610 remove hide comment from jest-coverage-comment
  .github/workflows/yarn-coverage.yml
Labels: UI, safe to test

#9584 Fix: Table description error for table
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Labels: Ingestion, safe to test

#9578 Fix: refractor datalake datatypes and s3 for parquet
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/utils/s3_utils.py
Labels: Ingestion, safe to test

#9609 fix(ui): split of undefined error
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/eventFiltersAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/dashboardVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExecutionStrip/ExecutionStrip.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryReferences/GlossaryReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/assets.mock.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SlackChat/SlackChat.css
  openmetadata-ui/src/main/resources/ui/src/components/SlackChat/SlackChat.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/Teams.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Card/CardV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: UI, safe to test

#9600 fix(ui): missing localization key for delete widget
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
Labels: UI, safe to test

#9560 fixed ANTD deprecated warnings
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IngestionStepper/IngestionStepper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/DeployIngestionLoaderModal/DeployIngestionLoaderModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/FormModal/index.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/RelatedTermsModal/RelatedTermsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ReviewerModal/ReviewerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/SchemaModal/SchemaModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/TourEndModal/TourEndModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/index.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/FollowersModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddUsersModalV1.tsx
Labels: UI, safe to test

#9597 Fixes#9576: Data insights page empty and reindexing fails
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticsearch/BuildSearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ElasticSearchIndexUtil.java
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
Labels: safe to test

#9580 Fix security vulnerability
  ingestion/setup.py
Labels: Ingestion, safe to test

#9598 chore : Update localization values
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
Labels: UI, safe to test

#9554 Issue 5592: Add Databricks Pipeline Connector
  ingestion/src/metadata/examples/workflows/databricks_pipeline.yaml
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/__init__.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/tests/unit/resources/datasets/databricks_pipeline_history.json
  ingestion/tests/unit/resources/datasets/databricks_pipeline_resource.json
  ingestion/tests/unit/topology/pipeline/test_databricks_pipeline.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/databricksPipelineConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
Labels: safe to test

#9622 Fix: AttributeError when node is not in catalog
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#9616 Fix Tag Missing Relation
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
Labels: backend, safe to test

#9626 Fix: AttributeError when node is not in catalog (#9622)
  ingestion/src/metadata/ingestion/source/database/dbt.py
Labels: Ingestion, safe to test

#9604 Fix User entity pagination when isBot flag is False for Postgres
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#9612 ui: localization changes
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RecentSearchedTerms/RecentSearchedTermsAntd.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/buttons/CopyToClipboardButton/CopyToClipboardButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/DropDownList.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9627 Fix table comment not being ingested
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/db2/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
Labels: Ingestion, safe to test

#9614 Code cleanup to fix IDE flagged warnings
  openmetadata-service/src/main/java/org/openmetadata/csv/CsvUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/ActivityFeedAlertCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsActionPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/generic/GenericWebhookPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/PipelineServiceVersionException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AlertActionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StorageServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/CatalogOpenIdAuthorizationRequestFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertActionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/usage/UsageResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: backend, safe to test

#9628 chore (ui) : add coverage path ignore patterns
  openmetadata-ui/src/main/resources/ui/jest.config.js
Labels: UI, safe to test

#9575 Fix 7972: Added dbt tag classification name
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v008__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v008__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtCloudConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtGCSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtHttpConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtLocalConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtS3Config.json
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
Labels: Ingestion, safe to test

#9631 chore (ui) : remove react-tippy and rc-tree from webpack config
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: UI, safe to test, ui-config

#9630 test case for DomoDatabase
  ingestion/tests/unit/topology/database/test_domodatabase.py
Labels: Ingestion, safe to test

#9624 chore(ui): clean up the type declaration file
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidgetWrapper.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/feed.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTask.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Labels: enhancement, UI, safe to test

#9621 Fix: s3 files for parquet
  ingestion/Dockerfile
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/utils/s3_utils.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#9615 fix: Docs for AWS EKS Helm Deployment
  openmetadata-docs/content/deployment/kubernetes/eks.md
Labels: devops, safe to test

#9636 Fix #9286 & #9306 - Fix Session handling for scheduler job
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
Labels: Ingestion, safe to test

#9629 Fixed#9426: When in Debug mode OM is logging passwords in plaintext
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/basic-auth.provider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, backend, safe to test

#9539 Modify env to be same for testing
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#9643 Minor: Delete generated directory to delete older files
  Makefile
Labels: backend, safe to test

#9646 fix: GH Actions use mishakav github actions step with the new changes merged
  .github/workflows/yarn-coverage.yml
Labels: devops, safe to test

#9635 Updated Description in case of column updates
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: backend, safe to test

#9617 cypress: added test cases for advance search
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/service.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvanceSearch.spec.js
Labels: UI, safe to test

#9641 Docs fix, set intelli jidea env
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Labels: safe to test

#9473 refactor : Add useAirflowStatus hook
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertActionResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useAirflowStatus.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuiteStepper.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#9658 UI: Added localization changes part 2
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/KeyHelp.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/NoFeedPlaceholder/NoFeedPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/AnnouncementBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityVersionTimeLine/EntityVersionTimeLine.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/PipelineSummary/PipelineSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9640 Alert Test Fix
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsPublisherManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsRuleEvaluator.java
  openmetadata-service/src/main/resources/json/data/alerts/filterData.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
Labels: backend, safe to test

#9653 fix(ui): activity feed filter bug on homepage
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: UI, safe to test

#9634 fix(ui): sonar-cloud code-smells and code optimizations
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SliderWithInput/SliderWithInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: enhancement, UI, safe to test

#9669 UI: Added localization part 3
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardFooter/FeedCardFooter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.util.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Emoji.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/BotDetailsPage/BotDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
Labels: UI, safe to test

#9676 Add Doc for Data Catalog api permission
  openmetadata-docs/content/connectors/database/bigquery/index.md
Labels: documentation, Ingestion, safe to test

#9664 Fix #7768 - Update and organize versions
  ingestion/setup.py
  ingestion/src/metadata/__version__.py
  ingestion/src/metadata/ingestion/ometa/mixins/server_mixin.py
  ingestion/src/metadata/parsers/schema_parsers.py
  ingestion/tests/unit/test_version.py
Labels: Ingestion, safe to test

#9672 UI : Fix ML_Model issues and added version feature in it
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-container/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/tags-container/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#9652 [WIP] - Add Scarf gateway
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  ingestion/README.md
Labels: Ingestion, safe to test

#9684 Fixed: Enabled skipped unit test and deprecated svgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Tags.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#9680 Fix: neo4j version bump
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/metadata/amundsen/metadata.py
Labels: Ingestion, safe to test

#9679 Fixed DB2 Profiler
  ingestion/src/metadata/examples/workflows/db2_profiler.yaml
  ingestion/src/metadata/orm_profiler/metrics/static/column_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/column_names.py
  ingestion/src/metadata/orm_profiler/orm/functions/length.py
  ingestion/src/metadata/orm_profiler/orm/functions/modulo.py
  ingestion/src/metadata/orm_profiler/orm/functions/random_num.py
  ingestion/src/metadata/orm_profiler/orm/functions/sum.py
Labels: Ingestion, safe to test

#9671 Fixes #9656 -- Add support for datetime type for col between
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v008__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v008__create_db_connection_info.sql
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_between.py
  ingestion/src/metadata/utils/test_suite.py
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeBetween.json
Labels: Ingestion, profiler, safe to test

#9682 fixes #9673 - Oracle casting error
  ingestion/src/metadata/orm_profiler/orm/functions/sum.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
Labels: Ingestion, profiler, safe to test

#9688 Fix Topic index to map properly
  ingestion/src/metadata/ingestion/models/es_documents.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TopicIndex.java
Labels: backend, safe to test

#9472 Fix #7156: Add Sample Data for Kafka and Redpanda
  ingestion/src/metadata/ingestion/models/ometa_topic_data.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  ingestion/src/metadata/ingestion/source/messaging/messaging_service.py
Labels: Ingestion, safe to test

#9683 Add: Function for Postgres Tags
  ingestion/src/metadata/ingestion/models/ometa_classification.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
Labels: Ingestion, safe to test

#9670 chore(ui): update localisation for constants
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/SendButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
  openmetadata-ui/src/main/resources/ui/src/index.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/LocalUtil.ts
Labels: UI, safe to test

#9667 e2e: UI : User journey for permission end-2-end test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Labels: UI, safe to test

#9697 test(ui): clean alerts that cypress created for tests
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Alerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
Labels: UI, safe to test

#9715 Code cleanup of IDE flagged issues
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/interceptors/CustomRequestInterceptor.java
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/model/OktaSSOConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AbstractAlertPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsActionPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/emailAlert/EmailAlertPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/generic/GenericWebhookPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DailyActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/DataInsightAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/PageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AbstractEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventPubSub.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/BadRequestException.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AlertActionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SettingsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticsearch/BuildSearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/MessageParser.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/InMemorySecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/CatalogSecurityContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/jwt/JWTTokenGenerator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/JwtTokenCacheManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/PipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/csv/EntityCsvTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#9701 fix(ui): remove redundant tags from explore page
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.styles.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/SearchOptions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#9700 Fixed UI: Add owner for glossary is not showing option on initial open #9602
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
Labels: UI, safe to test

#9705 Fix #9153 - Postgres case sensitive column name
  ingestion/src/metadata/orm_profiler/orm/functions/median.py
Labels: Ingestion, profiler, safe to test

#9703 Docs - librdkafka installation
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/ingestion-framework.md
Labels: Ingestion, safe to test

#9321 Extra headers for metadata API
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Labels: Ingestion, safe to test

#9711 updated rule evealutor tests
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/AlertsRuleEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/alerts/AlertsRuleEvaluatorTest.java
Labels: backend, safe to test

#9712 Updated to Expire After Write
  openmetadata-service/src/main/java/org/openmetadata/service/alerts/ActivityFeedAlertCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
Labels: backend, safe to test

#9723 fix(#9720) : Profiler Partion Configuration is not sent in the API request
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
Labels: UI, safe to test

#9678 Fix: added test case for atlas
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  ingestion/tests/unit/resources/datasets/atlas_dataset.json
  ingestion/tests/unit/topology/metadata/test_atlas.py
Labels: Ingestion, safe to test

#9681 remove computePercentile from table usage summary
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
Labels: backend, safe to test

#9733 Fixes #9721 Add support for count of terms in Glossary and Classifica…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/classification/classification.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossary.json
Labels: backend, safe to test

#9732 Fixes Incorrect Classification of Tier Tags for tags containing word …
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
Labels: backend, safe to test

#9731 fixes #9718 -- Add DQ partition support + improve logic
  ingestion/src/metadata/interfaces/sqalchemy/mixins/sqa_mixin.py
  ingestion/src/metadata/orm_profiler/orm/functions/datetime.py
  ingestion/src/metadata/orm_profiler/profiler/handle_partition.py
  ingestion/src/metadata/test_suite/api/workflow.py
Labels: Ingestion, data quality, profiler, safe to test

#9728 chore(ui): support lint & prettier for cypress files
  openmetadata-ui/src/main/resources/ui/.eslintignore
  openmetadata-ui/src/main/resources/ui/.eslintrc.yaml
  openmetadata-ui/src/main/resources/ui/.lintstagedrc.yaml
  openmetadata-ui/src/main/resources/ui/.prettierignore
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvanceSearch.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Collect.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EditEntityLineage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityAnnouncement.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/LogoutUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Alerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/redirections.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/plugins/index.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#9737 Fix Typo and link issues
  openmetadata-docs/content/sdk/python/build-connector/index.md
Labels: documentation, Ingestion, safe to test

#9730 Cypress: Fixed failing cypress test in main and glossary search localization
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvanceSearch.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Labels: UI, safe to test

#9727 UI : Added Classification Field in DBT
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCommonFields.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCommonFields.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTFormConstants.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/SwitchField.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/types.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9739 Fix Snowlfake conneciton with private key
  ingestion/Dockerfile
  ingestion/setup.py
  ingestion/src/metadata/utils/connections.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#9595 Profile sample rows + Randomization of chunks for datalake
  ingestion/src/metadata/interfaces/datalake/datalake_profiler_interface.py
  ingestion/src/metadata/orm_profiler/orm/converter.py
  ingestion/src/metadata/orm_profiler/profiler/datalake_sampler.py
  ingestion/src/metadata/orm_profiler/profiler/sampler.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/gcs_utils.py
  ingestion/src/metadata/utils/s3_utils.py
  ingestion/tests/unit/test_sql_lineage.py
  openmetadata-docs/content/connectors/ingestion/workflows/profiler/index.md
Labels: Ingestion, safe to test

#9747 UI : Fix the non-selected card color while search in Explore page
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
Labels: UI, safe to test

#9744 UI : Fix the Classifications Count issue
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsPageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/tags.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#9763 UI : Added default value for DBT Classification field
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Ingestions.constant.ts
Labels: UI, safe to test

#9748 UI : Fix the count in Data Insights page on Tier
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightProgressBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightProgressBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
Labels: UI, safe to test

#9726 feat ✨ : Add support for glossary bulk upload and download.
  openmetadata-ui/src/main/resources/ui/.prettierignore
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-browse-file.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-export.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-import.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ExportGlossaryModal/ExportGlossaryModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ExportGlossaryModal/ExportGlossaryModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/ImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/ImportResult.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#9743 Fix: Domo dashboard issue
  ingestion/src/metadata/clients/domo_client.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/tests/unit/topology/dashboard/test_domodashboard.py
Labels: Ingestion, safe to test

#9642 Fixes #9618 Allow apostrophe in entity names
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v008__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v008__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/pipeline/dagster/metadata.py
  ingestion/tests/unit/topology/pipeline/test_dagster.py
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LocationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/MessageParser.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/kpi/KpiResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/locations/LocationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FullyQualifiedName.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/bots/BotResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/AlertResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/locations/LocationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/createBot.json
  openmetadata-spec/src/main/resources/json/schema/api/createType.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createLocation.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createTable.json
  openmetadata-spec/src/main/resources/json/schema/api/teams/createUser.json
  openmetadata-spec/src/main/resources/json/schema/entity/bot.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/location.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/events/webhook.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/entity/type.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
Labels: backend, safe to test

#9756 Keep elasticsearch version to be 7.13.1
  ingestion/setup.py
Labels: backend, safe to test

#9764 ui: loaders added in missing places.
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#9745 fix(ui): search dropdown options case changing issue
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/AdvancedSearchUtils.mock.ts
Labels: UI, safe to test

#9766 UI : Added Flag to exclude bot from user search
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test

#9771 fix(ui): disabled profiler calls for deleted tables for summary panel details
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
Labels: UI, safe to test

#9778 Fix #9558 - Add a greater range for boto3 dependency
  ingestion/setup.py
Labels: Ingestion, safe to test

#9753 Fix #9752: docker openmetadata_ingestion should only depend on db
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
Labels: backend, safe to test

#9749 databricks-test-added
  ingestion/tests/unit/topology/database/test_databricks.py
Labels: safe to test

#9741 UI : Added mutual exclusive fields in glosaary and classification
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/ImportResult.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/FormModal/FormModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/FormModal/index.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/tags/Form.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/Form.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.ts
Labels: UI, safe to test

#9729 UI: Glossary ui revamp
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/folder.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Labels: UI, safe to test

#9780 Fix #9777 - Pass XLets as input parameters for lineage runner
  ingestion/src/airflow_provider_openmetadata/lineage/backend.py
  ingestion/src/airflow_provider_openmetadata/lineage/operator.py
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
  ingestion/src/airflow_provider_openmetadata/lineage/status.py
  ingestion/src/airflow_provider_openmetadata/lineage/xlets.py
Labels: Ingestion, safe to test

#9787 Revert "UI : Added Flag to exclude bot from user search (#9766)"
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test

#9784 Powerbi pagination fix
  ingestion/src/metadata/examples/workflows/powerbi.yaml
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/powerBIConnection.json
Labels: Ingestion, safe to test

#9779 UI : UI improvements
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/EditorToolBar.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
Labels: UI, safe to test

#9687 Issue 9542 - Replace the default name for MySQL db
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/athenaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/clickhouseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/datalakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltaLakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/domoDatabaseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/dynamoDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mariaDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/singleStoreConnection.json
Labels: Ingestion, safe to test

#9767 Dbt e2e test
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/cli_e2e/dbt/redshift/dbt.yaml
  ingestion/tests/cli_e2e/dbt/redshift/redshift.yaml
  ingestion/tests/cli_e2e/test_cli_dbt_base.py
  ingestion/tests/cli_e2e/test_cli_dbt_redshift.py
Labels: Ingestion, safe to test

#9760 Deprecate OMetaDatabaseAndTable
  ingestion/src/metadata/ingestion/models/ometa_table_db.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/tests/unit/profiler/test_profiler_partitions.py
  ingestion/tests/unit/source/test_bigquery.py
  ingestion/tests/unit/source/test_clickhouse.py
  ingestion/tests/unit/source/test_dynamodb.py
  ingestion/tests/unit/source/test_mssql.py
  ingestion/tests/unit/source/test_mysql.py
  ingestion/tests/unit/source/test_vertica.py
  openmetadata-docs/content/sdk/python/build-connector/sink.md
  openmetadata-docs/content/sdk/python/build-connector/source.md
Labels: Ingestion, safe to test

#9789 fix(#9775): UI - Teams owner can only be another user not another team
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidgetWrapper.component.tsx
Labels: UI, safe to test

#9793 Fixed UI: While removing one edge, all the edge related to same node is getting disappear #9792
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Labels: UI, safe to test

#9791 Fix: atlas test connection
  ingestion/src/metadata/ingestion/source/metadata/atlas/client.py
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  ingestion/tests/unit/topology/metadata/test_atlas.py
  openmetadata-docs/content/connectors/metadata/atlas/airflow.md
  openmetadata-docs/content/connectors/metadata/atlas/cli.md
  openmetadata-docs/content/connectors/metadata/atlas/index.md
  openmetadata-docs/images/openmetadata/connectors/atlas/connection-options.png
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/atlasConnection.json
Labels: Ingestion, safe to test

#9786 Fix: Quicksight Dashboard and chart Metadata Ingestion
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/models.py
  ingestion/tests/unit/topology/dashboard/test_quicksight.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/quickSightConnection.json
Labels: bug, Ingestion, safe to test

#9757 Fix #9695: Teams show up in lower case
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TeamIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/UserIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json.orig
  openmetadata-service/src/main/resources/elasticsearch/jp/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/user_index_mapping.json
Labels: backend, safe to test

#9796 Fix #8884 & #9460 - View lineage happens in the lineage workflow
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
Labels: Ingestion, safe to test

#9795 Updated test yml file for dbt e2e
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#9790 UI: Unit tests added for PR 9764
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
Labels: UI, safe to test

#9759 Fix #6577: Optimize metadata reads
  ingestion/src/metadata/ingestion/source/database/clickhouse/metadata.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/queries.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
Labels: Ingestion, safe to test

#9761 Fix #9707 - Install instantclient and enable thick mode
  Makefile
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
  ingestion/src/metadata/ingestion/source/database/oracle/connection.py
  openmetadata-docs/content/connectors/database/oracle/airflow.md
  openmetadata-docs/content/connectors/database/oracle/cli.md
  openmetadata-docs/content/connectors/database/oracle/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
Labels: Ingestion, safe to test

#9803 Cy: skip the teams spec test and removed * from search API call
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.ts
Labels: UI, safe to test

#9806 Modify Slack Env
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#9807 UI : Added more spacing and wrap the text in the cell
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
Labels: UI, safe to test

#9666 Fix/docs-misc
  openmetadata-docs/content/connectors/custom-connectors.md
  openmetadata-docs/content/connectors/ingestion/deployment/airflow-dag.md
  openmetadata-docs/content/connectors/ingestion/deployment/running-from-mwaa.md
  openmetadata-docs/content/connectors/pipeline/airflow/gcs.md
  openmetadata-docs/content/deployment/docker/index.md
  openmetadata-docs/content/deployment/kubernetes/eks.md
  openmetadata-docs/content/deployment/kubernetes/values.md
  openmetadata-docs/content/deployment/upgrade/docker.md
  openmetadata-docs/content/deployment/upgrade/index.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Labels: devops, safe to test

#9817 Revert "Fix #8884 & #9460 - View lineage happens in the lineage workflow"
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
Labels: Ingestion, safe to test

#9804 UI : Added cypress for mutually exclusive tags
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
Labels: UI, safe to test

#9774 Multi language: add zh-cn
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: safe to test

#9802 improvements(ui): unit test improvements
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
Labels: UI, safe to test

#9811 Fix region name in ES sink
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
Labels: Ingestion, safe to test

#9814 Modify Charts name as sheet id
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/tests/unit/topology/dashboard/test_quicksight.py
Labels: Ingestion, safe to test

#9820 Fix column values between test
  ingestion/src/metadata/test_suite/validations/column/column_values_to_be_between.py
Labels: Ingestion, data quality, safe to test

#9818 fix(#9812): UI : Add stepper for glossary bulk import steps
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Glossary.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Labels: UI, safe to test

#9800 Fix: Replace `sqllineage` with `openmetadata-sqllineage`
  .github/workflows/py-checkstyle.yml
  ingestion/setup.py
  ingestion/src/metadata/ingestion/api/workflow.py
  ingestion/src/metadata/ingestion/lineage/models.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/tests/unit/test_sql_lineage.py
Labels: Ingestion, safe to test

#9645 Fix #8973: Superset fetch metadata from DB
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v008__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v008__create_db_connection_info.sql
  ingestion/examples/sample_data/dashboards/service.json
  ingestion/src/metadata/examples/workflows/superset.yaml
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/client.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
  openmetadata-docs/content/connectors/dashboard/superset/sso.md
  openmetadata-docs/content/menu.md
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dashboards/DashboardResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/supersetConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/utils/supersetApiConnection.json
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: Ingestion, safe to test

#9816 Fix: Domo dashboard json issue
  ingestion/src/metadata/clients/domo_client.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard.py
  ingestion/tests/unit/topology/dashboard/test_domodashboard.py
Labels: Ingestion, safe to test

#9824 fix: pytest error
  ingestion/tests/integration/test_suite/test_registry_names_match_test_definition.py
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeUnique.json
Labels: Ingestion, safe to test

#9835 Docs Using a Custom Ingestion Image in helm
  openmetadata-docs/content/deployment/kubernetes/index.md
Labels: Ingestion, safe to test

#9770 fix(ui): ui changes for #9695
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvanceSearch.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
Labels: UI, safe to test

#9836 Added powerbi docs for new field
  openmetadata-docs/content/connectors/dashboard/powerbi/airflow.md
  openmetadata-docs/content/connectors/dashboard/powerbi/cli.md
  openmetadata-docs/content/connectors/dashboard/powerbi/index.md
  openmetadata-docs/images/openmetadata/connectors/powerbi/service-connection.png
Labels: Ingestion, safe to test

#9821 Fix#9460: Avoid reuse inspector to get view definition
  ingestion/setup.py
  ingestion/src/metadata/ingestion/lineage/models.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/models.py
Labels: Ingestion, safe to test
