Repository open-metadata/OpenMetadata, pull requests merged in 2023-09, with the labels that each got.

#13058 Issue 12297 bis -- Delete Insert logic in the DI workflow
  bootstrap/sql/migrations/native/1.1.3/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.3/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.3/postgres/schemaChanges.sql
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/ingestion/ometa/mixins/data_insight_mixin.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportDataRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
Labels: Ingestion, backend, safe to test, data insight

#13005 fix: summary for logical test suite
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test, data insight

#13019 fix #11221: added version pages for missing entities
  openmetadata-ui/src/main/resources/ui/cypress/common/GlossaryUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/TagUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/DataAssetsVersionHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ClassificationVersionPage/ClassificationVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseVersionPage/DatabaseVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/databaseAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/tagAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/DatabaseDetails.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetails.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#13064 Remove FQN field from tableau graphql query
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
Labels: Ingestion, safe to test

#13054 feat(ui): supported code and activity tab in stored procedure
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, Ingestion, safe to test

#13063 feat(ui): supported custom property tab in stored procedure and setting page
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-stored-procedure.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StoredProceduresUtils.tsx
Labels: UI, safe to test

#13024 Fixes 13015 : [Docs] Add SSAL_SSL config info for Confluent kafka with SSL encryption
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/messaging/kafka/troubleshooting.md
Labels: documentation

#12936 ui: added skeleton loader for table
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerChildren/ContainerChildren.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopActiveUsers.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopViewEntities.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportResult/GlossaryImportResult.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/UserTab/UserTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamImportResult/TeamImportResult.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/UserImportResult/UserImportResult.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/CreateErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/header/PageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseVersionPage/DatabaseVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetails.utils.tsx
Labels: UI, safe to test

#13041 [Snyk] Security upgrade cypress from 12.9.0 to 13.0.0
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#13046 Fix #9207: Add source in lineage details
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/fivetran/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/metadata.py
  ingestion/src/metadata/utils/db_utils.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
  openmetadata-spec/src/main/resources/json/schema/type/entityLineage.json
Labels: Ingestion, backend, safe to test

#13068 Adding articles to How-to Guides
  openmetadata-docs/content/v1.1.2/connectors/ml-model/mlflow/index.md
  openmetadata-docs/content/v1.1.2/connectors/pipeline/nifi/index.md
  openmetadata-docs/content/v1.1.2/deployment/index.md
  openmetadata-docs/content/v1.1.2/how-to-guides/index.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/delete-service-connection.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/how-to-ingest-metadata.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/index.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/how-to-organise-teams-and-users.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/index.md
  openmetadata-docs/content/v1.1.2/menu.md
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/connector1.jpg
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/connector2.jpg
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/delete1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/delete2.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/schedule.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake2.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake3.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake4.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake5.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake6.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake7.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/snowflake8.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/testconnection1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/quick-start-guide-for-admins/view-service.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/teams.png
Labels: documentation, safe to test

#13066 fix: flaky report data tests
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
Labels: Ingestion, backend, safe to test

#13059 Part of #11968 - Restructure Profiler Workflow and PII Processor
  ingestion/operators/docker/main.py
  ingestion/src/metadata/cli/profile.py
  ingestion/src/metadata/ingestion/api/step.py
  ingestion/src/metadata/ingestion/api/steps.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/pii/ner.py
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/pii/scanners/column_name_scanner.py
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/src/metadata/profiler/api/models.py
  ingestion/src/metadata/profiler/api/workflow.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/processor.py
  ingestion/src/metadata/profiler/sink/README.md
  ingestion/src/metadata/profiler/sink/file.py
  ingestion/src/metadata/profiler/sink/metadata_rest.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/src/metadata/workflow/workflow_output_handler.py
  ingestion/tests/integration/orm_profiler/system/test_bigquery_system_metrics.py
  ingestion/tests/integration/orm_profiler/system/test_redshift_system_metrics.py
  ingestion/tests/integration/orm_profiler/system/test_snowflake_system_metrics.py
  ingestion/tests/integration/orm_profiler/test_datalake_profiler_e2e.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
  ingestion/tests/integration/orm_profiler/test_pii_processor.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
  ingestion/tests/unit/profiler/test_profiler_partitions.py
  ingestion/tests/unit/profiler/test_workflow.py
  ingestion/tests/unit/test_importer.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/profiler.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
Labels: Ingestion, safe to test

#13030 fix #12518 support get column lineage in spline
  ingestion/src/metadata/ingestion/source/pipeline/spline/client.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/models.py
  ingestion/tests/unit/topology/pipeline/test_spline.py
Labels: Ingestion, safe to test

#12278 test(ui): table details component
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
Labels: UI, safe to test

#12949 feat(ui): pipeline and service tab for service listing page
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionPipelineList/IngestionPipelineList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Table/ColumnFilter/ColumnFilter.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/next-previous/NextPrevious.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/next-previous/NextPrevious.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/next-previous/NextPrevious.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/services/ServicesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetails.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Labels: UI, safe to test

#13082 Fix E2E - dashboards
  ingestion/tests/cli_e2e/test_cli_quicksight.py
  ingestion/tests/cli_e2e/test_cli_redash.py
Labels: Ingestion, safe to test

#12925 Added project filter pattern to dashboard entity
  ingestion/examples/workflows/metabase.yaml
  ingestion/examples/workflows/powerbi.yaml
  ingestion/examples/workflows/tableau.yaml
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/utils/filters.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/domo-dashboard/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/looker/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/metabase/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/mode/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/powerbi/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/qliksense/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/quicksight/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/redash/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/superset/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/dashboard/tableau/yaml.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
Labels: documentation, Ingestion, backend, safe to test

#13004 Fix #13001: Fix query not populating to all tables
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/tests/cli_e2e/test_cli_quicksight.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
Labels: Ingestion, backend, safe to test

#13073 fix(#12954): restrict roles and policy in settings for admins only
  openmetadata-ui/src/main/resources/ui/src/components/router/AdminProtectedRoute.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#13099 Docs: Add permission to external table in snowflake
  openmetadata-docs/content/v1.1.2/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.1.2/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/database/snowflake/yaml.md
Labels: documentation, Ingestion, safe to test

#13092 fix: added upsert logic back for system metrics
  ingestion/src/metadata/profiler/metrics/system/queries/redshift.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: Ingestion, backend, safe to test

#13077 feat(ui): supported version page in stored procedure
  openmetadata-ui/src/main/resources/ui/src/components/StoredProcedureVersion/StoredProcedureVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/StoredProcedureVersion/StoredProcedureVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/StoredProcedureVersion/StoredProcedureVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/StoredProcedureVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#13079 Update structure for PII processing
  ingestion/src/metadata/pii/models.py
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/pii/scanners/column_name_scanner.py
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/integration/orm_profiler/test_pii_processor.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Labels: Ingestion, safe to test

#13086 chore(ui): fix signup page styling
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/account-activation-confirmation.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/basic-signup.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/mocks/signup.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
Labels: UI, safe to test

#13014 Added Life Cycle fields, API and ingestion integration
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/models/life_cycle.py
  ingestion/src/metadata/ingestion/ometa/mixins/life_cycle_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/query_parser.py
  ingestion/src/metadata/ingestion/source/database/snowflake/usage.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/life_cycle_utils.py
  ingestion/tests/integration/ometa/test_ometa_life_cycle_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/storedProcedure.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
  openmetadata-spec/src/main/resources/json/schema/type/lifeCycle.json
  openmetadata-spec/src/main/resources/json/schema/type/queryParserData.json
  openmetadata-spec/src/main/resources/json/schema/type/tableQuery.json
Labels: Ingestion, backend, safe to test

#13097 Cleanup task resolution and closing with task workflows
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FeedUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Labels: backend, safe to test

#13111 Add Superset Upcoming Datamodel support
  openmetadata-docs/content/v1.1.2/connectors/dashboard/superset/index.md
Labels: documentation, Ingestion, safe to test

#12839 feat(ui): Domains functionality
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDataProduct.json
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDomain.json
  openmetadata-ui/src/main/resources/ui/cypress/common/DomainUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Domains.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-domain.svg
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDataProductModal/AddDataProductModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDataProductModal/AddDataProductModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/add-domain.less
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddSubDomainModal/AddSubDomainModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddSubDomainModal/AddSubDomainModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainLeftPanel/DomainLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainLeftPanel/DomainLeftPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DataProductsTab/DataProductsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DataProductsTab/DataProductsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTypeSelectForm/DomainTypeSelectForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTypeSelectForm/DomainTypeSelectForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTypeSelectForm/DomainTypeSelectForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/domain.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DataProductSummary/DataProductSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Domains.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataProductAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/domainAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/Assets/AssetsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, backend, safe to test

#13113 fix: alerting for entiyFQN filter and testResult filter for test cases
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
Labels: Ingestion, backend, data quality, safe to test

#13109 Fix usage count issue
  ingestion/src/metadata/ingestion/processor/query_parser.py
Labels: Ingestion, safe to test

#13095 ui : supported unit test for stored procedure
  openmetadata-ui/src/main/resources/ui/src/mocks/StoredProcedure.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.tsx
Labels: UI, safe to test

#13083 cypress: updated tagsAddRemove spec as per upgrade test
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/updateDisplayName.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
Labels: UI, safe to test

#13061 Fix ElasticSearch Test Connection & Deploy
  ingestion/examples/sample_data/searchIndexes/service.json
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/elasticsearch.yaml
  ingestion/src/metadata/ingestion/source/search/elasticsearch/connection.py
  ingestion/src/metadata/ingestion/source/search/elasticsearch/metadata.py
  ingestion/src/metadata/ingestion/source/search/search_service.py
  ingestion/tests/unit/topology/search/test_elasticsearch.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-docs/content/partials/v1.2.0/connectors/search/configure-ingestion.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/index.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/search/elasticsearch/index.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/search/elasticsearch/yaml.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/connectors/search/index.md
  openmetadata-docs/content/v1.2.0-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.2.0/connectors/configure-metadata-ingestion-search.png
  openmetadata-docs/images/v1.2.0/connectors/elasticsearch/add-new-service.png
  openmetadata-docs/images/v1.2.0/connectors/elasticsearch/select-service.png
  openmetadata-docs/images/v1.2.0/connectors/elasticsearch/service-connection.png
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/SearchServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/entity/automations/testServiceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/elasticSearchConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/searchServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Search/ElasticSearch.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Search/workflows/metadata.md
Labels: documentation, UI, Ingestion, backend, safe to test

#13091 fix ui: Percentage of Service with Owners graph in DI calculating wrong data #13084
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#13101 Add Voting to Entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/StoredProcedureResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/metrics/MetricsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/reports/ReportResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/searchindex/SearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossary.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/metrics.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/report.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/searchIndex.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
Labels: backend, safe to test

#13102 chore(ui): stored procedure ui changes
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/storedProceduresAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#13118 fix(#12736): OIDC Pulling Keyset multiple times per minute.
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
Labels: UI, safe to test

#13117 ui: updated testCaseResult api from put to patch
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test

#13115 Transaction for Delete @UnitOfWork
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AuditEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/WebAnalyticEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChangeEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportDataRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestTransactionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/HttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiTransactionAspect.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkApplicationEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/LinkedRequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/ManagedHandleInvocationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/NonHttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/RequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/EventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/TestTransactionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/Authorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/AuthenticatorHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/NoopAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/Jdbi3TransactionTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  pom.xml
Labels: backend, safe to test

#13127 Fix e2e profiler status
  ingestion/src/metadata/profiler/api/models.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/tests/cli_e2e/base/test_cli.py
Labels: Ingestion, safe to test

#13078 chore(#12882): remove the sso support for bots
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanism.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/BotDetails.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotDetailsPage/BotDetailsPage.tsx
Labels: UI, safe to test

#13135 Update Chinese Locale
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#13096 Add used by field in query entity
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
Labels: UI, Ingestion, backend, safe to test

#13144 Adding articles to How to Guides
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/index.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/add-team.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/add-users.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/change-team-type.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/how-to-organise-teams-and-users.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/index.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/invite-users.md
  openmetadata-docs/content/v1.1.2/how-to-guides/quick-start-guide-for-admins/teams-and-users/team-structure-openmetadata.md
  openmetadata-docs/content/v1.1.2/how-to-guides/user-guide-data-stewards/basics-openmetadata.md
  openmetadata-docs/content/v1.1.2/how-to-guides/user-guide-data-stewards/index.md
  openmetadata-docs/content/v1.1.2/how-to-guides/user-guide-data-stewards/overview-data-assets/add-announcement.md
  openmetadata-docs/content/v1.1.2/how-to-guides/user-guide-data-stewards/overview-data-assets/announcements.md
  openmetadata-docs/content/v1.1.2/how-to-guides/user-guide-data-stewards/overview-data-assets/follow-data-asset.md
  openmetadata-docs/content/v1.1.2/how-to-guides/user-guide-data-stewards/overview-data-assets/index.md
  openmetadata-docs/content/v1.1.2/menu.md
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-team1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-team2.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-team3.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-user1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-user2.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-user3.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-user4.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/add-user5.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/change-team1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/change-team2.png
  openmetadata-docs/images/v1.1.2/how-to-guides/teams-and-users/change-team3.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/activity1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/announce1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/announce2.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/announce3.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/announce4.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/announce5.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/announce6.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/announce7.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/data1.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/data2.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/data3.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/data4.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/data5.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/data6.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/kpi.png
  openmetadata-docs/images/v1.1.2/how-to-guides/user-guide-for-data-stewards/profile1.png
Labels: documentation, safe to test

#13145 add mysql e2e changes
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#13139 Fix Ingestion Pipeline Configuration Titles
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryLineagePipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryUsagePipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/messagingServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/mlmodelServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/searchServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storageServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
Labels: Ingestion, backend, safe to test

#13132 ui: included column test case count in explore page right hand panel
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
Labels: UI, safe to test

#13090 feat(ui): displayName support for columns inside the table
  openmetadata-ui/src/main/resources/ui/src/assets/svg/edit-black.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/edit-new.svg
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#13148 doc issue fix
  openmetadata-service/pom.xml
Labels: backend, safe to test

#13121 Part of #12998 - Prep Stored Procedures Skeleton for Snowflake
  .pylintrc
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/models.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
  ingestion/src/metadata/utils/stored_procedures.py
  ingestion/tests/cli_e2e/database/snowflake/snowflake.yaml
  ingestion/tests/unit/topology/database/test_snowflake.py
  ingestion/tests/unit/utils/__init__.py
  ingestion/tests/unit/utils/test_stored_procedures.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
Labels: Ingestion, backend, safe to test

#13151 Upgrade: airflow base image from 2.5.3 to 2.6.3
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Labels: Ingestion, devops, safe to test

#13126 Fix #11715: Add Owner EntityRef type validation
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: backend, safe to test

#13159 Revert "Fix #11715: Add Owner EntityRef type validation"
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: backend, safe to test

#13157 Fix hive metastore test connection
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
Labels: Ingestion, backend, safe to test

#13124 Minor fix: Do not re-run migration for properly formed native test su…
  bootstrap/sql/migrations/native/1.1.5/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.5/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.5/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.5/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/V114/MigrationUtil.java
Labels: backend, safe to test

#13125 Fix #12898: Support custom properties for Glossary and Glossary Term
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createGlossary.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createGlossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossary.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
Labels: backend, safe to test

#13158 Update dependencies
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#13164 Fixes 13146 - Patch operation not working for Domain
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
Labels: backend, safe to test

#13163 Remove Cleanups for JdbiUnitOfWorkProvider + added cases for autocomm…
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AuditEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/WebAnalyticEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/HttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiTransactionManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkApplicationEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/LinkedRequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/ManagedHandleInvocationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/NonHttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/RequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ReIndexingHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
Labels: backend, safe to test

#13131 fix(ui): supported unit test for stored database schema page
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/mocks/DatabaseSchemaPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/storedProceduresAPI.ts
Labels: UI, safe to test

#13141 Added Life Cycle sample data and changed datetime to timestamp
  ingestion/examples/sample_data/lifecycle/lifeCycle.json
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/utils/time_utils.py
  ingestion/tests/integration/ometa/test_ometa_life_cycle_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/type/lifeCycle.json
Labels: Ingestion, backend, safe to test

#13160 Part of #12998 - Add Stored Procedures support in BigQuery
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/models.py
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/models.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: Ingestion, backend, safe to test

#12976 Creating make script for code freeze automation
  Makefile
  docker/docker-compose-quickstart/Dockerfile
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  scripts/update_version.py
Labels: Ingestion, devops, safe to test

#13017 Datalake: Add manifest file support, fix profiler metrics, add array and json column type support
  ingestion/src/metadata/data_quality/validations/mixins/pandas_validator_mixin.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/profiler/metrics/static/max_length.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min_length.py
  ingestion/src/metadata/profiler/metrics/static/unique_count.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/readers/dataframe/models.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/readers/file/adls.py
  ingestion/src/metadata/readers/file/gcs.py
  ingestion/src/metadata/readers/file/s3.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/src/metadata/utils/sqa_like_column.py
  ingestion/tests/unit/profiler/custom_csv/test_datalake_metrics_1.csv
  ingestion/tests/unit/profiler/custom_csv/test_datalake_metrics_2.csv
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/pandas/test_sqa_profiler_interface.py
  ingestion/tests/unit/readers/test_df_reader.py
  ingestion/tests/unit/resources/datalake/transactions_1
  ingestion/tests/unit/test_column_type_parser.csv
  ingestion/tests/unit/test_column_type_parser.py
  ingestion/tests/unit/test_ometa_to_dataframe.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/storage/test_storage.py
Labels: Ingestion, safe to test

#13173 Use Collate SQLLineage Package for lineage
  ingestion/setup.py
Labels: Ingestion, safe to test

#13176 Issue 12989 - Fix multi project metadata ingestion in BQ
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Labels: Ingestion, safe to test

#13169 [Docs] - Yarn dev on local docker
  Makefile
Labels: Ingestion, safe to test

#13170 fix: implement percentile computation logic for SingleStore
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/single_store/__init__.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/single_store/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/percentille_mixin.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/source/single_store/functions/median.py
  ingestion/src/metadata/profiler/source/single_store/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/source/single_store/metrics/window/median.py
  ingestion/src/metadata/profiler/source/single_store/metrics/window/third_quartile.py
Labels: Ingestion, profiler, safe to test

#13098 Bigquery: Add Table Level Tags, fix dataset issue
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/utils/logger.py
Labels: Ingestion, safe to test

#13181 [Docs] - Add sort buffer size
  openmetadata-docs/content/partials/v1.1/deployment/upgrade/upgrade-prerequisites.md
Labels: documentation, Ingestion, safe to test

#13184 set autocommit to true for non transactional
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/HttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiTransactionManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/ManagedHandleInvocationHandler.java
Labels: backend, safe to test

#13162 Fix #11715: Add Owner EntityRef type validation
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: backend, safe to test

#13180 fix: move testSuite summary state update to preDelete
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: Ingestion, backend, safe to test

#13189 fix: use entityLink FQN vs entityFQN when checking against entity FQN…
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
Labels: Ingestion, backend, safe to test

#13195 fix: add test case result extension for ts migration
  bootstrap/sql/migrations/native/1.1.5/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.5/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#13183 Roles and policies guide
  openmetadata-docs/content/v1.1.x/how-to-guides/admin-guide-roles-policies/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/quick-start-guide-for-admins/teams-and-users/index.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/access.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/all-teams.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/auth.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/b-u.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/inheritance.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/policy1.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/policy2.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/policy3.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/policy4.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/role1.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/rules1.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/rules2.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/rules3.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/rules4.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/rules5.png
  openmetadata-docs/images/v1.1/how-to-guides/roles-policies/rules6.png
Labels: documentation, safe to test

#13200 check importlib setup
  ingestion/setup.py
Labels: Ingestion, safe to test

#13142 ui: added search support for schema page
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaSearch.spec.js
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetails.utils.tsx
Labels: UI, safe to test

#13201 only add collation to hash columns
  bootstrap/sql/migrations/native/1.1.5/mysql/schemaChanges.sql
Labels: backend, safe to test

#13196 Simplify topology & update context management
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/models/topology.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/src/metadata/ingestion/source/messaging/messaging_service.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/src/metadata/ingestion/source/search/search_service.py
  ingestion/tests/unit/topology/test_runner.py
Labels: Ingestion, safe to test

#13205 fix(#13204): after changing the team type action buttons are not disappearing
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.component.tsx
Labels: UI, safe to test

#13154 ui: Implement filtering by tags inside the table schema #12860
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableTags/TableTags.utils.tsx
Labels: UI, safe to test

#13208 Restructured the Roles article to 3 separate articles
  openmetadata-docs/content/v1.1.x/how-to-guides/admin-guide-roles-policies/authorization.md
  openmetadata-docs/content/v1.1.x/how-to-guides/admin-guide-roles-policies/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/admin-guide-roles-policies/use-cases.md
  openmetadata-docs/content/v1.1.x/how-to-guides/quick-start-guide-for-admins/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/user-guide-data-stewards/basics-openmetadata.md
  openmetadata-docs/content/v1.1.x/menu.md
Labels: documentation, safe to test

#13210 fix om package bundling
  openmetadata-ui/pom.xml
Labels: UI, safe to test

#13216 [FIX] Dockerfile label version to 1.1.5
  docker/docker-compose-quickstart/Dockerfile
Labels: devops, safe to test

#13217 [Fix] Fixing dockerfile arg variable
  docker/docker-compose-quickstart/Dockerfile
Labels: devops, safe to test

#13218 [Docs] - Release 1.1.5
  openmetadata-docs/content/partials/v1.1/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.1.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.1.x/deployment/docker/index.md
  openmetadata-docs/content/v1.1.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.1.x/releases/index.md
  openmetadata-docs/content/v1.1.x/releases/releases/index.md
  openmetadata-docs/content/v1.1.x/releases/releases/latest.md
  openmetadata-docs/content/v1.1.x/releases/releases/supported.md
Labels: documentation, Ingestion, safe to test

#13202 Delete relationship of domain bug
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
Labels: backend, safe to test

#13182 Fixes #13049 - Glossary recursive delete fails
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: backend, safe to test

#13225 ui: supported storedProcedure as edge in lineage
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AddPipeLineModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
Labels: UI, safe to test

#13219 Code cleanup necessary for Glossary workflow
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: backend, safe to test

#13232 Fix #12899: UI to use Tier TAG displayName if provided
  ingestion/tests/unit/topology/metadata/test_atlas.py
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/type/tagLabel.json
Labels: Ingestion, backend, safe to test

#13233 Fix #9972: Add Style with color or icon for Tags,GlossaryTerm, Domain…
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTag.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createGlossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDataProduct.json
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDomain.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/dataProduct.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-spec/src/main/resources/json/schema/type/tagLabel.json
Labels: backend, safe to test

#13235 Fix glossary test
  openmetadata-spec/src/main/resources/json/schema/type/tagLabel.json
Labels: backend, safe to test

#13130 Added SSL support to Superset
  ingestion/src/airflow_provider_openmetadata/hooks/openmetadata.py
  ingestion/src/metadata/examples/workflows/superset.yaml
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/client.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/models.py
  openmetadata-docs/content/v1.1.x/connectors/dashboard/superset/yaml.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/dashboard/superset/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/utils/supersetApiConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/ssl/validateSSLClientConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/ssl/verifySSLConfig.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Superset.md
  openmetadata-ui/src/main/resources/ui/src/utils/ConnectionSchemas/SupersetConnection.json
Labels: documentation, UI, Ingestion, backend, safe to test

#13231 Data Governance Docs
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/assets.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/best-practices.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/classification.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/classify-assets.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/glossary-terms.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/glossary.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/import-glossary.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/setup-glossary.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/glossary-classification/tiers.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/data-governance/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/openmetadata/index.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/images/v1.1/how-to-guides/governance/asset.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/asset1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/auto1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/auto2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/auto3.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/ct1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/ct2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/ct3.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary-term.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary-webinar.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary0.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary4.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary5.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary6.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary7.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary8.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/glossary9.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/import0.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/import1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/import2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/import3.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/owner.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag3.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag4.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag5.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag6.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag7.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tag8.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/task1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/task2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/term1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/term2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/term3.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tier1.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/tier2.png
  openmetadata-docs/images/v1.1/how-to-guides/governance/version.png
Labels: documentation, safe to test

#13241 Fix:Updating Docker Label for version update via makefile
  docker/docker-compose-quickstart/Dockerfile
Labels: devops, safe to test

#13245 fix: docs error
  openmetadata-docs/content/v1.1.x/deployment/docker/index.md
Labels: documentation, UI, safe to test

#13215 Part of #12998 - Query Service & Lineage filter processed queries
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  openmetadata-docs/content/partials/v1.2/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v120/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
  openmetadata-service/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Queries.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
Labels: documentation, UI, Ingestion, backend, safe to test

#13254 fix(ui): align reindex values from server
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
Labels: UI, safe to test

#13143 Issue-12305 - Add logic to sort test cases result by latest execution
  ingestion/tests/unit/test_ometa_to_dataframe.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, Ingestion, backend, safe to test

#13257 Fix Stored Procedures - Don't get queries without context
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/utils/logger.py
Labels: Ingestion, safe to test

#13247 Fix #13237 - Rename to instanceDomain and test DomoDashboard charts
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  ingestion/src/metadata/clients/domo_client.py
  ingestion/src/metadata/examples/workflows/domodashboard.yaml
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/domopipeline/metadata.py
  ingestion/tests/unit/topology/dashboard/test_domodashboard.py
  ingestion/tests/unit/topology/database/test_domodatabase.py
  ingestion/tests/unit/topology/pipeline/test_domopipeline.py
  openmetadata-docs/content/partials/v1.2/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/domodashboard.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/domoDashboardConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/domoDatabaseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/domoPipelineConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/DomoDashboard.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/DomoDatabase.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/DomoPipeline.md
Labels: documentation, UI, Ingestion, backend, safe to test

#13248 [Proposal] Playwright CI
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .gitignore
  Makefile
  ingestion/setup.py
  ingestion/tests/e2e/README.md
  ingestion/tests/e2e/__init__.py
  ingestion/tests/e2e/configs/common.py
  ingestion/tests/e2e/configs/connectors/__init__.py
  ingestion/tests/e2e/configs/connectors/interface.py
  ingestion/tests/e2e/configs/connectors/redshift.py
  ingestion/tests/e2e/configs/users/__init__.py
  ingestion/tests/e2e/configs/users/admin.py
  ingestion/tests/e2e/configs/users/user.py
  ingestion/tests/e2e/conftest.py
  ingestion/tests/e2e/entity/__init__.py
  ingestion/tests/e2e/entity/redshift/__init__.py
  ingestion/tests/e2e/entity/redshift/conftest.py
  ingestion/tests/e2e/entity/redshift/metadata/__init__.py
  ingestion/tests/e2e/entity/redshift/metadata/test_entity_page.py
  ingestion/tests/e2e/entity/redshift/profiler/__init__.py
  ingestion/tests/e2e/entity/redshift/profiler/test_profiler_page.py
Labels: Ingestion, devops, safe to test

#13230 chore(ui): add layoutType in tags container
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
Labels: UI, safe to test

#13172 fix(ui): shown children tab in storage container in case of schema empty
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerChildren/ContainerChildren.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerChildren/ContainerChildren.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
Labels: UI, safe to test

#13194 fix(ui) : supported storedProcedure and dashboardDataModel search index
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/storedProcedure.json
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AddPipeLineModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineageSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/StoredProcedureSummary/StoredProcedureSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/StoredProcedureSummary/StoredProcedureSummary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TagsSummary/TagsSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Mydata.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Assets/AssetsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, backend, safe to test

#13224 [Snyk] Security upgrade org.eclipse.jetty.websocket:websocket-server from 9.4.51.v20230217 to 9.4.52.v20230823
  openmetadata-service/pom.xml
Labels: Ingestion, backend, safe to test

#12038 GX up to 0.17+
  ingestion/setup.py
Labels: Ingestion, safe to test

#13234 Fix transactions , remove unnecessary autoCommit flag check
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/HttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiTransactionManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkApplicationEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/ManagedHandleInvocationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
  openmetadata-service/src/main/resources/elasticsearch/en/chart_index_mapping.json
Labels: UI, backend, safe to test

#13265 Clean migration and pass nameHashColumn as param when needed
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
Labels: Ingestion, backend, safe to test

#13214 fix(#13212): ui: usage details is missing on dashboard and ml model page
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
Labels: UI, safe to test

#13243 fix(ui): service should list based on pagesize
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
Labels: UI, safe to test

#13211 chore(ui): fix ui styling issue
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/FrequentlyJoinedTables.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/frequently-joined-tables.style.less
Labels: UI, safe to test

#13273 Fix Storage Key in response
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
Labels: bug, Ingestion, safe to test

#13272 fix(test): cypress failures for main
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Domains.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
Labels: UI, safe to test

#13278 addded aggreagtions for new indexes and fields, and added missing things
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DomainIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryTermIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TagIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClientImpl.java
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_data_model_index.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
Labels: backend, safe to test

#13256 test(ui): set env variable for e2e tests
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/plugins/index.js
  openmetadata-ui/src/main/resources/ui/package.json
Labels: UI, devops, safe to test

#13206 Get alerted if the monitor fails due to the service
  scripts/slack-link-monitor.py
Labels: Ingestion, safe to test

#13290 [Docs] - Docs storage for manifest & Domo
  openmetadata-docs/content/partials/v1.1/connectors/storage/manifest.md
  openmetadata-docs/content/partials/v1.2/connectors/storage/manifest.md
  openmetadata-docs/content/v1.1.x/connectors/storage/index.md
  openmetadata-docs/content/v1.1.x/connectors/storage/s3/index.md
  openmetadata-docs/content/v1.1.x/connectors/storage/s3/yaml.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/dashboard/domo-dashboard/index.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/dashboard/domo-dashboard/yaml.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/pipeline/domo-pipeline/yaml.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/storage/index.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/storage/s3/index.md
  openmetadata-docs/content/v1.2.x-SNAPSHOT/connectors/storage/s3/yaml.md
Labels: documentation, Ingestion, safe to test

#13283 Update ingestion logic to use PATCH API for lifeCycle info
  ingestion/examples/sample_data/lifecycle/lifeCycle.json
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/ometa/mixins/life_cycle_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/utils/life_cycle_utils.py
  ingestion/tests/integration/ometa/test_ometa_life_cycle_api.py
Labels: Ingestion, safe to test

#13281 fixed: Bug: UI text spilling when deleting entity #13185
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
Labels: UI, safe to test

#13280 Explore UI changes
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaSearch.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainProvider/DomainProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainProvider/DomainProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DashboardSummary/DashboardSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DataModelSummary/DataModelSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/MlModelSummary/MlModelSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/PipelineSummary/PipelineSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, safe to test

#13282 fic(ui): limit teamType options for various teams
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
Labels: UI, safe to test

#13264 Fixes #10096: adding RuntimeDataBatchSpec as a GX backend
  ingestion/src/metadata/great_expectations/action.py
Labels: Ingestion, safe to test

#13303 Issue-12857: Remove ES Dependency from DI Workflow
  ingestion/examples/sample_data/data_insights/data_insights.json
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/ingestion/models/data_insight.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/container_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/dashboard_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/entity_report_data_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/glossary_term_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/mlmodel_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/pipeline_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/query_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/table_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/tag_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/team_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/topic_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/user_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/web_analytic_entity_view_report_data_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/web_analytic_user_activity_report_data_index_mapping.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportDataRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityTimeSeriesResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/ReportDataResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/IndexUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/EntityReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/WebAnalyticEntityViewReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/WebAnalyticUserActivityReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClientImpl.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityTimeSeriesInterface.java
  openmetadata-spec/src/main/resources/json/schema/analytics/reportData.json
Labels: Ingestion, backend, safe to test, data insight

#13300 Move 1.1.4 migrations to 1.1.6 and add an empty dir for 1.1.6 migrations to invoke the data migration
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v116/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v116/Migration.java
Labels: backend, safe to test

#13277 ui: separate the api call for test suite
  openmetadata-ui/src/main/resources/ui/src/assets/svg/lampcharge.svg
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#13297 Issue 10516
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/lineageAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#13305 Add 1.1.6 migrations dir
  bootstrap/sql/migrations/native/1.1.6/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.6/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.1.6/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.1.6/postgres/schemaChanges.sql
Labels: backend, safe to test

#13309 chore(ui): removed error toasts for API failures in summary panels
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DashboardSummary/DashboardSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/GlossaryTermSummary/GlossaryTermSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TagsSummary/TagsSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#13307 fix: python test to remove database race condition
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
Labels: Ingestion, safe to test

#13308 Check for required fields before update
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
Labels: Ingestion, backend, safe to test

#13315 Add BindUUID JDBI support to directly pass UUID to queries
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestTransactionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TokenRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v111/MigrationUtilV111.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/usage/UsageResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/BindUUID.java
Labels: backend, safe to test

#13313 Fix: Bigquery query log not picked up for multiproject
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/database/bigquery/helper.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/query_parser.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/tests/unit/test_sql_lineage.py
Labels: Ingestion, safe to test

#13291 ui: aligned assets tab ui of teams page with glossary term page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Labels: UI, safe to test

#13285 fix(#13284): persist the data between the next and back step in ingestion workflow form
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IngestionWorkflowForm/IngestionWorkflowForm.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
Labels: UI, safe to test

#13323 Fixes 13321: Fix Test Connection timeout
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/tests/unit/topology/database/test_bigquery.py
Labels: bug, Ingestion, safe to test

#13327 fix(ci): reduce cypress machines to 1
  .github/workflows/cypress-integration-tests-mysql-skip.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql-skip.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: UI, devops, safe to test

#13312 supported cypress for stored procedure and data models
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/updateDisplayName.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/voting.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/Following.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityVoting.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/StoredProcedureVersion/StoredProcedureVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dataModelsAPI.ts
Labels: UI, safe to test

#13322 fix(ui): constraint icon for table
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#13328 Update EnumBackwardCompatibilityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/EnumBackwardCompatibilityTest.java
Labels: backend, safe to test

#13325 Fix: Bigquery Table Tag not assigned
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Labels: Ingestion, safe to test

#13299 fix #11882 upgrade MLflow to 2.x
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/mlmodel/mlflow/connection.py
  ingestion/src/metadata/ingestion/source/mlmodel/mlflow/metadata.py
Labels: Ingestion, safe to test

#13334 Fix: bigquery lineage import error
  ingestion/Dockerfile
  ingestion/examples/workflows/elasticsearch.yaml
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/bigquery/query_parser.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#13314 Pipeline Service Client - Handle unexpected status response
  openmetadata-docs/content/partials/v1.1/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/partials/v1.2/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
Labels: documentation, Ingestion, backend, safe to test

#13287 chore(ui): search index details and version cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/SearchIndexDetails.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityAnnouncement.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
Labels: UI, safe to test

#13335 fix(ui): error on the search index custom attribute settings page
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#13340 fix(CI): Cypress Workflow timeout-minutes to 120
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test
