Repository open-metadata/OpenMetadata, pull requests merged in 2023-07, with the labels that each got.

#12246 ui: updated nam from data insight to data insights
  openmetadata-ui/src/main/resources/ui/src/constants/Login.constants.ts
Labels: UI, safe to test

#12247 Fixed dbt table level test
  ingestion/src/metadata/utils/entity_link.py
Labels: Ingestion, safe to test

#12229 Remove sample data connection
  ingestion/src/metadata/ingestion/source/database/sample_usage.py
  ingestion/tests/unit/source/test_source_parsing.py
Labels: Ingestion, safe to test

#12249 Fix migrations to handle entities with mal-formed FQN due to . in their name
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationUtil.java
Labels: backend, safe to test

#12251 [Docs] - How to run the Ingestion Framework
  openmetadata-docs/content/partials/v1.1.0/deployment/run-connectors-class.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/gcs-composer.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/mwaa.md
  openmetadata-docs/content/v1.1.0/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.1.0/deployment/ingestion/airflow.md
  openmetadata-docs/content/v1.1.0/deployment/ingestion/credentials.md
  openmetadata-docs/content/v1.1.0/deployment/ingestion/gcs-composer.md
  openmetadata-docs/content/v1.1.0/deployment/ingestion/github-actions.md
  openmetadata-docs/content/v1.1.0/deployment/ingestion/index.md
  openmetadata-docs/content/v1.1.0/deployment/ingestion/mwaa.md
  openmetadata-docs/content/v1.1.0/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.1.0/deployment/upgrade/index.md
  openmetadata-docs/content/v1.1.0/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/v1.1.0/menu.md
  openmetadata-docs/content/v1.1.0/releases/index.md
  openmetadata-docs/images/v1.1.0/deployment/ingestion/openmetadata/om-orchestration.png
Labels: documentation, Ingestion, safe to test

#12252 [Docs] - 1.1.0 Upgrade docs
  openmetadata-docs/content/partials/v1.1.0/deployment/upgrade/upgrade-prerequisites-110.md
  openmetadata-docs/content/v1.1.0/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.1.0/deployment/upgrade/bare-metal.md
  openmetadata-docs/content/v1.1.0/deployment/upgrade/docker.md
  openmetadata-docs/content/v1.1.0/deployment/upgrade/index.md
  openmetadata-docs/content/v1.1.0/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/v1.1.0/deployment/upgrade/versions/index.md
  openmetadata-docs/content/v1.1.0/menu.md
Labels: documentation, Ingestion, safe to test

#12143 12142.task1 - Add support for Domains
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v014__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/IndexUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/EnumBackwardCompatibilityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDomain.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/teamHierarchy.json
  openmetadata-spec/src/main/resources/json/schema/type/entityRelationship.json
Labels: backend, safe to test

#12254 Fix looker view parser
  ingestion/src/metadata/ingestion/source/dashboard/looker/columns.py
  ingestion/tests/unit/resources/lkml/recursive.explore.lkml
  ingestion/tests/unit/resources/lkml/views/recursive.view.lkml
  ingestion/tests/unit/resources/lkml/views/recursive_call.view.lkml
  ingestion/tests/unit/topology/dashboard/test_looker_lkml_parser.py
Labels: Ingestion, safe to test

#12253 Sample Data - Add users with dot in the name
  ingestion/examples/sample_data/users/users.json
Labels: Ingestion, safe to test

#12256 Fix None completed_at time for dbt test
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#12260 [Docs] - Upgrade docs: Add log and sort_buffer_size
  openmetadata-docs/content/partials/v1.1.0/deployment/upgrade/upgrade-prerequisites-110.md
Labels: documentation, Ingestion, safe to test

#12259 Add Airflow Migrations for IAM RDS connection
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v013__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v013__create_db_connection_info.sql
Labels: Ingestion, safe to test

#12258 support(ui): superset with basic and iam auth type
  openmetadata-ui/src/main/resources/ui/src/utils/ConnectionSchemas/SupersetConnection.json
Labels: UI, safe to test

#12217 Fix #10181: Dot character in service names cause issues when running the ingestion
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
Labels: Ingestion, backend, safe to test

#12261 solved table api throw 404 error
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#12262 Docker env variables
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#12265 Docker env variables (#12262)
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#12266 [Docs] - Add migration time warning
  openmetadata-docs/content/partials/v1.1.0/deployment/upgrade/upgrade-prerequisites-110.md
Labels: documentation, Ingestion, safe to test

#12263 Added Server migration table to utility
  ingestion/src/metadata/cli/db_dump.py
Labels: Ingestion, backend, safe to test

#12268 Fix DL migrations
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v013__create_db_connection_info.sql
Labels: Ingestion, safe to test

#12130 Fixes #12129 : enhance bigquery sample data query
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/__init__.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/processor/sqlalchemy/bigquery_sampler.py
  ingestion/src/metadata/profiler/source/bigquery/profiler_source.py
  ingestion/src/metadata/profiler/source/bigquery/queries.py
Labels: Ingestion, safe to test

#12271 Fix db filter name in resource list
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
Labels: Ingestion, backend, safe to test

#12267 ui: added unit test for data quality page part 1
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.tsx
Labels: UI, safe to test

#12273 Added table level test and intermediate models in dbt E2E Test
  ingestion/tests/cli_e2e/base/test_cli_dbt.py
  ingestion/tests/cli_e2e/dbt/redshift/redshift.yaml
  ingestion/tests/cli_e2e/test_cli_dbt_redshift.py
Labels: Ingestion, safe to test

#12276 Fixed MySQL e2e count
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#11588 11587 Task 1 - Simplify field inheritance from parent to child entities
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: backend, safe to test

#12280 Upgrade dependencies for 1.2.0 release
  common/pom.xml
  openmetadata-service/pom.xml
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  pom.xml
Labels: backend, safe to test

#12283 fix lookup issue in case the provided username with email does not ex…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/AuthenticatorHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/NoopAuthenticator.java
Labels: backend, safe to test

#12281 Fix TestCase indexing: exclude change descripiton from indexing
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TestCaseIndex.java
Labels: backend, safe to test

#12285 Fix glossary reviewer pytests
  ingestion/tests/integration/ometa/test_ometa_glossary.py
Labels: Ingestion, safe to test

#12159 Fixes 11924 : Add pgspider support
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/src/metadata/ingestion/source/database/postgres/pgspider/__init__.py
  ingestion/src/metadata/ingestion/source/database/postgres/pgspider/lineage.py
  ingestion/src/metadata/ingestion/source/database/postgres/pgspider/queries.py
  ingestion/tests/unit/resources/datasets/pgspider_child_tables.json
  ingestion/tests/unit/resources/datasets/pgspider_multi_tenant_tables.json
  ingestion/tests/unit/test_pgspider_lineage_unit.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
Labels: Ingestion, backend, safe to test

#12292 Fix Filter Pattern
  ingestion/src/metadata/ingestion/source/database/database_service.py
Labels: Ingestion, safe to test

#12287 fix(UI): login related bug
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
Labels: UI, safe to test

#12299 fix: work around for DI reindexing
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
Labels: Ingestion, backend, safe to test

#12295 fix(ui): glossary name with dot loading issue
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/entity-version-time-line.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TeamUtils.ts
Labels: UI, backend, safe to test

#12306 fix(ui): cypress fix for login with email
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
Labels: UI, safe to test

#12307 Fix TestCase index
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TestCaseIndex.java
Labels: backend, safe to test

#12293 Fixes #12270: Filter Pattern Delete issue
  ingestion/src/metadata/ingestion/source/database/database_service.py
Labels: Ingestion, safe to test

#12277 feat(ui): supported latest ui for the database page
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#12314 Clickhouse Connection Argument Nonetype Bug
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/connection.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#12312 Handle empyt test suites field
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TestCaseIndex.java
Labels: Ingestion, backend, safe to test

#12317 Update PIP in cypress and docker workflows
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
Labels: Ingestion, devops, safe to test

#12320 Fix Test Issues
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationUtil.java
Labels: backend, safe to test

#12257 fix: general ui feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/dropdown/AnchorDropDownList.style.less
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/toggle-switch.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test

#12323 Add Datalake E2E
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/tests/cli_e2e/database/datalake_s3/datalake_s3.yaml
  ingestion/tests/cli_e2e/test_cli_datalake.py
Labels: Ingestion, devops, safe to test

#12244 Fixes 11973: Pass required parameters while patching the description of a TestCase
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  openmetadata-docs/content/v1.1.0/developers/contribute/build-code-and-run-tests/ingestion-framework.md
  openmetadata-docs/content/v1.1.0/developers/contribute/build-code-and-run-tests/openmetadata-server.md
  openmetadata-docs/content/v1.1.0/quick-start/local-deployment.md
Labels: documentation, Ingestion, safe to test

#12336 Add jq
  .github/workflows/docker-openmetadata-server.yml
  .github/workflows/maven-build.yml
Labels: backend, devops, safe to test

#12335 Fix OpenMetadata schema to TypeScript generation
  .github/workflows/docker-openmetadata-server.yml
  openmetadata-docs/content/v1.1.0/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
  openmetadata-ui/src/main/resources/ui/json2ts.sh
  package.json
  yarn.lock
Labels: documentation, UI, backend, devops, safe to test

#12337 Fixed cli e2e yml for datalake region value
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, devops, safe to test

#12330 Update sort buffer in quickstart docker
  docker/docker-compose-quickstart/docker-compose.yml
Labels: Ingestion, devops, safe to test

#12338 Update py-cli-e2e-tests.yml
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/tests/cli_e2e/test_cli_datalake_s3.py
Labels: Ingestion, devops, safe to test

#12340 Add query_entity migration fix
  bootstrap/sql/org.postgresql.Driver/v013__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/mysql/v110/MySQLMigration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/postgres/v110/PostgresMigration.java
Labels: Ingestion, backend, safe to test

#12279 ui: added unit test for data quality component part 2
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
Labels: UI, safe to test

#12339 Fix #12313 - Airflow lineage parsing and schedules
  ingestion/src/metadata/cli/db_dump.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/models.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/utils.py
  ingestion/tests/unit/topology/pipeline/test_airflow.py
  openmetadata-docs/content/v1.1.0/connectors/pipeline/airflow/mwaa.md
Labels: documentation, Ingestion, safe to test

#12304 Fix assertEqual parameters in validateCreatedEntity method
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/StorageServiceResourceTest.java
Labels: backend, safe to test

#12264 chore(ui): remove unused tags files and minor ui fixes
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerEntityTable/TagsContainerEntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerEntityTable/TagsContainerEntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV1/TagsContainerV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV1/TagsContainerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsTree/TagsTreeForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
Labels: UI, safe to test

#12324 chore(#6741): use antlr parser for fqn and entityLink
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/@types/antlr-parser.d.ts
  openmetadata-ui/src/main/resources/ui/src/antlr/EntityLinkSplitListener.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#12327 Fix #12321 - Deprecate impala scheme from Hive
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v014__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
Labels: Ingestion, backend, safe to test, Backward-Incompatible-Change

#12354 ui: worked on feedback part -1
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/SingleColumnProfile.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#12356 fix: ui feedbacks
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/explore-search-card.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDataCardBody/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/recently-viewed.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndex.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/menu.less
Labels: UI, safe to test

#12358 feat(ui): support custom cron syntax for ingestion
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/CronUtils.ts
Labels: UI, safe to test

#12364 fix(chore): Prepare Main Branch with next release (1.2.0)
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-ingestion/docker-compose-ingestion-postgres.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-ingestion/env-mysql
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  pom.xml
Labels: Ingestion, devops, safe to test

#12393 [Test] - Run CI for Python 3.10
  .github/workflows/py-tests-skip.yml
  .github/workflows/py-tests.yml
Labels: Ingestion, devops, safe to test

#12386 ui: work on data quality feedback part 2
  openmetadata-ui/src/main/resources/ui/src/components/Chart/CustomBarChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Chart/OperationDateBarChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/components/rechart.less
  openmetadata-ui/src/main/resources/ui/src/styles/index.js
Labels: UI, safe to test

#12396 Fix Pom versions
  common/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
Labels: UI, backend, safe to test

#12397 Update pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
Labels: backend, safe to test

#12369 Clean up profiler
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/profiler/README.md
  ingestion/src/metadata/profiler/api/workflow.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/hybrid/histogram.py
  ingestion/src/metadata/profiler/metrics/static/unique_count.py
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/default.py
  ingestion/src/metadata/profiler/processor/handle_partition.py
  ingestion/src/metadata/profiler/processor/runner.py
  ingestion/src/metadata/profiler/processor/sampler/pandas/__init__.py
  ingestion/src/metadata/profiler/processor/sampler/pandas/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sampler_factory.py
  ingestion/src/metadata/profiler/processor/sampler/sampler_interface.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/__init__.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/profiler/processor/sqlalchemy/bigquery_sampler.py
  ingestion/src/metadata/profiler/source/base/profiler_source.py
  ingestion/src/metadata/profiler/source/bigquery/profiler_source.py
  ingestion/src/metadata/profiler/source/bigquery/queries.py
  ingestion/src/metadata/profiler/source/profiler_source_factory.py
  ingestion/src/metadata/profiler/source/profiler_source_interface.py
  ingestion/src/metadata/utils/profiler_utils.py
  ingestion/tests/unit/profiler/pandas/__init__.py
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/pandas/test_sqa_profiler_interface.py
  ingestion/tests/unit/profiler/sqlalchemy/__init__.py
  ingestion/tests/unit/profiler/sqlalchemy/test_metrics.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sqa_profiler_interface.py
  ingestion/tests/unit/profiler/test_converter.py
  ingestion/tests/unit/profiler/test_profiler_partitions.py
  ingestion/tests/unit/profiler/test_utils.py
  ingestion/tests/unit/profiler/test_workflow.py
  openmetadata-docs/images/connectors/profiler/profilerUMLDiagram.png
Labels: documentation, Ingestion, profiler, safe to test

#12294 fix(ui): parent container is not populating in breadcrumb
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/BreadCrumb/TitleBreadcrumbSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/Skeleton.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/title-breadcrumb/title-breadcrumb.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#12401 [Docs] - Add missing links
  openmetadata-docs/content/v1.1.0/connectors/database/clickhouse/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/databricks/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/datalake/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/db2/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/druid/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/dynamodb/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/glue/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/hive/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/mariadb/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/mongodb/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/pinotdb/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/presto/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/salesforce/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/sap-hana/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/singlestore/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.1.0/connectors/database/vertica/yaml.md
Labels: documentation, Ingestion, safe to test

#12398 Fix #12190 - Bring support for Airflow 2.6 & Use Airflow 2.6.3 as the new ingestion base
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/utils.py
  openmetadata-docs/content/v1.1.0/deployment/ingestion/openmetadata.md
Labels: documentation, Ingestion, safe to test

#12392 fix(ui): local files line ending issue with pre-commit
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
Labels: UI, safe to test

#12407 Fix postgres container init
  docker/development/docker-compose-postgres.yml
Labels: Ingestion, devops, safe to test

#12416 Increase sqlfluff parsing timeout and prepare bump dev version
  ingestion/setup.py
  ingestion/src/metadata/ingestion/lineage/parser.py
Labels: Ingestion, safe to test

#12183 Add support for Superset datamodels
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/client.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/models.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#12404 Migrated DynamoDB to NoSQL type
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/models.py
Labels: Ingestion, safe to test

#12371 Removed datamodels references from dashboard and datamodels
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v014__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
Labels: Ingestion, backend, safe to test

#12420 Fix bq e2e error
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/__init__.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/processor/sampler/__init__.py
  ingestion/src/metadata/profiler/processor/sampler/sampler_factory.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/bigquery/__init__.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/tests/unit/profiler/pandas/test_sqa_profiler_interface.py
Labels: Ingestion, profiler, safe to test

#12409 Fix Migration Issues, Log issues
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationUtil.java
  openmetadata-service/src/main/resources/logback.xml
Labels: backend, safe to test

#12428 Fix Missing Config on Error Page Response in #UI
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/OMErrorPageHandler.java
Labels: backend, safe to test

#12274 Handle Table type for Snowflake Transient Tables
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v014__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v014__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
  openmetadata-docs/content/v1.1.0/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.1.0/connectors/database/snowflake/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Snowflake.md
Labels: documentation, UI, Ingestion, backend, safe to test

#12365 Ingestion Pipeline - Bulk deploy API & Status response updated
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/pom.xml
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/pipelineServiceClientResponse.json
  openmetadata-ui/src/main/resources/ui/src/hooks/useAirflowStatus.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useAirflowStatus.ts
  openmetadata-ui/src/main/resources/ui/src/interface/AirflowStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Labels: UI, Ingestion, backend, safe to test

#12435 Fixes Issue #11803 #12103 - Add BigQuery Struct Support
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/source/bigquery/type_mapper.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_map_struct.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
Labels: Ingestion, profiler, safe to test

#12422 add sample data for table profile
  ingestion/examples/sample_data/profiler/tableProfile.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#12421 fix(#12403): áéíóú ÁÉÍÓÚ characters not allowed in glossary, glossary term, classification and tag names
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.test.ts
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
Labels: UI, safe to test

#12426 fix: glossary term incorrect relationship
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Labels: UI, safe to test

#12441 Fix explore cache name
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
Labels: Ingestion, safe to test

#12437 Fix issue while storing empty email
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, backend, safe to test

#12419 ui: revamp entity task component
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDescription/TableDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDescription/TableDescription.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/entity.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTaskDescription/EntityTaskDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTaskTags/entityTaskTags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTasks/EntityTasks.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTasks/EntityTasks.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTasks/EntityTasks.test.tsx
Labels: UI, safe to test

#12424 fix(ui): user page scroll issue on tabs and pagination
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.style.less
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.test.tsx
Labels: UI, safe to test

#12448 Fixes #12447 Use JSON schema constraint validation in CSV imports
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ValidatorUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/ValidatorUtilTest.java
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDataProduct.json
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDomain.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/dataProduct.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
Labels: backend, safe to test

#12161 added composition aggs to aggregate API
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
Labels: backend, safe to test

#12454 Add missing Expert Enum name
  openmetadata-spec/src/main/resources/json/schema/type/entityRelationship.json
Labels: backend, safe to test

#12455 Fix Docker Import
  docker/__init__.py
  docker/validate_compose.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
Labels: Ingestion, devops, safe to test

#12456 fix: type errors for unit tests
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
Labels: UI, safe to test

#12457 install 3rd party for running validate compose docker
  docker/run_local_docker.sh
Labels: Ingestion, devops, safe to test

#12430 ui: worked on skip test of the cypress
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Labels: UI, safe to test

#12446 fix(ui): show message based on pipeline service platform
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#12464 Add CLI lineage utility
  ingestion/pipelines/lineage.yaml
  ingestion/setup.py
  ingestion/src/metadata/cli/lineage.py
  ingestion/src/metadata/cmd.py
Labels: Ingestion, safe to test

#12469 Move setting common patch and updated fields to EntityRepository
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/ResourceRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerUpdateService.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#12471 fix: json schema ref and id path
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/containerMetadataConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
Labels: UI, backend, safe to test

#12474 Add Env for WebConfiguration and options available for response headers
  conf/openmetadata.yaml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: backend, devops, safe to test

#12476 cypress: worked on upgrade test cypress part 1
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/Airflow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/MlFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/S3Storage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Alerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/CustomLogoConfig.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
Labels: UI, safe to test

#12481 Disabled pymssql dependancy
  ingestion/setup.py
Labels: Ingestion, safe to test

#12349 Support Snowflake Database or Schema when has . in the name
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
  ingestion/src/metadata/utils/fqn.py
Labels: Ingestion, safe to test

#12492 Increase lineage parsing timeout
  ingestion/pipelines/lineage.yaml
  ingestion/setup.py
  ingestion/src/metadata/cli/lineage.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Labels: Ingestion, safe to test

#12472 12142.task3 Add support for inheriting domain from parent to child
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dashboards/DashboardResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/WebhookCallbackResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
Labels: backend, safe to test

#12493 Code cleanup.20230718
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/api/feed/createThread.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/dataProduct.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/entity/policies/policy.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/role.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-spec/src/main/resources/json/schema/type/entityReferenceList.json
  openmetadata-spec/src/main/resources/json/schema/type/votes.json
Labels: backend, safe to test

#12484 List Deleted table Profile
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: backend, safe to test

#12478 Databricks: Support column comments in case of complex columns
  ingestion/src/metadata/ingestion/source/database/databricks/models.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
Labels: Ingestion, safe to test

#12499 Fix Dependency issue - mssql
  ingestion/setup.py
Labels: Ingestion, safe to test

#12473 fix: lineage full screen view
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/Entitylineage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/lineagePage.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#12460 cypress: worked on skip test cypress part 2
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
Labels: UI, safe to test

#12487 Add API docs for v1.1.0
  openmetadata-docs/content/v1.1.0/developers/apis/api-organization.md
  openmetadata-docs/content/v1.1.0/developers/apis/implementation-notes.md
  openmetadata-docs/content/v1.1.0/developers/apis/index.md
Labels: documentation, backend, safe to test

#12462 Improvement(ui): service, database and schema page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/FollowersModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/FollowersModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelsInterface.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/database-schema-page.less
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/mocks/ServiceDetailsPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/databaseAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/pipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/storageAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/topicsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#12450 Fix #2957: Add support for qlik sense enterprise connector
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/qlik_sense.yaml
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/client.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/constants.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/models.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/topology/dashboard/test_qliksense.py
  openmetadata-docs/content/v1.1.1-SNAPSHOT/connectors/dashboard/index.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/connectors/dashboard/qliksense/certificates.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/connectors/dashboard/qliksense/yaml.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/connectors/index.md
  openmetadata-docs/content/v1.1.1-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.1.1/connectors/qliksense/add-new-service.png
  openmetadata-docs/images/v1.1.1/connectors/qliksense/qlik-certificate-nav.png
  openmetadata-docs/images/v1.1.1/connectors/qliksense/qlik-export-cert.png
  openmetadata-docs/images/v1.1.1/connectors/qliksense/qlik-locate-certificates.png
  openmetadata-docs/images/v1.1.1/connectors/qliksense/select-service.png
  openmetadata-docs/images/v1.1.1/connectors/qliksense/service-connection.png
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/qliksense.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/qlikSenseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/QlikSense.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-qlik-sense.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: documentation, UI, Ingestion, backend, safe to test

#12506 test(ui): e2e tests for recently viewed and following
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/Following.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
Labels: UI, safe to test

#12512 Added missing menu items for v1.1.0 documentation
  openmetadata-docs/content/v1.1.0/menu.md
Labels: documentation, UI, safe to test

#12438 fixed glossary name not visible after reindex issue
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/glossary_index_mapping.json
Labels: backend, safe to test

#12511 fix(ui): tour with permission errors on multiple steps
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#12381 improvements: added unit tests for version pages
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/DataAssetsVersionHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableVersion/TableVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/ContainerVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/MlModelVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Permissions.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/PipelineVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TableVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TopicVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/VersionCommon.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/dashboardVersion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.test.tsx
Labels: UI, safe to test

#12504 Fix #12301: Fix Vertica col comments for projections with the same name
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
Labels: Ingestion, safe to test

#12490 Fixes Mssql Ntext, text and Image
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/metrics/hybrid/histogram.py
  ingestion/src/metadata/profiler/metrics/static/count.py
  ingestion/src/metadata/profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/max_length.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/metrics/static/min_length.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/metrics/static/sum.py
  ingestion/src/metadata/profiler/metrics/static/unique_count.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/orm/converter/__init__.py
  ingestion/src/metadata/profiler/orm/converter/base.py
  ingestion/src/metadata/profiler/orm/converter/bigquery/__init__.py
  ingestion/src/metadata/profiler/orm/converter/bigquery/converter.py
  ingestion/src/metadata/profiler/orm/converter/common.py
  ingestion/src/metadata/profiler/orm/converter/dispatch_converter.py
  ingestion/src/metadata/profiler/orm/converter/mssql/__init__.py
  ingestion/src/metadata/profiler/orm/converter/mssql/converter.py
  ingestion/src/metadata/profiler/orm/converter/registry.py
  ingestion/src/metadata/profiler/orm/converter/snowflake/__init__.py
  ingestion/src/metadata/profiler/orm/converter/snowflake/converter.py
  ingestion/src/metadata/profiler/orm/functions/count.py
  ingestion/src/metadata/profiler/orm/functions/length.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/orm/types/custom_image.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_datalake_s3.py
  ingestion/tests/cli_e2e/test_cli_hive.py
  ingestion/tests/integration/ometa/test_ometa_connection_definition_api.py
  ingestion/tests/integration/orm_profiler/test_converter.py
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_map_struct.py
  ingestion/tests/unit/profiler/test_converter.py
  ingestion/tests/unit/profiler/test_utils.py
  ingestion/tests/unit/profiler/test_workflow.py
  ingestion/tests/unit/readers/test_credentials.py
  ingestion/tests/unit/test_column_type_parser.py
  ingestion/tests/unit/test_ometa_to_dataframe.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
  ingestion/tests/unit/test_usage_log.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
  ingestion/tests/unit/topology/database/test_postgres.py
  ingestion/tests/unit/topology/database/test_salesforce.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, backend, safe to test

#12483 fix #2936: Support Usage connector for Trino
  ingestion/src/metadata/examples/workflows/trino_lineage.yaml
  ingestion/src/metadata/examples/workflows/trino_usage.yaml
  ingestion/src/metadata/ingestion/source/database/trino/lineage.py
  ingestion/src/metadata/ingestion/source/database/trino/queries.py
  ingestion/src/metadata/ingestion/source/database/trino/query_parser.py
  ingestion/src/metadata/ingestion/source/database/trino/usage.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
Labels: Ingestion, backend, safe to test

#12440 Fixes 12439: Remove braces from approx_percentile method (Trino/Presto) in profiler
  ingestion/src/metadata/profiler/orm/functions/median.py
Labels: UI, Ingestion, safe to test

#12531 Fix: Clickhouse profiler fix - Cast null nulltype issue
  ingestion/src/metadata/ingestion/source/database/clickhouse/metadata.py
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/profiler/metrics/hybrid/histogram.py
  ingestion/src/metadata/profiler/metrics/static/count_in_set.py
  ingestion/src/metadata/profiler/metrics/static/ilike_count.py
  ingestion/src/metadata/profiler/metrics/static/like_count.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/metrics/static/not_like_count.py
  ingestion/src/metadata/profiler/metrics/static/not_regexp_match_count.py
  ingestion/src/metadata/profiler/metrics/static/null_count.py
  ingestion/src/metadata/profiler/metrics/static/regexp_match_count.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/metrics/static/sum.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/orm/converter/common.py
  ingestion/src/metadata/profiler/orm/functions/length.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/orm/types/custom_ip.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: bug, Ingestion, backend, profiler, safe to test

#12521 Fixes #12523: Airflow error with lineage ingestions from services having space chars in their names
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#12524 chore(ui): ingestion workflow improvement
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/PipelineActions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/PipelineActions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/success-screen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#12543 Optimize db calls for entity_extension and field_relationship table
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/mysql/v110/MySQLMigration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/versions/postgres/v110/PostgresMigration.java
Labels: backend, safe to test

#12530 fix(ui): disable auto renew for react-okta
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/okta-auth-provider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/authenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
Labels: UI, safe to test

#12516 added docs for elasticsearch and opensearch for development Tab.
  openmetadata-docs/content/v1.1.0/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.1.0/deployment/docker/index.md
  openmetadata-docs/content/v1.1.0/deployment/kubernetes/index.md
Labels: documentation, backend, safe to test

#12514 Remove file appender from logging for tests
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
Labels: backend, safe to test

#12550 Fix/issue 12532
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: Ingestion, devops, safe to test

#12535 Fixes #12459 Members of the group, that owns the object, can't resolv…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Labels: backend, safe to test

#12537 chore(ui): stay on the same page when the task is resolved
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/KeyHelp.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.interface.ts
Labels: UI, safe to test

#12556 Fix Cast and Col checks - Clickhouse
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/profiler/orm/functions/sum.py
Labels: Ingestion, safe to test

#12395 added missing aggregation for query API
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearchQuickFilters.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/advancedSearchQuickFilters.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/sonar-project.properties
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/exlore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/mocks/ExploreQuickFilters.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#12508 cypress: worked on upgrade test part 2
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/CreateErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/placeholder.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test

#12546 Fixed mssql comments
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
Labels: Ingestion, safe to test

#12547 fix(ui): the tags not showing in database update tags
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Database/DatabaseDetails.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#12548 backend changes for feedback - (Activity feed alert)
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
Labels: backend, safe to test

#12562 Fixing/security scan
  ingestion/Dockerfile
Labels: Ingestion, devops, safe to test

#12551 e2e: add cypress test for task flow
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AssigneeList/AssigneeList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
Labels: UI, safe to test

#12525 ui(fix): supported ellipses in tags and remove old componet
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/Tags.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/tagsV1.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#12569 feat(ui): supported read more in for tags on entity pages
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/ContainerSummary/ContainerSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DashboardSummary/DashboardSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/MlModelSummary/MlModelSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/PipelineSummary/PipelineSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDataCardBody/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#12566 fix(ui): loader on data quality page
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.tsx
Labels: UI, safe to test

#12575 ui: fixed ingestion button redirection issue, testCase api call issue
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCaseCommonTabContainer/TestCaseCommonTabContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
Labels: UI, safe to test

#12554 fix: fqn encoding fixes
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChartV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPILatestResultsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsightV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/user-select-dropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddDataInsightReportAlert/AddDataInsightReportAlert.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#12567 chore: feed and task improvements
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedDrawer/ActivityFeedDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: UI, safe to test

#12574 fix date issues in table profile
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
Labels: backend, safe to test

#12536 chore(client): new UI for the tier-card
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/tier-card.style.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test
