Repository open-metadata/OpenMetadata, pull requests merged in 2023-11, with the labels that each got.

#13801 cypress: fixed AUT failure part 1
  openmetadata-ui/src/main/resources/ui/cypress/common/entityUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/entityConstant.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/updateDisplayName.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/UpdateDisplayName.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
Labels: UI, safe to test

#13744 feat(ui): revamp user profile page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileImage/UserProfileImage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileImage/UserProfileImage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileInheritedRoles/UserProfileInheritedRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileInheritedRoles/UserProfileInheritedRoles.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileRoles/UserProfileRoles.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileRoles/UserProfileRoles.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileTeams/UserProfileTeams.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Chip/Chip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Chip/Chip.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/User.mock.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#13812 Add support for partitioned table support for Athena
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
Labels: Ingestion, safe to test

#13791 fix: handle null aggregation bucket
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesByTierAggregator.java
Labels: Ingestion, backend, safe to test, data insight

#13793 fix: domain assignment for glossary term
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test

#13818 cypress: fixed AUT cypress test part 2
  openmetadata-ui/src/main/resources/ui/cypress/common/DomainUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/VersionUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/Following.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaSearch.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/UpdateDisplayName.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityAnnouncement.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityVoting.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TotalCountForTeams&Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileRoles/UserProfileRoles.interface.ts
Labels: UI, safe to test

#13815 [Docs] - MWAA ECS Operator updates
  openmetadata-docs/content/v1.2.x/deployment/ingestion/mwaa.md
Labels: documentation, Ingestion, safe to test

#13826 Add Multilingual Support in EntityLink
  ingestion/tests/unit/metadata/utils/test_entity_link.py
  ingestion/tests/unit/test_entity_link.py
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
Labels: bug, Ingestion, backend, safe to test

#13825 cypress: fixed bug of passing undefined instead of entity name
  openmetadata-ui/src/main/resources/ui/cypress/common/VersionUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/UpdateDisplayName.spec.js
Labels: UI, safe to test

#13811 Fix partitioned keys
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/PartitionedKeys/PartitionedKeys.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#13833 cypress: fix AUT failure part 3
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/redshiftWithDBT.spec.js
Labels: UI, safe to test

#13813 Backend support for filtering by votes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#13834 [Docs] - Workflow Breaking Changes - Custom Connectors
  openmetadata-docs/content/partials/v1.2/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.2.x/deployment/index.md
  openmetadata-docs/content/v1.2.x/sdk/python/build-connector/bulk-sink.md
  openmetadata-docs/content/v1.2.x/sdk/python/build-connector/index.md
  openmetadata-docs/content/v1.2.x/sdk/python/build-connector/sink.md
  openmetadata-docs/content/v1.2.x/sdk/python/build-connector/source.md
  openmetadata-docs/content/v1.2.x/sdk/python/build-connector/stage.md
Labels: documentation, Ingestion, safe to test

#13838 Added stored procedures sample data
  ingestion/examples/sample_data/datasets/stored_procedures.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#13844 fix: handle postgres migration error
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v120/MigrationUtil.java
Labels: bug, Ingestion, backend, safe to test, migration

#13840 cypress: fixed cypress AUT failure part 4
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
Labels: UI, safe to test

#13835 revamp(ui): whats new alert box popup
  openmetadata-ui/src/main/resources/ui/.licenseheaderignore
  openmetadata-ui/src/main/resources/ui/.prettierignore
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/@types/gif.d.ts
  openmetadata-ui/src/main/resources/ui/src/assets/gif/whats-new-loader.gif
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-arrow-right-full.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-play-button.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-share.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewModal.styles.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Labels: UI, safe to test

#13847 update roadmap
  openmetadata-docs/content/v1.2.x/releases/roadmap/index.md
Labels: documentation, backend, safe to test

#13817 Update baremetal installation docs to refer Java 17
  openmetadata-docs/content/v1.2.x/deployment/bare-metal/index.md
Labels: documentation, backend, safe to test

#13841 docs: Add breaking changes for the use of `DB_PARAMS`
  openmetadata-docs/content/partials/v1.2/deployment/upgrade/upgrade-prerequisites.md
Labels: documentation, devops, safe to test

#13848 fix(cypress): what's new pop-up alert box
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Labels: UI, safe to test

#13851 fix(docs): Helm Values and Snippet usage for `DB_PARAMS`
  openmetadata-docs/content/v1.2.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.2.x/deployment/docker/index.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/values.md
Labels: documentation, devops, safe to test

#13842 [DOC-FIX] Update docs of keycloak SSO
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/kubernetes.md
Labels: documentation, devops, safe to test

#13856 Fixed avro recursive record infinite loop
  ingestion/src/metadata/parsers/avro_parser.py
  ingestion/tests/unit/test_avro_parser.py
Labels: Ingestion, safe to test

#13837 Added 1.2.1 migration files and postgres migration fixes
  bootstrap/sql/migrations/native/1.2.1/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.2.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.1/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.2.1/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#13857 Fixes 13816: Remove Excess Permissions for athena
  openmetadata-docs/content/v1.0.x/connectors/database/athena/airflow.md
  openmetadata-docs/content/v1.0.x/connectors/database/athena/cli.md
  openmetadata-docs/content/v1.0.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/yaml.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Athena.md
Labels: documentation, UI, safe to test

#13869 Fix Trino Dialect Import issue
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
Labels: Ingestion, safe to test

#13819 Fixes #13803 : Reduce the number of call in case of columns
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/test/NoOpTestApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppMarketPlaceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppMarketPlaceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/bots/BotResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/FieldInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/createAppRequest.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/searchIndex.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/type/schema.json
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/applicationAPI.ts
Labels: UI, backend, safe to test

#13854 fix: add application enable disable state
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/ApplicationCard/ApplicationCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/ApplicationCard/ApplicationCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/applicationAPI.ts
Labels: UI, safe to test

#13861 fix: use aggregation search instead of suggest query
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/searchAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/searchAPI.ts
Labels: UI, safe to test

#13832 Update local-docker-deployment.md
  openmetadata-docs/content/v1.2.x/quick-start/local-docker-deployment.md
Labels: documentation

#13881 Fix Pagination Api failure
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#13877 Allow Activity Feed to have User entity Updates
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
Labels: backend, safe to test

#13883 Prevent Rules with same name in a Policy
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
Labels: backend, safe to test

#13864 Fixes #13863 - Show inherited relationships of an entity
  ingestion/tests/integration/ometa/test_ometa_glossary.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/entityReference.json
Labels: Ingestion, backend, safe to test

#13858 cypress: Auto skip test part 1
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.component.tsx
Labels: UI, safe to test

#13886 fix: paginating test cases with testSuiteId filter
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, safe to test

#13843 update respective index with the assets
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
Labels: backend, safe to test

#13872 Cost Analysis: Process entities with support for profiler and usage
  ingestion/src/metadata/data_insight/producer/cost_analysis_producer.py
  ingestion/src/metadata/data_insight/producer/entity_producer.py
  ingestion/src/metadata/data_insight/producer/producer_factory.py
  ingestion/src/metadata/data_insight/producer/web_analytics_producer.py
Labels: Ingestion, safe to test

#13893 fix(ui): table data issue in entity table lineage sidebar
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.interface.ts
Labels: UI, safe to test

#13899 fix(docs): `curl` command of quickstart guide
  openmetadata-docs/content/v1.2.x/quick-start/local-docker-deployment.md
Labels: documentation, devops, safe to test

#13859 fix(chore): UI feedback fixes
  openmetadata-ui/src/main/resources/ui/src/components/Form/Form.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Form/FormItemLabel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Form/FormItemLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/StyleModal/StyleModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#13897 fix(ui): fix search not working in roles input in user profile page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#13902 fix(ui): tour page not showing
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Labels: UI, safe to test

#13904 fix: remove RESULT_SCAN dep.
  ingestion/src/metadata/profiler/metrics/system/queries/snowflake.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/utils/profiler_utils.py
Labels: Ingestion, profiler, safe to test

#13908 Remove Migration Extension Path Env
  conf/openmetadata.yaml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
Labels: backend, devops, safe to test

#13910 remove wildcard search from source url search OS
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#13726 Update Dockerfiles to run OMD as non-root user
  docker/development/Dockerfile
  docker/docker-compose-quickstart/Dockerfile
Labels: devops

#13887 Add support for external profiler workflow
  ingestion/src/metadata/ingestion/source/database/azuresql/metadata.py
  ingestion/src/metadata/ingestion/source/database/azuresql/queries.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/greenplum/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/multi_db_source.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/profiler/source/metadata_ext.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/src/metadata/workflow/metadata.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/src/metadata/workflow/usage.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
Labels: Ingestion, backend, safe to test

#13888 [Snyk] Security upgrade software.amazon.awssdk:secretsmanager from 2.21.5 to 2.21.16
  openmetadata-service/pom.xml
Labels: backend, safe to test

#13369 put correct dataset only
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Labels: Ingestion, safe to test

#13536 Filter unnecessary jars and only look for openmetadata jars to regist…
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  openmetadata-service/src/main/resources/json/data/document/activityFeed.json
  openmetadata-service/src/main/resources/json/data/document/announcements.json
  openmetadata-service/src/main/resources/json/data/document/following.json
  openmetadata-service/src/main/resources/json/data/document/kpi.json
  openmetadata-service/src/main/resources/json/data/document/myData.json
  openmetadata-service/src/main/resources/json/data/document/totalAssets.json
Labels: backend, safe to test

#13821 Fix paging
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionListTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionPipelineList/IngestionPipelineList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsIngestion/SettingsIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsIngestion/SettingsIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/UserTab/UserTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/UserTab/UserTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/paging/usePaging.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ClassificationVersionPage/ClassificationVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/EditLoginConfiguration/EditLoginConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/LoginConfigurationDetails/LoginConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPageSettings/CustomPageSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MarketPlacePage/MarketPlacePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoreProcedure.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/user-list-page-v1.less
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#13918 feat: limit fields used for database schema search in database view
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
Labels: UI, safe to test

#13921 [UI] Data Insight Layout looks broken in case of large number of assets #13803
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Applications/ApplicationCard/ApplicationCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DailyActiveUsersChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightDetail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/EntitySummaryProgressBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsightSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#13926 Move pandas top level import
  ingestion/src/metadata/profiler/processor/sample_data_handler.py
  ingestion/tests/cli_e2e/test_cli_athena.py
  ingestion/tests/cli_e2e/test_cli_datalake_s3.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
Labels: Ingestion, safe to test

#13898 Fixes 13896: fix fullyQualifiedName field mapping for database schema search
  openmetadata-service/src/main/resources/elasticsearch/en/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/database_schema_index_mapping.json
Labels: backend, safe to test

#13924 Fix #13699 - Add separator for Storage Container manifest
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/src/metadata/readers/dataframe/models.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/readers/test_df_reader.py
  ingestion/tests/unit/resources/datalake/transactions_separator.csv
  openmetadata-docs/content/partials/v1.2/connectors/storage/manifest.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/containerMetadataConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/manifestMetadataConfig.json
Labels: documentation, Ingestion, backend, safe to test

#13920 Fix #13906 - Fix add_mlmodel_lineage description field
  ingestion/src/metadata/ingestion/ometa/mixins/mlmodel_mixin.py
  ingestion/tests/integration/ometa/test_ometa_mlmodel_api.py
Labels: Ingestion, safe to test

#13927 Add deprecation warnings
  ingestion/src/metadata/ingestion/ometa/mixins/glossary_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/role_policy_mixin.py
  ingestion/src/metadata/utils/deprecation.py
  ingestion/tests/unit/utils/test_deprecation.py
Labels: Ingestion, safe to test

#13931 Fix #13794 - Add domain support to the Python SDK
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/tests/integration/ometa/test_ometa_domains_api.py
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDataProduct.json
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDomain.json
Labels: Ingestion, backend, safe to test

#13932 Fix ES search during lineage ingestion
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
Labels: Ingestion, safe to test

#13903 Convert dbt test result timestamps to millis
  bootstrap/sql/migrations/native/1.2.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.1/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#13935 Fix #13660 - Metadata Backup Memory Exhaustion
  ingestion/src/metadata/cli/db_dump.py
Labels: Ingestion, safe to test

#13938 doc: update the custom logo docs
  openmetadata-docs/content/v1.2.x/how-to-guides/how-to-add-custom-logo.md
  openmetadata-docs/content/v1.2.x/main-concepts/high-level-design.md
  openmetadata-docs/images/v1.2/how-to-guides/custom-logo/custom-logo-application.png
  openmetadata-docs/images/v1.2/how-to-guides/custom-logo/custom-logo-form.png
  openmetadata-docs/images/v1.2/how-to-guides/custom-logo/custom-logo-login-page.png
  openmetadata-docs/images/v1.2/how-to-guides/custom-logo/custom-logo-setting.png
  openmetadata-docs/images/v1.2/how-to-guides/login-Page-Logo.png
  openmetadata-docs/images/v1.2/how-to-guides/nav-Bar-Logo.png
Labels: documentation, UI, safe to test

#13941 doc: update the bots doc
  openmetadata-docs/content/v1.2.x/how-to-guides/feature-configurations/bots.md
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/bot-listing.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/bot-token-generate.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/bot-token-page.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/click-bot.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/configure-bot.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/create-bot.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/generate-new-token.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/revoke-jwt-token.png
  openmetadata-docs/images/v1.2/how-to-guides/feature-configurations/bots/select-google-sso.png
Labels: documentation, UI, safe to test

#13916 Fix #13787: Add support for ES data types
  ingestion/src/metadata/ingestion/source/search/elasticsearch/parser.py
  ingestion/tests/unit/topology/search/test_elasticsearch.py
  openmetadata-docs/content/partials/v1.2/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-spec/src/main/resources/json/schema/entity/data/searchIndex.json
Labels: documentation, Ingestion, backend, safe to test

#13928 fix(ui): customizable landing page improvements
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/DocStoreAPI.ts
Labels: UI, safe to test

#13936 fix: allow removing assets from assets page
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/data-products-details-page.less
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/GlossaryTermSummary/GlossaryTermSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/explore-search-card.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/Assets/AssetsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test

#13944 fix(ui): fixed import path in customizable page
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
Labels: UI, safe to test

#13939 fix(ui)#13852: updated the no data placeholders for landing page widgets
  openmetadata-ui/src/main/resources/ui/src/assets/svg/KPI-not-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/activity-feed-no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcment-no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-insight-no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/following-no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/my-data-no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/recently-viewed-no-data-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/EmptyGraphPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/RecentlyViewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
Labels: UI, safe to test

#13945 fix(ui): delete widget modal bug
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
Labels: UI, safe to test

#13946 Changes in the Guide for Data Users
  openmetadata-docs/content/v1.2.x/how-to-guides/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/openmetadata/data-collaboration/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/openmetadata/data-discovery/details.md
  openmetadata-docs/content/v1.2.x/how-to-guides/openmetadata/data-governance/glossary-classification/classify-assets.md
  openmetadata-docs/content/v1.2.x/how-to-guides/openmetadata/data-governance/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/openmetadata/data-lineage/manual.md
  openmetadata-docs/content/v1.2.x/how-to-guides/quick-start-guide-for-admins/teams-and-users/add-team.md
  openmetadata-docs/content/v1.2.x/how-to-guides/quick-start-guide-for-admins/teams-and-users/add-users.md
  openmetadata-docs/content/v1.2.x/how-to-guides/quick-start-guide-for-admins/teams-and-users/invite-users.md
  openmetadata-docs/content/v1.2.x/how-to-guides/quick-start-guide-for-admins/teams-and-users/team-structure-openmetadata.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-stewards/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/add-announcement.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/announcements.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/basics-openmetadata.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/data-asset-tabs.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/data-ownership.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/delete.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/description.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/follow-data-asset.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/glossary.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/request-description.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/request-tags.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/tags.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/versions.md
  openmetadata-docs/content/v1.2.x/menu.md
Labels: documentation, safe to test

#13948 chore(ui): change github start modal to popup
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarCard/github-star-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/GithubStarModal/GithubStarModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/GithubStarModal/github-star-modal.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/PopupAlertClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
Labels: UI, safe to test

#13942 [Docs] - RDS IAM Auth
  openmetadata-docs/content/v1.2.x/deployment/iam-auth.md
  openmetadata-docs/content/v1.2.x/menu.md
Labels: documentation, Ingestion, safe to test

#13862 Auto Tagger Application - Preparing the Ingestion Framework
  ingestion/Makefile
  ingestion/src/metadata/applications/__init__.py
  ingestion/src/metadata/applications/auto_tagger.py
  ingestion/src/metadata/cli/app.py
  ingestion/src/metadata/cmd.py
  ingestion/src/metadata/utils/importer.py
  ingestion/src/metadata/utils/logger.py
  ingestion/src/metadata/workflow/application.py
  ingestion/src/metadata/workflow/application_output_handler.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/data_insight.py
  ingestion/src/metadata/workflow/data_quality.py
  ingestion/src/metadata/workflow/ingestion.py
  ingestion/src/metadata/workflow/metadata.py
  ingestion/src/metadata/workflow/output_handler.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/src/metadata/workflow/usage.py
  ingestion/src/metadata/workflow/workflow_output_handler.py
  ingestion/src/metadata/workflow/workflow_status_mixin.py
  ingestion/tests/unit/workflow/test_base_workflow.py
  openmetadata-airflow-apis/openmetadata_managed_apis/utils/logger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/application.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/registry.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ExternalApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/AutoTaggerApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/autoTaggerAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/externalAppIngestionConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/externalApplicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/application.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/applicationPipeline.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/AutoTaggerApplication.svg
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/AutoPIIApplication.json
Labels: UI, Ingestion, backend, safe to test

#13937 use displayName instead of name in service,database, databaseSchema and fixed owner and domain search issue.
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ChartIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ClassificationIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseSchemaIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryTermIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MessagingServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MetadataServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StorageServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestSuiteIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
Labels: UI, backend, safe to test

#13919 ElasticSearch: Fix ES connection
  bootstrap/sql/migrations/native/1.2.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.1/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/search/elasticsearch/connection.py
  ingestion/src/metadata/ingestion/source/search/elasticsearch/metadata.py
  ingestion/src/metadata/workflow/base.py
  openmetadata-docs/content/v1.2.x/connectors/search/elasticsearch/index.md
  openmetadata-docs/content/v1.2.x/connectors/search/elasticsearch/yaml.md
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ElasticSearchConnectionClassConverter.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/converter/ClassConverterFactoryTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/common/sslCertPaths.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/common/sslCertValues.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/common/sslConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/elasticSearch/apiAuth.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/elasticSearch/basicAuth.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/elasticSearchConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Search/ElasticSearch.md
Labels: documentation, UI, Ingestion, backend, safe to test

#13950 Nifi log incorrect password in test connection
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
Labels: Ingestion, safe to test

#13949 Fix #12406 - Ingestion image with python 3.10
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
Labels: Ingestion, safe to test

#13952 fix(ui): AUT cypress tests
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardIndex.java
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaSearch.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Labels: UI, backend, safe to test

#13956 Logs added for Search Indexing and Stats issue fixed
  ingestion/src/metadata/ingestion/source/metadata/metadata_elasticsearch/metadata.py
  ingestion/tests/unit/readers/test_github_reader.py
  ingestion/tests/unit/topology/dashboard/test_lookml_github_reader.py
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SourceException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/interfaces/Source.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appRunRecord.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppLogsViewer/AppLogsViewer.component.tsx
Labels: UI, Ingestion, backend, safe to test

#13961 Make restoring patch attributes consistent across entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DocumentRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PersonaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Labels: backend, safe to test

#13962 Fix Email Issues
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/ChangeEventConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/resources/emailTemplates/testMail.ftl
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
Labels: backend, devops, safe to test

#13955 docs: 1.2.1 Breaking Changes and miscellaneous fixes
  openmetadata-docs/content/partials/v1.2/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.2.x/deployment/docker/volumes.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/faqs.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/gke-troubleshooting.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/security.md
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/images/v1.2/deployment/kubernetes/kubernetes-architecture-prod.png
Labels: documentation, devops, safe to test

#13960 Sample Data Storage & External Profiler Docs
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/profiler/auto_tagging.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/profiler/external_workflow.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/profiler/sample_data.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/images/v1.2/features/ingestion/workflows/profiler/sample-data-config-database-1.png
  openmetadata-docs/images/v1.2/features/ingestion/workflows/profiler/sample-data-config-database-2.png
  openmetadata-docs/images/v1.2/features/ingestion/workflows/profiler/sample-data-config-schema-1.png
  openmetadata-docs/images/v1.2/features/ingestion/workflows/profiler/sample-data-config-schema-2.png
  openmetadata-docs/images/v1.2/features/ingestion/workflows/profiler/sample-data-config-service.png
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/athenaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/clickhouseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/datalakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/db2Connection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/druidConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/greenplumConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/impalaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mariaDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/pinotDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/sapHanaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/singleStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/sqliteConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/verticaConnection.json
Labels: documentation, Ingestion, backend, safe to test

#13968 [Docs] - Add nifi troubleshooting
  openmetadata-docs/content/v1.2.x/connectors/pipeline/nifi/troubleshooting.md
  openmetadata-docs/content/v1.2.x/menu.md
Labels: documentation, Ingestion, safe to test

#13971 fix: prevent PUT operation from ingestion bot to update domain
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: Ingestion, backend, safe to test

#13975 [Docs] - Fix profiler page
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/profiler/external_workflow.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/profiler/sample_data.md
Labels: documentation, Ingestion, safe to test

#13973 [Docs] use BasicAuth in python sdk docs
  openmetadata-docs/content/v1.2.x/sdk/python/index.md
  openmetadata-docs/content/v1.2.x/sdk/python/ingestion/lineage.md
  openmetadata-docs/content/v1.2.x/sdk/python/ingestion/tags.md
Labels: documentation, safe to test

#13979 Fix 121 migration
  bootstrap/sql/migrations/native/1.2.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.1/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#13984 fix: GX integration ts ms
  ingestion/src/metadata/great_expectations/action.py
Labels: Ingestion, data quality, safe to test

#13986 vers: bumped up py version
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#13990 Check change descriptions for updates consistently across the entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/automations/WorkflowResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/bots/BotResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dashboards/DashboardResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datainsight/DataInsightChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MessagingServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MlModelServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/SearchServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/StorageServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/PersonaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#13388 fixes #13387: replaced ReDoc with RapiDoc for better user experience
  openmetadata-service/pom.xml
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/RapiDocReact.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/KpiAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/queryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#13996 fix(ui): updated github popup card
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarCard/github-star-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whats-new-modal.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#13991 getChangeDescription to use entity and update type to decide previous…
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dashboards/DashboardResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MessagingServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MlModelServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/SearchServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/StorageServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/PersonaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
Labels: backend, safe to test

#13617 Fixes #13595 Consolidate changes by a user in a single session to a single change
  ingestion/src/metadata/ingestion/ometa/mixins/glossary_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/ometa/test_ometa_glossary.py
  ingestion/tests/integration/ometa/test_ometa_life_cycle_api.py
  ingestion/tests/integration/ometa/test_ometa_role_policy_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/QueryFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationWorkflowContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppMarketPlaceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/PersonaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: Ingestion, backend, safe to test

#14002 Added athena min permissions in docs
  openmetadata-docs/content/v1.1.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/yaml.md
Labels: documentation, Ingestion, safe to test

#14008 Bump Pom Version to 1.3.0-SNAPSHOT
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  Makefile
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: UI, Ingestion, backend, devops, safe to test

#14007 fix(ui): path not found in swagger file
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
Labels: UI, safe to test

#14005 ui: fixed advance search suggestion issue for user field
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
Labels: UI, safe to test

#13983 App Resource - Add /configure endpoint & WAII app definition
  ingestion/src/metadata/applications/__init__.py
  ingestion/src/metadata/workflow/base.py
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/autoTaggerAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metaPilotAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/externalApplicationConfig.json
Labels: Ingestion, backend, safe to test

#14010 Add Test Jar for Collate Testing
  openmetadata-service/pom.xml
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: backend, safe to test

#14016 Generalised Athena policy docs
  openmetadata-docs/content/v1.1.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/yaml.md
Labels: documentation, Ingestion, safe to test

#14014 Fix #14012 - Snowflake procedure with empty definition
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/models.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  openmetadata-docs/content/v1.2.x/connectors/database/snowflake/index.md
Labels: documentation, Ingestion, safe to test

#14018 Snowflake SP don't filter by warehouse
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Labels: Ingestion, safe to test

#14017 Revert "fixes #13387: replaced ReDoc with RapiDoc for better user experience (#13388)"
  openmetadata-service/pom.xml
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/RapiDocReact.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#14011 Convert query duration to milliseconds for usage
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/queries.py
  ingestion/src/metadata/ingestion/source/database/databricks/usage.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  openmetadata-ui/src/main/resources/ui/cypress/common/entityUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Labels: UI, Ingestion, safe to test

#14013 ui & backend: explore page count was not showing properly
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DomainIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryTermIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/QueryIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TagIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/UserIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, backend, safe to test

#14021 Fixes #11357 - Implement profiler custom metric processing
  ingestion/src/metadata/cmd.py
  ingestion/src/metadata/profiler/api/models.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/single_store/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/trino/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/trino/sampler.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/profiler/pandas/resources/profiler_test_.csv
  ingestion/tests/unit/profiler/pandas/test_custom_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_profiler_interface.py
  ingestion/tests/unit/profiler/sqlalchemy/test_metrics.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sqa_profiler_interface.py
  openmetadata-spec/src/main/resources/json/schema/security/ssl/verifySSLConfig.json
Labels: Ingestion, backend, profiler, safe to test

#14019 dont log es exceptions while migrate-all
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#14027 Fixes #14006 Validate tag labels before creating/updating an entity
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/CreateEntity.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createMetadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
Labels: backend, safe to test

#14026 Add `code` flow Configuration
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
Labels: backend, devops, safe to test

#14031 Update dependencies
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#14032 fix: Remove the strategy block from CI to run only with 1 machine
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#13998 fix(ui): supported test email button in email smtp page
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/EmailConfigSettingsPage/EmailConfigSettingsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/settingConfigAPI.ts
Labels: UI, safe to test

#14015 Fix #13954: Fix ParseException for older version of databricks
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/databricks/legacy/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
  ingestion/tests/unit/topology/database/test_databricks.py
Labels: Ingestion, safe to test

#14039 Fixed tableau e2e counts due to new sample data in the instance
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/tests/cli_e2e/dashboard/tableau/tableau.yaml
  ingestion/tests/cli_e2e/test_cli_tableau.py
Labels: Ingestion, devops, safe to test

#14035 fix(ui): #13963 glossary term custom property update
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
Labels: UI, safe to test

#13839 feat(ui): add support for callout in block editor
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-danger.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-info.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-note.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-warning.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-callout.svg
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/Callout.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/CalloutComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slash-command/items.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/constants/BlockEditor.constants.ts
Labels: UI, safe to test, block-editor

#14042 cypress: fixed cypress AUT failure of main
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/common/entityUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/entityConstant.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/voting.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/Following.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityVoting.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.js
Labels: UI, safe to test

#13989 Fixes #13987 database schema search pagination
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
Labels: UI, safe to test

#14050 ui: only allow updating displayName for domain and data product
  openmetadata-ui/src/main/resources/ui/cypress/common/DomainUtils.js
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
Labels: UI, safe to test

#14053 cypress: revert version related cypress in 1.2.2
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.js
Labels: UI, safe to test

#14062 Use entity cache for lookup
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/V117/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/PersonaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: backend, safe to test

#14059 cypress: fixed AUT cypress part 2
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/MlFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/plugins/index.js
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
Labels: UI, safe to test

#14051 ui: fixed re-render issue in glossary term page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test

#14025 Fix #12436 - Migrate to pyproject.toml
  .github/workflows/openmetadata-airflow-apis.yml
  .github/workflows/py-ingestion-core-publish.yml
  .github/workflows/py-ingestion-publish.yml
  Makefile
  ingestion-core/README.md
  ingestion-core/setup.py
  ingestion-core/src/metadata/_version.py
  ingestion/.coveragerc
  ingestion/Makefile
  ingestion/pyproject.toml
  ingestion/setup.cfg
  ingestion/setup.py
  openmetadata-airflow-apis/.coveragerc
  openmetadata-airflow-apis/LICENSE
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, devops, safe to test

#14064 Fix pyproject - TypeError: 'list' object is not a mapping
  ingestion/pyproject.toml
  ingestion/setup.py
Labels: Ingestion, safe to test

#14055 fix: remove quotes around fqn for domain
  openmetadata-ui/src/main/resources/ui/cypress/common/DomainUtils.js
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DataProductsTab/DataProductsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Labels: UI, safe to test

#14052 feat(ui): add RTL support in feed editor
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/feed-editor.less
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QuillUtils.js
Labels: UI, safe to test

#14069 Add Custom metrics sample data
  ingestion/examples/sample_data/datasets/tables.json
  ingestion/examples/sample_data/profiler/tableProfile.json
  ingestion/pyproject.toml
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, profiler, safe to test

#14066 chore(ui): add `tagType` prop in TagSuggestion component
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
Labels: UI, safe to test

#14072 Athena: Add support for work groups in usage & lineage
  ingestion/src/metadata/ingestion/source/database/athena/models.py
  ingestion/src/metadata/ingestion/source/database/athena/query_parser.py
  ingestion/src/metadata/ingestion/source/database/athena/usage.py
  openmetadata-docs/content/v1.2.x/connectors/database/athena/index.md
Labels: documentation, Ingestion, safe to test

#14076 Fix #14077: Fixe viewparsingtimeout migration query
  bootstrap/sql/migrations/native/1.2.3/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.2.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.3/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.2.3/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#14036 Fix #11357 - DB migration for custom metrics
  bootstrap/sql/migrations/native/1.3.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/postDataMigrationSQLScript.sql
Labels: Ingestion, profiler, safe to test, Backward-Incompatible-Change

#14080 fix: make ingestion build docker image using Dockerfile.ci
  Makefile
Labels: devops, safe to test

#14056 great-expectations~=0.18.0
  ingestion/setup.py
Labels: Ingestion, safe to test

#14085 chore(ui): add `initialOptions` prop in tag suggestion component
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/TagsSelectForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
Labels: UI, safe to test

#14078 MINOR: fix path for cli e2e coverage configuration
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, devops, safe to test

#14088 #14083: ui is breaking while updating test case and resolution status
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
Labels: UI, safe to test

#14074 cypress: work on advance search skip test
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
Labels: UI, safe to test

#14096 MINOR: fix sonar upload for py e2e tests
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, devops, safe to test

#14093 Fix pipeline task filtering for failed status
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/execution.constants.ts
Labels: UI, safe to test

#14094 Minor: Fix maven profiles to run tests for MySQL and Postgres using maven profiles
  openmetadata-service/pom.xml
Labels: backend, safe to test

#14086 fix(ui): column name overlapping in entity table
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerChildren/ContainerChildren.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetails.utils.tsx
Labels: UI, safe to test

#14097 fix(ui): unwanted scrollbar in explore page
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#14110 MINOR - Fix docs quickstart commands
  openmetadata-docs/content/v1.2.x/quick-start/local-docker-deployment.md
Labels: documentation, Ingestion, safe to test

#14111 Minor: Docs add UnityCatalog integration more prominently
  openmetadata-docs/content/v1.2.x/connectors/database/databricks/index.md
Labels: documentation, backend, safe to test
