Repository open-metadata/OpenMetadata, pull requests merged in 2023-05, with the labels that each got.

#11367 e2e: add e2e for service requirement doc panel
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
Labels: UI, safe to test

#11331 Fixed#11286: mutually exclusive tags addition check is not working for some entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
Labels: backend, safe to test

#11378 Fix #11352: Fix athena usage models
  ingestion/src/metadata/ingestion/source/database/athena/models.py
  ingestion/src/metadata/ingestion/source/database/athena/usage.py
Labels: Ingestion, safe to test

#11379 Fix: Tableau DataModel optional dataType
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
Labels: Ingestion, safe to test

#11335 fix(ui): enable no-console on eslint
  openmetadata-ui/src/main/resources/ui/.eslintrc.yaml
  openmetadata-ui/src/main/resources/ui/.prettierrc.yaml
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermReferencesModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryVersion/GlossaryVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/UserSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.test.tsx
Labels: UI, safe to test

#11382 Fix median for concatenable types
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/tests/cli_e2e/test_cli_mssql.py
  ingestion/tests/unit/profiler/test_metrics.py
Labels: Ingestion, profiler, safe to test

#11329 fixes #10077 : ingestion count issue
  openmetadata-ui/src/main/resources/ui/src/components/common/TabsPane/TabsPane.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test

#11396 Fix: Redshift E2E tests
  ingestion/tests/cli_e2e/test_cli_redshift.py
Labels: Ingestion, E2E-testing, safe to test

#11256 chore(ui): add custom storage on UI
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Storage/CustomStorage.md
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-custom-database.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-custom-model.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-custom-storage.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StorageServiceUtils.ts
Labels: UI, safe to test

#11237 Fixes#11189: Implement Impala and hive get_view_definition
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/ingestion/source/database/impala/metadata.py
Labels: safe to test

#11402 Postgres workflow description not deserialized
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/tests/integration/operations/test_airflow_ops.py
Labels: Ingestion, safe to test

#11389 Fixed clean_query method for \n
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/utils/helpers.py
Labels: Ingestion, safe to test

#11406 added mapping for ldap and saml to openmetadata
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
Labels: backend, safe to test

#11372 Cleanup FeedRepository and ChangeEventHandler
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PostResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ThreadResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ChangeEventParser.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Labels: backend, safe to test

#11408 fix: doc links
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
Labels: UI, safe to test

#11405 making downstream_task_ids field optional for airflow AirflowDagDetails
  ingestion/src/metadata/ingestion/source/pipeline/airflow/models.py
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Airflow.md
Labels: Ingestion, safe to test

#11409 Fixes #11275 -- Support GX metrics with no `observed_value`
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
Labels: Ingestion, data quality, safe to test

#11411 Issue-11338 Cypress test skip for docs
  .github/workflows/cypress-integration-tests-mysql-skip.yml
  .github/workflows/cypress-integration-tests-postgresql-skip.yml
Labels: safe to test

#11387 fix(ui): fix the errorPlaceholder visible when component is in loading state
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#11392 fixed issue for column children name
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Labels: backend, safe to test

#11395 Add Description Ngram for search
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
Labels: backend, safe to test

#11394 Fix geometry type for postgres
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
Labels: Ingestion, safe to test

#11422 bump sync-i18n to v0.0.20
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#11420 Fix #11332: Fix databricks sample data ingestion for array datatype
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/orm/types/custom_array.py
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Databricks.md
Labels: Ingestion, safe to test

#11424 Fix Vertica column fetch query
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
  ingestion/src/metadata/ingestion/source/database/vertica/queries.py
Labels: Ingestion, safe to test

#11423 fix: use search api instead of suggest on lineage node
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/NodeSuggestions.test.tsx
Labels: UI, safe to test

#11114 Label action changes for OpenMetadata teams
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: safe to test

#11433 Bump ingestion version for 1.0.0.2
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, safe to test

#11419 feat: added cypress flow of add and remove owner and tier
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuiteDetails/TestSuiteDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#11426 fix(ui): mask api token for looker connection
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Labels: UI, safe to test

#11400 Docs:Fix security doc links
  openmetadata-docs-v1/content/v1.0.0/deployment/docker/security.md
  openmetadata-docs-v1/content/v1.0.0/deployment/security/index.md
Labels: backend, safe to test

#11432 Fixes #11404 - build resource operation list programmatically
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/ResourceRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/ActivityFeedAlertCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ReportRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestConnectionDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WebAnalyticEventRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelCache.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/test/java/org/openmetadata/csv/EntityCsvTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/CompiledRuleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/SubjectContextTest.java
Labels: backend, safe to test

#11441 Fix postgres cypress issue
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
Labels: Ingestion, safe to test

#11435 fix(ui) : fix overflowing issue of alert page and added loading state in button
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ConfirmationModal/ConfirmationModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ConfirmationModal/ConfirmationModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ConfirmationModal/ConfirmationModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
Labels: UI, safe to test

#11440 fix: column level lineage path highlight
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Labels: UI, safe to test

#11444 fixes(ui) : UI improvements
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#11380 fix: remove facet filter when searching again
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/Explore/ExploreLeftPanelSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
Labels: UI, safe to test

#11425 fix(ui) - glossary feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermReferencesModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermReferencesModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryOverviewTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
Labels: UI, safe to test

#11450 fix(ui) : fix overflowing issue on entity summary panel
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
Labels: UI, safe to test

#11418 chore: rename useInfiniteScroll hook to useElementInView and add return type
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useElementInView.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useElementInView.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
Labels: UI, safe to test

#11452 ui: fixed feedback 1.0.1
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/cardlist/CardListItem/CardWithListItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/tier-card.style.less
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#11439 fix: service connection key value alignment
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-custom-database.svg
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Labels: UI, safe to test

#11427 fixed: Weekly Ingestion Workflow do not get Executed #11391
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.js
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Labels: UI, safe to test

#11454 Updated PowerBI docs to make non-admin APIs clear
  openmetadata-docs-v1/content/v1.0.0/connectors/dashboard/powerbi/airflow.md
  openmetadata-docs-v1/content/v1.0.0/connectors/dashboard/powerbi/cli.md
  openmetadata-docs-v1/content/v1.0.0/connectors/dashboard/powerbi/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/dashboard/powerbi/setup-powerbi-account.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/PowerBI.md
Labels: documentation, UI, Ingestion, safe to test

#11456 fix(ui): supported pagination in data model
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelsInterface.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#11461 Fix test connection error mess
  openmetadata-service/src/main/resources/json/data/testConnections/database/databricks.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/impala.json
  openmetadata-service/src/main/resources/json/data/testConnections/database/redshift.json
Labels: Ingestion, backend, safe to test

#11388 Impala Connection Profiler is_nan rollback; Histogram fix.
  ingestion/src/metadata/profiler/metrics/hybrid/histogram.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/src/metadata/profiler/orm/functions/sum.py
  ingestion/tests/unit/profiler/test_metrics.py
Labels: Ingestion, safe to test

#11465 Fixes #11245 - fix test failures
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/ResourceRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: backend, safe to test

#11471 Fixes #11397 hasAnyRole and inAnyTeam condition policy error
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RoleCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/SubjectContextTest.java
Labels: backend, safe to test

#11458 cy: added cypress to remove owner
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.js
Labels: UI, safe to test

#11448 Fix docs
  README.md
  openmetadata-docs-v1/content/v0.13.2/connectors/dashboard/quicksight/index.md
  openmetadata-docs-v1/content/v0.13.2/connectors/messaging/kafka/index.md
  openmetadata-docs-v1/content/v0.13.2/connectors/messaging/redpanda/index.md
  openmetadata-docs-v1/content/v0.13.2/connectors/ml-model/mlflow/index.md
  openmetadata-docs-v1/content/v0.13.2/connectors/pipeline/airbyte/index.md
  openmetadata-docs-v1/content/v0.13.2/connectors/pipeline/dagster/index.md
  openmetadata-docs-v1/content/v0.13.2/connectors/pipeline/fivetran/index.md
  openmetadata-docs-v1/content/v0.13.2/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs-v1/content/v0.13.3/connectors/dashboard/quicksight/index.md
  openmetadata-docs-v1/content/v0.13.3/connectors/messaging/kafka/index.md
  openmetadata-docs-v1/content/v0.13.3/connectors/ml-model/mlflow/index.md
  openmetadata-docs-v1/content/v0.13.3/connectors/pipeline/airbyte/index.md
  openmetadata-docs-v1/content/v0.13.3/connectors/pipeline/dagster/index.md
  openmetadata-docs-v1/content/v0.13.3/connectors/pipeline/fivetran/index.md
  openmetadata-docs-v1/content/v0.13.3/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/dashboard/quicksight/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/database/domo-database/cli.md
  openmetadata-docs-v1/content/v1.0.0/connectors/messaging/kafka/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/messaging/kinesis/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/pipeline/airbyte/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/pipeline/dagster/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/pipeline/fivetran/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs-v1/content/v1.0.0/connectors/pipeline/nifi/index.md
  openmetadata-docs-v1/content/v1.0.0/developers/webhooks.md
  openmetadata-docs-v1/content/v1.0.0/how-to-guides/custom-logo/how-to-add-custom-logo.md
  openmetadata-docs-v1/content/v1.0.0/menu.md
  openmetadata-docs-v1/images/v1.0.0/how-to-guides/login-Page-Logo.png
  openmetadata-docs-v1/images/v1.0.0/how-to-guides/nav-Bar-Logo.png
Labels: documentation, Ingestion, safe to test

#11464 Fixes #4664: Allow requests to be retried
  ingestion/src/metadata/ingestion/ometa/client.py
Labels: Ingestion, safe to test

#11462 Doc: Update docs Python examples after replacing EntityReference objects with FQN
  openmetadata-docs-v1/content/v1.0.0/sdk/python/build-connector/source.md
  openmetadata-docs-v1/content/v1.0.0/sdk/python/index.md
  openmetadata-docs-v1/content/v1.0.0/sdk/python/ingestion/lineage.md
  openmetadata-docs-v1/content/v1.0.0/sdk/python/ingestion/tags.md
Labels: documentation, Ingestion, safe to test

#11385 Fix#11216: Use Enum for SASL Mechanism for Kafka and Redpanda connections
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v010__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v010__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/messaging/kafka/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/kafkaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/redpandaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/saslMechanismType.json
Labels: Ingestion, backend, safe to test

#11459 Fix: Secrets Manager not working with Airflow AWS config
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerUpdateService.java
Labels: Ingestion, backend, safe to test

#11477 Bump python-daemon
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Labels: Ingestion, safe to test

#11442 docs: include minikube start notes for kubernetes
  openmetadata-docs-v1/content/v1.0.0/deployment/kubernetes/index.md
Labels: documentation, devops, safe to test

#11437 fix(ui): forgot password success feedback
  openmetadata-ui/src/main/resources/ui/src/components/authentication/auth-provider/basic-auth.provider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/forgot-password/forgot-password.component.tsx
Labels: UI, safe to test

#11474 Fix #11468: Fix salesforce scheme issue
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  openmetadata-docs-v1/content/v0.13.2/main-concepts/metadata-standard/schemas/entity/services/connections/database/salesforceConnection.md
  openmetadata-docs-v1/content/v0.13.3/main-concepts/metadata-standard/schemas/entity/services/connections/database/salesforceConnection.md
  openmetadata-docs-v1/content/v1.0.0/main-concepts/metadata-standard/schemas/entity/services/connections/database/salesforceConnection.md
  openmetadata-docs/content/main-concepts/metadata-standard/schemas/entity/services/connections/database/salesforceConnection.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
Labels: documentation, Ingestion, backend, safe to test

#11455 Fix min max on rowversion/timestamp mssql
  ingestion/src/metadata/profiler/api/workflow.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/orm/types/custom_timestamp.py
  ingestion/tests/integration/orm_profiler/test_converter.py
Labels: Ingestion, safe to test

#11428 solve the issue for mutually exclusive tags validation for PUT API
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#11457 Improve filtering for lineage query
  ingestion/src/metadata/ingestion/source/database/bigquery/lineage.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/lineage.py
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/src/metadata/ingestion/source/database/redshift/lineage.py
  ingestion/src/metadata/ingestion/source/database/redshift/usage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/vertica/lineage.py
Labels: Ingestion, safe to test

#11466 Fix: Snowflake support external tables
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
Labels: Ingestion, safe to test

#11479 Fix Vertica comments for version 9
  ingestion/src/metadata/ingestion/source/database/vertica/queries.py
Labels: Ingestion, safe to test

#11480 fix(ui): fix the icon squeezing issue in entity headers and only name in right panel header
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeader/EntityHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Labels: UI, safe to test

#11473 Fix Dynamodb connection
  ingestion/src/metadata/ingestion/source/database/dynamodb/connection.py
  ingestion/src/metadata/ingestion/source/database/dynamodb/metadata.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResource.java
  openmetadata-service/src/main/resources/json/data/testConnections/database/dynamodb.json
Labels: bug, Ingestion, backend, safe to test

#11488 fixed elastic search update issue when the entity is restored
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
Labels: backend, safe to test

#11463 Bootstrap users fix + Ldap Fix error message
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Labels: backend, safe to test

#11363 Centralize SSL Schemas & Add SSL for Airflow REST
  conf/openmetadata.yaml
  ingestion/src/metadata/utils/ssl_registry.py
  openmetadata-docs-v1/content/v1.0.0/deployment/airflow/index.md
  openmetadata-docs-v1/content/v1.0.0/deployment/security/enable-ssl/airflow-ssl.md
  openmetadata-docs-v1/content/v1.0.0/menu.md
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ElasticSearchClientUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SSLUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/airflow/AirflowRESTClientIntegrationTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/sslConfig.json
  openmetadata-spec/src/main/resources/json/schema/security/ssl/validateSSLClientConfig.json
Labels: documentation, Ingestion, backend, safe to test

#11483 E2e data insight report
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightAlert.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/header/PageHeader.component.tsx
Labels: UI, E2E-testing, safe to test

#11482 ui: feedback 1.0.1 part 2
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
Labels: UI, safe to test

#11489 Fix#10584: Update Lineage API to support lineage from table to dashboard data model
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/ColumnsEntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, backend, safe to test

#11487 Fixed typo SMPTS to SMTPS
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-spec/src/main/resources/json/schema/email/smtpSettings.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/EmailConfiguration.md
Labels: UI, backend, safe to test

#11486 Fixed favicon and manifest path
  openmetadata-ui/src/main/resources/ui/public/index.html
Labels: UI, safe to test

#11460 Fixes #11384 - Implement mem. optimization for sys. metrics
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/src/metadata/utils/profiler_utils.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/common_e2e_sqa_mixins.py
  ingestion/tests/cli_e2e/test_cli_bigquery.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
  ingestion/tests/unit/profiler/conftest.py
  ingestion/tests/unit/profiler/test_utils.py
  ingestion/tests/unit/test_helpers.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: Ingestion, backend, profiler, safe to test

#11499 fix: ingestion was not getting trigger for 1 day scheduler
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
Labels: UI, safe to test

#11497 fix(ui): fix the underline issue on entity cards
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#11498 ui: added whats new content for 1.0.1
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#11502 fix(ui): fix the ellipses and icon misplacement of entity headers
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
Labels: UI, safe to test

#11510 Add missing license for UI module
  openmetadata-ui/LICENSE
Labels: UI, backend, safe to test

#11514 Servlets Log Error Messages
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlAssertionConsumerServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlLoginServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlMetadataServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/FeedServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
Labels: backend, safe to test

#11513 Fix tableau models to make fields optional
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
Labels: Ingestion, safe to test

#11518 Fix what's new content 1.0.1
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/ChangeLogs.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#11525 Fix E2E Vertica & System Metric
  ingestion/src/metadata/ingestion/source/database/vertica/queries.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
Labels: Ingestion, safe to test

#11506 cypress: worked on flaky cypress in main
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EntityAnnouncement.spec.js
Labels: UI, safe to test

#11533 [Docs] - Add 1.0.1 YAML docs
  openmetadata-docs-v1/content/v1.0.0/deployment/upgrade/index.md
Labels: documentation, safe to test

#11538 [InsightReport] DataInsight Manual trigger Job
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/DataInsightsReportJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/ReportsHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightTotalAssetTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
Labels: backend, safe to test

#11511 11287 Task - Add retention period and customer properties to Database…
  openmetadata-service/src/main/java/org/openmetadata/service/TypeRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDatabase.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createDatabaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createTable.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: backend, safe to test

#11541 Fixes typos: Change presistent to persistent and delpoy to deploy
  openmetadata-docs-v1/content/v0.13.2/deployment/kubernetes/eks.md
  openmetadata-docs-v1/content/v0.13.2/deployment/kubernetes/gke.md
  openmetadata-docs-v1/content/v0.13.2/deployment/kubernetes/on-prem.md
  openmetadata-docs-v1/content/v0.13.3/deployment/kubernetes/eks.md
  openmetadata-docs-v1/content/v0.13.3/deployment/kubernetes/gke.md
  openmetadata-docs-v1/content/v0.13.3/deployment/kubernetes/on-prem.md
  openmetadata-docs-v1/content/v1.0.0/deployment/kubernetes/eks.md
  openmetadata-docs-v1/content/v1.0.0/deployment/kubernetes/gke.md
  openmetadata-docs-v1/content/v1.0.0/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/deployment/kubernetes/eks.md
  openmetadata-docs/content/deployment/kubernetes/gke.md
  openmetadata-docs/content/deployment/kubernetes/on-prem.md
Labels: documentation

#11539 Fix Airflow ingestion: check if downstream task are null
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Labels: Ingestion, backend, safe to test

#11523 ui: added unit test for TestSummary component
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/TestSuite.mock.ts
Labels: UI, safe to test

#11544 cypress: updated workflow with cypress provided image
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: UI, devops, safe to test

#11546 Revert "cypress: updated workflow with cypress provided image"
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: UI, devops, safe to test

#11531 Truncate automations_workflow
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v010__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v010__create_db_connection_info.sql
Labels: Ingestion, safe to test

#11547 Data Insight Report Improvement
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/DataInsightsReportJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
Labels: backend, safe to test

#11505 Fix #3827 - Remove old tests
  ingestion/tests/integration/source/__init__.py
  ingestion/tests/integration/source/glue/__init__.py
  ingestion/tests/integration/source/glue/glue_test.py
  ingestion/tests/integration/source/hive/__init__.py
  ingestion/tests/integration/source/hive/test_hive_crud.py
  ingestion/tests/integration/source/hive/tests/docker-compose.yml
  ingestion/tests/integration/source/hive/tests/hadoop-hive.env
  ingestion/tests/integration/source/hive/tests/setup/hive_setup.sql
  ingestion/tests/integration/source/hive/tests/setup/setup.sh
  ingestion/tests/integration/source/ldap/__init__.py
  ingestion/tests/integration/source/ldap/test_ldap_crud.py
  ingestion/tests/integration/source/ldap/tests/bootstrap.ldif
  ingestion/tests/integration/source/ldap/tests/docker-compose.yml
  ingestion/tests/integration/source/mlflow/Dockerfile
  ingestion/tests/integration/source/mlflow/Makefile
  ingestion/tests/integration/source/mlflow/README.md
  ingestion/tests/integration/source/mlflow/__init__.py
  ingestion/tests/integration/source/mlflow/docker-compose.yml
  ingestion/tests/integration/source/mlflow/experiment.py
  ingestion/tests/integration/source/mlflow/train.py
  ingestion/tests/integration/source/mssql/__init__.py
  ingestion/tests/integration/source/mssql/test_mssql_crud.py
  ingestion/tests/integration/source/mssql/tests/docker-compose.yml
  ingestion/tests/integration/source/mssql/tests/setup/setup.sh
  ingestion/tests/integration/source/mssql/tests/setup/setup.sql
  ingestion/tests/integration/source/mysql/__init__.py
  ingestion/tests/integration/source/mysql/test_mysql_crud.py
  ingestion/tests/integration/source/mysql/tests/docker-compose.yml
  ingestion/tests/integration/source/mysql/tests/setup/setup.sql
  ingestion/tests/integration/source/postgres/__init__.py
  ingestion/tests/integration/source/postgres/test_postgres_crud.py
  ingestion/tests/integration/source/postgres/tests/docker-compose.yml
  ingestion/tests/integration/source/trino/__init__.py
  ingestion/tests/integration/source/trino/test_trino_crud.py
  ingestion/tests/integration/source/trino/tests/docker-compose.yml
  ingestion/tests/integration/source/trino/trino_test.py
Labels: Ingestion, safe to test

#11532 fix(#11530): markdown viewer enableSeeMoreVariant is not working as expected
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/ChangeLogs.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceRightPanel/ServiceRightPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceRightPanel/ServiceRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceRightPanel/ServiceRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
Labels: UI, safe to test

#11551 Validate context in Airflow
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Labels: Ingestion, safe to test

#11554 Validate if tags are created before attaching them to CreateRequest
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/tag_utils.py
  ingestion/tests/unit/test_dbt.py
  ingestion/tests/unit/topology/pipeline/test_dagster.py
Labels: Ingestion, safe to test

#11550 fix(#11545): data Insight report Improvements
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddTeamAsOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightAlert.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/paper-plane.svg
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDataInsightReportPage/AlertDataInsightReportPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDataInsightReportPage/AlertDataInsightReportPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
Labels: UI, safe to test

#11566 updating python version
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, devops, safe to test

#11568 Py ver update 1.0.1.3
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
Labels: Ingestion, devops, safe to test

#11529 fix(ui): fix the placeholder issue while applying filter in entity
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
Labels: UI, safe to test

#11390 feat(ui): supported separate column for topic entity
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
Labels: UI, safe to test

#11567 Fix Roadmap docs
  openmetadata-docs-v1/content/v1.0.0/quick-start/local-deployment.md
  openmetadata-docs-v1/content/v1.0.0/releases/roadmap/index.md
Labels: documentation, backend, safe to test

#11300 fix/hive-docs-0.13.3
  openmetadata-docs-v1/content/v0.13.3/connectors/database/hive/airflow.md
  openmetadata-docs-v1/content/v0.13.3/connectors/database/hive/cli.md
Labels: safe to test

#11574 Filter tables by databaseSchema
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: Ingestion, backend, safe to test

#11583 Add settings to Db for Custom Logo
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Labels: backend, safe to test

#11581 feat(ui): supported separated tags and glossary column in container entity with version page
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
Labels: UI, safe to test

#11576 fix(#11578): custom logo variable names
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: UI, devops, safe to test

#11585 Fix Roadmap docs alignment
  openmetadata-docs-v1/content/v1.0.0/releases/roadmap/index.md
Labels: documentation, backend, safe to test

#11580 11579 Task - Change schema regex to allow parenthesis in the entity name
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: backend, safe to test

#11478 fix: versions in main branch
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion-postgres.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata-postgres.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: UI, Ingestion, backend, devops, safe to test

#11573 Improve localization
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/facetFilter.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#11536 Fixed incompatible column name for Postgres version 11.6
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/query_parser.py
  ingestion/tests/unit/topology/database/test_postgres.py
Labels: Ingestion, safe to test

#11591 11579 Task - Add () in sample data
  ingestion/examples/sample_data/datasets/tables.json
Labels: Ingestion, safe to test

#11584 Feat(ui): update displayName part 2
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Labels: UI, safe to test

#11590 Cypress: fixed cypress failure for the main branch
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
Labels: UI, safe to test

#11598 feat(ui): Supported separate column for Dashboard entity along with version
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
Labels: UI, safe to test

#11593 Feat(ui): update displayName part 3
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/serviceAPI.ts
Labels: UI, safe to test

#11607 Increase delay for system metric in e2e tests
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Labels: Ingestion, safe to test

#11582 feat(ui): supported separated tags and glossary column in dataModel entity
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
Labels: UI, safe to test

#11614 Add .snyk
  .snyk
  Makefile
Labels: Ingestion, safe to test

#11609 [Docs] - Added dbt versions table in the docs
  openmetadata-docs-v1/content/v1.0.0/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs-v1/content/v1.1.0/connectors/ingestion/workflows/dbt/index.md
Labels: documentation, Ingestion, safe to test

#11613 Fix #11610 - Add libsasl deps for kerberos
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
Labels: Ingestion, safe to test

#11600 feat(ui): supported separate column for Pipeline entity
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.interface.ts
Labels: UI, safe to test

#11619 fix(ui): #10731 updated breadcrumb to show displayName of the entity
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/QueryPage/QueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#11629 Fix Descriptor File
  openmetadata-service/pom.xml
Labels: backend, safe to test

#11597 feat(#11596): add support for custom logo config in settings
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/CustomLogoConfig.spec.js
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/CustomLogoConfiguration.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/EmailConfiguration.md
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-custom-logo.svg
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/CustomLogoConfigSettingsPage/CustomLogoConfigSettingsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomLogoConfigSettingsPage/CustomLogoConfigSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditCustomLogoConfig/EditCustomLogoConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditCustomLogoConfig/EditCustomLogoConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditEmailConfigPage/EditEmailConfigPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EmailConfigSettingsPage/EmailConfigSettingsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/forgot-password/forgot-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/reset-password/reset-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/settingConfigAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, backend, safe to test

#11635 Fix elastic-search reindex error from ingestion
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
Labels: Ingestion, safe to test

#11640 Restructure PII processor
  ingestion/src/metadata/ingestion/processor/pii.py
  ingestion/src/metadata/pii/__init__.py
  ingestion/src/metadata/pii/column_name_scanner.py
  ingestion/src/metadata/pii/models.py
  ingestion/src/metadata/pii/ner_scanner.py
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/integration/orm_profiler/test_pii_processor.py
  ingestion/tests/integration/utils/test_processor.py
  ingestion/tests/unit/pii/__init__.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Labels: Ingestion, safe to test

#11642 feat(#11608): show email in teams page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
Labels: UI, safe to test

#11623 Fix Docker Image Java Vulnerabilities
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  pom.xml
Labels: backend, safe to test

#11618 Fixes: 11540 Added api_version and domain fields to Salesforce
  ingestion/src/metadata/examples/workflows/salesforce.yaml
  ingestion/src/metadata/ingestion/source/database/salesforce/connection.py
  openmetadata-docs/content/v1.0.0/connectors/database/salesforce/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/database/salesforce/cli.md
  openmetadata-docs/content/v1.0.0/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/salesforce/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/salesforce/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/salesforce/index.md
  openmetadata-docs/images/v0.13.3/openmetadata/connectors/salesforce/service-connection.png
  openmetadata-docs/images/v1.0.0/connectors/salesforce/service-connection.png
  openmetadata-docs/images/v1.1.0/connectors/salesforce/service-connection.png
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/CompiledRuleTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Salesforce.md
Labels: documentation, UI, Ingestion, backend, safe to test

#11595 Update Chinese and French Localizations
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#11631 Fix #11571: Support custom database name for glue
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/tests/unit/topology/database/test_glue.py
  openmetadata-docs/content/v1.0.0/connectors/database/glue/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/database/glue/cli.md
  openmetadata-docs/content/v1.0.0/connectors/database/glue/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/glue/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/glue/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/glue/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/glueConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Glue.md
Labels: documentation, UI, Ingestion, backend, safe to test

#11649 feat(ui): added update displayName functionality for datamodel entity and updated breadcrumb with displayName for version page
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#11620 Fix XSS warnings
  .snyk
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/ip.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
Labels: Ingestion, safe to test

#11621 [Docs] - Update Airflow SSL docs
  openmetadata-docs/content/v1.0.0/deployment/security/enable-ssl/airflow-ssl.md
  openmetadata-docs/content/v1.1.0-snapshot/deployment/security/enable-ssl/airflow-ssl.md
Labels: documentation, Ingestion, safe to test

#11653 Clean NER Scanner imports
  ingestion/src/metadata/pii/ner_scanner.py
  ingestion/src/metadata/pii/processor.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Labels: Ingestion, safe to test

#11549 bump(ui): rjsf to v5
  ingestion/src/metadata/ingestion/source/dashboard/superset/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/utils/supersetApiConnection.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/parseConnectionSchema.js
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/ArrayFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/CustomFields.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/ObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ServiceConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/CommonSkeletons/LabelCountSkeleton/LabelCountSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ConnectionSchemas/SupersetConnection.json
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, Ingestion, backend, safe to test

#11493 Part of fix 11492 - Add missing fields in Container update
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
Labels: backend, safe to test

#11643 Cypress: Added cypress test for update display name feature and delete service issue
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/common/serviceUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/updateDisplayName.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/updateDisplayName.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
Labels: UI, safe to test

#11675 Fix GitHub reader headers and add docs
  ingestion/src/metadata/readers/github.py
  openmetadata-docs/content/v1.0.0/connectors/dashboard/looker/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/dashboard/looker/cli.md
  openmetadata-docs/content/v1.0.0/connectors/dashboard/looker/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/looker/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/looker/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/dashboard/looker/index.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Looker.md
Labels: documentation, UI, Ingestion, safe to test

#11663 Fix parsing for Storage Services & Quick Airflow test
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
Labels: Ingestion, safe to test

#11602 Fix #11548 - Secrets Managers comms with OMeta
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v011__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v011__create_db_connection_info.sql
  conf/openmetadata.yaml
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/secrets/client/__init__.py
  ingestion/src/metadata/utils/secrets/client/loader.py
  ingestion/src/metadata/utils/secrets/secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/integration/ometa/test_ometa_secrets_manager.py
  ingestion/tests/unit/metadata/cli/resources/dag_config.json
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/workflow_factory.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/OpenMetadataConnectionClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/ExternalSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/masker/TestEntityMasker.java
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/secrets/secretsManagerClientLoader.json
Labels: Ingestion, backend, safe to test

#11562 Fix #1604: Add Spline Pipeline Connector
  ingestion/src/metadata/examples/workflows/spline.yaml
  ingestion/src/metadata/ingestion/source/pipeline/spline/client.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/models.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/utils.py
  ingestion/tests/unit/resources/datasets/spline_dataset.json
  ingestion/tests/unit/topology/pipeline/test_spline.py
  openmetadata-docs-v1/content/v1.1.0/connectors/pipeline/spline/airflow.md
  openmetadata-docs-v1/content/v1.1.0/connectors/pipeline/spline/cli.md
  openmetadata-docs-v1/content/v1.1.0/connectors/pipeline/spline/index.md
  openmetadata-docs-v1/images/v1.1.0/connectors/spline/add-new-service.png
  openmetadata-docs-v1/images/v1.1.0/connectors/spline/select-service.png
  openmetadata-docs-v1/images/v1.1.0/connectors/spline/service-connection.png
  openmetadata-docs/content/v1.0.0/connectors/index.md
  openmetadata-docs/content/v1.0.0/connectors/pipeline/index.md
  openmetadata-docs/content/v1.0.0/menu.md
  openmetadata-docs/images/v0.13.3/openmetadata/connectors/configure-metadata-ingestion-pipeline.png
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/spline.json
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/JdbcUri.g4
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/splineConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Spline.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-spline.png
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: documentation, UI, Ingestion, backend, safe to test

#11677 cypress: added env variable for pipeline,mlmodel and S3 service
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: UI, devops, safe to test

#11684 Add slack monitor action
  .github/workflows/monitor-slack-link.yml
Labels: Ingestion, devops, safe to test

#11639 Fixes 10949: return Chunks for file formats & Centralize logic for different auth configs
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/datalake/models.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
  ingestion/src/metadata/profiler/interface/pandas/pandas_profiler_interface.py
  ingestion/src/metadata/utils/azure_utils.py
  ingestion/src/metadata/utils/datalake/avro_dispatch.py
  ingestion/src/metadata/utils/datalake/csv_tsv_dispatch.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/src/metadata/utils/datalake/json_dispatch.py
  ingestion/src/metadata/utils/datalake/parquet_dispatch.py
  ingestion/src/metadata/utils/gcs_utils.py
  ingestion/src/metadata/utils/s3_utils.py
  ingestion/tests/cli_e2e/test_cli_datalake.py
  ingestion/tests/unit/test_ometa_to_dataframe.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/storage/test_storage.py
Labels: Ingestion, safe to test
