Repository open-metadata/OpenMetadata, pull requests merged in 2024-03, with the labels that each got.

#15413 [Fix] Make Recreate Index Default as true
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: UI, backend, safe to test, e2e:DataAssets

#15410 #15403 Team filter on the Data Insights page doesn't work as expected
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
Labels: UI, safe to test, e2e:Observability

#15370 ui: replace description comp with descriptionv1 comp
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/Description.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
Labels: UI, safe to test, e2e:DataAssets, e2e:Settings

#15415 Docs: Update the docs content to fix broken links
  openmetadata-docs/content/v1.3.x/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/couchbase/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/druid/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/impala/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/pinotdb/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/lineage/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/atlas/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.3.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.3.x/deployment/docker/index.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/how-does-it-work.md
  openmetadata-docs/content/v1.3.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.3.x/sdk/java/index.md
  openmetadata-docs/content/v1.3.x/sdk/python/entities/ml-model.md
Labels: documentation, UI, safe to test

#15417 MINOR: Fix some links on ingestion docs
  openmetadata-docs/content/v1.3.x/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/amundsen/yaml.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.3.x/menu.md
Labels: documentation, Ingestion, safe to test

#15418 Minor: Fix dockerfile release version
  docker/docker-compose-quickstart/Dockerfile
Labels: devops, safe to test

#15391 ui: display source of lineage
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#15429 Add Dao Get Call based on type
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Labels: backend, safe to test

#15280 fix issue 14802: disable self-sigup interface when using ldap authent…
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
Labels: UI, safe to test

#15431 Docs: Fix the wrong link on kubernetes gke page in the documentation
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/gke.md
Labels: documentation, UI, safe to test

#15443 Fix #15438: Update filters and destination for 'Conversation' source in notification alert
  openmetadata-spec/src/main/resources/json/schema/events/eventSubscription.json
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ObservabilityUtils.tsx
Labels: UI, backend, safe to test, e2e:Observability

#15430 [Perf Fix] Use Where clause on change event listing
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/EventAlertProducer.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#15447 fix: get_connection import when using customDashboard
  ingestion/src/metadata/utils/importer.py
Labels: Ingestion, safe to test

#15444 #15425 - Move SecretsManagerUpdateService to migrate command
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerUpdateService.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: Ingestion, backend, safe to test

#15434 fix description related cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#15449 Minor: filter out the filterPatterns if excludes and includes are empty
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
Labels: UI, safe to test, e2e:Integration, e2e:Settings

#15440 DOC - Updated custom sql documentation
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/data-quality/tests.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/data-quality/tests.md
Labels: documentation, Ingestion, safe to test

#15458 DOC - added threshold details
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/data-quality/tests.md
Labels: documentation, Ingestion, safe to test

#15463 fix: move migration to 1.3.1
  bootstrap/sql/migrations/native/1.3.1/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.3.1/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/postDataMigrationSQLScript.sql
Labels: Ingestion, safe to test

#15464 chore: remove 1.4 migration folder
  bootstrap/sql/migrations/native/1.4.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/postDataMigrationSQLScript.sql
Labels: Ingestion, safe to test

#15462 Minor: Fix E2E Ingestion Tests
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-tests.yml
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/database/snowflake/snowflake.yaml
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/cli_e2e/test_cli_redash.py
  ingestion/tests/cli_e2e/test_cli_tableau.py
  ingestion/tests/cli_e2e/test_cli_vertica.py
Labels: Ingestion, devops, safe to test

#15453 - Fix Poll Interval
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/events/eventSubscription.json
Labels: backend, safe to test

#15420 supported unit test for email configuration, incident header page and fix some cypress
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseIncidentTab/TestCaseIncidentTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Email/EmailConfigForm/EmailConfigForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Email/EmailConfigForm/EmailConfigForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TestCase.mock.ts
Labels: UI, safe to test, e2e:Settings

#15451 MINOR: make test setup non-static so it can be overriden
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: Ingestion, backend, safe to test

#15470 support unit test for addDomainForm and minor cleanup
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDataProductModal/AddDataProductModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDataProductModal/AddDataProductModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDataProductModal/AddDataProductModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
Labels: UI, safe to test, e2e:Governance

#15476 Fix: Update test suite workflow example in ingestion folder
  ingestion/src/metadata/examples/workflows/test_suite.yaml
Labels: Ingestion, safe to test

#15469 Fix #15299 - Handle Table metrics & test cases for Empty Tables
  ingestion/src/metadata/data_quality/api/models.py
  ingestion/src/metadata/data_quality/processor/test_case_runner.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/mixins/sqa_validator_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/profiler/orm/converter/base.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/data-quality/tests.md
Labels: documentation, Ingestion, safe to test

#15439 MINOR: fix entity reference look up for data products
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Labels: Ingestion, backend, safe to test

#15481 Minor: fixed ui layout issue of role page
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/roles-detail.less
Labels: UI, safe to test

#15472 MINOR - Note on airflow docs
  openmetadata-docs/content/v1.3.x/connectors/pipeline/airflow/yaml.md
Labels: documentation, Ingestion, safe to test

#15482 MINOR - Application Handler instance
  openmetadata-docs/content/v1.2.x/deployment/security/enable-password-masking.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x/deployment/security/enable-password-masking.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: documentation, Ingestion, backend, safe to test

#15480 fix(docs): Unify Prerequisites of Kubernetes Deployment Docs
  openmetadata-docs/content/v1.3.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.3.x/deployment/docker/index.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/on-prem.md
Labels: documentation, devops, safe to test

#15457 ISSUE #15336 - Added type and status for test case list
  bootstrap/sql/migrations/native/1.3.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.2/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#15475 #15336 UI: Add Pagination to Data Quality Tab on Entity pages
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/paging/usePaging.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test, e2e:DataAssets

#15504 Fix #15503: Cache MultiJWKsProvider response
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/MultiUrlJwkProvider.java
Labels: backend, safe to test

#15473 MINOR: add the systemApp property
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
Labels: Ingestion, backend, safe to test

#15521 Limit SPeL getValue to SimpleEvaluationContext
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
Labels: backend, safe to test

#15393 Fixes #15388: Use native backup tools
  docker/development/docker-compose-postgres.yml
  docker/run_local_docker.sh
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/src/metadata/cli/backup.py
  ingestion/src/metadata/cli/restore.py
  openmetadata-docs/content/v1.3.x/deployment/backup-restore-metadata-sql-dump-tools.md
  openmetadata-docs/content/v1.3.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.4.x/deployment/backup-restore-metadata.md
Labels: documentation, Ingestion, devops, safe to test

#15514 FIX #15436 - Add disconnect method for databricks client
  ingestion/src/metadata/profiler/source/databricks/profiler_source.py
  ingestion/src/metadata/profiler/source/profiler_source_factory.py
Labels: Ingestion, safe to test

#15317 feat: OpenLineage integration
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/__init__.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/models.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/utils.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/resources/datasets/openlineage_event.json
  ingestion/tests/unit/topology/pipeline/test_openlineage.py
  openmetadata-docs/content/v1.3.x/connectors/pipeline/openlineage/index.md
  openmetadata-docs/images/v1.3/connectors/openmetadata/add-new-service.png
  openmetadata-docs/images/v1.3/connectors/openmetadata/select-service.png
  openmetadata-docs/images/v1.3/connectors/openmetadata/service-connection.png
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/openlineage.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/openLineageConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/type/entityLineage.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/OpenLineage.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-openlineage.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, backend, safe to test, e2e:Integration, e2e:DataAssets

#15493 fix(ui): glossary details path with tabs
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
Labels: UI, safe to test

#15530 Fixes ISSUE-13473: Ensure MSSQL columns query filters to tables and views
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
Labels: Ingestion, safe to test

#15527 Remove data product from glossary assets
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Labels: UI, safe to test, e2e:Governance

#15515 #15507 Date filtering not working for Incident manager and ui feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/Severity/Severity.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
Labels: UI, safe to test

#15502 MINOR: Add / Fix GCS and ADLS - docs, bugs
  openmetadata-docs/content/v1.3.x/connectors/database/datalake/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/datalake/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/iceberg/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/storage/adls/index.md
  openmetadata-docs/content/v1.3.x/connectors/storage/adls/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/storage/gcs/index.md
  openmetadata-docs/content/v1.3.x/connectors/storage/gcs/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/storage/index.md
  openmetadata-docs/images/v1.3/connectors/adls/add-new-service.png
  openmetadata-docs/images/v1.3/connectors/adls/select-service.png
  openmetadata-docs/images/v1.3/connectors/adls/service-connection.png
  openmetadata-docs/images/v1.3/connectors/gcs/add-new-service.png
  openmetadata-docs/images/v1.3/connectors/gcs/select-service.png
  openmetadata-docs/images/v1.3/connectors/gcs/service-connection.png
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Storage/ADLS.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Storage/GCS.md
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, safe to test, e2e:Integration

#15522 Add stack trace while throwing an error to debug
  ingestion/pipelines/sample_usage.yaml
  ingestion/src/metadata/workflow/workflow_output_handler.py
Labels: Ingestion, backend, safe to test

#15534 Fix #15533: Fix name & display name for kafka json schema parser
  ingestion/src/metadata/parsers/json_schema_parser.py
  ingestion/tests/unit/test_json_schema_parser.py
Labels: Ingestion, safe to test

#15538 MINOR: postgres add ssl options in yaml docs
  openmetadata-docs/content/v1.3.x/connectors/database/postgres/yaml.md
Labels: documentation, Ingestion, safe to test

#15535 MINOR: Small change to fix the Glossary Term Tasks not fetching Owner
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, Ingestion, safe to test, e2e:DataAssets

#15531 Minor: Remove duplicate unused DataInsightAlert cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightAlert.spec.ts
Labels: UI, safe to test, e2e:Observability

#15528 Minor: fixed DQ edit test case issue and searchIndexDetails typescript issue
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Services.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/CustomProperty.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
Labels: UI, safe to test, e2e:Integration, e2e:Observability, e2e:DataAssets

#15512 chore(ui): separate routes as per categories
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/ClassificationRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/ClassificationRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/DomainRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/DomainRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/EntityRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/EntityRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/GlossaryRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/GlossaryRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityDetails/EntityDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
Labels: UI, safe to test

#15542 [MINOR] GX logging hierarchy
  ingestion/src/metadata/great_expectations/action.py
Labels: Ingestion, safe to test

#15550 removed docs 1.4.x
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.4.x/deployment/backup-restore-metadata.md
Labels: documentation, Ingestion, safe to test

#15519 Fix #11868: Duplicated queries cannot be created
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
Labels: backend, safe to test

#15549 added OpenMetadataApplication.getDao
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Labels: Ingestion, backend, safe to test

#15552 Minor: Add the entityUrl to the header for ThreadMessages
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
Labels: Ingestion, backend, safe to test

#15555 MINOR: forbid modification of systemApp
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: Ingestion, backend, safe to test

#15516 MINOR: Skip source hash generation for service
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/utils/source_hash.py
Labels: Ingestion, safe to test

#15551 Docs: Sync the documentation roadmap page with the getcollate roadmap
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/content/v1.1.x/releases/roadmap/index.md
  openmetadata-docs/content/v1.1.x/roadmap/index.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.2.x/releases/roadmap/index.md
  openmetadata-docs/content/v1.2.x/roadmap/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.3.x/releases/roadmap/index.md
  openmetadata-docs/content/v1.3.x/roadmap/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/releases/roadmap/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/roadmap/index.md
Labels: documentation, UI, safe to test

#15558 [Fix] Remove WebAnalyticsHandler from yaml
  conf/openmetadata.yaml
Labels: backend, safe to test

#15526 change login screen images as per new layout
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-collaboration.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-discovery.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-governance.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-insights.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-qauality.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-collaboration.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-discovery.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-governance.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-insights.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-quality.png
  openmetadata-ui/src/main/resources/ui/src/constants/Login.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/LoginClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/login.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
Labels: UI, safe to test

#15553 MINOR - Review query performance
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: Ingestion, backend, safe to test

#15501 Fixes #15358: add bots to the options of the filters.
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Labels: UI, safe to test, e2e:Observability

#15562 Docs: Update connectors list for v1.3.x and v1.4.x
  openmetadata-docs/content/partials/v1.3/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/partials/v1.3/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.3/connectors/messaging/connectors-list.md
  openmetadata-docs/content/partials/v1.3/connectors/metadata/connectors-list.md
  openmetadata-docs/content/partials/v1.3/connectors/ml-model/connectors-list.md
  openmetadata-docs/content/partials/v1.3/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.3/connectors/search/connectors-list.md
  openmetadata-docs/content/partials/v1.3/connectors/storage/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/messaging/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/metadata/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/ml-model/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/search/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/storage/connectors-list.md
  openmetadata-docs/content/v1.3.x/connectors/dashboard/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/index.md
  openmetadata-docs/content/v1.3.x/connectors/index.md
  openmetadata-docs/content/v1.3.x/connectors/messaging/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/index.md
  openmetadata-docs/content/v1.3.x/connectors/ml-model/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/index.md
  openmetadata-docs/content/v1.3.x/connectors/search/index.md
  openmetadata-docs/content/v1.3.x/connectors/storage/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/dashboard/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/messaging/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/metadata/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ml-model/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/pipeline/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/search/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/index.md
Labels: documentation, UI, safe to test

#15568 fix: corrrect typo in language selection menu "Deutsh" -> "Deutsch"
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, safe to test

#15574 Minor: add wrapper for table in block editor to make it scrollable
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/TableMenu/TableMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
Labels: UI, safe to test, e2e:DataAssets

#15560 Minor: Alert form user list suggestion fixes
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Labels: UI, safe to test, e2e:Observability

#15537 Fix #11905: Automated lineage between external table and container snowflake
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/ingestion/source/storage/s3/models.py
  ingestion/tests/unit/topology/storage/test_storage.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createContainer.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/type/entityLineage.json
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
Labels: Ingestion, backend, safe to test

#15578 MINOR: Fix multiline insert query stored procedure lineage
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
Labels: Ingestion, safe to test

#15548 MINOR: Restructure dbServiceName field in dashboard and pipeline
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  ingestion/src/metadata/examples/workflows/mode.yaml
  ingestion/src/metadata/examples/workflows/qlik_sense.yaml
  ingestion/src/metadata/examples/workflows/spline.yaml
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/metadata.py
  ingestion/tests/cli_e2e/dashboard/metabase/metabase.yaml
  ingestion/tests/cli_e2e/dashboard/powerbi/powerbi.yaml
  ingestion/tests/cli_e2e/dashboard/tableau/tableau.yaml
  ingestion/tests/unit/test_workflow_parse.py
  ingestion/tests/unit/topology/pipeline/test_openlineage.py
  openmetadata-docs/content/partials/v1.4/connectors/yaml/dashboard/source-config.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/dashboard/tableau/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/upgrade/versions/130-to-140.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.test.ts
Labels: Ingestion, backend, safe to test

#15577 Fix #15563: Fixed incorrect col ordering after patch request from ingestion
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/tests/integration/ometa/test_ometa_topology_patch.py
Labels: Ingestion, safe to test

#15584 Revert: revamp data asset icon to colour one (#15485)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-open-task.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-share.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star-filled.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-version.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/thumbs-down-filled.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/thumbs-down-outline.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/thumbs-up-filled.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/thumbs-up-outline.svg
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/DataAssetsVersionHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryCardExtraOption/QueryCardExtraOption.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Voting/Voting.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#15581 Fix: cypress tests invalid token issue
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
Labels: UI, safe to test

#14166 #14169: Support external_account type for GCP Auth
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/unit/test_credentials.py
  openmetadata-docs/content/v1.2.x/connectors/database/bigquery/yaml.md
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpCredentials.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpExternalAccount.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpValues.json
Labels: documentation, Ingestion, backend, safe to test

#15590 MINOR: Fix Looker clone repo failure for bitbucket
  ingestion/src/metadata/ingestion/source/dashboard/looker/utils.py
Labels: Ingestion, safe to test

#15500 Fixes #15499: Change the ApiClient init call.
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/gateway/OpenMetadata.java
Labels: backend, safe to test

#15592 Fix(#14886): UI Timeout Setting shows wrong Unit.
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/LoginConfigurationDetails/LoginConfigurationPage.tsx
Labels: UI, safe to test

#15575 FIX: index in CSV export for table entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: Ingestion, backend, safe to test

#15510 MINOR - Prepare AI chat feed
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/feed/createThread.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
Labels: Ingestion, backend, safe to test

#15571 MINOR - Clean MSSQL lineage & usage
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mssql/usage.py
Labels: Ingestion, safe to test

#15513 Show fields for other lineage entities
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/constants/lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNode.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Lineage/Lineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
Labels: UI, backend, safe to test

#15585 MINOR: Add support for databricks external table lineage
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/database/external_table_lineage_mixin.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
Labels: Ingestion, safe to test

#15597 Fix #15118: Handle exception while processing usage comparisons
  ingestion/src/metadata/ingestion/lineage/parser.py
Labels: Ingestion, safe to test

#15587 Fixes #14252 : Check tasks cannot be created by,assigned to,reassigned to bot users
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Labels: backend, safe to test

#15583 Minor: Alert cypress code improvements to avoid flakiness
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/AdvancedSearch.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/AdditionalRuleSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/GroupSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/SingleFiledSearch.spec.ts
Labels: UI, safe to test, e2e:Observability

#15599 Docs: Fix broken links in the documentation
  openmetadata-docs/content/v1.1.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.1.x/developers/webhooks.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.2.x/developers/webhooks.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.3.x/developers/webhooks.md
  openmetadata-docs/content/v1.3.x/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/developers/webhooks.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/data-insights/cost-analysis.md
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
Labels: documentation, UI, safe to test

#15598 MINOR: Fix glossary term not fetching owner when creating task
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: Ingestion, safe to test, e2e:DataAssets

#15580 Fix SAML config indentation
  openmetadata-docs/content/v1.3.x/deployment/security/saml/index.md
Labels: documentation, backend, safe to test

#15602 [TYPO] Fix typo in Looker Bitbucket URL
  ingestion/src/metadata/ingestion/source/dashboard/looker/utils.py
Labels: Ingestion, devops, safe to test

#15604 MINOR: Looker fix bitbucket protocol
  ingestion/src/metadata/ingestion/source/dashboard/looker/utils.py
Labels: Ingestion, safe to test

#15557 Using Backend for Oidc Flow
  conf/openmetadata.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthCallbackServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLoginServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLogoutServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthRefreshServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/security/client/oidcClientConfig.json
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/UnAuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WebAnalytics/WebAnalyticsProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/LoginAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: backend, safe to test

#15605 MINOR: Fixed dagster tasks status
  ingestion/src/metadata/ingestion/source/pipeline/dagster/metadata.py
Labels: Ingestion, safe to test

#15608 Fix Search Indexing Empty Stats
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Labels: backend, safe to test

#15524 Application cannot be installed with None as schedule type
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/resources/json/data/app/DataInsightsApplication.json
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/rests/applicationAPI.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.tsx
Labels: backend, safe to test, e2e:Settings

#15606 chore(ui): fix callback component not loading for okta issue
  openmetadata-service/pom.xml
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/UnAuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/LoginAPI.ts
  pom.xml
Labels: UI, safe to test

#15617 Fixes 15544: Histogram not working for more than 15 units
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/test_helpers.py
Labels: Ingestion, safe to test

#15556 [MINOR] validate domain on PATCH request
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: Ingestion, backend, safe to test

#15619 [Feat] Added docker vars for OIdc Config
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
Labels: backend, devops, safe to test

#15582 Check assignee permissions before updating the entity description/tags
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-ui/src/main/resources/ui/cypress/common/TaskUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
Labels: backend, safe to test, e2e:DataAssets

#15618 Fix(#15296): Issue with the same service name
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/LoginConfiguration.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test, e2e:Integration

#15564 support extra options for manage button
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonItemLabel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets, e2e:Settings

#15624 fix(e2e): login spec fialure
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/UnAuthenticatedAppRouter.tsx
Labels: UI, safe to test

#15628 MINOR: add profiler support for Redshift GEOMETRY type
  ingestion/src/metadata/profiler/orm/converter/converter_registry.py
  ingestion/src/metadata/profiler/orm/converter/redshift/converter.py
  ingestion/src/metadata/profiler/orm/registry.py
Labels: Ingestion, safe to test

#15591 #15080 Add a filter by time and tags on the query view page
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Entity.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryCount/QueryCount.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Query.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Query/QueryUtils.ts
Labels: UI, safe to test, e2e:DataAssets

#15636 - Fix slf4j coming from pac4j
  openmetadata-service/pom.xml
Labels: backend, safe to test

#15634 Fix failing tests in Task Resolution
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Labels: backend, safe to test

#15603 Minor: Cypress improvements for AUT failure fixes
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/AdvancedSearch.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Owner.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#15609 MINOR - Application Preview
  openmetadata-docs/content/v1.3.x/deployment/ingestion/external/gcs-composer.md
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AppException.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-spec/src/main/resources/json/schema/configuration/appsPrivateConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
Labels: documentation, Ingestion, backend, safe to test

#15589 #367C - Suggestions Accept / Reject All
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SuggestionFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SuggestionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/SuggestionsResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/SuggestionsResourceTest.java
Labels: Ingestion, backend, safe to test

#15622 #14943 - Check tags before PII processor
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/workflow/base.py
Labels: Ingestion, safe to test

#15637 - Add WebsocketNotificationHandler for sending updates for Task, Anno…
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/WebsocketNotificationHandler.java
Labels: backend, safe to test

#15640 Fix #15501: Explore - Showcase Dashboard project and filter by it
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_index_mapping.json
Labels: backend, safe to test

#15643 #15545 Data Insights filter counter
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
Labels: UI, safe to test, e2e:Observability

#15242 #15101 : supported project in dashboard right panel and explore filter
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/EntitySummaryPanel.spec.ts
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, safe to test

#15653 MINOR : remove retention period and displayName edit button if table is soft deleted
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/RetentionPeriod/RetentionPeriod.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/RetentionPeriod/RetentionPeriod.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/RetentionPeriod/RetentionPeriod.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
Labels: UI, safe to test, e2e:DataAssets

#15648 Show profile pic for bots
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/user-profile/useUserProfile.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
Labels: UI, safe to test, e2e:DataAssets

#15655 Docs: fix helm values documentation
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/values.md
Labels: documentation, devops, safe to test

#15652 fix breaking issue in data insight report page after log button click
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightReportApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
Labels: UI, Cypress, safe to test, e2e:Observability, e2e:DataAssets, e2e:Settings

#15654 fix(ui): auth refresh token for confidential client type
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test

#15649 [Fix] Application Fixes, Updated AppRunType and Removed Server App Inits
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appRunRecord.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
Labels: backend, safe to test

#15633 MINOR: Move external table lineage to post processing
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/external_table_lineage_mixin.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
Labels: Ingestion, safe to test

#15659 MINOR: Fix sample data upload - binary data error
  ingestion/src/metadata/profiler/processor/sample_data_handler.py
Labels: Ingestion, safe to test

#15656 Accept/Reject All Suggestions
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/suggestionsAPI.ts
Labels: UI, safe to test

#15668 - Oidc Documentation
  openmetadata-docs/content/v1.3.x/deployment/security/oidc/index.md
Labels: documentation, backend, safe to test

#15664 [Vulnerabilities] Fixes Security Flagged Dependencies
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#15554 Fixes 14370: Add Azure Client, support Default Creds
  ingestion/src/metadata/clients/azure_client.py
  ingestion/src/metadata/examples/workflows/datalake_azure_client_secret.yaml
  ingestion/src/metadata/examples/workflows/datalake_azure_default.yaml
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/database/azuresql/connection.py
  ingestion/src/metadata/ingestion/source/database/datalake/connection.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/src/metadata/utils/secrets/azure_kv_secrets_manager.py
  ingestion/src/metadata/utils/storage_metadata_config.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  ingestion/tests/integration/profiler/test_nosql_profiler.py
  ingestion/tests/unit/metadata/cli/resources/profiler_workflow.py
  ingestion/tests/unit/metadata/cli/resources/profiler_workflow.txt
  ingestion/tests/unit/test_azure_credentials.py
  ingestion/tests/unit/test_build_connection_url.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/common/azureConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azureCredentials.json
Labels: new feature, Ingestion, backend, safe to test

#15645 Cypress: fixed s3 service and permission cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/BigQueryIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/S3IngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Permission.spec.ts
Labels: UI, safe to test, e2e:Integration

#15670 [MINOR] Fix failed to parse field [followers] of type [keyword] in document …
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ChartIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ClassificationIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseSchemaIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DomainIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryTermIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MessagingServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MetadataServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StorageServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TagIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TeamIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestSuiteIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/UserIndex.java
Labels: backend, safe to test

#15658 MINOR - Fix suggestion accept all
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SuggestionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/SuggestionsResourceTest.java
Labels: Ingestion, backend, safe to test

#15666 feat(ui): what's new details update for 1.3.2
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#15671 Fix External Account Json Schema Issue
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/unit/test_credentials.py
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpExternalAccount.json
Labels: Ingestion, backend, safe to test, e2e:Settings

#15629 #12678 - Add SAP Hana Backend Converter
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/SapHanaConnectionClassConverter.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/sapHana/sapHanaHDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/sapHana/sapHanaSQLConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/sapHanaConnection.json
Labels: Ingestion, backend, safe to test

#15657 [MINOR] Enable ES Tests for Maven CI
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: Ingestion, backend, safe to test

#15394 MINOR - Add `/status` endpoint
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MigrationDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationValidationClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationValidationClientException.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/system/validationResponse.json
Labels: Ingestion, backend, safe to test

#15615 MINOR: Add support for json schema parsing for datalake & s3
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/parsers/json_schema_parser.py
  ingestion/src/metadata/readers/dataframe/json.py
  ingestion/src/metadata/readers/dataframe/models.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/storage/test_storage.py
Labels: Ingestion, safe to test

#15674 MINOR: Updated Alation connector json schemas
  openmetadata-service/src/main/resources/json/data/testConnections/metadata/alation.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/alationConnection.json
Labels: Ingestion, backend, safe to test

#15687 [MINOR] Fix: Removed Schema Changes from TestCase and TestSuite
  openmetadata-service/src/main/resources/json/data/EntityObservabilityFilterDescriptor.json
Labels: backend, safe to test

#15690 MINOR - Move app migrations to 1.3.2
  bootstrap/sql/migrations/native/1.3.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.2/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#15612 Fixes #15614: remove data from quartz
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
Labels: Ingestion, backend, safe to test

#15693 MINOR: use appName instead of id
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
Labels: Ingestion, backend, safe to test

#15698 Minor: Fix TypeError Missing arg
  ingestion/src/metadata/ingestion/source/database/external_table_lineage_mixin.py
Labels: Ingestion, safe to test

#15700 chore(e2e): run cypress workflow for ui/* folder only
  .github/workflows/cypress-integration-tests-mysql-pr.yml
Labels: UI, devops, safe to test

#15703 doc: added OIDC menu item
  openmetadata-docs/content/v1.3.x/menu.md
Labels: documentation, Ingestion, safe to test

#15705 Fixes #15686 : Updated Data Insights Report Schema
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightTotalAssetTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/resources/emailTemplates/dataInsightReport.ftl
Labels: backend, safe to test

#15704 Minor: AUT Cypress fixes for failing tests
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Glossary.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Owner.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/Alert.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
Labels: UI, safe to test, e2e:Governance, e2e:Observability

#15685 feat(ui): OM status page to validate health
  openmetadata-ui/src/main/resources/ui/cypress/constants/settings.constant.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/om-health-colored.svg
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/EditLoginConfiguration/EditLoginConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/LoginConfigurationDetails/LoginConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomLogoConfigSettingsPage/CustomLogoConfigSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPageSettings/CustomPageSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditCustomLogoConfig/EditCustomLogoConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditEmailConfigPage/EditEmailConfigPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EmailConfigSettingsPage/EmailConfigSettingsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingCategory/GlobalSettingCategoryPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/OmHealth/OmHealthPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/OmHealth/OmHealthPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Labels: UI, safe to test, e2e:Integration, e2e:DataAssets

#15697 fix(ui): Glossary term related term got vanish on update
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test

#15646 Fix #14285: Add column lineage support for tableau datamodels
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#15673 fix reloading of user profile page on edit action perform
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.test.tsx
Labels: UI, safe to test, e2e:Settings
