Repository open-metadata/OpenMetadata, pull requests merged in 2024-05, with the labels that each got.

#16084 Minor: Automator, Advanced Search Improvements and Fixes
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#16093 fix issue in directChildrenOf api for postgresql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#16100 minor: update the error fallback image and styling
  openmetadata-ui/src/main/resources/ui/src/assets/svg/om-upgrade.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorBoundary/ErrorFallback.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#16088 cypress: fixed cypress tests for main
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Tags.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MyData.spec.ts
Labels: UI, safe to test, e2e:DataAssets

#16104 add cypress for search index app
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
Labels: UI, safe to test, e2e:Settings

#16108 MINOR: Remove overrideOwner attribute that isn't there anymore
  openmetadata-docs/content/partials/v1.4/connectors/yaml/dashboard/source-config.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/dashboard/tableau/yaml.md
Labels: documentation, Ingestion, safe to test

#16097 Fixes #16075: Fix Incorrect Spark Property Name in DeltaLake Connection Configuration
  ingestion/src/metadata/ingestion/source/database/deltalake/connection.py
  openmetadata-docs/content/v1.1.x/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.1.x/main-concepts/metadata-standard/schemas/entity/services/connections/database/deltaLakeConnection.md
  openmetadata-docs/content/v1.2.x/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.2.x/main-concepts/metadata-standard/schemas/entity/services/connections/database/deltaLakeConnection.md
  openmetadata-docs/content/v1.3.x/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.3.x/main-concepts/metadata-standard/schemas/entity/services/connections/database/deltaLakeConnection.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/main-concepts/metadata-standard/schemas/entity/services/connections/database/deltaLakeConnection.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltaLakeConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/DeltaLake.md
Labels: documentation, UI, Ingestion, backend, safe to test

#16109 MINOR: Updated powerbi e2e counts
  ingestion/tests/cli_e2e/test_cli_powerbi.py
Labels: Ingestion, safe to test

#16103 MINOR: Mark SISS packages as unsupported docs
  openmetadata-docs/content/v1.3.x/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/mssql/yaml.md
Labels: documentation, Ingestion, safe to test

#16035 Minor fix test case sorting in search client
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestSuiteIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_suite_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/constants/ProfilerConfiguration.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
Labels: Ingestion, backend, data quality, safe to test

#16106 - Fix Indexes for changeDescriptions
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/AggregatedCostAnalysisReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ChartIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ClassificationIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ColumnIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseSchemaIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DomainIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/EntityReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryTermIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/IngestionPipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MessagingServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MetadataServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/QueryIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/RawCostAnalysisReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ReportDataIndexes.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StorageServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TagIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TeamIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestSuiteIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/UserIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/WebAnalyticEntityViewReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/WebAnalyticUserActivityReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntitiesProcessor.java
Labels: backend, safe to test

#16112 cypress: fixed cypress AUT part 3
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ProfilerConfigurationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
Labels: UI, safe to test, e2e:Integration, e2e:Governance

#16113 Improvements: Added new API to perform PATCH requests using fully qualified name.
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dashboards/DashboardResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/StoredProcedureResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datainsight/DataInsightChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/docstore/DocStoreResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/kpi/KpiResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/searchindex/SearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/searchIndexes/SearchServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/PersonaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/topics/TopicResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/StoredProcedureResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
Labels: backend, safe to test

#16118 MINOR - Docs and deprecations
  ingestion/src/metadata/applications/auto_tagger.py
  ingestion/src/metadata/cli/app.py
  ingestion/src/metadata/cli/backup.py
  ingestion/src/metadata/cli/db_dump.py
  ingestion/src/metadata/cli/utils.py
  ingestion/src/metadata/cmd.py
  installation_deployment_postgres_demo.md
  openmetadata-docs/content/partials/v1.4/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/backup-restore-metadata.md
Labels: documentation, Ingestion, safe to test

#16048 MINOR: Updated test case name field
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCase.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestDefinition.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
  openmetadata-spec/src/main/resources/json/schema/tests/testDefinition.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: Ingestion, backend, safe to test

#16105 Fix #16091: Fixed case issue in dbt
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/tag_utils.py
Labels: Ingestion, safe to test

#16117 Fix #14130: Add support for azure auth in trino
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/trino/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/trino/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Trino.md
Labels: documentation, UI, Ingestion, backend, safe to test

#16122 MINOR: Fix issue with SQLAlchemy types not being correctly mapped to OM Type on the profiler
  ingestion/src/metadata/profiler/processor/metric_filter.py
  ingestion/tests/integration/profiler/test_sqa_profiler.py
Labels: Ingestion, safe to test

#16115 Minor: Automator feedback part 2
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionRunDetailsModal/IngestionRunDetailsModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionRunDetailsModal/IngestionRunDetailsModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionRunDetailsModal/IngestionRunDetailsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/Ingestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/PipelineActions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/cron-editor.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, e2e:DataAssets, e2e:Settings

#16134 Add extension redirect url information in docs
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/user-guide-data-users/browser-ext.md
Labels: documentation, UI, safe to test

#16119 MINOR - Migration validation ignore order
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
Labels: Ingestion, backend, safe to test

#16129 Fixes Test Suite Reference in Table Schema
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/tests/integration/great_expectations/test_great_expectation_integration.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: backend, safe to test

#16133 Minor: make password and username field non required in email config form
  openmetadata-spec/src/main/resources/json/schema/email/smtpSettings.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Email/EmailConfigForm/EmailConfigForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Email/EmailConfigForm/EmailConfigForm.test.tsx
Labels: UI, safe to test, e2e:Settings

#16137 MINOR - Add missing ES mappings
  ingestion/src/metadata/utils/elasticsearch.py
Labels: Ingestion, safe to test

#16125 Minor: fix glossary term, reviewer and cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/common.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test, e2e:Governance

#16096 MINOR: S3 Add support for single bucket ingestion
  ingestion/src/metadata/ingestion/source/storage/s3/connection.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/ingestion/source/storage/s3/models.py
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/s3/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/s3/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/storage/s3Connection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Storage/S3.md
Labels: documentation, UI, Ingestion, backend, safe to test

#16079 feat: compute dbt model lineage across databases
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#16142 CI: update maven ci to be skipped for ui directory
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build-skip.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build-skip.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/py-checkstyle.yml
Labels: UI, devops, safe to test

#16143 fix: test suite resource test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: Ingestion, backend, safe to test

#16144 MINOR: remove alation and kafkaconnect from oss service page
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, Ingestion, safe to test, e2e:Integration

#16132 MINOR: Added custom property EntityReference support to python sdk
  ingestion/src/metadata/ingestion/models/custom_properties.py
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
  ingestion/tests/integration/ometa/test_ometa_custom_properties_api.py
Labels: Ingestion, safe to test

#16131 Migration Fixes
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/QueryStatus.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcess.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcessImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v110/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v111/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v112/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v116/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v117/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v130/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v132/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v133/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v140/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v110/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v111/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v112/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v116/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v130/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v132/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v133/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v140/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v140/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AsciiTable.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/resources/logback.xml
Labels: backend, safe to test

#16147 Minor: fixed testSuite dependency on table entity object
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTab/SchemaTab.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNode.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/TestSuiteSummaryWidget/TestSuiteSummaryWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/mocks/TableSummary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#16158 MINOR: improve s3 test connection
  ingestion/src/metadata/ingestion/source/storage/s3/connection.py
Labels: Ingestion, safe to test

#16156 MINOR: athena usage & lineage minor fix
  ingestion/src/metadata/ingestion/source/database/athena/client.py
  ingestion/src/metadata/ingestion/source/database/athena/lineage.py
  ingestion/src/metadata/ingestion/source/database/athena/models.py
  ingestion/src/metadata/ingestion/source/database/athena/query_parser.py
  ingestion/src/metadata/ingestion/source/database/athena/usage.py
Labels: Ingestion, safe to test

#16126 [Fix CI ES Test] Fix Search Flaky Tests
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogGenericExceptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: backend, safe to test

#16160 FIX - try-catch test suite migrations
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
Labels: Ingestion, backend, safe to test

#16145 Fix custom property entity and entityReferenceList
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/complexTypes.json
Labels: backend, safe to test

#16157 MINOR - Version match logic update & Airflow docs
  ingestion/src/metadata/__version__.py
  ingestion/src/metadata/ingestion/ometa/mixins/server_mixin.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_version.py
  openmetadata-docs/content/v1.3.x/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/ingestion/openmetadata.md
Labels: documentation, Ingestion, safe to test

#16120 Fix 'Tier' filter include results of deleted assets & minor lineage fixes
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageLayers/LineageLayers.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageLayers/LineageLayers.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageLayers/lineage-layers.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
Labels: UI, safe to test, e2e:DataAssets

#16151 MINOR: Add SSL config in advanced config
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: Ingestion, safe to test, e2e:Integration

#16167 MINOR: Fix column lineage in export
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: Ingestion, backend, safe to test

#16169 minor: add value prop in data asset async select list
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
Labels: UI, safe to test

#16138 Minor: bug fixes and improvements
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionRunDetailsModal/IngestionRunDetailsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CopyToClipboardButton/CopyToClipboardButton.tsx
Labels: UI, safe to test

#16153 MINOR: Remove duplicated code in S3Source
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
Labels: Ingestion, safe to test

#16170 allow record fields to have column lineage
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
Labels: UI, safe to test

#16163 - Default value for isBot should be false
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/teams/createUser.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
Labels: backend, safe to test

#16175 minor: disable date custom property from UI
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
Labels: UI, safe to test, e2e:Settings

#16177 Minor: Added the Supported File types for S3 Storage
  openmetadata-docs/content/v1.3.x/connectors/storage/s3/index.md
  openmetadata-docs/content/v1.3.x/connectors/storage/s3/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/s3/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/s3/yaml.md
Labels: documentation

#16139 Minor: Updated Python Dependency for GreenPlum
  ingestion/setup.py
Labels: Ingestion, safe to test

#16183 Minor: Added the Supported File types for ADLS Storage
  openmetadata-docs/content/v1.3.x/connectors/storage/adls/index.md
  openmetadata-docs/content/v1.3.x/connectors/storage/adls/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/adls/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/adls/yaml.md
Labels: documentation

#16174 Minor: Removed Extra Service Connection from MSSQL Yaml file
  openmetadata-docs/content/v1.3.x/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/mssql/yaml.md
Labels: documentation

#16184 Minor: Added the Supported File types for GCS Storage
  openmetadata-docs/content/v1.3.x/connectors/storage/gcs/index.md
  openmetadata-docs/content/v1.3.x/connectors/storage/gcs/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/gcs/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/storage/gcs/yaml.md
Labels: documentation

#16186 chore(docs): Improve docs for k8s with updated references
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/faqs.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.3.x/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/kubernetes/faqs.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/quick-start/local-kubernetes-deployment.md
Labels: documentation, devops, safe to test

#16181 Minor: Incorporated feedback on test case filters implementation
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DatePickerMenu/DatePickerMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: UI, safe to test

#16190 minor: filter out bots from user list
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
Labels: UI, safe to test

#16188 Fixes 16185: try - catch the usage parsing error
  ingestion/src/metadata/ingestion/processor/query_parser.py
  openmetadata-docs/content/v1.1.x/connectors/ingestion/workflows/usage/usage-workflow-query-logs.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/workflows/usage/usage-workflow-query-logs.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/usage/usage-workflow-query-logs.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/workflows/usage/usage-workflow-query-logs.md
Labels: documentation, Ingestion, safe to test

#16191 Minor: Add redirection link to data quality tab and tooltip for better UX
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestCaseStatusSummaryIndicator/TestCaseStatusSummaryIndicator.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestCaseStatusSummaryIndicator/TestCaseStatusSummaryIndicator.component.tsx
Labels: UI, safe to test, e2e:DataAssets

#16193 Fixes #16111: Hive Compiler error profiler
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
Labels: Ingestion, safe to test

#16182 Minor: Updated the document for Airflow DAGs Deployed as Examples
  openmetadata-docs/content/v1.3.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/images/v1.3/quickstart/docker/DAG_Examples.png
  openmetadata-docs/images/v1.4/quickstart/docker/DAG_Examples.png
Labels: documentation

#16179 Minor: Updated the IntelliJ Dependency For Openmetadata-UI
  openmetadata-docs/content/v1.3.x/developers/contribute/build-code-and-run-tests/openmetadata-server.md
  openmetadata-docs/images/v1.3/developers/contribute/build-code-and-run-tests/intellij-dependencies.png
  openmetadata-docs/images/v1.4/developers/contribute/build-code-and-run-tests/intellij-dependencies.png
Labels: documentation

#16189 Credential expiry need not be checked
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
Labels: backend, safe to test

#16194 [ReindexingOps] Fixes Issues in Reindexing Ops
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/Collection.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#16135 issue-9281: column lineage for powerbi
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#16173 minor: enhance custom property crud operation
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
Labels: UI, safe to test, e2e:Settings

#16201 MINOR: fix the profile picture caused due to displayName
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfileIcon/UserProfileIcon.component.tsx
Labels: UI, safe to test, e2e:Settings

#16203 Minor: Automator feedback changes for OSS
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/IngestionWorkflow.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/Explore.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, safe to test

#16212 minor: fix schema editor copy button tooltip
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.tsx
Labels: UI, safe to test

#16213 doc: update custom property doc
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/images/v1.4/how-to-guides/discovery/custom1.png
  openmetadata-docs/images/v1.4/how-to-guides/discovery/custom2.png
  openmetadata-docs/images/v1.4/how-to-guides/discovery/custom3.png
Labels: documentation, UI, safe to test

#16195 #15856 Error when creating test cases if the table contains the name COLUMN
  openmetadata-ui/src/main/resources/ui/cypress/common/EntityUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#16205 MINOR - Fix validate compose CI
  docker/validate_compose.py
Labels: Ingestion, devops, safe to test

#16214 MINOR: Fix missing attribute get_table_owner
  ingestion/src/metadata/ingestion/source/database/database_service.py
Labels: Ingestion, safe to test

#16215 minor: retry logged in user after token refresh
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Labels: UI, safe to test

#16202 Fix #12875: Updated and optimised dagster graphql queries
  ingestion/src/metadata/ingestion/source/pipeline/dagster/queries.py
Labels: Ingestion, safe to test

#16217 Fix #11351 Add Kafka Connect Connector
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/kafka_connect.yaml
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/__init__.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/models.py
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, safe to test, e2e:Integration, e2e:DataAssets

#16197 Minor: work on glossary hierarchy feedback
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16204 MINOR: Small refactor to the Make update_all scripts
  .github/actions/prepare-for-docker-build-and-push/action.yml
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base-slim.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  Makefile
  scripts/update_version.py
Labels: Ingestion, devops, safe to test

#16218 MINOR: Added docs for failed rows sample in data quality
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/workflows/data-quality/failed-rows-sample.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/workflows/data-quality/tests.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.4/connectors/ingestion/workflows/data-quality/data-quality/failed_rows_sample_1.png
  openmetadata-docs/images/v1.4/connectors/ingestion/workflows/data-quality/data-quality/failed_rows_sample_2.png
  openmetadata-docs/images/v1.4/connectors/ingestion/workflows/data-quality/data-quality/set_compute_row_count.png
Labels: documentation, Ingestion, data quality, safe to test

#16127 fix issue in glossaryTerm search getHierarchy api
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Labels: backend, safe to test

#16220 [MINOR] remove aggregation owner.displayName for team_search_index
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Labels: backend, safe to test

#16083 Fix #15809 : Update asset indexes on glossary term hierarchy change/ term rename
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
Labels: backend, safe to test

#16171 MINOR: Removed supportsDDL from json schemas
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/metadata.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/tests/unit/topology/metadata/test_amundsen.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/connectionBasicType.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/clickhouseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
Labels: Ingestion, backend, safe to test

#16222 cypress: AUT cypress failure part 1
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/TaskUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Entity.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Glossary.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Ingestion.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Policy.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Services.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Tags.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/CustomThemeConfig.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/ServiceIngestion.spec.ts
Labels: UI, safe to test, e2e:Integration, e2e:Governance, e2e:Observability, e2e:DataAssets

#16228 Minor: Activity feed bug fixes and improvements part 2
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, safe to test, e2e:DataAssets

#16225 Minor: Fix AzureSQL Authentication mode error
  ingestion/src/metadata/ingestion/source/database/azuresql/connection.py
Labels: Ingestion, safe to test

#16210 - Fix for reindex job not waiting for completion
  openmetadata-service/src/main/java/org/openmetadata/service/exception/AppException.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#16233 MINOR - Add labels in OM Airflow DAGs
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
Labels: Ingestion, safe to test

#16239 fix the glossary terms not showing when expand click
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Labels: UI, safe to test, e2e:Governance

#16246 - Catch no app run exception
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend

#16243 cypress: fixed AUT cypress failure part 2
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#16245 MINOR: use archive instead of volume for postgres test
  ingestion/tests/integration/postgres/conftest.py
Labels: Ingestion, safe to test

#16149 Minor fix column profile pii masking
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: Ingestion, backend, profiler, safe to test

#16227 Fixes: 15835 : Sign-in issues for users imported via CSV.
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ValidatorUtil.java
Labels: backend, Cypress, devops, safe to test, e2e

#16248 Fix #16102 : Ensure adding reviewer to term adds them as an assignee to the task
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: backend, safe to test

#16251 MINOR: Fix data insights misbehaving due to validation error
  ingestion/src/metadata/data_insight/processor/reports/web_analytic_report_data_processor.py
Labels: Ingestion, safe to test

#16250 Minor: rename the column to "Data quality", and updated space of the schema
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestCaseStatusSummaryIndicator/TestCaseStatusSummaryIndicator.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestCaseStatusSummaryIndicator/TestCaseStatusSummaryIndicator.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Labels: UI, safe to test, e2e:DataAssets

#16255 Fix #16249: Fixed saphana connection
  ingestion/src/metadata/ingestion/source/database/saphana/connection.py
Labels: Ingestion, safe to test

#16252 MINOR - Migrate extension separated from native
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MigrationDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/MigrationWorkflowTest.java
Labels: Ingestion, backend, safe to test

#16240 MINOR: Fix Oracle SP Lineage for begin...end SP call
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/utils/stored_procedures.py
  ingestion/tests/unit/utils/test_stored_procedures.py
Labels: Ingestion, safe to test

#16258 Fix #16211: Fix special charechter encoding in trino username
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
  ingestion/tests/unit/test_source_connection.py
Labels: Ingestion, safe to test

#16268 Minor: implemented permissions for import export feature
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
Labels: UI, safe to test, e2e:Integration, e2e:DataAssets

#16265 [MINOR] Fix Import Issue
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
Labels: backend, safe to test

#16266 - Remove Migrate Tags
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
Labels: backend, safe to test

#16241 Minor: Activity feed improvements part 3
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-personas.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-role-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/policies.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/feed-card-body-v1.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/TestCaseFeed/TestCaseFeed.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, e2e:DataAssets

#16242 minor: add isApplicationLoading state in ApplicationStore
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/UnAuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.tsx
Labels: UI, safe to test

#16260 Minor: Bug fixes and improvements
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/TestCaseFeed/TestCaseFeed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/PipelineActions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/react-awesome-query.less
Labels: UI, safe to test

#16271 - Fix Buffering Capacity Issue in Test Case
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: backend, safe to test

#16283 cypress: fixed cypress aut failure part 3
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/UserClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/SingleColumnProfile.tsx
Labels: UI, safe to test

#16287 Minor: fixed join and leave team issue
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Labels: UI, safe to test, e2e:Settings

#16272 test: fix custom properties cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
Labels: UI, safe to test

#16270 fix re-render of tags component
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16275 MINOR: Add PROCESS Priviledge
  docker/mysql/mysql-script.sql
Labels: Ingestion, devops, safe to test

#16290 minor: update hardcoded link color with theme
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataWithMessages/SampleDataWithMessages.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppInstallVerifyCard/AppInstallVerifyCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppInstallVerifyCard/AppInstallVerifyCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/CreateErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/FilterErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPageSettings/CustomPageSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Labels: UI, safe to test

#16230 WIP - MINOR - Backward Incompatible Docs
  openmetadata-docs/content/partials/v1.4/deployment/upgrade/upgrade-prerequisites.md
Labels: documentation, Ingestion, safe to test

#16276 MINOR - Remove setuptools req
  .github/workflows/py-ingestion-publish.yml
  ingestion/setup.py
Labels: Ingestion, safe to test

#16277 MINOR - Add Integration Test for S3 Storage
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/tests/integration/containers.py
  ingestion/tests/integration/mlflow/conftest.py
  ingestion/tests/integration/mlflow/test_mlflow.py
  ingestion/tests/integration/s3/__init__.py
  ingestion/tests/integration/s3/conftest.py
  ingestion/tests/integration/s3/resources/cities/State=AL/c853d4fa4a15481493ae313bf6e60e6d.parquet
  ingestion/tests/integration/s3/resources/cities/State=AZ/f0b308aec3224df1ad885480d7a9a136.parquet
  ingestion/tests/integration/s3/resources/cities_multiple/Year=2023/State=AL/c853d4fa4a15481493ae313bf6e60e6d.parquet
  ingestion/tests/integration/s3/resources/cities_multiple/Year=2023/State=AZ/f0b308aec3224df1ad885480d7a9a136.parquet
  ingestion/tests/integration/s3/resources/cities_multiple_simple/20230412/State=AL/c853d4fa4a15481493ae313bf6e60e6d.parquet
  ingestion/tests/integration/s3/resources/cities_multiple_simple/20230412/State=AZ/f0b308aec3224df1ad885480d7a9a136.parquet
  ingestion/tests/integration/s3/resources/openmetadata.json
  ingestion/tests/integration/s3/resources/transactions/transactions_1.csv
  ingestion/tests/integration/s3/resources/transactions/transactions_2.csv
  ingestion/tests/integration/s3/resources/transactions_separator/transactions_separator.csv
  ingestion/tests/integration/s3/test_s3_storage.py
  ingestion/tests/unit/topology/storage/test_storage.py
Labels: Ingestion, safe to test

#16254 MINOR - Better Health messaging
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/OmHealth/OmHealthPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, Ingestion, backend, safe to test

#16282 MINOR: small doc improvements
  openmetadata-docs/content/v1.1.x/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.1.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/trino/yaml.md
Labels: documentation, Ingestion, safe to test

#16256 MINOR: fix the dropdown not showing in case of no data in glossary
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: UI, safe to test

#16146 feat(ui): what's new details update for 1.4.0
  openmetadata-ui/src/main/resources/ui/src/assets/img/incidentManagerSampleData.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/profilerConfigPage.png
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, e2e:Observability

#16300 cypress: fixed cypress aut failure 5 and improve recursion logic
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightReportApplication.spec.ts
Labels: UI, safe to test, e2e:Integration, e2e:Observability

#16303 fix glossary term selection
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Glossary.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Tags.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16304 FIX - Airflow tagging long names
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/tests/unit/test_helpers.py
Labels: Ingestion, safe to test

#16309 fix(#15364): autogenerate ingestion pipeline name and show displayName for testSuite
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/TestSuiteIngestion.tsx
Labels: UI, safe to test, e2e:Integration

#16310 FIX - Pom after docs removal
  openmetadata-service/pom.xml
Labels: Ingestion, backend, safe to test

#16315 Fix default ordering search listing
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchSortFilter.java
Labels: Ingestion, backend, safe to test

#16312 MINOR: skip pbit test
  ingestion/tests/integration/powerbi/test_powerbi_file_client.py
Labels: Ingestion, safe to test

#16299 MINOR: superset pytest fix
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#16314 MINOR - Airflow dag_tag PK
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/tests/unit/test_helpers.py
Labels: Ingestion, safe to test, e2e:Observability

#16316 MINOR - pkg_resources is deprecated
  ingestion/setup.py
  ingestion/src/metadata/__version__.py
Labels: Ingestion, safe to test

#16286 Fix test case team ownership listing
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, safe to test

#16313 MINOR: Fix kafka connection storage
  ingestion/src/metadata/ingestion/source/messaging/kafka/connection.py
Labels: Ingestion, safe to test

#16293 MINOR: Bump Collate Sqllineage Version
  ingestion/setup.py
Labels: Ingestion, safe to test

#16269 MINOR - Added quicksight pydantic models
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/models.py
  ingestion/tests/unit/topology/dashboard/test_quicksight.py
Labels: Ingestion, safe to test

#16098 fix bug in user token generation
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
Labels: backend, safe to test

#16318 DOCS - fix YAML for gcs
  openmetadata-docs/content/v1.4.x/connectors/storage/adls/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/storage/gcs/yaml.md
Labels: documentation, Ingestion, safe to test

#16320 Minor: added whats new content for health check feature
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#16321 DOCS - Point to the right partials and images
  openmetadata-docs/content/partials/v1.3/connectors/dashboard/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/database/advanced-configuration.md
  openmetadata-docs/content/partials/v1.3/connectors/database/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/ingestion-schedule-and-deploy.md
  openmetadata-docs/content/partials/v1.3/connectors/messaging/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/metadata-ingestion-ui.md
  openmetadata-docs/content/partials/v1.3/connectors/metadata/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/ml-model/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/pipeline/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/search/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/storage/configure-ingestion.md
  openmetadata-docs/content/partials/v1.3/connectors/test-connection.md
  openmetadata-docs/content/partials/v1.3/connectors/yaml/data-profiler.md
  openmetadata-docs/content/partials/v1.3/connectors/yaml/lineage.md
  openmetadata-docs/content/partials/v1.3/connectors/yaml/query-usage.md
  openmetadata-docs/content/partials/v1.3/deployment/reindex.md
  openmetadata-docs/content/partials/v1.3/deployment/upgrade/post-upgrade-steps.md
  openmetadata-docs/content/partials/v1.4/connectors/dashboard/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/database/advanced-configuration.md
  openmetadata-docs/content/partials/v1.4/connectors/database/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/ingestion-schedule-and-deploy.md
  openmetadata-docs/content/partials/v1.4/connectors/messaging/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/metadata-ingestion-ui.md
  openmetadata-docs/content/partials/v1.4/connectors/metadata/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/ml-model/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/pipeline/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/search/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/storage/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/test-connection.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/data-profiler.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/lineage.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/query-usage.md
  openmetadata-docs/content/partials/v1.4/deployment/reindex.md
  openmetadata-docs/content/partials/v1.4/deployment/upgrade/post-upgrade-steps.md
  openmetadata-docs/content/v1.3.x/connectors/database/doris/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/doris/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/sas/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/doris/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/doris/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/sas/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/ingest-dbt-glossary.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/ingest-dbt-tier.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/ingest-dbt-yaml.md
  openmetadata-docs/content/v1.4.x/connectors/pipeline/kafkaconnect/yaml.md
Labels: documentation, Ingestion, safe to test

#16319 cypress: added cypress to validate schemaDefinition(views)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaDefinition.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.ts
Labels: UI, safe to test

#16317 MINOR: fix the header in deleted team feed
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: UI, safe to test

#16324 test: add cypress tests for entity ref and entity ref list custom properties
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
Labels: UI, safe to test

#16327 MINOR: Updated Alation connector 1.4 docs
  openmetadata-docs/content/partials/v1.4/connectors/metadata/configure-ingestion.md
  openmetadata-docs/content/v1.4.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.4.x/connectors/metadata/alation/yaml.md
  openmetadata-docs/images/v1.4/connectors/alation/add-new-service.png
  openmetadata-docs/images/v1.4/connectors/alation/select-service.png
  openmetadata-docs/images/v1.4/connectors/alation/service-connection.png
Labels: documentation, Ingestion, safe to test

#16329 doc: add doc for custom theme
  openmetadata-docs/content/v1.4.x/how-to-guides/user-guide-data-users/theme.md
  openmetadata-docs/content/v1.4.x/menu.md
Labels: documentation, UI, safe to test

#16328 Minor: Improve custom property table update experience
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
Labels: UI, safe to test, e2e:DataAssets

#16292 MINOR: add limits to elasticsearch test container
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: Ingestion, backend, safe to test

#16323 Minor: Bug fixes and improvements
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/EntityConstant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ObservabilityUtils.tsx
Labels: UI, safe to test, e2e:Observability

#16331 MINOR: reindex for cost analysis
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Labels: Ingestion, backend, safe to test, search

#16336 doc: fix typo in custom theme doc
  openmetadata-docs/content/v1.4.x/how-to-guides/user-guide-data-users/theme.md
Labels: documentation, UI, safe to test

#16335 Minor: add query_filter for filtering bots
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
Labels: UI, safe to test

#16337 Minor: fixed log viewer ui breaking issue
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
Labels: UI, safe to test, e2e:Settings
