Repository open-metadata/OpenMetadata, pull requests merged in 2024-09, with the labels that each got.

#17579 Minor: remove unnecessary repository calls in SearchRepository
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Labels: backend, safe to test, e2e

#17652 migrated user spec to playwright
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Users.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Labels: UI, safe to test

#17592 Doc: Updating Connection Docs for SSL in UI for Messaging & Dashboard
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/QlikSense.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Tableau.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Messaging/Kafka.md
Labels: UI, safe to test

#17655 DOCS - Prep Collate docs structure
  .github/workflows/sync-docs-v1.yml
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.5.x/security-collate/amazon-cognito-sso/index.md
  openmetadata-docs/content/v1.5.x/security-collate/auth0/index.md
  openmetadata-docs/content/v1.5.x/security-collate/azure/index.md
  openmetadata-docs/content/v1.5.x/security-collate/custom-oidc/index.md
  openmetadata-docs/content/v1.5.x/security-collate/google/index.md
  openmetadata-docs/content/v1.5.x/security-collate/index.md
  openmetadata-docs/content/v1.5.x/security-collate/keycloak/index.md
  openmetadata-docs/content/v1.5.x/security-collate/ldap/index.md
  openmetadata-docs/content/v1.5.x/security-collate/oidc/index.md
  openmetadata-docs/content/v1.5.x/security-collate/okta/index.md
  openmetadata-docs/content/v1.5.x/security-collate/one-login/index.md
  openmetadata-docs/content/v1.5.x/security-collate/saml/aws.md
  openmetadata-docs/content/v1.5.x/security-collate/saml/azure.md
  openmetadata-docs/content/v1.5.x/security-collate/saml/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/amazon-cognito-sso/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/auth0/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/azure/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/custom-oidc/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/google/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/keycloak/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/ldap/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/oidc/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/okta/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/one-login/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/saml/aws.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/saml/azure.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/security-collate/saml/index.md
Labels: documentation, Ingestion, devops, safe to test

#17663 FIX - Docs sync workflow syntax
  .github/workflows/sync-docs-v1.yml
Labels: Ingestion, devops, safe to test

#17662 MINOR: Fix Athena lineage models
  ingestion/src/metadata/ingestion/source/database/athena/models.py
Labels: Ingestion, safe to test

#17665 fix some entities not visible in Following widget
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LandingPageWidgets/DataAssetsWidget.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LandingPageWidgets/FollowingWidget.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test, e2e, e2e:DataAssets

#17673 migrated cypress Bots spec to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Bots.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/bot/BotClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Labels: UI, safe to test

#17676 Upgrade dependencies for release 1.6
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#17669 test: migrate frequently joined spec to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/FrequentlyJoined.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/FrequentlyJoined.spec.ts
Labels: UI, safe to test

#17645 Fixes: Parse postgres json column fields
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/parsers/json_schema_parser.py
  ingestion/tests/unit/test_json_schema_parser.py
Labels: Ingestion, safe to test

#17657 playwright: migrate incident manager test to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/incidentManager.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#17667 Minor: Remove the EntityDataConsumer spec dependency on organization inherited role
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
Labels: UI, safe to test, e2e, e2e:DataAssets

#17678 fixes 17648: add tags and description for tableau published data source
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Labels: Ingestion, safe to test

#17666 Migrate advanced search tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/AdditionalRuleSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/GroupSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/SingleFiledSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
Labels: UI, safe to test, e2e:DataAssets

#17693 Docs: Updated the broken links in v.1.5.x
  openmetadata-docs/content/v1.5.x/connectors/database/sap-hana/yaml.md
  openmetadata-docs/content/v1.5.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.5.x/connectors/pipeline/openlineage/index.md
  openmetadata-docs/content/v1.5.x/how-to-guides/index.md
  openmetadata-docs/content/v1.5.x/how-to-guides/user-guide-data-users/data-asset-tabs.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/sap-hana/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/openlineage/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/user-guide-data-users/data-asset-tabs.md
Labels: documentation, safe to test

#17688 Docs: Updated the latest Release v.1.5.2
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
Labels: documentation, safe to test

#17687 Docs: Updated Kafka Schema Registry Config Broken Link
  openmetadata-docs/content/v1.4.x/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.4.x/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.4.x/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/messaging/redpanda/index.md
  openmetadata-docs/content/v1.4.x/connectors/messaging/redpanda/yaml.md
  openmetadata-docs/content/v1.4.x/main-concepts/metadata-standard/schemas/entity/services/connections/messaging/kafkaConnection.md
  openmetadata-docs/content/v1.5.x/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.5.x/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.5.x/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.5.x/connectors/messaging/redpanda/index.md
  openmetadata-docs/content/v1.5.x/connectors/messaging/redpanda/yaml.md
  openmetadata-docs/content/v1.5.x/main-concepts/metadata-standard/schemas/entity/services/connections/messaging/kafkaConnection.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/messaging/redpanda/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/messaging/redpanda/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/main-concepts/metadata-standard/schemas/entity/services/connections/messaging/kafkaConnection.md
Labels: documentation, safe to test

#17690 fix permission cypress due to missing file
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Users.ts
Labels: UI, safe to test, e2e

#17691 show display name in suggestions with fqn
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, safe to test, e2e

#17649 Connector: VertexAI UI, docs
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/ml-model/vertexai/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/ml-model/vertexai/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/connectors/vertexai/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/vertexai/select-service.png
  openmetadata-docs/images/v1.6/connectors/vertexai/service-connection.png
  openmetadata-spec/src/main/resources/json/schema/api/data/createMlModel.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/MlModel/Vertexai.md
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, safe to test

#17686 MINOR - PII Scanner tests and log levels
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/profiler/source/metadata_ext.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Labels: Ingestion, safe to test

#17694 MINOR: Fixed dbt cloud run_results.json name
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Labels: Ingestion, safe to test

#17668 MINOR: [DOCS] Added SAP ERP connector documentation
  openmetadata-docs/content/v1.5.x/connectors/database/sap-erp/index.md
  openmetadata-docs/content/v1.5.x/connectors/database/sap-erp/setup-sap-apis.md
  openmetadata-docs/content/v1.5.x/connectors/database/sap-erp/yaml.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/images/v1.5/connectors/sap-erp/add-new-service.png
  openmetadata-docs/images/v1.5/connectors/sap-erp/add-reference.png
  openmetadata-docs/images/v1.5/connectors/sap-erp/add-service-as-endpoint.png
  openmetadata-docs/images/v1.5/connectors/sap-erp/create-project.png
  openmetadata-docs/images/v1.5/connectors/sap-erp/data-definition-object.png
  openmetadata-docs/images/v1.5/connectors/sap-erp/register-odata-service.png
  openmetadata-docs/images/v1.5/connectors/sap-erp/select-service.png
  openmetadata-docs/images/v1.5/connectors/sap-erp/service-connection.png
Labels: documentation, Ingestion, safe to test

#17670 minor(ui): migrate AddRoleAndAssignToUser.spec
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaDefinition.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SchemaDefinition.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
Labels: UI, safe to test

#17701 minor(test): migrate persona spec
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersTab/UsersTabs.component.tsx
Labels: UI, safe to test

#17695 fetch domains before any widget is loaded
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Labels: UI, safe to test, e2e

#17684 fix user spec flaky playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Bots.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
Labels: UI, safe to test, e2e

#17697 minor: disable image upload support in description editor
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageComponent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#17704 Fixes some things on the APICollection
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APICollectionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APICollectionResource.java
Labels: Ingestion, backend, safe to test

#17729 minor(ui): align dependency version to fix vulnerabilities
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#17689 supported followed data in Following widget using search api
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
Labels: UI, safe to test, e2e

#17659 Fix #17640: add links to menus
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Labels: documentation

#17703 fix ui freezing due to images in feed changes
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: UI, safe to test, e2e

#17733 fix expand all operation on terms page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/Glossary.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/GlossaryTerm.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Labels: UI, safe to test

#17727 minor(test): fix ingestion related flaky for aut
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/SnowflakeIngestionClass.ts
Labels: UI, safe to test, e2e:Integration

#17740 test: migrate login config to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/LoginConfiguration.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LoginConfiguration.spec.ts
Labels: UI, safe to test

#17709 Minor: remove unused dependency
  pom.xml
Labels: backend, safe to test

#17719 make cost analysis as collate only
  openmetadata-docs/content/v1.4.x/how-to-guides/data-insights/cost-analysis.md
Labels: documentation, UI, safe to test

#17731 GEN-1333 Add TS validation on DQ and Porfiler data ingestion
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, profiler, safe to test

#17682 [FIX] Jakarta Activation Dependency
  openmetadata-service/pom.xml
Labels: backend, safe to test

#17606 New Email Templates (OSS)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightTotalAssetTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DocumentRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v153/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v153/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v153/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/account-activity-change.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/changeEvent.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/dataInsightReport.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/email-verification.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/invite-createPassword.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/invite-randompwd.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/reset-link.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/taskAssignment.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/testMail.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/testResultStatus.json
Labels: backend, safe to test

#17734 MINOR - Better PII classification for JSON data
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/pii/scanners/base.py
  ingestion/src/metadata/pii/scanners/column_name_scanner.py
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Labels: Ingestion, safe to test

#17596 Fixes #17085: Update Oracle count & unique count function to handle HexByteString/Blob types
  ingestion/src/metadata/profiler/orm/functions/count.py
  ingestion/src/metadata/profiler/orm/functions/unique_count.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
Labels: Ingestion, safe to test

#17699 Fix 17698: use resolution logic for snowflake system metrics profiler
  ingestion/src/_openmetadata_testutils/pydantic/test_utils.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
  ingestion/src/metadata/ingestion/source/database/snowflake/models.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/__init__.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/system_metrics.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/system/queries/redshift.py
  ingestion/src/metadata/profiler/metrics/system/queries/snowflake.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/utils/profiler_utils.py
  ingestion/src/metadata/utils/time_utils.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
  ingestion/tests/unit/metadata/data_quality/__init__.py
  ingestion/tests/unit/metadata/ingestion/source/database/snowflake/profiler/test_system_metrics.py
  ingestion/tests/unit/profiler/test_utils.py
Labels: Ingestion, safe to test

#17732 FIXES 17730: Remove CostAnalysisWorkflow dependency on Service Connection
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/CostAnalysisWorkflow.java
Labels: Ingestion, backend, safe to test

#17748 MINOR - Fix lineage GET for names with `/` and standardize quote calls
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/unit/test_fqn.py
Labels: Ingestion, safe to test

#17744 fix cypress for the Customize Landing and EntityVersion page
  openmetadata-ui/src/main/resources/ui/cypress/common/CustomizeLandingPageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: UI, safe to test, e2e

#17743 fix playwright redshift delete entity failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
Labels: UI, safe to test, e2e:Integration, e2e:Observability

#17752 MINOR - Fix Collate docs sync for partials
  .github/workflows/sync-docs-v1.yml
Labels: Ingestion, devops, safe to test

#17735 #16644: support resizable column to customProperty
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/test/unit/mocks/reactColumnResize.mock.js
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, e2e

#17750 MINOR - Bump Presidio Analyzer and validate support for legal entities
  ingestion/setup.py
  ingestion/src/metadata/pii/ner.py
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Labels: Ingestion, safe to test

#17753 fix userDetails and personFlow flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserDetails.spec.ts
Labels: UI, safe to test

#17741 test: migrate recently viewed spec to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/RecentlyViewed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.test.tsx
Labels: UI, safe to test, e2e:DataAssets

#17749 playwright: fixed failing AUT test incidentManager and queryEntity
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/incidentManager.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#17705 Migrate: Data quality and profiler test to playwright
  .gitignore
  openmetadata-ui/src/main/resources/ui/.eslintrc.yaml
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceIngestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MySqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#17706 GEN-1213 - logic to index test case result
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResultIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_result_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
Labels: Ingestion, backend, safe to test, spec

#17603 Docs: Updated Domain in Docker Compose & Docs
  conf/openmetadata.yaml
  docker/development/docker-compose-gcp.yml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-docs/content/v1.4.x/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.4.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.4.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.4.x/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/content/v1.5.x/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.5.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-kubernetes-deployment.md
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/user.ts
Labels: documentation, UI, devops, safe to test

#17758 Migrate: tags spec to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Labels: UI, safe to test, e2e:Governance

#17759 Migrated TeamHierarchy cypress to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TeamsHierarchy.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
Labels: UI, safe to test

#17762 minor(ui): what's new updated for 1.5.3
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#17761 Add Listpage Method
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Labels: backend, safe to test

#17766 MINOR - Fix region typo in test
  ingestion/tests/unit/profiler/pandas/test_custom_metrics.py
Labels: Ingestion, safe to test

#17763 MINOR: make RCA docs collate only
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
Labels: documentation, Ingestion, safe to test

#17773 fix upgrade docs version
  openmetadata-docs/content/v1.5.x/deployment/upgrade/index.md
Labels: documentation, backend, safe to test

#17774 fix playwright skip workflow to have metrix strategy to comply with w…
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
Labels: UI, devops, safe to test

#17765 Migrate: All the version page test to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ClassificationVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiEndpointClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/StoredProcedureClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/ApiServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/DashboardServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/DatabaseServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/MessagingServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/MlmodelServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/PipelineServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/SearchIndexServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/StorageServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/ClassificationClass.ts
Labels: UI, safe to test

#17767 MINOR: Fix redshift ingestion warnings in case of ext table
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
Labels: Ingestion, safe to test

#17710 MINOR: Add Matillion test connection and schema for pipeline service
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/matillion.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/matillionConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
Labels: Ingestion, backend, safe to test, spec

#17783 DOCS - Getting Started Collate
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/gcs-composer.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.5.x/getting-started/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/gcs-composer.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/index.md
Labels: documentation, Ingestion, safe to test

#17784 MINOR: fix typo in profiler metric
  ingestion/src/metadata/profiler/metrics/system/system.py
Labels: Ingestion, safe to test

#17780 migrated team-drag-drop spec in playwright
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DragAndDrop.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dragDrop.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
Labels: UI, safe to test, e2e

#17772 supported left panel resizable panel in some entities
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Labels: UI, safe to test, e2e

#17754 GEN-309: OpenAPI Connector
  ingestion/src/metadata/examples/workflows/rest.yaml
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/models/custom_types.py
  ingestion/src/metadata/ingestion/source/api/api_service.py
  ingestion/src/metadata/ingestion/source/api/rest/connection.py
  ingestion/src/metadata/ingestion/source/api/rest/metadata.py
  ingestion/src/metadata/ingestion/source/api/rest/models.py
  ingestion/src/metadata/utils/class_helper.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/test_workflow_parse.py
  ingestion/tests/unit/topology/api/test_rest.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/api/rest/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/api/rest/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/connectors/rest/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/rest/select-service.png
  openmetadata-docs/images/v1.6/connectors/rest/service-connection.png
  openmetadata-service/src/main/resources/json/data/testConnections/api/rest.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/APIServiceResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createApiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiCollection.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiEndpoint.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/apiServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/API/REST.md
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
Labels: UI, Ingestion, backend, safe to test, spec

#17785 #1654 Add a search field in Profiler & Data Quality
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#17798 playwright: fixed failing aut of 1.5.4
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
Labels: UI, safe to test

#17755 [REFACTOR] Improved Structure For Email Module
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/email/EmailPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DocumentRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/docstore/DocStoreResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/DefaultTemplateProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/TemplateConstants.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/TemplateProvider.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/MSTeamsCallbackResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/SlackCallbackResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Labels: backend, safe to test

#17808 migrated myData spec to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/myData.ts
Labels: UI, safe to test

#17700 Fix 17304: make ingestion pipeline APIs public
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Labels: Ingestion, backend, safe to test

#17810 MINOR: Fix Redshift View Def regex_replace Error
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
Labels: Ingestion, safe to test

#17809 MINOR: profiler e2e fix
  ingestion/src/metadata/profiler/processor/core.py
Labels: Ingestion, safe to test

#17793 [FIX] Announcement Notification Issue
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
Labels: backend, safe to test

#17806 Fixes #17804: Classification API returns Table class for restore
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
Labels: Ingestion, backend, safe to test

#17805 MINOR: tests(datalake): use minio
  ingestion/setup.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/containers.py
  ingestion/tests/integration/datalake/conftest.py
  ingestion/tests/integration/datalake/resources/profiler_test_.csv
  ingestion/tests/integration/datalake/test_datalake_profiler_e2e.py
  ingestion/tests/integration/datalake/test_ingestion.py
  ingestion/tests/integration/orm_profiler/test_datalake_profiler_e2e.py
  ingestion/tests/integration/sources/database/delta_lake/conftest.py
  ingestion/tests/unit/profiler/pandas/test_custom_metrics.py
Labels: Ingestion, safe to test

#17776 MINOR - Add ES pagination with error handling
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRequest.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Labels: Ingestion, backend, safe to test

#17770 MINOR: added config logging with secrets redacted
  ingestion/src/metadata/cli/app.py
  ingestion/src/metadata/cli/dataquality.py
  ingestion/src/metadata/cli/ingest.py
  ingestion/src/metadata/cli/lineage.py
  ingestion/src/metadata/cli/profile.py
  ingestion/src/metadata/cli/usage.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/unit/utils/test_logger.py
Labels: Ingestion, safe to test

#17814 MINOR: ci: pin spacy version
  ingestion/setup.py
Labels: Ingestion, safe to test

#17738 GEN-1380 - Implement support for date_histogram aggregation
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Labels: Ingestion, backend, data quality, safe to test, e2e:Observability, spec

#17788 [GEN-1406]: import plugin and clear plugin message for failed source import
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/importer.py
  ingestion/src/metadata/utils/logger.py
  ingestion/src/metadata/workflow/ingestion.py
  ingestion/src/metadata/workflow/metadata.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/src/metadata/workflow/usage.py
  ingestion/src/metadata/workflow/workflow_init_error_handler.py
  ingestion/tests/unit/data_quality/source/test_test_suite.py
Labels: Ingestion, safe to test

#17775 Minor: improve UI of filters in test case graph
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/test-summary.less
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
Labels: UI, safe to test, e2e

#17811 modify bot playwright test to stepper mode from parallel
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Bots.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
Labels: UI, safe to test

#17819 Docs: Updating the latest Release v.1.5.3
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
Labels: documentation, safe to test

#17823 fix(ui): unable to access import glossary page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryImportExport.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizableLeftPanels.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizableLeftPanels.tsx
Labels: UI, safe to test, e2e:Governance

#17818 playwright: fixed failing aut test in main
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/myData.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test, e2e:Integration, e2e:Governance, e2e:DataAssets, e2e:Settings

#17812 minor: update custom property entities data model, data product and database schema icon
  openmetadata-ui/src/main/resources/ui/src/assets/svg/database-schema.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-dashboard-data-model-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-data-product-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-database-schema-colored.svg
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Labels: UI, safe to test, e2e:DataAssets

#17824 Docs: Updated the Getting Started Collate Docs
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.5.x/security-collate/basic-auth/index.md
  openmetadata-docs/images/v1.5/getting-started/add-service.png
  openmetadata-docs/images/v1.5/getting-started/add-users.png
  openmetadata-docs/images/v1.5/getting-started/collate-saas-ip.png
  openmetadata-docs/images/v1.5/getting-started/configure-connector.png
  openmetadata-docs/images/v1.5/getting-started/select-service.png
  openmetadata-docs/images/v1.5/getting-started/test-connection.png
  openmetadata-docs/images/v1.5/getting-started/users.png
Labels: documentation, safe to test

#17816 fix playwright tests for search and owners
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/tier-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
Labels: UI, safe to test, e2e:DataAssets

#17830 Docs: Fixing the Getting Started Collate Images Size
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/index.md
  openmetadata-docs/images/v1.5/getting-started/users.png
Labels: documentation, safe to test

#17795 playwright: migrate permission spec to playwright
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/access-control/PoliciesClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
Labels: UI, safe to test, e2e:DataAssets

#17779 MINOR: Optimise Snowflake Test Connection
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Labels: Ingestion, safe to test

#17833 playwright: fixed AUT test for 1.5.4
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Labels: UI, safe to test

#17782 feat(ui): support refresh with multi tabs open
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/dataInsightApp.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-refresh.svg
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/nav-bar.less
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test, e2e:Integration

#17803 migration: fully migrated customize landing page to playwright
  openmetadata-ui/src/main/resources/ui/cypress/common/CustomizeLandingPageUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/EntityConstant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
Labels: UI, safe to test

#17820 MINOR: Refactor code to improve di pipeline performance
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
Labels: Ingestion, backend, safe to test

#17664 Minor: Alert e2e playwright migration
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/alert.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/alert.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/alert.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddNotificationPage/AddNotificationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.tsx
Labels: UI, safe to test, e2e

#17836 fix playwright test issues
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Explore.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AddRoleAndAssignToUser.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#17834 minor(ui): Bump react version to 17
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageComponent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerSettings/MockSchema.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerSettings/ProfilerSettings.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryUsedByOtherTable/QueryUsedByOtherTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryOverviewTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppRunsHistory/AppRunsHistory.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/ConfigureService.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ClassificationVersionPage/ClassificationVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets, e2e:Settings

#17845 fix(ui): security vulnerability for ui package.json
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#17844 Playwright: fixed AUT testCases spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
Labels: UI, safe to test

#17847 fix(ui): security vulnerability for root yarn.lock
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Service.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
  package.json
  yarn.lock
Labels: UI, safe to test

#17842 playwright improvement in activity feed spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
Labels: UI, safe to test

#17831 Fixes 8428: make it possible to choice a sampling method type when we create profile ingestion for the Snowflake
  ingestion/src/metadata/profiler/api/models.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/snowflake/sampler.py
  ingestion/tests/unit/profiler/sqlalchemy/snowflake/test_sampling_method.py
  openmetadata-docs/content/v1.5.x/how-to-guides/data-quality-observability/profiler/sample_data.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/sample_data.md
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/profiler.md
Labels: documentation, UI, Ingestion, backend, safe to test, spec

#17841 [Snyk] Security upgrade com.slack.api:slack-api-client from 1.42.0 to 1.42.1
  openmetadata-service/pom.xml
Labels: backend, safe to test

#17835 GEN-1410 - Improve PII Logging information
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/profiler.py
Labels: Ingestion, safe to test

#17757 Issue-13782: RBAC for search
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/queries/ElasticQueryBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/queries/ElasticQueryBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/queries/OpenSearchQueryBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/queries/OpenSearchQueryBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/queries/OMQueryBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/queries/QueryBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/ConditionCollector.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/ElasticSearchRBACConditionEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/OpenSearchRBACConditionEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  pom.xml
Labels: backend, safe to test

#17792 MINOR: Add Matillion SSL + Docs implementation
  ingestion/src/metadata/examples/workflows/matillion.yaml
  ingestion/src/metadata/utils/ssl_manager.py
  ingestion/tests/unit/test_workflow_parse.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/matillion/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/matillion/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/connectors/matillion/add-new-service.webp
  openmetadata-docs/images/v1.6/connectors/matillion/lineage.webp
  openmetadata-docs/images/v1.6/connectors/matillion/select-service.webp
  openmetadata-docs/images/v1.6/connectors/matillion/service-connection.webp
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Matillion.md
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, safe to test

#17853 GEN-1494 - Add CI for py-tests with Postgres and Opensearch
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/workflows/py-tests-postgres.yml
  ingestion/tests/integration/ometa/test_ometa_es_api.py
Labels: Ingestion, safe to test

#17852 Playwright: fixed Tags AUT test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Labels: UI, safe to test

#17850 MINOR: add children to array of struct
  ingestion/examples/sample_data/datasets/tables.json
Labels: Ingestion, safe to test

#17861 [DOC] MINOR: remove deprecated docs
  openmetadata-docs/content/v1.5.x/how-to-guides/data-insights/metadata-cli.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-insights/metadata-cli.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Labels: Ingestion, safe to test

#17857 minor: remove suggestion api from UI
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/incidentManager.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/mention/mentionSuggestions.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Task.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#17865 Fix Search RBAC to consider only ViewAll, ViewBasic
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/ElasticSearchRBACConditionEvaluatorTest.java
Labels: backend, safe to test

#17874 Add missing info for flink connector
  openmetadata-docs/content/partials/v1.5/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.6/connectors/pipeline/connectors-list.md
  openmetadata-docs/images/connectors/flink.webp
Labels: documentation, UI, safe to test

#17875 Docs: Updating the latest Release v.1.5.4
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
Labels: documentation, UI, safe to test

#17883 MINOR: Fixed AlationSink pytest for postgres CI
  ingestion/tests/integration/alationsink/test_alationsink.py
Labels: Ingestion, safe to test

#17878 Revert "#16465: supported resize column in glossary tables"
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Labels: UI, safe to test

#17859 FIX - Postgres Python CI
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/automations/conftest.py
  ingestion/tests/integration/automations/test_connection_automation.py
  ingestion/tests/integration/connections/conftest.py
  ingestion/tests/integration/connections/test_mysql_connection.py
  ingestion/tests/integration/ometa/conftest.py
  ingestion/tests/integration/ometa/test_ometa_ingestion_pipeline.py
  ingestion/tests/integration/workflow/conftest.py
  ingestion/tests/integration/workflow/mysql_test.yaml
  ingestion/tests/integration/workflow/test_workflow.py
Labels: Ingestion, safe to test

#17881 fix failing playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Labels: UI, safe to test

#17858 GEN-1493 - Fix paginate_es in opensearch
  .github/workflows/py-tests-postgres.yml
  docker/development/docker-compose.yml
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, safe to test

#17856 fix(ui): security vulnerability for ui packages
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
  package.json
  yarn.lock
Labels: UI, safe to test

#17825 fix(ui): overriding user info after login
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/UserDataUtils.ts
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#17893 Docs - Ingestion License
  ingestion/LICENSE
Labels: Ingestion, safe to test

#17891 Docs: Updated getting started Docs
  openmetadata-docs/content/v1.5.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/index.md
  openmetadata-docs/images/v1.5/getting-started/add-ingestion.png
  openmetadata-docs/images/v1.5/getting-started/add-service.png
  openmetadata-docs/images/v1.5/getting-started/add-users.png
  openmetadata-docs/images/v1.5/getting-started/collate-saas-ip.png
  openmetadata-docs/images/v1.5/getting-started/configure-connector.png
  openmetadata-docs/images/v1.5/getting-started/explore-tab.png
  openmetadata-docs/images/v1.5/getting-started/ingestion-config.png
  openmetadata-docs/images/v1.5/getting-started/schedule-ingesgtion.png
  openmetadata-docs/images/v1.5/getting-started/select-service.png
  openmetadata-docs/images/v1.5/getting-started/test-connection.png
  openmetadata-docs/images/v1.5/getting-started/update-user.png
Labels: safe to test

#17880 fix: Teams and owner fields are not being passed in the policy API call.
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Policies.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/EditRulePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/EditRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#17887 Create pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
Labels: safe to test

#17871 Improve Search Relevancy for tier, usage and use stemming to generate ngrams
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRequest.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/IngestionPipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/QueryIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TeamIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/UserIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/api_endpoint_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/api_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/classification_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/data_products_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/messaging_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/metadata_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/metric_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/storage_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
Labels: backend, safe to test

#17894 fix: ApiDocs Playwright spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiDocs.spec.ts
Labels: UI, safe to test

#17884 Playwright: fixed permission, dataQuality, & testCases spec for 1.5.5
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
Labels: UI, safe to test

#17862 GEN-1192 - Move Test Case to its Own Resource
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/integration/mysql/test_data_quality.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityTimeSeriesResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResultResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_result_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCaseResult.json
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Labels: Ingestion, safe to test

#17886 Playwright: fix myData and ActivityFeed test 1.5.5
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/MyData.spec.ts
Labels: UI, safe to test

#17848 fix(e2e): ingestion related flaky failures
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e.yml
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceIngestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/dataInsightApp.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MySqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Labels: UI, safe to test

#17892 Minor: improve the UX of profiler graph tooltip
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDetailsCard/ProfilerDetailsCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDetailsCard/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/CustomMetricGraphs/CustomMetricGraphs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/CustomMetricGraphs/CustomMetricGraphs.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/CustomBarChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/CustomBarChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/OperationDateBarChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/OperationDateBarChart.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#17904 Minor python test failure
  ingestion/tests/integration/sources/database/delta_lake/test_deltalake_storage.py
Labels: Ingestion, safe to test

#17864 GEN-1492 - Decrypt JWT internally for system health check
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
Labels: Ingestion, safe to test

#17890 GEN 1507 - Implement Origin Entity FQN parms to incident manager listing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MySqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
Labels: Ingestion, data quality, safe to test

#17910 MINOR: fix(ingestion): deltalake
  ingestion/setup.py
Labels: Ingestion, safe to test

#17922 MINOR: Apply multi threading in View Lineage Processing
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Labels: Ingestion, safe to test

#17907 Fix 17903: fix(data-quality): snowflake data diff
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/base/e2e_types.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Labels: Ingestion, safe to test

#17921 minor(ci): e2e playwright limit install dependacy step
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: UI, safe to test

#17913 Add Redirect Uri Handling for Confidential Flow
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
Labels: backend, safe to test
