Repository open-metadata/OpenMetadata, pull requests merged in 2024-10, with the labels that each got.

#18052 Fix #18035 - getting type null exception on feed
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#18061 Fix Ops taking in wrong long param
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#18062 add what's new for 1.5.6
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: hacktoberfest, UI, safe to test, hacktoberfest-accepted

#18051 chore(test): ingestion playwright flakiness
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MySqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Labels: UI, safe to test

#18059 Docs: Revising Get Started Content
  openmetadata-docs/content/v1.5.x/how-to-guides/getting-started/day-1/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/getting-started/day-1/index.md
  openmetadata-docs/images/v1.5/how-to-guides/admin-guide/email.png
  openmetadata-docs/images/v1.6/how-to-guides/admin-guide/email.png
Labels: safe to test

#18065 MINOR: fix custom property layout issues
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/property-value.less
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#18056 [IMPROVEMENT] Add Support for Custom Headers and HTTP Methods in Generic Webhook
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/generic/GenericPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
  openmetadata-spec/src/main/resources/json/schema/entity/events/webhook.json
Labels: backend, safe to test

#18074 MINOR: fix custom property enum styling fix
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/property-value.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#18069 GEN 1409 - Logic to fetch DQ Lineage
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResultResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
Labels: Ingestion, safe to test

#18082 [DOCS] Add a note for Postgres MD5 missing on Azure
  openmetadata-docs/content/v1.5.x/deployment/bare-metal/index.md
Labels: devops, safe to test

#17939 Docs: Updating Quick Start Document
  openmetadata-docs/content/v1.5.x/quick-start/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/index.md
Labels: safe to test

#18067 minor(ui): react-quill package update to maintained one
  openmetadata-ui/src/main/resources/ui/.licenseheaderrc.json
  openmetadata-ui/src/main/resources/ui/LICENSE
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright/constant/glossaryImportExport.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/custom-property-table.less
  openmetadata-ui/src/main/resources/ui/src/constants/ResizablePanel.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QuillLink/QuillLink.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QuillLink/QuillLink.ts
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18081 Minor: added test case result api
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test

#18080 MINOR - Reduce lineage response size
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, safe to test, lineage

#18084 Docs: Fixing Broken Links
  openmetadata-docs/content/v1.5.x/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-insights/cost-analysis.md
Labels: safe to test

#18087 Docs: Quick Start Login Images Updation
  openmetadata-docs/images/v1.5/quickstart/sandbox/create-user.png
  openmetadata-docs/images/v1.5/quickstart/sandbox/login.png
  openmetadata-docs/images/v1.5/quickstart/tour.png
  openmetadata-docs/images/v1.6/quickstart/sandbox/create-user.png
  openmetadata-docs/images/v1.6/quickstart/sandbox/login.png
  openmetadata-docs/images/v1.6/quickstart/tour.png
Labels: safe to test

#18088 Minor : Handle exception in Custom property
  openmetadata-service/src/main/java/org/openmetadata/service/TypeRegistry.java
Labels: backend, safe to test

#18090 minor: update whats new for 1.5.6
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: hacktoberfest, UI, safe to test, hacktoberfest-accepted

#18072 MINOR - Add App Limits
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AppUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/AppException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/limits/AppLimits.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appExtension.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appRunRecord.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/private/external/metaPilotAppPrivateConfig.json
Labels: Ingestion, safe to test

#18091 GEN-1672: AlationSink connector improvements
  ingestion/src/metadata/ingestion/source/metadata/alationsink/metadata.py
  ingestion/tests/integration/alationsink/test_alationsink.py
Labels: Ingestion, safe to test

#17969 GEN-1215: DI Populate Test Case Result & Resolution Status
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataQuality/DataQualityWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResultIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntityTimeSeriesSource.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_result_index_mapping.json
Labels: Ingestion, safe to test

#18095 MINOR: MSTR URI Fix
  ingestion/src/metadata/ingestion/source/dashboard/mstr/client.py
Labels: Ingestion, safe to test

#18106 Minor: Update latest release references to 1.5.6
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/deployment/docker/index.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.5.x/sdk/python/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/sdk/python/index.md
Labels: documentation, UI, safe to test

#18098 MINOR: Fix Ingestion Dockerfile Compatibility by changing IF syntax
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Labels: Ingestion, safe to test

#18103 MINOR: Fix s3 & salesforce yaml docs
  openmetadata-docs/content/v1.5.x/connectors/database/salesforce/yaml.md
  openmetadata-docs/content/v1.5.x/connectors/storage/s3/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/salesforce/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/storage/s3/yaml.md
Labels: Ingestion, safe to test

#18093 [GEN-1704] Remove Table Details from Import/Export at table level
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/resources/json/data/table/tableCsvDocumentation.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: backend, safe to test

#18094 Fix #18070: Add support for glue database descriptions
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/models.py
Labels: Ingestion, safe to test

#18114 fix: PostgreSQL installation in Ingestion Docker
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Labels: devops, safe to test

#18109 Minor: Resolve protected namespace warning
  ingestion/src/metadata/pii/scanners/ner_scanner.py
Labels: Ingestion, safe to test

#18047 Fix #18005: Mask Greenplum Password
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/GreenplumConnectionClassConverter.java
Labels: Ingestion, safe to test

#18102 MINOR: Fix superset arrray/struct sub-datatype error
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#18085 MINOR: fix(table-diff): support cross database
  ingestion/pyproject.toml
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/tests/integration/data_quality/conftest.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/unit/metadata/data_quality/test_table_diff_param_setter.py
Labels: Ingestion, safe to test

#18125 fix(ui): MSAL popup auth issue
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18128 Fix performance issue
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
Labels: backend, safe to test

#18119 human readable retention period
  openmetadata-ui/src/main/resources/ui/src/components/Database/RetentionPeriod/RetentionPeriod.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/RetentionPeriod/RetentionPeriod.component.tsx
Labels: safe to test

#18101 PLAYWRIGHT: fix activity feed aut flaky failures
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedDrawer/ActivityFeedDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useReserveSidebar.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useReserveSidebar.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: hacktoberfest, UI, safe to test, hacktoberfest-accepted

#18120 Minor: mark params optional for test case reports end point
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test

#18122 Fixes #18121: Empty Connection Overwrite Logic
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
Labels: Ingestion, safe to test

#18132 Fix #18043: Highlight code blocks in RichTextEditor
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/CustomHtmlRederer/CustomHtmlRederer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.test.tsx
Labels: safe to test

#18133 MINOR: add env DEV_SERVER_TARGET for webpack.config.dev.js to specify the OpenMetadata server
  openmetadata-ui/src/main/resources/ui/README.md
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Labels: safe to test

#18123 minor: custom properties layout and styling improvements
  openmetadata-ui/src/main/resources/ui/src/assets/svg/end-time-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/end-time.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/start-time-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/start-time.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/property-value.less
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/ResizablePanel.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Labels: hacktoberfest, UI, safe to test, hacktoberfest-accepted

#18105 Fixes #18104 : change parse_obj and assertEquals which was deprecated
  ingestion/src/metadata/ingestion/source/database/datalake/clients/gcs.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/storage/gcs/metadata.py
  ingestion/tests/integration/ometa/test_ometa_custom_properties_api.py
  ingestion/tests/unit/data_quality/source/test_test_suite.py
  ingestion/tests/unit/topology/database/test_athena.py
  ingestion/tests/unit/topology/test_context_manager.py
  openmetadata-docs/content/v1.4.x/deployment/upgrade/versions/130-to-140.md
  openmetadata-docs/content/v1.5.x/deployment/upgrade/versions/130-to-140.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/upgrade/versions/130-to-140.md
Labels: safe to test

#18097 GEN-1296: sort test cases by latest run
  openmetadata-ui/src/main/resources/ui/.licenseheaderignore
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Labels: UI, safe to test

#18127 Update SSO configs to show clear URLs for callback and public keys
  openmetadata-docs/content/v1.5.x/deployment/security/amazon-cognito-sso/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/amazon-cognito-sso/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/amazon-cognito-sso/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/auth0/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/azure/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/custom-oidc/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/google/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/google/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/google/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/oidc/index.md
  openmetadata-docs/content/v1.5.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/one-login/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/one-login/kubernetes.md
  openmetadata-docs/content/v1.5.x/deployment/security/saml/aws.md
  openmetadata-docs/content/v1.5.x/deployment/security/saml/azure.md
  openmetadata-docs/content/v1.5.x/deployment/security/saml/bare-metal.md
  openmetadata-docs/content/v1.5.x/deployment/security/saml/docker.md
  openmetadata-docs/content/v1.5.x/deployment/security/saml/kubernetes.md
Labels: backend, safe to test

#18143 minor: update webpack config to resolve reactdatagrid css
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: hacktoberfest, UI, safe to test, hacktoberfest-accepted

#18136 MINOR: supported search filter and only all show in case of all node value selected
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/TreeSelectWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/TreeSelectWidget.tsx
Labels: UI, safe to test

#18139 FIX - PG AppName Migration
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
Labels: Ingestion, safe to test

#18149 fix(ui): security deps for cookie package
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18148 chore(ui): support Persian language option
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, safe to test

#18160 Update docs sync workflow to push content to main branch
  .github/workflows/sync-docs-v1.yml
Labels: UI, safe to test

#18141 MINOR: added check to append reserve-sidebar class to body
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedDrawer/ActivityFeedDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useReserveSidebar.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useReserveSidebar.ts
Labels: UI, safe to test

#18129 MINOR - Add support for additional aggregation
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchAggregation.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchAggregationNode.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticAggregationsBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticAvgAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticBucketSelectorAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticCardinalityAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticDateHistogramAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticMinAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticNestedAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticTermsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticTopHitsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenAggregationsBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenAvgAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenBucketSelectorAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenCardinalityAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenDateHistogramAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenMinAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenNestedAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenTermsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenTopHitsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/Utilities.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
Labels: Ingestion, safe to test

#18100 Refactor ServiceConnectionDetails component
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/matillionConnection.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Labels: Ingestion, safe to test

#18159 Remove the collate connector links from the OSS menu.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Labels: UI, safe to test

#17967 GEN-1322: API Entity - Remove Beta
  ingestion/examples/sample_data/api_service/service.json
  ingestion/examples/sample_data/ometa_api_service/service.json
  ingestion/src/metadata/examples/workflows/rest.yaml
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/source/api/api_service.py
  ingestion/src/metadata/ingestion/source/api/rest/connection.py
  ingestion/src/metadata/ingestion/source/api/rest/metadata.py
  ingestion/src/metadata/utils/class_helper.py
  ingestion/tests/unit/test_workflow_parse.py
  ingestion/tests/unit/topology/api/test_rest.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APICollectionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/apiservices/APIServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIServiceIndex.java
  openmetadata-service/src/main/resources/json/data/testConnections/api/rest.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/APIServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createApiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/automations/testServiceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiCollection.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiEndpoint.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/api/restConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/serviceType.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiServiceRest.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceIngestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiEndpointClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ApiIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/ApiServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/ApiEntity/Rest.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/ApiEntity/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/APIServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: hacktoberfest, UI, safe to test, hacktoberfest-accepted

#18155 Minor: Updated pyiceberg version to 0.5.1
  ingestion/setup.py
Labels: safe to test

#18166 Gen-882: Add max length validation for glossary term rename
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-search.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test

#18163 MINOR: [Doc] Glue Pipeline Yaml fixed, Security.md Modified
  SECURITY.md
  openmetadata-docs/content/v1.4.x/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.5.x/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/glue-pipeline/yaml.md
Labels: Ingestion, safe to test

#18172 MINOR: open links in new tab in DataAssetsHeader
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
Labels: safe to test

#18176 FIX - App Extension Migration
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
Labels: Ingestion, safe to test

#18179 [OnBoarding] Order Apps Order on Resource
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: backend, safe to test

#18171 chore(ui): move persona as top level settings
  openmetadata-ui/src/main/resources/ui/playwright/constant/settings.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaDetailsCard/PersonaDetailsCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaDetailsCard/PersonaDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#18164 MINOR: [DOC] Update GCS connector platform in storage connectors list
  openmetadata-docs/content/partials/v1.5/connectors/storage/connectors-list.md
  openmetadata-docs/content/partials/v1.6/connectors/storage/connectors-list.md
Labels: Ingestion, safe to test

#18178 Fix #18177: Fix Hive MetaStore connection issue
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
Labels: Ingestion, safe to test

#18182 Fix Redshift profiler for external tables in Redshift Spectrum
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
Labels: safe to test

#18180 PLAYWRIGHT: fix activityFeed and DataInsight AUT playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#18183 Docs: Data Quality link correction
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/visualize.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Labels: safe to test

#18189 Docs: Suite link correction
  openmetadata-docs/content/v1.5.x/how-to-guides/data-quality-observability/quality/adding-test-suites.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/adding-test-suites.md
Labels: safe to test

#18190 Minor: Fix the automator page breaking when no source is selected
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
Labels: UI, safe to test, e2e

#18192 MINOR: Update DB2 dependencies to fix issue about not having ibm-db installed
  ingestion/setup.py
Labels: Ingestion, safe to test

#18200 Docs: Updating Collate Menu
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
Labels: safe to test

#17981 GEN-970: Refactor redshift system metrics to support freshness test
  ingestion/pyproject.toml
  ingestion/src/_openmetadata_testutils/pytest_openmetadata/__init__.py
  ingestion/src/_openmetadata_testutils/pytest_openmetadata/plugin.py
  ingestion/src/_openmetadata_testutils/pytest_openmetadata/test_utils.py
  ingestion/src/metadata/data_quality/builders/i_validator_builder.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/profiler/__init__.py
  ingestion/src/metadata/ingestion/source/database/redshift/profiler/system.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/system.py
  ingestion/src/metadata/profiler/metrics/system/queries/redshift.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/utils/time_utils.py
  ingestion/tests/unit/metadata/ingestion/source/database/snowflake/profiler/test_system_metrics.py
  ingestion/tests/unit/metadata/utils/test_time_utils.py
  ingestion/tests/unit/profiler/test_utils.py
Labels: Ingestion, safe to test

#18117 GEN-1727: Pluralize owner label everywhere
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntitySummaryPanel.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreQuickFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Metric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CommonEntitySummaryInfo/CommonEntitySummaryInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CommonEntitySummaryInfo/CommonEntitySummaryInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DataProductSummary/DataProductSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/mocks/CommonEntitySummaryInfo.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Labels: hacktoberfest, UI, safe to test, hacktoberfest-accepted

#18202 Docs: Fixing Automation Docs
  openmetadata-docs/content/v1.5.x/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-governance/automation/index.md
Labels: safe to test

#18204 Docs: Updating getting started docs
  openmetadata-docs/content/v1.5.x/how-to-guides/index.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/day-1/database-service-setup.md
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/index.md
  openmetadata-docs/content/v1.5.x/quick-start/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/getting-started/day-1/database-service-setup.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/getting-started/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/index.md
Labels: safe to test

#18206 Docs: Fixing Automation Docs
  openmetadata-docs/content/v1.5.x/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-governance/automation/index.md
Labels: safe to test

#18207 Docs: Updating getting started Docs
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/day-1/database-service-setup.md
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/getting-started/day-1/database-service-setup.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/getting-started/index.md
Labels: safe to test

#18181 MINOR - Fix broken dq alerting from #18014
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
Labels: Ingestion, data quality, safe to test

#18212 Docs: Fixing Automation Docs
  openmetadata-docs/content/v1.5.x/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-governance/automation/index.md
Labels: safe to test

#18214 Minor: Remove unwanted items in menu.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Labels: documentation, UI, safe to test

#18217 Docs: Removing Broken Menu Links
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Labels: safe to test

#18210 fix(ui): compare version only if version is set
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
Labels: UI, safe to test

#18209 [OnBoardingApp] Add apps data store
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#18219 FIX - App Extension migration JSONB
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
Labels: Ingestion, safe to test

#18162 TEST - Add ES pagination with multiple filters
  ingestion/tests/integration/integration_base.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
Labels: Ingestion, safe to test

#18221 MINOR: fix table diff url
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
Labels: Ingestion, safe to test

#18226 Migrate ApiServiceType
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
Labels: backend, safe to test

#18135 Feature : Add table-type custom property
  openmetadata-service/src/main/java/org/openmetadata/csv/CsvUtil.java
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/complexTypes.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/enumWithDescriptionsConfig.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/tableConfig.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperty.json
  openmetadata-ui/src/main/resources/ui/playwright/constant/glossaryImportExport.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Customproperties-part2.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/EditTableTypePropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/edit-table-type-property.less
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/table-type-property-view.less
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/property-value.less
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.tsx
Labels: backend, safe to test

#18193 MINOR: add data quality tests
  ingestion/tests/integration/postgres/test_data_quality.py
Labels: Ingestion, safe to test

#18222 GEN 1654 - Fix Alerts for Test Suites
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluatorResourceTest.java
Labels: Ingestion, data quality, safe to test, Alert & Notifications

#18228 GEN-1793: fix app config from resource
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ConfigurationReader.java
Labels: Ingestion, safe to test

#18229 Minor: Fixed mysql E2E
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#18232 Migrations fixes for #17967
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
Labels: backend, safe to test, migration

#18230 MINOR: fix dark border shown in navbar
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/app-container.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
Labels: UI, safe to test

#18237 MINOR: fix(looker): exclude version
  ingestion/setup.py
Labels: Ingestion, safe to test

#18243 Minor: Add deleteEntityByFQNPrefix
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#18249 [MINOR] Doc: Fix Metapilot Video Link
  openmetadata-docs/content/v1.5.x/Metapilot/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/Metapilot/index.md
Labels: Ingestion, safe to test

#18063 GEN-895: Added Glue Pipeline Lineage
  ingestion/src/metadata/ingestion/source/pipeline/gluepipeline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/gluepipeline/models.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/tests/unit/topology/pipeline/test_gluepipeline.py
Labels: Ingestion, safe to test

#18231 MINOR - Improve exception messages for JWT Filter
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationException.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
Labels: Ingestion, safe to test

#18253 docs(restore): database restore clarifications
  openmetadata-docs/content/v1.5.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/backup-restore-metadata.md
Labels: Ingestion, safe to test

#18255 [GEN-962] Add array children support for json schema parser
  ingestion/src/metadata/parsers/json_schema_parser.py
  ingestion/tests/unit/test_json_schema_parser.py
Labels: Ingestion, safe to test

#18266 Fix #17963: Fix PinotDB Ingestion
  ingestion/src/metadata/ingestion/source/database/pinotdb/connection.py
  ingestion/src/metadata/ingestion/source/database/pinotdb/metadata.py
Labels: Ingestion, safe to test

#18272 FIx #17933: Superset fix chart query for mysql con.
  ingestion/src/metadata/ingestion/source/dashboard/superset/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
Labels: Ingestion, safe to test

#18275 minor(ci): enable sonar CI on release branch
  .github/workflows/maven-sonar-build.yml
Labels: UI, safe to test

#18274 MINOR: added loader in activity feed open and closed count
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#18273 [GEN-1194] Fixed dbt invalid tag name error
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/resources/datasets/manifest_v8.json
  ingestion/tests/unit/test_dbt.py
Labels: Ingestion, safe to test

#18115 MINOR: add column case sensitivity parameter
  docker/run_local_docker.sh
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValuesToBeInSet.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/data_quality/validations/utils.py
  ingestion/src/metadata/utils/collections.py
  ingestion/src/metadata/utils/test_suite.py
  ingestion/tests/integration/data_quality/conftest.py
  ingestion/tests/integration/data_quality/test_table_diff.py
  ingestion/tests/integration/postgres/test_data_quality.py
  ingestion/tests/unit/data_quality/validations/test_base_handler.py
  ingestion/tests/unit/data_quality/validations/test_utils.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-yaml.md
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v157/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v157/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v157/MigrationUtil.java
  openmetadata-service/src/main/resources/json/data/tests/tableDiff.json
Labels: Ingestion, safe to test

#18263 MINOR: add domain params for test suite search list filter
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: Ingestion, data quality, safe to test

#18270 Minor : Fix exception in search due to exception in database.displayName and databaseSchema.aggregation
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_suite_index_mapping.json
Labels: backend, safe to test

#18218 Fixes #18186: Quicksight Ingestion Error handled
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/models.py
Labels: Ingestion, safe to test

#18284 MINOR: Fix Couchbase columns not fetched
  ingestion/src/metadata/ingestion/source/database/couchbase/metadata.py
  ingestion/src/metadata/ingestion/source/database/couchbase/queries.py
Labels: Ingestion, safe to test

#18283 GEN-1662 : Fix - on dashboard soft delete, chart should not be visible in search
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#18268 MINOR: Fix pinotdb col. datatype error
  ingestion/src/metadata/ingestion/source/database/pinotdb/metadata.py
Labels: Ingestion, safe to test

#18286 MINOR: salesforce table description from label if not through query
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
Labels: Ingestion, safe to test

#18287 MINOR: chore(data-diff): added migrations
  bootstrap/sql/migrations/native/1.5.7/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.7/postgres/postDataMigrationSQLScript.sql
Labels: Ingestion, safe to test

#18288 test: custom properties AUT
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#18262 feat: add Import/export support for table type custom property in glossary
  openmetadata-service/src/main/java/org/openmetadata/csv/CsvUtil.java
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/glossaryImportExport.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryImportExport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithMarkdownEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/property-value.less
  openmetadata-ui/src/main/resources/ui/src/mocks/CSV.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.tsx
Labels: backend, safe to test

#18285 fix: GEN-1856 encode and escape search value for the tag search
  openmetadata-ui/src/main/resources/ui/src/utils/TagClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagClassBase.ts
Labels: UI, safe to test

#18293 minor: improve csv parsing for custom properties
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.tsx
Labels: UI, safe to test

#18267 Minor: Add an option to execute data migrations in ext migrations
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcess.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcessImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
Labels: backend, safe to test

#18280 GEN-1166 - Improve Ingestion Workflow Error Summary
  ingestion/src/metadata/workflow/application.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/ingestion.py
  ingestion/src/metadata/workflow/workflow_output_handler.py
  ingestion/src/metadata/workflow/workflow_status_mixin.py
  ingestion/tests/unit/profiler/test_workflow.py
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
Labels: Ingestion, safe to test

#18279 Fix-DI Email Report Issues
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
Labels: backend, safe to test

#18299 Minor : increase MAX_AGGREGATE_SIZE in search
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
Labels: backend, safe to test

#18290 Minor : Fix exception in search due to exception in database.displayN…
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_suite_index_mapping.json
Labels: backend, safe to test

#18305 Minor : remove EnumWithDescriptions in basic.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: backend, safe to test

#18292 FIX #17042 - Allow non admin/bot to read profiler global config
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/complexTypes.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/enumConfig.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/tableConfig.json
Labels: Ingestion, safe to test

#18295 MINOR - Remove test case result index from all index
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
Labels: Ingestion, safe to test

#18297 MINOR: [DOCS] Added Alation Connector side panel docs
  openmetadata-docs/content/v1.5.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/metadata/alation/index.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Metadata/Alation.md
Labels: Ingestion, safe to test

#18277 MINOR - added test case results to search reindex
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/ApplicationUtils.mock.ts
Labels: Ingestion, safe to test

#18311 Docs: Glue Spark Pipeline Lineage
  openmetadata-docs/content/v1.5.x/connectors/ingestion/lineage/spark-lineage.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/ingestion/lineage/spark-lineage.md
  openmetadata-docs/images/v1.5/connectors/spark/glue-job-jar.png
  openmetadata-docs/images/v1.5/connectors/spark/glue-job-params.png
  openmetadata-docs/images/v1.6/connectors/spark/glue-job-jar.png
  openmetadata-docs/images/v1.6/connectors/spark/glue-job-params.png
Labels: Ingestion, safe to test

#18313 MINOR: added testSuite field back to lineage response
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, safe to test

#18312 What's new in 1.5.7
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: Ingestion, safe to test

#18310 FIX #18309: fixed task deserialization in Airflow metadata ingestion
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Labels: safe to test

#18259 Fixes #18254:: update elastic search version
  .run/Template JUnit.run.xml
  docker/development/docker-compose-gcp.yml
  docker/development/docker-compose.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-docs/content/v1.4.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.4.x/deployment/docker/index.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.4.x/deployment/upgrade/versions/110-to-120.md
  openmetadata-docs/content/v1.5.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.5.x/deployment/docker/index.md
  openmetadata-docs/content/v1.5.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.5.x/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.5.x/deployment/upgrade/versions/110-to-120.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/upgrade/versions/110-to-120.md
  openmetadata-service/pom.xml
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: safe to test

#18057 Minor: Fix rbac for multiple rules
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
  openmetadata-service/src/main/resources/json/data/policy/OrganizationPolicy.json
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/ElasticSearchRBACConditionEvaluatorTest.java
Labels: backend, safe to test

#18235 fix(ui): cleaning up timer for refresh token
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Labels: UI, safe to test

#18304 FIX #18303: fixed maven compilation errors
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
Labels: safe to test

#18316 MINOR - Validate app runner init
  ingestion/src/metadata/workflow/application.py
  ingestion/tests/unit/workflow/test_application_workflow.py
Labels: Ingestion, safe to test

#18317 MINOR - live index on test suite creation
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: Ingestion, safe to test

#18328 Fix Search RBAC, avoid processing Operations other than ViewAll, View…
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/ElasticSearchRBACConditionEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/OpenSearchRBACConditionEvaluatorTest.java
Labels: backend, safe to test

#18242 Fix #18007: Disabled Classifications or Tags shouldn't be visible in UI
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelUtil.java
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/tag_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/classification/classification.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Labels: backend, safe to test

#18327 simplify running connector docs
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/index.md
Labels: backend, safe to test

#18250 ui: use global state for applications data
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingPage.tsx
Labels: safe to test

#18307 MINOR: Add location path to table entity
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createTable.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, safe to test

#18336 Minor: skip the permission spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
Labels: UI, safe to test

#18256 GEN-927 - Add bot default roles
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/resources/json/data/role/DefaultBotRole.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: Ingestion, safe to test

#18321 fix: lazy load classes from factory method
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface_factory.py
  ingestion/src/metadata/profiler/source/profiler_source_factory.py
Labels: Ingestion, safe to test

#18324 PLAYWRIGHT: fix user and activityFeed flaky playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Labels: UI, safe to test

#18341 MINOR - Only timeout on main threads
  ingestion/src/metadata/utils/timeout.py
Labels: Ingestion, safe to test

#18337 Docs: Updating latest release to v1.5.7
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/deployment/docker/index.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.5.x/sdk/python/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test
