Repository open-metadata/OpenMetadata, pull requests merged in 2024-04, with the labels that each got.

#15747 Fix #11351 Added Kafka Connect connector docs
  openmetadata-docs/content/partials/v1.4/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/pipeline/source-config.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/pipeline/kafkaconnect/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/pipeline/kafkaconnect/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.4/connectors/kafkaconnect/add-new-service.webp
  openmetadata-docs/images/v1.4/connectors/kafkaconnect/lineage.webp
  openmetadata-docs/images/v1.4/connectors/kafkaconnect/select-service.webp
  openmetadata-docs/images/v1.4/connectors/kafkaconnect/service-connection.webp
Labels: documentation, backend, safe to test

#15749 Features section deleted + other changes
  openmetadata-docs/content/v1.1.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.1.x/features/discovery-collaboration/index.md
  openmetadata-docs/content/v1.1.x/features/ingestion/workflows/metadata/filter_patterns/database.md
  openmetadata-docs/content/v1.1.x/features/ingestion/workflows/metadata/filter_patterns/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-collaboration/activity-feeds.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-collaboration/announcements.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-collaboration/request-tags.md
  openmetadata-docs/content/v1.1.x/how-to-guides/data-discovery/discover.md
  openmetadata-docs/content/v1.1.x/how-to-guides/quick-start-guide-for-admins/alerts.md
  openmetadata-docs/content/v1.1.x/how-to-guides/user-guide-data-stewards/overview-data-assets/announcements.md
  openmetadata-docs/content/v1.1.x/how-to-guides/user-guide-data-stewards/overview-data-assets/custom.md
  openmetadata-docs/content/v1.1.x/how-to-guides/user-guide-data-stewards/overview-data-assets/index.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.2.x/features/discovery-collaboration/index.md
  openmetadata-docs/content/v1.2.x/features/ingestion/workflows/metadata/filter_patterns/database.md
  openmetadata-docs/content/v1.2.x/features/ingestion/workflows/metadata/filter_patterns/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/alerts.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/activity-feeds.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/announcements.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-discovery/discover.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/announcements.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.3.x/features/discovery-collaboration/index.md
  openmetadata-docs/content/v1.3.x/features/index.md
  openmetadata-docs/content/v1.3.x/features/ingestion/workflows/metadata/filter_patterns/database.md
  openmetadata-docs/content/v1.3.x/features/ingestion/workflows/metadata/filter_patterns/index.md
  openmetadata-docs/content/v1.3.x/how-to-guides/admin-guide/alerts.md
  openmetadata-docs/content/v1.3.x/how-to-guides/admin-guide/index.md
  openmetadata-docs/content/v1.3.x/how-to-guides/data-collaboration/activity-feeds.md
  openmetadata-docs/content/v1.3.x/how-to-guides/data-collaboration/announcements.md
  openmetadata-docs/content/v1.3.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.3.x/how-to-guides/data-discovery/discover.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/announcements.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/features/discovery-collaboration/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/features/ingestion/workflows/metadata/filter_patterns/database.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/features/ingestion/workflows/metadata/filter_patterns/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/features/ingestion/workflows/metadata/incremental-extraction/bigquery.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/features/ingestion/workflows/metadata/incremental-extraction/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/features/ingestion/workflows/metadata/incremental-extraction/redshift.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/features/ingestion/workflows/metadata/incremental-extraction/snowflake.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/admin-guide/alerts.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/admin-guide/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/data-collaboration/activity-feeds.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/data-collaboration/announcements.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/data-discovery/discover.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/user-guide-data-users/announcements.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/menu.md
Labels: documentation, safe to test

#15744 Fixes #15483 : Change Generic to Webhook
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AlertFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/generic/GenericPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v140/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v140/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v140/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/events/eventSubscription.json
Labels: backend, safe to test

#15694 cypress: fix cypress failure
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.ts
Labels: UI, safe to test, e2e:Settings

#15761 MINOR: Fixed superset class init
  ingestion/src/metadata/ingestion/source/dashboard/superset/metadata.py
Labels: Ingestion, safe to test

#15762 MINOR: Fixed dbt cloud raise exception condition
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Labels: Ingestion, safe to test

#15764 MINOR: Check Test Connection Oracle DBA Access
  ingestion/src/metadata/ingestion/source/database/oracle/connection.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  openmetadata-docs/content/v1.1.x/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/oracle/yaml.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Oracle.md
  openmetadata-ui/src/main/resources/ui/public/locales/fr-FR/Database/Oracle.md
Labels: documentation, UI, Ingestion, safe to test

#15699 Fix #11351 Added Kafka Connect connector JSON schemas
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/kafkaconnect.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/kafkaConnectConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: backend, safe to test

#15695 MINOR - AKS Airflow troubleshooting docs
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/kubernetes/aks.md
Labels: documentation, Ingestion, safe to test

#15757 MINOR: change systemApp to system
  bootstrap/sql/migrations/native/1.3.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.2/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
Labels: Ingestion, backend, safe to test

#15715 Minor: Fix the styling of ingestion pipeline status
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/ingestion-recent-run.style.less
Labels: UI, safe to test, e2e:Integration, e2e:Settings

#15494 Fix #15483: Alert form destination selection improvements
  openmetadata-ui/src/main/resources/ui/cypress/constants/Alert.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Alerts.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AlertFormSourceItem/AlertFormSourceItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/DestinationFormItem/DestinationFormItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ObservabilityUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ObservabilityUtils.tsx
Labels: UI, safe to test, e2e:Observability

#15765 cypress: fixed cypress for AUT
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Apps.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightReportApplication.spec.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#15751 Minor: Fix AUT cypress test failures
  openmetadata-ui/src/main/resources/ui/cypress/common/EntityUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/AdvancedSearch.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Entity.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Versions.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/VersionUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/AdditionalRuleSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/GroupSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/SingleFiledSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.ts
Labels: UI, safe to test, e2e:Integration, e2e:Governance, e2e:DataAssets

#15736 Fix #15594 - Implement domain support for test cases
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/models/IndexMapping.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dashboards/DashboardResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
Labels: Ingestion, backend, data quality, safe to test

#15676 Fix #14650 backend bug: Remove associated tags when glossary term is deleted
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelUtil.java
Labels: backend, safe to test

#15786 - add Step logs for Auth
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthCallbackServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLoginServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthRefreshServlet.java
Labels: backend, safe to test

#15783 Minor: show generic message in error boundary for loading chunk error
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorBoundary/ErrorFallback.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#15775 [Vulnerabilities] Update Dependencies to fix Vulnerabilities
  openmetadata-service/pom.xml
Labels: backend, safe to test

#15792 - Change Prompt to consent on every login
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLoginServlet.java
Labels: backend, safe to test

#15758 [MINOR] fix antlr parser definition for entity link
  ingestion/src/metadata/data_insight/processor/reports/cost_analysis_report_data_processor.py
  ingestion/src/metadata/ingestion/source/database/datalake/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/incremental_table_processor.py
  ingestion/src/metadata/utils/importer.py
  ingestion/tests/unit/metadata/utils/test_entity_link.py
  ingestion/tests/unit/test_incremental_extraction.py
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
Labels: Ingestion, backend, safe to test

#15785 MINOR fix test case search filtering
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#15702 Fix 15576 - Eval Data Type issue fix
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/composed/null_ratio.py
  ingestion/src/metadata/profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/max_length.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/metrics/static/min_length.py
  ingestion/src/metadata/profiler/metrics/static/sum.py
  ingestion/src/metadata/profiler/metrics/static/unique_count.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/sampler/pandas/sampler.py
  ingestion/src/metadata/readers/dataframe/json.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/profiler/pandas/test_custom_metrics.py
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_profiler_interface.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/test_column_type_parser.py
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/profiler/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/workflows/profiler/index.md
Labels: Ingestion, safe to test

#15796 [Fix] Do not validate bot domain
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
Labels: backend, safe to test

#15770 FIX #13553 Added option to exclude drafts: superset ingestion
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/models.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
  ingestion/tests/unit/resources/datasets/superset_dataset.json
  ingestion/tests/unit/topology/dashboard/test_superset.py
  openmetadata-docs/content/v1.3.x/connectors/dashboard/superset/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/dashboard/superset/yaml.md
Labels: Ingestion, safe to test

#15788 Lineage cypress fixes
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.ts
Labels: UI, safe to test, e2e:DataAssets

#15795 Minor: removed beta label for incident manager
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
Labels: UI, safe to test

#15799 Login cypress fixes
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
Labels: UI, safe to test

#15789 Minor: Search Flow cypress fix
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/AdvancedSearch.ts
Labels: UI, safe to test

#15779 #15236: fix redundent scrollbars on UI
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/task-feed-card.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseIncidentTab/test-case-incident-tab.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/table-profiler.less
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryUsedByOtherTable/QueryUsedByOtherTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/task-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/layout.less
Labels: UI, safe to test, e2e:DataAssets

#15805 fix matches description
  openmetadata-ui/src/main/resources/ui/src/components/SearchedData/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchedData/SearchedData.tsx
Labels: UI, safe to test, e2e:DataAssets

#15800 [AlertNotication] Fix formatting
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
Labels: backend, safe to test

#15802 MINOR - Add Application type for logs
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.interfaces.ts
Labels: Ingestion, backend, safe to test

#15813 MINOR: Fix OMetaLifeCycleData call
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#15820 cypress: fixed AUT failure of main branch
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
Labels: UI, safe to test, e2e:Observability

#15767 fix(#15364): autogenerate ingestion pipeline name and show displayName
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Apps.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Ingestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Labels: UI, safe to test, e2e:Integration, e2e:Settings

#15752 #13907: support to change glossary term parent from the detail page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-change-hierarchy.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ChangeParentHierarchy/ChangeParentHierarchy.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ChangeParentHierarchy/ChangeParentHierarchy.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ChangeParentHierarchy/ChangeParentHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test, e2e:Governance

#15680 MINOR: Fix jsonpatch operation order
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/tests/unit/metadata/ingestion/models/test_patch_request.py
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/JsonUtilsTest.java
Labels: Ingestion, backend, safe to test

#15287 ISSUE-15263: Proxy settings for Yarn
  openmetadata-ui/pom.xml
Labels: UI, safe to test

#15811 MINOR: fix the recent run not showing for data-insight application
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRun.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/LogsViewerPage.mock.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/mocks/LogsViewer.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPageSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/logs-viewer-page.style.less
  openmetadata-ui/src/main/resources/ui/src/rest/applicationAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Labels: UI, safe to test, e2e:Integration, e2e:Settings

#15778 WIP: Fix #12980: Expand description issue
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/Description.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#15804 Move provider state to zustand store
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainProvider/DomainProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainProvider/DomainProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/GlobalSearchProvider/GlobalSearchProvider.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/context/GlobalSearchProvider/GlobalSearchProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useDomainStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test

#15819 chore: minor ui issue
  openmetadata-ui/src/main/resources/ui/src/assets/svg/doc.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/version-black.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/PasswordWidget.tsx
Labels: UI, safe to test

#15832 Validate against PersonalAccess
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
Labels: backend, safe to test

#15814 Fix #10354 - Implement Test Suite filter from Search
  .run/Template JUnit.run.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchSortFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_suite_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: Ingestion, backend, safe to test

#15836 MINOR: exclude change description from testSuite key in table entity indexing
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
Labels: Ingestion, backend, safe to test

#15830 MINOR: fix application in corrupted state
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
Labels: Ingestion, backend, safe to test

#15725 #14941 Filtering and sorting of data quality tests & suites at Data Quality page
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test, e2e:Observability

#15842 fix: good-first-issue link
  CONTRIBUTING.md
Labels: safe to test

#15843 DOCS - MSSQL service connection
  openmetadata-docs/content/v1.3.x/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/mssql/yaml.md
Labels: documentation, Ingestion, safe to test

#15826 Fixes #10354 Filter test suites by owner / name
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test

#15682 MINOR: Add failed rows sample to test case
  ingestion/examples/sample_data/tests/testCaseResults.json
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/pipelines/sample_data.yaml
  ingestion/src/metadata/data_quality/processor/test_case_runner.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
Labels: Ingestion, backend, data quality, safe to test, Collate

#15857 chore(ui): support extra dropdown items for service details page
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithMarkdownEditor/ModalWithMarkdownEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test, e2e:Integration

#15859 Fix SQLs
  bootstrap/sql/migrations/native/1.3.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.3/postgres/schemaChanges.sql
Labels: backend, safe to test

#15852 MINOR - Fix Qlik database migration changes
  bootstrap/sql/migrations/native/1.4.0/mysql/QlikModelChange.sql
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/QlikModelChange.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
Labels: safe to test

#15869 Update documentation for adding language support for entities
  openmetadata-docs/content/v1.4.x-SNAPSHOT/developers/how-to-add-language-support.md
Labels: documentation, UI, safe to test

#15870 Update documentation for adding language support for entities for 1.3.x
  openmetadata-docs/content/v1.3.x/developers/how-to-add-language-support.md
Labels: documentation, UI, safe to test

#15866 MINOR: Modify and add threshold as status
  ingestion/src/metadata/data_quality/validations/table/base/tableCustomSQLQuery.py
Labels: Ingestion, safe to test

#15864 MINOR: Fix Entity Link Error
  ingestion/tests/unit/test_entity_link.py
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
Labels: Ingestion, backend, safe to test

#15873 Fix Migration SQL , not executing from Handle
  bootstrap/sql/migrations/native/1.3.3/postgres/schemaChanges.sql
Labels: backend, safe to test

#15868 MINOR - delete mysql ES pipelines
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
Labels: Ingestion, safe to test

#15872 Minor fix row computation for views
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
Labels: Ingestion, safe to test

#15853 MINOR Add owner filter test case
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, Ingestion, backend, safe to test

#15863 update color input data testid for cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.ts
Labels: UI, safe to test, e2e:Governance

#15867 Minor: fixed test case description change issue
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
Labels: UI, safe to test, e2e:Observability

#15874 MINOR: fixed typo for failed samples field
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
Labels: Ingestion, safe to test

#15861 test(ui): cypress tests to cover health page of OpenMetadata
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/settings.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/HealthCheck.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/OmHealth/OmHealthPage.tsx
Labels: UI, safe to test

#15879 MINOR: fixed ingestion of sample data for failed sample rows
  ingestion/examples/sample_data/tests/testCaseResults.json
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#15895 MINOR: Add Databricks ssl dependencies
  ingestion/setup.py
Labels: Ingestion, safe to test

#15887 Minor: added functionality to enable debug log for test suite ingestion
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTest.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestSuiteScheduler.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestSuiteScheduler.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
Labels: UI, safe to test, e2e:Integration, e2e:Observability, e2e:Settings

#15894 MINOR: Fix databricks connector
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
Labels: Ingestion, safe to test

#15540 Added payload size check logic for Elasticsearch
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
Labels: backend, safe to test

#15884 disable install for preview apps
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.test.tsx
Labels: UI, backend, safe to test, e2e:Settings

#15849 FIX #13475 - Add Parameter Validation for Min/Max tests
  bootstrap/sql/migrations/native/1.4.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/resources/json/data/tests/columnValueMaxToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMeanToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMedianToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMinToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueStdDevToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesLengthsToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesSumToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnCountToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowInsertedCountToBeBetween.json
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testDefinition.json
Labels: Ingestion, backend, safe to test

#15899 App preview alert
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#15904 fix custom property cypress test
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
Labels: UI, safe to test, e2e:Settings

#15896 MINOR: fix search index language configuration not saving
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/SelectWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/SelectWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/SelectWidget.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#15917 Remove SQls from 1.3.2
  bootstrap/sql/migrations/native/1.3.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.2/postgres/schemaChanges.sql
Labels: backend, safe to test

#15912 MINOR: Add mapping for xid and bpchar for postgresql
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
Labels: Ingestion, safe to test

#15914 Add/Modify Release notes for 1.3.2
  openmetadata-docs/content/partials/v1.3/releases/latest.md
  openmetadata-docs/content/v1.3.x/releases/releases/index.md
Labels: documentation, Ingestion, safe to test

#15878 MINOR: added a DELETE method for failedRowsSample
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
Labels: Ingestion, backend, safe to test

#15918 Add Pipeline Status to Ingestion Pipeline Index
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/IngestionPipelineIndex.java
Labels: backend, safe to test

#15889 Fix #11951 [backend] - Implement Profiler Global Config
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/profilerConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Labels: Ingestion, backend, profiler, safe to test

#15920 MINOR: Snowflake Docs for dynamic tables & view col lineage
  openmetadata-docs/content/v1.3.x/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/database/snowflake/yaml.md
Labels: documentation, Ingestion, safe to test

#15922 MINOR: Fix Glue Sample Data
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#15926 Show preview alert only for preview apps
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.test.tsx
Labels: UI, safe to test, e2e:Settings

#15928 application tooltip fix
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.component.tsx
Labels: UI, safe to test, e2e:Settings

#15927 fix(ui): hide email if not present in the data
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
Labels: UI, safe to test, e2e:Settings

#15854 ui(#15831): improve refresh token usage
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/context/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test

#15915 Minor: Introduced support to add additional component in the incident manager details page
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTabClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test

#15833 Fix #15090 [1.4] Added dbt existing glossary and tier ingestion
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
  ingestion/src/metadata/utils/tag_utils.py
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-glossary.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-tier.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.4/features/ingestion/workflows/dbt/dbt-features/dbt-glossary-fqn.webp
  openmetadata-docs/images/v1.4/features/ingestion/workflows/dbt/dbt-features/dbt-glossary-nested-fqn.webp
  openmetadata-docs/images/v1.4/features/ingestion/workflows/dbt/dbt-features/dbt-glossary-term.webp
  openmetadata-docs/images/v1.4/features/ingestion/workflows/dbt/dbt-features/dbt-glossary.webp
  openmetadata-docs/images/v1.4/features/ingestion/workflows/dbt/dbt-features/dbt-tier.webp
Labels: documentation, Ingestion, safe to test

#15937 Fixes #15909: Profiler: Fix All_ table to DBA_
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
Labels: Ingestion, safe to test

#15932 bump(ui): tiptap dependencies
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#15827 Fix #9281: Column level lineage for other entities
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#15934 MINOR: Fix sample data CI error
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#15865 Fixes #10724 : Search with hierarchy api for glossary terms
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRequest.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/entityHierarchy.json
Labels: backend, safe to test

#15944 Move migration for apps to 1.3.3 all together
  bootstrap/sql/migrations/native/1.3.3/mysql/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v133/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v133/Migration.java
Labels: backend, safe to test

#15921 Fix #15208: Lineage - log query parsing issue summary
  ingestion/src/metadata/ingestion/lineage/models.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/workflow/output_handler.py
Labels: Ingestion, safe to test

#15951 MINOR: Removed stale examples. Update dependencies
  ingestion/examples/auth_examples/azure.json
  ingestion/examples/auth_examples/okta_example.json
  ingestion/setup.py
Labels: Ingestion, safe to test

#15893 MINOR: Update README.md python version
  ingestion/README.md
Labels: Ingestion, safe to test

#15950 fixed exclusion for yaml/json validation
  .github/workflows/validate-jsons-yamls.yml
  scripts/validate_json_yaml.sh
Labels: Ingestion, devops, safe to test

#15961 [Vulnerability] Fix Vulnerable Dependency in -java-client
  openmetadata-clients/openmetadata-java-client/pom.xml
Labels: safe to test, vulnerabilities

#15965 [MINOR] Fix Default App Init
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: backend, safe to test

#15972 MINOR - 1.3.3 release docs
  openmetadata-docs/content/partials/v1.3/releases/latest.md
  openmetadata-docs/content/v1.3.x/releases/releases/index.md
Labels: documentation, Ingestion, safe to test

#15969 Minor: Logs class base update
  openmetadata-ui/src/main/resources/ui/src/utils/LogsClassBase.ts
Labels: UI, safe to test

#15971 Minor: Doc Fix GO SDK repo link
  openmetadata-docs/content/v1.3.x/sdk/go/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/sdk/go/index.md
Labels: documentation, Ingestion, safe to test

#15978 Fix issue in search with hierarchy for glossary terms
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#15204 Fixes #15566: add dynamodb row count
  bootstrap/sql/migrations/native/1.4.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/schemaChanges.sql
  ingestion/setup.py
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/profiler/adaptors/adaptor_factory.py
  ingestion/src/metadata/profiler/adaptors/dynamodb.py
  ingestion/src/metadata/profiler/interface/nosql/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/src/metadata/profiler/processor/sampler/sampler_factory.py
  ingestion/tests/unit/topology/metadata/test_amundsen.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/dynamoDBConnection.json
Labels: Ingestion, backend, safe to test

#15981 MINOR: fix e2e
  ingestion/tests/cli_e2e/test_cli_tableau.py
Labels: Ingestion, safe to test

#15962 MINOR: use polling mechanism for bnackend tests
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/RetryableAssertionError.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: Ingestion, backend, safe to test

#15984 MINOR: fix pytest githab action
  .github/workflows/py-tests.yml
Labels: Ingestion, devops, safe to test

#15397 fix- Allow Lineage for stored Procedure
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#15840 Activity Feed Improvements
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AlertFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/feed/ActivityFeedPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/ActivityFeedAlertCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/DefaultEntityFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/EntityFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/IngestionPipelineFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/KpiFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/PipelineFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/QueryFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/TestCaseFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/factory/ParserFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/AssetsFieldFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/DefaultFieldFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/DescriptionFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/FollowersFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/OwnerFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/TagFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/TestCaseResultFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FeedUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/feed/assets.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/description.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/owner.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/testCaseResult.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
Labels: backend, safe to test

#15954 Fix #14973: Qliksense - Add option to disable hostname validation
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/client.py
  ingestion/src/metadata/utils/ssl_manager.py
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/connectors/dashboard/qliksense/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/qlikSenseConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/QlikSense.md
Labels: documentation, UI, Ingestion, backend, safe to test

#15974 FIXES 15626: Fix issue with not url model store
  ingestion/setup.py
  ingestion/tests/integration/mlflow/__init__.py
  ingestion/tests/integration/mlflow/conftest.py
  ingestion/tests/integration/mlflow/test_mlflow.py
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
Labels: Ingestion, backend, safe to test

#15986 FIXES 13209: Add Sagemaker Model Storage
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker/metadata.py
  ingestion/tests/unit/topology/mlmodel/test_sagemaker.py
Labels: Ingestion, safe to test

#15264 MINOR: Dynamodb sample data
  ingestion/setup.py
  ingestion/src/metadata/__init__.py
  ingestion/src/metadata/profiler/adaptors/dynamodb.py
  ingestion/src/metadata/profiler/adaptors/factory.py
  ingestion/src/metadata/profiler/interface/nosql/profiler_interface.py
  ingestion/src/metadata/workflow/ingestion.py
  ingestion/tests/integration/profiler/conftest.py
  ingestion/tests/integration/profiler/test_dynamodb.py
Labels: Ingestion, backend, cleanup, safe to test

#15897 Fix #15062 & #14810: Fix Column level lineage overwrites pipeline Lineage & manual col lineage
  ingestion/src/metadata/cli/lineage.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/utils/lru_cache.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
Labels: Ingestion, backend, safe to test

#15989 cypress: fixed service ingestion cypress for test connection
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Services.ts
Labels: UI, safe to test, e2e:Integration

#15976 Fixes #12127: Add Support for Complex types of Databricks & UnityCatalog in profiler
  ingestion/src/metadata/ingestion/source/sqa_types.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/unity_catalog/profiler_interface.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
  ingestion/tests/integration/profiler/conftest.py
Labels: Ingestion, safe to test

#15442 ISSUE-15426 increase the server response rate GET /v1/dataQuality/testCases
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
Labels: backend, safe to test

#15992 FIX #15593 - test case exc summary endpoint improvements
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
Labels: Ingestion, backend, data quality, safe to test

#16002 issue-15607(3-rd try)
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Labels: Ingestion, safe to test

#16004 MINOR: delete ingestion/src/metadata/__init__.py
  ingestion/pyproject.toml
  ingestion/src/metadata/__init__.py
  ingestion/src/metadata/profiler/processor/core.py
Labels: Ingestion, safe to test

#16011 Minor: Fix Import error
  ingestion/src/metadata/profiler/source/base/profiler_source.py
Labels: Ingestion, safe to test

#15995 Minor: Fixes #15776 Numeric out of value error Trino
  ingestion/src/metadata/ingestion/source/database/trino/metadata.py
  ingestion/src/metadata/profiler/orm/functions/sum.py
Labels: Ingestion, safe to test

#16000 Fixes 15839: More accurate documentation about setting up Secret Manager in Azure
  openmetadata-docs/content/v1.3.x/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
Labels: documentation, safe to test

#15949 Added the missing doc on Conversation Threads
  openmetadata-docs/content/v1.1.x/how-to-guides/user-guide-data-stewards/overview-data-assets/custom.md
  openmetadata-docs/content/v1.1.x/how-to-guides/user-guide-data-stewards/overview-data-assets/index.md
  openmetadata-docs/content/v1.1.x/menu.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/menu.md
Labels: documentation, safe to test

#15998 Minor Remove classifier config
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/incidentSeverityClassifier/IncidentSeverityClassifierInterface.java
Labels: Ingestion, backend, data quality, safe to test, Backward-Incompatible-Change

#16014 chore(docs): Update Helm Values; Azure Key Vault Docs for 1.4.X
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.3.x/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
Labels: documentation, devops, safe to test

#16017 Issue #14812: Add support for empty string as missing count
  ingestion/setup.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValuesMissingCount.py
  ingestion/src/metadata/profiler/metrics/registry.py
  ingestion/src/metadata/profiler/metrics/static/null_missing_count.py
  ingestion/src/metadata/profiler/source/base/profiler_source.py
  ingestion/tests/unit/test_suite/conftest.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
Labels: Ingestion, safe to test

#15994 MINOR: Added None option to db config in Alation
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/alationConnection.json
Labels: Ingestion, backend, safe to test

#15938 Fixes #15732: Modify Reference for Tags to EntityName
  ingestion/tests/integration/ometa/test_ometa_tags_mixin.py
  ingestion/tests/unit/topology/test_context.py
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/classification/createClassification.json
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTag.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/classification.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/policies/filters.json
Labels: Ingestion, backend, safe to test

#16030 Fixes #15977: Revert from DBA_ to ALL_
  ingestion/src/metadata/ingestion/source/database/oracle/connection.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Oracle.md
Labels: UI, Ingestion, safe to test

#16036 doc: added classifier config breaking change
  openmetadata-docs/content/v1.4.x-SNAPSHOT/deployment/upgrade/versions/130-to-140.md
Labels: documentation, Ingestion, safe to test

#16032 MINOR: Add support for search index column lineage
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: Ingestion, backend, safe to test

#16019 MINOR: Ignore lineage edge not found logs
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
Labels: Ingestion, safe to test

#16026 MINOR: Added enum type support in custom properties python sdk
  ingestion/src/metadata/ingestion/models/custom_properties.py
  ingestion/tests/integration/ometa/test_ometa_custom_properties_api.py
Labels: Ingestion, safe to test

#16009 Fix #12502: Add support for lineage export
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/json/data/lineage/lineageCsvDocumentation.json
Labels: Ingestion, backend, safe to test

#16034 FIX - UserResource CI
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: Ingestion, backend, safe to test

#16027 Fix #15341 - Test Case reference as inherited field for Test Case Incident
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValuesToBeUnique.py
  ingestion/tests/utils/docker_service_builders/database_container/mysql_test_container.py
  ingestion/tests/utils/docker_service_builders/database_container/postgres_test_container.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v140/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v140/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v140/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
Labels: Ingestion, safe to test, e2e:Observability

#16015 MINOR - Migration validation list diff message
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
Labels: Ingestion, backend, safe to test

#16044 fix: 404 page layout
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/UnAuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
Labels: UI, safe to test, e2e:DataAssets

#16042 MINOR: ci: retries
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
Labels: Ingestion, devops, safe to test

#16054 MINOR: fix maven CI with retry
  .github/workflows/maven-build.yml
Labels: Ingestion, devops, safe to test

#16003 MINOR: added TestCase inspection query to backend and sample data
  ingestion/examples/sample_data/tests/testCaseResults.json
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
Labels: Ingestion, backend, safe to test

#16043 MINOR: Fix error message in S3Source
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
Labels: Ingestion, safe to test

#16028 Docs: Fixed 404 links
  openmetadata-docs/content/v1.3.x/developers/contribute/build-code-and-run-tests/ingestion-framework.md
  openmetadata-docs/content/v1.3.x/how-to-guides/data-lineage/workflow.md
Labels: documentation, safe to test

#16059 [MINOR] Fix displayName
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
Labels: backend, safe to test, e2e:DataAssets

#16058 cypress: fixed cypress test failure of main
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/ProfilerConfiguration.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ProfilerConfigurationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
Labels: UI, safe to test, e2e:Observability
