Repository open-metadata/OpenMetadata, pull requests merged in 2024-12, with the labels that each got.

#18850 Fixes #18848: "Failed to parse query parameters from JDBC URL" when query is an empty string
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/DatabaseAuthenticationProviderFactory.java
Labels: safe to test

#18861 Minor: improve custom properties e2e test
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
Labels: UI, safe to test

#18862 MINOR: update lineage column with new design
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNode.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
Labels: UI, safe to test

#18868 [SSO] Google returns null refresh token on Refresh requests
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
Labels: backend, safe to test

#18870 Minor: improve the CSV import encoding for column description and glossaryTerms
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
Labels: UI, safe to test

#18869 Docs: Updating Collate in Pipeline Status Widget
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
Labels: safe to test

#18872 MINOR: Reorder domain and owner tags
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
Labels: UI, safe to test

#18871 Fixes issue #18781: Adding lambda permissions to Athena connector documentation
  openmetadata-docs/content/v1.4.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.5.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.5.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/athena/yaml.md
Labels: safe to test

#18860 Minor: fixed connection modal style
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IngestionRunDetailsModal/IngestionRunDetailsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/connection-step-card.less
Labels: UI, safe to test

#18881 Minor: Fix typo on the ingestion word
  openmetadata-docs/content/v1.4.x/developers/contribute/developing-a-new-connector/define-json-schema.md
  openmetadata-docs/content/v1.5.x/developers/contribute/developing-a-new-connector/define-json-schema.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/developers/contribute/developing-a-new-connector/define-json-schema.md
Labels: documentation, safe to test

#18877 MINOR - FQN encoding in ometa_api, TestSuite pipeline creation & serialization of test case results
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
  ingestion/src/metadata/ingestion/ometa/mixins/data_insight_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/suggestions_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/utils/class_helper.py
  ingestion/src/metadata/workflow/data_quality.py
  ingestion/tests/integration/automations/test_connection_automation.py
  ingestion/tests/integration/datalake/conftest.py
  ingestion/tests/integration/datalake/resources/users/users.csv
  ingestion/tests/integration/datalake/test_data_quality.py
  ingestion/tests/integration/datalake/test_ingestion.py
  openmetadata-docs/content/partials/v1.6/connectors/search/configure-ingestion.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/search/source-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/search/source-config.md
Labels: Ingestion, safe to test

#18825 GEN-2157: Snowflake increased cost issue
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
Labels: Ingestion, safe to test

#18884 MINOR: chore(data-quality): improve messaging for COUNT strategy failure
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableCustomSQLQuery.py
Labels: Ingestion, safe to test

#18893 Minor: Fix TestConnectionDefinitionResourceTest update count
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResourceTest.java
Labels: Ingestion, safe to test

#18844 Fix: limit change after pagination
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#18878 MINOR: chore(importer): better error message for missing plugins
  ingestion/src/metadata/utils/importer.py
Labels: Ingestion, safe to test

#18902 Use certification icons from public folder
  openmetadata-service/src/main/resources/json/data/tags/certification.json
  openmetadata-ui/src/main/resources/ui/public/BronzeCertification.svg
  openmetadata-ui/src/main/resources/ui/public/GoldCertification.svg
  openmetadata-ui/src/main/resources/ui/public/SilverCertification.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/CertificationTag.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: UI, safe to test

#18885 Minor: removing logging on jdbcURL
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#18903 Minor: Fix dbt source file issue
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
Labels: Ingestion, safe to test

#18889 Fixes: microstrategy test connection
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/client.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/connection.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/microstrategy.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/MicroStrategy.md
Labels: Ingestion, safe to test

#18906 Fixes: microstrategy test connection
  ingestion/src/metadata/ingestion/source/dashboard/mstr/client.py
  ingestion/src/metadata/ingestion/source/dashboard/mstr/connection.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/mstr.json
Labels: Ingestion, safe to test

#18911 Make it clear when to use docker compose down
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
Labels: backend, safe to test

#18892 Create a relationship to manage ER based on tableConstraints
  openmetadata-service/src/main/java/org/openmetadata/service/exception/EntityNotFoundException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/EnumBackwardCompatibilityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/EntitySpecViolationException.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/EntityUpdateException.java
  openmetadata-spec/src/main/resources/json/schema/type/entityRelationship.json
Labels: backend, safe to test

#18895 Minor: improve the service type display name
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, safe to test

#18858 Fix: show full fqn for reference tables
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#18908 Revert: remove Gettokens
  ingestion/src/metadata/ingestion/source/dashboard/mstr/client.py
  ingestion/src/metadata/ingestion/source/dashboard/mstr/connection.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/mstr.json
Labels: Ingestion, safe to test

#18907 MINOR - Clean up configs & add auto classification docs
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/sampler/processor.py
  openmetadata-docs/content/partials/v1.6/connectors/yaml/auto-classification.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/data-profiler.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/lineage.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/query-usage.md
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/azuresql/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/clickhouse/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/databricks/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/db2/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/doris/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/druid/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/hive/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/mariadb/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/pinotdb/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/presto/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/sap-hana/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/singlestore/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/synapse/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/teradata/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/vertica/yaml.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceAutoClassificationPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/autoClassification.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/profiler.md
Labels: Ingestion, safe to test

#18899 MINOR: fix table/schema name
  ingestion/src/metadata/ingestion/source/database/bigquery/profiler/system.py
  ingestion/src/metadata/ingestion/source/database/redshift/profiler/system.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/system.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  ingestion/src/metadata/profiler/processor/runner.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/profiler.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: Ingestion, safe to test

#18919 chore(ui): add gifsicle as it's needed for image-webpack-loader
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18873 GEN-Activity Feed Filtering
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyV1.tsx
Labels: backend, safe to test, Alert & Notifications

#18916 GEN-2186: Fix Updating sampling config from deep link issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerSettingsModal/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
Labels: UI, safe to test

#18874 MINOR: Set Certification Field Dynamically
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetEntityCertificationImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: Ingestion, safe to test

#18897 Change lineage positioning algorithm
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageNodeLabelV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/lineage-node-label.less
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18883 MINOR: Add Try/Except to store procedure yielding
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
Labels: Ingestion, safe to test

#18924 Fix Table Column Imports
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/resources/json/data/table/tableCsvDocumentation.json
Labels: backend, safe to test

#18923 chore(ui): remove deprecated image-webpack-loader
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18914 Added what new content for 1.6.0
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: safe to test

#18882 Reduce amount of flowable created tables
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#18886 MINOR: Snowflake UDF Lineage Support - main
  ingestion/setup.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/models.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Labels: Ingestion, safe to test

#18922 FIX: Combined index on offset and eventTime in changeEvent table
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
Labels: backend, safe to test

#18927 Fixes GEN-2198: Snowflake unencrypted key support, connection error on storing bytes
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
Labels: Ingestion, safe to test

#18760 Fix : Knowledge page update Parent patch - search side changes
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#18920 MINOR: Fix Glossary Term Consolidation and Flaky Test
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APICollectionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DocumentRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PersonaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestConnectionDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Labels: Ingestion, safe to test

#18928 MINOR: DB2 Support License
  ingestion/src/metadata/ingestion/source/database/db2/connection.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/db2/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/db2/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/db2Connection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Db2.md
Labels: Ingestion, safe to test

#18925 MINOR: Tableau Capture SQL in Lineage
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
Labels: Ingestion, safe to test

#18929 Fixes GEN-2199: Allow Fivetran filtering of pipelines using name instead of id
  ingestion/src/metadata/ingestion/source/pipeline/fivetran/metadata.py
  ingestion/tests/unit/topology/pipeline/test_fivetran.py
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
Labels: Ingestion, safe to test

#18905 Support to add and edit primary constraints in Table Constraints modal
  openmetadata-ui/src/main/resources/ui/playwright/constant/tableConstraint.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TableConstraint.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-dist-line-through.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-distribution.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-sort-line-through.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-sort.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Table.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/ConstraintIcon.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/ForeignKeyConstraint.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/PrimaryKeyConstraint.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraintsModal/TableConstraintsModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraintsModal/table-constraint.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/table-constraints.less
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#18932 MINOR: tableau lineage minor errors
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#18930 Fix: dbt manifest parsing issue
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
Labels: Ingestion, safe to test

#18926 FEAT: added TABLESAMPLE for MSSQL
  ingestion/src/metadata/ingestion/source/database/mssql/service_spec.py
  ingestion/src/metadata/sampler/sqlalchemy/mssql/sampler.py
  ingestion/tests/unit/profiler/sqlalchemy/mssql/test_mssql_sampling.py
Labels: Ingestion, safe to test

#18891 Fixes 18300: Get last completed job run
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Labels: safe to test

#18937 Fix: Minor glossary term issues
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Labels: safe to test

#18935 MINOR - MSSQL timestamp type profiler fix
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/orm/converter/converter_registry.py
  ingestion/src/metadata/profiler/orm/converter/mssql/converter.py
  ingestion/src/metadata/profiler/orm/types/custom_timestamp.py
  ingestion/tests/unit/profiler/sqlalchemy/test_metrics.py
Labels: Ingestion, safe to test

#18904 [GEN-2187] fix(data-diff): added MD5 handling for bigquery
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/profiler/orm/functions/md5.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_bigquery.py
Labels: Ingestion, safe to test

#18898 MINOR: test(data-dff): fix flaky test
  ingestion/tests/integration/data_quality/test_data_diff.py
Labels: Ingestion, safe to test

#18944 Minor: Prevent Multiple CSV export download if no active job is present
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
Labels: UI, safe to test

#18947 QueryBuilderWidget - change query generated format
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
Labels: UI, safe to test

#18948 update certification image size
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/CertificationTag.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/certification-tag.less
Labels: UI, safe to test

#18946 fix: column rearrangement issue in Glossary Terms table
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Labels: safe to test

#18949 Minor: extend the support for dq failure support to all the entity
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointDetails/APIEndpointDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
Labels: UI, safe to test

#18951 minor - ui fixes for 1.6 release
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Labels: UI, safe to test

#18352 Fixes 18349: proper version comparison
  openmetadata-airflow-apis/openmetadata_managed_apis/api/utils.py
Labels: safe to test

#18955 Minor: Check in generated files
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkLexer.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkListener.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkParser.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnLexer.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnListener.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnParser.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriLexer.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriListener.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriParser.js
Labels: backend, safe to test

#18952 Fix Certification tags not updating in ES
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
Labels: backend, safe to test

#18954 fix(ui): Modifyed the errorPlacholder message with the entity Name in Custom Property Tab
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#18950 fix: close select dropdpwn when parent compoment is changed
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: safe to test

#18960 DOCS - EditTags RBAC changes for 1.6
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
Labels: Ingestion, safe to test

#18945 Docs: Connectors Icon Updation
  openmetadata-docs/content/partials/v1.6/connectors/dashboard/connectors-list.md
  openmetadata-docs/images/connectors/rest.svg
  openmetadata-docs/images/connectors/sigma.svg
Labels: safe to test

#18963 update whats new content for 1.6
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: safe to test

#18956 MINOR: Remove generated ANTLR token and listener files
  .gitignore
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLink.interp
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLink.tokens
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkLexer.interp
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkLexer.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkLexer.tokens
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkListener.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/EntityLinkParser.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/Fqn.interp
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/Fqn.tokens
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnLexer.interp
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnLexer.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnLexer.tokens
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnListener.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/FqnParser.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUri.interp
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUri.tokens
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriLexer.interp
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriLexer.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriLexer.tokens
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriListener.js
  openmetadata-ui/src/main/resources/ui/src/generated/antlr/JdbcUriParser.js
Labels: Ingestion, safe to test

#18970 MINOR: Add Lineage breaking changes
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
Labels: Ingestion, safe to test

#18967 Minor: Update the resolution version for the `jsonpath-plus` package to fix the vulnerability
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18969 fix loading of users and other minor fixes
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Labels: UI, safe to test

#18965 Minor: Fix kafkaconnect test connection
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/connection.py
Labels: Ingestion, safe to test

#18971 MINOR - Remove ingestionPipeline index parent alias
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
Labels: Ingestion, safe to test

#18975 Revert "fix: close select dropdpwn when parent compoment is changed"
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: UI, safe to test

#18959 MINOR: Remove workflow instance states
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/MainWorkflowTerminationListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CheckEntityAttributesTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetEntityCertificationTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetGlossaryTermStatusTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/endEvent/EndEvent.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/startEvent/StartEvent.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/UserApprovalTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/CreateApprovalTaskImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, safe to test

#18977 minor: added entity type support in dq dashboard API
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityDashboardAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityDashboardAPI.ts
Labels: UI, safe to test

#18978 Minor logical test suite agg update
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: Ingestion, safe to test

#18980 FIX: Postgresql Migrations For EventSubscriptionOffset.
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
Labels: backend, safe to test, migration, Alert & Notifications

#18974 Docs: Doris Connector DBT Updation
  openmetadata-docs/content/v1.5.x/connectors/database/doris/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/doris/index.md
Labels: safe to test

#18991 Fix ES Tag Index failing
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
Labels: backend, safe to test

#18996 DOCS - 1.6 release docs
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/v1.6.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
Labels: Ingestion, safe to test

#18986 Minor: Remove cron-editor.less since it is not used
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/cron-editor.less
Labels: UI, safe to test

#19000 Minor: Update the docs sync workflow for collate images
  .github/workflows/sync-docs-v1.yml
Labels: UI, safe to test

#19002 minor(doc): update 1.6 release page
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/v1.6.x/releases/releases/supported.md
Labels: UI, safe to test

#18999 Fix: Pom after docs removal
  openmetadata-service/pom.xml
Labels: UI, safe to test

#18984 Minor: Fix the flaky playwright tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Labels: UI, safe to test

#19010 Docs: Add missing connector documentation data
  openmetadata-docs/content/partials/v1.6/connectors/ml-model/connectors-list.md
  openmetadata-docs/content/partials/v1.6/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/ml-model/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/index.md
  openmetadata-docs/images/connectors/datafactory.webp
  openmetadata-docs/images/connectors/matillion.webp
  openmetadata-docs/images/connectors/stitch.webp
  openmetadata-docs/images/connectors/vertexai.webp
Labels: documentation, UI, safe to test

#18989 fix: correct behavior for displayName when add and remove
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
Labels: UI, safe to test, To release

#19007 Update values.md
  openmetadata-docs/content/v1.6.x/deployment/kubernetes/values.md
Labels: safe to test

#19014 minor: fix typo in latest.md doc file
  openmetadata-docs/content/partials/v1.6/releases/latest.md
Labels: UI, safe to test

#19008 feat: Updated docs for quickstart docker deployment
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/local-docker-deployment.md
Labels: safe to test

#18972 feat: Docs for openmetadata post upgrade steps with kubernetes.
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/post-upgrade-steps.md
  openmetadata-docs/content/partials/v1.7/deployment/upgrade/post-upgrade-steps.md
Labels: safe to test

#18990 MINOR: Handle Flowable History Cleanup
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-spec/src/main/resources/json/schema/configuration/workflowSettings.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Labels: Ingestion, safe to test

#19019 MINOR - Add APIs to Ref Map
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/elasticsearch.py
Labels: Ingestion, safe to test

#18831 Fixes #17888 - Implemented Cross Database Lineage
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/trino/lineage.py
  openmetadata-docs/content/v1.7.x-SNAPSHOT/main-concepts/metadata-standard/schemas/type/entityLineage.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryLineagePipeline.json
  openmetadata-spec/src/main/resources/json/schema/type/entityLineage.json
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/lineage/addLineage.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/entityLineage.ts
Labels: safe to test

#19017 Minor: Domain only access policy prevents bots from listing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Labels: backend, safe to test, e2e

#19004 Fix: Filter activity feed events for test cases and test suites.
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
Labels: UI, backend, safe to test

#19023 Fixes: Cassandra Connector Documentation
  openmetadata-docs/content/partials/v1.7/connectors/database/connectors-list.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/images/connectors/cassandra.webp
Labels: safe to test

#19021 Docs: Airflow docker updation
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/local-docker-deployment.md
Labels: safe to test

#19027 minor: add support for ttf file extension in openmetadata-ui/pom.xml
  openmetadata-ui/pom.xml
Labels: UI, safe to test

#19035 Fix #16041 The persona JSON schema is named Team
  openmetadata-spec/src/main/resources/json/schema/entity/teams/persona.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/persona.ts
Labels: backend, safe to test

#19031 Update auth test
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
Labels: UI, safe to test

#19034 fix: azuresql sampler logic
  ingestion/src/metadata/profiler/orm/converter/azuresql/converter.py
  ingestion/src/metadata/profiler/orm/converter/converter_registry.py
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
  ingestion/tests/unit/profiler/sqlalchemy/azuresql/test_azuresql_sampling.py
Labels: Ingestion, safe to test

#19022 MINOR - Pass Airflow host on every failed /status call
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
Labels: Ingestion, safe to test

#19040 Docs: Adding Reindex Pointer
  openmetadata-docs/content/partials/v1.5/deployment/redeploy.md
  openmetadata-docs/content/partials/v1.5/deployment/reindex.md
  openmetadata-docs/content/partials/v1.6/deployment/redeploy.md
  openmetadata-docs/content/partials/v1.6/deployment/reindex.md
  openmetadata-docs/content/partials/v1.7/deployment/redeploy.md
  openmetadata-docs/content/partials/v1.7/deployment/reindex.md
Labels: safe to test

#19036 Docs: Adding Reindex Pointer And Images Updation
  openmetadata-docs/images/v1.5/deployment/upgrade/redeploy.png
  openmetadata-docs/images/v1.5/deployment/upgrade/reindex-ES.png
  openmetadata-docs/images/v1.6/deployment/upgrade/redeploy.png
  openmetadata-docs/images/v1.6/deployment/upgrade/reindex-ES.png
  openmetadata-docs/images/v1.7/deployment/upgrade/redeploy.png
  openmetadata-docs/images/v1.7/deployment/upgrade/reindex-ES.png
Labels: safe to test

#19039 fix(ui): #18001 changing pageSize will fetch pipeline with updated size
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionPipelineList/IngestionPipelineList.component.tsx
Labels: UI, safe to test

#19037 Docs: Fix the missing 1.4 image references in the documentation
  openmetadata-docs/content/v1.5.x/connectors/messaging/kinesis/index.md
  openmetadata-docs/content/v1.5.x/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.5.x/deployment/secrets-manager/supported-implementations/gcp-secret-manager/index.md
  openmetadata-docs/content/v1.6.x/connectors/messaging/kinesis/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/matillion/yaml.md
  openmetadata-docs/content/v1.6.x/deployment/secrets-manager/supported-implementations/gcp-secret-manager/index.md
  openmetadata-docs/content/v1.6.x/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/v1.6.x/deployment/security/saml/bare-metal.md
  openmetadata-docs/content/v1.6.x/deployment/security/saml/docker.md
  openmetadata-docs/content/v1.6.x/deployment/security/saml/kubernetes.md
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/domain-&-data-products/data-products.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/incident-manager/IM-workflow.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/incident-manager/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/observability/alerts.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/observability/webhooks.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/profiler/external_workflow.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/profiler/metrics.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/profiler/profiler-workflow.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/profiler/sample_data.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/profiler/tab.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/custom-tests.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/tab.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/test-cases-from-yaml-config.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/test.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/messaging/kinesis/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/matillion/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/gcp-secret-manager/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/saml/bare-metal.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/saml/docker.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/saml/kubernetes.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/domain-&-data-products/data-products.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/incident-manager/IM-workflow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/incident-manager/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/observability/alerts.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/observability/webhooks.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/external_workflow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/metrics.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/profiler-workflow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/sample_data.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/tab.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/custom-tests.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tab.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/test-cases-from-yaml-config.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/test.md
Labels: UI, safe to test

#19042 feat:Updated docs for azure SSO with secret client
  openmetadata-docs/content/v1.5.x/deployment/security/azure/index.md
  openmetadata-docs/content/v1.6.x/deployment/security/azure/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/index.md
Labels: safe to test

#19046 fix(ui): render column type max 3 lines and ellipsis
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
Labels: UI, safe to test

#18987 supported editUser permission in user tab for team page
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/team/TeamClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Labels: UI, safe to test

#18660 ISSUE-16094: fix s3 storage parquet structureFormat ingestion
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
Labels: safe to test

#19059 fix downloading of app logs
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/applicationAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionLogs/LogsUtils.ts
Labels: UI, safe to test

#19030 remove extra assignees from workflow
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/userTask/userApprovalTask.json
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/userTask/userApprovalTask.ts
Labels: UI, safe to test

#18957 FIX: Sort Buffer Issue Change Event Table
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#18864 Minor : Fix #18606 prevent overwriting style for PUT request
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#19053 Fix NullPointer for Workflow Setting
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/WorkflowDefinitionResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Labels: backend, safe to test

#19060 Domain Policy Update to be non-system
  bootstrap/sql/migrations/native/1.5.15/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.15/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.15/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.15/postgres/schemaChanges.sql
  openmetadata-service/src/main/resources/json/data/policy/DomainAccessPolicy.json
  openmetadata-service/src/main/resources/json/data/role/DomainOnlyAccessRole.json
Labels: backend, safe to test

#19057 Correct Imports for Class Converter Factory
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/mysqlConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/postgresConnection.ts
Labels: backend, safe to test

#19049 Add Algorithm option for validation in yaml
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/jwt/JWTTokenGenerator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/JWTTokenGeneratorTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/authenticationConfiguration.ts
Labels: backend, safe to test

#19081 Docs - Fix PowerBI RS Slug
  openmetadata-docs/content/v1.6.x/connectors/dashboard/powerbi-report-server/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/powerbi-report-server/index.md
Labels: Ingestion, safe to test

#19058 fix query builder state issues
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/QueryBuilder.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/queryBuilder.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/query-builder-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Labels: UI, safe to test

#19079 Fix : Handle Index out of bounds exception in feed api
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Labels: backend, safe to test

#19088 fix postgres offset query
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#19029 MINOR: Add Governance Workflow documentation
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/glossary/approval.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/default-workflows/dashboard-certification.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/default-workflows/glossary-approval.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/default-workflows/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/default-workflows/table-certification.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/check-entity-attributes.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/create-user-task.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/set-asset-certification.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/set-glossary-term-status.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/triggers/event-based-entity-trigger.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/triggers/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/triggers/periodic-batch-entity-trigger.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/how-to-edit-workflow.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/index.md
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-check-entity-attributes.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-create-user-task.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-event-based-entity-trigger.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-glossary-approval.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-how-to-edit-configuration-page.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-how-to-edit-configuration.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-how-to-edit-node-click.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-how-to-edit-node-page.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-how-to-edit-workflow.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-periodic-batch-entity-trigger.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-set-asset-certification.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-set-glossary-term-status.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/workflows-table-certification.png
Labels: Ingestion, safe to test

#19055 test(e2e): Ingestion bot e2e tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Labels: UI, safe to test

#19074 test(e2e): Explore page tests
  openmetadata-ui/src/main/resources/ui/playwright/constant/explore.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
Labels: safe to test

#19084 [Fix-19083] Search Index read entities from index mapping
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: backend, safe to test

#19062 Fixes 19073 : Resolve NullPointerException in MS Teams DQ template handling
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
Labels: backend, safe to test

#19097 Docs: Collate Menu Updation
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
Labels: safe to test

#19050 fix(ui): sync search value with url and state value
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test

#19100 fix database and schema aggregation key
  openmetadata-ui/src/main/resources/ui/playwright/utils/navbar.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
Labels: UI, safe to test

#18968 fix(ui): expand invalid state upon glossary term add
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Labels: UI, safe to test

#19101 GEN-2237: Added index on timestamp field for reindex
  bootstrap/sql/migrations/native/1.6.2/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.2/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.2/postgres/schemaChanges.sql
Labels: Ingestion, backend, data quality, safe to test

#18938 Minor: add column name to test case header
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.test.tsx
Labels: UI, safe to test

#19109 Fix Login Configuration Issue
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LoginAttemptCache.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/ConfigResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Labels: backend, safe to test

#19102 MINOR: Handle existing dbt results
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#19110 feat(ui): highlight search term for schema table in table details page
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/EntityUtils.mock.ts
Labels: safe to test

#19099 FIX #18140: DB2 should not fetch wrong unique constraints anymore.
  ingestion/src/metadata/ingestion/source/database/db2/metadata.py
  ingestion/src/metadata/ingestion/source/database/db2/utils.py
Labels: Ingestion, safe to test

#19123 GEN-2346: PowerBI workspace api limit error, avoid bulk data prepare
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#19121 MINOR: User search should only look in name & displayName
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
  ingestion/tests/integration/ometa/test_ometa_user_api.py
Labels: Ingestion, safe to test

#19117 Fix dbt Table not found Issue
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#19120 fix: Mask Email Password
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Labels: backend, safe to test, To release

#19132 19064: fix the spacing around the input in custom properties right panel
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/property-value.less
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/InlineEdit.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/inline-edit.less
Labels: UI, safe to test

#19138 Docs: Release updation
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
Labels: safe to test

#19129 MINOR: Fix Table constraint relationships for SoftDeleted entities.
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: Ingestion, safe to test

#19130 Fix e2e tests
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/database/mysql/mysql.yaml
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
Labels: Ingestion, safe to test

#19143 chore(ui): improve data insight chart and tooltip rendering
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/TotalEntityInsightSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test
