Repository open-metadata/OpenMetadata, pull requests merged in 2024-06, with the labels that each got.

#16482 #16466 : fix tooltip of glossaryTerms in entity page
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16504 playwright: test setup and improvement
  .gitignore
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/team/TeamClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/AdminClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/user.constant.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/userUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, e2e:DataAssets

#16499 [Do not Merge ]Non Indexable fields should be remvoed at the end
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
Labels: backend, safe to test

#16506 fix announcement not redirect from landing page
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Annoucement.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardHeader/FeedCardHeaderV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardHeader/FeedCardHeaderV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.tsx
Labels: UI, safe to test, e2e:DataAssets

#16511 minor: updated workflow to run playwright from branch changes
  .github/workflows/playwright-mysql-e2e.yml
Labels: UI, devops, safe to test

#16510 Fix Schema Field Null Issue
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
Labels: backend, safe to test

#16500 Fixes #16322 - Delete results on test case hard deletion
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#16508 playwright: added follow unfollow and up vote down vote test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityUtils.ts
Labels: UI, safe to test, e2e:DataAssets

#16438 Fixes : 14333 - Changed announcements startTime and endTime from seconds to milliseconds.
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v141/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v141/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v141/MigrationUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Labels: backend, safe to test, e2e:DataAssets

#16513 MINOR: Update multithreading docs
  openmetadata-docs/content/partials/v1.4/connectors/yaml/database/source-config-def.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/database/source-config.md
Labels: documentation, Ingestion, safe to test

#16460 Minor: Adding Docs for openmetadata-ops Script
  openmetadata-docs/content/partials/v1.3/deployment/upgrade/post-upgrade-steps.md
  openmetadata-docs/content/partials/v1.4/deployment/upgrade/post-upgrade-steps.md
Labels: documentation, safe to test

#16430 Minor: Adding Menu for Reindexing Search in Admin Guide
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.4.x/menu.md
Labels: documentation, safe to test

#16478 Minor: Updating docs for adding a simple policy example using API
  openmetadata-docs/content/v1.3.x/how-to-guides/admin-guide/roles-policies/use-cases.md
  openmetadata-docs/content/v1.4.x/how-to-guides/admin-guide/roles-policies/use-cases.md
Labels: documentation, safe to test

#16464 Minor: Adding Docs for Custom Openmetadata.yaml file
  openmetadata-docs/content/v1.3.x/deployment/docker/index.md
  openmetadata-docs/content/v1.4.x/deployment/docker/index.md
Labels: documentation, safe to test

#16514 Minor: Updating the upgrade docs for Backups & Restore
  openmetadata-docs/content/partials/v1.3/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/partials/v1.4/deployment/upgrade/upgrade-prerequisites.md
Labels: documentation, safe to test

#16515 chore: Update zustand middleware to use session storage
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DashboardServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DataModelClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/MessagingServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/MlModelServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/PipelineServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/SearchServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/StorageServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/StoredProcedureClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/TableClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/LocalStorage.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Owner.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/CustomMetric.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/AdditionalRuleSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/GroupSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow/SingleFiledSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightReportApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ProfilerConfigurationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
Labels: UI, safe to test

#16519 Add appType as part of schema in ingestion pipeline
  bootstrap/sql/migrations/native/1.4.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.2/postgres/schemaChanges.sql
Labels: backend, safe to test

#16484 Fix #16229 - Tag and Service filters for test cases
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
Labels: Ingestion, backend, safe to test

#16509 MINOR: python requirements doc fix
  openmetadata-docs/content/partials/v1.4/connectors/python-requirements.md
Labels: documentation, safe to test

#16502 feat(ui): support tag & tier filter for test case
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: UI, safe to test, e2e:Observability

#16526 playwright: add support for base url via env variable
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Labels: UI, safe to test

#16530 MINOR: Fixed oracle e2e count
  ingestion/tests/cli_e2e/test_cli_oracle.py
Labels: Ingestion, safe to test

#16528 MINOR: database doc changes
  openmetadata-docs/content/partials/v1.3/connectors/database/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/database/configure-ingestion.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/database/source-config-def.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/database/source-config.md
  openmetadata-docs/content/v1.4.x/main-concepts/metadata-standard/schemas/metadataIngestion/databaseServiceMetadataPipeline.md
  openmetadata-docs/images/v1.3/connectors/configure-metadata-ingestion-database-1.png
  openmetadata-docs/images/v1.3/connectors/configure-metadata-ingestion-database-2.png
  openmetadata-docs/images/v1.3/connectors/configure-metadata-ingestion-database.png
  openmetadata-docs/images/v1.4/connectors/configure-metadata-ingestion-database-1.png
  openmetadata-docs/images/v1.4/connectors/configure-metadata-ingestion-database-2.png
  openmetadata-docs/images/v1.4/connectors/configure-metadata-ingestion-database.png
Labels: documentation, safe to test

#16486 Fix #16370 - Added view/DDL definition rule
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/metadata.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
Labels: Ingestion, safe to test

#16512 #16489: fix the redirect issue to new tab for tags and glossary
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableDataCardBody/TableDataCardBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SearchIndexSummary/SearchIndexSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.test.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16533 minor: sanitize activity feed editor content
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/sanitize.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/sanitize.utils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#16534 MINOR: Fixed tableau e2e
  ingestion/tests/cli_e2e/test_cli_tableau.py
Labels: Ingestion, safe to test

#16537 MINOR: Fixed quicksight conn
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
Labels: Ingestion, safe to test

#16542 playwright: migrate announcement, rename, soft delete and hard delete test
  openmetadata-ui/src/main/resources/ui/playwright/constant/delete.constant.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityUtils.ts
Labels: UI, safe to test, e2e:DataAssets

#16540 minor: improve the block editor initial content history
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
Labels: UI, safe to test

#16541 Fix settings for email not encrypted on init
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
Labels: backend, safe to test

#16539 Update documentation for Search Index apis
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
Labels: backend, safe to test

#16538 Fix#16491 - fix lineage edge description update
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test

#16544 Fix Event Handlers registration Issue
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventFilter.java
Labels: backend, safe to test

#16536 CYPRESS: fix announcement cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Annoucement.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
Labels: UI, safe to test, e2e:DataAssets

#16545 [Bug] Fix Topic Index missing messageSchema
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
Labels: backend, safe to test

#16546 Fixes: spelling of "GitHub" in "star us" message
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#16559 fix(workflow): typo for paths-ignore for playwright
  .github/workflows/playwright-mysql-e2e.yml
Labels: UI, devops, safe to test

#16556 Minor: fixed data quality page type issue
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.test.tsx
Labels: UI, safe to test

#16566 Sync Github issues to notion
  .github/workflows/issues-notion-sync.yml
Labels: backend, devops, safe to test

#16567 MINNOR: fix owner not showing after refresh in teams page
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Labels: UI, safe to test, e2e:Settings

#16531 MINOR: Enabled pbit file test
  ingestion/tests/integration/powerbi/test_powerbi_file_client.py
Labels: Ingestion, safe to test

#16549 [ISSUE-16503] Fix createUser to use EntityResource
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/PersonaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: backend, safe to test

#16568 minor(ui) : update what's new for 1.4.2
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#16572 FIX - e2e test for pydantic v2
  ingestion/tests/cli_e2e/base/test_cli.py
  openmetadata-spec/src/main/resources/json/schema/api/createEventPublisherJob.json
  openmetadata-spec/src/main/resources/json/schema/api/voteRequest.json
  scripts/datamodel_generation.py
Labels: Ingestion, backend, safe to test

#16575 playwright: add make command to run playwright test
  Makefile
Labels: UI, safe to test

#16576 FIX - e2e test for pydantic v2
  ingestion/src/metadata/ingestion/models/lf_tags_model.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/cli_e2e/dashboard/quicksight/quicksight.yaml
Labels: Ingestion, safe to test

#16564 playwright: fixed AUT announcement test
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.tsx
Labels: UI, safe to test

#16579 cypress: fixed flakiness and announcment cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Annoucement.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Users.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.ts
Labels: UI, safe to test, e2e:Integration, e2e:Observability

#16580 Updating glossary reviewers should propagate reviewers in glossary term
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-inherit.svg
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetailsRightPanel/GlossaryReviewers.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/owner-label.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16577 FIX - e2e test for pydantic v2
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#16523 MINOR - Data Quality Preparatory Work
  bootstrap/sql/migrations/native/1.5.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/postDataMigrationSQLScript.sql
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValueLengthsToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValueMaxToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValueMeanToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValueMedianToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValueMinToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValueStdDevToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValuesSumToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/base/columnValuesToBeBetween.py
  ingestion/src/metadata/data_quality/validations/table/base/tableRowCountToBeBetween.py
  ingestion/src/metadata/profiler/orm/registry.py
  openmetadata-service/src/main/resources/json/data/tests/columnValueMaxToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMeanToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMedianToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMinToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueStdDevToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesLengthsToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesSumToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToBeBetween.json
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
  openmetadata-spec/src/main/resources/json/schema/tests/testDefinition.json
Labels: Ingestion, backend, data quality, safe to test

#16589 Fix: Ensure correct index mapping in Elasticsearch for clusterAlias
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#16598 Minor: Ensure correct index mapping in Elasticsearch for clusterAlias
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
Labels: backend, safe to test

#16599 chore(CI): Enable Elasticsearch cluster alias by default
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
Labels: devops, safe to test

#16600 Fix Postgres Application listing
  bootstrap/sql/migrations/native/1.4.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.2/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
Labels: backend, safe to test

#16594 MINOR: Fix e2e
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
  ingestion/tests/cli_e2e/base/test_cli_dashboard.py
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
  ingestion/tests/cli_e2e/test_cli_redash.py
Labels: Ingestion, devops, safe to test

#16596 Fixes 16595: Parse Iceberg REST table FQN from identifier
  ingestion/src/metadata/ingestion/source/database/iceberg/catalog/rest.py
  ingestion/src/metadata/ingestion/source/database/iceberg/helper.py
  ingestion/src/metadata/ingestion/source/database/iceberg/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/iceberg/restCatalogConnection.json
Labels: Ingestion, backend, safe to test

#16604 fix(CI): update `run_local_docker.sh` script with cluster alias ES endpoint
  docker/run_local_docker.sh
Labels: devops, safe to test

#16602 cypress: fixed 1.4.2 AUT cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Annoucement.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Ingestion.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Users.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/glossary.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
Labels: UI, safe to test, e2e:Lineage, e2e:Integration, e2e:Governance, e2e:Observability, e2e:DataAssets, e2e:Settings

#16587 playwright: announcement-click-issue
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test, e2e:DataAssets

#16606 test: add updateJWTTokenExpiryTime util
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Login.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
Labels: UI, safe to test, e2e:DataAssets

#16610 Revert alias setup
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/run_local_docker.sh
Labels: UI, devops, safe to test

#16611 Minor: OSS changes for adding automator cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/common/EntityUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Owner.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/EntityConstant.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/IngestionWorkflow.interface.ts
Labels: UI, safe to test, e2e:Integration, e2e:DataAssets, e2e:Settings

#16605 MINOR: Fixed dbt code after pydantic v2 update
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/utils/time_utils.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, backend, safe to test

#16613 MINOR: Fix Profiler for SSL Enabled Source
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/source/metadata_ext.py
  ingestion/src/metadata/utils/ssl_manager.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_profiler_interface.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
Labels: Ingestion, safe to test

#16619 Add Test Suite SSL
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
Labels: Ingestion, safe to test

#16625 MINOR: Fix ssl connection in usage & lineage
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
Labels: Ingestion, safe to test

#16629 Fix owner notification
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
Labels: backend

#16621 playwright: updated entity spec with custom property test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
Labels: UI, safe to test, e2e:Integration, e2e:DataAssets

#16633 MINOR: use test setup action for playwright tests
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/py-tests.yml
Labels: Ingestion, devops, safe to test

#16630 Domain flaky cypress fix
  openmetadata-ui/src/main/resources/ui/cypress/common/DomainUtils.ts
Labels: UI, safe to test, e2e:Governance

#16627 MINOR: Fix e2e
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
Labels: Ingestion, devops, safe to test

#16636 MINOR: use setup aciton in playwright e2e tests
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: Ingestion, devops, safe to test

#16626 Minor: Fix Arg for Qliksense
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
Labels: Ingestion, safe to test

#16618 test: fix cypress test aut
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Owner.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Services.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Users.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/Alert.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
Labels: UI, safe to test

#16628 feat(#16208): custom properties for Dashboard Data Models
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-ui/src/main/resources/ui/playwright/constant/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModelVersion/DataModelVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, backend, safe to test, e2e:DataAssets

#16650 playwright: improve the existing playwright test
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Services.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test

#16654 MINOR: Fix E2E count
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
Labels: Ingestion, safe to test

#16638 MINOR: Pydantic fixes for redshift & kafka
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  ingestion/src/metadata/ingestion/source/messaging/kafka/connection.py
  ingestion/tests/integration/kafka/test_kafka.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
Labels: Ingestion, safe to test

#16659 Doc: Fixing Typo in the Upgrade Docs
  openmetadata-docs/content/v1.4.x/deployment/upgrade/index.md
Labels: documentation

#16159 MINOR: added query param "validate" for failed row sample
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, safe to test

#16660 Cypress: Fixed AUT failure
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/DomainUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Services.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.ts
Labels: UI, safe to test, e2e:Integration, e2e:Governance, e2e:Observability, e2e:DataAssets

#16667 - Fix User Signup
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
Labels: backend, safe to test

#16669 chore: Update What's new and vulnerability fix
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, backend, safe to test

#16666 Minor: Fix incorrect alert on signup page
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamsSelectable/TeamsSelectable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamsSelectable/TeamsSelectable.tsx
Labels: UI, safe to test, e2e:DataAssets, e2e:Settings

#16664 Fixes #16663: Fix the UserResource.patch's if condition (PATCH `v1/users/{id}`)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
Labels: backend, safe to test

#15888 Fixes: change double quote to single quote in SQL initial script
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
Labels: safe to test

#16354 Fixes #16353: Table versions will be inconsistent when modified by different users across different applications.
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#16436 MINOR: added lineage ingestion test for mssql
  ingestion/pyproject.toml
  ingestion/tests/helpers/README.md
  ingestion/tests/helpers/docker_utils.py
  ingestion/tests/helpers/markers.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/sql_server/conftest.py
  ingestion/tests/integration/sql_server/test_lineage.py
  ingestion/tests/integration/sql_server/test_metadata_ingestion.py
Labels: UI, Ingestion, safe to test, e2e:Settings

#16683 MINOR: skip mssql test for python
  ingestion/tests/integration/sql_server/test_lineage.py
Labels: Ingestion, safe to test

#16674 Doc: Adding How-to Guide for Incident Manager
  openmetadata-docs/content/v1.4.x/how-to-guides/data-observability/incident-manager/IM-workflow.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-observability/incident-manager/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-observability/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/index.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/images/v1.4/how-to-guides/observability/Incident-Manager-1.png
  openmetadata-docs/images/v1.4/how-to-guides/observability/Incident-Manager-2.png
  openmetadata-docs/images/v1.4/how-to-guides/observability/Incident-Manager-3.png
  openmetadata-docs/images/v1.4/how-to-guides/observability/Incident-Manager-4.png
  openmetadata-docs/images/v1.4/how-to-guides/observability/Incident-Manager-5.png
Labels: documentation

#16661 Fixes #15499: Fix the OpenMetadata(Client) constructor bug - ApiClient null check. (re-commit)
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/gateway/OpenMetadata.java
Labels: backend, safe to test

#16684 MINOR: Fix Redash e2e filtered_mix test
  ingestion/tests/cli_e2e/test_cli_redash.py
Labels: Ingestion, safe to test

#16672 Add Teradata connector docs
  openmetadata-docs/content/partials/v1.4/connectors/database/connectors-list.md
  openmetadata-docs/content/v1.4.x/connectors/database/teradata/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/teradata/yaml.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/images/v1.4/connectors/teradata/add-new-service.png
  openmetadata-docs/images/v1.4/connectors/teradata/select-service.png
  openmetadata-docs/images/v1.4/connectors/teradata/service-connection.png
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Teradata.md
Labels: documentation, UI, safe to test

#16688 MINOR: [DOCS] Updated Cost Analysis supported connectors
  openmetadata-docs/content/v1.3.x/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-insights/cost-analysis.md
Labels: documentation, Ingestion, safe to test

#16689 MINOR: Fix superset cypress error
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#16671 playwright: migrate glossary version page spec
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/version.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/Glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/GlossaryTerm.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16686 Docs: Updated Release Docs till 1.4.3
  openmetadata-docs/content/partials/v1.4/releases/latest.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.4.x/releases/releases/index.md
Labels: documentation, safe to test

#16685 MINOR: fix sql lineage with timezone change
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/utils/helpers.py
Labels: Ingestion, safe to test

#16693 CYPRESS: fix cypress failure for teams drag and drop
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsDragAndDrop.spec.ts
Labels: UI, safe to test

#16696 MINOR: Fix numpy version for bigquery ingestion
  ingestion/setup.py
Labels: Ingestion, safe to test, e2e:Integration

#16592 #16477: fix deleted user profile not showing
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileDetails/UserProfileDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test, e2e:Settings

#16701 Docs: New Section - Data Quality & Observability
  openmetadata-docs/content/partials/v1.4/releases/latest.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-observability/incident-manager/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-observability/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/incident-manager/IM-workflow.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/incident-manager/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/observability/alerts.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/observability/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/auto-pii-tagging.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/external_workflow.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/metrics.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/profiler-workflow.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/sample_data.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/tab.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/configure.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/custom-tests.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/tab.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/test.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/tests-yaml.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-profiler/alerts.md
  openmetadata-docs/content/v1.4.x/how-to-guides/index.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.4.x/quality-and-observability/data-quality/incident-manager.md
  openmetadata-docs/content/v1.4.x/quality-and-observability/index.md
  openmetadata-docs/content/v1.4.x/releases/releases/index.md
Labels: documentation, safe to test

#16712 Security Fixes for Headers and Input Sanitisation
  conf/openmetadata.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/config/OMWebBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/OMWebConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
Labels: backend, safe to test, security

#16713 Add WebConf Env to Compose
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: backend, devops, safe to test

#16643 [Issue-16642] Add Claim Mapping to uniquely identifty username and email from claims
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthCallbackServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLoginServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: backend, safe to test

#16710 Doc: Updating Icon for Data Quality and Observability
  openmetadata-docs/content/v1.4.x/how-to-guides/index.md
Labels: documentation, safe to test

#16631 Fixes #16632: Add `testCases` property to a test suite source config
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/tests/unit/data_quality/source/__init__.py
  ingestion/tests/unit/data_quality/source/test_test_suite.py
  openmetadata-docs/content/partials/v1.4/connectors/yaml/data-quality.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
Labels: documentation, Ingestion, backend, safe to test

#16718 MINOR: Update ischema_names for db2 to take BOOLEAN into account
  ingestion/src/metadata/ingestion/source/database/db2/metadata.py
Labels: Ingestion, safe to test

#16715 CYPRESS: fix cypress for dataModelVersionPage
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Owner.ts
Labels: UI, safe to test, e2e:DataAssets

#16717 Docs: Fixed the 404 links
  openmetadata-docs/content/partials/v1.4/connectors/database/related.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/data-profiler.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/data-quality.md
  openmetadata-docs/content/partials/v1.4/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.4.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/clickhouse/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/datalake/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/db2/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/db2/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/doris/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/druid/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/greenplum/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/hive/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/impala/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/mariadb/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/mongodb/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/mongodb/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/pinotdb/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/presto/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/sap-hana/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/singlestore/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/sqlite/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/teradata/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/vertica/index.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/great-expectations.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/index.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/index.md
  openmetadata-docs/content/v1.4.x/connectors/pipeline/openlineage/index.md
  openmetadata-docs/content/v1.4.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.4.x/deployment/upgrade/how-does-it-work.md
  openmetadata-docs/content/v1.4.x/deployment/upgrade/versions/100-to-110.md
  openmetadata-docs/content/v1.4.x/developers/contribute/build-code-and-run-tests/ingestion-framework.md
  openmetadata-docs/content/v1.4.x/developers/contribute/developing-a-new-connector/apply-ui-changes.md
  openmetadata-docs/content/v1.4.x/how-to-guides/admin-guide/how-to-ingest-metadata.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-governance/classification/auto.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-lineage/workflow.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/external_workflow.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/metrics.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/profiler/profiler-workflow.md
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/test.md
  openmetadata-docs/content/v1.4.x/how-to-guides/index.md
  openmetadata-docs/content/v1.4.x/how-to-guides/user-guide-data-users/data-asset-tabs.md
  openmetadata-docs/content/v1.4.x/how-to-guides/user-guide-data-users/tags.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/bigquery/index.md
Labels: documentation, safe to test

#16725 Update README.md
  README.md
Labels: backend, safe to test

#16665 FIXES 14885: Initial deltalake implementation for s3
  bootstrap/sql/migrations/native/1.5.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/postDataMigrationSQLScript.sql
  ingestion/setup.py
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/examples/workflows/deltalake.yaml
  ingestion/src/metadata/ingestion/source/database/datalake/clients/__init__.py
  ingestion/src/metadata/ingestion/source/database/datalake/clients/azure_blob.py
  ingestion/src/metadata/ingestion/source/database/datalake/clients/base.py
  ingestion/src/metadata/ingestion/source/database/datalake/clients/gcs.py
  ingestion/src/metadata/ingestion/source/database/datalake/clients/s3.py
  ingestion/src/metadata/ingestion/source/database/datalake/connection.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/clients/__init__.py
  ingestion/src/metadata/ingestion/source/database/deltalake/clients/base.py
  ingestion/src/metadata/ingestion/source/database/deltalake/clients/pyspark.py
  ingestion/src/metadata/ingestion/source/database/deltalake/clients/s3.py
  ingestion/src/metadata/ingestion/source/database/deltalake/connection.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/utils/metadata_service_helper.py
  ingestion/tests/integration/sources/__init__.py
  ingestion/tests/integration/sources/database/__init__.py
  ingestion/tests/integration/sources/database/delta_lake/__init__.py
  ingestion/tests/integration/sources/database/delta_lake/conftest.py
  ingestion/tests/integration/sources/database/delta_lake/test_deltalake_storage.py
  ingestion/tests/integration/sources/mlmodels/__init__.py
  ingestion/tests/integration/sources/mlmodels/mlflow/__init__.py
  ingestion/tests/integration/sources/mlmodels/mlflow/conftest.py
  ingestion/tests/integration/sources/mlmodels/mlflow/test_mlflow.py
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_profiler_interface.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/test_source_parsing.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/database/test_deltalake.py
  ingestion/tests/unit/topology/metadata/test_amundsen.py
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/deltalake/yaml.md
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/DeltaLakeConnectionClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/StorageConfigClassConverter.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltaLakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltalake/metastoreConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltalake/storageConfig.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/DeltaLake.md
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Labels: Ingestion, backend, safe to test

#16719 #16720: Add Support for Salesforce SSL
  ingestion/src/metadata/examples/workflows/salesforce.yaml
  ingestion/src/metadata/ingestion/source/database/salesforce/connection.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/utils/ssl_manager.py
  ingestion/tests/unit/topology/database/test_salesforce.py
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/salesforce/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/SalesforceConnectorClassConverter.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/converter/ClassConverterFactoryTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Salesforce.md
Labels: documentation, UI, Ingestion, backend, safe to test

#16732 test: fix custom properties spec
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
Labels: UI, safe to test

#16728 CYPRESS: fix user cypress failure
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/UserClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Labels: UI, safe to test, e2e:Settings

#16554 Fix #16421: add tableDiff test case
  ingestion/setup.py
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/models.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/data_quality/validations/validator.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/utils/importer.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/data_quality/__init__.py
  ingestion/tests/integration/data_quality/conftest.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/unit/conftest.py
  ingestion/tests/unit/metadata/data_quality/__init__.py
  ingestion/tests/unit/metadata/data_quality/test_table_diff_param_setter.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
  openmetadata-service/src/main/resources/json/data/tests/tableDiff.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/ParameterForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/TestSuite.constant.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/select.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: Ingestion, backend, safe to test

#16733 Fixes #14065 : Added DBTCloud Connector docs
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/pipeline/dbtcloud/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/DBTCloud.md
Labels: documentation, UI, safe to test

#16734 MINOR: added exclude_defaults=False for profiler and deploy on airflow-apis
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/application.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/data_insight.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/profiler.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/test_suite.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/usage.py
Labels: Ingestion, safe to test

#16716 Doc: Updating Enum for PipelineType
  openmetadata-docs/content/v1.3.x/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.4.x/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/ingestion/external/airflow.md
Labels: documentation, safe to test

#16739 Doc: Updating Private Key Information for SAML
  openmetadata-docs/content/v1.3.x/deployment/security/saml/index.md
  openmetadata-docs/content/v1.4.x/deployment/security/saml/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/index.md
Labels: documentation, safe to test

#16755 MINOR: Enable Primary Key Constraint for DB2
  ingestion/src/metadata/ingestion/source/database/db2/metadata.py
Labels: Ingestion, safe to test

#16614 MINOR: support JSONL datalake file types
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/tests/integration/datalake/resources/names.jsonl
  ingestion/tests/integration/datalake/test_ingestion.py
  ingestion/tests/unit/readers/test_df_reader.py
  ingestion/tests/unit/resources/datalake/employees.jsonl
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: Ingestion, safe to test

#16757 MINOR: Fixed expected result for schemas exclude
  ingestion/tests/cli_e2e/test_cli_datalake_s3.py
Labels: Ingestion, safe to test

#16759 MINOR: Add docs for big query create credentials/service account
  openmetadata-docs/content/v1.4.x/connectors/database/bigquery/create-credentials.md
  openmetadata-docs/content/v1.4.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/bigquery/create-credentials.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.4/connectors/bigquery/bq-create-key-modal.png
  openmetadata-docs/images/v1.4/connectors/bigquery/bq-create-service-account-1.png
  openmetadata-docs/images/v1.4/connectors/bigquery/bq-create-service-account-key.png
  openmetadata-docs/images/v1.4/connectors/bigquery/bq-create-service-account.png
  openmetadata-docs/images/v1.4/connectors/bigquery/bq-service-account-grant-role.png
  openmetadata-docs/images/v1.4/connectors/bigquery/bq-service-account-manage-keys.png
  openmetadata-docs/images/v1.4/connectors/bigquery/bq-service-account-search.png
Labels: documentation, Ingestion, safe to test

#16753 MINOR: Add method to list custom properties for a entity for python sdk
  ingestion/src/metadata/ingestion/ometa/mixins/custom_property_mixin.py
  ingestion/tests/integration/ometa/test_ometa_custom_properties_api.py
Labels: Ingestion, safe to test

#16743 chore: update percentille_mixin.py
  ingestion/src/metadata/profiler/metrics/window/percentille_mixin.py
Labels: Ingestion, safe to test

#16705 Fixes #14065 : Added DBT Cloud connector
  ingestion/src/metadata/examples/workflows/dbtcloud.yaml
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/__init__.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/models.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/queries.py
  ingestion/tests/unit/topology/pipeline/test_dbtcloud.py
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/dbtcloud.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dbtCloudConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-dbt.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, Ingestion, backend, safe to test, e2e:Integration, e2e:DataAssets

#16745 Fixes #16591 : DBT Glossary Term linking Independent from Tag rule
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/resources/datasets/manifest_v8.json
  ingestion/tests/unit/test_dbt.py
Labels: safe to test

#16758 MNINOR add common test elements to _openmetadata_testutils module
  ingestion/pyproject.toml
  ingestion/src/_openmetadata_testutils/__init__.py
  ingestion/src/_openmetadata_testutils/data/dvdrental.zip
  ingestion/src/_openmetadata_testutils/helpers/__init__.py
  ingestion/src/_openmetadata_testutils/helpers/assumption.py
  ingestion/src/_openmetadata_testutils/postgres/__init__.py
  ingestion/src/_openmetadata_testutils/postgres/conftest.py
  ingestion/tests/integration/data_quality/conftest.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/integration/postgres/conftest.py
  ingestion/tests/integration/postgres/test_postgres.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: enhancement, Ingestion, safe to test

#16770 MINOR: updated profiler doc link in workflow
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/profiler.md
Labels: UI, Ingestion, safe to test

#16767 Doc: Adding Example for SAML Private Key
  openmetadata-docs/content/v1.3.x/deployment/security/saml/index.md
  openmetadata-docs/content/v1.3.x/how-to-guides/index.md
  openmetadata-docs/content/v1.4.x/deployment/security/saml/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/index.md
Labels: documentation, safe to test

#16762 [DuplicateLogin] User name issue for loggedInUserApi
  bootstrap/sql/migrations/native/1.4.4/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.4/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.4/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.4/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/CatalogOpenIdAuthorizationRequestFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/CatalogPrincipal.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: backend, safe to test

#16772 Minor: Fix return type annotation
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
Labels: Ingestion, safe to test

#16756 MINOR: raise lineage error when table does not exist
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/tests/integration/postgres/bad_query_log.csv
  ingestion/tests/integration/postgres/test_postgres.py
Labels: Ingestion, safe to test

#16774 Docs: Add Docs around SSL under OpenMetadataConfig
  openmetadata-docs/content/v1.4.x/sdk/python/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/sdk/python/index.md
Labels: documentation, Ingestion, safe to test

#16780 Add Jwt Claim Mapping Env
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: backend, devops, safe to test

#16781 Add Validation for username and email on logged in user
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
Labels: backend, safe to test

#16766 Display inspection query
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseIncidentTab/TestCaseIncidentTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseIncidentTab/TestCaseIncidentTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManager.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/TestCaseClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/useTestCase.store.ts
Labels: UI, safe to test, e2e:Observability

#16768 MINOR: moved int_admin_ometa to a dedicated module
  ingestion/setup.py
  ingestion/src/_openmetadata_testutils/ometa.py
  ingestion/tests/integration/airflow/test_lineage_runner.py
  ingestion/tests/integration/airflow/test_status_callback.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/integration_base.py
  ingestion/tests/integration/ometa/test_ometa_app_api.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  ingestion/tests/integration/ometa/test_ometa_suggestion_api.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/ometa/test_ometa_user_api.py
  ingestion/tests/integration/profiler/test_nosql_profiler.py
  ingestion/tests/integration/profiler/test_sqa_profiler.py
  ingestion/tests/integration/s3/conftest.py
  ingestion/tests/unit/conftest.py
Labels: Ingestion, safe to test

#16775 MINOR removed __init__ in cli module for namespace path
  ingestion/src/metadata/cli/__init__.py
Labels: Ingestion, safe to test

#16791 Minor: fix version of playwright in CI
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: UI, devops, safe to test

#16790 MINOR: fixed lineage error
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Labels: Ingestion, safe to test

#16797 Docs: Fix Redshift docs formatting
  openmetadata-docs/content/v1.4.x/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/redshift/yaml.md
Labels: documentation, Ingestion, safe to test

#16792 DOCS - Add CLI on external docs
  openmetadata-docs/content/v1.3.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.4.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/ingestion/external/index.md
Labels: documentation, Ingestion, safe to test

#16803 add connector teradata icon
  openmetadata-docs/images/connectors/teradata.webp
Labels: documentation, UI, safe to test

#16738 #16731: fix task feed card not opening in right panel after click
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/sidebar.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBodyV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/activity-feed-actions.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/task-feed-card.less
Labels: UI, safe to test, e2e:DataAssets

#16601 Fix #11888: Apache flink connector
  ingestion/src/metadata/examples/workflows/flink.yaml
  ingestion/src/metadata/ingestion/source/pipeline/flink/client.py
  ingestion/src/metadata/ingestion/source/pipeline/flink/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/flink/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/flink/models.py
  ingestion/tests/unit/topology/pipeline/test_flink.py
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/pipeline/flink/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/pipeline/flink/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.4/connectors/flink/add-new-service.webp
  openmetadata-docs/images/v1.4/connectors/flink/select-new-service.webp
  openmetadata-docs/images/v1.4/connectors/flink/service-connection.webp
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/flink.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/flinkConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Flink.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-flink.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, backend, safe to test, e2e:Integration, e2e:DataAssets

#16426 Fix #14676: Athena S3 Lineage
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
  ingestion/src/metadata/ingestion/source/database/athena/utils.py
  ingestion/src/metadata/ingestion/source/database/external_table_lineage_mixin.py
  ingestion/tests/unit/topology/database/test_athena.py
Labels: Ingestion, safe to test
