Repository open-metadata/OpenMetadata, pull requests merged in 2024-01, with the labels that each got.

#14536 #10203 delete temp creds files
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Labels: Ingestion, safe to test

#14423 pass entity reference in autocomplete widget
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetAsyncSelectList/DataAssetAsyncSelectList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/JsonSchemaWidgets/AsyncSelectWidget.tsx
Labels: UI, safe to test

#14538 fix(ui): pass encoded fqn to fetch table permission
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
Labels: UI, safe to test, e2e

#14542 fix(#14068): show displayName if present in column and search should also show the result considering displayName
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#14537 fix(#14369): added sort option in custom property table
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#14540 #13982: fix user & teams mentions issue
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: UI, safe to test

#14557 #14486 : fix current user appearing while editing task assignees
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Task.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#14339 Minor: Fix migration location for unity catalog
  bootstrap/sql/migrations/native/1.2.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.3/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#14564 Minor: Add images for the newly added connectors to the documentation
  openmetadata-docs/images/connectors/couchbase.png
  openmetadata-docs/images/connectors/default-service-icon.png
  openmetadata-docs/images/connectors/elasticsearch.png
  openmetadata-docs/images/connectors/greenplum.png
  openmetadata-docs/images/connectors/lightdash.png
  openmetadata-docs/images/connectors/sap-hana.png
  openmetadata-docs/images/connectors/spline.png
Labels: documentation, UI, safe to test

#14567 MINOR - Update exception in PipelineServiceClientFactory
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClientFactory.java
Labels: Ingestion, backend, safe to test

#14563 Fix #14176: Add AzureSQL dialect in lineage
  ingestion/src/metadata/ingestion/lineage/models.py
Labels: Ingestion, safe to test

#14561 fix PR #14282 : process/browser support for okta
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: UI, safe to test

#14570 Fixes 14569: Fixed salesforce createtablerequest issue
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
Labels: Ingestion, safe to test

#14566 FIX[#14565]: container and ml models custom property apis are sending wrong payload
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
Labels: UI, safe to test

#14551 fix(#14539): make the input font-color consistent
  openmetadata-ui/src/main/resources/ui/src/styles/components/rjsf.less
Labels: UI, safe to test

#14282 [Snyk] Security upgrade @okta/okta-auth-js from 6.4.0 to 7.5.0
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#14572 MINOR: Fixed dbt run_results timestamp
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#14573 feat(ui): whats new update for 1.2.4
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
Labels: UI, safe to test

#14454 cleanup in getFormattedEntityData method
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/ContainerSummary/ContainerSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DashboardSummary/DashboardSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DataModelSummary/DataModelSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DatabaseSchemaSummary/DatabaseSchemaSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DatabaseSummary/DatabaseSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/MlModelSummary/MlModelSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/PipelineSummary/PipelineSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SearchIndexSummary/SearchIndexSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/ServiceSummary/ServiceSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/StoredProcedureSummary/StoredProcedureSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/EntitySummaryPanelUtils.mock.tsx
Labels: UI, safe to test

#14571 MINOR: fix the sample data value displayed on UI
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/RowData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/RowData.tsx
Labels: UI, safe to test

#14513 Update cypress workflows
  .github/workflows/cypress-integration-tests-mysql-skip.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql-skip.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
Labels: UI, devops, safe to test, e2e

#14546 MINOR - Fix Empty Test Suites list filter
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.test.tsx
Labels: UI, Ingestion, backend, safe to test, e2e

#14579 Docs: Links corrected + Added webinar link
  openmetadata-docs/content/v1.1.x/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.1.x/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/greenplum/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/impala/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/database/vertica/index.md
  openmetadata-docs/content/v1.2.x/connectors/ingestion/lineage/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.2.x/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/v1.2.x/how-to-guides/admin-guide/roles-policies/index.md
Labels: documentation, safe to test

#14543 Minor: Add sample content for the API and SDK pages.
  openmetadata-docs/content/v1.3.x-SNAPSHOT/api/java-sdk.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/api/python-sdk.md
Labels: documentation, UI, safe to test

#14154 #14023 Unable to Zoom on graph view of tasks under airflow dag
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/pipeline-details.style.less
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TaskNode/TaskNode.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TaskNode/TaskNode.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TaskNode/task-node.style.less
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/TasksDAGView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TasksDAGView/tasks-dag-view.style.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
Labels: UI, safe to test

#14583 Update maven plugins and dependencies
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#14502 [Snyk] Upgrade @rjsf/core from 5.4.0 to 5.15.0
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#14587 Docs: Fixing release version for docker deployment
  openmetadata-docs/content/v1.2.x/deployment/docker/index.md
  openmetadata-docs/content/v1.2.x/quick-start/local-docker-deployment.md
Labels: documentation, devops, safe to test

#14586 Minor: Filter Create SP & Declare Queries for MSSQL Lineage
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
Labels: Ingestion, safe to test

#14533 [Snyk] Upgrade @rjsf/validator-ajv8 from 5.4.0 to 5.15.1
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test, e2e

#14541 MINOR - Create Test Case Resolution ts entry & delete resolution when…
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/ingestion/models/tests_data.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/exception/IncidentManagerException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
Labels: Ingestion, backend, safe to test

#14594 docs: Fix documented API Endpoint url for PublicKeys
  openmetadata-docs/content/v1.2.x/deployment/security/auth0/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/azure/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.2.x/deployment/security/custom-oidc/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/google/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/google/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/google/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.2.x/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/one-login/docker.md
  openmetadata-docs/content/v1.2.x/deployment/security/one-login/kubernetes.md
Labels: documentation, devops, safe to test

#14568 fix #7729 Number of passed/failed rows should be captured
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Persona/AddEditPersona/AddEditPersona.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummaryCustomTooltip.test.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#14562 Fix #14421: Airflow - Handle pipeline status when dag killed
  ingestion/src/metadata/workflow/application.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
Labels: Ingestion, safe to test

#14485 docs: Update helm-values documentation for v1.2.4
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/values.md
Labels: documentation

#14547 UI: Search/Filter functionality for execution tasks names
  openmetadata-ui/src/main/resources/ui/src/components/Execution/Execution.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/executionUtils.tsx
Labels: UI, safe to test, e2e

#14596 [docs]: Update release to 1.2.4
  openmetadata-docs/content/v1.2.x/deployment/docker/index.md
  openmetadata-docs/content/v1.2.x/quick-start/local-docker-deployment.md
Labels: documentation, devops, safe to test

#14585 Clean up code issues flagged by IDE
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/CommonMigrationOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ChartIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ClassificationIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseSchemaIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DatabaseServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DomainIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/EntityReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MessagingServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MetadataServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/MlModelServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/PipelineServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/RawCostAnalysisReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ReportDataIndexes.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StorageServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TagIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestSuiteIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/WebAnalyticEntityViewReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/WebAnalyticUserActivityReportDataIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/CatalogPrincipal.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PostResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ThreadResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AsciiTable.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/JsonUtilsTest.java
  pom.xml
Labels: backend, safe to test

#14588 Fixes(docs/features/data-insight): incorrect yaml syntax in documantation
  openmetadata-docs/content/v1.2.x/features/data-insight/index.md
Labels: documentation

#14584 Fix #13053: Remove Connection URI config MongoDB
  ingestion/src/metadata/examples/workflows/mongodb.yaml
  ingestion/src/metadata/ingestion/source/database/mongodb/connection.py
  ingestion/tests/unit/topology/database/test_mongodb.py
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/mongodb/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/mongodb/yaml.md
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v130/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v130/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v130/MigrationUtil.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mongoDB/mongoDBValues.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mongoDBConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/MongoDB.md
Labels: documentation, UI, Ingestion, backend, safe to test

#14595 fix: rendering of more complex pipelines tree view
  openmetadata-ui/src/main/resources/ui/src/components/Execution/TreeView/TreeViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/executionUtils.tsx
Labels: UI, safe to test

#14604 [Snyk] Security upgrade axios from 1.6.3 to 1.6.4
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test

#14592 #14471 - Clean up ingestion status when deleting the ingestion pipeline
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Labels: Ingestion, backend, safe to test

#14605 DB2 connector docs, call out db2 package installation
  openmetadata-docs/content/v1.2.x/connectors/database/db2/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/db2/index.md
Labels: documentation, backend, safe to test

#14597 Added localization file nl-nl
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, safe to test

#14559 #11890: Add GCS Json schema changes
  ingestion/src/metadata/utils/storage_metadata_config.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/GcpConnectionClassConverter.java
  openmetadata-service/src/main/resources/json/data/testConnections/storage/gcs.json
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/converter/ClassConverterFactoryTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/storage/gcsConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/storageMetadataADLSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/storageMetadataGCSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storageServiceMetadataPipeline.json
Labels: Ingestion, backend, safe to test

#14607 Minor: Revert JWT Filter changes to extract username
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
Labels: backend, safe to test

#14613 Minor: Fix IBM DB2 Dependency Installation Issue
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Labels: Ingestion, safe to test

#14548 Fixes 14109 and 14325: Optimised Tableau Connector
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/tableau.json
Labels: Ingestion, backend, safe to test

#14600 MINOR - Move test case incident to the top of the data_quality_data_time_series
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
  ingestion/src/metadata/utils/logger.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
Labels: Ingestion, backend, safe to test

#14614 MINOR: Added alation connector docs
  openmetadata-docs/content/v1.2.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.2.x/connectors/metadata/alation/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/metadata/index.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/metadata/alation/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/metadata/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/menu.md
Labels: documentation, Ingestion, safe to test

#14608 [Snyk] Upgrade codemirror from 5.62.3 to 5.65.16
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, backend, safe to test, e2e

#14615 exclude logback
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#14618 MINOR - Bump CI labeller version
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-tests.yml
  .github/workflows/yarn-coverage.yml
Labels: Ingestion, devops, safe to test

#14617 Fix[#14242]: displaying artifacts when using codeBlock in the description of objects
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/CustomHtmlRederer/CustomHtmlRederer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.tsx
Labels: UI, safe to test

#14619 Minor: fix validator type error for ingestion workflow form
  openmetadata-ui/src/main/resources/ui/src/components/IngestionWorkflowForm/IngestionWorkflowForm.tsx
Labels: UI, safe to test

#14620 Minor: add hash for filename and chunkFilename in webpack prod config
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: UI, safe to test

#14201 MINOR - Hide AutoTagger, add MetaPilot search, and fix apps status calls
  ingestion/src/metadata/workflow/application.py
  ingestion/src/metadata/workflow/workflow_output_handler.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/AutoTaggerApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metaPilotAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/application.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/AutoTaggerApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/MetaPilotApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: UI, Ingestion, backend, safe to test

#14612 Fix #12854: Executable TestSuite should inherit the ownership from it's table
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: backend, safe to test

#14576 Minor Fix Knowledge
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#14623 #14492 - Fix Snowflake SP parsing with empty signature
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/models.py
  ingestion/tests/unit/topology/database/test_snowflake.py
Labels: Ingestion, safe to test

#14611 Fix #14610: includeEmptyTestSuite behavior causing not include newly created test suites
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/TestCaseFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
Labels: backend, safe to test

#14634 [Fix] Syntax for Activity Feed Alert
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
Labels: backend, safe to test

#14631 Minor: Fix Mysql E2E Count
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#14629 Fix #11700: While doing recursive delete, check if a previous iteration already deleted the children
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
Labels: backend, safe to test

#14632 MINOR: Fixed auth header in REST client
  ingestion/src/metadata/ingestion/ometa/client.py
Labels: Ingestion, safe to test

#14626 Fix #14362: Spark Pipeline Connector & Docs
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/ingestion/lineage/spark-lineage.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.3/connectors/spark/spark-pipeline-details.png
  openmetadata-docs/images/v1.3/connectors/spark/spark-pipeline-lineage.png
  openmetadata-docs/images/v1.3/connectors/spark/spark-pipeline-service.png
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/sparkConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/type/entityLineage.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-spark.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, backend, safe to test

#14636 Minor: invoke analytics instance only when it's available
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
Labels: UI, safe to test

#14643 Reuse GH secrets
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, devops, safe to test

#14646 fix(CI): Cypress CI to use different Record Key for Schedule runs
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#14654 [DOCS] Update Troublesbooting docs for SSL to new env and keys
  openmetadata-docs/content/v1.0.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.0.x/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/v1.1.x/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/v1.1.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.2.x/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/v1.2.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/security/okta/bare-metal.md
Labels: documentation, backend, safe to test

#14633 Add docs on where to get the API token
  openmetadata-docs/content/v1.2.x/sdk/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/sdk/index.md
  openmetadata-docs/images/apis/bots/bots-token.png
  openmetadata-docs/images/apis/bots/bots.png
  openmetadata-docs/images/apis/users/user-profile-access-token.png
  openmetadata-docs/images/apis/users/user-profile-page.png
Labels: documentation, backend, safe to test

#14635 Minor: Fix customizable landing page cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/CustomizeLandingPage.spec.js
Labels: UI, safe to test, e2e

#14662 Modify Redshift Database env
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, devops, safe to test

#14651 Minor: add base class for entity utils
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeaderV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/SourceList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/RecentlyViewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TableDataCardV2/TableDataCardV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test

#14665 [FEAT] Change for Building Collate List Filter
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
Labels: backend, safe to test

#14668 Minor: update `hash` to `fullhash` for filename and chunkFilename in webpack prod config
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: UI, safe to test

#14664 Minor: Snowflake - Add Support For Materialised Views
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
Labels: Ingestion, safe to test

#14667 Minor: Fix Databricks Pipeline Test Connection Fix
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/connection.py
Labels: Ingestion, safe to test

#14670 MINOR: fix table redirect link from databaseSchema tables
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
Labels: UI, safe to test

#14642 Minor: Fix postgres version on docs
  openmetadata-docs/content/v1.2.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/bare-metal/index.md
Labels: documentation, Ingestion, safe to test

#14669 MINOR: Removed patch mixin warnings
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
Labels: Ingestion, safe to test

#14675 Docs: Minor change - Glossary Import Video added
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/import.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/security/enable-ssl/ssl-troubleshooting.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-governance/glossary/import.md
Labels: documentation, safe to test

#14659 skip(test): cypress tests which are failing
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/TaskUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Entity.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/lineage.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Alerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/Airflow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SearchBarComponent/SearchBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hoc/withLoader.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Users.util.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#14679 chore(ui): Update CRON of Nightly runs of Cypress CI
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#14680 Fix #11556: Add support for Db2 for IBM i
  ingestion/setup.py
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/db2/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/db2Connection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Db2.md
Labels: documentation, UI, Ingestion, backend, safe to test

#14682 [Improvement] Increase maximum password length , fixes #12584
  openmetadata-service/src/main/java/org/openmetadata/service/util/PasswordUtil.java
Labels: backend, safe to test

#14685 Fix #13894: Ingest only open search indexes ES
  ingestion/src/metadata/ingestion/source/search/elasticsearch/connection.py
  ingestion/src/metadata/ingestion/source/search/elasticsearch/metadata.py
Labels: Ingestion, safe to test

#14684 fix(cypress): fix restore, advance search & data insight
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Entity.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
Labels: UI, safe to test, e2e

#14690 Minor: Add glossary index to SearchIndexFactory
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/GlossaryIndex.java
Labels: backend, safe to test

#14686 chore(ci): Update CRON for Cypress CI
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#14688 Fix #14653: Fix Unity Catalog no children struct issue
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/tests/unit/resources/expected_output_column_parser.json
  ingestion/tests/unit/test_column_type_parser.py
Labels: Ingestion, safe to test

#14691 MINOR - Test Case Ownership, keep severity, add test case result incidentId
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
Labels: backend, safe to test

#14699 chore(ci): Remove `paths-ignore` block from `pull_request_target`
  .github/workflows/cypress-integration-tests-postgresql.yml
Labels: devops, safe to test

#14580 fix: activity feed card header alignment
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeaderV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/feed-card-header-v1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/announcements-widget.less
Labels: UI, safe to test, e2e

#14693 Fix #14578: Fixed mode test connection
  ingestion/src/metadata/ingestion/source/dashboard/mode/client.py
  ingestion/src/metadata/ingestion/source/dashboard/mode/connection.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/mode.json
Labels: Ingestion, backend, safe to test

#14703 Docs: Change Glossary Video Link
  openmetadata-docs/content/v1.2.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.2.x/how-to-guides/data-governance/glossary/import.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/how-to-guides/data-governance/glossary/import.md
Labels: documentation, safe to test

#14702 add cypress for lineage
  openmetadata-ui/src/main/resources/ui/cypress/constants/lineage.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AppPipelineModel/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/LineageProvider/LineageProvider.tsx
Labels: UI, safe to test, e2e

#14698 Minor: Fix Postgres Cypress Failure
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
Labels: UI, Ingestion, safe to test, e2e

#14696 Minor: Fix Superset API Test Connection
  ingestion/src/metadata/ingestion/source/dashboard/superset/client.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/connection.py
Labels: Ingestion, safe to test

#14707 Minor: Docs Added feature table to pipelines & messaging connectors
  openmetadata-docs/content/v1.2.x/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.2.x/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/messaging/kinesis/index.md
  openmetadata-docs/content/v1.2.x/connectors/messaging/kinesis/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/messaging/redpanda/index.md
  openmetadata-docs/content/v1.2.x/connectors/messaging/redpanda/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/ml-model/mlflow/index.md
  openmetadata-docs/content/v1.2.x/connectors/ml-model/mlflow/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/ml-model/sagemaker/index.md
  openmetadata-docs/content/v1.2.x/connectors/ml-model/sagemaker/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/airbyte/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/airflow/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/dagster/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/databricks-pipeline/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/domo-pipeline/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/fivetran/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/fivetran/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/nifi/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/nifi/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/spline/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/spline/yaml.md
  openmetadata-docs/content/v1.2.x/connectors/search/elasticsearch/index.md
  openmetadata-docs/content/v1.2.x/connectors/search/elasticsearch/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/messaging/kafka/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/messaging/kinesis/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/messaging/kinesis/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/messaging/redpanda/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/messaging/redpanda/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/airbyte/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/airflow/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/dagster/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/databricks-pipeline/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/domo-pipeline/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/fivetran/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/fivetran/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/nifi/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/nifi/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/spline/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/spline/yaml.md
Labels: documentation, Ingestion, safe to test

#14656 Add Database and Schema on Explore Menu
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-data-product.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-schema.svg
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExplorePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchedData/SearchedData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/Explore/ExploreLeftPanelSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Explore.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, e2e

#14624 Add & Organise Cypress User spec
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/UserClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Users.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/service.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/cypress/support/index.ts
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test, e2e

#14714 Fixes 13343: Fix Superset table name issue
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
Labels: Ingestion, safe to test

#14641 #14630 added oracle stored procedures
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/models.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/tests/unit/topology/database/test_oracle.py
Labels: Ingestion, safe to test

#14710 Minor: Docs - Backup & Restore Troubleshooting steps
  openmetadata-docs/content/v1.2.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/backup-restore-metadata.md
Labels: documentation, Ingestion, safe to test

#14711 fixed: #11799 owner support for pipeline tasks list
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
Labels: UI, safe to test, e2e

#14621 Fix(#14560): fix breadcrumb not getting updating properly when clicking on any breadcrumb link in container page
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/BreadCrumb/TitleBreadcrumbSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer-skeleton.component.tsx
Labels: UI, safe to test, e2e

#14721 test(ui): unit tests for pipeline details
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
Labels: UI, safe to test

#14718 Fix 12180, 14158: Added LF tags to Athena
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/ingestion/models/lf_tags_model.py
  ingestion/src/metadata/ingestion/source/database/athena/client.py
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/tests/unit/topology/database/test_databricks.py
  ingestion/tests/unit/topology/database/test_mssql.py
  openmetadata-docs/content/v1.2.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/athena/yaml.md
Labels: documentation, Ingestion, safe to test

#14722 fix: metapilot fqn issue
  openmetadata-ui/src/main/resources/ui/src/components/JsonSchemaWidgets/AsyncSelectWidget.tsx
Labels: UI, safe to test

#14723 cypress: fix glossary cypress
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebarItem.component.tsx
Labels: UI, safe to test, e2e

#14649 test(e2e): organise ingestion tests
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/StoredProcedureClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/AirflowIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/BigQueryIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/KafkaIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/MetabaseIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/MlFlowIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/MysqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/S3IngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/SnowflakeIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/SupersetIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Entity.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Glossary.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Services.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/serviceUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/Following.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/Airflow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/MlFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/S3Storage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/ServiceIngestion.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, safe to test, e2e

#14732 Minor: update `ENTITY_TYPE` and `ENTITY_FIELD` in EntityLink.g4
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
Labels: UI, backend, safe to test

#14716 MINOR: add recordChange call for `computePassedFailedRowCount`
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, profiler, safe to test

#14738 MINOR: Fixed oracle py tests
  ingestion/tests/unit/topology/database/test_oracle.py
Labels: Ingestion, safe to test

#14737 MINOR - Add Pablo to CI teams
  .github/teams.yml
Labels: Ingestion, devops, safe to test

#14745 Minor: Add Column Support in Protobuf Parser
  ingestion/src/metadata/parsers/protobuf_parser.py
  ingestion/tests/unit/test_protobuf_parser.py
Labels: Ingestion, safe to test

#14739 #9269 - Add MSSQL Stored Procedure Support
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/models.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/storedProcedure.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
Labels: Ingestion, backend, safe to test

#14746 Minor: Docs - MSSQL Usage & Lineage Requirements
  openmetadata-docs/content/v1.2.x/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/mssql/yaml.md
Labels: documentation, Ingestion, safe to test

#14735 MINOR: Update Incident Manager Flow
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityTimeSeriesResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#14748 #14727 change all all_ query to dba_ query
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/oracle/yaml.md
Labels: documentation, Ingestion, safe to test

#14751 MINOR - Run ingestion externally docs
  openmetadata-docs/content/v1.2.x/deployment/ingestion/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/ingestion/index.md
Labels: documentation, Ingestion, safe to test

#14753 [Fix] Expression Parsing and Failure in AbstractConsumer
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumer.java
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
Labels: UI, backend, safe to test

#14750 Minor: Postgres cypress move to query log file usage
  ingestion/examples/sample_data/usage/query_log.csv
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
Labels: UI, Ingestion, safe to test, e2e

#14757 MINOR: remove typing-extension dependency
  ingestion/setup.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
Labels: Ingestion, safe to test

#14755 MINOR: clear incident ID when testCase result is success
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, data quality, safe to test

#14758 #14544 fix null prop. when entire col is null
  ingestion/src/metadata/profiler/metrics/composed/null_ratio.py
Labels: Ingestion, safe to test

#14731 [Fix] #14427 Data Insights Report Fixes
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightTotalAssetTemplate.java
  openmetadata-service/src/main/resources/json/data/app/DataInsightsReportApplication.json
Labels: backend, safe to test

#14759 [Fix] Remove info log and using JsonUtils to convert the Ingestion Pipeline
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/email/EmailPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
Labels: backend, safe to test

#14725 fix(cypress): main failures
  openmetadata-ui/src/main/resources/ui/cypress/common/CustomizeLandingPageUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Version.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/LogoutUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Services.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
Labels: UI, safe to test, e2e

#14752 MINOR: Add Static Sample Data, Modify Lineage
  ingestion/examples/airflow/dags/airflow_extended_sample_data.py
  ingestion/examples/extended_sample_data/datasets/upstream_edge_tables.json
  ingestion/pipelines/extended_sample_data.yaml
  ingestion/src/metadata/ingestion/source/database/extended_sample_data.py
  ingestion/tests/unit/resources/expected_output_column_parser.json
  ingestion/tests/unit/test_column_type_parser.py
Labels: Ingestion, safe to test

#14761 MINOR: sidebar ui fix
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
Labels: UI, safe to test

#14767 Dependency updates
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#14762 Add Is Null and Not Null filters for Owners and other fields
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
Labels: UI, safe to test, e2e

#14768 MINOR: Fix Env
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, devops, safe to test

#14747 Fix #14038: Inconsistent search results between auto-suggest box and …
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Explore.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Explore.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Explore.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, backend, safe to test

#14754 MINOR - Update Developers documentation to make it easier to follow
  openmetadata-docs/content/v1.2.x/developers/contribute/build-code-and-run-tests/openmetadata-server.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Labels: documentation, Ingestion, safe to test

#14760 Minor: fix incident filtering logic
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
Labels: Ingestion, backend, data quality, safe to test

#14622 MINOR: Added Support for Bigquery and Redshift lifeCycle data
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/ingestion/source/database/bigquery/query_parser.py
  ingestion/src/metadata/ingestion/source/database/bigquery/usage.py
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/query_parser.py
  ingestion/src/metadata/ingestion/source/database/redshift/usage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/query_parser.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/utils/life_cycle_utils.py
Labels: Ingestion, safe to test

#14756 MINOR - Add notes on external ingestion docs
  openmetadata-docs/content/partials/v1.2/deployment/external-ingestion.md
  openmetadata-docs/content/partials/v1.3/deployment/external-ingestion.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/airflow/gcs-composer.md
  openmetadata-docs/content/v1.2.x/deployment/ingestion/airflow.md
  openmetadata-docs/content/v1.2.x/deployment/ingestion/gcs-composer.md
  openmetadata-docs/content/v1.2.x/deployment/ingestion/github-actions.md
  openmetadata-docs/content/v1.2.x/deployment/ingestion/index.md
  openmetadata-docs/content/v1.2.x/deployment/ingestion/mwaa.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/connectors/pipeline/airflow/gcs-composer.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/ingestion/airflow.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/ingestion/gcs-composer.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/ingestion/github-actions.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/ingestion/index.md
  openmetadata-docs/content/v1.3.x-SNAPSHOT/deployment/ingestion/mwaa.md
Labels: documentation, Ingestion, safe to test

#14673 Feat: Incident manager part 2
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Entity.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/serviceUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseIncidentTab/TestCaseIncidentTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseIncidentTab/TestCaseIncidentTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseIncidentTab/test-case-incident-tab.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummaryCustomTooltip.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/SingleColumnProfile.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTabIncidentManagerHeader/TaskTabIncidentManagerHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/TestSuite.constant.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerProvider/IncidentManagerProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/step.less
Labels: UI, safe to test, e2e

#14717 Fixes 10709: Add useFqnForFiltering to profiler workflow
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/profiler/source/metadata_ext.py
  ingestion/tests/unit/profiler/test_workflow.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
Labels: Ingestion, backend, safe to test

#14775 MINOR - Add Maven Collate Tests CI
  .github/workflows/maven-build-collate.yml
Labels: Ingestion, devops, safe to test

#14779 MINOR - Fix Collate CI action
  .github/workflows/maven-build-collate.yml
Labels: Ingestion, devops, safe to test

#14771 MINOR: added fall back to table metric computation
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_construct.py
Labels: Ingestion, profiler, safe to test

#14774 MINOR: Fixed Athena e2e counts and change to e2e_db
  ingestion/src/metadata/ingestion/source/database/athena/client.py
  ingestion/tests/cli_e2e/test_cli_athena.py
Labels: Ingestion, safe to test

#14788 fix(CI): Enable Security Scan Reports for ingestion base slim docker image
  Makefile
Labels: devops, safe to test

#14790 fix: Security Scan CI + Makefiles
  Makefile
  ingestion/operators/docker/Dockerfile.ci
Labels: Ingestion, devops, safe to test

#14749 Feat #10757: Data observability UI changes
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertsDetails/AlertDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/DestinationFormItem/DestinationFormItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormActionItem/ObservabilityFormActionItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormActionItem/ObservabilityFormActionItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormFiltersItem/ObservabilityFormFiltersItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormFiltersItem/ObservabilityFormFiltersItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormTriggerItem/ObservabilityFormTriggerItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormTriggerItem/ObservabilityFormTriggerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormTriggerItem/observability-form-trigger-item.less
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/add-observability-page.less
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDataInsightReportPage/AlertDataInsightReportPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDataInsightReportPage/AlertDataInsightReportPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ObservabilityPage/ObservabilityPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ObservabilityPage/ObservabilityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/observabilityAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Labels: UI, safe to test
