Repository open-metadata/OpenMetadata, pull requests merged in 2024-08, with the labels that each got.

#17102 Update Chinese Locale
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#17245 Minor: implemented multi pipeline ui feedback
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTest.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/AddTestSuitePipeline.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/AddTestSuitePipeline.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
Labels: UI, safe to test, e2e, e2e:Integration, e2e:Observability, e2e:DataAssets

#17240 MINOR: [SAP ERP Connector] Added column dtype displaynames and precision/scale values
  ingestion/src/metadata/examples/workflows/saperp.yaml
  ingestion/src/metadata/ingestion/source/database/saperp/client.py
  ingestion/src/metadata/ingestion/source/database/saperp/metadata.py
  ingestion/src/metadata/ingestion/source/database/saperp/models.py
  ingestion/tests/unit/topology/database/test_saperp.py
Labels: Ingestion, safe to test

#17246 MINOR: Fix DataInsightsReport App filter
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datainsight/system/DataInsightSystemChartResource.java
Labels: Ingestion, backend, safe to test

#17248 MINOR - Migration - Automator multiple ownership
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v150/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v150/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
Labels: Ingestion, backend, safe to test

#17239 Fix #16434: SQL server date format issue
  ingestion/src/metadata/ingestion/source/database/mssql/constants.py
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
  ingestion/tests/integration/sql_server/test_lineage.py
Labels: Ingestion, safe to test

#17254 Fetch templates for collate and oss.
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/resources/json/data/document/docs/activityFeed.json
  openmetadata-service/src/main/resources/json/data/document/docs/dataAsset.json
  openmetadata-service/src/main/resources/json/data/document/docs/following.json
  openmetadata-service/src/main/resources/json/data/document/docs/kpi.json
  openmetadata-service/src/main/resources/json/data/document/docs/myData.json
  openmetadata-service/src/main/resources/json/data/document/docs/recentlyViewed.json
  openmetadata-service/src/main/resources/json/data/document/docs/totalAssets.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/account-activity-change.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/changeEvent.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/dataInsightReport.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/email-verification.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/invite-createPassword.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/invite-randompwd.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/reset-link.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/taskAssignment.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/testMail.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/testResultStatus.json
  openmetadata-spec/src/main/resources/json/schema/email/smtpSettings.json
Labels: backend, safe to test

#17260 Minor: Fix DBT e2e tests
  ingestion/tests/cli_e2e/base/test_cli_dbt.py
Labels: Ingestion, safe to test

#17257 MINOR: increase the feed size for the landing page feed widget
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/feedsAPI.ts
Labels: UI, safe to test

#17250 Doc: Adding GCS Connector to OM in v.1.5
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/ingestion/workflows/metadata/filter-patterns/database.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/storage/gcs/index.md
Labels: documentation, safe to test

#17264 MINOR: Fix lineage PATCH API
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: Ingestion, backend, safe to test

#17262 MINOR: Data insights app migration
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v150/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v150/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
Labels: Ingestion, backend, safe to test

#17263 Bump braces to 3.0.3 in /openmetadata-ui/src/main/resources/ui
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, e2e

#17270 MINOR - remove owner and service field from ingestion pipeline
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#17236 test(e2e): Data insight page tests
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataInsight.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataInsight.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DataInsightChartCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#17272 Minor : fix populateOwners method to patch all fields of owners
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test, e2e

#17267 GEN-869 - Profiler Struct Column System Error
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/profiler/orm/converter/base.py
  openmetadata-service/src/main/java/org/openmetadata/service/util/FullyQualifiedName.java
Labels: Ingestion, backend, profiler, safe to test

#17266 MINOR: Fixed tableau multi owner and e2e counts
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/cli_e2e/test_cli_tableau.py
Labels: Ingestion, safe to test

#17247 [GEN-1069] - Fix dbt issues in ingestion
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test

#17280 MINOR: Update data insights migration to make the flow easier
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
Labels: Ingestion, backend, safe to test

#17265 Fix mysql e2e test
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#17283 MINOR: Improve DI error log
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
Labels: Ingestion, backend, safe to test

#17268 ISSUE : fix teams page breaking issue
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test, e2e:Settings

#17285 Minor: Fix Policy rule migration due to owner -> owners
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v150/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
Labels: backend, safe to test

#17261 Minor: fixed failing query entity cypress
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Query/QueryUtils.ts
Labels: UI, safe to test, e2e

#17290 Minor: Remove 'owner' field from JSON in various entities
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#17113 [Issue-17093] Add SAML refresh token in Refresh
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlAssertionConsumerServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlTokenRefreshServlet.java
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/auth-API.ts
Labels: backend, safe to test

#17296 FIX - Ingestion Airflow Image constraints
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/Makefile
  ingestion/constraints.txt
  openmetadata-airflow-apis/constraints.txt
  openmetadata-airflow-apis/pyproject.toml
Labels: Ingestion, safe to test

#17286 Slack App Integration.
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-spec/src/main/resources/json/schema/configuration/slackAppConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Labels: backend, safe to test

#17293 Minor: fixed AUT test of main
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/CustomMetric.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/login.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/login.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddCustomMetricPage/AddCustomMetricPage.tsx
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#17297 Doc: Updated Release Docs to v.1.4.6
  openmetadata-docs/content/partials/v1.4/releases/latest.md
  openmetadata-docs/content/v1.4.x/deployment/docker/index.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.4.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.4.x/releases/releases/index.md
Labels: documentation, safe to test

#17292 MINOR: Data insights provide better exceptions
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/CostAnalysisWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/WebAnalyticsWorkflow.java
Labels: Ingestion, backend, safe to test

#17299 Doc: Updated SMTP Configuration Path in Docs
  openmetadata-docs/content/v1.4.x/how-to-guides/admin-guide/alerts.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/admin-guide/alerts.md
Labels: documentation, safe to test

#17294 MINOR - Clean Automator owner migration
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
Labels: Ingestion, backend, safe to test

#17291 minor: update beta services list
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: UI, safe to test

#17302 fix(ui): msal authentictor to share UserProfile object on login success
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
Labels: UI, safe to test, e2e

#17311 Add Fqn Migration to lowercase
  bootstrap/sql/migrations/native/1.4.7/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.7/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.7/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.7/postgres/schemaChanges.sql
Labels: backend, safe to test

#17312 feat(ui): whats new content for 1.4.7
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#17315 MINOR: Provide better errors on DataInsights Pipeline
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/WorkflowStats.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/CostAnalysisWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/processors/AggregatedCostAnalysisReportDataAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/processors/AggregatedCostAnalysisReportDataProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/processors/DatabaseServiceTablesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/processors/RawCostAnalysisReportDataProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/WebAnalyticsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/processors/WebAnalyticsEntityViewProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/processors/WebAnalyticsUserActivityAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/processors/WebAnalyticsUserActivityProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/sources/PaginatedWebAnalyticEventDataSource.java
Labels: Ingestion, backend, safe to test

#17306 Minor: fixed graph calculation issue for y axis
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Labels: UI, safe to test, e2e

#17288 MINOR: Fix DI most view data assets aggregation
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
Labels: Ingestion, backend, safe to test

#17284 Fixes 16010: Support Looker ingestion from Gitlab
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/utils.py
  ingestion/src/metadata/readers/file/api_reader.py
  ingestion/src/metadata/readers/file/gitlab.py
  ingestion/tests/unit/readers/test_credentials.py
  ingestion/tests/unit/topology/dashboard/test_lookml_gitlab_reader.py
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/LookerConnectionClassConverter.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/lookerConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gitlabCredentials.json
Labels: documentation, Ingestion, backend, safe to test

#17298 Doc: Updated Database SSL Service Connection Docs
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Hive.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Impala.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Salesforce.md
Labels: UI, safe to test

#17269 Doc: Updating Database Connector Docs for SSL
  openmetadata-docs/content/v1.4.x/connectors/database/doris/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/doris/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/greenplum/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/hive/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/hive/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/iceberg/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/impala/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/salesforce/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/doris/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/doris/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/greenplum/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/hive/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/hive/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/iceberg/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/impala/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/salesforce/yaml.md
  openmetadata-docs/images/v1.4/connectors/restcatalog_ssl.png
  openmetadata-docs/images/v1.4/connectors/ssl_Impala.png
  openmetadata-docs/images/v1.4/connectors/ssl_argument.png
  openmetadata-docs/images/v1.4/connectors/ssl_connection.png
  openmetadata-docs/images/v1.5/connectors/restcatalog_ssl.png
  openmetadata-docs/images/v1.5/connectors/ssl_Impala.png
  openmetadata-docs/images/v1.5/connectors/ssl_argument.png
  openmetadata-docs/images/v1.5/connectors/ssl_connection.png
Labels: documentation, safe to test

#17252 Doc: Adding LightDash Service Connection Docs
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Lightdash.md
Labels: UI, safe to test

#17277 Explore tree improvements
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/topic_index_mapping.json
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/owner-label.less
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizableLeftPanels.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizableLeftPanels.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/resizable-panels.less
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
Labels: backend, safe to test, e2e

#17273 MINOR: remove chart from explore tree and ingestionPipeline from quick filter
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/AdvancedSearchUtils.mock.ts
Labels: UI, safe to test, e2e, e2e:DataAssets

#17310 MINOR: DI Improve system charts
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDynamicChartAggregatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchDynamicChartAggregatorTest.java
  openmetadata-spec/src/main/resources/json/schema/dataInsight/custom/lineChart.json
Labels: Ingestion, backend, safe to test

#17313 TEST : fix DataInsightSetting cypress and glossary rename playwright issue
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Labels: UI, safe to test, e2e, e2e:Governance, e2e:Observability, e2e:Settings

#17324 MINOR: Iterate on data insights failure handling
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchIndexSink.java
Labels: Ingestion, backend, safe to test

#17326 [Azure] Check Expiry on Callback for fetched Tokens
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
Labels: backend, safe to test

#17314 Domain restriction for non domain entities
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useDomainStore.ts
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APIEndpointPage/APIEndpointPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForbiddenPage/ForbiddenPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#17322 MINOR: handle "ignored exception" error message when running table diff
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
Labels: Ingestion, backend, safe to test

#17330 MINOR: Add a check to see if file_client is present
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#17325 Minor: fixed ui feedback for data quality
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
Labels: UI, safe to test

#16690 playwright: migrate custom metric spec
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/CustomMetric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomMetric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customMetric.ts
Labels: UI, safe to test, e2e:Observability

#17332 MINOR: Remove sampleData and changeDescription from Data Insights documents
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
Labels: Ingestion, backend, safe to test

#17336 Minor: Update the metadata service ingestion form configuration fields
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
Labels: UI, safe to test, e2e, e2e:Integration

#17328 test: add playwright test for tour and api docs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiDocs.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
Labels: UI, safe to test

#17338 CYPRESS: fix AUT cypress failure for user,persona and customizeLanding
  openmetadata-ui/src/main/resources/ui/cypress/common/CustomizeLandingPageUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/UserClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/AddWidgetModal/AddWidgetModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/AddWidgetModal/AddWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/DocStoreAPI.ts
Labels: UI, safe to test, e2e, e2e:Settings

#17346 Minor: bulk import supporting file
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
Labels: UI, safe to test, e2e:DataAssets

#17300 Minor: inherit owner/domain for apiEndpoints
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIEndpointIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
Labels: backend, safe to test

#17347 MINOR: superset port example
  openmetadata-docs/content/v1.3.x/connectors/dashboard/superset/yaml.md
  openmetadata-docs/content/v1.4.x/connectors/dashboard/superset/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/dashboard/superset/yaml.md
Labels: documentation, Ingestion, safe to test

#17350 MINOR: Update Data Insights Pipeline to change CustomProperty key based on entityType
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/DataInsightsSearchInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/elasticsearch/ElasticSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/opensearch/OpenSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/resources/json/data/app/DataInsightsApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataInsightsApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/dataInsightsAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/DataInsightsApplication.json
Labels: UI, Ingestion, backend, safe to test, e2e:Observability

#17309 Fix #16039: Fixed sourceHash patch for DatabaseSchema entity
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
Labels: Ingestion, backend, safe to test

#17351 Minor: Fix Postgres missing policy rule migrations for EditOwners
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v150/Migration.java
Labels: backend, safe to test

#17303 MINOR: add add supported connector list for table diff docs
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-quality-profiler/tests-yaml.md
Labels: documentation, Ingestion, safe to test

#17289 MINOR - Add spec label on PRs for easy tracking
  .github/labeler.yml
Labels: Ingestion, devops, safe to test

#17356 MINOR: Fix permission for getPipelineStatus
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Labels: Ingestion, backend, safe to test

#17364 Fix Migrations
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/testConnectionDefinition.json
Labels: backend, safe to test, spec

#17362 MINOR: Fix Databricks TableQuery timestamps to str
  ingestion/src/metadata/ingestion/source/database/databricks/lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks/usage.py
Labels: Ingestion, safe to test

#17256 Minor: Ingestion list table improvements
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/pipeline-actions.less
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionListTableUtils.tsx
Labels: UI, safe to test, e2e, e2e:Integration, e2e:DataAssets, e2e:Settings

#17344 minor: add encoding and decoding for policy rule name
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Policies.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/form.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useFqn.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useFqn.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/EditRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#17370 Minor: Validate apiEndpoint response schema fields
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: backend, safe to test

#17282 Fix #16573: get table owners for databaricks & unitycatalog tables
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/client.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
Labels: Ingestion, safe to test

#17354 Fixes #17331: Incorrect type hint
  ingestion/src/metadata/ingestion/source/database/database_service.py
Labels: Ingestion, safe to test

#17369 Doc: Adding Note for JWT_PRINCIPAL_CLAIMS Order
  openmetadata-docs/content/v1.4.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.4.x/deployment/security/azure/docker.md
  openmetadata-docs/content/v1.4.x/deployment/security/azure/index.md
  openmetadata-docs/content/v1.4.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.4.x/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.4.x/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.4.x/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/azure/docker.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/azure/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/keycloak/kubernetes.md
Labels: documentation, safe to test

#17368 Doc: Updating Broken K8 FAQ Links
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/on-prem.md
Labels: documentation, safe to test

#17374 Minor: fixed params calculation for aborted test
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Labels: UI, safe to test, e2e

#17337 MINOR: Data insight feedbacks
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchSummaryCardAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchSummaryCardAggregator.java
  openmetadata-service/src/main/resources/dataInsights/elasticsearch/indexMappingsTemplate.json
  openmetadata-service/src/main/resources/dataInsights/opensearch/indexMappingsTemplate.json
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DataInsightChartCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DataInsightProgressBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: Ingestion, backend, safe to test

#17334 minor: add column level lineage support for api endpoint
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test, e2e:DataAssets

#17274 Updated oracle to use DBA_ tables
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  openmetadata-docs/content/v1.4.x/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/oracle/yaml.md
  openmetadata-service/src/main/resources/json/data/testConnections/database/oracle.json
Labels: Ingestion, backend, safe to test

#17376 MINOR: Fixed dbt cloud connector
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/metadata.py
Labels: Ingestion, safe to test

#17363 support nested subdomains
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/domain.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#17343 databricks foreign table issue: skip table metadata for foreign tables
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
Labels: Ingestion, safe to test

#17359 MINOR - LKML sample data
  ingestion/examples/sample_data/looker/dashboardDataModels.json
Labels: Ingestion, safe to test

#17329 MINOR: fix the widget placement when adding new one
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/persona/PersonaClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/AddWidgetModal/AddWidgetTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/CustomizablePage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePageClassBase.ts
Labels: UI, safe to test

#17373 Fix #17372: Add Connection Pooling config to database
  conf/openmetadata.yaml
Labels: backend, safe to test

#17358 CYPRESS: fix aut cypress test for user and dataInsight spec
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/UserClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
Labels: UI, safe to test, e2e, e2e:Observability, e2e:Settings

#17381 minor(ui): support onUpdate for domain to skip default save behavior
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabel.interface.ts
Labels: UI, safe to test, e2e:Governance

#17117 Support Elasticsearch cluster alias for E2E tests 
  conf/openmetadata.yaml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/run_local_docker.sh
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/ReportDataResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, backend, devops, safe to test, Backward-Incompatible-Change, e2e

#17154 Fix #16958: column parser data type fix
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#17383 Fix #17118: Elasticsearch HTTP Method Error in update_by_query; Fix: patch tags for request/response schema in ApiEndpoint
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
Labels: backend, safe to test

#17384 test: fix tour playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
Labels: UI, safe to test

#17386 Fix Tag updation message and update lineage edges opacity
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test, e2e:Governance

#17385 Minor: Fixed AUT test for DQ and testSuiteMultiPipeline
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
Labels: UI, safe to test, e2e

#17387 MINOR: Remove team column in team details page
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Users.util.tsx
Labels: UI, safe to test, e2e, e2e:Settings

#17378 Fixes #17377: HIERARCHYID & GEOGRAPHY pyodbc error
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/profiler/processor/sampler/sampler_factory.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/azuresql/sampler.py
Labels: Ingestion, safe to test

#17366 Increase Payload Size to 100MIB for ELastic Search
  conf/openmetadata.yaml
  docker/development/docker-compose-gcp.yml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
Labels: backend, devops, safe to test

#17389 MINOR: Data Insight Custom Dashboard Docs
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-insights/airflow-sdk.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-insights/custom-dashboard.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-insights/elasticsearch-reindex.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-insights/metadata-cli.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/add-dashboard.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/create-chart-form-1.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/create-chart-form-2.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/create-chart-form-preview.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/create-chart-preview-formula.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/create-chart.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/create-custom-dashboard-form.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/formula-breakdown.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/navigate-to-insights.png
  openmetadata-docs/images/v1.5/features/data-insight/custom-dashboard/save-and-rearrange-chart.png
Labels: documentation, Ingestion, safe to test

#17388 MINOR: ui improvement
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/EmailConfig.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EmailConfigSettingsPage/EmailConfigSettingsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Labels: UI, safe to test, e2e, e2e:Governance

#17391 Change Default Value of Batch Size and Payload Size
  conf/openmetadata.yaml
  docker/development/docker-compose-gcp.yml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
Labels: backend, devops, safe to test, spec

#17392 Add Opensearch max payload Size
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchIndexSink.java
Labels: backend, safe to test

#17379 Fixes #17319: ArrayDataType issue resolved, Fix Queries + Add DB Name to the queries
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/tests/unit/topology/database/test_unity_catalog.py
Labels: Ingestion, safe to test

#17393 MINOR: added breadcrumb in persona detail page
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
Labels: UI, safe to test

#17398 MINOR: Add Unity Catalog Lineage Dialect
  ingestion/src/metadata/ingestion/lineage/models.py
Labels: Ingestion, safe to test

#17396 MINOR: databricks describe table query update
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
Labels: Ingestion, safe to test

#17365 MINOR: Implement Multi Data Streams. Fix Duplicating issue
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/DataInsightsSearchInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/elasticsearch/ElasticSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/opensearch/OpenSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsElasticSearchProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsOpenSearchProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/resources/dataInsights/elasticsearch/indexTemplate.json
  openmetadata-service/src/main/resources/dataInsights/opensearch/indexTemplate.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
Labels: Ingestion, backend, safe to test

#17349 feat: DBT - allow to use email to match users as fallback with ES search
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: documentation, UI, Ingestion, backend, safe to test

#17402 [MINOR] Fix retrieval of loginConfiguration
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
Labels: backend, safe to test

#17407 minor domain feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/nav-bar.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useDomainStore.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test

#17401 MINOR: remove pandas import for null_ratio
  ingestion/src/metadata/profiler/metrics/composed/null_ratio.py
  ingestion/tests/integration/datalake/conftest.py
  ingestion/tests/integration/datalake/resources/users.csv
Labels: Ingestion, safe to test

#17390 fix(ui): data insight page feedbacks
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDynamicChartAggregatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchDynamicChartAggregatorTest.java
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DataInsightSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Labels: UI, safe to test, e2e:Observability, e2e:DataAssets

#17395 Fixes: DBT Cloud lineage not showing
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/models.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/queries.py
Labels: Ingestion, safe to test

#17416 Add Azure Document for SAML
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/azure.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/index.md
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-1.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-10.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-11.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-2.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-3.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-4.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-5.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-6.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-7.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-8.png
  openmetadata-docs/images/v1.5/deployment/security/saml/azure/saml-azure-9.png
Labels: documentation, backend, safe to test

#17410 [MINOR] LDAP Refresh Implementation
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TokenUtil.java
Labels: backend, safe to test

#17415 Update SAML to have signed Messages
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlSettingsHolder.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/security/client/samlSSOClientConfig.json
Labels: backend, safe to test, spec

#17405 Fix #16454: usage query filter condition error
  ingestion/src/metadata/ingestion/source/database/postgres/usage.py
Labels: Ingestion, safe to test

#17412 MINOR: Added support to process multiple dbt run_results.json for a single dbt project
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/ingestion/workflows/dbt/setup-multiple-dbt-projects.md
Labels: documentation, Ingestion, safe to test

#17425 MINOR: Install DB2 odbc driver on x86_64 architectures and update docs
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/db2/index.md
Labels: documentation, Ingestion, safe to test

#17380 MINOR: Fix Datetime Conversion issue in usage/lineage
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/usage.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/utils/helpers.py
Labels: Ingestion, safe to test

#17382 MINOR: DI Simplify Formulas
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDynamicChartAggregatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchDynamicChartAggregatorTest.java
Labels: Ingestion, backend, safe to test

#17422 Fixes #17367: PipelineStatus Timestamp None not allowed
  ingestion/src/metadata/ingestion/source/pipeline/dagster/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/metadata.py
Labels: Ingestion, safe to test

#17426 minor: update beta services list
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: UI, safe to test, e2e:Integration

#17428 Minor: fixed failing test case in AUT part 1
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
Labels: UI, safe to test

#17427 MINOR: Fix DataInsights Field Getter
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, backend, safe to test

#17446 MINOR: Fix Missing Users errors on Data Insights Pipeline
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/processors/WebAnalyticsEntityViewProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/processors/WebAnalyticsUserActivityProcessor.java
Labels: Ingestion, backend, safe to test

#17435 supported task assignee with owner name in task thread
  openmetadata-ui/src/main/resources/ui/cypress/common/TaskUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThread.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TaskTabIncidentManagerHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TaskTabIncidentManagerHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AssigneeList/AssigneeList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AssigneeList/AssigneeList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Labels: UI, safe to test, e2e, e2e:Integration, e2e:Observability, e2e:DataAssets

#17424 MINOR - Config to PATCH metapilot descriptions if empty
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metaPilotAppConfig.json
Labels: Ingestion, backend, safe to test, spec

#17411 Minor: Kill active/idle connections after test connections
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/source/connections.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
Labels: Ingestion, safe to test

#17453 MINOR: Make Include ddl disabled by default 1.4.7
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
Labels: Ingestion, backend, safe to test

#17442 #17437 Data Quality UI can't display `type` as column name
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.test.ts
Labels: UI, safe to test, e2e, e2e:DataAssets

#17399 UI : fix request/update task after redirect from frequently joined tables
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-personas.svg
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test, e2e

#17451 #17439: supported separate call for open and close task in activity feed
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/DummyTestComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
Labels: UI, safe to test, e2e, e2e:Governance, e2e:DataAssets

#17455 [Snyk] Security upgrade axios from 1.6.4 to 1.7.4
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, devops, safe to test

#17353 Fix #17352: Remove TablesInitializer and bootstrap_storage.sh
  bootstrap/bootstrap_storage.sh
  openmetadata-docs/content/v1.3.x/developers/contribute/build-code-and-run-tests/openmetadata-server.md
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: documentation, backend, safe to test

#17474 Made DDL configuration consistent with views. Removed Lifecycle from …
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  openmetadata-airflow-apis/pyproject.toml
Labels: Ingestion, safe to test

#17460 Minor: Fix ranking in search results
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#17477 Updated pagination logic to use both name and id as cursors in listBefore and listAfter methods
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v131/MigrationUtil.java
Labels: backend, safe to test, e2e

#17445 MINOR: Update the logic match correct file names for the dbt files
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Labels: Ingestion, safe to test

#17478 MINOR: remove edit button from team type group and fix color of button
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsHeadingLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.test.tsx
Labels: UI, safe to test, e2e, e2e:Settings

#17440 fix lineage expand config
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageNodeLabelV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
Labels: UI, safe to test, e2e

#17483 MINOR: Removed stale links. Updated Backward Incompatible Changes
  openmetadata-docs/content/partials/v1.5/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Labels: documentation, Ingestion, safe to test

#17482 fix import export permissions
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ToastUtils.ts
Labels: UI, safe to test, e2e, e2e:Governance, e2e:DataAssets

#17480 what's new for 1.4.8
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#17464 MINOR - Clean DEBUG logs
  ingestion/src/metadata/cli/app.py
  ingestion/src/metadata/cli/dataquality.py
  ingestion/src/metadata/cli/ingest.py
  ingestion/src/metadata/cli/profile.py
  ingestion/src/metadata/cli/usage.py
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
Labels: Ingestion, safe to test

#17485 Fix Ldap Username issue
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
Labels: backend, safe to test

#17450 MINOR: Make Include ddl disabled by default
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
Labels: Ingestion, backend, safe to test, spec

#17484 MINOR: Make Transient table ingestion On by default
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
Labels: Ingestion, backend, safe to test, spec

#17431 Fix 17430: modify supported data types for columnValuesToBeUnique test case
  bootstrap/sql/migrations/native/1.5.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/postDataMigrationSQLScript.sql
  ingestion/src/_openmetadata_testutils/postgres/conftest.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/integration/postgres/test_data_quality.py
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeUnique.json
Labels: Ingestion, backend, safe to test
