Repository open-metadata/OpenMetadata, pull requests merged in 2024-02, with the labels that each got.

#14938 remove wildcards from search
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/classification_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/data_products_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/hashtag/hashtagSuggestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/StoredProcedureSummary/StoredProcedureSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExplorePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchedData/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Explore.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Labels: UI, backend, safe to test, e2e

#14975 Remove unwanted fields
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-ui/src/main/resources/ui/src/components/LineageProvider/LineageProvider.tsx
Labels: UI, backend, safe to test, e2e

#14982 Refactor search options in SearchClassBase
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, safe to test

#14979 Fix TestSuiteSearch case for OpenSearch
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#14986 [Fix] Wait for Indexing Job to complete
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#14989 fix(docker): K8s requires `apache-airflow-providers-cncf-kubernetes` pip package
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Labels: Ingestion, devops, safe to test

#14924 Minor: Alert flow feedback and cypress improvements
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Alert.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/EntityConstant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/NotificationAlerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertsDetails/AlertDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelect/AsyncSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddNotificationPage/AddNotificationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/DestinationFormItem/DestinationFormItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormActionItem/ObservabilityFormActionItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormFiltersItem/ObservabilityFormFiltersItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormTriggerItem/ObservabilityFormTriggerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormTriggerItem/trigger-item.less
  openmetadata-ui/src/main/resources/ui/src/pages/NotificationListPage/NotificationListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/NotificationListPage/NotificationListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ObservabilityAlertsPage/ObservabilityAlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/observabilityAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Labels: UI, safe to test, e2e

#14977 fix(ui): minor ui fixes for the release 1.3
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Services.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DataModelSummary/DataModelSummary.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionPipelineList/IngestionPipelineList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/mocks/DatabaseSchemaPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/mocks/SignupData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test, e2e

#14991 Minor: Fix E2E Powerbi
  ingestion/tests/cli_e2e/test_cli_powerbi.py
Labels: Ingestion, safe to test

#14950 Added Index Factory Config
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
Labels: backend, safe to test

#14908 Minor: Unit tests for observability and notification alert flow components
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddNotificationPage/AddNotificationPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/DestinationFormItem/DestinationFormItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormActionItem/ObservabilityFormActionItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormActionItem/ObservabilityFormActionItem.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormFiltersItem/ObservabilityFormFiltersItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/ObservabilityFormTriggerItem/ObservabilityFormTriggerItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/NotificationListPage/NotificationListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ObservabilityAlertsPage/ObservabilityAlertsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/test/unit/mocks/observability.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ObservabilityUtils.test.ts
Labels: UI, safe to test

#14998 [Fix]Init Organization Errors Fix
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Labels: backend, safe to test

#14993 MINOR : change whats new modal ui and added timer for github modal to appear
  openmetadata-ui/src/main/resources/ui/src/assets/gif/whats-new-loader.gif
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whats-new-modal.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Labels: UI, safe to test

#15000 [Fix] Fixed Search Index Repository Tests Exceptions
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Labels: backend, safe to test

#14978 MINOR: Optimised dbt topology and better exception handling for athena LF tags
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/source/database/athena/client.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtAzureConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtGCSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtS3Config.json
Labels: Ingestion, backend, safe to test

#15001 Add localhost:8585 as jwks urls; Fix entity consolidations when there is no previous chnage available
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/MultiUrlJwkProvider.java
Labels: backend, safe to test

#15002 Fix: tour flow and update the mock data
  openmetadata-ui/src/main/resources/ui/src/components/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/mockTourData.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Labels: UI, safe to test

#14994 MINOR: Modified snowflake view definition query
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
Labels: Ingestion, safe to test

#15003 Minor: Cypress tests fixes
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
Labels: UI, safe to test, e2e

#15004 Minor: Fix pyarrow import error
  ingestion/src/metadata/utils/datalake/datalake_utils.py
Labels: Ingestion, safe to test

#14976 MINOR : fix task card color code as per new ui
  openmetadata-ui/src/main/resources/ui/src/assets/svg/complete.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/in-progress.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/task-badge.less
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementDrawer/AnnouncementDrawer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test, e2e

#15007 MINOR - Update Collate dispatch CI
  .github/workflows/maven-build-collate.yml
Labels: Ingestion, devops, safe to test

#14987 MINOR: Fix 'calculate_execution_time_generator'
  ingestion/src/metadata/utils/helpers.py
Labels: Ingestion, safe to test

#15005 MINOR : show only user-task in user profile page in case of admin/normal user
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
Labels: UI, backend, safe to test, e2e

#15008 [Fix] Revert optionals error
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/AggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/AggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/AggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/AggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/EntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/MostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/PageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/ServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/ServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/dataInsight/TotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesByTierAggregator.java
Labels: backend, safe to test

#15009 Fix migration for postgres db
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MigrationDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test, e2e

#14997 Minor: Address feedback of Incident manager
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/Severity/SeverityModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/CustomMetricGraphs/CustomMetricGraphs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/CustomMetricGraphs/CustomMetricGraphs.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/customMetricAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test, e2e

#15017 Add boosting function and cleanup highlight builder code
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#15016 taskCount should show total count for openedBy or assignedTo a user
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Labels: backend, safe to test

#15020 [Fix] App Bot is null during init
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: backend, safe to test

#14990 feat(docker-compose): Use `openmetadata-ops.sh` script for migrations
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#15014 docs(check-prerequisites): prerequisites recipe
  Makefile
  openmetadata-docs/content/v1.3.x/developers/contribute/build-code-and-run-tests/prerequisites.md
  scripts/check_prerequisites.sh
Labels: documentation, safe to test

#15019 Add boosting function for tiers
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#15025 cypress: fixed cypress AUT failure for custom metric & data quality
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/CustomMetric.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
Labels: UI, safe to test, e2e

#15026 MINOR - Breaking change for alerts docs
  openmetadata-docs/content/partials/v1.3/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/images/v1.3/deployment/upgrade/alerts.png
Labels: documentation, Ingestion, safe to test

#15024 MINOR: fix glossary default selector in search index application while installation
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppInstallVerifyCard/app-install-verify-card.less
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: UI, safe to test, e2e

#15023 MINOR : remove all count for user's activity feed and fix more option in task feed
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, backend, safe to test, e2e

#15032 MINOR - Docs for Airflow virtualenv external run
  openmetadata-docs/content/v1.2.x/deployment/ingestion/airflow.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/airflow.md
Labels: documentation, Ingestion, safe to test

#15034 fix: docker-compose failed randomly without healthcheck of elasticsearch
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: devops, safe to test

#15028 [Fix] Catch All Exception for App Resource Init
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: backend, safe to test, e2e

#14870 MINOR: Change sqllineage import to collate_sqllineage
  ingestion/setup.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/tests/unit/test_query_parser.py
Labels: Ingestion, safe to test

#15031 MINOR: Added /views to tableau dashboard source url
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Labels: Ingestion, safe to test

#15012 add what's new content for 1.3.0
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
Labels: UI, safe to test

#15040 MINOR - docs(ingestion-framework): use code block
  openmetadata-docs/content/v1.3.x/developers/contribute/build-code-and-run-tests/ingestion-framework.md
Labels: documentation, safe to test

#14951 chore(Makefile): Update Make Recipes for 1.3.0 changes
  Makefile
  scripts/update_version.py
Labels: devops, safe to test

#15037 MINOR: Fix Databricks SDK Breaking Change
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
Labels: Ingestion, safe to test

#14996 adding unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertsDetails/AlertDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppTour/AppTour.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppTour/Tour.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppInstallVerifyCard/AppInstallVerifyCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppLogsViewer/AppLogsViewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/TourEndModal/TourEndModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/TourEndModal/TourEndModal.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/rests/applicationAPI.mock.ts
Labels: UI, safe to test

#15048 Minor: Update Openmetadata docs with latest release 1.3.0
  openmetadata-docs/content/v1.3.x/deployment/ingestion/airflow.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/gcs-composer.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/mwaa.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/v1.3.x/quick-start/local-docker-deployment.md
Labels: documentation, devops, safe to test

#15046 Fixes #15044: Fix broken link to Prefect OpenMetadata integration docs
  openmetadata-docs/content/v1.1.x/features/integrations/prefect.md
  openmetadata-docs/content/v1.2.x/features/integrations/prefect.md
  openmetadata-docs/content/v1.3.x/features/integrations/prefect.md
Labels: documentation, safe to test

#15054 MINOR - Docs for 1.3 release
  openmetadata-docs/content/partials/v1.3/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/bare-metal.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/docker.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/index.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/kubernetes.md
Labels: documentation, Ingestion, safe to test

#15047 Docs: SAS connector content modification for documentation
  openmetadata-docs/content/v1.2.x/releases/roadmap/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/sas/index.md
  openmetadata-docs/content/v1.3.x/releases/roadmap/index.md
Labels: documentation, UI, safe to test

#15057 Minor: Fix ingestion pipeline name search not working for observability alert
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/IngestionPipelineFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/IngestionPipelineIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/cypress/constants/Alert.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.js
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, backend, safe to test, e2e

#14981 Add unit test cases
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamsHeaderSection/TeamsHeadingLabel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamsHeaderSection/TeamsSubscription.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WelcomeScreen/WelcomScreen.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/RecentlyViewed/RecentlyViewed.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CmdKIcon/CmdKIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CmdKIcon/CmdKIcon.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedsFilterPopover/FeedsFilterPopover.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedsFilterPopover/FeedsFilterPopover.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/PanelContainer/PanelContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/PanelContainer/PanelContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResziablePanels.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TeamTypeSelect/TeamTypeSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddDataQualityTestPage/AddDataQualityTestPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddDataQualityTestPage/AddDataQualityTestPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.test.tsx
Labels: UI, safe to test

#14871 Aks deployment- deployment notes for deploying openmetadata on azure kubernetes service
  openmetadata-docs/content/v1.2.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.2.x/menu.md
Labels: documentation, safe to test

#15055 Update video links in WhatsNewModal
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#15060 docs: Update k8s Helm Values; Add AKS docs for 1.3.X
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.3.x/menu.md
Labels: documentation, devops, safe to test

#15064 MINOR: Fix mysql e2e count
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#15059 unit test for dashboard details page
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/mocks/DashboardDetailsPage.mock.js
Labels: UI, safe to test

#15069 Minor: add application router class
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationRoutesClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationRoutesClassBase.ts
Labels: UI, safe to test

#15072 Add e2e labeller
  .github/e2eLabeler.yml
  .github/workflows/labeler.yml
Labels: UI, devops, safe to test

#15042 #14930 bigquery support for pk, fk and column view description
  ingestion/src/metadata/ingestion/source/database/bigquery/helper.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/tests/unit/topology/database/test_bigquery.py
Labels: Ingestion, safe to test

#15075 MINOR: Modified PowerBI Documentation Requirements
  openmetadata-docs/content/v1.2.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.2.x/connectors/dashboard/powerbi/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.3.x/connectors/dashboard/powerbi/yaml.md
Labels: documentation, Ingestion, safe to test

#15053 test(ui): unit tests for users tab and user profile icon component
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppInstallVerifyCard/AppInstallVerifyCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/AddWidgetModal/AddWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersTab/UsersTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersTab/UsersTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/mocks/User.mocks.ts
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test

#15077 use minimatch path for e2e labels
  .github/e2eLabeler.yml
Labels: UI, devops, safe to test

#15078 Minor update gx runtime batch
  ingestion/src/metadata/great_expectations/action.py
  openmetadata-docs/content/v1.3.x/features/integrations/great-expectations.md
Labels: documentation, Ingestion, data quality, safe to test

#15081 unit test for DatabaseSchemaVersionPage
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/mocks/DatabaseSchemaVersionPage.mock.ts
Labels: UI, safe to test

#15073 test(ui): cypress create uniq glossary for the tests
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
Labels: UI, safe to test, e2e

#15092 workflow: update team labeler to execute only once
  .github/workflows/team-labeler.yml
Labels: UI, devops, safe to test

#15061 Minor: improve unit test coverage
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ResetPassword/ResetPassword.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ResetPassword/ResetPassword.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QuillLink/QuillLink.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ResetPassword.utils.ts
Labels: UI, safe to test

#15091 add display name to request body (not overwrite value null)
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
Labels: UI, safe to test

#15083 fix sso logo breaking due to antd icons component
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
  openmetadata-ui/src/main/resources/ui/src/assets/svg/creating-ingestion.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/deploy-ingestion.svg
  openmetadata-ui/src/main/resources/ui/src/components/LoginButton/LoginButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/DeployIngestionLoaderModal/DeployIngestionLoaderModal.tsx
Labels: UI, backend, safe to test

#15107 MINOR - 1.3 release docker breaking docs
  openmetadata-docs/content/partials/v1.3/deployment/upgrade/upgrade-prerequisites.md
Labels: documentation, Ingestion, safe to test

#15111 Fix wrong error type for UnhandledServerException
  openmetadata-service/src/main/java/org/openmetadata/service/exception/UnhandledServerException.java
Labels: backend, safe to test

#15102 Fix \n on frontend in team description on Teams list page
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
Labels: UI, safe to test

#15105 added unit test for EditEmailConfigPage
  openmetadata-ui/src/main/resources/ui/src/pages/EditEmailConfigPage/EditEmailConfigPage.test.tsx
Labels: UI, safe to test

#15093 Add cypress test for dot user mentions
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
Labels: UI, safe to test, e2e

#15108 Minor: cleanup test case details page
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestCaseDetailsPage/TestCaseDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestCaseDetailsPage/test-case-details-page.style.less
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#15079 MINOR: Fix Sample Data Deserialisation
  ingestion/src/metadata/profiler/processor/sample_data_handler.py
Labels: Ingestion, safe to test

#15113 test: unit test case of forgot password
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.test.tsx
Labels: UI, safe to test

#15088 MINOR: Fix trino requirement docs
  openmetadata-docs/content/v1.2.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.2.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/trino/yaml.md
Labels: Ingestion, safe to test

#15038 format cron from quartz to unix in applications
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Users.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTest.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestSuiteScheduler.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppScheduleProps.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CronUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CronUtils.ts
Labels: UI, safe to test, e2e

#15116 fix(ui): #15109 okta keep loading infinitly
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
Labels: UI, safe to test

#15103 MINOR - fix(prerequisite): add check for bash version
  scripts/check_prerequisites.sh
Labels: Ingestion, safe to test

#15117 added unit test for AppInstall component
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.test.tsx
Labels: UI, safe to test

#15087 added unit test for DatabaseVersionPage
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseVersionPage/DatabaseVersionPage.test.tsx
Labels: UI, safe to test

#15099 added unit test for EditConnectionFormPage component
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.test.tsx
Labels: UI, safe to test

#15114 Minor: Fix glossary version cypress for AUT
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.js
Labels: UI, safe to test, e2e

#15110 MINOR : fix UI issues
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/withSuspenseFallback.js
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Setting/SettingItemCard/setting-item-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: UI, safe to test, e2e

#15097 Minor: improve the unit test coverage for ui component part 2
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/FrequentlyJoinedTables.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/FrequentlyJoinedTables.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.test.tsx
Labels: UI, safe to test

#15115 MINOR: Fix Mongodb Migration Issue
  openmetadata-docs/content/partials/v1.3/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v130/MigrationUtil.java
Labels: Ingestion, backend, safe to test

#15124 added unit test for ApplicationPage component
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.test.tsx
Labels: UI, safe to test

#15126 Fix Source Hash Issue
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
Labels: backend, safe to test

#15134 Test : added unit test for github star popup
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarCard/GithubStarCard.test.tsx
Labels: UI, safe to test

#15123 test: unit test cases of right side bar
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/MyData/EntityListSkeleton/EntityListSkeleton.component.tsx
Labels: UI, safe to test

#15137 Add createIndex/updateIndex to openmetadata-ops.sh
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#15056 add tags to allow filter specs in cypress
  .github/e2eLabeler.yml
  .github/workflows/labeler.yml
  openmetadata-ui/src/main/resources/ui/.eslintrc.yaml
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/e2e.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/LineageProvider/LineageProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, devops, safe to test, e2eLineage

#15141 added unit test for CustomPropertiesPageV1
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.test.tsx
Labels: UI, safe to test

#15143 MINOR - OpenMetadata OPS to load collate-service jars first
  bootstrap/openmetadata-ops.sh
Labels: Ingestion, safe to test

#15142 test: unit test case of entity list skeleton
  openmetadata-ui/src/main/resources/ui/src/components/Skeleton/MyData/EntityListSkeleton/EntityListSkeleton.test.tsx
Labels: UI, safe to test

#15120 added re-run search indexing banner for es exception on explore page
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
Labels: UI, safe to test

#15148 Fix Ldap Filter Parsing Issue for "," in DN
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
Labels: backend

#15139 feat: Prepare `main` for next release cycle
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base-slim.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: UI, Ingestion, backend, devops, safe to test

#15154 Release Docs: Links replaced
  openmetadata-docs/content/v1.3.x/menu.md
Labels: documentation, safe to test

#15094 MINOR - Add service information on Pipeline Status GET
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Labels: Ingestion, backend, safe to test

#15138 added unit test for BotsPageV1
  openmetadata-ui/src/main/resources/ui/src/pages/BotsPageV1/BotsPageV1.test.tsx
Labels: UI, safe to test

#15140 test: add unit test case of settings item card
  openmetadata-ui/src/main/resources/ui/src/components/Setting/SettingItemCard/SettingsItemCard.test.tsx
Labels: UI, safe to test

#15104 fix: convert imageRepository to string type
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
Labels: Ingestion, backend, safe to test

#15036 DOCS: Added alation filter pattern docs
  openmetadata-docs/content/v1.2.x/connectors/metadata/alation/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/alation/yaml.md
Labels: documentation, Ingestion, safe to test

#15127 Fix #15106: Fixed Service display name gets updated after an ingestion
  ingestion/src/metadata/ingestion/api/topology_runner.py
Labels: Ingestion, safe to test

#15153 MINOR: Fix superset query to fetch columns
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
Labels: Ingestion, safe to test

#15150 test: unit test case of persona details card
  openmetadata-ui/src/main/resources/ui/src/components/Persona/PersonaDetailsCard/PersonaDetailsCard.test.tsx
Labels: UI, safe to test

#15156 MINOR: Fixed Either for sagemaker
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker/metadata.py
Labels: Ingestion, safe to test

#15149 MINOR - DQ incident severity classifier
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/incidentSeverityClassifier/IncidentSeverityClassifierInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/incidentSeverityClassifier/LogisticRegressionIncidentSeverityClassifier.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/dataQualityConfiguration.json
Labels: Ingestion, backend, data quality, safe to test

#15122 fixes #12591: add BigTable
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/bigtable.yaml
  ingestion/src/metadata/ingestion/source/database/bigtable/__init__.py
  ingestion/src/metadata/ingestion/source/database/bigtable/client.py
  ingestion/src/metadata/ingestion/source/database/bigtable/connection.py
  ingestion/src/metadata/ingestion/source/database/bigtable/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigtable/models.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/topology/database/test_bigtable.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/BigTableConnectionClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/resources/json/data/testConnections/database/bigtable.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigTableConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigTable.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-bigtable.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, UI, Ingestion, backend, safe to test

#15168 Docs: Edits to Chrome Ext & Releases
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.3.x/releases/releases/index.md
Labels: documentation, safe to test

#15158 lineage cypress fix
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeSuggestions.component.tsx
Labels: UI, safe to test, e2eLineage

#15171 MINOR: Fixed dashboard e2e counts
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
  ingestion/tests/cli_e2e/test_cli_quicksight.py
  ingestion/tests/cli_e2e/test_cli_redash.py
Labels: Ingestion, safe to test

#15170 Minor: fixed AUT failure of main branch
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
Labels: UI, safe to test, e2e

#15159 ISSUE-15100: add tooltip for field Text type
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
Labels: UI, safe to test

#15176 fix(ui): Fix minor typo in language string
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#15178 MINOR: Fix Databricks pipeline lineage docs
  openmetadata-docs/content/v1.2.x/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.2.x/connectors/pipeline/databricks-pipeline/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/databricks-pipeline/yaml.md
Labels: documentation, Ingestion, safe to test

#15172 test: unit test case of service config component
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ServiceConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Service.mock.ts
Labels: UI, safe to test

#15182 MINOR: Add databricks configuration docs for spark agent
  openmetadata-docs/content/v1.3.x/connectors/ingestion/lineage/spark-lineage.md
  openmetadata-docs/images/v1.3/connectors/spark/prepare-script.png
  openmetadata-docs/images/v1.3/connectors/spark/spark-config-set.png
  openmetadata-docs/images/v1.3/connectors/spark/spark-init-script.png
  openmetadata-docs/images/v1.3/connectors/spark/spark-upload-jar-2.png
  openmetadata-docs/images/v1.3/connectors/spark/spark-upload-jar.png
  openmetadata-docs/images/v1.3/connectors/spark/spark-uploaded-jar.png
Labels: documentation, Ingestion, safe to test

#15183 [Fix] Email Test Issues and Audit Log Issues
  openmetadata-service/src/main/java/org/openmetadata/service/events/AuditEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
Labels: backend, safe to test

#15160 test: unit test case of quality tab
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.test.tsx
Labels: UI, safe to test

#15184 Add new Template and Graph building logic for Insights reporting
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/test/NoOpTestApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightTotalAssetTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/Utilities.java
  openmetadata-service/src/main/resources/emailTemplates/dataInsightReport.ftl
Labels: backend, safe to test

#15165 Fix #15112: Fix metabase lineage via api
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
Labels: Ingestion, safe to test

#15191 [Fix] AUT issues Create Admin Password for Admin User
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Labels: backend, safe to test

#15196 [Fix] Cache Init In Startup
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Labels: backend, safe to test

#15147 Fix #13790: Cost analysis Data Insights Optimisations
  ingestion/src/metadata/data_insight/processor/reports/cost_analysis_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/data_processor.py
  ingestion/src/metadata/data_insight/producer/cost_analysis_producer.py
  ingestion/src/metadata/data_insight/producer/entity_producer.py
  ingestion/src/metadata/data_insight/producer/producer_interface.py
  ingestion/src/metadata/data_insight/producer/web_analytics_producer.py
  ingestion/src/metadata/data_insight/source/metadata.py
Labels: Ingestion, safe to test

#15195 Minor: Addressing comments of #15159
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
Labels: UI, safe to test

#15203 MINOR - fix test definition deletion
  bootstrap/sql/migrations/native/1.4.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestDefinitionResource.java
  openmetadata-service/src/main/resources/json/data/tests/columnValueMaxToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMeanToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMedianToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMinToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueStdDevToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesLengthsToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesMissingCountToBeEqual.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesSumToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeInSet.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeNotInSet.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeNotNull.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeUnique.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToMatchRegex.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToNotMatchRegex.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnCountToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnCountToEqual.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnNameToExist.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnToMatchSet.json
  openmetadata-service/src/main/resources/json/data/tests/tableCustomSQLQuery.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToEqual.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowInsertedCountToBeBetween.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestDefinition.json
  openmetadata-spec/src/main/resources/json/schema/tests/testDefinition.json
Labels: Ingestion, backend, data quality, safe to test

#15197 Fix #15173: Added sql to tableau datamodels
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#15206 fix: typo description of default batchsize
  openmetadata-spec/src/main/resources/json/schema/api/createEventPublisherJob.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/searchIndexingAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/metadataESConnection.json
  openmetadata-spec/src/main/resources/json/schema/events/eventSubscription.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: UI, backend, safe to test

#15013 FIXES 15215: Add execution time tracker for ingestion
  ingestion/src/metadata/ingestion/api/steps.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/utils/execution_time_tracker.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/output_handler.py
Labels: Ingestion, safe to test

#15180 fix custom property render rows issue
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
Labels: UI, safe to test

#15216 add node 18 as pre-requisites
  scripts/check_prerequisites.sh
Labels: UI, safe to test

#15217 Minor: keep the lineage style LTR only
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
Labels: UI, safe to test

#15194 fix mention list in announcements
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.tsx
Labels: UI, safe to test, e2e

#15225 Fixes: nl-nl translation errors
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
Labels: UI, safe to test

#15223 MINOR: Added external workflow missing docs for usage/lineage
  openmetadata-docs/content/partials/v1.3/connectors/yaml/data-quality.md
  openmetadata-docs/content/partials/v1.3/connectors/yaml/lineage.md
  openmetadata-docs/content/v1.3.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/azuresql/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/clickhouse/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/databricks/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/db2/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/doris/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/druid/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/hive/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/mariadb/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/pinotdb/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/presto/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/sap-hana/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/singlestore/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/vertica/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/data-quality/index.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/lineage/index.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/usage/index.md
  openmetadata-docs/content/v1.3.x/how-to-guides/data-lineage/workflow.md
Labels: documentation, Ingestion, safe to test

#15226 fix(ui): #15214 open detailed logs for each runs
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRun.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
Labels: UI, safe to test

#15167 chore(ui): add tags for cypress spec files
  .github/e2eLabeler.yml
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/CustomMetric.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/QueryEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RecentlyViewed.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/SchemaSearch.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/CustomizeLandingPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Explore.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/NotificationAlerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/PersonaFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/CustomLogoConfig.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightAlert.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Domains.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/GlossaryVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/LoginConfiguration.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Services.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/redirections.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/ServiceIngestion.spec.ts
Labels: UI, safe to test, e2eLineage

#15224 fix(ui): overflow entity name on details page
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
Labels: UI, safe to test, e2e

#15193 #15169 bug: Service password gets overwritten with '********' when editing connection details (any!)
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/MysqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Tier.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.test.tsx
Labels: UI, safe to test, e2e

#15234 Fixes: update java version in ldap auth docs
  openmetadata-docs/content/v1.2.x/deployment/security/ldap/docker.md
  openmetadata-docs/content/v1.3.x/deployment/security/ldap/docker.md
Labels: documentation

#15207 MINOR: Improve Kafka Test Connection
  ingestion/src/metadata/ingestion/source/messaging/kafka/connection.py
  openmetadata-service/src/main/resources/json/data/testConnections/messaging/kafka.json
  openmetadata-service/src/main/resources/json/data/testConnections/messaging/redpanda.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/kafkaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/redpandaConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Messaging/Kafka.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Messaging/Redpanda.md
Labels: UI, Ingestion, backend, safe to test

#15145 MINOR: BigTable connector docs
  openmetadata-docs/content/v1.3.x/connectors/database/bigtable/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/bigtable/roles.md
  openmetadata-docs/content/v1.3.x/connectors/database/bigtable/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/images/v1.3/connectors/bigtable/add-new-service.png
  openmetadata-docs/images/v1.3/connectors/bigtable/create-role-1.png
  openmetadata-docs/images/v1.3/connectors/bigtable/create-role-2.png
  openmetadata-docs/images/v1.3/connectors/bigtable/create-role-3.png
  openmetadata-docs/images/v1.3/connectors/bigtable/create-role-4.png
  openmetadata-docs/images/v1.3/connectors/bigtable/create-role-5.png
  openmetadata-docs/images/v1.3/connectors/bigtable/multiple-project-id.png
  openmetadata-docs/images/v1.3/connectors/bigtable/select-service.png
  openmetadata-docs/images/v1.3/connectors/bigtable/service-connection.png
Labels: documentation, UI, Ingestion, backend, safe to test

#15238 #15227 support display name in lineage search node
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test, e2eLineage

#15246 MINOR - Update Collate dispatch input
  .github/workflows/maven-build-collate.yml
Labels: Ingestion, devops, safe to test
