Repository open-metadata/OpenMetadata, pull requests merged in 2024-07, with the labels that each got.

#16842 feat(#14234): add LaTeX Support In Block Editor
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/ic-format-math-equation.png
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/EditorSlots.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/MathEquation/MathEquation.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/MathEquation/MathEquationComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/MathEquation/math-equation.less
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/link.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slash-command/items.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/trailing-node.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/LinkPopup/LinkPopup.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/constants/BlockEditor.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#16858 MINOR: use tagged sonarcloud action
  .github/workflows/py-tests.yml
Labels: Ingestion, devops, safe to test

#16851 fix(ui): switching tabs not taking effect
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.tsx
Labels: UI, safe to test, e2e, e2e:Integration

#16860 chore: Update main branch for 1.5.0 Release
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: UI, Ingestion, backend, devops, safe to test

#16609 support data asset explore widget
  openmetadata-service/src/main/resources/json/data/document/dataAsset.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataAssetsWidget.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-assets.png
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-assets-widget.svg
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/CustomizablePage.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePageClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilsClassBase.test.ts
Labels: UI, backend, safe to test, e2e:Integration, e2e:DataAssets

#16865 MINOR: Fix dynamic assertion create json schema
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCase.json
Labels: Ingestion, backend, data quality, safe to test

#16844 MINOR: added table diff sample results
  ingestion/examples/sample_data/tests/testCaseResults.json
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#16868 chore(ui): fix re-deploy ingestion pipeline e2e tests
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Labels: UI, safe to test

#16871 Add Assets field to domain
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
Labels: backend, safe to test

#15748 [Snyk] Security upgrade org.elasticsearch.client:elasticsearch-rest-high-level-client from 7.17.17 to 7.17.19
  pom.xml
Labels: backend, safe to test

#16862 Fix #16788: Optimize feed query performance issues introduced in 1.4.2
  bootstrap/sql/migrations/native/1.4.4/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.4/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#16843 Doc: Updating old reference Images of Ingestion Bot
  openmetadata-docs/content/v1.4.x/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/v1.4.x/developers/bots.md
  openmetadata-docs/content/v1.4.x/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/developers/bots.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/images/v1.4/cli-ingestion-with-basic-auth/bot-list.png
  openmetadata-docs/images/v1.4/cli-ingestion-with-basic-auth/bot-token.png
  openmetadata-docs/images/v1.4/cli-ingestion-with-basic-auth/settings-bot.png
  openmetadata-docs/images/v1.4/deployment/security/enable-jwt/bot-jwt-token.png
  openmetadata-docs/images/v1.4/deployment/security/enable-jwt/bot.png
  openmetadata-docs/images/v1.4/deployment/security/enable-jwt/settings-bot.png
  openmetadata-docs/images/v1.4/developers/bot-listing.png
  openmetadata-docs/images/v1.4/developers/bot-token-page.png
  openmetadata-docs/images/v1.4/developers/settings-bot.png
  openmetadata-docs/images/v1.5/cli-ingestion-with-basic-auth/bot-list.png
  openmetadata-docs/images/v1.5/cli-ingestion-with-basic-auth/bot-token.png
  openmetadata-docs/images/v1.5/cli-ingestion-with-basic-auth/settings-bot.png
  openmetadata-docs/images/v1.5/deployment/security/enable-jwt/bot-jwt-token.png
  openmetadata-docs/images/v1.5/deployment/security/enable-jwt/bot.png
  openmetadata-docs/images/v1.5/deployment/security/enable-jwt/settings-bot.png
  openmetadata-docs/images/v1.5/developers/bot-listing.png
  openmetadata-docs/images/v1.5/developers/bot-token-page.png
  openmetadata-docs/images/v1.5/developers/settings-bot.png
Labels: documentation, safe to test

#16870 MINOR: added docs for metrics
  openmetadata-docs/content/v1.3.x/deployment/metrics/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.4.x/deployment/metrics/index.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/metrics/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Labels: documentation, Ingestion, safe to test

#16869 MNOR: pipeline client metrics
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/MeteredPipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClientFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJobHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MicrometerBundleSingleton.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClientInterface.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/PipelineServiceClientException.java
Labels: Ingestion, backend, safe to test

#16875 Minor: Do not start limits if its disabled
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Labels: backend, safe to test

#16879 docs: Ingestion Version Tagging system update for `1.5.0`
  openmetadata-docs/content/partials/v1.5/deployment/upgrade/upgrade-prerequisites.md
Labels: documentation, devops, safe to test

#16880 Minor: remove cypress test which is migrated in playwright
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DashboardServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DataModelClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/MessagingServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/MlModelServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/PipelineServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/SearchServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/StorageServiceClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/StoredProcedureClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/TableClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Database.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Services.spec.ts
Labels: UI, safe to test, e2e:Integration, e2e:DataAssets

#16796 MINOR: fix getter for failed rows sample
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: Ingestion, backend, safe to test

#16806 Fix #16700: Fail ingestion gracefully when column is not compatible with test type
  ingestion/src/metadata/data_quality/processor/test_case_runner.py
  ingestion/src/metadata/utils/entity_link.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/postgres/test_data_quality.py
  ingestion/tests/integration/postgres/test_postgres.py
Labels: Ingestion, safe to test

#16809 MINOR: add column diff for table diff test case
  ingestion/src/metadata/data_quality/validations/models.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/unit/metadata/data_quality/test_table_diff_param_setter.py
Labels: Ingestion, safe to test

#16884 Minor: change 1.4.4 release date
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#16886 MINOR: fix data assets label for all the services
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, safe to test

#16883 Enabling the subscription tests randomly.
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
Labels: backend, safe to test

#16887 MINOR: Qlikcloud yaml & api-keys docs
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-qlik-sense.png
Labels: documentation, safe to test

#16836 MINOR: table diff docs
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-quality-profiler/test.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-quality-profiler/tests-yaml.md
  openmetadata-service/src/main/resources/json/data/tests/tableDiff.json
Labels: documentation, Ingestion, backend, safe to test

#16892 MINOR: fix: cast to pipeline
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJob.java
Labels: Ingestion, backend, safe to test

#16820 superset lineage fix
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#16900 Fix #16899: Iterate over all results collected from response
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker/metadata.py
Labels: Ingestion, safe to test

#16815 Fix #15721: Added Override flag to force update of Description, Tags and Owner from Source System
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/tests/integration/ometa/test_ometa_topology_patch.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/messagingServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/mlmodelServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/searchServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storageServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Messaging/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Metadata/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/MlModel/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Search/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Storage/workflows/metadata.md
Labels: UI, Ingestion, backend, safe to test

#16895 Minor: updated licenseheaderignore file for playwright
  openmetadata-ui/src/main/resources/ui/.licenseheaderignore
Labels: UI, safe to test

#16907 [Issue-16906] Fix Lineage Edge Being Removed in Non-Indexable Fields
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
Labels: backend, safe to test

#16910 DOCS - Storage Connector example
  openmetadata-docs/content/partials/v1.4/connectors/storage/manifest.md
  openmetadata-docs/content/partials/v1.5/connectors/storage/manifest.md
  openmetadata-docs/content/v1.4.x/connectors/storage/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/storage/index.md
  openmetadata-docs/images/v1.4/connectors/storage/collate-demo-storage.png
  openmetadata-docs/images/v1.4/connectors/storage/s3-demo.png
  openmetadata-docs/images/v1.5/connectors/storage/collate-demo-storage.png
  openmetadata-docs/images/v1.5/connectors/storage/s3-demo.png
Labels: documentation, Ingestion, safe to test

#16909 Doc: Updating Menu Order Docs
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Labels: documentation, safe to test

#16914 MINOR : fix playwright test for DataAssetsWidget
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test, e2e:DataAssets

#16597 Fixes 16582: support SASL_SSL kafka auth for OpenLineage pipeline connector
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/openLineageConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/sasl/saslClientConfig.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/OpenLineage.md
Labels: UI, Ingestion, backend, safe to test

#16901 MINOR: [DOCS] Updated dbt cloud permissions
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/dbt/ingest-dbt-ui.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/dbt/ingest-dbt-yaml.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/ingest-dbt-ui.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/ingest-dbt-yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-ui.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-yaml.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/dbt.md
Labels: documentation, UI, Ingestion, safe to test

#16918 MINOR: Pydantic equal assert util
  ingestion/src/_openmetadata_testutils/pydantic/__init__.py
  ingestion/src/_openmetadata_testutils/pydantic/test_utils.py
  ingestion/tests/integration/data_quality/test_data_diff.py
Labels: Ingestion, safe to test

#16912 MINOR: fix get resources
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
Labels: Ingestion, safe to test

#16919 Throw exception on HTML input for collect endpoint
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResource.java
Labels: backend, safe to test

#16872 Doc: Updating Docs for Kubernetes deployment
  openmetadata-docs/content/partials/v1.4/deployment/faqs-eks.md
  openmetadata-docs/content/partials/v1.4/deployment/faqs.md
  openmetadata-docs/content/partials/v1.5/deployment/faqs-eks.md
  openmetadata-docs/content/partials/v1.5/deployment/faqs.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Labels: documentation, safe to test

#16822 Doc: Adding Docs for SAML Deployments
  openmetadata-docs/content/v1.4.x/deployment/security/saml/bare-metal.md
  openmetadata-docs/content/v1.4.x/deployment/security/saml/docker.md
  openmetadata-docs/content/v1.4.x/deployment/security/saml/index.md
  openmetadata-docs/content/v1.4.x/deployment/security/saml/kubernetes.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/bare-metal.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/docker.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/saml/kubernetes.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Labels: documentation, safe to test

#16922 Docs: Fixing broken Menu Link
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Labels: documentation, safe to test

#16923 MInor: Added Tiers&Glossary in dbt docs main page
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/ingestion/workflows/dbt/index.md
Labels: documentation, safe to test

#16921 Minor: Add support for beta tag for form field
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/Form.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/FormItemLabel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/FormItemLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/form.less
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#16916 MINOR - Pydantic V2 warnings and better exception msg
  docker/openmetadata-start.sh
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
  ingestion/src/metadata/clients/domo_client.py
  ingestion/src/metadata/config/common.py
  ingestion/src/metadata/data_insight/source/metadata.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/ingestion/api/common.py
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/models/topology.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/sink/file.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/models.py
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
  ingestion/src/metadata/ingestion/source/database/sas/metadata.py
  ingestion/src/metadata/ingestion/source/messaging/kinesis/models.py
  ingestion/src/metadata/ingestion/source/messaging/messaging_service.py
  ingestion/src/metadata/ingestion/source/mlmodel/mlmodel_service.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/models.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/src/metadata/ingestion/source/search/search_service.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/profiler/api/models.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/readers/file/credentials.py
  ingestion/src/metadata/utils/ssl_registry.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/integration/data_quality/conftest.py
  ingestion/tests/integration/ometa/test_ometa_chart_api.py
  ingestion/tests/integration/ometa/test_ometa_dashboard_api.py
  ingestion/tests/integration/ometa/test_ometa_database_api.py
  ingestion/tests/integration/ometa/test_ometa_mlmodel_api.py
  ingestion/tests/integration/ometa/test_ometa_pipeline_api.py
  ingestion/tests/integration/ometa/test_ometa_role_policy_api.py
  ingestion/tests/integration/ometa/test_ometa_storage_api.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/ometa/test_ometa_topic_api.py
  ingestion/tests/integration/postgres/test_data_quality.py
  ingestion/tests/integration/postgres/test_postgres.py
  ingestion/tests/integration/profiler/test_dynamodb.py
  ingestion/tests/integration/sql_server/conftest.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
Labels: Ingestion, backend, devops, safe to test

#16925 Fixes French Translation
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
Labels: UI, safe to test

#16821 minor: improve resizable panels height
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteStepper/TestSuiteStepper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DataProductsTab/DataProductsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/resizable-panels.less
  openmetadata-ui/src/main/resources/ui/src/pages/AddCustomMetricPage/AddCustomMetricPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddNotificationPage/AddNotificationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/EditLoginConfiguration/EditLoginConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditEmailConfigPage/EditEmailConfigPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/resizable-panels-component.less
  openmetadata-ui/src/main/resources/ui/src/styles/index.js
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test, e2e, e2e:Integration, e2e:Governance, e2e:Observability, e2e:DataAssets, e2e:Settings

#16926 MINOR: Fix data diff with threshold
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/tests/integration/data_quality/test_data_diff.py
Labels: Ingestion, safe to test

#16866 MINOR: Fixed DashboardDataModel fqn generation in topology context
  ingestion/src/metadata/ingestion/models/topology.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
Labels: Ingestion, safe to test

#16929 chore: fix justify-content property warning in BlockEditor component
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
Labels: UI, safe to test

#16924 MINOR: add track_commit_timestamp to postgre_container
  ingestion/src/_openmetadata_testutils/postgres/conftest.py
Labels: Ingestion, safe to test

#16933 MINOR: fix bigquery profiler
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  ingestion/src/metadata/profiler/processor/core.py
Labels: Ingestion, safe to test

#16937 minor: improve the custom property table in settings page
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
Labels: UI, safe to test, e2e

#16938 Show Data Assets in hierarchy on Explore
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-search.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExplorePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/useExplore.store.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, safe to test, e2e, e2e:Integration, e2e:DataAssets

#16934 Modify Python SDK docs
  openmetadata-docs/content/v1.4.x/sdk/python/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/sdk/python/index.md
Labels: documentation, Ingestion, safe to test

#16935 Doc: Updating the Admin User ID
  openmetadata-docs/content/v1.4.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.4.x/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/quick-start/local-kubernetes-deployment.md
Labels: documentation

#16930 Minor: fixed data insight aut cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
Labels: UI, safe to test, e2e, e2e:Integration, e2e:Observability

#16941 FIX #16231 - Ingestion Pipeline w/ Bot Assignment
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/resources/json/data/bot/lineageBot.json
  openmetadata-service/src/main/resources/json/data/bot/profilerBot.json
  openmetadata-service/src/main/resources/json/data/bot/testsuiteBot.json
  openmetadata-service/src/main/resources/json/data/bot/usageBot.json
  openmetadata-service/src/main/resources/json/data/botUser/lineageBot.json
  openmetadata-service/src/main/resources/json/data/botUser/profilerBot.json
  openmetadata-service/src/main/resources/json/data/botUser/testsuiteBot.json
  openmetadata-service/src/main/resources/json/data/botUser/usageBot.json
  openmetadata-service/src/main/resources/json/data/policy/DefaultBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/LineageBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/UsageBotPolicy.json
  openmetadata-service/src/main/resources/json/data/role/LineageBotRole.json
  openmetadata-service/src/main/resources/json/data/role/UsageBotRole.json
Labels: Ingestion, backend, safe to test

#16936 MINOR: Add support for s3 unstructured files
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/src/metadata/ingestion/source/storage/s3/models.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/tests/integration/s3/resources/openmetadata.json
  ingestion/tests/integration/s3/resources/solved.png
  ingestion/tests/integration/s3/test_s3_storage.py
Labels: Ingestion, safe to test

#16947 MINOR: Redshift view lineage error
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
Labels: Ingestion, safe to test

#16948 minor: add latex node in description editor
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/CustomHtmlRederer/CustomHtmlRederer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/CustomHtmlRederer/CustomHtmlRenderer.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.tsx
Labels: UI, safe to test

#16954 Fixes 16562: Modify HiveCompiler to compile column names properly
  ingestion/setup.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/tests/unit/profiler/sqlalchemy/databricks/test_visit_column.py
Labels: Ingestion, safe to test

#16949 MINOR - fix sample data ingestion
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#16955 REL #460-CL - Metadata Actions Create Permissions
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/resources/json/data/policy/DefaultBotPolicy.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
Labels: Ingestion, backend, safe to test

#16571 MINOR: supported all_index in search index configuration form
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/SelectWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/SelectWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/TreeSelectWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/TreeSelectWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/SelectWidget.mock.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/rjsf.less
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: UI, backend, safe to test, e2e, e2e:DataAssets

#16960 Allow adding pipeline between all entities in lineage
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/AppPipelineModel/AddPipeLineModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
Labels: UI, safe to test, e2e, e2e:DataAssets

#16832 Minor: Automation improvement OSS requirements
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/IngestionPipelineIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/ingestion_pipeline_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-ui/src/main/resources/ui/playwright/constant/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/Ingestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRun.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, backend, safe to test, e2e, e2e:Integration, e2e:Settings

#16962 MINOR: fix regex to match test case
  ingestion/src/metadata/data_quality/validations/column/base/columnValuesToMatchRegex.py
  ingestion/src/metadata/data_quality/validations/column/pandas/columnValuesToMatchRegex.py
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValuesToMatchRegex.py
Labels: Ingestion, data quality, safe to test

#16965 playwright: fixed tier, dataAssets test for AUT
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataAssetsWidget.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test, e2e:DataAssets

#16969 MINOR: Docs example for s3 unstructured file
  openmetadata-docs/content/v1.4.x/connectors/storage/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/storage/index.md
Labels: documentation, Ingestion, safe to test

#16953 [Issue-16951] Fix Ingestion Pipeline Url in Emails and Alert Notifications
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/IngestionPipelineFormatter.java
Labels: backend, safe to test

#16944 Minor: dynamic min/max bound in graph for test case details page
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Labels: UI, safe to test, e2e, e2e:Observability, e2e:DataAssets

#16970 MINOR: Fix snowflake test failure due to sqlparse upgrade
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Labels: Ingestion, safe to test

#16964 MINOR fix dtype mapping return type
  ingestion/src/metadata/profiler/orm/converter/bigquery/converter.py
  ingestion/src/metadata/profiler/orm/converter/common.py
  ingestion/src/metadata/profiler/orm/converter/redshift/converter.py
  ingestion/src/metadata/profiler/orm/converter/snowflake/converter.py
Labels: Ingestion, profiler, safe to test

#16971 API service sample data
  ingestion/examples/sample_data/api_service/api_collection.json
  ingestion/examples/sample_data/api_service/api_endpoint.json
  ingestion/examples/sample_data/api_service/service.json
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APICollectionResource.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createApiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/serviceConnection.json
Labels: Ingestion, backend, safe to test

#16968 PLAYWRIGHT: supported util method for toast Notification
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16963 MINOR: added what's new for 1.4.5
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#16984 Minor: fixed edit test suite pipeline issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
Labels: UI, safe to test

#16977 MINOR: log context when failing to yield table
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
Labels: Ingestion, safe to test

#16917 Fixes 16652: add GCS storage service
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/storage/gcs/client.py
  ingestion/src/metadata/ingestion/source/storage/gcs/connection.py
  ingestion/src/metadata/ingestion/source/storage/gcs/metadata.py
  ingestion/src/metadata/ingestion/source/storage/gcs/models.py
  ingestion/src/metadata/utils/secrets/gcp_secrets_manager.py
  ingestion/tests/unit/topology/storage/test_gcs_storage.py
  ingestion/tests/unit/topology/storage/test_s3_storage.py
  openmetadata-service/src/main/resources/json/data/testConnections/storage/gcs.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/storage/gcsConnection.json
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/StorageServiceUtils.ts
Labels: UI, Ingestion, backend, safe to test, e2e:Integration

#16990 #16699 [Data Quality] Column is displayed for unsupported columns
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.tsx
Labels: UI, safe to test, e2e, e2e:Observability, e2e:DataAssets

#16986 MINOR: Added Owner support for tableau datamodels
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#16861 FIX CL-548 - Encrypt JWT Token w/ Secrets Manager
  common/src/main/java/org/openmetadata/annotations/ExposedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/MaskedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/PasswordAnnotator.java
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
  openmetadata-airflow-apis/tests/integration/operations/run_automation.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_deploy.py
  openmetadata-docs/content/partials/v1.5/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/v1.3.x/deployment/secrets-manager/supported-implementations/aws-secrets-manager/index.md
  openmetadata-docs/content/v1.3.x/deployment/secrets-manager/supported-implementations/aws-ssm-parameter-store/index.md
  openmetadata-docs/content/v1.3.x/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
  openmetadata-docs/content/v1.3.x/deployment/secrets-manager/supported-implementations/index.md
  openmetadata-docs/content/v1.4.x/deployment/secrets-manager/supported-implementations/aws-secrets-manager/index.md
  openmetadata-docs/content/v1.4.x/deployment/secrets-manager/supported-implementations/aws-ssm-parameter-store/index.md
  openmetadata-docs/content/v1.4.x/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
  openmetadata-docs/content/v1.4.x/deployment/secrets-manager/supported-implementations/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/aws-secrets-manager/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/aws-ssm-parameter-store/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/gcp-secret-manager/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AzureKVSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/DBSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/ExternalSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/GCPSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/EntityMasker.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerLifecycleTest.java
  openmetadata-spec/src/main/resources/json/schema/auth/jwtAuth.json
Labels: Ingestion, backend, safe to test

#16995 Fix #16590: Allow only team groups to be owner
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/tests/integration/ometa/test_ometa_user_api.py
Labels: Ingestion, safe to test

#16993 Fixes #16788 : Fix feed and count api query performance
  bootstrap/sql/migrations/native/1.4.5/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.5/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.5/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.5/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test, migration

#16987 #16742: support style in entity tier
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SearchIndexSummary/SearchIndexSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#16985 MINOR: timedelta to string
  ingestion/src/metadata/utils/time_utils.py
  ingestion/tests/unit/metadata/utils/test_time_utils.py
Labels: Ingestion, safe to test

#16981 api service sample data(ometa apis)
  ingestion/examples/sample_data/ometa_api_service/ometa_api_collection.json
  ingestion/examples/sample_data/ometa_api_service/ometa_api_endpoint.json
  ingestion/examples/sample_data/ometa_api_service/service.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#16994 Minor: Fix API Endpoint listings via apiCollection param
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
Labels: backend, safe to test

#16997 FIX #16481 - Truncate ingestion pipeline status
  ingestion/src/metadata/ingestion/api/status.py
  ingestion/src/metadata/workflow/base.py
  ingestion/tests/integration/ometa/test_ometa_ingestion_pipeline.py
  ingestion/tests/integration/postgres/test_data_quality.py
Labels: Ingestion, safe to test

#17002 Doc: Update Custom Connector Docs
  openmetadata-docs/content/v1.4.x/connectors/custom-connectors.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/custom-connectors.md
  openmetadata-docs/images/v1.4/connectors/custom-connector.png
  openmetadata-docs/images/v1.5/connectors/custom-connector.png
Labels: documentation

#16999 #16980: fix the asset count and placeholder issue in teams page
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Labels: UI, safe to test, e2e:Settings

#16989 Doc: Update Test Suite Docs
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/quality/configure.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/quality-and-observability/data-quality/index.md
Labels: documentation, safe to test

#16920 Fixes #16697: Modify the Query to avoid Numeric Data Overflow
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/orm/functions/sum.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
Labels: Ingestion, safe to test

#17006 MINOR - Clean automations_workflow in 1.4.5
  bootstrap/sql/migrations/native/1.4.5/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.5/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#17011 Minor: Fix API docs
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APIEndpointResource.java
Labels: backend, safe to test

#16881 fix(#15683): backend validation error for the following property types
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/TypeRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/CustomProperty.constant.ts
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Customproperties-part1.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Customproperties-part2.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/CustomProperty.md
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
Labels: UI, backend, safe to test, e2e, e2e:Settings

#16474 #16343: activity feed ui improvements
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/DescriptionFeed/DescriptionFeed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, e2e:Governance, e2e:DataAssets

#17028 Minor: fix API Service Index entity type
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIServiceIndex.java
Labels: backend, safe to test

#17027 feat: allow specify schemaRegistryTopicSuffixName
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/kafkaConnection.json
Labels: Ingestion, backend, safe to test

#17035 Minor: Fix the broken links in the documentation
  openmetadata-docs/content/v1.4.x/connectors/database/db2/index.md
  openmetadata-docs/content/v1.4.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.4.x/developers/index.md
Labels: documentation, UI, safe to test

#17030 Minor: added support for search param based test case filter
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: UI, safe to test, e2e, e2e:Observability

#17014 Fixes 16622 - tests for EventSubscription for different resources with filters
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
Labels: backend, safe to test

#17032 [GEN-876] Implement DQ dimension filter for test cases
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMaxToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMeanToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMedianToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueMinToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValueStdDevToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesLengthsToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesMissingCountToBeEqual.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesSumToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeInSet.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeNotInSet.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeNotNull.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToBeUnique.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToMatchRegex.json
  openmetadata-service/src/main/resources/json/data/tests/columnValuesToNotMatchRegex.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnCountToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnCountToEqual.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnNameToExist.json
  openmetadata-service/src/main/resources/json/data/tests/tableColumnToMatchSet.json
  openmetadata-service/src/main/resources/json/data/tests/tableCustomSQLQuery.json
  openmetadata-service/src/main/resources/json/data/tests/tableDiff.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToBeBetween.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowCountToEqual.json
  openmetadata-service/src/main/resources/json/data/tests/tableRowInsertedCountToBeBetween.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/testDefinition.json
Labels: Ingestion, backend, data quality, safe to test

#17034 Fixes #16357: Improve Alerts Filtering with Exact FQN Matching
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
Labels: backend, safe to test

#17026 MINOR: Update test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_metabase.py
Labels: Ingestion, safe to test

#17038 chore: update webpack development proxy configuration context from `/api` to `/api/`
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Labels: UI, safe to test

#17037 fix router redirection paths
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
Labels: UI, safe to test

#17008 MINOR - enable dynamic assertion dl
  ingestion/setup.py
  ingestion/src/metadata/data_quality/builders/i_validator_builder.py
  ingestion/src/metadata/data_quality/builders/pandas_validator_builder.py
  ingestion/src/metadata/data_quality/builders/sqa_validator_builder.py
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
Labels: Ingestion, data quality, safe to test

#16874 Fix #15735: Glossary,Term, Classification,Tag rename operation fixes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/GlossaryTerm.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/add-glossary.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
Labels: backend, safe to test

#16974 [Issue-16973] Fix Issue in Import TableCsv
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: backend, safe to test

#17019 MINOR: fix column name in databricks ingestion fail
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/tests/unit/topology/database/test_databricks.py
Labels: Ingestion, safe to test

#16956 feat: BigQuery ingestion allow specify projectId and fix primary key constrains retrieval
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/unit/topology/database/test_bigquery.py
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpCredentials.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpExternalAccount.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpValues.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
Labels: Ingestion, backend, safe to test

#17050 Doc: Updating Developers Docs for OpenSearch
  openmetadata-docs/content/v1.4.x/developers/contribute/build-code-and-run-tests/openmetadata-server.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Labels: documentation

#16903 feat: add possibility to render Topic FQN from es search
  ingestion/src/metadata/utils/fqn.py
Labels: Ingestion, safe to test

#17048 MINOR: query log path as dir/file
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/tests/unit/resources/log_files/failed_logs.txt
  ingestion/tests/unit/resources/log_files/query_log_file1.csv
  ingestion/tests/unit/resources/log_files/query_log_file2.csv
  ingestion/tests/unit/test_usage_log.py
Labels: Ingestion, safe to test

#17009 fix: #16655 page breaks on changing page size with sorted table
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/ListView/ListViewTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.test.tsx
Labels: UI, safe to test, e2e:DataAssets

#17053 MINOR: Fix test case summary update on test result PUT
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: Ingestion, backend, data quality, safe to test

#17058 Doc: Updating Service Connection Images
  openmetadata-docs/images/v1.4/connectors/create-new-service.png
  openmetadata-docs/images/v1.4/connectors/visit-services-page.png
  openmetadata-docs/images/v1.5/connectors/create-new-service.png
  openmetadata-docs/images/v1.5/connectors/visit-services-page.png
Labels: documentation

#17063 Doc: Fixing Broken Link in How-to Guide
  openmetadata-docs/content/v1.4.x/how-to-guides/data-governance/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-governance/index.md
Labels: documentation

#17060 MINOR: Add PyRight TypeCheck to our Python Project
  ingestion/Makefile
  ingestion/pyproject.toml
  ingestion/setup.py
  ingestion/src/metadata/cmd.py
Labels: Ingestion, safe to test

#17070 MINOR: Update Snowflake docs to better inform the needed permissions
  openmetadata-docs/content/v1.4.x/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/snowflake/index.md
Labels: documentation, Ingestion, safe to test

#17067 minor: add apiService, apiEndpoint and apiCollection entity SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: UI, safe to test, e2e:DataAssets

#17072 MINOR: fix entity icon overlapping on text
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/entity-header-title.less
Labels: UI, safe to test, e2e:DataAssets

#17071 MINOR: Fix Vertica E2E Counts
  ingestion/tests/cli_e2e/test_cli_vertica.py
Labels: Ingestion, safe to test

#17069 MINOR - fix test definition dtype filter
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
Labels: Ingestion, backend, safe to test

#17079 minor: saml reject token renewal
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
Labels: UI, safe to test

#17082 Centralize OIDC Flow to handler, and refresh logic
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthCallbackServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLoginServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLogoutServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthRefreshServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlAssertionConsumerServlet.java
  openmetadata-spec/src/main/resources/json/schema/security/client/oidcClientConfig.json
Labels: backend, safe to test, e2e

#17087 [Issue-17054] Ignore Entity No Change Events
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
Labels: backend, safe to test

#17088 [Issue-16569] Fix App Issue on Disabled
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: backend, safe to test

#17089 [Issue- 13263]Add Sync Option in OpenmetadataOperations
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#16828 Fix Users Issue due to capital names
  bootstrap/sql/migrations/native/1.5.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/CatalogPrincipal.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
Labels: backend, safe to test, e2e

#16961 Minor: Resolve the ws package version conflict from dependencies
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, e2e

#17083 Fix: test case indexing -- remove changeDescription from testSuites list
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, safe to test, search

#17077 #17043: fix the same suggestion content being displayed on task
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
Labels: UI, safe to test, e2e:DataAssets

#17084 MINOR: Fix Oracle E2E Tests
  ingestion/src/metadata/cmd.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
Labels: Ingestion, safe to test

#17055 Fixes #16501: Optimize Rows Sample Type Snowflake
  ingestion/src/metadata/profiler/processor/sampler/sampler_factory.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/snowflake/sampler.py
Labels: Ingestion, safe to test

#16975 MINOR[GEN-978]: Fix empty test suites
  ingestion/src/metadata/data_quality/api/models.py
  ingestion/src/metadata/data_quality/processor/test_case_runner.py
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/data_quality/conftest.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/integration/data_quality/test_data_quality.py
  ingestion/tests/unit/data_quality/source/test_test_suite.py
Labels: Ingestion, safe to test

#17090 Doc: Updating Athena Service Connection Docs
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Athena.md
Labels: UI, safe to test

#17076 Doc: Updating BigTable Service Connection Docs
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigQuery.md
Labels: UI, safe to test

#17100 fix: handle potential null pointer in test case reindex
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Labels: Ingestion, backend, safe to test, search

#17103 Doc: Updated Athena Docs
  openmetadata-docs/content/v1.4.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/athena/index.md
Labels: documentation

#17073 Fixes #17051: Dynamic import for Profiler Interface
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/tests/unit/profiler/test_profiler_interface_factory.py
Labels: Ingestion, safe to test

#17101 MINOR - Update MetaPilot config
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metaPilotAppConfig.json
Labels: Ingestion, backend, safe to test

#17080 fix(#17016): apply Read-Only Mode to All Custom and Built-In Nodes in Block Editor
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockMenu/BlockMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BubbleMenu/BubbleMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/EditorSlots.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/CalloutComponent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/CalloutComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/MathEquation/MathEquationComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageComponent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/TableMenu/TableMenu.tsx
Labels: UI, safe to test, e2e:DataAssets

#17099 Minor: Group search AUT fix
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/AdvancedSearch.ts
Labels: UI, safe to test, e2e, e2e:DataAssets

#17108 Add Alert Name to Publishers
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AlertFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/Destination.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/email/EmailPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/feed/ActivityFeedPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/gchat/GChatPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/generic/GenericPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/msteams/MSTeamsPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/slack/SlackEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
Labels: backend, safe to test

#17105 Minor: Add Bound to Setuptools
  ingestion/operators/docker/Dockerfile.ci
Labels: Ingestion, safe to test

#17115 Minor: fixed testSummaryGraph issue
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Labels: UI, safe to test, e2e

#17061 Fix #16786: Added domo federated dataset support
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/models.py
Labels: Ingestion, safe to test
