Repository open-metadata/OpenMetadata, pull requests merged in 2024-11, with the labels that each got.

#18488 Feat: supporting pr for incident manager widget feature
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
Labels: UI, safe to test

#18495 Set max_analyzed_offset in HighlightBuilder to Fix Highlighting Errors for Large Fields
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#18498 Add LineageSettings to control Lineage Default depth, layers
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/limitsConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/lineageSettings.json
  openmetadata-spec/src/main/resources/json/schema/configuration/searchSettings.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Labels: backend, safe to test

#18504 MINOR: add entityFQN to incident index
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
Labels: Ingestion, safe to test

#18497 Make Export CSV Async API, websocket to push data back
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AsyncService.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/CSVExportMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/CSVExportResponse.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/WebsocketNotificationHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/assets/svg/banner/ic-banner-error.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/banner/ic-banner-success.svg
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Banner/Banner.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Banner/banner.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/teamsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: backend, safe to test

#18458 MINOR: fix create admin page data and fields
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/CreateUser/CreateUser.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test

#18511 Enhanced Glue ingestion with external table features
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/models.py
  ingestion/tests/unit/resources/datasets/glue_db_dataset.json
  ingestion/tests/unit/topology/database/test_glue.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/glue/index.md
Labels: safe to test

#18494 Fix tests
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/APIServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MlModelServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/SearchServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/StorageServiceResourceTest.java
Labels: backend, safe to test

#18521 Fix #18512: Return s3 endpoint as str() instead of Url
  ingestion/src/metadata/ingestion/source/database/iceberg/fs/s3.py
  ingestion/tests/unit/topology/database/test_iceberg.py
Labels: Ingestion, safe to test

#18467 Fix #17778 : Databricks query run optimisation
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
Labels: Ingestion, safe to test

#18527 Docs: Adding Connector Docs for MicroStrategy & Lightdash
  openmetadata-docs/content/partials/v1.5/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/partials/v1.6/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/lightdash/index.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/lightdash/yaml.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/microstrategy/yaml.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/lightdash/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/lightdash/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/microstrategy/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.5/connectors/lightdash/add-new-service.png
  openmetadata-docs/images/v1.5/connectors/lightdash/select-service.png
  openmetadata-docs/images/v1.5/connectors/lightdash/service-connection.png
  openmetadata-docs/images/v1.5/connectors/microstrategy/add-new-service.png
  openmetadata-docs/images/v1.5/connectors/microstrategy/select-service.png
  openmetadata-docs/images/v1.5/connectors/microstrategy/service-connection.png
  openmetadata-docs/images/v1.6/connectors/lightdash/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/lightdash/select-service.png
  openmetadata-docs/images/v1.6/connectors/lightdash/service-connection.png
  openmetadata-docs/images/v1.6/connectors/microstrategy/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/microstrategy/select-service.png
  openmetadata-docs/images/v1.6/connectors/microstrategy/service-connection.png
Labels: documentation, safe to test

#18519 fix: Remove DataSourceFactory credentials from logs
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#18513 GEN-2000: Add Support for PowerBI Report Server
  ingestion/src/metadata/examples/workflows/powerbi_report_server.yaml
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/powerbi-report-server/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/powerbi-report-server/yaml.md
  openmetadata-docs/images/v1.6/connectors/powerbireportserver/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/powerbireportserver/select-service.png
  openmetadata-docs/images/v1.6/connectors/powerbireportserver/service-connection.png
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/powerbireportserver.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/powerBIReportServerConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/PowerBIReportServer.md
Labels: Ingestion, safe to test

#18529 Minor: lineage settings should be readable by all users
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Labels: backend, safe to test

#18530 MINOR: Airflow dependency Fix
  ingestion/setup.py
Labels: Ingestion, safe to test

#18522 App settings - lineage config
  openmetadata-ui/src/main/resources/ui/playwright/constant/settings.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/LineageConfiguration.md
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-lineage-config.svg
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageConfigModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageLayers/LineageLayers.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageLayers/LineageLayers.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Banner/Banner.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Banner/banner.less
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/LineageConfigPage/LineageConfigPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchRBACSettingsPage/SearchRBACSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/settingConfigAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Labels: UI, safe to test

#18516 GEN-1937 : Fix - User count doesn’t update on adding to the team while using search
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/resources/elasticsearch/en/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/team_index_mapping.json
Labels: backend, safe to test

#18536 Fix #18497 Socket Dependency
  openmetadata-service/pom.xml
Labels: safe to test

#18534 Add what's new for 1.5.11 release
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#18533 MINOR: Fix pytest 3.11 taking 2hr
  ingestion/setup.py
Labels: Ingestion, safe to test

#18526 Minor: improve the entity export modal feedback message
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Banner/Banner.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Banner/banner.less
Labels: UI, safe to test

#18477 [ER Diagrams]: Fix EntityRelationship data disappeared after reindexing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
Labels: Ingestion, safe to test

#18539 MINOR: Fix Materialised View Lineage
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
Labels: Ingestion, safe to test

#18515 add offset limits to hierarchy listing
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Labels: backend, safe to test

#18464 MINOR: use enum.Enum instead of sqlalchemy enum for Dialects
  ingestion/src/metadata/profiler/orm/registry.py
Labels: Ingestion, safe to test

#18496 GEN-1894 GEN-771 : Improvement - Add displayName field for custom property
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v160/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/customProperty.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/CustomProperty.md
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/EditTableTypePropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
Labels: backend, safe to test

#18544 Minor: style improvement for DataStatisticWidget
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/DataStatisticWidget/DataStatisticWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/DataStatisticWidget/data-statistic-widget.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test

#18452 Connector: add stitch schema
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/stitch.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/stitchConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
Labels: Ingestion, safe to test

#18546 GEN-2009: update the delete message for ingestion pipeline
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#18478 [GEN-1991] fix(profiler): disable view by default
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
Labels: Ingestion, safe to test

#18433 Fix 18434: feat(statistics-profiler): use statistics tables to profile trino tables
  ingestion/src/_openmetadata_testutils/dict.py
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/examples/workflows/trino_profiler.yaml
  ingestion/src/metadata/ingestion/source/database/trino/profiler/__init__.py
  ingestion/src/metadata/ingestion/source/database/trino/profiler/system_tables_profiler.py
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/stored_statistics_profiler.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/trino/profiler_interface.py
  ingestion/src/metadata/utils/collaborative_super.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/trino/conftest.py
  ingestion/tests/integration/trino/test_profiler.py
  ingestion/tests/unit/utils/test_collaborative_super.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/connectionBasicType.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
Labels: Ingestion, safe to test

#18543 Add: Azure Data factory Connector
  ingestion/src/metadata/examples/workflows/datafactory.yaml
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/datafactory/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/images/v1.6/connectors/datafactory/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/datafactory/select-service.png
  openmetadata-docs/images/v1.6/connectors/datafactory/service-connection.png
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/datafactory.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/datafactoryConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/DataFactory.md
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: Ingestion, safe to test

#18538 Docs: Fixing connector Docs for MicroStrategy
  openmetadata-docs/content/partials/v1.6/connectors/api/connectors-list.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/microstrategy/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/api/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/microstrategy/yaml.md
Labels: safe to test

#18555 Docs: Adding logo for MSTR, Qlik Cloud & dbtCloud
  openmetadata-docs/images/connectors/dbtcloud.webp
  openmetadata-docs/images/connectors/microstrategy.webp
  openmetadata-docs/images/connectors/qlikcloud.webp
Labels: safe to test

#18561 Docs: Removing Roadmap from collate docs
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/roadmap/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/api/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/roadmap/index.md
Labels: safe to test

#18552 Add export apis back and new apis should be called exportAsync
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/teamsAPI.ts
Labels: backend, safe to test

#18560 MINOR: Fix table not found error
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/tests/integration/postgres/test_lineage.py
Labels: Ingestion, safe to test

#18564 Debuggability Improvements and Fixes
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionCleanupJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-spec/src/main/resources/json/schema/events/api/eventSubscriptionDiagnosticInfo.json
Labels: backend, safe to test, Alert & Notifications

#18554 Minor: JsonUtils.extractValue shouldn't throw exceptions
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
Labels: backend, safe to test

#18567 Minor: Return pagination of for listHierarchy
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Labels: backend, safe to test

#18486 MINOR - Update Lineage Propagation Config
  .gitignore
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/lineagePropagationAction.json
Labels: Ingestion, safe to test

#18568 MINOR: Fix PostgreSQL query for deleting old records
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: backend, safe to test

#17771 Improve Templates for Slack, GChat, and MSTeams
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/email/EmailPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/gchat/GChatMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/msteams/TeamsMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/slack/SlackAttachment.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/slack/SlackEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/slack/SlackMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/MSTeamsCallbackResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/SlackCallbackResource.java
Labels: backend, safe to test

#18565 Mask SQL Queries in Usage & Lineage Workflow
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/lineage/masker.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/athena/lineage.py
  ingestion/src/metadata/ingestion/source/database/athena/usage.py
  ingestion/src/metadata/ingestion/source/database/databricks/lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks/usage.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/src/metadata/ingestion/source/database/postgres/usage.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/redshift/lineage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/unit/test_databricks_lineage.py
  ingestion/tests/unit/test_sql_lineage.py
  ingestion/tests/unit/test_usage_log.py
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/type/queryParserData.json
  openmetadata-spec/src/main/resources/json/schema/type/tableQuery.json
Labels: Ingestion, safe to test

#18476 GEN-1418: DI - Allow Support for Multiple Metrics
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchSummaryCardAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchSummaryCardAggregator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDynamicChartAggregatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchDynamicChartAggregatorTest.java
  openmetadata-spec/src/main/resources/json/schema/dataInsight/custom/dataInsightCustomChartResult.json
  openmetadata-spec/src/main/resources/json/schema/dataInsight/custom/lineChart.json
Labels: Ingestion, safe to test

#18532 [GEN-1996] feat(data-quality): use sampling config in data diff
  ingestion/setup.py
  ingestion/src/metadata/data_quality/validations/models.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/profiler/orm/functions/md5.py
  ingestion/src/metadata/profiler/orm/functions/substr.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/unit/metadata/data_quality/test_data_diff.py
Labels: Ingestion, safe to test

#18571 GEN-1877 : Added Sigma Column Level Lineage and Datamodels
  ingestion/src/metadata/ingestion/source/dashboard/sigma/client.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/models.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
Labels: Ingestion, safe to test

#18470 MINOR: fix system profile return types
  ingestion/pyproject.toml
  ingestion/src/metadata/ingestion/source/database/bigquery/profiler/profiler.py
  ingestion/src/metadata/ingestion/source/database/bigquery/profiler/system.py
  ingestion/src/metadata/ingestion/source/database/redshift/profiler/profiler.py
  ingestion/src/metadata/ingestion/source/database/redshift/profiler/system.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/profiler.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/system.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Labels: Ingestion, safe to test

#18580 GEN-920 Minor: lineage data quality failure tracing support
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Lineage/Lineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/lineageAPI.ts
Labels: UI, safe to test

#18581 Minor: fixed sample data overlapping issue
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/RowData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
Labels: UI, safe to test

#18572 GEN 1184 - Added Workflow Classification and Metric LevelConfig
  ingestion/src/metadata/ingestion/models/entity_interface.py
  ingestion/src/metadata/ingestion/source/database/trino/profiler/system_tables_profiler.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/mariadb/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/single_store/profiler_interface.py
  ingestion/src/metadata/profiler/orm/converter/bigquery/converter.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/processor.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/profiler/source/database/bigquery/profiler_source.py
  ingestion/src/metadata/profiler/source/database/bigquery/type_mapper.py
  ingestion/src/metadata/profiler/source/database/databricks/profiler_source.py
  ingestion/src/metadata/profiler/source/database/mariadb/functions/median.py
  ingestion/src/metadata/profiler/source/database/mariadb/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/source/database/mariadb/metrics/window/median.py
  ingestion/src/metadata/profiler/source/database/mariadb/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/source/database/single_store/functions/median.py
  ingestion/src/metadata/profiler/source/database/single_store/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/source/database/single_store/metrics/window/median.py
  ingestion/src/metadata/profiler/source/database/single_store/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/source/fetcher/entity_fetcher.py
  ingestion/src/metadata/profiler/source/fetcher/fetcher_strategy.py
  ingestion/src/metadata/profiler/source/fetcher/profiler_source_factory.py
  ingestion/src/metadata/profiler/source/metadata.py
  ingestion/src/metadata/profiler/source/metadata_ext.py
  ingestion/src/metadata/profiler/source/model.py
  ingestion/src/metadata/utils/entity_utils.py
  ingestion/src/metadata/utils/filters.py
  ingestion/tests/integration/data_quality/test_data_quality.py
  ingestion/tests/integration/postgres/test_data_quality.py
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_map_struct.py
  ingestion/tests/unit/profiler/test_workflow.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/TopActiveUsers.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: Ingestion, safe to test

#18556 Improve parallelization in SearchIndexApp
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/CostAnalysisWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataQuality/DataQualityWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/WebAnalyticsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/sources/PaginatedWebAnalyticEventDataSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/BulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/Stats.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/interfaces/Source.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntityTimeSeriesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/searchIndexingAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/ApplicationUtils.mock.ts
Labels: backend, safe to test

#18578 Minor: add searchPageHierarchy method
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Labels: backend, safe to test

#18597 Docs: One Line Updation in Security Section
  openmetadata-docs/content/partials/v1.5/deployment/configure-ingestion.md
  openmetadata-docs/content/partials/v1.6/deployment/configure-ingestion.md
Labels: safe to test

#18605 Fix Search Index Contention
  bootstrap/sql/migrations/native/1.5.11/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.11/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.11/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.11/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/searchIndexingAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: backend, safe to test

#18591 Search RBAC improvements
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/ConditionCollector.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/ElasticSearchRBACConditionEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/OpenSearchRBACConditionEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: backend, safe to test

#18558 Fixes GEN-1994: Remove View Lineage from Metadata Ingestion flow
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/iceberg/metadata.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/ingestion/source/database/sas/metadata.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/integration/postgres/test_lineage.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/upgrade/versions/150-to-160.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/developers/contribute/developing-a-new-connector/develop-ingestion-code.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
Labels: Ingestion, safe to test

#18616 Fix Version Comparison Logic
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
Labels: backend, safe to test

#18585 MINOR: Summary Card changes require for New UI
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v150/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchSummaryCardAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchSummaryCardAggregator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDynamicChartAggregatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchDynamicChartAggregatorTest.java
  openmetadata-spec/src/main/resources/json/schema/dataInsight/custom/summaryCard.json
Labels: Ingestion, safe to test

#18617 update icon for suggestions description
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-suggestions-coloured.svg
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsAlert/SuggestionsAlert.tsx
Labels: safe to test

#18621 Search Index Update Default Values
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: backend, safe to test

#18618 fix playwright lineage tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
Labels: UI, safe to test

#18541 Fix 18402: build(setup-py): update pydantic version
  ingestion/setup.py
Labels: Ingestion, safe to test

#18611 Fix 16805: pagination dropdown issue
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APIEndpointsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaDetailsUtils.tsx
Labels: UI, safe to test

#18623 fix: checkmark saves wrong custom property field
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
Labels: UI, safe to test

#18630 GEN-2071 fix: logs loading issue and reduce repetitive api call
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
Labels: UI, safe to test

#18613 MINOR: Fix App Insights not processing URL Encoded Data Assets
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/webAnalytics/processors/WebAnalyticsEntityViewProcessor.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
Labels: Ingestion, safe to test

#18633 Fix Unlimited Queue Size Issue
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: backend, safe to test

#18628 MINOR - fix config for workflows
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetEntityCertificationTask.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setEntityCertificationTask.json
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
Labels: UI, safe to test

#18620 [Snyk] Security upgrade software.amazon.awssdk:secretsmanager from 2.29.1 to 2.29.11
  openmetadata-service/pom.xml
Labels: UI, safe to test

#18584 Feat: Support for column customization for Glossary term table
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/menu-duo.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryColumnsSelectionDropdown/DraggableMenuItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
Labels: safe to test

#18614 GEN-1933: Separate Description Status for table and column
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ColumnIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Labels: Ingestion, safe to test

#18587 Add support for another language: Português (Portugal)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: safe to test

#18634 DI - Add metric name in group name
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchDynamicChartAggregatorInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregator.java
Labels: Ingestion, safe to test

#18595 Add Thai languages
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: safe to test

#18638 Minor: show metric granularity in smallest to largest order unit
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricHeaderInfo/MetricHeaderInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.ts
Labels: UI, safe to test

#18590 Fix: support string value for xAxis apart from date
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: safe to test

#18629 MINOR: quicksight e2e fix
  ingestion/tests/cli_e2e/test_cli_quicksight.py
Labels: Ingestion, safe to test

#18626 Fix #16110 - Add support to ingest tags airflow
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
Labels: safe to test

#18643 MINOR: Add missing queueSize in searchIndexingAppConfig
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/searchIndexingAppConfig.json
Labels: Ingestion, safe to test

#18642 MINOR: Fix Redshift DBT Playwright
  openmetadata-ui/src/main/resources/ui/playwright/constant/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
Labels: Ingestion, safe to test

#18598 fix #17726 Databricks schema name with hyphen issue
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/tests/unit/test_databricks_schema.py
Labels: safe to test

#18645 MINOR: Fix user search - exclude bots
  ingestion/src/metadata/ingestion/ometa/mixins/user_mixin.py
  ingestion/tests/integration/ometa/test_ometa_user_api.py
Labels: Ingestion, safe to test

#18648 Search Index Issues
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Labels: backend, safe to test

#18632 [GEN-1996] Data diff sample fix
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/unit/metadata/data_quality/test_data_diff.py
Labels: Ingestion, safe to test

#16196 feat: use native trino client authentication classes
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/stored_statistics_profiler.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/common/azureConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/common/noConfigAuthenticationTypes.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
Labels: Ingestion, backend, safe to test

#18609 MINOR: fix owner link and update search index in navbar
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Navbar.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/navbar.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/context/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/__snapshots__/Database.util.test.tsx.snap
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Labels: safe to test

#18582 Minor: Fix Mysql cli Update table count
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#18653 Fix: update glossary terms table stylings and temporarily bypass failing drag-and-drop test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryColumnsSelectionDropdown/DraggableMenuItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
Labels: safe to test

#18652 Update the jsonpath-plus resolution version to fix the vulnerability
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#18659 GEN-1694: metric entity improvement
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricExpression/MetricExpression.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/rich-text-editor-previewer.less
  openmetadata-ui/src/main/resources/ui/src/enums/codemirror.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.ts
Labels: UI, safe to test

#18658 MINOR: Update Glossary Approval Workflow name
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
Labels: Ingestion, safe to test

#18662 Fix: Resolve Issues in Glossary Terms Table Column Reordering Dropdown Drag-and-Drop Test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Labels: safe to test

#18664 MINOR: Improve PeriodicBatchEntityTrigger Workflows performance
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/MainWorkflowHasFinishedListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/NodeInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetEntityCertificationImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/endEvent/EndEvent.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/EventBasedEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/PeriodicBatchEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchEntitiesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FilterEntityImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/TriggerBatchEntityWorkflowImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/builders/CallActivityBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/builders/MultiInstanceLoopCharacteristicsBuilder.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/periodicBatchEntityTrigger.json
Labels: Ingestion, safe to test

#18456 Fixes GEN-1260: Add Validators while creating table to escape special characters
  ingestion/examples/sample_data/datasets/tables.json
  ingestion/examples/sample_data/looker/dashboardDataModels.json
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/config/common.py
  ingestion/src/metadata/data_quality/api/models.py
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/profiler/orm/converter/base.py
  ingestion/src/metadata/utils/entity_link.py
  ingestion/tests/integration/alationsink/test_alationsink.py
  ingestion/tests/unit/metadata/utils/test_entity_link.py
  ingestion/tests/unit/models/test_custom_pydantic.py
  ingestion/tests/unit/test_fqn.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/MessageParser.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FullyQualifiedName.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityUtilTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/FullyQualifiedNameTest.java
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/Fqn.g4
Labels: Ingestion, safe to test

#18672 Add Queue Size in Configuration
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: backend, safe to test

#18675 Change Defaults Values for Indexing
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#18667 FIX: test summary reindexing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
Labels: Ingestion, safe to test

#18670 Minor: Fix Column Level Lineage export
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: backend, safe to test

#18651 [Snyk] Security upgrade software.amazon.awssdk:ssm from 2.29.11 to 2.29.13
  openmetadata-service/pom.xml
Labels: backend, safe to test

#18649 Search Index Optimizations
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#18674 Minor: Add SanitizedInput Component for Input Sanitization
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SanitizedInput/SanitizedInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SanitizedInput/SanitizedInput.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#18683 fix: overflowing metrics for kpi charts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/kpi-widget.less
Labels: safe to test

#18671 MINOR: added domain data in lineage side panel and fix relatedColumn search TableConstraints modal
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SearchIndexSummary/SearchIndexSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraintsModal/TableConstraintsModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TopicDetailsUtils.ts
Labels: UI, safe to test

#18657 fix: update dashboard data model when sql changes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
Labels: safe to test

#18685 Removed Consumer
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
Labels: backend, safe to test

#18692 Minor: Fix the maven build on main
  openmetadata-ui/src/main/resources/ui/src/constants/Ingestions.constant.ts
Labels: UI, safe to test

#18684 Slack app improvements
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/slackAppTokenConfiguration.json
Labels: backend, safe to test

#18679 MINOR: Move from Date to LocalDate for thread safe operations
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/usage/UsageResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/usage/UsageResourceTest.java
Labels: Ingestion, safe to test

#18704 Docs: Metapilot Updation to Collate AI
  openmetadata-docs/content/v1.5.x/Metapilot/how-to-use-metapilot.md
  openmetadata-docs/content/v1.5.x/Metapilot/index.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/collateai/how-to-use-collate-ai.md
  openmetadata-docs/content/v1.5.x/collateai/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/Metapilot/how-to-use-metapilot.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/Metapilot/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-ai/how-to-use-collate-ai.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-ai/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/images/v1.5/collate-ai/fixing-sql-queries-1.png
  openmetadata-docs/images/v1.5/collate-ai/fixing-sql-queries-3.png
  openmetadata-docs/images/v1.5/collate-ai/fixing-sql-queries-4.png
  openmetadata-docs/images/v1.5/collate-ai/reviewing-generated-metadata.png
  openmetadata-docs/images/v1.5/collate-ai/setting-up-collate-ai-1.png
  openmetadata-docs/images/v1.5/collate-ai/setting-up-collate-ai-2.png
  openmetadata-docs/images/v1.5/collate-ai/setting-up-collate-ai-3.png
  openmetadata-docs/images/v1.5/collate-ai/setting-up-collate-ai-4.png
  openmetadata-docs/images/v1.5/collate-ai/using-collate-ai-chatbot-1.png
  openmetadata-docs/images/v1.5/collate-ai/using-collate-ai-chatbot-2.png
  openmetadata-docs/images/v1.5/metapilot/setting-up-metapilot-2.png
  openmetadata-docs/images/v1.5/metapilot/setting-up-metapilot-3.png
  openmetadata-docs/images/v1.5/metapilot/setting-up-metapilot-4.png
  openmetadata-docs/images/v1.6/collate-ai/fixing-sql-queries-1.png
  openmetadata-docs/images/v1.6/collate-ai/fixing-sql-queries-3.png
  openmetadata-docs/images/v1.6/collate-ai/fixing-sql-queries-4.png
  openmetadata-docs/images/v1.6/collate-ai/reviewing-generated-metadata.png
  openmetadata-docs/images/v1.6/collate-ai/setting-up-collate-ai-1.png
  openmetadata-docs/images/v1.6/collate-ai/setting-up-collate-ai-2.png
  openmetadata-docs/images/v1.6/collate-ai/setting-up-collate-ai-3.png
  openmetadata-docs/images/v1.6/collate-ai/setting-up-collate-ai-4.png
  openmetadata-docs/images/v1.6/collate-ai/using-collate-ai-chatbot-1.png
  openmetadata-docs/images/v1.6/collate-ai/using-collate-ai-chatbot-2.png
  openmetadata-docs/images/v1.6/metapilot/setting-up-metapilot-2.png
  openmetadata-docs/images/v1.6/metapilot/setting-up-metapilot-3.png
  openmetadata-docs/images/v1.6/metapilot/setting-up-metapilot-4.png
Labels: safe to test

#18705 MINOR: Add Try/Except to store procedure yielding
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
Labels: Ingestion, safe to test

#18687 #18677 - Added Lineage Field back to SearchLineage
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNode.utils.tsx
Labels: Ingestion, safe to test

#18706 Docs: Collate Image Path Rectification
  openmetadata-docs/content/v1.5.x/collateai/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-ai/index.md
Labels: safe to test

#18707 FIX: handle potential null node in DQ failure lineage
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, safe to test

#18708 Docs: Custom Metric Updation in profiler
  openmetadata-docs/content/v1.5.x/how-to-guides/data-quality-observability/profiler/metrics.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/metrics.md
  openmetadata-docs/images/v1.5/features/ingestion/workflows/profiler/custom-metric1.png
  openmetadata-docs/images/v1.5/features/ingestion/workflows/profiler/custom-metric2.png
  openmetadata-docs/images/v1.5/features/ingestion/workflows/profiler/custom-metric3.png
  openmetadata-docs/images/v1.5/features/ingestion/workflows/profiler/custom-metric4.png
  openmetadata-docs/images/v1.6/features/ingestion/workflows/profiler/custom-metric1.png
  openmetadata-docs/images/v1.6/features/ingestion/workflows/profiler/custom-metric2.png
  openmetadata-docs/images/v1.6/features/ingestion/workflows/profiler/custom-metric3.png
  openmetadata-docs/images/v1.6/features/ingestion/workflows/profiler/custom-metric4.png
Labels: safe to test

#18698 MINOR: Update Glossary Term tests
  ingestion/tests/integration/ometa/conftest.py
  ingestion/tests/integration/ometa/test_ometa_glossary.py
Labels: Ingestion, safe to test

#18710 MINOR - Fallback for testsuite imports
  ingestion/src/metadata/data_quality/runner/base_test_suite_source.py
  ingestion/src/metadata/utils/service_spec/service_spec.py
Labels: Ingestion, safe to test

#18713 MINOR: Fix missing check on set entity certification
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetEntityCertificationImpl.java
Labels: Ingestion, safe to test

#18588 [GEN-970] feat(data-quality): support multiple runtime parameter types
  ingestion/src/metadata/data_quality/builders/i_validator_builder.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
Labels: Ingestion, safe to test

#18717 minor: improve rule card actions dropdown
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
Labels: UI, safe to test

#18721 MINOR - Fix import
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
Labels: Ingestion, safe to test

#18724 Fixed: GEN-1984 Hide Support field from service form
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: UI, safe to test

#18723 fix: test case result reindex performance
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResultIndex.java
Labels: Ingestion, safe to test

#18718 MINOR: shown NoDataPlaceholder if no search result found in glossary
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-type-icon/string.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: UI, safe to test

#18712 MINOR: doc(mongodb): mongodb+srv connection scheme
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/mongodb/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/mongodb/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mongoDBConnection.json
Labels: documentation, Ingestion, safe to test

#18719 fix: modify fqn to allow quotes with dots
  ingestion/examples/sample_data/looker/dashboardDataModels.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/unit/test_fqn.py
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/Fqn.g4
Labels: Ingestion, safe to test

#18726 fix the switch placement and added beta tag
  openmetadata-ui/src/main/resources/ui/src/components/PageHeader/PageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PageHeader/PageHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchRBACSettingsPage/SearchRBACSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Labels: UI, safe to test

#18715 NoSchedule as ScheduleType for Slack App
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/resources/json/schema/configuration/slackAppConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.test.tsx
Labels: backend, safe to test

#18735 Fix: time series of conversion of y-Axis in test case graph
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Labels: UI, safe to test

#18739 Docs: Version Updation on Python SDK
  openmetadata-docs/content/v1.5.x/sdk/python/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#18738 GEN-2078: fix minor styling of domain component
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
Labels: UI, safe to test

#18666 docs: add stich docs
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/stitch/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/stitch/yaml.md
  openmetadata-docs/images/v1.6/connectors/stitch/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/stitch/select-service.png
  openmetadata-docs/images/v1.6/connectors/stitch/service-connection.png
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Stitch.md
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: documentation, Ingestion, safe to test

#18742 Fixes #18441 - Kafka Connect Ingestion Undecrypted Password
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
Labels: safe to test

#18750 Minor: Fix Athena location path
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
Labels: Ingestion, safe to test

#18733 Minor: Search RBAC, handle tier tags
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
Labels: backend, safe to test

#18734 Minor: skip domain check for bots and admin
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
Labels: backend, safe to test

#18751 Minor: address dq feedback and move lineage tracing in observability layer
  openmetadata-ui/src/main/resources/ui/src/assets/svg/no-dimension-icon.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusCardWidget/status-card-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: UI, safe to test

#18752 GEN-1529: Fix View definition tab, query display issue
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/table-profiler.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
Labels: UI, safe to test

#18647 Add async apis for csv import
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/CSVImportMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/CSVImportResponse.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/WebsocketNotificationHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/BulkImport/BulkEntityImport.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BulkImport/BulkEntityImport.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/import-glossary.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/entity-import.style.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/ImportTeamsPage/ImportTeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/ImportTeamsPage/ImportTeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/teamsAPI.ts
Labels: backend, safe to test

#18754 GEN-1530: fix DQ Layout Improvements
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: UI, safe to test

#18744 MINOR: Governance Workflows fixes
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/PeriodicBatchEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchEntitiesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/periodicBatchEntityTrigger.json
Labels: Ingestion, safe to test

#18756 playwright: fixed failing incident manager test
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CommonEntitySummaryInfo/CommonEntitySummaryInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#18747 MINOR: modify some test id in table constraints
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
Labels: UI, safe to test

#18743 minor: add whats new for 1.5.12
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#18768 Minor : update import csv response message
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
Labels: backend, safe to test

#18668 fix(ui): GEN-1690 sso token refresh issue for OIDC
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test

#18740 MINOR: Fix StackTraceError validation error - Superset
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
Labels: Ingestion, safe to test

#18767 MINOR: Add UDF support for SP - backend
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/StoredProcedureResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createStoredProcedure.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/storedProcedure.json
Labels: Ingestion, safe to test

#18749 MINOR: Add Mysql Lineage & Usage Support 1.5.12
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/mysql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mysql/queries.py
  ingestion/src/metadata/ingestion/source/database/mysql/query_parser.py
  ingestion/src/metadata/ingestion/source/database/mysql/usage.py
  ingestion/src/metadata/utils/logger.py
  openmetadata-service/src/main/resources/json/data/testConnections/database/mysql.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql.md
Labels: Ingestion, safe to test

#18773 minor: update whats new for 1.5.12
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test
