Repository open-metadata/OpenMetadata, pull requests merged in 2025-03, with the labels that each got.

#20038 fix(ui): tour page issue clicking on tour from welcome screen
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/context/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: UI, safe to test

#20040 feat(ui): support /logout path to perform logout from api redirect
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LogoutPage/LogoutPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogoutPage/LogoutPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test

#19927 [Snyk] Security upgrade axios from 1.7.4 to 1.7.8
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#20042 Chore: Fix the generated type error in main
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMlModelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createStorageService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/voteRequest.ts
  openmetadata-ui/src/main/resources/ui/src/generated/dataInsight/kpi/basic.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/filters.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/connectionBasicType.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/powerBIConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/powerbi/gcsConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/bigQueryConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/bigTableConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/datalake/gcsConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/datalakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/mlmodel/vertexaiConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/storage/gcsConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/mlmodelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/storageService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtconfig/dbtGCSConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storage/storageMetadataGCSConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storageServiceMetadataPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/security/credentials/gcpCredentials.ts
  openmetadata-ui/src/main/resources/ui/src/generated/security/credentials/gcpExternalAccount.ts
  openmetadata-ui/src/main/resources/ui/src/generated/security/credentials/gcpValues.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Service.mock.ts
Labels: UI, safe to test

#20043 Docs: 1.6.5 Release Updation
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
Labels: safe to test

#20044 Docs: Version Update to 1.6.5 in Python
  openmetadata-docs/content/v1.6.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x/sdk/python/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#20046 Docs: Azure File Updation in 1.6 & 1.7
  openmetadata-docs/content/v1.6.x/deployment/azure-passwordless-auth.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/azure-passwordless-auth.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: safe to test

#20047 Docs: Sample Data Addition in connectors
  openmetadata-docs/content/v1.6.x/connectors/database/bigtable/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/bigtable/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/couchbase/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/couchbase/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/dynamodb/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/dynamodb/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/glue/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/glue/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/iceberg/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/salesforce/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/sap-erp/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/sap-erp/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/sas/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/sas/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigtable/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigtable/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/couchbase/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/couchbase/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/domo-database/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/dynamodb/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/dynamodb/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/glue/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/glue/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/iceberg/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/salesforce/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/sap-erp/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/sap-erp/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/sas/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/sas/yaml.md
Labels: safe to test

#20014 MINOR - Fix user update roles
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Labels: Ingestion, safe to test, To release

#20035 Update page title
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/WelcomeScreen/WelcomeScreen.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/WelcomeScreen/welcome-screen.style.less
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DocumentTitle/DocumentTitle.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ResetPassword/ResetPassword.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ResetPassword/ResetPassword.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BrandData/BrandClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Labels: UI, safe to test

#19943 Add displayName field in the createCustomProperty schema
  openmetadata-spec/src/main/resources/json/schema/api/data/createCustomProperty.json
Labels: safe to test, To release

#20055 PLAYWRIGHT: fix the user spec failure for the dataConsumer user permission
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Labels: UI, safe to test

#19771 Fix glossary page performance issue with large number of terms(#19761)
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagLabelUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: backend, safe to test

#20041 MINOR: Improve memeory in temp table lineage
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
Labels: Ingestion, safe to test, To release

#20005 MINOR: Redshift - better log for view with no schema binding
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
Labels: Ingestion, safe to test, To release

#20054 MINOR: Workflow improvements
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CreateIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/CreateIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppTask.java
Labels: Ingestion, safe to test

#20065 chore(CI): Upgrade all steps actions to latest release
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/docs-tests.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build-collate.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/monitor-slack-link.yml
  .github/workflows/phylum.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/publish-maven-package.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests.yml
  .github/workflows/python-packages-publish.yml
  .github/workflows/security-scan.yml
  .github/workflows/selenium-noIngestion-tests.yml
  .github/workflows/sync-docs-v1.yml
  .github/workflows/trivy-scan-ingestion-base-slim-image.yml
  .github/workflows/trivy-scan-ingestion-image.yml
  .github/workflows/trivy-scan-openmetadta-server.yml
  .github/workflows/validate-jsons-yamls.yml
  .github/workflows/yarn-coverage.yml
Labels: devops, safe to test

#20069 Fixes 20067: Don't overwrite query to execute
  ingestion/src/metadata/ingestion/source/database/usage_source.py
Labels: safe to test, To release

#20068 Fix: Update block editor url to open when clicked
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/index.ts
Labels: UI, safe to test

#19948 MINOR - Add and remove data products Actions in Automator
  ingestion/src/metadata/ingestion/ometa/mixins/domain_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/tests/integration/ometa/test_ometa_domains_api.py
  ingestion/tests/unit/test_ometa_utils.py
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/addDataProductAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/removeDataProductAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automatorAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/addDataProductAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/removeDataProductAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test

#20076 Docs: Tableau Note Updation in Connectors
  openmetadata-docs/content/v1.5.x/connectors/dashboard/tableau/index.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/tableau/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/tableau/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/tableau/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/yaml.md
Labels: safe to test, To release

#20078 fix search query for non admin pages
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test, To release

#19825 [Snyk] Fix for 2 vulnerabilities
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#20079 MINOR: snowflake vector col. fix, unknown col. nulltype error
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
Labels: Ingestion, safe to test

#20049 #19879: supported column customization for tables
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-column.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/menu-duo.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/DraggableMenu/DraggableMenuItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/DraggableMenu/DraggableMenuItem.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/DraggableMenu/DraggableMenuItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/DraggableMenu/draggable-menu-item.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/table.less
  openmetadata-ui/src/main/resources/ui/src/constants/Glossary.contant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeColumnUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeColumnUtils.tsx
Labels: UI, safe to test

#20082 Fix Sigma not ingesting all dashboards/workbooks
  ingestion/src/metadata/ingestion/source/dashboard/sigma/client.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/models.py
Labels: Ingestion, safe to test, To release

#20087 MINOR: Add tag and description Sources to Data Insights
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
Labels: Ingestion, safe to test

#20093 MINOR: Fix test connection on updating bot jwt
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
Labels: Ingestion, safe to test

#20083 chore(ui): fix package.json with deps
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#20100 Docs: Images Updation in Profiler Workflow
  openmetadata-docs/images/v1.6/features/ingestion/workflows/profiler/configure-profiler-workflow.png
  openmetadata-docs/images/v1.6/features/ingestion/workflows/profiler/profiler-summary-column.png
  openmetadata-docs/images/v1.6/features/ingestion/workflows/profiler/profiler-summary-table.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/profiler/configure-profiler-workflow.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/profiler/profiler-summary-column.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/profiler/profiler-summary-table.png
Labels: safe to test

#20072 #19879: support column customization in service pages
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointSchema/APIEndpointSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardChartTable/DashboardChartTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineTaskTab/PipelineTaskTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ListView/ListView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/TableKeys.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APIEndpointsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTab/SearchIndexFieldsTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTab/SearchIndexFieldsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Labels: UI, safe to test

#20107 MINOR: fix user profile page playwright test
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.tsx
Labels: UI

#20106 fix timeout field in pytest ci
  .github/workflows/py-tests.yml
Labels: Ingestion, safe to test

#20088 Fix 1241: fix(updater): process nested columns
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: Ingestion, safe to test

#20101 MINOR: Modify from Profiler to Auto Classification for sample data
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DocumentationLinksClassBase.ts
Labels: Ingestion, safe to test

#20110 chore(ui): add loggedInAPI to show actual error instead generic one
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Auth.constants.ts
Labels: UI, safe to test

#19796 #1049 Day 1 Dashboard Usage - Tableau, Looker
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Labels: Ingestion, safe to test

#19960 Day1 - Pipeline Usage
  ingestion/src/metadata/ingestion/ometa/mixins/pipeline_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/models.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/tests/unit/topology/pipeline/test_dbtcloud.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineMapper.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/pipeline.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: Ingestion, safe to test

#20108 MINOR: fix the application re-loading on profile page team or role changes
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
Labels: UI, safe to test

#19912 Fixes #15696: Added Powerbi filter query
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/tests/unit/test_powerbi_filter_query.py
Labels: safe to test

#20116 Docs: ADLS datalake Connector Change
  openmetadata-docs/content/v1.5.x/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.5.x/connectors/database/adls-datalake/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/adls-datalake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/adls-datalake/yaml.md
Labels: safe to test

#20091 MINOR: fix wrong suggestion count being fetched on table change
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.tsx
Labels: UI, safe to test

#20095 MINOR: fix(change-summary): deduplication and deep copy
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChangeSummarizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ChangeSummarizerTest.java
Labels: Ingestion, safe to test

#19991 Capture Query Cost
  bootstrap/sql/migrations/native/1.7.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.0/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/lineage/masker.py
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/query_parser.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/helpers.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryCostRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryCostRecordMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryCostResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/QueryCostRecordIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createQueryCostRecord.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/queryCostRecord.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryUsagePipeline.json
  openmetadata-spec/src/main/resources/json/schema/type/queryParserData.json
  openmetadata-spec/src/main/resources/json/schema/type/tableQuery.json
  openmetadata-spec/src/main/resources/json/schema/type/tableUsageCount.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createQueryCostRecord.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/queryCostRecord.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/databaseServiceQueryUsagePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/queryParserData.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/tableQuery.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: Ingestion, safe to test

#20118 Fix #19920- Manual constraints get deleted
  ingestion/src/metadata/ingestion/models/patch_request.py
Labels: Ingestion, safe to test, To release

#20122 MINOR: Fix cost analysis build failing for postgres
  bootstrap/sql/migrations/native/1.7.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v170/Migration.java
Labels: Ingestion, safe to test

#20130 Docs: Fix the documentation links for governance workflows
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/default-workflows/dashboard-certification.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/default-workflows/glossary-approval.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/default-workflows/table-certification.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/check-entity-attributes.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/create-user-task.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/set-asset-certification.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/nodes/set-glossary-term-status.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/triggers/event-based-entity-trigger.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/elements/triggers/periodic-batch-entity-trigger.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/workflows/how-to-edit-workflow.md
Labels: documentation, UI, safe to test

#19911 Day 1 - Dashboard service lineage without db_service_name
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/lightdash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/mode/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#20121 fix #19869: Other columns are not visible when testSuite name is large
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
Labels: UI, safe to test, To release

#20129 Fix Deletion of Entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: backend, safe to test

#20111 MINOR - Add UsageDetails to EntityInterface
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
Labels: Ingestion, safe to test

#20070 MINOR - PipelineServiceClientFactory exception handling
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClientFactory.java
Labels: Ingestion, safe to test, To release

#20013 Fix #20010 - Don't initialize pipeline service client if not enabled
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClientFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/ServicesStatusJobHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: Ingestion, safe to test, To release

#20136 FIX #19765 - Improve Column Name Scanner
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/pii/scanners/column_name_scanner.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
Labels: Ingestion, safe to test, To release

#20120 Fix - Databse Schema source url constructed wrong
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
Labels: Ingestion, safe to test, To release

#20021 Added a lot of translations for the German localisation
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
Labels: safe to test

#20146 Minor: Fix the service insights card background color
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/service-insights-tab.less
Labels: UI

#20135 MINOR: fix suggestion more button throwing error
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.tsx
Labels: UI, safe to test

#20123 MINOR: Expose Workflow Stage Status and Bring OneDayApp to OSS
  bootstrap/sql/migrations/native/1.7.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dayOneExperience/DayOneExperienceApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/Workflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceStageListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowVariableHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/NodeFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CheckEntityAttributesTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CreateIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/RunIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetEntityCertificationTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetGlossaryTermStatusTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/CreateIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/RunIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppDelegate.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/endEvent/EndEvent.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/gateway/ParallelGateway.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/startEvent/StartEvent.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/UserApprovalTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/MainWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceStateRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/WorkflowDefinitionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/WorkflowInstanceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/WorkflowInstanceStateResource.java
  openmetadata-service/src/main/resources/applications/DayOneExperienceApplication/openmetadata/DayOneExperienceWorkflow.json
  openmetadata-service/src/main/resources/json/data/app/DayOneExperienceApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DayOneExperienceApplication.json
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/dayOneExperienceAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/createIngestionPipelineTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/runAppTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/runIngestionPipelineTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/workflowDefinition.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/workflowInstance.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/workflowInstanceState.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/dayOneExperienceAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/workflowDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/workflowInstance.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/workflowInstanceState.ts
Labels: Ingestion, safe to test

#20059 Docs: Domain Changes in Collate UI
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: safe to test

#19885 #19615: supported request schema field in case response field not present in OpenAPI lineage
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test, To release

#20148 Fix Airbyte -> Airflow typo in the documentation
  openmetadata-docs/content/v1.5.x/connectors/pipeline/airflow/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/airflow/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airflow/yaml.md
Labels: safe to test

#20163 chore(ci): only run maven build on Main merge
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/publish-maven-package.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests.yml
  .github/workflows/selenium-noIngestion-tests.yml
  .github/workflows/yarn-coverage.yml
Labels: UI, safe to test

#20154 Minor : Fix pipelineWidget AUT failure
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
Labels: backend, safe to test, To release

#20058 Fix Inherited Owner Not Updating in Data Product List After Removal from Domain in search
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Labels: backend, safe to test

#20168 Fix Openmetadata Operations Jdbi null
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test, To release

#20147 Fix: User profile page revamp ui improvements and Bug Fixes
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/CommentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBodyV1New.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/feed-editor.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/task-feed-card.less
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/task-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/task-tab-incident-manager-header.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfileCard/profile-details.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfilePersona/UserProfilePersona.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/users.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Chip/Chip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Chip/chip.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabelNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/CustomNoDataPlaceHolderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/NoDataPlaceholderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/rich-text-editor-previewerV1.less
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTaskNew.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: safe to test

#20156 feat(apps): trigger apps with config
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/OmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
Labels: Ingestion, safe to test

#20164 MINOR - Update DayOneExperienceApplication.json
  openmetadata-service/src/main/resources/json/data/app/DayOneExperienceApplication.json
Labels: Ingestion, safe to test

#20175 Fix Invalid Imports on the OSLineageGraphBuilder
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OSLineageGraphBuilder.java
Labels: backend, safe to test

#20134 Fix #20048: Ingestion Fails for Snowflake ARRAY Column
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Labels: Ingestion, safe to test, To release

#20184 enable showdown rendering options
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Markdown.spec.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
Labels: UI, safe to test, To release

#20186 #20144: fix the task description viewer around the diff creation
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTask.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffView/DiffView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffView/DiffView.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffView/diff-view.less
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Labels: UI, safe to test, To release

#20190 MINOR: fix e2e tests
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
  ingestion/tests/cli_e2e/test_cli_vertica.py
Labels: Ingestion, safe to test

#20182 Fixes-20112: Make domain a required field for Data Product creation
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDataProduct.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/domains/createDataProduct.ts
Labels: Ingestion, safe to test, To release

#20187 fix playwright tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
Labels: UI, safe to test

#20191 Fix table constraint error
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
Labels: Ingestion, safe to test, To release

#20169 fix: return None for BQ partition handler
  ingestion/src/metadata/sampler/partition.py
Labels: Ingestion, safe to test

#20192 fix: default to raw dataset
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
Labels: Ingestion, safe to test

#19859 fix: #19621 Introduce "clear sample" in entity config to have an explicit `null`
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerSettingsModal/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SliderWithInput/SliderWithInput.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/SliderWithInput/SliderWithInput.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ChartUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ChartUtils.tsx
Labels: UI, safe to test, To release

#20198 readding textToHtmlString function
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
Labels: UI, safe to test, To release

#20141 issue-19892: parse powerbi table source
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Labels: Ingestion, safe to test

#20177 PLAYWRIGHT: fix playwright failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvanceSearchCustomProperty.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Labels: UI, safe to test, To release

#20171 MINOR: Unify create and run ingestion pipeline tasks
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/Workflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceStageListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowVariableHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/NodeFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/RunIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateAndRunIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineDelegate.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/RunIngestionPipelineDelegate.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/RunIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/RunIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceStateRepository.java
  openmetadata-service/src/main/resources/applications/DayOneExperienceApplication/openmetadata/DayOneExperienceWorkflow.json
  openmetadata-spec/src/main/java/org/openmetadata/schema/governance/workflows/elements/WorkflowNodeDefinitionInterface.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodeSubType.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipelineTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/createIngestionPipelineTask.json
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodeSubType.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipelineTask.ts
Labels: Ingestion, safe to test

#20162 Fixes #20007 - DBT Cloud Ingestion Fail
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/pipeline.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
Labels: safe to test

#20210 playwright: skipping failing playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
Labels: UI, safe to test

#20214 fix failing unit test of block editor in main
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/hooks/useCustomEditor.ts
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerChildren/ContainerChildren.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaDetailsCard/PersonaDetailsCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationCard/ApplicationCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsAlert/SuggestionsAlert.test.tsx
Labels: UI, safe to test

#20185 Incremental Lineage Processing
  ingestion/src/metadata/ingestion/models/ometa_lineage.py
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/storedProcedure.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryLineagePipeline.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/databaseServiceQueryLineagePipeline.ts
Labels: Ingestion, safe to test, To release

#20218 Fixed tomcat-jdbc dependency
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test, To release

#20207 Minor: Fix Superset Dashboard Lineage Handling
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Labels: Ingestion, safe to test

#20223 Fix: custom prop test
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
Labels: UI, safe to test

#20219 MINOR: Fix incremental lineage if processedLineage is null
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
Labels: Ingestion, safe to test, To release

#20221 Fix #19627 - yield tag error
  ingestion/src/metadata/utils/tag_utils.py
Labels: Ingestion, safe to test

#20222 MINOR: Add ClusterAlias to Data Insights indexes
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/DataInsightsSearchInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/IndexTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/elasticsearch/ElasticSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/opensearch/OpenSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchSummaryCardAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchSummaryCardAggregator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
Labels: Ingestion, safe to test, To release

#20230 Docs: Usage Pill Updation in 1.7 Version
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/looker/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/looker/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/powerbi/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airbyte/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dagster/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/databricks-pipeline/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dbtcloud/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/domo-pipeline/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/domo-pipeline/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/fivetran/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/fivetran/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/flink/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/flink/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/kafkaconnect/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/kafkaconnect/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/nifi/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/nifi/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/openlineage/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/spline/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/spline/yaml.md
Labels: safe to test

#20225 chore(ci): run ingestion tests for ingestion changes
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: UI, safe to test

#20124 Capture BQ Query Cost
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/ingestion/source/database/bigquery/query_parser.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/bigQueryConnection.ts
Labels: Ingestion, safe to test

#20238 Docs: Yaml file updation with ingestionPipelineFQN
  openmetadata-docs/content/partials/v1.6/connectors/yaml/workflow-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/workflow-config.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/workflow-config-def.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/workflow-config.md
Labels: safe to test

#20160 MINOR - Add Test Case Automator
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/addDataProductAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/addTestCaseAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/removeTestCaseAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automatorAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/addDataProductAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/addTestCaseAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/removeTestCaseAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
Labels: Ingestion, safe to test

#20241 chore(CI): Revert to Standard Github Runners
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: devops, safe to test

#20211 MINOR: Add cost in sample usage queries
  ingestion/examples/sample_data/datasets/query_log
  ingestion/src/metadata/ingestion/source/database/sample_usage.py
Labels: Ingestion, safe to test

#20246 Fixes #20245
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: safe to test, To release

#19620 Fixes #19619
  ingestion/setup.py
  ingestion/src/metadata/readers/dataframe/parquet.py
Labels: safe to test, To release

#20133 MINOR: Add source url in sample data
  ingestion/examples/sample_data/datasets/database.json
  ingestion/examples/sample_data/datasets/database_schema.json
  ingestion/examples/sample_data/datasets/tables.json
  ingestion/examples/sample_data/glue/database.json
  ingestion/examples/sample_data/glue/database_schema.json
  ingestion/examples/sample_data/glue/tables.json
  ingestion/examples/sample_data/mysql/database.json
  ingestion/examples/sample_data/mysql/database_schema.json
  ingestion/examples/sample_data/mysql/tables.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#20247 MINOR: Fix pytests - usage count
  ingestion/tests/unit/test_sample_usage.py
Labels: Ingestion, safe to test

#20249 MINOR: Fix Lineage in 1.6.6
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  openmetadata-airflow-apis/pyproject.toml
Labels: Ingestion, safe to test

#20254 FIX #20252 - Add Auto Classification bot
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/main/resources/json/data/bot/autoClassificationBot.json
  openmetadata-service/src/main/resources/json/data/botUser/autoClassificationBot.json
  openmetadata-service/src/main/resources/json/data/policy/AutoClassificationBotPolicy.json
  openmetadata-service/src/main/resources/json/data/role/AuoClassificationBotRole.json
Labels: Ingestion, safe to test

#20234 Docs: 1.6.6 Release Updation
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/deployment/docker/index.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.6.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x/sdk/python/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#20255 DOCS - Airflow Base URL for lineage backend
  openmetadata-docs/content/v1.5.x/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/airflow/lineage-backend.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airflow/lineage-backend.md
Labels: Ingestion, safe to test

#20251 FIX #20250 - Suggestions to handle mutually exclusive tags
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SuggestionRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/SuggestionsResourceTest.java
Labels: Ingestion, safe to test

#20244 MINOR: revert param logic in search/list and introduce raw query param
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityTimeSeriesResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResultResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
Labels: Ingestion, safe to test

#20262 MINOR: Add default filters to create ingestion
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
Labels: Ingestion, safe to test

#20094 Fixes #20027 : Support custom properties for Domain
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SchemaFieldExtractor.java
  openmetadata-service/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/domain_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDomain.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
  openmetadata-ui/src/main/resources/ui/playwright/constant/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/settings.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/domains/createDomain.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/domains/domain.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Domain/DomainClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Labels: backend, safe to test

#20260 MINOR: fix test connection showing timeout even after being successfull
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
Labels: UI, safe to test, To release

#20193 fix: #16244 Show Column test case result at the Column Level on the Lineage View
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNode.utils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNode.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeChildren/NodeChildren.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/TestSuiteSummaryWidget/TestSuiteSummaryWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/TestSuiteSummaryWidget/TestSuiteSummaryWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
Labels: UI, safe to test

#20264 Minor: Increase the timeout for advanced search beforeAll and afterAll
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
Labels: UI, safe to test

#20229 MINOR: Create ChangeSource Breakdown Charts
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
Labels: Ingestion, safe to test

#20266 fix: #19905 Data quality pipeline page is only displaying a maximum of 10 pipelines
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
Labels: UI, safe to test

#20268 MINOR: fix the description column taking full width in service page
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Labels: UI, safe to test

#20277 playwright: un-skip the playwright test related to permission
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
Labels: UI, safe to test

#20280 MINOR - Add schedule to day 1 pipelines
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
Labels: Ingestion, safe to test

#20273 playwright: skip DI, superset & postgresql test
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/supersetConnection.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionUtils.ts
Labels: UI, safe to test

#20270 Minor: Query Cost Table Aggregation Endpoint
  ingestion/examples/sample_data/datasets/query_log
  ingestion/src/metadata/ingestion/source/database/sample_usage.py
  ingestion/tests/unit/test_sample_usage.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryCostRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryCostResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/QueryCostRecordsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/QueryCostRecordsAggregator.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/queryCostSearchResult.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/queryCostSearchResult.ts
Labels: Ingestion, safe to test

#20284 Docs: Ingestion Addition in Dashboard
  openmetadata-docs/content/partials/v1.6/connectors/dashboard/dashboard-lineage.md
  openmetadata-docs/content/partials/v1.7/connectors/dashboard/dashboard-lineage.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/lightdash/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/looker/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/metabase/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/mode/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/tableau/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/lightdash/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/looker/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/metabase/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/mode/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/index.md
  openmetadata-docs/images/v1.6/connectors/dashboard-lineage.png
  openmetadata-docs/images/v1.7/connectors/dashboard-lineage.png
Labels: safe to test

#20258 MINOR: Grant EditAll permission to lineage bot
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v170/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v170/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/resources/json/data/policy/LineageBotPolicy.json
Labels: Ingestion, safe to test

#20272 Update Data Insights to compute Tier Sources (#20128)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
Labels: Ingestion, safe to test

#20282 MINOR - Day 1 to set ingestion as deployed
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
Labels: Ingestion, safe to test

#20242 CI - Update teams.yml
  .github/teams.yml
Labels: Ingestion, safe to test

#20263 ISSUE #19622 - Allow `All` as include column parameter
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/metric_filter.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: Ingestion, safe to test

#20292 Docs: Note Addition in OIDC
  openmetadata-docs/content/v1.6.x/deployment/security/oidc/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/oidc/index.md
Labels: safe to test

#19990 Fixes #19891 : Added measures in powerbi
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  ingestion/tests/unit/test_powerbi_table_measures.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createContainer.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/profilerConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/container.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storage/containerMetadataConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storage/manifestMetadataConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testDefinition.ts
Labels: safe to test

#20295 Docs: PostgresSQL Doc Updation
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
Labels: safe to test

#20291 MINOR: fix: convert json values for app configs
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: Ingestion, safe to test

#20296 Docs: PostgresSQL Doc Formating Fix
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
Labels: safe to test

#20298 Docs: 1.7 Lineage Heading Fix
  openmetadata-docs/content/partials/v1.7/connectors/dashboard/dashboard-lineage.md
Labels: safe to test

#20248 Update test connection modal to include error messages
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineAlert/InlineAlert.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineAlert/InlineAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineAlert/InlineAlert.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.tsx
Labels: UI, safe to test

#20301 MINOR: e2e fixes
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_datalake_s3.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/cli_e2e/test_cli_quicksight.py
Labels: Ingestion, safe to test

#19967 docs: Add Docs for Minimum Requirements
  openmetadata-docs/content/partials/v1.6/deployment/minimum-sizing-requirements.md
  openmetadata-docs/content/partials/v1.7/deployment/minimum-sizing-requirements.md
  openmetadata-docs/content/v1.6.x/deployment/docker/index.md
  openmetadata-docs/content/v1.6.x/deployment/minimum-requirements.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/minimum-requirements.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: devops, safe to test

#19267 fix: sources.json not included when pulling remote (gcs/s3) dbt artifacts
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Labels: Ingestion, safe to test

#20139 Correct childrenCount for Organizations in Teams (#20138)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
Labels: safe to test, To release

#19702 Fix the custom test result timestamp in milliseconds
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/custom-tests.md
Labels: safe to test

#20015 Fix: Handle NULL created_at
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
Labels: safe to test

#20275 supported async delete functionality for service entities
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiServiceRest.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PageLayoutV1/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/AsyncDeleteProvider/AsyncDeleteProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/context/AsyncDeleteProvider/AsyncDeleteProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/AsyncDeleteProvider/AsyncDeleteProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
Labels: UI, safe to test

#20310 Docs: Note Addition in Custom SQL Test
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/tests-yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-yaml.md
Labels: safe to test

#20039 Fixes ISSUE-13953: Converted Nifi Client from requests module to OM REST client
  ingestion/src/metadata/examples/workflows/nifi.yaml
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
  ingestion/src/metadata/ingestion/source/pipeline/nifi/connection.py
Labels: safe to test

#20308 MINOR: Fix NoOp Trigger Workflow Instance Time Series
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dayOneExperience/DayOneExperienceApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/NoOpTrigger.java
  openmetadata-service/src/main/resources/applications/DayOneExperienceApplication/openmetadata/DayOneExperienceWorkflow.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/noOpTrigger.json
Labels: Ingestion, safe to test

#19989 Fix: Pass raw value of extraHeaders to ClientConfig
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/ometa/test_ometa_connection_definition_api.py
Labels: safe to test

#20306 MINOR: hide the import/export and bulk edit button in case of entity is delete
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaDetailsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseSchemaDetailsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#20303 MINOR: chore: make AppResource/convertPipelineStatus protected
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: Ingestion, safe to test

#20294 Day 1: Service insights and agents tab improvements and bug fixes
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/QueryCostRecordsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/QueryCostRecordsAggregator.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SchemaSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/alert.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/service.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/service-insights-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/MetadataAgentsWidget/metadata-agents-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/ingestion.less
  openmetadata-ui/src/main/resources/ui/src/constants/ServiceInsightsTab.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/DataInsight.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/applicationAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Labels: UI, safe to test
