Repository open-metadata/OpenMetadata, pull requests merged in 2025-06, with the labels that each got.

#21461 Fix(UI): Add agents dropdown not showing auto-classification agent option
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/AutoClassification.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/autoClassification.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/AddIngestionButton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/AddIngestionButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Labels: UI, safe to test, To release

#21470 fix(ui): dashboard data model name column should not be link
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
Labels: UI, safe to test, To release

#21290 SSIS Connector
  openmetadata-docs/content/partials/v1.7/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.8/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/v1.7.x/collate-menu.md
  openmetadata-docs/content/v1.7.x/connectors/pipeline/ssis/index.md
  openmetadata-docs/content/v1.7.x/connectors/pipeline/ssis/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/pipeline/ssis/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/pipeline/ssis/yaml.md
  openmetadata-docs/images/connectors/ssis.webp
  openmetadata-docs/images/v1.7/connectors/ssis/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/ssis/select-service.png
  openmetadata-docs/images/v1.7/connectors/ssis/service-connection.png
  openmetadata-docs/images/v1.8/connectors/ssis/add-new-service.png
  openmetadata-docs/images/v1.8/connectors/ssis/select-service.png
  openmetadata-docs/images/v1.8/connectors/ssis/service-connection.png
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/SsisConnectionClassConverter.java
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/ssis.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/ssisConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/SSIS.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/pipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/supersetConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/hiveConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/metadata/alationConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/airflowConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/ssisConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: safe to test

#21367 Fix #21364: Databricks Schema Description
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
Labels: Ingestion, safe to test, To release

#21440 issue-21439: dashboard lineage override
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test, To release

#21322 chore(ui): handle logout gracefully
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/KPILatestResultsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerLatestValue/ProfilerLatestValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebarItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsAlert/SuggestionsAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/CustomBarChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/OperationDateBarChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TableDataCardV2/TableDataCardV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogoutPage/LogoutPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogoutPage/LogoutPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/AddTeamForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/LoginAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
Labels: UI, safe to test, To release

#21448 Doc: Add IAM authentication details for PostgreSQL connector
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/yaml.md
Labels: Ingestion, safe to test

#21488 MINOR: row sampling error
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/mssql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/snowflake/sampler.py
Labels: Ingestion, safe to test

#21454 FIX CL-1632 - Remove Tier filters from AI agents in AutoPilot
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
Labels: Ingestion, safe to test, To release

#21498 FIX #21483 - Filter Ingestion Pipelines by provider
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/createIngestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
Labels: Ingestion, safe to test

#21425 MINOR: Add logic to handle WorkflowContext on Ingestion
  ingestion/src/metadata/workflow/context/base.py
  ingestion/src/metadata/workflow/context/context_manager.py
  ingestion/src/metadata/workflow/context/workflow_context.py
  ingestion/src/metadata/workflow/workflow_status_mixin.py
  ingestion/tests/unit/workflow/test_context_manager.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
Labels: Ingestion, safe to test, To release

#21543 MINOR - MCP governance tools
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpServer.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/CommonUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/GlossaryTermTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/GlossaryTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/McpTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/PatchEntityTool.java
  openmetadata-service/src/main/resources/json/data/mcp/tools.json
  openmetadata-spec/src/main/resources/json/schema/api/mcp/mcpTools.json
Labels: Ingestion, safe to test

#21484 Bump ch.qos.logback:logback-core from 1.4.x to 1.5.13 in /openmetadata-service and platform
  openmetadata-service/pom.xml
  pom.xml
Labels: safe to test, backend

#21164 Add Data Contracts Specification and APIs
  bootstrap/sql/migrations/native/1.8.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDataContract.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dataContract.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/auth/supportToken.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dataContract.ts
Labels: safe to test, backend

#21333 MINOR: fix the tags dropdown overlapping if multiple open at a time
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardChartTable/DashboardChartTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNode.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineTaskTab/PipelineTaskTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: UI, safe to test, To release

#21559 FIX - OpenMetadataApplication update limits to protected
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Labels: Ingestion, safe to test

#21562 Doc: YT Video Link Fix
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/domain-&-data-products/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-governance/domain-&-data-products/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-governance/domain-&-data-products/index.md
Labels: safe to test

#21550 Fix(ui): Background color for text highlight in tables of explore cards
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/explore-search-card.less
Labels: UI, safe to test

#21571 Doc: Postgres Troubleshooting Updation
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/troubleshooting.md
Labels: safe to test

#21548 fix glossary permission error
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Labels: UI, safe to test, To release

#21478 Support followers in Domain and DataProduct
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/domains/dataProduct.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/domains/dataProduct.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/domains/domain.ts
Labels: safe to test, backend

#21598 [WIP] MCP Core Items Improvements
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/HttpServletSseServerTransportProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/MCPStreamableHttpServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpServer.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
Labels: safe to test, backend

#21412 Fix #21226: External ingestion not visible on UI without Airflow
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Labels: Ingestion, safe to test, To release

#21606 Fix: #21566 Copy-Paste from Excel triggers file upload instead of pasting content
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/BlockEditor.constants.ts
Labels: UI, safe to test, To release

#21573 PLAYWRIGHT: fix the flaky playwright test
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointDetails/APIEndpointDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Labels: UI, safe to test, To release

#21604 Add lineage dialect for Exasol, Trino and Vertica
  ingestion/src/metadata/ingestion/lineage/models.py
Labels: Ingestion, safe to test, To release

#21487 FIX CL-1641 - Allow to search by descriptionSources
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/api_endpoint_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/classification_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/metric_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Labels: Ingestion, safe to test, To release

#21538 Doc: Auto Classification Images Updation
  openmetadata-docs/content/v1.7.x/how-to-guides/data-governance/classification/Auto Classification/workflow.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/workflow.md
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-1.1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-2.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-3.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-4.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-5.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-6.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/acnew.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/auto1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/auto2.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/auto3.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/ac-1.1.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/ac-1.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/ac-2.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/ac-3.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/ac-4.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/ac-5.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/ac-6.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/acnew.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/auto1.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/auto2.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/auto3.png
Labels: safe to test

#21627 Fix: Issue related to SQL query viewer
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerSettingsModal/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryViewer/QueryViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDataModelUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchIndexUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, To release

#21534 Fix #21533 - Add a tool to openmetadata-ops.sh to delete orphaned relations
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityRelationshipCleanup.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityRelationshipCleanupTest.java
Labels: safe to test, To release, backend

#21630 Fix: Looker cll parsing issue
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
Labels: Ingestion, safe to test, To release

#21574 Fix (uI): Domain truncate issue || consistent Domain UX
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/DataAssetsVersionHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsVersionHeader/data-asset-version-header.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/domain-label.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.tsx
Labels: UI, safe to test

#21620 Chore: Tableau Improvements
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/tableauConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/tableauConnection.ts
Labels: Ingestion, safe to test, To release

#21527 DEPRECATION: Remove testCaseResults endpoint from testCaseResource
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/TestCaseResultFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
Labels: Ingestion, safe to test

#21621 Fixes #21551: Remove existing entity source hash presence check
  ingestion/src/metadata/ingestion/api/topology_runner.py
Labels: Ingestion, safe to test

#21582 PLAYWRIGHT: fix the bulk action playwright flaky playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: UI, safe to test, To release

#21577 Fix: #21276 Only 3 Comments Shown by Default in Incident View
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/CommentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedDrawer/ActivityFeedDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1New.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseIncidentTab/TestCaseIncidentTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseIncidentTab/TestCaseIncidentTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TasktabIncidentManagerHeaderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/rest/feedsAPI.ts
Labels: UI, safe to test

#21605 Fix #21517: Last user not visible || profile config icon miss aligned
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerSettingsModal/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/user-team-selectable-list.less
Labels: safe to test

#21612 Add Databricks Sampler, Refactor Unity Catalog Sampler
  ingestion/src/metadata/ingestion/source/database/databricks/service_spec.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/service_spec.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/unitycatalog/sampler.py
Labels: Ingestion, safe to test, To release

#21639 MINOR: remove the type not wanted in pdfLayout config
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.interface.ts
Labels: UI, safe to test, To release

#21645 fix glossary playwright tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Labels: UI, safe to test

#21490 Fix(UI): Update the file upload option input for service config
  openmetadata-spec/src/main/resources/json/schema/security/ssl/validateSSLClientConfig.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/FileUploadWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/PasswordWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/PasswordWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/password-widget.less
  openmetadata-ui/src/main/resources/ui/src/enums/PasswordWidget.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Widgets.mock.ts
Labels: UI, safe to test, To release

#21654 Fix: #21649 Freshnes test is not displaying right time value (seconds vs miliseconds)
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
Labels: UI, safe to test, To release

#21633 fix tier and tag playwright for Entity.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test, To release

#21658 MINOR: fix the primary button focus color
  openmetadata-ui/src/main/resources/ui/src/styles/modal.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test, To release

#21660 fix(ui): Korean translation for glossary
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
Labels: UI, safe to test, To release

#21602 Feat #21116: Support followers for data products and domains
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsPage/DataProductsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeader/EntityHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/dataProductAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/domainAPI.ts
Labels: safe to test

#21520 FIX #1464
  ingestion/pyproject.toml
  ingestion/src/metadata/pii/algorithms/column_labelers.py
  ingestion/src/metadata/pii/algorithms/feature_extraction.py
  ingestion/src/metadata/pii/algorithms/label_extractors.py
  ingestion/src/metadata/pii/algorithms/scoring_ops.py
  ingestion/src/metadata/pii/algorithms/tags.py
  ingestion/src/metadata/pii/algorithms/tags_ops.py
  ingestion/src/metadata/pii/algorithms/utils.py
  ingestion/src/metadata/pii/base_processor.py
  ingestion/src/metadata/pii/constants.py
  ingestion/src/metadata/pii/models.py
  ingestion/src/metadata/pii/ner.py
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/pii/scanners/base.py
  ingestion/src/metadata/pii/scanners/column_name_scanner.py
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/tests/__init__.py
  ingestion/tests/integration/pii/__init__.py
  ingestion/tests/integration/pii/test_pii_processor.py
  ingestion/tests/unit/pii/algorithms/test_classifiers.py
  ingestion/tests/unit/pii/algorithms/test_label_extractors.py
  ingestion/tests/unit/pii/algorithms/test_presidio_utils.py
  ingestion/tests/unit/pii/algorithms/test_tags.py
  ingestion/tests/unit/pii/algorithms/test_tags_ops.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
  ingestion/tests/unit/pii/test_pii_sensitive.py
  ingestion/tests/unit/pii/test_processor.py
  openmetadata-service/src/main/resources/json/data/tags/NEREntityGeneralTags.json
Labels: safe to test, To release

#21519 Fixes #21472: Add mention of why snowflake owners are not supported
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  openmetadata-docs/content/v1.7.x/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/snowflake/yaml.md
Labels: Ingestion, safe to test, To release

#21655 chore(ui): Whats new for 1.7.2
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#21444 MINOR: Fix bigquery import issue
  ingestion/src/metadata/cli/classify.py
  ingestion/src/metadata/cli/dataquality.py
Labels: Ingestion, safe to test, To release

#21643 MCP Core Items Improvements
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/MCPConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/HttpServletSseServerTransportProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/MCPStreamableHttpServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpServer.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/DefaultToolContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/GetEntityTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/GlossaryTermTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/GlossaryTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/McpTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/SearchMetadataTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/resources/json/data/mcp/tools.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
Labels: safe to test, backend

#21670 Fix - Queries not tableQueries
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
Labels: safe to test, backend

#21656 Refactor Data Quality API endpoints in Playwright tests and support classes to use consistent URL structure for test case results
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Labels: UI, safe to test

#21652 Fix: #17584 Improve Glossary Bulk Asset Upload APIs
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/addGlossaryToAssetsRequest.json
  openmetadata-spec/src/main/resources/json/schema/api/addTagToAssetsRequest.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/addGlossaryToAssetsRequest.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/addTagToAssetsRequest.ts
Labels: safe to test

#21676 chore(ui) : update whats new for 1.7.2
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#21636 #16279 Update Classification Schema to include Governance Fields - Schema and Java Implementation
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/classification/createClassification.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/classification.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/classification/createClassification.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/classification/loadTags.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/classification/classification.ts
Labels: safe to test

#21681 Fix (ui): Flaky Advance Search test case
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
Labels: safe to test, To release

#21701 Doc: 1.7.2 Release Updation
  openmetadata-docs/content/partials/v1.7/releases/1.7.1.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/partials/v1.8/releases/1.7.1.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/v1.7.x/menu.md
  openmetadata-docs/content/v1.7.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/releases/releases/index.md
Labels: safe to test

#21366 ISSUE #16676 - Add Tag to CreateTestCase
  ingestion/src/metadata/data_quality/processor/test_case_runner.py
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/great_expectations/action1xx.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/integration_base.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
  ingestion/tests/integration/test_suite/test_workflow.py
  openmetadata-docs/content/v1.8.x-SNAPSHOT/sdk/python/api-reference/tests_mixin.md
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCase.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestCase.ts
Labels: Ingestion, safe to test

#21687 [MCP] Changed MCP as an APP
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/autoPilot/AutoPilotApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/mcp/McpApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/MCPConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/MCPStreamableHttpServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpAuthFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpServer.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/prompts/DefaultPromptsContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/prompts/GreetingsPrompt.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/prompts/McpPrompt.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/prompts/SearchPrompt.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/prompts/WrappedGetPromptResult.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/DefaultToolContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/resources/json/data/app/McpApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/McpApplication.json
  openmetadata-service/src/main/resources/json/data/mcp/prompts.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/McpApplication.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/appScreenshots/McpApplication.png
  openmetadata-ui/src/main/resources/ui/src/assets/svg/McpApplication.svg
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/McpApplication.json
Labels: safe to test, backend

#21706 Fix TagResourceTest mvn test failure
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: safe to test, backend

#21705 Doc: 1.7.2 Version Updation in SDK and Docker
  openmetadata-docs/content/v1.7.x/deployment/docker/index.md
  openmetadata-docs/content/v1.7.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.7.x/sdk/python/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#21715 Mcp Doc fixes
  openmetadata-service/src/main/resources/json/data/app/McpApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/McpApplication.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/McpApplication.md
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/McpApplication.json
Labels: safe to test, backend

#21714 ISSUE #21274: added profiler config when executing bundle suite
  ingestion/src/metadata/data_quality/source/test_suite.py
Labels: Ingestion, safe to test

#21720 [MCP] Update Mcp Documents and Images
  openmetadata-service/src/main/resources/json/data/app/McpApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/McpApplication.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/McpApplication.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/appScreenshots/McpApplication.png
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/McpApplication.json
Labels: safe to test, backend

#21507 Fix #21506: Upgrade to Java 21
  .github/actions/prepare-for-docker-build/action.yml
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/docker-openmetadata-server.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/publish-maven-package.yml
  .github/workflows/py-nox-ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/selenium-noIngestion-tests.yml
  bin/openmetadata-server-start.sh
  docker/development/Dockerfile
  docker/docker-compose-quickstart/Dockerfile
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-spec/pom.xml
  pom.xml
Labels: safe to test, Backward-Incompatible-Change, backend

#21700 Fix: Tableau project id should always be a string
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Labels: Ingestion, safe to test

#21724 MINOR: powerbi change owner condition
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Labels: Ingestion, safe to test, To release

#21740 fix(ui): hashlist in view blocks leftsidebar
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/hashtag/hashtagSuggestion.ts
Labels: UI, safe to test, To release

#21742 Update reset-link.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/reset-link.json
Labels: safe to test, To release, backend

#21737 Fix: #21729 Test Cases Not Returned When Service Name Contains Spaces
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/AddTestSuitePipeline.tsx
Labels: UI, safe to test, To release

#21723 Fix #21653 - Remove recently added delete param field in searchByField api
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: safe to test, To release, backend

#21722 Fix #21653 - Tag search based on displayName
  openmetadata-service/src/main/resources/json/data/searchSettings/searchSettings.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Labels: safe to test, To release, backend

#21697 MINOR: Fix 172 migrations by avoiding throwing errors
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v172/MigrationUtil.java
Labels: Ingestion, safe to test, To release

#21678 Feature: Microstrategy Lineage
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/client.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/helpers.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/models.py
  openmetadata-docs/content/v1.7.x/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/microstrategy/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/dashboard/microstrategy/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
Labels: Ingestion, safe to test, To release

#21650 Fix #21099: fix Superset ingestion bad query
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
Labels: Ingestion, safe to test

#21749 Revert pr #21723
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: safe to test, To release, backend

#21747 Fix Reset Link Template
  bootstrap/sql/migrations/native/1.7.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.3/postgres/schemaChanges.sql
Labels: safe to test, To release, backend

#21751 Fix Tests broken by #21747
  bootstrap/sql/migrations/native/1.7.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.3/postgres/schemaChanges.sql
Labels: safe to test, To release, backend

#21753 Minor: Added What new content for 1.7.3
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#21735 Update test_deltalake.py
  ingestion/pyproject.toml
Labels: Ingestion, safe to test

#21581 MINOR: Initial implementation for our Connection Class
  ingestion/src/metadata/ingestion/connections/builders.py
  ingestion/src/metadata/ingestion/connections/connection.py
  ingestion/src/metadata/ingestion/source/connections.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/connection.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/mysql/service_spec.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/connection.py
  ingestion/src/metadata/utils/service_spec/service_spec.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/tests/integration/automations/test_connection_automation.py
  ingestion/tests/integration/connections/test_mysql_connection.py
  ingestion/tests/unit/metadata/ingestion/connections/test_connection.py
  ingestion/tests/unit/test_build_connection_url.py
  ingestion/tests/unit/test_importer.py
  ingestion/tests/unit/utils/test_service_spec.py
Labels: Ingestion, safe to test

#21764 Add Data Quality Test Casae
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/CreateTestCaseTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/DefaultToolContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/TestDefinitionsTool.java
  openmetadata-service/src/main/resources/json/data/mcp/tools.json
Labels: backend

#21669 Fix #21668: Add Auto Tune to conifgure Search Index Application Parameters
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClusterMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AsyncService.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexAppTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexCompressionIntegrationTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/searchIndexingAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/SearchIndexingApplication.md
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/searchIndexingAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/system/eventPublisherJob.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Labels: safe to test, To release, backend

#21763 fix(ui): hashlist render for block editor
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/hashtag/hashtagSuggestion.ts
Labels: UI, safe to test, To release

#21761 MINOR: Implement Lineage Filter for UC
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
Labels: Ingestion, safe to test, customer, To release

#21768 MINOR: supported the dependent type failing type around Policy
  openmetadata-ui/src/main/resources/ui/src/generated/api/policies/createPolicy.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/accessControl/resourcePermission.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/accessControl/rule.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/policy.ts
Labels: UI, safe to test

#21773 Disabled bot creating activity feeds
  bootstrap/sql/migrations/native/1.7.4/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.4/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ExpressionValidator.java
  openmetadata-service/src/main/resources/json/data/EntityObservabilityFilterDescriptor.json
  openmetadata-service/src/main/resources/json/data/EventSubResourceDescriptor.json
  openmetadata-service/src/main/resources/json/data/FilterFunctionsDescriptor.json
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
  openmetadata-spec/src/main/resources/json/schema/events/subscriptionResourceDescriptor.json
  openmetadata-ui/src/main/resources/ui/src/generated/events/subscriptionResourceDescriptor.ts
Labels: safe to test, e2e, To release, backend

#21692 feat(ui): customisation of landing page
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-landing-page-header.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersTab/UsersTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/mocks/CustomizablePage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeMyDataPageClassBase.ts
Labels: UI, safe to test

#21731 Fix: #17965 Correct FQN values will be shown to the user in case of tag validation failures in Glossary Term
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: safe to test, backend

#21797 Add empty TypeScript Type Generation workflow for pull requests
  .github/workflows/typescript-type-generation.yml
Labels: UI, safe to test

#21516 feat: add lineage tool in MCP Server for impact analysis
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/DefaultToolContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/GetLineageTool.java
  openmetadata-service/src/main/resources/json/data/mcp/tools.json
Labels: safe to test

#21786 Doc: Java Version Updation to 21
  openmetadata-docs/content/v1.7.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.7.x/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/prerequisites.md
Labels: safe to test

#21795 Minor: Fixes for AUTs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
Labels: UI, safe to test, To release

#21812 PLAYWRIGHT: fix delete async alert on other playwright test causing failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Metric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataInsightReportApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
Labels: UI, safe to test

#21738 MINOR: Add injection to profiler
  ingestion/src/metadata/__init__.py
  ingestion/src/metadata/data_quality/validations/table/pandas/tableRowInsertedCountToBeBetween.py
  ingestion/src/metadata/ingestion/source/connections.py
  ingestion/src/metadata/ingestion/source/database/trino/profiler/system_tables_profiler.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/default.py
  ingestion/src/metadata/profiler/processor/metric_filter.py
  ingestion/src/metadata/profiler/processor/models.py
  ingestion/src/metadata/profiler/source/database/base/profiler_resolver.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/profiler/source/profiler_source_interface.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/utils/dependency_injector/README.md
  ingestion/src/metadata/utils/dependency_injector/dependency_injector.py
  ingestion/tests/unit/metadata/utils/dependency_injector/test_dependency_injector.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_profiler_interface.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sqa_profiler_interface.py
Labels: Ingestion, safe to test

#21807 MINOR: Fix pytests
  ingestion/tests/integration/alationsink/test_alationsink.py
  ingestion/tests/integration/sources/mlmodels/mlflow/conftest.py
Labels: Ingestion, safe to test

#21716 ISSUE #21447: preserve BQ struct field casing
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
Labels: Ingestion, safe to test

#21826 Fix TableResourceTest failures for column updates
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/columns/ColumnResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Labels: safe to test, backend

#21376 Pre cache images for login page
  openmetadata-ui/src/main/resources/ui/public/index.html
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-menu.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-tabs.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-collabration/data-collbration.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/data-discovery.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-data-asset.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-language.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-items.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-list.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-reviewer.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governce.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/observability/data-observability.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/observability/observability-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/observability/observability-testcase.png
  openmetadata-ui/src/main/resources/ui/src/components/Layout/CarouselLayout/CarouselLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Layout/CarouselLayout/carousel-layout.less
  openmetadata-ui/src/main/resources/ui/src/constants/LoginClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/forgot-password.styles.less
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/LoginCarousel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/LoginCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/login.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/button.less
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
Labels: UI, safe to test

#21799 MINOR: Tableau proxy url for sourceurl
  ingestion/src/metadata/examples/workflows/tableau.yaml
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/tableauConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/tableauConnection.ts
Labels: Ingestion, safe to test

#21802 Fixes #19692: Implemented Nifi Pipeline Lineage
  ingestion/src/metadata/ingestion/source/pipeline/nifi/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/tests/unit/topology/pipeline/test_nifi.py
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/pipeline/nifi/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/pipeline/nifi/yaml.md
Labels: Ingestion, safe to test

#21825 fix #21394 Custom properties bug update with existing wrong values
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Labels: safe to test, backend

#21829 PLAYWRIGHT: fix delete async alert on other playwright test causing failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Metric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataInsightReportApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
Labels: UI, safe to test

#21776 fix(ui): infinite scroll for tag listing inside term boost
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/TermBoost.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/TermBoost.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelect/AsyncSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelect/AsyncSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelect/AsyncSelectList.interface.ts
Labels: UI, safe to test

#21847 fix(ui): lineage expand collapse
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetSummaryPanel/DataAssetSummaryPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetSummaryPanel/DataAssetSummaryPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test, To release

#21841 Issues in Search Relevancy
  ingestion/examples/sample_data/datasets/tables.json
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FullyQualifiedName.java
  openmetadata-service/src/main/resources/json/data/searchSettings/searchSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/search/indexes/SearchIndexTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/FullyQualifiedNameTest.java
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/jobs/backgroundJob.ts
Labels: safe to test, To release, backend

#21854 Fix default boost score, improve fqn parsing
  ingestion/examples/sample_data/datasets/tables.json
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FullyQualifiedName.java
  openmetadata-service/src/main/resources/json/data/searchSettings/searchSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/search/indexes/SearchIndexTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/FullyQualifiedNameTest.java
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/jobs/backgroundJob.ts
Labels: safe to test, backend

#21830 commons-beanutils vulnerability reported in security scan
  openmetadata-service/pom.xml
Labels: safe to test, backend

#21844 fix(test): AUT failures for Policies.spec and Roles.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Policies.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/roles.ts
Labels: UI, safe to test

#21832 Fix:#21647 Inherited Tags from Glossary Term should be shown in put column response
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/columns/ColumnResourceTest.java
Labels: safe to test, backend

#21859 MINOR: fix the layout of suggestion slider in description box
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/LoginCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/login.style.less
Labels: UI, safe to test

#21860 Release: Add what's new content for 1.7.5
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#21856 Fix(ui): Additional query call in user profile page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.tsx
Labels: UI, safe to test

#21869 fix(ui): carousel image being cropped for small width
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/LoginCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/login.style.less
Labels: UI, safe to test

#21871 Swagger response code corrected for scim
  openmetadata-service/src/main/java/org/openmetadata/service/resources/scim/ScimResource.java
Labels: safe to test, backend

#21801 Refactor: Unity Catalog
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/queries.py
  ingestion/tests/unit/topology/database/test_unity_catalog.py
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/unity-catalog/yaml.md
  openmetadata-service/src/main/resources/json/data/testConnections/database/unitycatalog.json
Labels: Ingestion, safe to test

#21877 Doc: 1.7.5 Release Updation
  openmetadata-docs/content/partials/v1.7/releases/1.7.4.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/partials/v1.8/releases/1.7.4.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/v1.7.x/deployment/docker/index.md
  openmetadata-docs/content/v1.7.x/menu.md
  openmetadata-docs/content/v1.7.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.7.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x/sdk/python/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#21878 Doc: Java JDK Version Updation to 21
  openmetadata-docs/content/v1.7.x/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/prerequisites.md
Labels: safe to test

#21866 MINOR: Alert test message type
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/generic/GenericPublisher.java
Labels: Ingestion, safe to test

#21814 Fix : Failing activity feed test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
Labels: UI, safe to test

#21880 fix: #21872 Freshness test displays 0 for negative values
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Labels: UI, safe to test, To release

#21894 MINOR: Fix pytests jaraco package
  ingestion/setup.py
Labels: Ingestion, safe to test

#21896 Fix : Domain AUT failure
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Labels: UI, safe to test

#21793 feat(ui): customise home page banner
  openmetadata-ui/src/main/resources/ui/src/assets/svg/add-square.svg
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/customise-home-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-landing-page-header.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/header-theme.less
  openmetadata-ui/src/main/resources/ui/src/constants/Mydata.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#21900 Fix : query_cost_record_search_index Search reindexing issue
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Labels: safe to test, backend

#21906 Revert : query_cost_record_search_index Search reindexing issue
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Labels: safe to test, backend

#21907 Fix query cost aggregation
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/QueryCostRecordsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/QueryCostRecordsAggregator.java
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Labels: safe to test, To release, backend

#21916 Add Claude.md
  CLAUDE.md
Labels: safe to test, backend

#21922 Doc: Rest YAML File Updation
  openmetadata-docs/content/partials/v1.7/connectors/yaml/api/source-config-def.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/api/source-config.md
  openmetadata-docs/content/partials/v1.8/connectors/yaml/api/source-config-def.md
  openmetadata-docs/content/partials/v1.8/connectors/yaml/api/source-config.md
  openmetadata-docs/content/v1.7.x/connectors/api/rest/yaml.md
Labels: safe to test

#21925 Doc: 1.8.0 Release Updation
  openmetadata-docs/content/partials/v1.8/releases/1.7.5.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#21926 Add project to tableau datamodel
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#21933 fix: Fix Cache To have immutable entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: safe to test, To release

#21917 fix(test): flaky Policies.spec and Roles.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Policies.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/roles.ts
Labels: UI, safe to test

#21904 feat: enhance relationshipCleanup with service hierarchy cleanup and Data Retention App
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetention.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityRelationshipCleanup.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityRelationshipCleanupUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ServiceHierarchyCleanup.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetentionAppTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityRelationshipCleanupTest.java
Labels: safe to test, backend

#21920 PLAYWRIGHT: fix the flakiness around the tag.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tag.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/TagClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Labels: UI, safe to test, To release

#21903 fix(ui): remove edit permission in version page
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/OwnerLabelV2/OwnerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainExpertsWidget/DomainExpertWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTypeWidget/DomainTypeWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainVersion/DomainVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ClassificationVersionPage/ClassificationVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.test.tsx
Labels: UI, safe to test, To release

#21948 Update metadata_service_helper.py
  ingestion/src/metadata/utils/metadata_service_helper.py
Labels: safe to test

#21915 MINOR: fix the schema page table pagination count issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/SchemaTable.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertDetails/AlertRecentEventsTab/AlertRecentEventsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APIEndpointsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test, To release

#21930 Fix(ui): Flaky Tag Add, Update and Remove
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreQuickFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: safe to test

#21932 fix(ui): version link and fetch logic with 1 hour wait time
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whats-new-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Navbar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/URL.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtilClassBase.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtils.tsx
Labels: UI, safe to test, To release

#21934 Remove Default: null from columns and let json to pojo handle
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Labels: safe to test, e2e, backend

#21952 Fix(ui): Reply count being shown as 0 in task feed card
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
Labels: UI, safe to test

#21921 feat: implement entity lifecycle event delegation
  openmetadata-service/src/main/java/org/openmetadata/service/events/lifecycle/EntityLifecycleEventDispatcher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/lifecycle/EntityLifecycleEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/lifecycle/handlers/SearchIndexHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/events/lifecycle/EntityLifecycleEventDispatcherTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/events/lifecycle/handlers/SearchIndexHandlerTest.java
Labels: safe to test, e2e, backend

#21965 Minor: Fix Tableau Lineage in Multi Schema Model
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Labels: Ingestion, safe to test

#21840 MINOR: Extend profile workflow config to allow engine configuration
  ingestion/src/metadata/profiler/source/database/base/profiler_resolver.py
  ingestion/src/metadata/profiler/source/profiler_source_interface.py
  ingestion/src/metadata/sampler/sampler_interface.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/Repository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineMapper.java
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/createIngestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/engine/nativeEngineConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/engine/sparkEngineConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/databaseServiceProfilerPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/engine/nativeEngineConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/engine/sparkEngineConfig.ts
Labels: Ingestion, safe to test

#21998 Fix the error in the template yml and add ability to trigger it from specific branch
  .github/workflows/typescript-type-generation.yml
Labels: UI, safe to test

#21980 Fix(test): Custom property advance search AUT failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AdvanceSearchFilter/CustomPropertyAdvanceSeach.spec.ts
Labels: UI, safe to test

#21999 Doc: 1.8 Release Updation
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/latest.md
Labels: safe to test
