Repository open-metadata/OpenMetadata, pull requests merged in 2025-10, with the labels that each got.

#23641 Fix failing tests from sdk
  .github/workflows/maven-build-collate.yml
  .github/workflows/maven-build-skip.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build-skip.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/entities/Classification.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/entities/DatabaseService.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/entities/GlossaryTerm.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/entities/TestCase.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/fluent/DatabaseSchemas.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/fluent/Databases.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/fluent/GlossaryTerms.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/fluent/Tables.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/ClassificationMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/ContainerMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/DashboardMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/DatabaseServiceMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/GlossaryMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/MlModelMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/PipelineMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/QueryMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/TeamMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/TestCaseMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/TopicMockTest.java
  openmetadata-sdk/src/test/java/org/openmetadata/sdk/entities/UserMockTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/bots/BotResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryFluentAPITest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
Labels: safe to test, backend

#23590 MINOR - Fix S3 logging from ingestion pipelines
  conf/openmetadata.yaml
  ingestion/src/metadata/cli/common.py
  ingestion/src/metadata/ingestion/ometa/mixins/logs_mixin.py
  ingestion/src/metadata/utils/streamable_logger.py
  ingestion/src/metadata/workflow/base.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/application.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/auto_classification.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/dbt.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/es_reindex.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/lineage.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/metadata.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/profiler.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/test_suite.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/usage.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/S3LogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/LogStorageFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/MinioLogStorageIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/S3LogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStreamingTest.java
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/createIngestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/configuration/logStorageConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/application.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/logStorageConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/pipelineServiceClientConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Labels: Ingestion, safe to test

#23650 Fix creation of Glossary when domain is selected
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/AddGlossary.component.tsx
Labels: safe to test, To release, backend

#23653 chore(ui): fix data contract flaky test are data asset button check
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Labels: UI, safe to test

#23613 Fix(UI): Add service form bugs
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/drive/customDriveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/drive/sharePointConnection.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/FiltersConfigForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/FiltersConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JSONSchemaTemplate/ObjectFieldTemplate.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JSONSchemaTemplate/ObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/drive/customDriveConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/drive/sharePointConnection.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/DirectoryClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FileClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SpreadsheetClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WorksheetClassBase.test.ts
Labels: UI, safe to test

#23619 fix(ui): mentions in notification box
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Labels: UI, safe to test

#23628 Use recognizer in classification
  ingestion/src/metadata/pii/algorithms/classifiers.py
  ingestion/src/metadata/pii/algorithms/presidio_recognizer_factory.py
  ingestion/src/metadata/pii/algorithms/presidio_utils.py
  ingestion/src/metadata/pii/processor_factory.py
  ingestion/src/metadata/pii/tag_analyzer.py
  ingestion/src/metadata/pii/tag_processor.py
  ingestion/src/metadata/workflow/classification.py
  ingestion/tests/unit/metadata/pii/test_classifiers.py
  ingestion/tests/unit/metadata/pii/test_presidio_utils.py
  ingestion/tests/unit/metadata/pii/test_tag_processor.py
  ingestion/tests/unit/pii/algorithms/test_presidio_utils.py
Labels: Ingestion, safe to test

#23656 MINOR: updated the contract SLA section list icon
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-task.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSLACard/ContractSLA.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSLACard/contract-sla.less
Labels: UI, safe to test

#23684 Chore(UI): fix collate build
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
Labels: UI, safe to test

#23686 Refactor: optimize mapFields caching in JSONLogicSearchClassBase
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Labels: UI, safe to test

#23657 supported timezone and column name fields in SLA form
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/dataContract.json
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSLACard/ContractSLA.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSLACard/ContractSLA.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSLAFormTab/ContractSLAFormTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSLAFormTab/ContractSLAFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataContract.constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dataContract.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Labels: UI, Ingestion, safe to test

#22514 Fixes #21686 : Add missing includeOwners check in dashboard services
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
  ingestion/tests/unit/topology/dashboard/test_microstrategy.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
  ingestion/tests/unit/topology/dashboard/test_qlikcloud.py
  ingestion/tests/unit/topology/dashboard/test_qliksense.py
  ingestion/tests/unit/topology/dashboard/test_quicksight.py
  ingestion/tests/unit/topology/dashboard/test_sigma.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Labels: Ingestion, safe to test

#23660 Minor: Fix NPE for botUser during race Condition, Timestamp Comparison
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: safe to test, backend

#23691 playwright: fixed permission spec failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Labels: UI, safe to test, To release

#23693 fix(playwright): fix test timeout and domains sidebar validation
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeNavigation.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Labels: safe to test

#23697 MINOR: Fix HIERARCHYID failing test
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/fluent/Tables.java
Labels: safe to test, backend, hacktoberfest-accepted

#23701 fix: async search and tree lazy loading improvements
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUIAsyncTreeSelect/MUIAsyncTreeSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUITagSuggestion/MUITagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUIUserTeamSelect/MUIUserTeamSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/asyncTreeSelect/useAsyncTreeSelect.tsx
Labels: safe to test

#23698 Chore(UI): Fix the security vulnerability
  openmetadata-ui-core-components/src/main/resources/ui/package.json
  openmetadata-ui-core-components/src/main/resources/ui/yarn.lock
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#23561 Fixes #23356: Databricks & UnityCatalog OAuth and Azure AD Auth
  bootstrap/sql/migrations/native/1.10.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.10/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.10/postgres/postDataMigrationSQLScript.sql
  ingestion/src/metadata/examples/workflows/databricks.yaml
  ingestion/src/metadata/examples/workflows/databricks_usage.yaml
  ingestion/src/metadata/examples/workflows/unity_catalog.yaml
  ingestion/src/metadata/examples/workflows/unity_catalog_usage.yaml
  ingestion/src/metadata/ingestion/source/database/databricks/auth.py
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/client.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/profiler/orm/functions/conn_test.py
  ingestion/tests/unit/lineage/test_databricks_lineage.py
  ingestion/tests/unit/sampler/sqlalchemy/test_unitycatalog_sampler.py
  ingestion/tests/unit/test_source_connection.py
  ingestion/tests/unit/test_source_parsing.py
  ingestion/tests/unit/topology/database/test_databricks.py
  ingestion/tests/unit/topology/database/test_unity_catalog.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/DatabricksConnectionClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/UnityCatalogConnectionClassConverter.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metadataExporterConnectors/databricksConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricks/azureAdSetup.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricks/databricksOAuth.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricks/personalAccessToken.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/unityCatalogConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Databricks.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/UnityCatalog.md
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/databricksConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/databricks/azureAdSetup.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/databricks/databricksOAuth.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/databricks/personalAccessToken.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/databricksConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/unityCatalogConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test

#23695 Add better handling of columns not found or permission issue exceptions
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Labels: Ingestion, safe to test

#23637 Fixes: Drive Service
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DirectoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DriveServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SpreadsheetRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drives/DirectoryMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drives/DirectoryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drives/SpreadsheetMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drives/SpreadsheetResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drives/WorksheetResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/drive/DriveServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/drive/DriveServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/GoogleDriveConnectionClassConverter.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DriveServiceResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createSpreadsheet.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDriveService.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createSpreadsheet.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDriveService.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
Labels: Ingestion, safe to test

#23665 Add Timescale Connector
  ingestion/src/metadata/ingestion/source/database/common_pg_mappings.py
  ingestion/src/metadata/ingestion/source/database/timescale/__init__.py
  ingestion/src/metadata/ingestion/source/database/timescale/connection.py
  ingestion/src/metadata/ingestion/source/database/timescale/lineage.py
  ingestion/src/metadata/ingestion/source/database/timescale/metadata.py
  ingestion/src/metadata/ingestion/source/database/timescale/models.py
  ingestion/src/metadata/ingestion/source/database/timescale/queries.py
  ingestion/src/metadata/ingestion/source/database/timescale/query_parser.py
  ingestion/src/metadata/ingestion/source/database/timescale/service_spec.py
  ingestion/src/metadata/ingestion/source/database/timescale/usage.py
  ingestion/src/metadata/ingestion/source/database/timescale/utils.py
  ingestion/tests/unit/topology/database/test_timescale.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/TimescaleConnectionClassConverter.java
  openmetadata-service/src/main/resources/json/data/testConnections/database/timescale.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/timescaleConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Timescale.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-timescale.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/timescaleConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: safe to test, backend

#23718 Fix(UI): Type error in vite config for ui core components
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Labels: UI, safe to test, To release

#23714 playwright: update loader and pagination size for CustomizeDetailPage spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
Labels: UI, safe to test

#23696 Fixes #22406: Add workflow resource utilisation metrics for better troubleshooting
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/workflow_resource_metrics.py
Labels: Ingestion, safe to test

#23720 fix(ui): Reduce Data Product icon stroke width in sidebar
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IconUtils.tsx
Labels: safe to test

#23722 App Screenshots Migration
  bootstrap/sql/migrations/native/1.10.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/postDataMigrationSQLScript.sql
Labels: safe to test, To release, backend

#23725 Vulnerability fix for org.json
  openmetadata-sdk/pom.xml
Labels: safe to test, To release, backend

#23749 Improvements: SearchReindexApp, recreate indexes should swap immediately after indexing is done
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultRecreateHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/RecreateIndexHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexAppTest.java
Labels: safe to test, To release, backend

#23745 Playwright: Fix failing AUT tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
Labels: UI, safe to test, To release

#23761 PLAYWRIGHT FIXES: ensure sample data is passed to the right columns
  ingestion/src/metadata/pii/base_processor.py
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/AutoClassification.spec.ts
Labels: safe to test, To release

#23762 Minor:refactor fetching assetsCount for individual fields
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
Labels: safe to test, backend

#23760 Chore(UI): Revert module resolution
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Labels: UI, safe to test

#23645 Ensure recognizers are created
  bootstrap/sql/migrations/native/1.11.0/data/tags/NonSensitive.json
  bootstrap/sql/migrations/native/1.11.0/data/tags/Sensitive.json
  bootstrap/sql/migrations/native/1.11.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.11.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.11.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.11.0/postgres/schemaChanges.sql
  ingestion/src/metadata/pii/algorithms/presidio_recognizer_factory.py
  ingestion/src/metadata/pii/processor_factory.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/auto_classification.py
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcess.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcessImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v1110/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v1110/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v1110/MigrationProcessBase.java
  openmetadata-service/src/main/resources/json/data/tags/piiTagsWithRecognizers.json
  openmetadata-spec/src/main/resources/json/schema/type/predefinedRecognizer.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/classification/createTag.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/classification/createTagWithRecognizers.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/classification/loadTags.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/classification/tag.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/predefinedRecognizer.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/recognizer.ts
Labels: safe to test

#23782 Pin `pydantic` to <2.12.0
  ingestion/setup.py
Labels: Ingestion, safe to test, To release

#23790 feat: Unity Catalog Lineage Enhancement - External Location Support
  ingestion/src/metadata/ingestion/source/database/unitycatalog/client.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/models.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/tests/unit/topology/database/test_unity_catalog_lineage.py
Labels: Ingestion, safe to test
