Repository open-metadata/OpenMetadata, pull requests merged in 2025-04, with the labels that each got.

#20483 Docs: Connectors Features addition along with note addition in power Bi
  openmetadata-docs/content/v1.6.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/powerbi/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/powerbi/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/yaml.md
Labels: safe to test

#20541 Revert "MINOR: remove home redirect link from the navbar logo"
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
Labels: UI, safe to test

#20315 Fixes #19690: Add QlikCloud dashboard filter by space name type
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/client.py
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/models.py
  ingestion/tests/unit/topology/dashboard/test_qlikcloud.py
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qlikcloud/yaml.md
  openmetadata-docs/images/v1.7/connectors/qlikcloud/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/qlikcloud/select-service.png
  openmetadata-docs/images/v1.7/connectors/qlikcloud/service-connection.png
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/qlikCloudConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/QlikCloud.md
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JSONSchemaTemplate/WorkflowArrayFieldTemplate.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JSONSchemaTemplate/WorkflowArrayFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/qlikCloudConnection.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Templates.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionDetailsUtils.tsx
Labels: Ingestion, safe to test

#20278 Fixes #19534: Snowflake stream ingestion support
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/doris/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/constants.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/models.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/tests/unit/topology/database/test_bigquery.py
  ingestion/tests/unit/topology/database/test_cockroach.py
  ingestion/tests/unit/topology/database/test_hive.py
  ingestion/tests/unit/topology/database/test_mssql.py
  ingestion/tests/unit/topology/database/test_postgres.py
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/main-concepts/metadata-standard/schemas/entity/services/connections/database/snowflakeConnection.md
  openmetadata-service/src/main/resources/json/data/testConnections/database/snowflake.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Snowflake.md
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
Labels: Ingestion, safe to test

#20543 MINOR: update getExtraInfo return type
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, safe to test

#20151 Chore: Fix type generation script
  openmetadata-ui/src/main/resources/ui/json2ts-generate-all.sh
  openmetadata-ui/src/main/resources/ui/types-licensing.txt
Labels: UI, safe to test

#20554 FIX: switch dbx to approx_percentile
  ingestion/src/metadata/profiler/orm/functions/median.py
Labels: Ingestion, safe to test, To release

#20556 MINOR: fix: Cannot invoke "java.util.Map.getOrDefault(Object, Object)" because the return value of "org.openmetadata.schema.entity.services.ingestionPipelines.PipelineStatus.getConfig()" is null
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Labels: Ingestion, safe to test

#20560 Docs: Fixing Day1 Docs Requirement Section
  openmetadata-docs/content/v1.6.x/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/getting-started/day-1/index.md
Labels: safe to test

#20558 MINOR: Update Playwright integration test workflows to use 'playwright' deps
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  ingestion/setup.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
Labels: Ingestion, safe to test

#20536 fix the glossary-term loading and column size issue
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Labels: UI, safe to test

#20486 Fix : Feeds not getting updated on user profile change.
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ProfilerConfigurationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
Labels: UI, safe to test

#20535 Fix : User Profile edit widgets and Entity Popover Card
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaSelectableList/PersonaSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamsSelectable/TeamsSelectableNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/users.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Chip/Chip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Chip/chip.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabelNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableListNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTreeNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/popover-card.less
  openmetadata-ui/src/main/resources/ui/src/components/common/TagRenderer/TagRenderer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagRenderer/TagRenderer.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test

#20534 ISSUE-20533: fetching tag field for table to not delete certification
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Labels: safe to test, To release

#19469 Unpinned google-cloud-secret-manager version in ingestion dependencies
  ingestion/setup.py
Labels: safe to test, To release

#20569 fix(test): apiContext socket hangup issue in AUTs
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Labels: UI, safe to test

#20561 Fix : AUT failure for Ingestion bot
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Labels: UI, safe to test

#20428 ISSUE-20427: fix tableau ingestion for null upstream table queries
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
Labels: safe to test, To release

#20551 MINOR - Remove airflow_lineage_operator from final ingestion image
  ingestion/Dockerfile.ci
  ingestion/examples/airflow/test_dags/airflow_lineage_operator.py
Labels: Ingestion, safe to test

#20548 MINOR: Fix public schema lieage for postgres
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/src/metadata/utils/db_utils.py
Labels: Ingestion, safe to test

#20544 MINOR: Implement Column Validation in Lineage
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  ingestion/tests/unit/test_lineage_utils.py
Labels: Ingestion, safe to test, To release

#20562 MINOR: Fix workflow instance status
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateAndRunIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
Labels: Ingestion, safe to test

#20566 MINOR: Fix collate ai documentation agent
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/EventBasedEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/NoOpTrigger.java
Labels: Ingestion, safe to test

#20578 Fix: IncidentManager date filtering and update table column title
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.test.tsx
Labels: UI, safe to test

#20583 fix(ui): tour page and tags data inside table
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1New.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Labels: UI, safe to test

#20588 Rename ingestion agent to ingestion runner entity reference
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/apiservices/APIServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/searchIndexes/SearchServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceMapper.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/ServiceEntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createApiService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDashboardService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDatabaseService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMessagingService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMetadataService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMlModelService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createPipelineService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createSearchService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createStorageService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/searchService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createApiService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMessagingService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMetadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMlModelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createSearchService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createStorageService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/apiService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/messagingService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/metadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/mlmodelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/searchService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/storageService.ts
Labels: backend, safe to test

#20590 PLAYWRIGHT: skip BulkEdit Entity Database playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
Labels: UI, safe to test

#20592 minor: settings card icons consistency for safari browser
  openmetadata-ui/src/main/resources/ui/src/assets/svg/admin-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/api-collection-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/api-endpoints-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/apis-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/application-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/bot-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dashboard-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dashboard-data-models-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-assets-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-product-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/database-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/database-schema-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/domain-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/email-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/glossary-term-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/health-check.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/lineage-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/login-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/messaging-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/metadata-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/metric-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ml-models-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/persona-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/pipelines-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/policies-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/preferences-omd.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/preferences-search.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/profiler-configuration-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/query-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/roles-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/search-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/search-index-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/setting-access-control.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/setting-custom-properties.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/setting-data-observability.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/setting-management.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/setting-notification.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/setting-services-omd.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/storage-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/stored-procedures-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/table-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/tags-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/teams-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/theme-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/url-link-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/user-colored.svg
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/setting-item-card.style.less
Labels: UI, safe to test

#20595 Docs: Note Updation in Mwaa
  openmetadata-docs/content/v1.6.x/deployment/ingestion/external/mwaa.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/ingestion/external/mwaa.md
Labels: safe to test

#20596 Docs: Collate Mention in Table Data to Be Fresh
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/test.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/test.md
Labels: safe to test

#20542 Docs: Connectors Troubleshooting addition for Dashboard
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/qliksense/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/redash/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/sigma/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/superset/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/tableau/troubleshooting.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qliksense/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/redash/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/sigma/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/superset/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: safe to test

#20573 Fix: dbt cloud latest run execution
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/models.py
  ingestion/tests/unit/topology/pipeline/test_dbtcloud.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dbtCloudConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/dbtCloudConnection.ts
Labels: Ingestion, safe to test

#20591 [Reverse Metadata] Docs: Reverse Ingestion Documentation
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/reverse-metadata.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: Ingestion, safe to test

#20579 Wherescape Documentation
  openmetadata-docs/content/partials/v1.7/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/wherescape/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/wherescape/yaml.md
  openmetadata-docs/images/connectors/wherescape.webp
  openmetadata-docs/images/v1.7/connectors/wherescape/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/wherescape/select-service.png
  openmetadata-docs/images/v1.7/connectors/wherescape/service-connection.png
Labels: safe to test

#20598 MINOR: Add PATCH endpoint to update storage service by FQN
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
Labels: Ingestion, safe to test, To release

#20605 MINOR: Add dbt plugin to Playwright dependencies
  ingestion/setup.py
Labels: Ingestion, safe to test

#20457 Fixes 20435: fix: trino data diff paths
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/tests/integration/trino/test_data_quality.py
Labels: Ingestion, safe to test

#20484 Minor: Entity Header certificates Design changes
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/CertificationTag.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/certification-tag.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: safe to test

#20614 Remove: user list api from activityFeedProvider without impacting current behaviour
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
Labels: UI, safe to test

#20589 Update Profile Picture Default Stylings
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/CommentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/OwnerFeed/OwnersFeed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardFooter/FeedCardFooterNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TasktabIncidentManagerHeaderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfileCard/ProfileSectionUserDetailsCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/UserAvatarGroup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePictureNew.tsx
Labels: UI, safe to test

#20608 minor(ui): remove description from custom properties
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
Labels: UI, safe to test

#20620 MINOR: fix glossary column shifting on some assertion
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Labels: UI, safe to test

#20609 Minor : Update task filter icon
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedsFilterPopover/FeedsFilterPopover.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#20601 MINOR: move the export png logic to utils to work independently
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DailyActiveUsersChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DataInsightChartCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Export/ExportUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Export/ExportUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExportUtilClassBase.ts
Labels: UI, safe to test

#20615 Minor: Ui Feedback changes
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsAlert/suggestions-alert.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: safe to test

#20600 playwright: add debug log in case of ingestion pipeline failure.
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Labels: UI, safe to test

#20576 Minor: support owner redirection
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/UserAvatarGroup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePictureNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RemainingOwner/OwnerReveal.tsx
Labels: UI, safe to test

#20531 Update column config to store user preference in localStorage
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ListView/ListView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#20635 Fix: Improved test suite logging
  ingestion/src/metadata/data_quality/source/test_suite.py
Labels: Ingestion, safe to test, To release

#20512 MINOR: apply new tab design overall application where required
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointVersion/APIEndpointVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/StoredProcedureVersion/StoredProcedureVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricVersion/MetricVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchIndexVersion/SearchIndexVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/users.less
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailsList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPageList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/service-page.less
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Labels: UI, safe to test

#20628 Refactor ServiceBaseClass: Implement exponential backoff for API requests and enhance error handling in pipeline status retrieval
  openmetadata-ui/src/main/resources/ui/playwright/constant/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
Labels: UI, safe to test

#20580 Improve: The default filters values passed in service connection JSON schemas.
  openmetadata-spec/src/main/resources/json/schema/api/lineage/nodeInformation.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/unityCatalogConnection.json
  openmetadata-spec/src/main/resources/json/schema/type/filterPattern.json
  openmetadata-ui/src/main/resources/ui/json2ts-generate-all.sh
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/lineage/nodeInformation.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMetadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/supersetConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/databricksConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/hiveConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/mssqlConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/mysqlConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/oracleConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/postgresConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/redshiftConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/unityCatalogConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/metadata/alationConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/airflowConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/metadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Labels: UI, safe to test

#20618 PLAYWRIGHT: fix bulk edit entity playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
Labels: UI, safe to test

#20641 Minor: added new export type and fileName fix on download
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Export.constants.ts
Labels: UI, safe to test

#20610 Rename ingestion agent to ingestion runner entity reference
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/apiservices/APIServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/dashboard/DashboardServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/database/DatabaseServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/messaging/MessagingServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/mlmodel/MlModelServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/pipeline/PipelineServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/searchIndexes/SearchServiceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceMapper.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/ServiceEntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createApiService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDashboardService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createDatabaseService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMessagingService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMetadataService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createMlModelService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createPipelineService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createSearchService.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createStorageService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/searchService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createApiService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMessagingService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMetadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMlModelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createSearchService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createStorageService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/apiService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/messagingService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/metadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/mlmodelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/searchService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/storageService.ts
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
Labels: safe to test, Collate

#20640 minor(ui) - Update Test connection modal to cancel the message when modal closes
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
Labels: UI, safe to test

#20626 fix(ui): status badges and dashborad page chart label styles
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-alert-circle.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-check-circle-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-pause.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-play.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-rocket.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-stop-circle.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/DataAssetsCoveragePieChartWidget/DataAssetsCoveragePieChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/EntityHealthStatusPieChartWidget/EntityHealthStatusPieChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTimeChartWidget/IncidentTimeChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTypeAreaChartWidget/IncidentTypeAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusCardWidget/StatusCardWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusAreaChartWidget/TestCaseStatusAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusPieChartWidget/TestCaseStatusPieChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryStatusBadge/GlossaryStatusBadge.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/ingestion-recent-run.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/StatusBadge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/StatusBadge.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/status-badge.less
  openmetadata-ui/src/main/resources/ui/src/constants/StatusBadge.constant.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionListTableUtils.tsx
Labels: UI, safe to test

#20613 Minor: Day one trigger button on service details page
  openmetadata-ui/src/main/resources/ui/src/assets/svg/trigger.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationConfiguration/ApplicationConfiguration.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/select-service-type.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/service-details-page.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/button.less
Labels: UI, safe to test

#20647 Chore(ui): Layout and styling fixes according to the new design
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/ingestion-list-table.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/MetadataAgentsWidget/metadata-agents-widget.less
  openmetadata-ui/src/main/resources/ui/src/enums/Alerts.enum.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddNotificationPage/AddNotificationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsActivityFeedPage/AlertsActivityFeedPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/custom-properties-pageV1.less
  openmetadata-ui/src/main/resources/ui/src/pages/ObservabilityAlertsPage/ObservabilityAlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/EditRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/policies-detail.less
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/add-edit-form-steps.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/button.less
Labels: UI, safe to test

#20619 Consolidate User avatar components and update stylings
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/OwnerFeed/OwnersFeed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TasktabIncidentManagerHeaderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerAvtar/OwnerAvatar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/UserAvatarGroup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/owner-label.less
  openmetadata-ui/src/main/resources/ui/src/components/common/RemainingOwner/OwnerReveal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/RemainingOwner/OwnerReveal.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#20651 Fix : Activity Feed Loader and long glossary term name header overflow issue on task card
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1New.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/feed-panel-body-v1.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
Labels: UI, safe to test

#20646 Fixed : Members page and Minor UI bugs
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotListV1/BotListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionStatusCount/IngestionStatusCount.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionPipelineList/IngestionPipelineList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Labels: safe to test

#20648 Refactor: Update SVG icons and components to use new edit icon (#20650)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/edit-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/edit-outline-primery.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/edit-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-change-pw.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-close-circle.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-edit-lineage-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-edit-lineage.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-edit-profile.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-edit-suggestion.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-edit.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-gray.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-tick-circle.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-trash.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-user-profile-edit.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-edit-primary.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/PopoverContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/ActivityFeedActions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/Severity/Severity.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/Severity/Severity.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/task-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaSelectableList/PersonaSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfileCard/ProfileSectionUserDetailsCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableListNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityBulkEdit/EntityBulkEditUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Labels: UI, safe to test

#20634 issue-20546: REST connector enhancements
  ingestion/src/metadata/examples/workflows/rest.yaml
  ingestion/src/metadata/ingestion/source/api/rest/connection.py
  ingestion/src/metadata/ingestion/source/api/rest/metadata.py
  ingestion/src/metadata/ingestion/source/api/rest/models.py
  ingestion/src/metadata/utils/filters.py
  ingestion/tests/unit/topology/api/test_rest.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/api/restConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/api/restConnection.ts
Labels: Ingestion, safe to test, To release

#20653 fix table design mismatch issues
  openmetadata-ui/src/main/resources/ui/src/assets/svg/arrow-right.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/comment.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/drag.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/request-icon.svg
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableDescription/TableDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PaginationComponent/PaginationComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/Execution.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/ListView/ListViewTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/ListView/ListViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/RolesAndPoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/team.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/teams.less
  openmetadata-ui/src/main/resources/ui/src/components/common/IconButtons/EditIconButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NextPrevious/NextPrevious.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SearchBarComponent/SearchBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SearchBarComponent/search-bar.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/table.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailsList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPageList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTasks/EntityTasks.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableColumn.util.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#20658 Revert "MINOR: Implement Column Validation in Lineage (#20544)"
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  ingestion/tests/unit/test_lineage_utils.py
Labels: Ingestion, safe to test

#20668 MINOR: Improve threading for lineage
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
Labels: Ingestion, safe to test

#20587 MINOR - Update Auto Classification defaults for sample data & classif…
  ingestion/tests/integration/datalake/conftest.py
  ingestion/tests/integration/datalake/test_datalake_profiler_e2e.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
  ingestion/tests/integration/profiler/test_dynamodb.py
  ingestion/tests/integration/profiler/test_nosql_profiler.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceAutoClassificationPipeline.json
Labels: Ingestion, safe to test

#20545 MINOR: Implement column validation in lineage patch api
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: Ingestion, safe to test

#20661 Fixed lineage full screen
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
Labels: UI, safe to test

#20659 Minor: Fixed No owner text color
  openmetadata-ui/src/main/resources/ui/src/components/common/NoOwner/NoOwnerFound.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/owner-label.less
Labels: UI, safe to test

#20671 UI design feedbacks
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/bank.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/classification.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/explore.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/glossary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-alert.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-data-contract.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-domain.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-home.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-incident-manager.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-observability.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-platform-lineage.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-v1.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/lamp-charge.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/logout.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/metric.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ChangeParentHierarchy/ChangeParentHierarchy.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/nav-bar.less
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/StatusBadge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/StatusBadge.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
Labels: UI, safe to test

#20678 Added prefix and SSE in S3
  openmetadata-service/src/main/java/org/openmetadata/service/config/S3Configuration.java
Labels: backend, safe to test

#20672 Feat: supporting PR for export dashboard
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.tsx
Labels: UI, safe to test

#20666 Fix : Charts details display issue in summary panels.
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetSummaryPanel/DataAssetSummaryPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtils.tsx
Labels: UI, safe to test

#20553 DEPRECATE - Remove support for Python 3.8
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests-skip.yml
  .github/workflows/py-tests.yml
  .github/workflows/python-packages-publish.yml
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-docs/content/partials/v1.7/deployment/upgrade/upgrade-prerequisites.md
Labels: Ingestion, safe to test, Backward-Incompatible-Change

#20682 MINOR: change the icon of request and comment icons
  openmetadata-ui/src/main/resources/ui/src/assets/svg/comment.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/request-icon.svg
Labels: UI, safe to test

#20673 MINOR: added option for extended menu item in platform insight service
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#20692 MINOR: Fix Py-CheckStyle Workflow
  .github/workflows/py-checkstyle.yml
Labels: Ingestion, safe to test

#20686 [Fix-20683] Indexing Issues due incrementalChangeDescription
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#20699 Update what's new content for 1.6.8
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: Ingestion, safe to test

#20677 Fix: Minor css bugs
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/task-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
Labels: UI, safe to test

#20709 chore: Add Logs for import export
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
Labels: backend, safe to test

#20652 Fix - 1.7 Glossary feedback and other minor bug fixes
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIEndpointIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/json/data/searchSettings/searchSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryImportExport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: backend, safe to test

#20706 feat(ui): add PDF layout configuration and dimensions interfaces
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.interface.ts
Labels: UI, safe to test

#20707 Default credentials, prefix path in Azure
  openmetadata-service/src/main/java/org/openmetadata/service/config/AzureConfiguration.java
Labels: backend, safe to test

#20688 Docs: Image Updation in Roles and Policies
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/roles-policies/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/index.md
  openmetadata-docs/images/v1.6/how-to-guides/roles-policies/evaluation.png
  openmetadata-docs/images/v1.7/how-to-guides/roles-policies/evaluation.png
Labels: safe to test

#20710 Fixes: Snowflake Tags Ingestion
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Labels: Ingestion, safe to test

#20684 Docs: 3.8 Python version Removal
  openmetadata-docs/content/partials/v1.7/connectors/python-requirements.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/deltalake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/deltalake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/configure.md
Labels: safe to test

#20715 Docs: Saml Example Updation
  openmetadata-docs/content/v1.6.x/deployment/security/saml/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/saml/index.md
Labels: safe to test

#20717 [Minor] - Add Check for Null destinations
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v140/MigrationUtil.java
Labels: backend, safe to test

#20687 reverted the table header changes
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/table.less
Labels: UI, safe to test

#20700 Minor: fixed copy tooltip || source url button
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#20702 Minor: Removed Divider from table
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppSchedule/AppSchedule.component.tsx
Labels: UI, safe to test

#20722 chore: more linient pinning for python neo4j
  ingestion/setup.py
Labels: Ingestion, safe to test

#20727 Docs: 1.6.8 Release Updation
  openmetadata-docs/content/partials/v1.6/releases/1.6.7.md
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/partials/v1.7/releases/1.6.7.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
Labels: safe to test

#20725 [Fix-19741] Azure SSO callback getRefreshToken null
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
Labels: backend, safe to test

#20721 [Fix-20125] OIDC: Allow max_age to be optional
  conf/openmetadata.yaml
  docker/development/docker-compose-gcp.yml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-spec/src/main/resources/json/schema/security/client/oidcClientConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/security/client/oidcClientConfig.ts
Labels: backend, safe to test

#20701 MINOR: docs: reverse metadata feature grid
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/reverse-metadata.md
Labels: Ingestion, safe to test

#20728 MINOR: documentation improvements for Reverse Metadata
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/reverse-metadata.md
Labels: documentation, Ingestion, safe to test, applications

#20730 MINOR: Reverse Metadata Custom SQL documentation
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
Labels: Ingestion, safe to test

#20636 MINOR: chore: explicit types in appRunRecord.json
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/OmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appRunRecord.json
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/appRunRecord.ts
  openmetadata-ui/src/main/resources/ui/src/generated/system/eventPublisherJob.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationUtils.tsx
Labels: Ingestion, safe to test

#20514 MINOR: added alert notification for async delete process completion
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiServiceRest.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/src/context/AsyncDeleteProvider/AsyncDeleteProvider.tsx
Labels: UI, safe to test

#20731 MINOR: fix the tag selector overflow issue from cell
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/GlobalSettingsItem/global-settings-item.less
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
Labels: UI, safe to test

#20645 fix tabs border and spacing
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardChartTable/DashboardChartTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/EmptyGraphPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DataProductsTab/DataProductsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/AssignErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/CreateErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/CustomNoDataPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/FilterErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/FilterTablePlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/PermissionErrorPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ObservabilityAlertsPage/ObservabilityAlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionDetailsUtils.tsx
Labels: UI, safe to test

#20735 Fix: minor issue in default persona update
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfilePersona/UserProfilePersona.component.tsx
Labels: UI, safe to test

#20696 Update Inherited owner style for all the Avatars and minor css fixes
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/task-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfileCard/ProfileSectionUserDetailsCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerAvtar/OwnerAvatar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerAvtar/owner-avtar.less
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/owner-label.less
Labels: UI, safe to test

#20424 Add collate hybrid ingestion documentation
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/images/v1.7/getting-started/ingestion-runner-list.png
  openmetadata-docs/images/v1.7/getting-started/ingestion-runner-preferences.png
  openmetadata-docs/images/v1.7/getting-started/ingestion-runner-secrets.png
  openmetadata-docs/images/v1.7/getting-started/ingestion-runner-service.png
Labels: documentation, backend, safe to test

#20711 feat(ui): support async delete for glossary and terms
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DeleteWidget/DeleteWidgetClassBase.ts
Labels: UI, safe to test

#20726 Fixes: Reverse Metadata Documentation
  openmetadata-docs/content/partials/v1.7/connectors/database/athena/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/bigquery/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/clickhouse/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/databricks/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/mssql/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/mysql/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/oracle/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/postgres/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/redshift/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/snowflake/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/database/unitycatalog/reverse-metadata.md
  openmetadata-docs/content/partials/v1.7/connectors/reverse-metadata-link.md
  openmetadata-docs/content/partials/v1.7/connectors/reverse-metadata-workflow-link.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/reverse-metadata.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: Ingestion, safe to test

#20712 MINOR: Fix Python Workflows
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/python-packages-publish.yml
Labels: Ingestion, safe to test

#20739 Fix Empty Password Settings
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
Labels: backend, safe to test, To release

#20748 Docs: Hyper Link Insertion
  openmetadata-docs/content/v1.6.x/deployment/azure-auth.md
  openmetadata-docs/content/v1.6.x/deployment/iam-auth.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/azure-auth.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/iam-auth.md
Labels: safe to test

#20751 Docs: Service Insights Doc Updation
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-insights/service-insights.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: safe to test

#20747 Fix DataAssetsHeader component logic and add tests for data quality lineage conditions
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
Labels: UI, safe to test

#20750 MINOR: fix the team profile call being made in activity feed
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/OwnerFeed/OwnersFeed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
Labels: UI, safe to test

#20741 MINOR: supported entityName in arguments of extraManageItems in entityClass
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
Labels: UI, safe to test

#20685 Fix Multiple tooltip || User Table
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/CertificationTag.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: UI, safe to test

#20738 RELEASE - Add openmetadata/ingestion-slim
  .github/workflows/docker-openmetadata-ingestion.yml
Labels: Ingestion, safe to test

#20744 test(ui): fix search preview AUT failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
Labels: UI, safe to test

#20743 fix(ui): data-insight layout and delete widget messaging
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/data-insight-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
Labels: UI, safe to test

#20690 FIX #19919 - Traverse children columns when accepting suggestions
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/SuggestionsResourceTest.java
Labels: Ingestion, safe to test

#20720 MINOR: Renamed DayOneApp to AutoPilot
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/autoPilot/AutoPilotApp.java
  openmetadata-service/src/main/resources/applications/AutoPilotApplication/openmetadata/AutoPilotWorkflow.json
  openmetadata-service/src/main/resources/json/data/app/AutoPilotApplication.json
  openmetadata-service/src/main/resources/json/data/app/DayOneExperienceApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/AutoPilotApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/autoPilotAppConfig.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiServiceRest.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/applications.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/authTeardown.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/initialSetup.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/AutoPilotApplication.md
  openmetadata-ui/src/main/resources/ui/src/assets/svg/AutoPilotApplication.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Applications.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/ServiceInsightsTab.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AutoPilotWorkflow.enum.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/authenticationConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/autoPilotAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/AutoPilotApplication.json
Labels: Ingestion, safe to test

#20757 Add ingestionRunner field to testConnection schema
  openmetadata-spec/src/main/resources/json/schema/entity/automations/testServiceConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
Labels: backend, safe to test

#20767 MINOR: Ingestion Runner Updates
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: UI, safe to test

#20768 Missing Permission on Adding Users to team
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
Labels: backend, safe to test, security

#20766 [Fix-20765] Issue in update() method
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/autoPilot/AutoPilotApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/connections/TestConnectionDefinitionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AppMarketPlaceUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
Labels: backend, safe to test

#20520 Add Policy validation to users
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
Labels: backend, safe to test

#20760 feat(ui): add new SVG icons for file formats and update BlockEditor styles
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-attachment.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-audio.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-video.svg
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/AttachmentComponents/AttachmentPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/AttachmentComponents/FileAttachment.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/AttachmentComponents/FileAttachment.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/AttachmentComponents/ImageAttachment.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/FileNodeView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/EmbedLinkElement/EmbedLinkElement.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slash-command/SlashCommandList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slash-command/items.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/constants/BlockEditor.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
Labels: UI, safe to test

#20762 #1426: supported domain information in EntityInfoPanel
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntitySummaryPanel.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetSummaryPanel/DataAssetSummaryPanel.tsx
Labels: UI, safe to test

#20723 [Minor] : Fix #19845 Number type custom properties being treated as integer
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Labels: backend, safe to test

#20758 Chore(ui): AutoPilot status banner behaviour improvements
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointDetails/APIEndpointDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LocalStorage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/AsyncDeleteProvider/AsyncDeleteProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/context/AsyncDeleteProvider/AsyncDeleteProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/AsyncDeleteProvider/AsyncDeleteProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Labels: UI, safe to test

#20773 Docs: Service Insights Doc Updation
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-insights/service-insights.md
  openmetadata-docs/images/v1.7/how-to-guides/insights/service-insights1.png
  openmetadata-docs/images/v1.7/how-to-guides/insights/service-insights2.png
  openmetadata-docs/images/v1.7/how-to-guides/insights/service-insights3.png
  openmetadata-docs/images/v1.7/how-to-guides/insights/service-insights4.png
  openmetadata-docs/images/v1.7/how-to-guides/insights/service-insights5.png
  openmetadata-docs/images/v1.7/how-to-guides/insights/service-insights6.png
Labels: safe to test

#20761 MINOR: added beta tag for png and pdf export
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Export.constants.ts
Labels: UI, safe to test

#20756 Fixes #20680: Added readTimeout input field
  openmetadata-ui/src/main/resources/ui/playwright/constant/alert.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/alert.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/notificationAlert.ts
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationFormItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationFormItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Alerts.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Labels: safe to test, To release

#20581 Fixes #20289 : Added application run logs for DataRetentionApp
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetention.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
Labels: backend, safe to test

#20714 Minor:Restyled button group
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointSchema/APIEndpointSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/Execution.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineTaskTab/PipelineTaskTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ListView/ListView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/radio.less
Labels: UI, safe to test

#20778 Docs: oidcConfiguration.enabled Addition
  openmetadata-docs/content/v1.6.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/kubernetes.md
Labels: safe to test

#20500 Wherescape Connector
  ingestion/src/metadata/examples/workflows/wherescape.yaml
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/wherescape.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/wherescapeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Wherescape.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/pipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/wherescapeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: safe to test

#20772 MINOR: Fix PII Column Bar Chart
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
Labels: Ingestion, safe to test

#20780 Docs: Glue Pipeline Feature Updation
  openmetadata-docs/content/v1.6.x/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/glue-pipeline/yaml.md
Labels: safe to test

#20774 Chore(ui): Minor bug fixes and improvements
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DocumentationLinksClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Labels: UI, safe to test

#20776 FIX: parsing error in case of special character in tag for BulkEdit/Import case
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
Labels: UI, safe to test

#20732 Custom tooltip for explore Tree
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/explore-tree.less
Labels: safe to test

#20783 Use Subset of Permissions for add delete Users in teams
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
Labels: backend, safe to test

#20785 reverted table fixed header changes
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamImportResult/TeamImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/UserImportResult/UserImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.test.tsx
Labels: UI, safe to test

#20787 fix(ingestion): Correct Topic import in Kinesis source
  ingestion/src/metadata/ingestion/source/messaging/kinesis/metadata.py
Labels: safe to test, To release

#20759 FIX CL-#1427 - PATCH applies inherited owners
  ingestion/tests/integration/ometa/test_ometa_patch.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: Ingestion, safe to test, To release

#20781 Minor updates for edit config page
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#20786 fix the suggestion not visible for nested columns
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableDescription/TableDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test
