Repository open-metadata/OpenMetadata, pull requests merged in 2025-05, with the labels that each got.

#21000 Fix(Ui): fixed flaky metrics tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Metric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
Labels: safe to test

#21072 Docs: Updating the v1.5 references in docs
  openmetadata-docs/content/partials/v1.7/connectors/yaml/auto-classification.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/data-profiler.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/query-usage.md
  openmetadata-docs/content/partials/v1.7/deployment/faqs.md
  openmetadata-docs/content/partials/v1.7/deployment/redeploy.md
  openmetadata-docs/content/partials/v1.7/deployment/upgrade/post-upgrade-steps.md
  openmetadata-docs/content/partials/v1.8/connectors/search/configure-ingestion.md
  openmetadata-docs/content/partials/v1.8/connectors/storage/configure-ingestion.md
  openmetadata-docs/content/partials/v1.8/connectors/yaml/auto-classification.md
  openmetadata-docs/content/partials/v1.8/connectors/yaml/data-profiler.md
  openmetadata-docs/content/partials/v1.8/connectors/yaml/query-usage.md
  openmetadata-docs/content/partials/v1.8/deployment/faqs.md
  openmetadata-docs/content/partials/v1.8/deployment/redeploy.md
  openmetadata-docs/content/partials/v1.8/deployment/upgrade/post-upgrade-steps.md
Labels: safe to test

#21073 [Snyk] Security upgrade org.elasticsearch.client:elasticsearch-rest-high-level-client from 7.17.24 to 7.17.25
  pom.xml
Labels: backend, safe to test, To release

#21069 MINOR: Fix unsupported Pipeline entity for lineage
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Labels: Ingestion, safe to test, To release

#20397 Fix 20325: Trigger external apps with config
  docker/development/docker-compose.yml
  ingestion/pyproject.toml
  ingestion/src/metadata/applications/example.py
  openmetadata-airflow-apis/README.md
  openmetadata-airflow-apis/development/airflow/.gitignore
  openmetadata-airflow-apis/development/airflow/airflow.cfg
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/trigger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/utils.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/trigger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/application.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/MeteredPipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AppMarketPlaceUtil.java
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/HelloPipelines.json
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClientInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/helloPipelinesConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/HelloPipelines.md
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/opertionalConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/appRunRecord.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/helloPipelinesConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/HelloPipelines.json
Labels: Ingestion, safe to test

#21074 MINOR: data sample ingestion bigquery
  ingestion/src/metadata/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/tests/unit/topology/test_runner.py
Labels: Ingestion, safe to test, To release

#21113 Doc: Alerts Images Updation
  openmetadata-docs/images/v1.7/how-to-guides/admin-guide/alert1.webp
  openmetadata-docs/images/v1.7/how-to-guides/admin-guide/alert2.webp
  openmetadata-docs/images/v1.7/how-to-guides/admin-guide/email.webp
  openmetadata-docs/images/v1.7/how-to-guides/admin-guide/notify.webp
  openmetadata-docs/images/v1.8/how-to-guides/admin-guide/alert1.webp
  openmetadata-docs/images/v1.8/how-to-guides/admin-guide/alert2.webp
  openmetadata-docs/images/v1.8/how-to-guides/admin-guide/email.webp
  openmetadata-docs/images/v1.8/how-to-guides/admin-guide/notify.webp
Labels: safe to test

#21112 Doc: Advanced Search Images Update
  openmetadata-docs/images/v1.7/how-to-guides/discovery/adv1.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/adv2.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/adv3.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/adv4.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/adv5.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/adv1.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/adv2.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/adv3.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/adv4.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/adv5.png
Labels: safe to test

#21110 Doc: Quick Glance of Data Assets Images Updation
  openmetadata-docs/images/v1.7/how-to-guides/discovery/prv1.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/prv2.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/prv3.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/prv4.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/prv5.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/prv6.png
  openmetadata-docs/images/v1.7/how-to-guides/discovery/prv7.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/prv1.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/prv2.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/prv3.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/prv4.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/prv5.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/prv6.png
  openmetadata-docs/images/v1.8/how-to-guides/discovery/prv7.png
Labels: safe to test

#21129 Docs: Removing roadmap page from the docs
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x/roadmap/index.md
  openmetadata-docs/content/v1.7.x/menu.md
  openmetadata-docs/content/v1.7.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x/roadmap/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/roadmap/index.md
Labels: safe to test

#21085 Fixed (ui): owner label for incident manager
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NoOwner/NoOwnerFound.tsx
Labels: safe to test

#21050 minor: remove unwanted scrollbar from left panel of data insight page
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/data-insight.less
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/data-quality-page.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/menu.less
Labels: UI, safe to test, To release

#21131 Add operations.yaml
  conf/openmetadata.yaml
  conf/operations.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/openMetadataBaseUrlConfiguration.json
Labels: backend, safe to test

#20992 feat(ui): dynamic height support for detail page widgets
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-card-expand-collapse.svg
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointDetails/APIEndpointDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/DynamicHeightWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/DynamicHeightWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/OwnerLabelV2/OwnerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/ReviewerLabelV2/ReviewerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsContainer/DataProductsContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainExpertsWidget/DomainExpertWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTypeWidget/DomainTypeWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/RelatedMetrics/RelatedMetrics.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/Description.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ExpandableCard/ExpandableCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ExpandableCard/ExpandableCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/IconButtons/EditIconButton.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/FrequentlyJoinedTables.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/FrequentlyJoinedTables.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/PartitionedKeys/PartitionedKeys.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/card.less
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GenericWidget/GenericWidgetUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, To release

#21108 Update pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
Labels: safe to test, To release

#21015 MINOR: parquet endpoint null case error
  ingestion/src/metadata/readers/dataframe/parquet.py
Labels: Ingestion, safe to test, To release

#21053 MINOR: fix the owner/reviewer render on ui
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
Labels: UI, safe to test

#21142 feat(ci): run playwright over particular branch
  .github/workflows/mysql-nightly-e2e.yml
  .github/workflows/postgresql-nightly-e2e.yml
Labels: UI, safe to test

#20994 Fix #20568 : Remove data products associated with the old domain when an entity’s domain is updated
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test

#21145 PLAYWRIGHT: fix bulk import database flaky test
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: UI, safe to test

#21038 Fix: Input Validation for minimum values for Search Index and Data insights
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/nav-bar.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/components/rjsf.less
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/DataInsightsApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#21048 issue-20737: datalake parquet different extensions
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/utils/test_datalake.py
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createContainer.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/container.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
Labels: Ingestion, safe to test, To release

#21127 Fix: Button styling issues
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/task-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaSelectableList/PersonaSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/users.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTreeNew.tsx
Labels: UI, safe to test

#21160 MINOR: fix lineage column icon and entity summary panel owner label not visible
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CommonEntitySummaryInfo/CommonEntitySummaryInfo.tsx
Labels: UI, safe to test

#21134 MINOR fix: autopilot marketplace runtime
  bootstrap/sql/migrations/native/1.8.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/AutoPilotApplication.json
Labels: Ingestion, safe to test

#21135 Minor(ui):Made certification always visible
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
Labels: safe to test

#21128 feat(ui): store user preferences to localStorage
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/initialSetup.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/OwnerLabelV2/OwnerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/ReviewerLabelV2/ReviewerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainExpertsWidget/DomainExpertWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/RelatedMetrics/RelatedMetrics.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/resizable-panels.less
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/FrequentlyJoinedTables.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/PartitionedKeys/PartitionedKeys.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/card.less
Labels: UI, safe to test

#21168 Ignore _openmetadata_testutils from snyk
  .snyk
Labels: Ingestion, safe to test

#21169 Support followers for Database
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
Labels: backend, safe to test

#21183 Doc: Favicon and Logo Doc Updation
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/how-to-add-custom-logo.md
  openmetadata-docs/content/v1.7.x/how-to-guides/admin-guide/how-to-add-custom-logo.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/admin-guide/how-to-add-custom-logo.md
  openmetadata-docs/images/v1.7/how-to-guides/custom-logo/custom-logo-application.png
  openmetadata-docs/images/v1.7/how-to-guides/custom-logo/custom-logo-form.png
  openmetadata-docs/images/v1.7/how-to-guides/custom-logo/custom-logo-login-page.png
  openmetadata-docs/images/v1.7/how-to-guides/custom-logo/logo.png
  openmetadata-docs/images/v1.7/how-to-guides/custom-logo/logo0.1.png
  openmetadata-docs/images/v1.8/how-to-guides/custom-logo/custom-logo-application.png
  openmetadata-docs/images/v1.8/how-to-guides/custom-logo/custom-logo-form.png
  openmetadata-docs/images/v1.8/how-to-guides/custom-logo/custom-logo-login-page.png
  openmetadata-docs/images/v1.8/how-to-guides/custom-logo/logo.png
  openmetadata-docs/images/v1.8/how-to-guides/custom-logo/logo0.1.png
Labels: safe to test

#21049 Fix(ui): Task assignee new styling
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/nav-bar.less
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerAvtar/OwnerAvatar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerAvtar/owner-avtar.less
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/owner-label.less
Labels: UI, safe to test

#21170 fix #20933 [UI Bug] Test Case Metrics: Dots are misaligned / unclear in multi-metric view
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/test-summary-custom-tooltip.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Labels: UI, safe to test, To release

#21173 fix(ui): tree dropdown for glossary terms inside form
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#21159 Fix : Flaky Activity feed playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Labels: UI, safe to test

#21155 Fix: minor issue in tab switch
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.tsx
Labels: UI, safe to test

#21177 Fix #1552: Improve Fetch Oracle View Definition Query
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
Labels: Ingestion, safe to test, To release

#21162 chore: fix flaky Entity playwright tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test

#21192 Doc: Custom Test Case Correction
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/custom-tests.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/quality/custom-tests.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/custom-tests.md
Labels: safe to test

#21196 Doc: Collate Video Updated
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
Labels: safe to test

#21190 fix(ui): ignore basePath static value for dev mode
  openmetadata-ui/src/main/resources/ui/src/utils/HistoryUtils.ts
Labels: UI, safe to test

#21033 FIX - Try to install app before initializing the entity
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Labels: Ingestion, safe to test, To release

#21193 Fix: Resolve multiple image insertion issues and ensure proper inline error messaging
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BarMenu/BarMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/EntityAttachmentProvider/EntityAttachmentProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/EntityAttachmentProvider/EntityAttachmentProvider.tsx
Labels: UI, safe to test, To release

#21189 MINOR: highlight domain name in explore empty data message
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertDetails/AlertRecentEventsTab/AlertRecentEventsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#21188 MINOR: Handle udf definition fetch exceptions
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Labels: Ingestion, safe to test, To release

#21154 Fixes #21058: Bigquery root= prefix added to projectId
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
Labels: Ingestion, safe to test

#21148 Fix : database and shcema page followers
  openmetadata-ui/src/main/resources/ui/playwright/constant/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/databaseAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/serviceAPI.ts
Labels: UI, safe to test

#21191 Fix: flaky user.spec test
  openmetadata-ui/src/main/resources/ui/playwright/utils/sidebar.ts
Labels: UI, safe to test

#21194 FIX: flaky test and ui issues
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/inline-edit.less
Labels: UI, safe to test

#21201 Add dependency in fetchDocument useEffect
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: UI, safe to test

#21185 Fixes #21095: Handle Conn Retry and implement is_disconnect for MSSQL
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/source/database/mssql/profiler_source.py
  ingestion/src/metadata/profiler/source/fetcher/profiler_source_factory.py
Labels: Ingestion, safe to test, To release

#21186 ISSUE #21146 - Properly handle connection on sampler
  ingestion/src/metadata/sampler/processor.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/tests/integration/mysql/conftest.py
Labels: Ingestion, safe to test

#21214 Minor: Add sql query for dbt lineage with nodes
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test, To release

#21207 issue-19890: PBI dataflow support
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
Labels: Ingestion, safe to test

#21208 issue-20074: s3 objects get paginated response
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
Labels: Ingestion, safe to test

#21217 MINOR: fix the announcement card placement and minor styling
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/task-badge.less
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementCard/AnnouncementCard.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementCard/AnnouncementCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test

#21211 Fix : Entity summary panel topic AUT failure
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
Labels: UI, safe to test

#21021 Chore(UI): Move the useAirflowStatus hook to a context to avoid the multiple API calls
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionPipelineList/IngestinoPipelineList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionPipelineList/IngestionPipelineList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/MetadataAgentsWidget/MetadataAgentsWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AirflowMessageBanner/AirflowMessageBanner.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AirflowMessageBanner/AirflowMessageBanner.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SuccessScreen/SuccessScreen.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SuccessScreen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/context/AirflowStatusProvider/AirflowStatusProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/context/AirflowStatusProvider/AirflowStatusProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/AirflowStatusProvider/AirflowStatusProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useAirflowStatus.test.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Ingestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/IngestionListTable.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test, To release

#21223 docs: pbi, databricks docs fix
  openmetadata-docs/content/v1.6.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/databricks/index.md
Labels: documentation, safe to test

#21218 Fix 21080 : Loader issue for deleted user
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
Labels: UI, safe to test

#21234 Doc: schemaRegistryTopicSuffixName updation
  openmetadata-docs/content/v1.6.x/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.7.x/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/messaging/kafka/troubleshooting.md
Labels: safe to test

#21235 Doc: GCS & MWAA Link Addition
  openmetadata-docs/content/v1.6.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/pipeline/airflow/index.md
Labels: safe to test

#21236 MINOR: docs: added openapi docs link
  openmetadata-docs/content/v1.6.x/sdk/index.md
  openmetadata-docs/content/v1.7.x/sdk/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/sdk/index.md
Labels: documentation, safe to test

#21238 Docs: No Code Test Cases Images Updation
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/quality/test.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/test.md
  openmetadata-docs/images/v1.7/how-to-guides/quality/test1.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test10.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test11.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test2.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test3.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test5.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test6.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test7.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test8.png
  openmetadata-docs/images/v1.7/how-to-guides/quality/test9.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test1.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test10.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test11.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test2.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test3.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test5.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test6.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test7.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test8.png
  openmetadata-docs/images/v1.8/how-to-guides/quality/test9.png
Labels: safe to test

#21225 ISSUE #17170: handle oracle unique count
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValuesToBeUnique.py
  ingestion/src/metadata/profiler/processor/runner.py
  ingestion/src/metadata/utils/sqa_utils.py
Labels: Ingestion, safe to test

#21197 chore(ui): update add button styling for expandable cards
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/OwnerLabelV2/OwnerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/ReviewerLabelV2/ReviewerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductSelectForm/DataProductsSelectForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductSelectForm/DataProductsSelectForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductSelectForm/DataProductsSelectForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsContainer/DataProductsContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsSelectList/DataProductSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsSelectList/DataProductsSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainExpertsWidget/DomainExpertWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/RelatedMetrics/RelatedMetrics.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ExpandableCard/ExpandableCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ExpandableCard/ExpandableCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/IconButtons/EditIconButton.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/FrequentlyJoinedTables/FrequentlyJoinedTables.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
Labels: UI, safe to test

#21167 Fix snyk's reported vulnerabilities
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/generic/GenericPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ExpressionValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/URLValidator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/ExpressionValidatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
  pom.xml
Labels: backend, safe to test

#21254 fix(test): tags & glossary term failure
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test

#21257 fix(ui): authenticate pipeline status api call
  openmetadata-ui/src/main/resources/ui/src/context/AirflowStatusProvider/AirflowStatusProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/AirflowStatusProvider/AirflowStatusProvider.tsx
Labels: UI, safe to test

#21258 Minor : Fix enum cleanup not triggering when all enum keys are removed
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
Labels: backend, safe to test

#21242 MINOR: Disable Flaky superset tests
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: Ingestion, safe to test

#21221 ISSUE #21216: added include field to incident list
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: Ingestion, safe to test

#21253 ISSUE #20962 - Issues with test case alerts
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResultIndex.java
Labels: Ingestion, safe to test

#21205 Fix - 21204 inconsistent domain reassignment in bulkAsset API
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Labels: backend, safe to test

#21151 Fix airbyte pipeline lineage extraction
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/constants.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/utils.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/models.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/topology/pipeline/test_airbyte.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, safe to test, To release

#21182 MINOR: Configurable account usage for incremental metadata extraction
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
Labels: Ingestion, safe to test, To release

#21262 MINOR: Add athena schema comment support
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
Labels: Ingestion, safe to test, To release

#21227 Added(ui): edit display name for dashboard Data model
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
Labels: UI, safe to test

#21107 Fix: Observablity alert flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/alert.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/observabilityAlert.ts
Labels: safe to test

#21261 Fix #1550: Metadata ingestion errors from Azure Data Lake
  ingestion/src/metadata/readers/dataframe/json.py
Labels: Ingestion, safe to test, To release

#21209 fixed BulkEditEntity flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Labels: UI, safe to test

#21260 FIX - Ingestion workaround for Services with null secrets
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/src/metadata/workflow/profiler.py
Labels: Ingestion, safe to test, To release

#21243 Fix #1532: Fix Error ingesting using Datalake adls connector
  ingestion/src/metadata/utils/datalake/datalake_utils.py
Labels: Ingestion, safe to test, To release

#21263 fix(ui): styles for permission placeholder
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AdminProtectedRoute.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.tsx
Labels: UI, safe to test

#21266 Fix(ui) : Assignee alignment issue on task feed card for deleted user/team
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
Labels: UI, safe to test

#21267 fix: move autopilot runtime migrations to 1.7.1
  bootstrap/sql/migrations/native/1.7.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.1/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.0/postgres/schemaChanges.sql
Labels: Ingestion, safe to test

#21271 PLAYWRIGHT: fix the flaky test failure around bulk import
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: UI, safe to test

#21256 Revamp login page
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-bg.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-menu.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-tabs.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-collaboration.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-discovery.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-governance.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-insights.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/data-quality.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-data-asset.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-language.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-items.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-list.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-reviewer.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/observability/observability-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/observability/observability-testcase.png
  openmetadata-ui/src/main/resources/ui/src/constants/Login.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/LoginClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/LoginCarousel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/LoginCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/login.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: UI, safe to test, To release

#21163 feat(ci): support slack message for OSS playwright run
  .github/workflows/mysql-nightly-e2e.yml
  .github/workflows/postgresql-nightly-e2e.yml
  .gitignore
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/salck-cli.config.json
Labels: UI, safe to test, To release

#21268 MINOR: fix the data asset header spacing in Metric entity
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/github-star-card.style.less
Labels: UI, safe to test

#21237 Fix : Tableau e2e extra params
  ingestion/tests/cli_e2e/dashboard/tableau/tableau.yaml
Labels: Ingestion, safe to test

#21283 fix(ui): Edit and display roles issue for bot page
  openmetadata-ui/src/main/resources/ui/src/components/common/InheritedRolesCard/InheritedRolesCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RolesCard/RolesCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/card.less
Labels: UI, safe to test

#21272 bugfix: powerbi lineage source parameter usecase fix, last active user ingestion fix
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Labels: Ingestion, safe to test, To release

#21281 fix(test): flaky glossary version test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/GlossaryVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/PermissionErrorPlaceholder.tsx
Labels: UI, safe to test

#21248 feature/pii-processor-improvement
  .pre-commit-config.yaml
  ingestion/pyproject.toml
  ingestion/src/metadata/pii/algorithms/classifiers.py
  ingestion/src/metadata/pii/algorithms/preprocessing.py
  ingestion/src/metadata/pii/algorithms/utils.py
  ingestion/src/metadata/pii/base_processor.py
  ingestion/src/metadata/pii/processor.py
  ingestion/tests/integration/orm_profiler/test_pii_processor.py
  ingestion/tests/unit/pii/test_pii_sensitive.py
Labels: safe to test, To release

#21282 Fix : Flaky follower test
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: safe to test

#21287 MINOR: fix the description box of team page
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/teams.less
Labels: UI, safe to test

#21270 Fix(test) : Announcement failing test
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: UI, safe to test

#21206 Embedded MCP Server
  conf/openmetadata.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/MCPConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/HttpServletSseServerTransportProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpAuthFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpServer.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/CreateGlossaryTerm.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/PatchEntity.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/resources/json/data/mcp/tools.json
  openmetadata-spec/src/main/resources/json/schema/api/mcp/mcpToolDefinition.json
  openmetadata-spec/src/main/resources/json/schema/api/mcp/mcpTools.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/mcp/mcpToolDefinition.ts
  pom.xml
Labels: backend, safe to test

#21288 Fix #20746: DB columns in Vertica
  ingestion/src/metadata/ingestion/source/database/vertica/queries.py
Labels: Ingestion, safe to test

#21286 MINOR: Add missing workflow config status migrations
  bootstrap/sql/migrations/native/1.7.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.1/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/NodeInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CheckEntityAttributesTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetEntityCertificationTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetGlossaryTermStatusTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateAndRunIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/UserApprovalTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v171/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v171/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v171/MigrationUtil.java
Labels: Ingestion, safe to test, To release

#21298 Doc: Version Upgrade files removal
  openmetadata-docs/content/v1.6.x/deployment/upgrade/versions/100-to-110.md
  openmetadata-docs/content/v1.6.x/deployment/upgrade/versions/110-to-120.md
  openmetadata-docs/content/v1.6.x/deployment/upgrade/versions/120-to-130.md
  openmetadata-docs/content/v1.6.x/deployment/upgrade/versions/130-to-140.md
  openmetadata-docs/content/v1.6.x/deployment/upgrade/versions/150-to-160.md
  openmetadata-docs/content/v1.6.x/deployment/upgrade/versions/index.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x/deployment/upgrade/versions/100-to-110.md
  openmetadata-docs/content/v1.7.x/deployment/upgrade/versions/110-to-120.md
  openmetadata-docs/content/v1.7.x/deployment/upgrade/versions/120-to-130.md
  openmetadata-docs/content/v1.7.x/deployment/upgrade/versions/130-to-140.md
  openmetadata-docs/content/v1.7.x/deployment/upgrade/versions/150-to-160.md
  openmetadata-docs/content/v1.7.x/deployment/upgrade/versions/index.md
  openmetadata-docs/content/v1.7.x/menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/upgrade/versions/100-to-110.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/upgrade/versions/110-to-120.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/upgrade/versions/120-to-130.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/upgrade/versions/130-to-140.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/upgrade/versions/150-to-160.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/upgrade/versions/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/menu.md
Labels: safe to test

#21293 MINOR: Import glossary term tag bug fix
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
Labels: backend, safe to test, To release

#21302 MINOR: fix the success theme color and remove the beta tag custom theme
  openmetadata-ui/src/main/resources/ui/src/constants/Appearance.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AppearanceConfigSettingsPage/AppearanceConfigSettingsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppearanceConfigSettingsPage/AppearanceConfigSettingsPage.tsx
Labels: UI, safe to test

#21296 MINOR: Snowflake View Definition Fallback
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
Labels: Ingestion, safe to test, To release

#21305 MINOR: fix the tags rendering in entity version pages
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointVersion/APIEndpointVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/StoredProcedureVersion/StoredProcedureVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricVersion/MetricVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchIndexVersion/SearchIndexVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseVersionPage/DatabaseVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.tsx
Labels: UI, safe to test

#21297 DOCS - Fix slug
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/images/v1.7/getting-started/hybrid-create-secret.png
  openmetadata-docs/images/v1.7/getting-started/ingestion-runner-secrets.png
  openmetadata-docs/images/v1.8/getting-started/hybrid-create-secret.png
  openmetadata-docs/images/v1.8/getting-started/ingestion-runner-secrets.png
Labels: Ingestion, safe to test

#21294 Minor: Hide incremental metadata extraction config in the UI
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.test.tsx
Labels: UI, safe to test, To release

#21310 Add Authorization RBAC to patch tool
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/HttpServletSseServerTransportProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpServer.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/GlossaryTermTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/McpTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/tools/PatchEntityTool.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
Labels: backend, safe to test

#21295 MINOR: presidio sample data lib fix
  ingestion/setup.py
Labels: Ingestion, safe to test

#21318 Add Missing Package to rule evaluator
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ExpressionValidator.java
Labels: backend, safe to test

#21313 MINOR: fix the data product being rendered in tables
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointVersion/APIEndpointVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsContainer/DataProductsContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/StoredProcedureVersion/StoredProcedureVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricVersion/MetricVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchIndexVersion/SearchIndexVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseVersionPage/DatabaseVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GenericWidget/GenericWidgetUtils.tsx
Labels: UI, safe to test

#21308 MINOR: clean up import
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValuesToBeUnique.py
Labels: Ingestion, safe to test

#21307 MINOR: Fix like test
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValuesToMatchRegex.py
Labels: Ingestion, safe to test

#21312 add virtual list for lineage select
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
Labels: UI, safe to test, To release

#21317 fix the entity collapsable right panel
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.tsx
Labels: UI, safe to test

#21311 fix/indian-passport-detection
  ingestion/setup.py
  ingestion/src/metadata/pii/algorithms/tags.py
  ingestion/tests/unit/pii/algorithms/test_feature_extraction.py
  ingestion/tests/unit/pii/algorithms/test_presidio_utils.py
Labels: safe to test, To release

#21316 Doc: Subpath Doc Addition in Deployment
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/bare-metal/subpath.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/docker/subpath.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/kubernetes/subpath.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/deployment/sub-path-openmetadata.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.8/deployment/subpath/subpath.gif
Labels: safe to test

#21314 Fix Test Case Assignee not cleared from incident tasks
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedUtil.java
Labels: backend, safe to test

#21325 MINOR - Secrets Manager server logging
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
Labels: Ingestion, safe to test, To release

#21303 Fixes 21300: Add Turkish language
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: safe to test

#21273 Doc: Test Images Updation for Data Quality and Observability
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/quality/adding-test-cases.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/quality/adding-test-suites.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/adding-test-cases.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/adding-test-suites.md
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/add-ingestion.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/add-test-case.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/add-test-defintion.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/custom-test-definition.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/custom-test-result.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/ingestion-page.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/profiler-tab-view.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/table-results-entity.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/test-case-page.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/test-suite-home-page.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/test-suite-page.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/data-quality/test-suite-results.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/add-ingestion.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/add-test-case.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/add-test-defintion.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/custom-test-definition.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/custom-test-result.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/ingestion-page.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/profiler-tab-view.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/table-results-entity.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/test-case-page.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/test-suite-home-page.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/test-suite-page.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/data-quality/test-suite-results.png
Labels: safe to test

#21335 MINOR [1.6.8]Bump ingestion version
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Labels: Ingestion, safe to test

#21323 chore(ui): cache version response for any hour to avoid frequent calls
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CmdKIcon/CmdKIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CmdKIcon/CmdKIcon.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Labels: UI, safe to test

#21338 MINOR: fix the right panel visible after expanded is closed
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntityRightCollapsablePanel.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/IconButtons/EditIconButton.tsx
Labels: UI, safe to test

#21343 Doc: Data Profiler Images Updation along with Data Observability vide…
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/observability/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/observability/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-quality-observability/observability/index.md
  openmetadata-docs/images/v1.7/features/ingestion/workflows/profiler/profiler-summary-column.png
  openmetadata-docs/images/v1.7/features/ingestion/workflows/profiler/profiler-summary-table.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/profiler/profiler-summary-column.png
  openmetadata-docs/images/v1.8/features/ingestion/workflows/profiler/profiler-summary-table.png
Labels: safe to test

#21345 MINOR: Improve Workflow Logs and Reduce Concurrency
  bootstrap/sql/migrations/native/1.7.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.1/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/RunIngestionPipelineImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/builders/ParallelGatewayBuilder.java
  openmetadata-spec/src/main/resources/json/schema/configuration/workflowSettings.json
Labels: Ingestion, safe to test, To release

#21339 fix(ui): Feeds count not showing up in PipelineDetails page.
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
Labels: UI, safe to test

#21306 Fix(uI) : Removed collapse button from teams page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/teams.less
Labels: safe to test

#21337 test(e2e): add test to validate installed app call
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/AppBasic.spec.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
Labels: UI, safe to test

#21332 Fix carousel image and image resolutions
  openmetadata-ui/src/main/resources/ui/src/assets/img/forgot-password.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-bg.png
  openmetadata-ui/src/main/resources/ui/src/constants/LoginClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/forgot-password.styles.less
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/LoginCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/login.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
Labels: UI, safe to test, To release

#21342 fix(ci): typo for mysql workflow slack message title
  .github/workflows/mysql-nightly-e2e.yml
Labels: UI, safe to test

#21352 fix the entityRightPanel and serviceEntity playwright spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntityRightCollapsablePanel.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
Labels: UI, safe to test

#21358 OSS add guards for sqrt, log1p etc
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
Labels: backend, safe to test, To release

#21355 Docs: Adding Cost Per TiB in docs
  openmetadata-docs/content/v1.7.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigQuery.md
Labels: safe to test, To release

#21349 fix: updated snowflake test based on new configs
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/SnowflakeIngestionClass.ts
Labels: UI, safe to test

#21363 Minor: Add what's new for 1.7.1 release
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#21360 MINOR: Fix app marketplace migrations
  bootstrap/sql/migrations/native/1.7.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.1/postgres/schemaChanges.sql
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Labels: Ingestion, safe to test, To release

#21371 Revert: Filter for function score and add floor to totalVotes
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
Labels: backend, safe to test

#21372 Update SECURITY.md
  SECURITY.md
Labels: backend, safe to test

#21373 Update images
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-menu.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/collaboration/collaboration-tabs.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-data-asset.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-language.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/discovery/discovery-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-items.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-list.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/governance/governance-reviewer.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/observability/observability-main.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/login-screen/observability/observability-testcase.png
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/login.style.less
Labels: UI, safe to test, To release

#21378 Failing Postgres sql
  bootstrap/sql/migrations/native/1.7.1/postgres/schemaChanges.sql
Labels: backend, safe to test, To release

#21381 Escape ? to causing issues in jdbi binding
  bootstrap/sql/migrations/native/1.7.1/postgres/schemaChanges.sql
Labels: backend

#21374 Docs: Updating latest release in v1.7.1
  openmetadata-docs/content/partials/v1.7/releases/1.7.0.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/partials/v1.8/releases/1.7.0.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/v1.7.x/deployment/docker/index.md
  openmetadata-docs/content/v1.7.x/menu.md
  openmetadata-docs/content/v1.7.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.7.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x/sdk/python/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/releases/releases/index.md
Labels: safe to test

#21386 Fix(ui) : Error notification for domain shards failure
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DataProductsTab/DataProductsTab.component.tsx
Labels: UI, safe to test

#21395 chore(ui): revert search order and minor styles changes for Explore page
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsContainer/DataProductsContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Labels: UI, safe to test

#21387 Fix(ui): flaky entity test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Labels: safe to test

#21320 MINOR - fix test suite migration
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
Labels: Ingestion, safe to test

#21409 MINOR: PBI dataset expressions empty value fix
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Labels: Ingestion, safe to test, To release

#21408 fix/presidio-analyzer-lazy-import
  ingestion/src/metadata/pii/processor.py
Labels: Ingestion, safe to test, To release

#21384 MINOR: unity catalog separate icon
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-unitycatalog.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: UI, Ingestion, safe to test, To release
