Repository open-metadata/OpenMetadata, pull requests merged in 2025-01, with the labels that each got.

#19148 Docs: Auto Classification Doc Addition
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/classification/Auto Classification/auto-pii-tagging.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/classification/Auto Classification/external-workflow.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/classification/Auto Classification/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/classification/Auto Classification/workflow.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/user-guide-data-users/tags.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/auto-pii-tagging.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/external-workflow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/workflow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/user-guide-data-users/tags.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/how-to-guides/governance/ac-1.1.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/ac-1.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/ac-2.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/ac-3.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/ac-4.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/ac-5.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/ac-6.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-1.1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-2.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-3.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-4.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-5.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/ac-6.png
Labels: safe to test

#19159 TEST - Add bots search RBAC validation
  ingestion/tests/integration/ometa/conftest.py
  ingestion/tests/integration/ometa/test_ometa_bot_rbac.py
Labels: Ingestion, safe to test

#19194 fix(ui): show error and success message mutually exclusive
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ForgotPassword/ForgotPassword.test.tsx
Labels: UI, safe to test

#19204 Minor: Deprecate RichTextEditorPreviewer component and recommend alternative RichTextEditorPreviewerV1
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewer.tsx
Labels: UI, safe to test

#17918 #16465 : supported glossary table column resizable
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Labels: UI, safe to test

#19149 feat(ui): show count with schema tab for table details page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Topic.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#19205 fix(ui): glossary terms table expand / collapse state
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Labels: UI, safe to test

#19203 Onboarding Application Changes for OSS
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
Labels: backend, safe to test

#19098 Fixes ISSUE-19095: auto refresh boto credentials
  ingestion/src/metadata/clients/aws_client.py
Labels: safe to test

#19142 Fix #19141: Data Insight Tier Filter does not work
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
Labels: Ingestion, safe to test

#19215 chore(ui): ui errors and glossary term api response fix
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
Labels: UI, safe to test

#19211 feat: Updated And Refactor Docs
  openmetadata-docs/content/v1.6.x/deployment/security/auth0/auth-code-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.6.x/deployment/security/auth0/docker.md
  openmetadata-docs/content/v1.6.x/deployment/security/auth0/implicit-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.6.x/deployment/security/azure/auth-code-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.6.x/deployment/security/azure/docker.md
  openmetadata-docs/content/v1.6.x/deployment/security/azure/implicit-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/azure/index.md
  openmetadata-docs/content/v1.6.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.6.x/deployment/security/configuration-parameters/index.md
  openmetadata-docs/content/v1.6.x/deployment/security/index.md
  openmetadata-docs/content/v1.6.x/deployment/security/keycloak/auth-code-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.6.x/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.6.x/deployment/security/keycloak/implicit-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.6.x/deployment/security/oidc/index.md
  openmetadata-docs/content/v1.6.x/deployment/security/okta/auth-code-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.6.x/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.6.x/deployment/security/okta/implicit-flow.md
  openmetadata-docs/content/v1.6.x/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/auth0/auth-code-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/auth0/docker.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/auth0/implicit-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/auth-code-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/docker.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/implicit-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/configuration-parameters/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/keycloak/auth-code-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/keycloak/docker.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/keycloak/implicit-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/oidc/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/okta/auth-code-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/okta/docker.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/okta/implicit-flow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/deployment/security/azure/client-id-and-authority.png
  openmetadata-docs/images/v1.6/deployment/security/azure/create-web-registration.png
  openmetadata-docs/images/v1.6/deployment/security/azure/web-client-secret.png
  openmetadata-docs/images/v1.7/deployment/security/azure/client-id-and-authority.png
  openmetadata-docs/images/v1.7/deployment/security/azure/create-web-registration.png
  openmetadata-docs/images/v1.7/deployment/security/azure/web-client-secret.png
Labels: safe to test

#19219 MINOR: Remove Delete Events from Workflow Consumer
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumer.java
Labels: Ingestion, safe to test

#19234 Fix - Existing custom properties getting removed on import of empty extension column
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
Labels: backend, safe to test

#19200 Bug Fix : ApiEndpoint reindexing failure
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIEndpointIndex.java
Labels: backend, safe to test, To release

#19224 Fix #15952: Update SQLParse to Version 0.5
  ingestion/setup.py
Labels: Ingestion, safe to test

#19189 Fixes 19187 : Specify Length function for PinotDB
  ingestion/src/metadata/profiler/orm/functions/length.py
  ingestion/src/metadata/profiler/orm/registry.py
Labels: safe to test

#19247 MINOR - fix unity profiler
  ingestion/src/metadata/utils/constants.py
Labels: Ingestion, safe to test

#19235 Minor: Add UI typescript types
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/metrics.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/apiService/restConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/mstrConnection.ts
Labels: backend, safe to test

#19128 Improvements: Automator requirements oss
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/IngestionListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SuccessScreen/SuccessScreen.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/IngestionListTable.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Labels: UI, safe to test

#19246 Docs: Connectors Lineage YAML Updation till Vertica
  openmetadata-docs/content/v1.6.x/connectors/database/sqlite/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/teradata/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/teradata/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/trino/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/unity-catalog/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/vertica/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/vertica/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/sqlite/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/teradata/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/teradata/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/trino/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/trino/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/vertica/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/vertica/yaml.md
Labels: safe to test

#19241 FIX #19232 - Correct array type mapping in ORM converter
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/profiler/orm/converter/common.py
Labels: Ingestion, safe to test, To release

#19236 Persist Knowledge Page hierarchy state on refresh
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Labels: backend, safe to test

#19222 MINOR: Add Governance Bot to the workflow automated tasks
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetEntityCertificationImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetGlossaryTermStatusImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: Ingestion, safe to test

#19250 ISSUE-19220: remove druid and doris from non sqa
  ingestion/src/metadata/utils/constants.py
Labels: bug, Ingestion, safe to test

#19249 MINOR: PowerBI improve error logging
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#19262 chore(ci): adding write permissions to issues
  .github/workflows/auto-cherry-pick-labeled-prs.yaml
Labels: To release

#19263 Persist knowledge page hierarchy on page refresh part-2
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Labels: backend, safe to test

#19264 chore(ci): updating auto cherry pick wf
  .github/workflows/auto-cherry-pick-labeled-prs.yaml
Labels: To release

#19144 Fixes #17747: dbt update owners
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-docs/content/partials/v1.6/connectors/yaml/dbt/source-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/dbt/source-config.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/dbt/source-config-def.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/dbt/source-config.md
  openmetadata-docs/content/v1.6.x/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.6.x/main-concepts/metadata-standard/schemas/metadataIngestion/dbtPipeline.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/main-concepts/metadata-standard/schemas/metadataIngestion/dbtPipeline.md
  openmetadata-docs/images/v1.6/features/ingestion/workflows/dbt/dbt-features/dbt-update-owners.webp
  openmetadata-docs/images/v1.7/features/ingestion/workflows/dbt/dbt-features/dbt-update-owners.webp
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/dbt.md
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtPipeline.ts
Labels: Ingestion, safe to test

#19248 fix(ui): highlight search text functionality for description column
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/text-highlight-view.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/EntityUtils.mock.ts
Labels: UI, safe to test, To release

#19190 #13913: supported test connection api cancellation
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/AbortController/useAbortController.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/AbortController/useAbortController.ts
  openmetadata-ui/src/main/resources/ui/src/rest/workflowAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ToastUtils.ts
Labels: UI, safe to test, To release

#19259 upgrade logback versions
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test

#19173 Bug Fix - Glossary export returns null values in relatedTerms column
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
Labels: backend, safe to test, To release

#18880 FIX: Update glossary listing
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
Labels: safe to test, To release

#19268 Minor: Add missing asset specific filter options for automator filters
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test, To release

#19054 Improvement #19065 : Support removing existing enumKeys (for enum type custom property)
  bootstrap/sql/migrations/native/1.6.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.2/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/locator/ConnectionAwareAnnotationSqlLocator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/locator/ConnectionAwareSqlBatch.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/locator/ConnectionAwareSqlBatchContainer.java
  openmetadata-service/src/main/java/org/openmetadata/service/jobs/BackgroundJobException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jobs/EnumCleanupHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jobs/GenericBackgroundWorker.java
  openmetadata-service/src/main/java/org/openmetadata/service/jobs/JobDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jobs/JobHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jobs/JobHandlerRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
  openmetadata-service/src/test/java/org/openmetadata/jobs/BackgroundJobWorkerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/jobs/backgroundJob.json
  openmetadata-spec/src/main/resources/json/schema/jobs/enumCleanupArgs.json
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/jobs/backgroundJob.ts
  openmetadata-ui/src/main/resources/ui/src/generated/jobs/enumCleanupArgs.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperty.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperty.utils.ts
Labels: backend, safe to test

#19256 Docs: Azure SAML Correction
  openmetadata-docs/content/v1.6.x/deployment/security/saml/azure.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/security/saml/azure.md
Labels: safe to test

#19113 fix the search for custom properties in advance search for some types
  openmetadata-service/src/main/java/org/openmetadata/service/util/SchemaFieldExtractor.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvanceSearchCustomProperty.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearchCustomProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/airbyteConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/react-awesome-query.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
Labels: UI, safe to test, To release

#19275 Fix #19160: Add Depth Support Part-1
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/containerMetadataConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storage/containerMetadataConfig.ts
Labels: Ingestion, safe to test, To release

#19230 fixed some styling issues
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
Labels: safe to test

#19277 Docs: Format Note Mention In Advanced Search
  openmetadata-docs/content/v1.5.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-discovery/advanced.md
Labels: safe to test, To release

#19253 [OMOperations] Add Reset Password option
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Labels: backend, safe to test

#19260 ISSUE-19131: Fix patch removing testSuites field
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: Ingestion, safe to test

#19278 MINOR: Kafka dependency conflict resolution
  ingestion/setup.py
Labels: Ingestion, safe to test, To release

#19276 MINOR: Redshift stored procedure query parse fix
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
Labels: Ingestion, safe to test

#19026 fix: reference table dropdown in add and edit query forms
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryUsedByOtherTable/QueryUsedByOtherTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#19270 [Fix-19094] Circular Rendering issue for lineage
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test, e2e

#19271 Add Match Any Certification to Policies
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Labels: Ingestion, safe to test

#19172 FIX: Add docStore endpoints to Ometa API routes
  ingestion/src/metadata/ingestion/ometa/routes.py
  openmetadata-spec/src/main/resources/json/schema/api/docStore/createDocument.json
Labels: safe to test, To release

#19279 Docs: Kafka Registry URL Doc Updation
  openmetadata-docs/content/v1.6.x/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/messaging/kafka/yaml.md
  openmetadata-docs/images/v1.6/connectors/kafka/service-connection.png
  openmetadata-docs/images/v1.7/connectors/kafka/service-connection.png
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Messaging/Kafka.md
Labels: safe to test

#19285 Minor: Update the what's new for 1.6.2
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whats-new-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#19289 MINOR: fix the inline edit button spacing on user page
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/property-value.less
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/InlineEdit.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/inline-edit.less
Labels: UI, safe to test, To release

#19284 FIX: reverted deprecated fields on testSuite
  common/src/main/java/org/openmetadata/annotations/DeprecatedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/OpenMetadataAnnotator.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/V112/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/V114/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v111/MigrationUtilV111.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestSuite.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testSuite.ts
Labels: Ingestion, safe to test, To release

#18821 fixes #18820: updated docker compose files
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: safe to test

#19294 Docs: Fixing error Images in Connectors workflow DBT
  openmetadata-docs/content/v1.5.x/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.6.x/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/dbt/index.md
Labels: safe to test

#19240 MINOR: powerbi e2e fix
  ingestion/tests/cli_e2e/test_cli_powerbi.py
Labels: Ingestion, safe to test

#19216 Added lineage in cli e2e
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/base/e2e_types.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_athena.py
  ingestion/tests/cli_e2e/test_cli_bigquery.py
  ingestion/tests/cli_e2e/test_cli_bigquery_multiple_project.py
  ingestion/tests/cli_e2e/test_cli_datalake_s3.py
  ingestion/tests/cli_e2e/test_cli_dbt_redshift.py
  ingestion/tests/cli_e2e/test_cli_hive.py
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_mssql.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
  ingestion/tests/cli_e2e/test_cli_postgres.py
  ingestion/tests/cli_e2e/test_cli_powerbi.py
  ingestion/tests/cli_e2e/test_cli_quicksight.py
  ingestion/tests/cli_e2e/test_cli_redash.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
  ingestion/tests/cli_e2e/test_cli_tableau.py
  ingestion/tests/cli_e2e/test_cli_vertica.py
Labels: Ingestion, safe to test

#19297 Revert "fixes #18820: updated docker compose files"
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Labels: UI, safe to test

#19299 revert: Circular Rendering issue for lineage (#19270)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test

#19298 Add Operations to install Onboarding app
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test

#19292 MINOR: Add applications loading condition in My Data Page
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: UI, safe to test, To release

#19288 Fix #19160: Add Depth Support for Structured Containers
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  openmetadata-docs/content/partials/v1.6/connectors/storage/manifest.md
  openmetadata-docs/content/partials/v1.7/connectors/storage/manifest.md
Labels: Ingestion, safe to test

#19305 Add Indexing Stack Trace in app logs
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchIndexSink.java
Labels: backend, safe to test

#19304 1.6.2-MINOR: Fix breaking cherry pick
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
Labels: Ingestion, safe to test

#19293 Resolved <NoneType object has no attribute rsplit> issue
  ingestion/src/metadata/ingestion/source/database/db2/service_spec.py
  ingestion/src/metadata/ingestion/source/database/druid/service_spec.py
  ingestion/src/metadata/ingestion/source/database/greenplum/service_spec.py
  ingestion/src/metadata/ingestion/source/database/hive/service_spec.py
  ingestion/src/metadata/ingestion/source/database/impala/service_spec.py
  ingestion/src/metadata/ingestion/source/database/mariadb/service_spec.py
  ingestion/src/metadata/ingestion/source/database/pinotdb/service_spec.py
  ingestion/src/metadata/ingestion/source/database/singlestore/service_spec.py
  ingestion/src/metadata/ingestion/source/database/sqlite/service_spec.py
  ingestion/src/metadata/ingestion/source/database/teradata/service_spec.py
Labels: safe to test

#19282 Added integration testcontainer test for mongodb
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/mongodb/conftest.py
  ingestion/tests/integration/mongodb/test_metadata.py
Labels: safe to test

#19296 fix(ui): update glossary term table upon new term added
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
Labels: UI, safe to test

#19226 Feature: Cassandra SSL
  ingestion/src/metadata/examples/workflows/cassandra.yaml
  ingestion/src/metadata/ingestion/source/database/cassandra/connection.py
  ingestion/src/metadata/ingestion/source/database/cassandra/helpers.py
  ingestion/src/metadata/utils/ssl_manager.py
  ingestion/tests/unit/test_ssl_manager.py
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/cassandra/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/cassandra/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/cassandraConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Cassandra.md
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/cassandraConnection.ts
Labels: safe to test

#19300 Minor: Update what's new content
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#19308 Update welcome page condition
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useWelcomeStore.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: safe to test, To release

#19309 PLAYWRIGHT: fix flaky playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserDetails.spec.ts
Labels: UI, safe to test

#19316 Docs: Add in dbt tile & Renaming Datafactory
  openmetadata-docs/content/partials/v1.6/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.6/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/datafactory/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/datafactory/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/datafactory/yaml.md
Labels: safe to test

#19315 Fix mysql e2e count
  ingestion/tests/cli_e2e/test_cli_mysql.py
Labels: Ingestion, safe to test

#19318 test(e2e): fix flaky searchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
Labels: UI, safe to test

#19329 Docs: Fixing Context Name Azure Data Factory
  openmetadata-docs/content/v1.6.x/connectors/pipeline/datafactory/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/datafactory/index.md
Labels: safe to test

#19330 Docs: 1.6.2 Release Updation
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
Labels: safe to test

#19322 Adds percona server for postgresql support
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
  ingestion/tests/unit/topology/database/test_postgres.py
Labels: safe to test, To release

#19312 Added condition for datatype=array without type consistency
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/tests/unit/test_column_type_parser.py
Labels: safe to test

#19331 Fixes #18570 - Redash Get Dashboards
  ingestion/src/metadata/ingestion/source/dashboard/redash/client.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
Labels: safe to test

#19349 [ERD] Fix Search Index for ER Model
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
Labels: backend, safe to test

#19127 Feature: Docker Host Retry
  ingestion/src/metadata/automations/runner.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/saphana/lineage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/src/metadata/ingestion/source/messaging/messaging_service.py
  ingestion/src/metadata/ingestion/source/metadata/alationsink/metadata.py
  ingestion/src/metadata/ingestion/source/metadata/amundsen/metadata.py
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  ingestion/src/metadata/ingestion/source/mlmodel/mlmodel_service.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/src/metadata/ingestion/source/search/search_service.py
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/src/metadata/workflow/classification.py
  ingestion/src/metadata/workflow/profiler.py
  ingestion/tests/unit/test_databricks_lineage.py
  ingestion/tests/unit/test_pgspider_lineage_unit.py
  ingestion/tests/unit/test_usage_filter.py
  ingestion/tests/unit/test_usage_log.py
  ingestion/tests/unit/topology/database/test_postgres.py
Labels: safe to test

#19350 Minor: added loading state, and error notification in testSuite.
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
Labels: UI, safe to test, To release

#19343 dataProduct : get inherited fields from corresponding Domain
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/Domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
Labels: backend, safe to test, To release

#19337 Fix #19313 - dbt ingestion picks up wrong service to patch metadata
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  openmetadata-docs/content/v1.6.x/main-concepts/metadata-standard/schemas/metadataIngestion/dbtPipeline.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/main-concepts/metadata-standard/schemas/metadataIngestion/dbtPipeline.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/dbt.md
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtPipeline.ts
Labels: Ingestion, safe to test

#19332 MINOR: fix the glossary description column width on term page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Labels: UI, safe to test, To release

#19367 playwright: fixed failing incident manager test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MySqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
Labels: UI, safe to test

#19368 MINOR: fix the wrong team count displayed on team tab
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Labels: UI, safe to test, To release

#19379 Docs: Sagemaker YAML Correction
  openmetadata-docs/content/v1.5.x/connectors/ml-model/sagemaker/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/ml-model/sagemaker/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ml-model/sagemaker/yaml.md
Labels: safe to test

#19340 MINOR - createMany endpoint for test case resource
  openmetadata-service/src/main/java/org/openmetadata/service/exception/BulkLimitException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/limits/Limits.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: Ingestion, safe to test

#19381 Moves `PipelineServiceClient` to `openmetadata-spec`
  openmetadata-spec/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClient.java
Labels: safe to test

#19346 MINOR: fix the tracing highlighter after edge clicked
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
Labels: UI, safe to test, To release

#19376 fix the api should not called after time out in Test connection
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
Labels: UI, safe to test, To release

#19371 Fix #19370: Fix Mariadb Dialect
  ingestion/src/metadata/ingestion/lineage/models.py
Labels: Ingestion, safe to test

#19373 Fix #19317: Add MaterializedView & DynamicTable for lineage computation
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
Labels: Ingestion, safe to test

#19375 Fix #19317: fetch Stored Procedures from account usage
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  openmetadata-docs/content/v1.6.x/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
Labels: Ingestion, safe to test

#19347 fix(ui)Fixed the home page switch notification, internationalization …
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationBox.utils.tsx
Labels: UI, safe to test

#19399 Docs: SageMaker YAML correction
  openmetadata-docs/content/partials/v1.5/connectors/yaml/ml-model/source-config-def.md
  openmetadata-docs/content/partials/v1.5/connectors/yaml/ml-model/source-config.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/ml-model/source-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/ml-model/source-config.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/ml-model/source-config-def.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/ml-model/source-config.md
Labels: safe to test

#19394 fix glossary playwright
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/GlossaryPagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Labels: UI, safe to test, To release

#19390 MINOR - Async test case result deletion
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Labels: Ingestion, safe to test

#19374 Tests #19066: Playwright coverage for ViewAll rule with matchAnyTag() and isOwner() condition
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/conditionalPermissions.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/settings.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ConditionalPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.teardown.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiEndpointClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/StoredProcedureClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/interfaces/ConditionalPermissions.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/authTeardown.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/conditionalPermissions.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
Labels: UI, safe to test, To release

#19414 Docs: Removing PII Sensitive and Generate Sample Data from Profiler Workflow
  openmetadata-docs/content/v1.5.x/how-to-guides/data-quality-observability/profiler/profiler-workflow.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/profiler/profiler-workflow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/profiler-workflow.md
Labels: safe to test

#19320 Feat/update action workflow
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: safe to test

#19418 Browser language detection
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: safe to test

#19417 chore: remove hard pin on google cloud storage
  ingestion/setup.py
Labels: safe to test

#19410 MINOR: Fix Kafka Test connection
  ingestion/src/metadata/automations/runner.py
Labels: Ingestion, safe to test

#19395 Fix #19360: powerbi report lineage fix
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#19420 MINOR: Typo for datetime attribute
  ingestion/src/metadata/clients/aws_client.py
Labels: Ingestion, safe to test

#19396 Fix - 19359 : Get only non-deleted entities in export
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: backend, safe to test, To release

#19429 MINOR: BigQuery Improvement, Hive Partitioned Tables, Nonetype issue resolved
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/profiler/profiler.py
  ingestion/src/metadata/sampler/partition.py
Labels: Ingestion, safe to test

#19430 Minor: Fix the permissions call made for search service
  openmetadata-ui/src/main/resources/ui/playwright/constant/conditionalPermissions.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Labels: UI, safe to test, To release

#19427 Minor: Change log localization improvement
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test, To release

#19426 Minor: Improve cron expression validations
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CronValidations.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/Steps/ScheduleInterval.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/SchedularUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SchedularUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, To release

#19400 MINOR: Fix DI Filter not getting applied
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
Labels: Ingestion, safe to test, To release

#19401 Fixes #19091 - Kafkaconnect validation errors
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/models.py
Labels: Ingestion, safe to test, To release

#19137 Improvement: Revamp the permissions for testCase & testSuite details page
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/Severity/Severity.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/Severity/Severity.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/docStore/createDocument.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestCaseResult.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/addCustomProperties.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/removeCustomPropertiesAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/entityHierarchy.ts
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/useTestCase.store.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Labels: UI, safe to test

#19440 bump(playwright): update playwright for batter tracing
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: UI, safe to test

#19442 Docs: BigQuery Yaml fix
  openmetadata-docs/content/v1.5.x/connectors/database/bigtable/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/bigtable/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigtable/yaml.md
Labels: safe to test

#19447 Docs: Fix the wrong indentation in the menu.md for 1.7.x.SNAPSHOT
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: documentation, UI, safe to test

#19451 Docs: Fixing Intendation in the dbt cloud YAML
  openmetadata-docs/content/v1.6.x/connectors/pipeline/dbtcloud/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dbtcloud/yaml.md
Labels: safe to test

#19449 Revert "bump(playwright): update playwright for batter tracing"
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: UI, safe to test

#19452 Docs: Advanced Guide Section Addition
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/roles-policies/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/index.md
Labels: safe to test

#19448 Bump: playwright to v1.48.2
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#19431 #19406: supported the task filter on landing page widget
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedsFilterPopover/FeedsFilterPopover.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedsFilterPopover/FeedsFilterPopover.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/FeedsFilterPopover/FeedsFilterPopover.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Widgets.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LandingPageWidget/WidgetsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LandingPageWidget/WidgetsUtils.ts
Labels: UI, safe to test, To release

#19303 Fix(ui): refresh call concurrency for multiple browser tabs
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/login.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Login.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
Labels: UI, safe to test, To release

#19338 MINOR: feat(apps): support event subscriptions
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppMarketPlaceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/TestApp.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/BaseCallbackResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
  openmetadata-spec/src/main/resources/json/schema/events/api/createEventSubscription.json
  openmetadata-spec/src/main/resources/json/schema/events/eventSubscription.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/createEventSubscription.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/eventSubscription.ts
Labels: Ingestion, safe to test

#19439 fix(test): rest api service deletion taking longer
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ApiIngestionClass.ts
Labels: UI, safe to test, To release

#19459 Docs: Advanced Guide Section Correction
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/roles-policies/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/index.md
Labels: safe to test

#19453 #19446: fix the description not rendered in Glossary Modal while edit
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
Labels: UI, safe to test, To release

#18913 #15600: Retention Application : Delete change_events, activity threads, versions based on admin retention policies
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetention.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionCleanupJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/resources/json/data/app/DataRetentionApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataRetentionApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/dataRetentionConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/appScreenshots/DataRetentionApplication.png
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataRetentionApplication.svg
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/dataRetentionConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/retentionPolicyConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/DataRetentionApplication.json
Labels: backend, safe to test, To release

#19473 Docs: Postgres Stored Procedure Update
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
Labels: safe to test

#19443 [Fix-19437] Redirection issue on IDP initiated calls
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlAssertionConsumerServlet.java
Labels: backend, safe to test, To release

#19461 ISSUE #1052 - Implement List entities with test suites repo logic
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ListWithOffsetFunction.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/JdbiUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/collateAIQualityAgentAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/collateAIQualityAgentAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/dataRetentionConfiguration.ts
Labels: Ingestion, safe to test

#19397 #19474: fix the async export csv not happening in lineage
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
Labels: UI, safe to test, To release

#19478 Docs: 404 URL Correction
  openmetadata-docs/content/v1.6.x/connectors/metadata/alationsink/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-insights/report.md
  openmetadata-docs/content/v1.6.x/quick-start/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/alationsink/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-insights/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-insights/report.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/index.md
Labels: safe to test

#19456 ISSUE-19454: Fixes broken looker lineage
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
Labels: safe to test

#19231 Fix: Implement Data Quality Dashboards (Incident Manager + Data Quality)
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/summary-card.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityDashboardAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityDashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: UI, safe to test, To release

#19476 fix the richTextEditor output in case on no data save
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.tsx
Labels: UI, safe to test

#19485 MINOR: fix model dump dict key names (#19484)
  ingestion/src/metadata/clients/aws_client.py
Labels: safe to test, To release

#19423 FIX #19386 & #19388: Fixing Data Insights index mapping
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/DataInsightsSearchConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/DataInsightsSearchInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/EntityIndexMap.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/IndexMappingTemplate.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/elasticsearch/ElasticSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/search/opensearch/OpenSearchDataInsightsClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/DataAssetsWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/resources/dataInsights/config.json
  openmetadata-service/src/main/resources/dataInsights/elasticsearch/indexMappingsTemplate.json
  openmetadata-service/src/main/resources/dataInsights/opensearch/indexMappingsTemplate.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
Labels: Ingestion, backend, safe to test, To release

#19493 Docs: Exasol Connector Addition
  openmetadata-docs/content/partials/v1.6/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/database/connectors-list.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/images/connectors/exasol.webp
  openmetadata-docs/images/v1.6/connectors/exasol/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/exasol/select-service.png
  openmetadata-docs/images/v1.6/connectors/exasol/service-connection.png
  openmetadata-docs/images/v1.7/connectors/exasol/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/exasol/select-service.png
  openmetadata-docs/images/v1.7/connectors/exasol/service-connection.png
Labels: safe to test

#19494 Docs: Exasol Connector CHANGES
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/yaml.md
Labels: safe to test

#19444 MINOR: docs: add required permissions callout for setting up alerts
  openmetadata-docs/content/v1.5.x/how-to-guides/admin-guide/alerts.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/observability/alerts.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/alerts.md
Labels: documentation, Ingestion, safe to test

#19475 fix: edit description permission for domain owner
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/Domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.test.tsx
Labels: safe to test, To release

#19492 MINOR: fix the description renderer in team and user import
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamImportResult/TeamImportResult.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/UserImportResult/UserImportResult.component.tsx
Labels: UI, safe to test, To release

#19480 Chore: Add the missing generated types and fix json schemas
  openmetadata-spec/src/main/resources/json/schema/auth/emailVerificationToken.json
  openmetadata-spec/src/main/resources/json/schema/configuration/workflowSettings.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/searchServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createStoredProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/governance/createWorkflowDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/auth/emailVerificationToken.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/workflowSettings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/retentionPolicyConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/metrics.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/apiService/restConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/mstrConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/testEventSubscriptionDestination.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Labels: UI, backend, safe to test

#19487 Fix #19393 :postgres parse json schemas
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Labels: Ingestion, safe to test

#19500 chore: bump actions/upload-artifact
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/security-scan.yml
Labels: Ingestion, safe to test

#19503 MINOR: fix py-cli-e2e-tests.yml
  .github/workflows/py-cli-e2e-tests.yml
Labels: Ingestion, safe to test

#19501 Move Recreate Out of executors
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test, To release
