Repository open-metadata/OpenMetadata, pull requests merged in 2025-09, with the labels that each got.

#23155 MINOR: Add support for clone queries in bigquery
  ingestion/src/metadata/ingestion/source/database/bigquery/lineage.py
Labels: Ingestion, safe to test, To release

#22539 Fixes #16442: Store auth tokens on client using service worker + indexedDB
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tokenStorage.ts
  openmetadata-ui/src/main/resources/ui/public/app-worker.js
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/BasicAuthAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/SamlAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/index.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SamlCallback/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SwaggerPage/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProviderUtil.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LocalStorageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/OidcTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.ts
Labels: safe to test

#23159 MINOR: Fix data insight index for multidomain
  openmetadata-service/src/main/resources/dataInsights/config.json
Labels: Ingestion, safe to test, To release

#23172 MINOR: remove the spark connector support from UI
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Labels: UI, safe to test, To release

#23188 FIX - Data Product bulk addition with different types
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
Labels: Ingestion, safe to test

#23133 Snowplow Connector
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/snowplow.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/snowplowconnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/ThoughtSpot.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Epic.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Ssas.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/SSIS.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Wherescape.md
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/pipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/snowplowconnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: Ingestion, safe to test

#23194 Rename migration files from v195 to v196
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v196/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v196/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v196/MigrationUtil.java
Labels: safe to test

#23075 MINOR: Fix column lineage validation
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/LineageRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
Labels: Ingestion, safe to test, To release

#23195 Fix Data Product to asset mapping lost after upgrade
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: safe to test, To release, backend

#23201 chore(ui): fix search settings playwright
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
Labels: UI, safe to test

#22371 Fixes #21895 #22363 #22369: Lineage improvements with multiprocessing, stored procedure level temp table processing and lineage filtering with db & schema
  ingestion/src/metadata/ingestion/lineage/masker.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/source/database/bigquery/lineage.py
  ingestion/src/metadata/ingestion/source/database/lineage_processors.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/oracle/lineage.py
  ingestion/src/metadata/ingestion/source/database/redshift/lineage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/src/metadata/utils/db_utils.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/lineage/test_cross_database_lineage_sql.py
  ingestion/tests/unit/lineage/test_databricks_lineage.py
  ingestion/tests/unit/lineage/test_lineage_processors.py
  ingestion/tests/unit/lineage/test_lineage_source.py
  ingestion/tests/unit/lineage/test_lineage_workflow_filter_pattern.py
  ingestion/tests/unit/lineage/test_pgspider_lineage_unit.py
  ingestion/tests/unit/lineage/test_sql_lineage.py
  ingestion/tests/unit/lineage/test_stored_procedure_lineage.py
  ingestion/tests/unit/test_db_utils.py
  ingestion/tests/unit/test_lineage_for_stored_procedure.py
Labels: Ingestion, safe to test, To release

#23181 chore(ui): fix the flaky test around metric spec
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
Labels: UI, safe to test, To release

#23176 Chore(UI): Fix advanced search playwright flakiness
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/McpApplication.md
Labels: UI, safe to test

#23209 Fixes #22452: [Snowflake] Add custom host support for `View in Snowflake` source url
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/tests/unit/topology/database/test_snowflake.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Snowflake.md
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test, To release

#23216 MINOR: fix the unit test for the DataContract
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.test.tsx
Labels: UI, safe to test

#23217 fix(snowplow) : json-changes
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/snowplowConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/snowplowConnection.ts
Labels: safe to test, To release

#23090 MINOR: Add new WorkflowType and converter
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/TestSparkEngineConnectionRequestClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/WorkflowClassConverter.java
  openmetadata-spec/src/main/resources/json/schema/entity/automations/testSparkEngineConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/automations/workflow.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testSparkEngineConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
Labels: Ingestion, safe to test

#23085 feat: Added documentation panel for test case form
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/AddTestCaseNewFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/TestCaseForm.md
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/EditTestCaseModalV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/EditTestCaseModalV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormV1.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/CustomHtmlRederer/CustomHtmlRederer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/rich-text-editor-previewer.less
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectionCardGroup/SelectionCardGroup.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectionCardGroup/SelectionCardGroup.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/service-doc-panel.less
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
Labels: UI, safe to test

#23230 MINOR - Add Security, SLA and Terms of Use to Data Contract
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractMapper.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDataContract.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dataContract.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dataContract.ts
Labels: Ingestion, safe to test

#23163 fix(UI): Updated Enum For Search
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.tsx
Labels: safe to test

#23255 Restore deleted entities will take inherited fields into consideration
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: safe to test, To release, backend

#23257 Fix #23232 Users with Data Product edit permission unable to upload images due to missing Domain resource permission
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.test.tsx
Labels: UI, safe to test, To release

#23249 Concurrency issues in search
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
Labels: safe to test, To release, backend

#23262 Fix: setInheritedFields for spreadsheet, worksheet, file, directory
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DirectoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FileRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SpreadsheetRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorksheetRepository.java
Labels: safe to test, To release, backend

#23263 Add missing tier mapping
  openmetadata-spec/src/main/resources/elasticsearch/en/data_products_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/en/security_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/en/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/data_products_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/security_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/test_suite_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/data_products_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/security_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/test_case_resolution_status_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/test_suite_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/data_products_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/security_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/test_suite_index_mapping.json
Labels: safe to test, To release, backend

#23237 fix contract status button not visible in persona having contract tab
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/DataContract.mock.ts
Labels: UI, safe to test, To release

#23233 Fixes #23010 #: BigQuery Project Selection In Profiler & AutoClassification Workflow
  ingestion/src/metadata/ingestion/connections/builders.py
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/system/bigquery/system.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  ingestion/src/metadata/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/tests/cli_e2e/database/bigquery/bigquery.yaml
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_bigquery_sampling.py
Labels: Ingestion, safe to test

#23200 ISSUE #1534 - Profiler Refactor for Metadata Extraction Application
  APPLICATION.md
  bootstrap/sql/migrations/native/1.9.6/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.6/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.8/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.8/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.8/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.8/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/ometa/mixins/profile_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/tests/integration/profiler/test_sqa_profiler.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/processors/DatabaseServiceTablesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityProfileRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/mapper/EntityTimeSeriesMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/entityProfiles/EntityProfileMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/entityProfiles/EntityProfileResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TableUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/entityProfiles/EntityProfileResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createEntityProfile.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metadataExporterAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metadataExporterConnectors/bigQueryConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metadataExporterConnectors/databricksConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metadataExporterConnectors/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metadataExporterConnectors/snowflakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/type/entityProfile.json
Labels: Ingestion, safe to test

#23141 Redirect to persona page when clicked on default persona
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaSelectableList/PersonaSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfilePersona/UserProfilePersona.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/users.less
Labels: UI, safe to test, To release

#23277 playwright: fixed failing test case for description box selection.
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Labels: UI, safe to test

#23286 Added entityStatus and reviewers property in ru index mappings
  openmetadata-spec/src/main/resources/elasticsearch/ru/api_collection_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/api_endpoint_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/chart_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/classification_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/container_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/dashboard_data_model_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/dashboard_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/data_products_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/database_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/database_schema_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/directory_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/file_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/glossary_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/glossary_term_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/metric_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/mlmodel_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/pipeline_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/search_entity_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/spreadsheet_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/stored_procedure_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/table_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/tag_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/topic_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/worksheet_index_mapping.json
Labels: safe to test, backend

#23259 ISSUE #2031 - Add App Runner to Application Entity
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/ServiceEntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/createAppRequest.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createEntityProfile.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/bigQueryConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/databricksConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/redshiftConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/createAppRequest.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testSuite.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/entityProfile.ts
Labels: Ingestion, safe to test

#23242 MINOR - Handle chart for Data Contract and add schema validations
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Labels: Ingestion, safe to test

#23274 MINOR - Update contract security schema
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/dataContract.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dataContract.ts
Labels: Ingestion, safe to test

#23248 feat(ui): support custom operator for array object contains
  openmetadata-service/src/main/java/org/openmetadata/service/rules/LogicOps.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/constants/DataContract.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Labels: UI, safe to test

#23291 Lineage dialect postgres added to greenplum
  ingestion/src/metadata/ingestion/lineage/models.py
Labels: safe to test, To release

#23303 Fix the advanced config in service form restricting the next action
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JSONSchemaTemplate/ObjectFieldTemplate.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JSONSchemaTemplate/ObjectFieldTemplate.tsx
Labels: UI, safe to test

#23300 Fix test flakiness in FeedResourceTest
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Labels: safe to test, backend

#23320 Increase Max Server threads
  conf/openmetadata.yaml
Labels: safe to test, To release, backend

#23044 Feat: show dbt project name
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: Ingestion, safe to test, To release

#23171 Theme setup
  openmetadata-ui-core-components/pom.xml
  openmetadata-ui-core-components/src/main/resources/ui/package.json
  openmetadata-ui-core-components/src/main/resources/ui/src/colors/colorValidation.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/colors/defaultColors.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/colors/generateMuiPalettes.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/colors/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/components/checkbox-icons.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/button-theme.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/createMuiTheme.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/data-display-theme.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/form-theme.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/mui-theme-types.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/navigation-theme.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/shadows.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/types.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/utils/buttonConstants.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/utils/icon-utils.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/utils/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
  openmetadata-ui-core-components/src/main/resources/ui/vite.config.ts
  openmetadata-ui-core-components/src/main/resources/ui/yarn.lock
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/@types/mui-theme-inline.d.ts
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/vite.config.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
  pom.xml
Labels: safe to test

#23304 Add missing user_activity migrations to 1.9.8
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v198/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v198/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v198/MigrationUtil.java
Labels: safe to test, To release, backend

#23321 PLAYWRIGHT : fix the DataContract and IngestionBot playwright flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Labels: UI, safe to test, To release

#23367 playwright: fixed incident manager flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/incidentManager.ts
Labels: UI, safe to test, To release

#23368 chore(ui): fix glossary tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Labels: UI, safe to test, To release

#23351 Fix: integrate API for notifications and bots update bot details redirection
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExplorePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/queryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
Labels: UI, safe to test, To release

#23389 fix(test): AUT for ExploreSortOrder
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
Labels: UI, safe to test, To release

#23393 Fix: Resolve Elasticsearch script compilation limit errors by parameterizing dynamic scripts
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/LineageUtil.java
Labels: safe to test, To release

#22533 Add logging endpoint into S3
  conf/openmetadata-s3-logs.yaml
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/logs_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/streamable_logger.py
  ingestion/src/metadata/workflow/base.py
  ingestion/tests/unit/utils/test_streamable_logger.py
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/DefaultLogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/LogStorageFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/S3LogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MicrometerBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/StreamableLogsMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/LogBatch.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/LogStorageFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/LogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/MinioLogStorageIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/S3LogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/StreamableLogsMetricsTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogApiTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStreamingResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStreamingTest.java
  openmetadata-spec/src/main/java/org/openmetadata/service/logstorage/LogStorageInterface.java
  openmetadata-spec/src/main/resources/json/schema/configuration/logStorageConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/system/validationResponse.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/logStorageConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/pipelineServiceClientConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/system/validationResponse.ts
Labels: safe to test, backend

#22874 Fix #21097 - Add new rule noDomain()
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Labels: safe to test, To release, backend

#23403 feat: extend ENTITY_TYPE with additional entity types and fields
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
Labels: Ingestion, safe to test, To release

#23408 Handle `None` value of `procedure_name` in stored proc lineage processing
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
Labels: Ingestion, safe to test, lineage, To release

#23377 fix(ui): Make select dropdown rerender on language change
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchBar/GlobalSearchBar.tsx
Labels: safe to test

#23252 Fixes <Issue-22794>: Restore the owner list with original owners after patch update
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: safe to test, To release

#23363 feat: Add configurable filters aggregation for tag source segregation in search
  bootstrap/sql/migrations/native/1.10.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
  openmetadata-service/src/main/resources/json/data/settings/searchSettings.json
  openmetadata-spec/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/domain_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/domain_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/domain_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/configuration/searchSettings.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/search/previewSearchRequest.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/searchSettings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Labels: safe to test, backend

#23420 chore(ui): update terser to esbuild
  openmetadata-ui-core-components/src/main/resources/ui/vite.config.ts
Labels: UI, safe to test

#23414 fix(test): explore sort order filter
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
Labels: UI, safe to test, To release

#23340 Add entityStatus and reviewers to testCase, reviewers for testSuite
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v1100/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCase.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestCase.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestSuite.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testSuite.ts
Labels: safe to test, backend

#23411 PLAYWRIGHT: fix flakiness around bulk import
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: UI, safe to test, To release

#23419 fix: Search Filter removal doesn't restore full test case list in edit page of test suite pipeline
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/AddTestSuitePipeline.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.tsx
Labels: UI, safe to test

#23432 fix(ui): update breadcrumbs in custom property page
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomPropertiesPageV1/CustomPropertiesPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SwMessenger.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorage.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.test.ts
Labels: UI, safe to test

#23444 Fix post profiler time series migration
  bootstrap/sql/migrations/native/1.9.8/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.8/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.9/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.9/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.9/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.9/postgres/schemaChanges.sql
Labels: safe to test, To release, backend

#23451 playwright: remove logging for failed ingestion pipelines in ServiceBaseClass
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Labels: UI, safe to test, To release

#23439 chore(test): fix ingestion bot tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
Labels: UI, safe to test

#23426 chore(ui): update sourcemap for openmetadata-core-ui-components
  openmetadata-ui-core-components/src/main/resources/ui/package.json
  openmetadata-ui-core-components/src/main/resources/ui/vite.config.ts
Labels: UI, safe to test

#23476 Minor my sql migration
  bootstrap/sql/migrations/native/1.9.9/mysql/postDataMigrationSQLScript.sql
Labels: Ingestion, safe to test, To release

#23390 Create on Parent Team should allow team creation on child
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CreateResourceContext.java
Labels: safe to test, backend

#22821 Modify the team entity specific permission for create and editUser
  openmetadata-ui/src/main/resources/ui/playwright/constant/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/team/TeamClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
Labels: UI, safe to test

#23488 fix data contract failing flaky test
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
Labels: UI, safe to test, To release

#23489 Chore(UI): Fix the AUT flakiness in NotificationAlert and ServiceIngestion specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ApiIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/observabilityAlert.ts
Labels: UI, safe to test, To release

#23490 Sort data in total data assets widget by count
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.test.tsx
Labels: UI, safe to test, To release

#23486 feat(ui): Add data products widget
  openmetadata-service/src/main/resources/json/data/document/docs/dataProducts.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-products-widget.png
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-data-product-new.svg
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataProductsWidget/DataProductsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataProductsWidget/DataProductsWidget.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataProductsWidget/DataProductsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataProductsWidget/data-products-widget.less
  openmetadata-ui/src/main/resources/ui/src/enums/CustomizablePage.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeMyDataPageClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataProductUtils.tsx
Labels: UI, safe to test, To release

#23487 Minor fix broken 1.9.8 migrations
  bootstrap/sql/migrations/native/1.9.10/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.10/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.10/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.10/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.9/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.9/postgres/postDataMigrationSQLScript.sql
Labels: Ingestion, safe to test, To release

#23504 Fix Vulnerability
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  pom.xml
Labels: safe to test, To release, backend

#23520 Fix - Hive Metastore None issue
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
Labels: Ingestion, safe to test, To release

#23441 Fixes #23129: Add system-default notification templates
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/HandlebarsHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/HandlebarsProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/BuildEntityUrlHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/DiffHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/EndsWithHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/EqHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/FormatColumnValueHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/FormatDateHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/GroupEventChangesHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/JoinListHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/OrHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/ResolveDomainHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/SplitHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/template/handlebars/helpers/StartsWithHelper.java
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-entity-created.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-entity-default.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-entity-deleted.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-entity-soft-deleted.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-entity-updated.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-logical-test-case-added.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-post-created.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-task-closed.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-task-resolved.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-test-result.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-thread-created.json
  openmetadata-service/src/main/resources/json/data/notificationTemplate/system-notification-thread-updated.json
  pom.xml
Labels: safe to test, backend, alerts and notifications

#23544 chore(ui): fix the tags playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/ClassificationClass.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
Labels: UI, safe to test, To release

#23540 chore(ui): fix playwright for search index app
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
Labels: UI, safe to test, To release

#23545 chore(ui): fix lineage cycle playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
Labels: UI, safe to test, To release

#23212 fix(test): flaky tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
Labels: UI, safe to test

#23551 MINOR: Enable Log streaming for ingestion pipelines
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Labels: Ingestion, safe to test

#23559 add entityType.keyword aggregation in searchSettings.json
  bootstrap/sql/migrations/native/1.9.11/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.11/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v1911/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v1911/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v1911/MigrationUtil.java
  openmetadata-service/src/main/resources/json/data/settings/searchSettings.json
Labels: safe to test, To release, backend

#23547 chore(ui): fix ingestion bot playwright timeout issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
Labels: UI, safe to test, To release

#23555 fix(test): search preview
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
Labels: UI, safe to test

#23478 FIxes #16983: can't sample data from trino tables with complex types
  ingestion/src/metadata/profiler/orm/converter/converter_registry.py
  ingestion/src/metadata/profiler/orm/converter/trino/__init__.py
  ingestion/src/metadata/profiler/orm/converter/trino/converter.py
  ingestion/src/metadata/profiler/orm/types/__init__.py
  ingestion/src/metadata/profiler/orm/types/trino.py
  ingestion/tests/integration/trino/conftest.py
  ingestion/tests/integration/trino/data/complex_and_simple.sql
  ingestion/tests/integration/trino/data/only_complex.sql
  ingestion/tests/integration/trino/test_classifier.py
  ingestion/tests/integration/trino/test_metadata.py
  ingestion/tests/integration/trino/test_profiler.py
Labels: Ingestion, safe to test

#23448 Fix #23445: User with Owner role unable to update Incident Status via API
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
Labels: safe to test, To release, backend

#23586 Fixes: Databricks Pipeline Lineage Flow
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
Labels: Ingestion, safe to test

#23538 PLAYWRIGHT: improve playwright test of bulk import/edit
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
Labels: UI, safe to test, To release

#23534 supported scroll in certification popover list
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
Labels: UI, safe to test, To release

#23572 Improve timestamp sorting logic in IngestionRecentRuns component
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRun.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
Labels: UI, safe to test, To release

#23567 Revert "Fix(ui): Force Test Connection (#21734)"
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiServiceRest.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MlFlowIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
Labels: UI, safe to test

#23570 chore(ui): Fix Data Contract contains flaky test and updated Terms of Service icon
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
Labels: UI, safe to test

#23591 updated contract security form details
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSecurityFormTab/ContractSecurityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSecurityFormTab/contract-security-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Labels: UI, safe to test

#23553 fix(ui): SSO feedbacks and improvements
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/ic-ldap.svg
  openmetadata-ui/src/main/resources/ui/src/assets/img/ic-saml.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-custom-oidc.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-ldap.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-right-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-saml.svg
  openmetadata-ui/src/main/resources/ui/src/components/Modals/UnsavedChangesModal/unsaved-changes-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/ProviderSelector/ProviderSelector.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/sso-configuration-form-array-field-template.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/sso-configuration-form.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/SSODocPanel.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/SSODocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/sso-doc-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOGroupedFieldTemplate/sso-grouped-field-template.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SettingsSso.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/settings-sso.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/SelectWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TitleBreadcrumb/TitleBreadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TitleBreadcrumb/TitleBreadcrumb.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TitleBreadcrumb/title-breadcrumb.less
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/spreadsheet.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SSOUtils.ts
Labels: UI, safe to test

#23485 support not_contains in contract semantic form
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataContract.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Labels: UI, safe to test

#23603 Add threat model and incident response
  INCIDENT_RESPONSE.md
  THREAT_MODEL.md
  bootstrap/sql/migrations/native/1.10.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
Labels: safe to test, backend

#23606 Fix: PostgreSQL migration immutability issue with databaseSchemaHash …
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
Labels: safe to test, backend

#23532 Fixes #23416: Option To Opt Out of BigQuery Policy Tags Ingestion
  ingestion/src/metadata/examples/workflows/bigquery.yaml
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigQuery.md
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/bigQueryConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test

#23614 Improvement(UI): Platform info banner logic update
  openmetadata-ui/src/main/resources/ui/src/components/common/AirflowMessageBanner/AirflowMessageBanner.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AirflowMessageBanner/AirflowMessageBanner.tsx
Labels: UI, safe to test

#23595 Chore: Add notify downstream functionality and related tests in the UI.
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/TeamAndUserSelectItem/team-and-user-select-item.less
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/ObservabilityFormTriggerItem/ObservabilityFormTriggerItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/ObservabilityFormTriggerItem/ObservabilityFormTriggerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Labels: UI, safe to test

#23611 supporting running status in contract execution chart
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
Labels: UI, safe to test

#23592 Fix TypeResource to handle inDefinition references
  openmetadata-service/src/main/java/org/openmetadata/service/util/SchemaFieldExtractor.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
Labels: safe to test, backend

#23607 SSO minor improvements around field level errors
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SsoConfigurationFormArrayFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/SSOUtils.ts
Labels: UI, safe to test

#23625 support owner operation with editOwner and editALL for teams
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.test.tsx
Labels: UI, safe to test, To release

#23404 feat: Add Unity Catalog data diff module to use DBX connection instead of workspaceclient
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/base_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/ingestion/source/database/common/data_diff/databricks_base.py
  ingestion/src/metadata/ingestion/source/database/databricks/data_diff/__init__.py
  ingestion/src/metadata/ingestion/source/database/databricks/data_diff/data_diff.py
  ingestion/src/metadata/ingestion/source/database/databricks/service_spec.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/data_diff/__init__.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/data_diff/data_diff.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/service_spec.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/tests/unit/metadata/data_quality/test_table_diff_param_setter.py
Labels: Ingestion, safe to test, To release
