Repository open-metadata/OpenMetadata, pull requests merged in 2025-02, with the labels that each got.

#19563 Hive: Updated postgres query to get partition field
  ingestion/src/metadata/ingestion/source/database/hive/metastore_dialects/mysql/dialect.py
  ingestion/src/metadata/ingestion/source/database/hive/metastore_dialects/postgres/dialect.py
Labels: safe to test

#19616 issue-19112: API service schema fields of object type not listed
  ingestion/src/metadata/ingestion/source/api/rest/metadata.py
Labels: Ingestion, safe to test

#19626 MINOR: powerbi e2e count fix
  ingestion/tests/cli_e2e/test_cli_powerbi.py
Labels: Ingestion, safe to test

#19618 feat: use table_id instead of table_name for fetching Superset dataset columns
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/models.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
  ingestion/tests/unit/resources/datasets/superset_dataset.json
Labels: safe to test

#19623 Fix: Multiple Tier selection not resulting correct DQ dashboard view
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Labels: UI, safe to test, To release

#19528 Fix #17059 - Task cannot be closed by the non-admin user who created it
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Labels: backend, safe to test

#19642 Docs: Adding note to ingest DBT UI Page
  openmetadata-docs/content/v1.6.x/connectors/ingestion/workflows/dbt/ingest-dbt-ui.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-ui.md
Labels: safe to test

#19644 Docs: Metadata Connector Feature Updation
  openmetadata-docs/content/v1.6.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.6.x/connectors/metadata/alation/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/metadata/alationsink/index.md
  openmetadata-docs/content/v1.6.x/connectors/metadata/alationsink/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/metadata/amundsen/index.md
  openmetadata-docs/content/v1.6.x/connectors/metadata/amundsen/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/metadata/atlas/index.md
  openmetadata-docs/content/v1.6.x/connectors/metadata/atlas/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/alation/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/alationsink/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/alationsink/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/amundsen/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/amundsen/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/atlas/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/metadata/atlas/yaml.md
Labels: safe to test

#19645 Docs: ML Model Connector content and feature Correction
  openmetadata-docs/content/v1.6.x/connectors/ml-model/mlflow/index.md
  openmetadata-docs/content/v1.6.x/connectors/ml-model/mlflow/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ml-model/mlflow/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ml-model/mlflow/yaml.md
Labels: safe to test

#19612 feat: edit display name and delete functionalities for roles and policy
  openmetadata-ui/src/main/resources/ui/playwright/constant/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Policies.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
Labels: safe to test

#19643 [MINOR] Fixes String value length (20054016) exceeds the maximum allowed (20000000,
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/DatabseAndSearchServiceStatusJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
Labels: backend, safe to test, To release

#19495 remove object aliasing from buildReceiversListFromActions
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
Labels: backend, safe to test

#19654 Fix #12094: Add support for temp table lineage
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/query_parser_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryLineagePipeline.json
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/databaseServiceQueryLineagePipeline.ts
Labels: Ingestion, safe to test, To release

#19646 Fix #19633: Fix databricks schema not found
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/tests/unit/test_databricks_schema.py
Labels: Ingestion, safe to test, To release

#19647 Fix - switch to collate-dbt-artifacts-parser
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/tests/unit/test_dbt.py
Labels: Ingestion, safe to test, To release

#19641 MINOR: Wrong attribute name in SampleConfig model
  ingestion/src/metadata/data_quality/runner/base_test_suite_source.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/sampler/config.py
  ingestion/src/metadata/sampler/models.py
  ingestion/src/metadata/sampler/nosql/sampler.py
  ingestion/src/metadata/sampler/pandas/sampler.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/mssql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/postgres/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/snowflake/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/trino/sampler.py
  ingestion/tests/integration/trino/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/azuresql/test_azuresql_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_bigquery_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/mssql/test_mssql_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/postgres/test_postgres_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/snowflake/test_snowflake_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sample.py
  ingestion/tests/unit/profiler/test_profiler_interface.py
Labels: Ingestion, safe to test

#18077 Fixes #18075: Dockerfile lint warning
  docker/images/minimal-ubuntu/Dockerfile
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/tests/integration/trino/hive/Dockerfile
  ingestion/tests/integration/trino/trino/Dockerfile
Labels: safe to test

#19663 Docs: Teradata Updation in Collate Menu
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
Labels: safe to test

#19668 Docs: Synapse Connector updated
  openmetadata-docs/content/partials/v1.6/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/partials/v1.6/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/database/connectors-list.md
  openmetadata-docs/images/connectors/synapse.webp
Labels: safe to test

#19486 Fixes: snowflake lowercase issue
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
Labels: safe to test

#19667 fix glossary playwright flakiness
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Labels: UI, safe to test, To release

#19674 DOCS - Lineage Propagation configuration docs
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/images/v1.6/how-to-guides/governance/automator-description.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/automator-description.png
Labels: Ingestion, safe to test

#19661 #19363: remove isNull and not null condition from description in advance search
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
Labels: UI, safe to test, To release

#19625 Application doc panel
  openmetadata-ui/src/main/resources/ui/.husky/pre-commit
  openmetadata-ui/src/main/resources/ui/generateApplicationDocs.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/DataInsightsApplication.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/DataInsightsReportApplication.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/DataRetentionApplication.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/SearchIndexingApplication.md
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationConfiguration/ApplicationConfiguration.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationConfiguration/ApplicationConfiguration.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.test.tsx
Labels: UI, safe to test

#19675 Docs: ADLS Image Update
  openmetadata-docs/images/v1.6/connectors/adls/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/adls/select-service.png
  openmetadata-docs/images/v1.6/connectors/adls/service-connection.png
  openmetadata-docs/images/v1.7/connectors/adls/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/adls/select-service.png
  openmetadata-docs/images/v1.7/connectors/adls/service-connection.png
Labels: safe to test

#19673 Fix: Bot page layout issue
  openmetadata-ui/src/main/resources/ui/src/components/PageLayoutV1/PageLayoutV1.tsx
Labels: safe to test

#19659 #19530: modify the lineage alignment algorithm to tree view
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test, To release

#19606 MINOR: chore(apps): reset error triggers on schedule
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
Labels: Ingestion, safe to test

#19072 User Permissions on TestSuite and TestCases
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityTimeSeriesResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResultResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthRequest.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthorizationLogic.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/Authorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/TestCaseResourceContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/Severity/Severity.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/Severity/Severity.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/useTestCase.store.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Labels: backend, safe to test

#19677 MINOR: Fix Teradata SQA version
  ingestion/setup.py
Labels: Ingestion, safe to test, To release

#19672 MINOR: Remove default 100 when `profileSample` is None
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
  ingestion/tests/integration/trino/test_profiler.py
Labels: Ingestion, safe to test

#19584 test(e2e): Improve the e2e for advanced search filters on Explore page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MlModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
Labels: safe to test, To release

#19699 Updated number of connectors and other fixes
  openmetadata-docs/content/partials/v1.7/connectors/metadata-ingestion-ui.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.5.x/getting-started/index.md
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.5.x/quick-start/getting-started/index.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.6.x/getting-started/index.md
  openmetadata-docs/content/v1.6.x/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.6.x/quick-start/getting-started/index.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/getting-started/day-1/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/getting-started/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/getting-started/day-1/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/quick-start/getting-started/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
Labels: backend, safe to test

#19665 Added redshift external table lineage support
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
Labels: safe to test

#19689 ISSUE-19651: handle starburst JWToken expiration
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
Labels: Ingestion, safe to test

#19705 Fix #19425: BigQuery External Table with Partition
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Labels: Ingestion, safe to test

#19709 Docs: Matillion Note Update in Requirements
  openmetadata-docs/content/v1.6.x/connectors/pipeline/matillion/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/matillion/index.md
Labels: safe to test

#19695 test(e2e): Added new Fields for e2e for advanced search filters on Explore page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Topic.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/Entity.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/Glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
Labels: UI, safe to test, To release

#19712 Docs: Adding Running Metadata Step in Upgrade Prerequisites
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/content/partials/v1.7/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-docs/images/v1.6/deployment/upgrade/running-state-in-openmetadata.png
  openmetadata-docs/images/v1.7/deployment/upgrade/running-state-in-openmetadata.png
Labels: safe to test

#19708 MINOR: vertica e2e fix
  ingestion/tests/cli_e2e/test_cli_vertica.py
Labels: Ingestion, safe to test

#19706 feat(ui): show sourceUrl if present
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
Labels: UI, safe to test, To release

#19693 MINOR: Fix followers for Data Insights index
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
Labels: Ingestion, safe to test, To release

#19507 Minor: OSS requirements for the custom property automation action
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/EditTableTypePropertyModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/EditTableTypePropertyModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/EditTableTypePropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperty.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperty.utils.ts
Labels: UI, safe to test, To release

#19691 Fix: Alert tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ProfilerConfigurationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customMetric.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useAlertStore.ts
Labels: safe to test

#19687 Fixes #19171 - Looker parse derived view references query
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
Labels: Ingestion, safe to test

#19714 Modify the appearance of self connecting edge lineage
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: UI, safe to test, To release

#19725 Docs: Matillion Pointer Updation in Requirements
  openmetadata-docs/content/v1.6.x/connectors/pipeline/matillion/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/matillion/index.md
Labels: safe to test

#19662 fix(ui): handle 401 for wrong password case
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/LoginAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Labels: UI, safe to test

#19731 MINOR: Fix db2 license file import
  ingestion/src/metadata/ingestion/source/database/db2/connection.py
Labels: Ingestion, safe to test, To release

#19701 Remove unused json-smart dependency
  openmetadata-service/pom.xml
Labels: backend, safe to test, To release

#19464 updated workflows to remove the deprication issue
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-tests.yml
Labels: safe to test

#19707 Fix: Postgres usage not terminating with bad connection
  ingestion/src/metadata/ingestion/source/database/postgres/usage.py
Labels: safe to test, To release

#19732 Markdown editor fix
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
Labels: UI, safe to test, To release

#19733 [MINOR] Fixes Email Issue in system repository being null
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
Labels: backend, safe to test, To release

#19715 MINOR: Remove description check for columnDescriptionStatus
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ColumnIndex.java
Labels: Ingestion, safe to test, To release

#19736 Docs: PII Tagging Note Removal
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/classification/Auto Classification/auto-pii-tagging.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/auto-pii-tagging.md
Labels: safe to test

#19730 Fix #19726 - PBI test connection success with bad credentials
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
Labels: Ingestion, safe to test, To release

#19739 Docs: Auto classification YAML and Pointers Updation
  openmetadata-docs/content/partials/v1.6/connectors/yaml/auto-classification.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/auto-classification.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/classification/Auto Classification/external-workflow.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/external-workflow.md
Labels: safe to test

#19679 Fix #17742 - show sub domain assets to top level
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useDomainStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test, To release

#19678 Fix #19635: Snowflake allow custom account_usage schema
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/query_parser.py
  openmetadata-docs/content/v1.6.x/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
Labels: Ingestion, safe to test

#19737 chore(ui): disable popup based login for msal
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
Labels: UI, safe to test, To release

#19648 MINOR: Use namespaced variables
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/Workflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceExecutionIdSetterListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowVariableHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/Edge.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/NodeFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CheckEntityAttributesTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/JsonLogicFilterTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/NoOpTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetEntityCertificationTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetGlossaryTermStatusTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/CheckEntityAttributesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/JsonLogicFilterImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/NoOpTaskImp.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetEntityCertificationImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetGlossaryTermStatusImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/UserApprovalTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/CreateApprovalTaskImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/SetApprovalAssigneesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/SetCandidateUsersImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/CustomSignalTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/EventBasedEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/PeriodicBatchEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FilterEntityImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/MainWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v170/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v170/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/governance/workflows/elements/WorkflowNodeDefinitionInterface.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/governance/workflows/elements/WorkflowTriggerInterface.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/edge.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodeSubType.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/checkEntityAttributesTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/jsonLogicTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/pythonWorkflowAutomationTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setEntityCertificationTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/userTask/userApprovalTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/customSignalTrigger.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/workflowDefinition.json
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/edge.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodeSubType.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/checkEntityAttributesTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/setEntityCertificationTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/userTask/userApprovalTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/workflowDefinition.ts
Labels: Ingestion, safe to test

#19748 add missing locales
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test

#19729 Fix: Update data model header asset
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
Labels: UI, safe to test, To release

#19681 MINOR - Automator - Remove tags by label type
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/removeDescriptionAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/removeTagsAction.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/removeDescriptionAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/removeTagsAction.ts
Labels: Ingestion, safe to test, To release

#19696 MINOR BQ sampler type missing
  ingestion/src/metadata/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_bigquery_sampling.py
Labels: Ingestion, safe to test

#19752 Fix #19680: mask query method to return none if failed
  ingestion/src/metadata/ingestion/lineage/masker.py
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
Labels: Ingestion, safe to test, To release

#19727 MINOR: Add support for cluster key information - bigquery
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: Ingestion, safe to test, To release

#19760 Docs: Troubleshooting Doc Updation in Data Discovery
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-discovery/troubleshooting.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-discovery/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: safe to test

#19746 FIX - Profiler Source Include Views Filter
  ingestion/src/metadata/profiler/source/fetcher/config.py
  ingestion/src/metadata/profiler/source/fetcher/fetcher_strategy.py
  ingestion/tests/unit/profiler/test_entity_fetcher.py
Labels: Ingestion, safe to test, To release

#19744 Fix #19634: use system.query.history table for lineage - databricks
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/databricks/lineage.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/database/databricks/query_parser.py
  ingestion/src/metadata/ingestion/source/database/databricks/usage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/query_parser.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/usage.py
  ingestion/tests/unit/test_databricks_lineage.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/databricksConnection.ts
Labels: Ingestion, safe to test, To release

#19763 MINOR - Validate basic suites do have basicEntityRef
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: Ingestion, safe to test, To release

#19751 MINOR - Hybrid Ingestion Agent - Link ingestion agents to ingestion pipelines
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineMapper.java
  openmetadata-spec/src/main/resources/json/schema/api/services/ingestionPipelines/createIngestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
Labels: safe to test, Collate

#19764 Fix: close select dropdown when focus is shifted
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: UI, safe to test

#19756 MINOR: Added missing test dependencies
  ingestion/setup.py
Labels: Ingestion, safe to test

#19617 feat: use dataset sql for superset lineage
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/models.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/utils.py
  ingestion/tests/unit/topology/dashboard/test_superset.py
Labels: safe to test

#19767 Minor: Fix mysql & snowflake lineage e2e
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Labels: Ingestion, safe to test

#19377 fix: replace 'Slack' with 'here' in email templates
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/email-verification.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/invite-createPassword.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/invite-randompwd.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/reset-link.json
  openmetadata-service/src/main/resources/json/data/document/emailTemplates/openmetadata/testMail.json
Labels: safe to test

#19758 Chore(ui): Add a resolution version for serialize-javascript to fix the vulnerability
  openmetadata-ui/src/main/resources/ui/package.json
Labels: UI, safe to test, To release

#19548 fix announcement owner or follower
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
Labels: safe to test

#19776 Docs: SnowFlakes YAML Correction
  openmetadata-docs/content/partials/v1.6/connectors/yaml/lineage.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/lineage.md
Labels: safe to test

#19781 Docs: OSS Security Doc Updation in Deployment
  openmetadata-docs/content/v1.6.x/deployment/oss-security.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/oss-security.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Labels: safe to test

#19783 Docs: OSS Security Line Remover
  openmetadata-docs/content/v1.6.x/deployment/oss-security.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/oss-security.md
Labels: safe to test

#19784 fixed #19562 Domain data is not getting saved for testSuite
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/DomainLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
Labels: UI, safe to test

#19791 MINOR: Fix unity catalog lineage - handle errors
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
Labels: Ingestion, safe to test, To release

#19775 Mssql stored procedure description
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Labels: safe to test

#19777 Add test for Roles and Persona
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserDetails.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/userDetails.ts
Labels: UI, safe to test, To release

#19757 Playwright: Remove the flakiness
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TableConstraint.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
Labels: UI, safe to test, To release

#19786 fix #19686: Table Update Sys Metric shows wrong value
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/OperationDateBarChart.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test, To release

#19789 fix #19772: Not able to see Data diff option in table test case in DataBricks service
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/TestSuite.constant.ts
Labels: UI, safe to test

#19802 Docs: Roles and Policies Condtion updation
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/authorization.md
Labels: safe to test

#19792 FIX #19768 - Delete pipelines from logical suites at deletion
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: Ingestion, safe to test, To release

#19780 Update Glossary Approval Workflow
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
Labels: Ingestion, safe to test

#19790 MINOR - Fixes relationship between IngestionPipeline and IngestionAgent entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Labels: safe to test, Collate

#19797 Fix: Update teams dropdown for admin
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserDetails.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileTeams/UserProfileTeams.component.tsx
Labels: UI, safe to test, To release

#19794 fix datadiff version
  ingestion/setup.py
Labels: Ingestion, safe to test

#19787 MINOR: Update Glossary Approval Workflow
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/PeriodicBatchEntityTrigger.java
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
Labels: Ingestion, safe to test

#19803 Fix dbt Test case Timestamp issue
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Labels: Ingestion, safe to test, To release

#19811 Fix #19807 - Implement the right SQA Sampler for UnityCatalog
  ingestion/src/metadata/ingestion/source/database/unitycatalog/service_spec.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/unity_catalog/sampler_interface.py
Labels: Ingestion, safe to test, To release

#19810 MINOR: Small refactor to be able to print correct message when reviewer is i…
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
Labels: Ingestion, safe to test, To release

#19710 Feat: Github Workflow Action for Scanning vulnerabilities using Trivy.
  .github/actions/prepare-for-docker-build/action.yml
  .github/trivy/templates/github.tpl
  .github/workflows/trivy-scan-ingestion-base-slim-image.yml
  .github/workflows/trivy-scan-ingestion-image.yml
  .github/workflows/trivy-scan-openmetadta-server.yml
Labels: safe to test

#19716 #19607: change the rest user api to search in owner modal
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
Labels: UI, safe to test, To release

#19806 fix #19805: Not able to edit sql query from test case details page
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
Labels: UI, safe to test, To release

#19574 Alert Fixes
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/Consumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/EventSubscriptionJobException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test, To release

#19821 Docs: MySQL YAML Correction
  openmetadata-docs/content/v1.6.x/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/yaml.md
Labels: safe to test

#19819 Fix install application
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AppMarketPlaceUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Labels: backend, safe to test, To release

#19809 FIX #19798 - Shortening SQA __tablename__ to avoid hitting errors in …
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/tests/integration/integration_base.py
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_bigquery_sampling.py
  ingestion/tests/utils/sqa.py
Labels: Ingestion, safe to test, To release

#19827 fix #19824 Section heading not visible in the add/edit ingestion page
  openmetadata-ui/src/main/resources/ui/src/styles/components/rjsf.less
Labels: UI, safe to test, To release

#19828 fix: updated Dockerfile to fix the workflow stuck issue
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Labels: safe to test, To release

#19785 MINOR: powerbi fetch workspaces failure handle
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
Labels: Ingestion, safe to test

#19742 MINOR: Fix domain or glossary version page title international display
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainVersion/DomainVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryVersion/GlossaryVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: safe to test

#19834 Docs: MySQL YAML Correction
  openmetadata-docs/content/v1.6.x/connectors/database/mysql/yaml.md
Labels: safe to test

#19838 Revert "Fix: close select dropdown when focus is shifted"
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Labels: UI, safe to test

#19826 Fix json smart version
  openmetadata-service/pom.xml
  pom.xml
Labels: backend, safe to test, To release

#19608 MINOR: Optimise Pipeline Lineage Extraction
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: Ingestion, safe to test

#19836 MINOR - Bump Ingestion versions
  docker/development/docker-compose.yml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/ingestion_dependency.sh
  ingestion/setup.py
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
Labels: Ingestion, safe to test, To release

#19832 Playwright: Fix the failing playwright tests on main
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: UI, safe to test, To release

#19855 Docs: Fix the roadmap link for the collate and OSS docs
  README.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
Labels: documentation, UI, safe to test

#19847 Fix: dompurify package vulnerability
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, To release

#19862 [MINOR-Alerts] Remove and read alert on sync offset
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
Labels: backend, To release

#19779 MINOR: Update Governance Workflow jsonschemas
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/checkEntityAttributesTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setEntityCertificationTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/endEvent/endEvent.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/startEvent/startEvent.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/userTask/userApprovalTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/eventBasedEntityTrigger.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/periodicBatchEntityTrigger.json
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/checkEntityAttributesTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/setEntityCertificationTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/endEvent/endEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/startEvent/startEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/userTask/userApprovalTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/triggers/eventBasedEntityTrigger.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/triggers/periodicBatchEntityTrigger.ts
Labels: Ingestion, safe to test

#19866 Fix tests
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: backend, safe to test

#19864 Fix Lombok Annotation Processor Issues
  pom.xml
Labels: backend, safe to test

#19835 Fix Deleted filter
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Labels: backend, safe to test, e2e, To release

#19857 update whats new for 1.6.4
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#19868 Minor : improve log message for registering new type in db
  openmetadata-service/src/main/java/org/openmetadata/service/TypeRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
Labels: backend, safe to test, To release

#19871 Docs: Power Bi Report Server Connector Updation
  openmetadata-docs/content/partials/v1.6/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/dashboard/connectors-list.md
Labels: safe to test

#19873 Docs: Mongodb Updation
  openmetadata-docs/content/v1.6.x/connectors/database/mongodb/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mongodb/yaml.md
Labels: safe to test

#19872 pass filters when refreshing for domain assets
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Labels: UI, safe to test, To release

#19867 Minor: Fix the vulnerability for `jsonpath-plus`
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, To release

#19591 MINOR: feat(event-subscriptions): event consumer extension
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AlertPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/OmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/DIContainer.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appRunRecord.json
  openmetadata-spec/src/main/resources/json/schema/events/api/createEventSubscription.json
  openmetadata-spec/src/main/resources/json/schema/events/eventSubscription.json
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/appRunRecord.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/createEventSubscription.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/eventSubscription.ts
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Labels: Ingestion, safe to test

#19875 playwright: fixed timeout issue in entity related specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
Labels: UI, safe to test, To release

#19878 Fix #19876: Snowflake Lineage Ingestion Fails Due to KeyError
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
Labels: Ingestion, safe to test, To release

#19844 fix - 17995 Avoid duplicate teams in team listing hierarchy
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TeamsHierarchy.spec.ts
Labels: backend, safe to test, To release

#19840 MINOR - Upgrade Airflow to 2.10.5
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/ingestion_dependency.sh
  ingestion/setup.py
  openmetadata-docs/content/partials/v1.6/deployment/upgrade/upgrade-prerequisites.md
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/createEventSubscription.ts
Labels: Ingestion, safe to test

#19908 MINOR - Fix collate app yaml reader with unwanted dropwizard java props
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ConfigurationReader.java
Labels: Ingestion, safe to test

#19918 Docs: Filter Pattern Example Updation
  openmetadata-docs/content/v1.6.x/connectors/ingestion/workflows/metadata/filter-patterns/database.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/metadata/filter-patterns/database.md
  openmetadata-docs/images/v1.6/features/ingestion/workflows/metadata/filter-patterns/table-filter-example-3.webp
  openmetadata-docs/images/v1.7/features/ingestion/workflows/metadata/filter-patterns/table-filter-example-3.webp
Labels: safe to test

#19854 fix(ui): forever loading for oidc auth refresh failure
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/MsalAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
Labels: UI, safe to test, To release

#19640 [Snyk] Security upgrade @tiptap/pm from 2.3.0 to 2.11.5
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#19931 Docs: Database Example 3 Note Updation
  openmetadata-docs/content/v1.6.x/connectors/ingestion/workflows/metadata/filter-patterns/database.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/metadata/filter-patterns/database.md
Labels: safe to test

#19934 Docs: 404 Images Fix
  openmetadata-docs/content/v1.5.x/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.6.x/connectors/storage/gcs/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/gcs/index.md
Labels: safe to test

#19906 Fixes 19747: Consistent API Parameters
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/UsersPagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
Labels: safe to test, To release

#19917 VERSION - Bump ingestion debian to bookworm
  .github/workflows/py-operator-build-test.yml
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Labels: Ingestion, safe to test

#19938 CI - Fix operator build test
  .github/workflows/py-operator-build-test.yml
  scripts/validate_sample_data.py
Labels: Ingestion, safe to test

#19940 CI - Fix operator build test
  .github/workflows/py-operator-build-test.yml
Labels: Ingestion, safe to test

#19883 MINOR: Add day one experience app
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/dayOneExperienceAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/dayOneExperienceAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/mstrConnection.ts
Labels: Ingestion, safe to test

#19939 #19932: fix the default pageSize setting on Ingestions Page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceIngestion.spec.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test, To release

#19945 CI - Update py-operator-build-test.yml
  .github/workflows/py-operator-build-test.yml
Labels: Ingestion, safe to test

#19959 Add cmd line user ops
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/UserCreationException.java
Labels: backend, safe to test, To release

#19954 MINOR: fix the glossary pagination issue
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/PanelContainer/PanelContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test
