Repository open-metadata/OpenMetadata, pull requests merged in 2025-07, with the labels that each got.

#22047 Fix: recreate fails if we can't find one index for a given entity
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Labels: safe to test, To release, backend

#21777 Fix(ui): primary color customization
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-star-filled.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/task-feed-card.less
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/entity-header-title.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/task-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/explore-search-card.less
  openmetadata-ui/src/main/resources/ui/src/components/Layout/CarouselLayout/carousel-layout.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfileCard/profile-details.less
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/rich-text-editor-previewer.less
  openmetadata-ui/src/main/resources/ui/src/context/AntDConfigProvider/AntDConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizeDetailsPage/customize-details-page.less
  openmetadata-ui/src/main/resources/ui/src/pages/SettingsNavigationPage/settings-navigation-page.less
  openmetadata-ui/src/main/resources/ui/src/styles/colorPallet.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test

#22042 ssas docs
  openmetadata-docs/content/partials/v1.8/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.9/connectors/database/connectors-list.md
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/connectors/database/ssas/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/ssas/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/ssas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/ssas/yaml.md
  openmetadata-docs/images/connectors/ssas.webp
  openmetadata-docs/images/v1.8/connectors/ssas/add-new-service.png
  openmetadata-docs/images/v1.8/connectors/ssas/select-service.png
  openmetadata-docs/images/v1.8/connectors/ssas/service-connection.png
  openmetadata-docs/images/v1.9/connectors/ssas/add-new-service.png
  openmetadata-docs/images/v1.9/connectors/ssas/select-service.png
  openmetadata-docs/images/v1.9/connectors/ssas/service-connection.png
Labels: safe to test

#21833 Fix(ui): Text Overflow from Widget and Table
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/TopActiveUsers.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/TopViewEntities.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryCard/SummaryCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test

#22056 Doc: MCP Menu Updation
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
Labels: safe to test

#22054 Fix Documentation: Consistency around connector yamls
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/looker/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/powerbi/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/tableau/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/dagster/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/search/elasticsearch/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/storage/s3/yaml.md
Labels: Ingestion, safe to test

#22055 Update Servlet Holders for SAML
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Labels: safe to test, To release, backend

#22069 Issue in Os Lineage Repository
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OSLineageGraphBuilder.java
Labels: safe to test, To release, backend

#22079 update the snapshots url for ossrh migration
  pom.xml
Labels: safe to test, backend

#22084 chore(ci): improve e2e runners with conditions
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e.yml
Labels: UI, safe to test

#22090 update the snapshots url for ossrh migration
  pom.xml
Labels: safe to test, backend

#22080 Update README and Ingestion Framework Documentation
  README.md
  ingestion/README.md
  openmetadata-ui/src/main/resources/ui/package.json
  scripts/check_prerequisites.sh
Labels: Ingestion, safe to test

#22104 add name tag in pom.xml of all modules
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
Labels: safe to test, To release, backend

#21909 Fix #21908: Add Persona configuration per User
  openmetadata-service/src/main/java/org/openmetadata/service/exception/BadRequestException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PersonaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/PersonaMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/PersonaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/PersonaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/teams/createPersona.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/persona.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/type/personaPreferences.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/teams/createPersona.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/persona.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/user.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/personaPreferences.ts
Labels: safe to test, backend

#22087 Doc: 1.8.1 Release Updation
  openmetadata-docs/content/partials/v1.8/releases/1.8.0.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.0.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#22118 Flaky(uI): Custom theme config
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomThemeConfig.spec.ts
Labels: UI, safe to test

#22125 fix(playwright): enhance bot page token reset logic to handle button visibility
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
Labels: UI, safe to test

#21990 #21510: supported rendering all suggestion on user avatar click
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AvatarCarousel/AvatarCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AvatarCarouselItem/AvatarCarouselItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AvatarCarouselItem/AvatarCarouselItem.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Suggestions.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/suggestionsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Suggestion/SuggestionUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Suggestion/SuggestionUtils.tsx
Labels: UI, safe to test, To release

#22130 Minor: Improve the alert destination selection warning message
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: UI, safe to test, To release

#21748 improve ui build times
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Labels: safe to test, backend

#22129 fix glossary playwright failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Labels: UI, safe to test

#22137 Doc: Page's Error Fix
  openmetadata-docs/content/v1.7.x/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/cassandra/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/cassandra/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/cassandra/index.md
Labels: safe to test

#22091 fix(ui): glossary term page to show permission error
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/PermissionErrorPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Labels: UI, safe to test, To release

#22094 #22089: fix the table column selection not persisting for all action in dropdown
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, To release

#22057 fix(ui): Mentions formatting in block editor
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
Labels: UI, safe to test

#22149 PLAYWRIGHT: fix the playwright auth-setup breaking
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
Labels: UI, safe to test

#21667 Fix #21662: Optional Redis Write-Through Cache for Database Queries
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CacheWarmupService.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedCollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedEntityRelationshipDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedTagUsageDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/LazyCacheService.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/RedisCacheBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/RedisCacheException.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/RelationshipCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/CacheConfiguration.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheConfigurationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheDisabledCompatibilityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheSetupTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheWarmupIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheWarmupServiceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CachedOpenMetadataApplicationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RateLimiterComparisonTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RateLimiterProductionReadinessTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RelationshipCacheTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/TagUsageCacheTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/cacheConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/cacheConfiguration.ts
  pom.xml
Labels: safe to test, backend

#22163 flaky(UI): custom config Playwright
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomThemeConfig.spec.ts
Labels: UI, safe to test, To release

#22182 Doc: Lineage Workflow Configuration Updation
  openmetadata-docs/content/v1.7.x/connectors/ingestion/workflows/lineage/lineage-workflow-query-logs.md
  openmetadata-docs/content/v1.8.x/connectors/ingestion/workflows/lineage/lineage-workflow-query-logs.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/ingestion/workflows/lineage/lineage-workflow-query-logs.md
Labels: safe to test

#22177 fix(ui): show toast error on duplicate domain
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/DomainRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomain/AddDomain.test.tsx
Labels: UI, safe to test, To release

#22010 Feat #21783: Add Json Schema Attribute in Automator for Domain Lineage Propagation. #21784
  openmetadata-docs/content/v1.8.x/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.8.x/main-concepts/metadata-standard/schemas/entity/applications/configuration/external/automator/lineagePropagationAction.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/main-concepts/metadata-standard/schemas/entity/applications/configuration/external/automator/lineagePropagationAction.md
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/lineagePropagationAction.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/lineagePropagationAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: safe to test

#22167 MINOR: Update Snowflake Connection
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/service_spec.py
  ingestion/tests/unit/test_source_connection.py
Labels: Ingestion, safe to test

#21771 Bulk load fields for paginations and indexing
  bootstrap/sql/migrations/native/1.8.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.2/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/csv/CsvUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedEntityRelationshipDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedTagUsageDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APICollectionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KpiRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PolicyRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RoleRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SearchIndexRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/StoredProcedureRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerUpdateService.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/RoleResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Markdown.spec.ts
Labels: safe to test, e2e, backend

#22061 Fixes: Unity Catalog Empty Tag
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
Labels: Ingestion, safe to test, To release

#22194 Add more debug logs; improve JVM params to be JVM 21
  bin/openmetadata-server-start.sh
Labels: safe to test, To release, backend

#21280 fix(ui): okta multi tab refresh issue
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
Labels: UI, safe to test, To release

#22192 MINOR: Fix pytest 3.10
  ingestion/tests/integration/ometa/test_ometa_service_api.py
Labels: Ingestion, safe to test

#22103 fix(ui): Data quality tab table pagination issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useTableFilters.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.tsx
Labels: UI, safe to test, To release

#22132 Fix(UI) : Added browser language support
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebarItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SettingsNavigationPage/SettingsNavigationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/LocalUtil.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/LocalUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Labels: safe to test, To release

#22198 Added Virtual Threads and Semaphore to control
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/HttpServletSseServerTransportProvider.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/MCPStreamableHttpServlet.java
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/McpIntegrationTest.java
Labels: safe to test, To release, backend

#22179 MINOR: add logs for all powerbi api calls
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
Labels: Ingestion, safe to test, To release

#22191 MINOR: pbi display table name from source
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/powerBIConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/powerBIConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test, To release

#22146 Fix #22067 : Domain inheritance issue after team removal
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserDetails.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/userDetails.ts
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
Labels: safe to test, To release, backend

#22155 MINOR: Improve Array Sampler for UC & DBX
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/unitycatalog/sampler.py
  ingestion/tests/unit/sampler/sqlalchemy/test_unitycatalog_sampler.py
Labels: Ingestion, safe to test, To release

#22218 Test: Fix the failing playwright for service ingestion
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Labels: UI, safe to test, To release

#22214 MINOR: parametrize get private key for snowflake
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
Labels: Ingestion, safe to test

#21585 Fix #20145: Implemented Prefix For Dashboard Service
  bootstrap/sql/migrations/native/1.8.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.2/postgres/schemaChanges.sql
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/domodashboard/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/lightdash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/mode/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_metabase.py
  openmetadata-docs/content/v1.8.x/connectors/dashboard/tableau/yaml.md
  openmetadata-docs/content/v1.8.x/main-concepts/metadata-standard/schemas/metadataIngestion/dashboardServiceMetadataPipeline.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dashboardServiceMetadataPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test, To release

#22220 fix(test): Close and comment task failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Labels: UI, safe to test, To release

#22229 chore(ui): minor update in whats new 1.8.2
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test, To release

#22174 Handle quoted entity names in masking queries
  ingestion/src/metadata/ingestion/lineage/masker.py
  ingestion/tests/unit/test_sql_lineage.py
Labels: Ingestion, safe to test, To release

#22199 Fix #1751: Include Column Constraint in DI Charts
  openmetadata-service/src/main/resources/dataInsights/config.json
Labels: Ingestion, safe to test, To release

#22231 Update operations.yaml
  conf/operations.yaml
Labels: safe to test, To release, backend

#22223 Add lineage stored procedure and view filter pattern support
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/src/metadata/utils/filters.py
  ingestion/tests/unit/test_lineage_workflow_filter_pattern.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryLineagePipeline.json
  openmetadata-ui/src/main/resources/ui/src/constants/ServiceConnection.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/ServiceConnection.enum.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/databaseServiceQueryLineagePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test, To release

#22213 Docs: Slack Application Document Addition in Collate
  openmetadata-docs/content/v1.7.x/applications/slack.md
  openmetadata-docs/content/v1.7.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/applications/slack.md
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/applications/slack.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/images/v1.7/applications/slack1.png
  openmetadata-docs/images/v1.7/applications/slack2.png
  openmetadata-docs/images/v1.7/applications/slack3.png
  openmetadata-docs/images/v1.7/applications/slack4.png
  openmetadata-docs/images/v1.7/applications/slack5.png
  openmetadata-docs/images/v1.7/applications/slack6.png
  openmetadata-docs/images/v1.7/applications/slack7.png
  openmetadata-docs/images/v1.7/applications/slack8.png
  openmetadata-docs/images/v1.7/applications/slack9.png
  openmetadata-docs/images/v1.8/applications/slack1.png
  openmetadata-docs/images/v1.8/applications/slack2.png
  openmetadata-docs/images/v1.8/applications/slack3.png
  openmetadata-docs/images/v1.8/applications/slack4.png
  openmetadata-docs/images/v1.8/applications/slack5.png
  openmetadata-docs/images/v1.8/applications/slack6.png
  openmetadata-docs/images/v1.8/applications/slack7.png
  openmetadata-docs/images/v1.8/applications/slack8.png
  openmetadata-docs/images/v1.8/applications/slack9.png
  openmetadata-docs/images/v1.9/applications/slack1.png
  openmetadata-docs/images/v1.9/applications/slack2.png
  openmetadata-docs/images/v1.9/applications/slack3.png
  openmetadata-docs/images/v1.9/applications/slack4.png
  openmetadata-docs/images/v1.9/applications/slack5.png
  openmetadata-docs/images/v1.9/applications/slack6.png
  openmetadata-docs/images/v1.9/applications/slack7.png
  openmetadata-docs/images/v1.9/applications/slack8.png
  openmetadata-docs/images/v1.9/applications/slack9.png
Labels: safe to test

#22230 fix: cross-platform path resolution for dbt ingestion (on Windows)
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Labels: safe to test, To release

#22152 Disable save button and fix UI discrepencies
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizablePageHeader/CustomizablePageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizablePageHeader/CustomizablePageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeMyDataPageClassBase.ts
Labels: safe to test

#22113 Table bulk edit keyboard support
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FocusTrap/FocusTrapWithContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FocusTrap/FocusTrapWithContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/InlineEdit.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/tier-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/user-team-selectable-list.less
  openmetadata-ui/src/main/resources/ui/src/hooks/useRovingFocus.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useRovingFocus.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: safe to test

#22235 Add support to update persona preferences for the user
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Labels: safe to test

#22255 MINOR: Improves German ui translations
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
Labels: safe to test, To release

#22254 MINOR: Fix databricks default schema issue
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/tests/unit/topology/database/test_databricks.py
Labels: Ingestion, safe to test, To release

#22227 chore(ui): rename confusing labels
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test, To release

#22257 Fix ElasticSearchSink and OpeSearchSink
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
Labels: safe to test, To release, backend

#22233 Fix Promtheus endpoint
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MicrometerBundleSingleton.java
  openmetadata-service/src/test/java/org/openmetadata/service/PrometheusEndpointTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/PrometheusMetricsIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/PrometheusResourceTest.java
Labels: safe to test, To release, backend

#22245 Fix : Activity Feed Not Showing Column-Level Metadata Changes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/columns/ColumnResourceTest.java
Labels: safe to test, To release, backend

#22236 fix(test): test case list pagination functionality
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Labels: UI, safe to test

#22263 Docs: 1.8.2 Release Update
  openmetadata-docs/content/partials/v1.8/releases/1.8.1.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.1.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#22283 Revert #22175 (Update GitHub workflows to ignore changes in docs)
  .github/workflows/java-checkstyle.yml
  .github/workflows/py-checkstyle.yml
Labels: safe to test

#22284 Docs: Configure Lineage Note Updation
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/configuring-lineage.md
Labels: safe to test

#22282 Docs: Release 1.8.3 Updation
  openmetadata-docs/content/partials/v1.8/releases/1.8.2.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.2.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#22260 Docs: 404 Error Fix
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/profiler/external_workflow.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-quality-observability/profiler/external_workflow.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/external_workflow.md
Labels: safe to test

#22225 Docs:- Email Alerts Config Removal
  openmetadata-docs/content/partials/v1.7/how-to-guides/email.md
  openmetadata-docs/content/partials/v1.8/how-to-guides/email.md
  openmetadata-docs/content/partials/v1.9/how-to-guides/email.md
Labels: safe to test

#22253 Docs: Keycloak SSO Troubleshooting Updation
  openmetadata-docs/content/v1.7.x/deployment/security/keycloak/troubleshooting.md
  openmetadata-docs/content/v1.7.x/menu.md
  openmetadata-docs/content/v1.8.x/deployment/security/keycloak/troubleshooting.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/security/keycloak/troubleshooting.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
Labels: safe to test

#22206 Docs: Updation of backup-restore-metadata.md
  openmetadata-docs/content/v1.7.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/backup-restore-metadata.md
Labels: safe to test

#22272 Feat(ui): Add "Metric" as an Option for Entity Reference Type Dropdown
  openmetadata-ui/src/main/resources/ui/playwright/constant/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperty.utils.test.ts
Labels: safe to test

#22313 feat: add claude assistant
  .github/workflows/claude.yml
Labels: Ingestion, safe to test

#22320 Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Labels: Ingestion, safe to test

#22297 Add improvements to storing tags in PATCH or PUT
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedTagUsageDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: safe to test, backend

#22291 Fix #22990: Add ETag Support for Optimistic Concurrency Control in PATCH Operations
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogGenericExceptionMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/PreconditionFailedException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/filters/ETagRequestFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/filters/ETagResponseFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityETag.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apps/AppsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Labels: safe to test, backend

#22142 MINOR: Enhance patch request handling by adding 'skip_on_failure' parameter
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  ingestion/tests/unit/metadata/ingestion/models/test_patch_request.py
Labels: Ingestion, safe to test

#22107 Feat whats new redesign
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/rocket.svg
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/ChangeLogs.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/FeaturesCarousel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/FeaturesCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whats-new-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/RecentlyViewed.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Navbar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/BrandData/BrandClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtilClassBase.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Version/Version.ts
Labels: UI, safe to test

#22251 #19932: supported global pageSize change for pagination
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Container.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Dashboards.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/GlobalPageSize.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/UsersPagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearchCustomProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PaginationComponent/PaginationComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchedData/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/paging/usePaging.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/OnlineUsersPage/OnlineUsersPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.tsx
Labels: UI, safe to test, To release

#22308 Fix Column Lineage Validation issue
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
Labels: safe to test, To release, backend

#22343 Update curated assets widget for full size
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetFooter/WidgetFooter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/widget-header.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/widget-wrapper.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/domains-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/my-task-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Labels: safe to test

#22295 Fix #22244 - Fix issues in zh language search index mapping
  openmetadata-spec/src/main/resources/elasticsearch/zh/api_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/dashboard_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/database_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/messaging_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/metadata_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/mlmodel_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/pipeline_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/search_service_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/storage_service_index_mapping.json
Labels: safe to test, To release

#22329 Fix#21401: Auto pilot trigger button enable and improve test coverage
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test, To release

#22336 Minor: Fix the flakiness in ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/observabilityAlert.ts
Labels: UI, safe to test, To release

#22349 Fix customize search functionality
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseSearchBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseSearchBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-search-bar.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
Labels: safe to test

#22266 feature: thoughtspot connector
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ThoughtSpotConnectionClassConverter.java
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/thoughtSpot.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/thoughtSpotConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/ThoughtSpot.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/chart.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboard.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/thoughtSpotConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: Ingestion, safe to test, To release

#22296 Add: missing supportsMetadataExtraction flag in connectors
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/customDashboardConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/sigmaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/customDatabaseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/sasConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/customMessagingConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/mlmodel/customMlModelConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/mlmodel/vertexaiConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/customPipelineConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/datafactoryConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dbtCloudConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/flinkConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/kafkaConnectConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/sparkConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/customSearchConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/storage/customStorageConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/customDashboardConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/sigmaConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/customDatabaseConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/sasConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/messaging/customMessagingConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/mlmodel/customMlModelConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/mlmodel/vertexaiConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/customPipelineConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/datafactoryConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/dbtCloudConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/flinkConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/kafkaConnectConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/sparkConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/search/customSearchConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/storage/customStorageConnection.ts
Labels: Ingestion, safe to test, To release

#22358 Docs: ThoughtSpot Connector Addition
  openmetadata-docs/content/partials/v1.8/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/partials/v1.9/connectors/dashboard/connectors-list.md
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/thoughtspot/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/thoughtspot/troubleshooting.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/thoughtspot/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/thoughtspot/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/thoughtspot/troubleshooting.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/thoughtspot/yaml.md
  openmetadata-docs/images/connectors/thoughtspot.webp
  openmetadata-docs/images/v1.8/connectors/thoughtspot/add-new-service.png
  openmetadata-docs/images/v1.8/connectors/thoughtspot/select-service.png
  openmetadata-docs/images/v1.8/connectors/thoughtspot/service-connection.png
  openmetadata-docs/images/v1.9/connectors/thoughtspot/add-new-service.png
  openmetadata-docs/images/v1.9/connectors/thoughtspot/select-service.png
  openmetadata-docs/images/v1.9/connectors/thoughtspot/service-connection.png
Labels: safe to test

#22353 Redesign Data Assets widget
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/data-assets-widget.less
Labels: safe to test

#22168 Fix soft-delete and restore handling for charts linked to dashboards during dashboard delete/restore operations
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dashboards/DashboardResourceTest.java
Labels: safe to test, To release, backend

#22273 Policy Improvements
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/ResourceRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/permissions/PermissionsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/permissions/PermissionsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/CustomMetricGraphs/CustomMetricGraphs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfiler.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerChart/TableProfilerChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerChart/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainExpertsWidget/DomainExpertWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricDetailsPage/MetricDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PermissionsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: safe to test, To release, backend

#22368 Docs: Meta Description Updation
  openmetadata-docs/content/v1.7.x/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
  openmetadata-docs/content/v1.7.x/deployment/secrets-manager/supported-implementations/gcp-secret-manager/index.md
  openmetadata-docs/content/v1.7.x/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.7.x/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.7.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.7.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.7.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.7.x/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.7.x/how-to-guides/admin-guide/teams-and-users/add-team.md
  openmetadata-docs/content/v1.7.x/how-to-guides/admin-guide/teams-and-users/change-team-type.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-governance/classification/Auto Classification/auto-pii-tagging.md
  openmetadata-docs/content/v1.7.x/main-concepts/index.md
  openmetadata-docs/content/v1.8.x/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
  openmetadata-docs/content/v1.8.x/deployment/secrets-manager/supported-implementations/gcp-secret-manager/index.md
  openmetadata-docs/content/v1.8.x/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.8.x/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.8.x/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.8.x/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.8.x/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.8.x/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.8.x/how-to-guides/admin-guide/teams-and-users/add-team.md
  openmetadata-docs/content/v1.8.x/how-to-guides/admin-guide/teams-and-users/change-team-type.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-governance/classification/Auto Classification/auto-pii-tagging.md
  openmetadata-docs/content/v1.8.x/main-concepts/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/azure-key-vault/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/secrets-manager/supported-implementations/gcp-secret-manager/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/admin-guide/teams-and-users/add-team.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/admin-guide/teams-and-users/change-team-type.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-governance/classification/Auto Classification/auto-pii-tagging.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/main-concepts/index.md
Labels: safe to test

#22366 Fix #22109 : Postgres query column name for exec time
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
Labels: Ingestion, safe to test, To release

#22346 Minor Fix: Add upstreamLineage in Directory, Worksheet, File, Spreadsheet DriveService Search Indexers
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DirectoryIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DriveServiceIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/FileIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SpreadsheetIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/WorksheetIndex.java
Labels: safe to test, backend

#22088 Add: Schema and Database Mark Deletion
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/deltalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/domodatabase/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/iceberg/metadata.py
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/src/metadata/ingestion/source/database/sas/metadata.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/tests/unit/topology/database/test_postgres.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/databaseServiceMetadataPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: Ingestion, safe to test, To release

#22350 Username extraction from jwtprincipalclaimsmapping, if email format
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
Labels: safe to test, To release, backend

#22374 Revert "supported playwright test for nested columns suggestions (#22…
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
Labels: UI, safe to test, To release

#22394 Docs: Quick Start Fix
  openmetadata-docs/content/v1.7.x/quick-start/index.md
  openmetadata-docs/content/v1.8.x/quick-start/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/index.md
Labels: safe to test

#22388 Minor: Fix eslint error
  openmetadata-ui/src/main/resources/ui/.eslintrc.yaml
Labels: UI, safe to test

#22400 Fix Entity Relationship Cleanup to not deleted entities without repo…
  bootstrap/sql/migrations/native/1.8.5/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.5/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v185/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v185/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v185/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityRelationshipCleanup.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityRelationshipCleanupTest.java
Labels: safe to test, To release, backend

#22409 Fix JVM params
  bin/openmetadata-server-start.sh
Labels: safe to test, To release, backend

#22359 Fix KPI and Total Data Assets widgets
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-landing-page-header.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizablePageHeader/CustomizablePageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetSortFilter/WidgetSortFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/KPILegend.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/kpi-legend.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/my-task-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/Widgets.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeMyDataPageClassBase.ts
Labels: UI, safe to test

#22387 Docs: 1.8.4 Release Updation
  openmetadata-docs/content/partials/v1.8/releases/1.8.3.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.3.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#22419 fix the console error of domain and owner in classification page
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Labels: UI, safe to test

#22158 fix: Add support for editing "Compute row coun" from parameter screen #22139
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Labels: UI, safe to test

#22436 Playwright Update: Bulk Import
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: safe to test

#22451 Docs: Meta Updation
  openmetadata-docs/content/v1.7.x/connectors/database/impala/troubleshooting.md
  openmetadata-docs/content/v1.7.x/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.7.x/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.7.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.7.x/connectors/pipeline/stitch/index.md
  openmetadata-docs/content/v1.7.x/connectors/pipeline/wherescape/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-insights/data-culture.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-insights/email-report.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-insights/ingestion.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-insights/kpi.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-insights/report.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-insights/service-insights.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-insights/tiering.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-lineage/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/quality/configure.md
  openmetadata-docs/content/v1.8.x/connectors/database/impala/troubleshooting.md
  openmetadata-docs/content/v1.8.x/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.8.x/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.8.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/stitch/index.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/wherescape/index.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-insights/data-culture.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-insights/email-report.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-insights/ingestion.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-insights/kpi.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-insights/report.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-insights/service-insights.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-insights/tiering.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-lineage/index.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-quality-observability/quality/configure.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/impala/troubleshooting.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/impala/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/stitch/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/wherescape/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-collaboration/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-insights/data-culture.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-insights/email-report.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-insights/ingestion.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-insights/kpi.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-insights/report.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-insights/service-insights.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-insights/tiering.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-lineage/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/configure.md
Labels: safe to test

#22427 fix: failing e2e tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MetricClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-landing-page-header.less
Labels: UI, safe to test

#22446 PLAYWRIGHT: fix the flaky glossary bulk edit failure
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Labels: UI, safe to test

#22396 Fix failing e2e tests
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Container.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomMetric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntityRightCollapsablePanel.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreQuickFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/RecentlyViewed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SchemaDefinition.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TableConstraint.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TagsSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Topic.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Metric.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Navbar.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/Domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/ApiServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/DashboardServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/DatabaseServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/MessagingServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/MlmodelServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/PipelineServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/SearchIndexServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/StorageServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/Glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/glossary/GlossaryTerm.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataQualityAndProfiler.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseSearchBar.tsx
Labels: safe to test

#22462 Fix failing E2E tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SchemaDefinition.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/FrequentlyJoined.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MetricClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
Labels: safe to test

#22463 Fix Flaky Test
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityRelationshipCleanupTest.java
Labels: safe to test, backend

#22465 fix typescript errors for landing page
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
Labels: UI, safe to test

#22467 Fix Database bulkFetcher for service
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
Labels: safe to test, backend

#22456 Fix(UI) : Persist Domain custom property
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
Labels: UI, safe to test, To release

#22449 ISSUE #6 [AI]: added AI Platform Config json
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-spec/src/main/resources/json/schema/configuration/aiPlatformConfiguration.json
Labels: Ingestion, safe to test

#22382 Add insert for search reindex rather than update
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSinkSimpleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSinkSimpleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexAppTest.java
Labels: safe to test, To release, backend

#22475 fix(ui): count localisation for widgets
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
Labels: UI, safe to test

#22481 MINOR: pass GX description on test case creation
  ingestion/src/metadata/great_expectations/action.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
Labels: Ingestion, safe to test, To release

#22489 MINOR: fix the github card border color
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/github-star-card.style.less
Labels: UI, safe to test

#22468 fix(test): User Details Test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserDetails.spec.ts
Labels: UI, safe to test

#22417 React data grid range selection support
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/BulkEditEntity/BulkEditEntity.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BulkEditEntity/BulkEditEntity.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/EditTableTypePropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useGridEditController.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useGridEditController.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EntityImport/BulkEntityImportPage/BulkEntityImportPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/om-rdg.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Labels: safe to test

#22487 #22480: fix the table query pagination showing incorrect pageSize
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.tsx
Labels: UI, safe to test, To release

#22499 [MINOR][Fix] - Activity Feed Alerts
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
Labels: safe to test, To release, backend

#22502 fix(ui): mentions formatting and AUT failure fix
  openmetadata-ui/src/main/resources/ui/src/utils/sanitize.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/sanitize.utils.ts
Labels: UI, safe to test, To release

#22505 fix(test): ServiceIngestion AUTs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/ServiceIngestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Labels: UI, safe to test

#22501 UI: Fix the security vulnerabilities
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Labels: UI, safe to test, To release

#22504 Fix(UI): LIneage Search issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/AssetSelectionModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PlatformLineage/PlatformLineage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/chartsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Assets/AssetsUtils.ts
Labels: safe to test, To release

#22474 fixes 16053: implemented timeout for airflow lineage backend
  ingestion/src/airflow_provider_openmetadata/lineage/backend.py
  ingestion/src/airflow_provider_openmetadata/lineage/config/loader.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/lineage-backend.md
Labels: safe to test, To release

#22395 FIX - List ingestion pipeline by multiple query params including prov…
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
Labels: Ingestion, safe to test, To release

#22520 chore(ui): added whats new details
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Labels: UI, safe to test

#22521 Docs: Minimum Requirement Correction for OpenMetadata
  openmetadata-docs/content/v1.7.x/deployment/production-ready-requirements.md
  openmetadata-docs/content/v1.8.x/deployment/production-ready-requirements.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/production-ready-requirements.md
Labels: safe to test

#22522 fix sonar failure for mentions formatting
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.test.tsx
Labels: UI, safe to test

#22518 Update databaseServiceMetadataPipeline.json
  bootstrap/sql/migrations/native/1.8.7/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.7/postgres/schemaChanges.sql
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
Labels: safe to test, To release, backend

#22523 Fix(ui): Lineage Crash
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetSummaryPanel/DataAssetSummaryPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Labels: safe to test, To release

#22525 Fix explore count mismatch - 2
  openmetadata-service/src/main/resources/json/data/settings/searchSettings.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
Labels: safe to test, To release, backend

#22535 MINOR: Fix mysql pytest version
  ingestion/tests/integration/mysql/conftest.py
Labels: Ingestion, safe to test

#22470 Fix #22422: Classification term count showing 0 in UI …
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Labels: safe to test, backend

#22516 Fix #22511: k8s secret support for Secrets Manager
  conf/openmetadata.yaml
  ingestion/setup.py
  ingestion/src/metadata/utils/secrets/kubernetes_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/unit/metadata/utils/secrets/test_kubernetes_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SecretsManagerException.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/KubernetesSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerFactory.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/KubernetesSecretsManagerTest.java
  openmetadata-spec/src/main/resources/json/schema/security/credentials/kubernetesCredentials.json
  openmetadata-spec/src/main/resources/json/schema/security/secrets/secretsManagerProvider.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMetadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/metadata/openMetadataConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/metadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/security/secrets/secretsManagerConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/security/secrets/secretsManagerProvider.ts
Labels: safe to test, backend

#22485 fix(ui): remove hybrid condition from ingestion runner
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: UI, safe to test

#22482 Prepare OSS for Vector Embedding via SearchIndexApp
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultRecreateHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultSearchRepositoryProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/RecreateIndexHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepositoryFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepositoryProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/resources/META-INF/services/org.openmetadata.service.search.SearchRepositoryProvider
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSinkSimpleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSinkSimpleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexAppTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchRepositoryTest.java
Labels: safe to test, backend

#22576 Docs: Indentation Correction in Ingest DBT Owner
  openmetadata-docs/content/v1.7.x/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.8.x/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
Labels: safe to test

#22578 doc: add test case breaking change
  openmetadata-docs/content/partials/v1.9/deployment/upgrade/upgrade-prerequisites.md
Labels: Ingestion, safe to test

#22587 Docs: Reverse Metadata Application Doc Capital Letter Correction
  openmetadata-docs/content/v1.7.x/applications/reverse-metadata.md
  openmetadata-docs/content/v1.8.x/applications/reverse-metadata.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/applications/reverse-metadata.md
Labels: safe to test

#22526 Fix #21831 Inherit Domains from Classification for Tags
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
Labels: safe to test, backend

#22582 PLAYWRIGHT: fix flaky metric and bulk import issue around range selector
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
Labels: UI, safe to test

#22572 Minor fix test suite reindex regression
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticTermsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenTermsAggregations.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Labels: Ingestion, safe to test, To release

#22586 MINOR: Improve ometa logging
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/tests/unit/test_ometa_utils.py
Labels: Ingestion, safe to test, To release
