Repository open-metadata/OpenMetadata, pull requests merged in 2025-08, with the labels that each got.

#22671 MINOR - Add Data Contract Alerts
  ingestion/examples/sample_data/tests/testCaseResults.json
  ingestion/examples/sample_data/tests/testSuites.json
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/entity/IngestionPipelineFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/main/resources/json/data/EntityObservabilityFilterDescriptor.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/constants/Alerts.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: Ingestion, safe to test

#22682 MINOR: Update DataLake and PostgreSQL connection
  ingestion/src/metadata/ingestion/source/dashboard/superset/connection.py
  ingestion/src/metadata/ingestion/source/database/datalake/connection.py
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/datalake/service_spec.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/service_spec.py
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
  ingestion/src/metadata/sampler/pandas/sampler.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/unit/test_build_connection_url.py
Labels: Ingestion, safe to test

#22631 MINOR: Improve datalake processing table log
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
Labels: Ingestion, safe to test, To release

#22459 fix: ru localization for UI update
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
Labels: safe to test

#22666 MINOR: Add support for csv.gz in datalake
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/utils/test_datalake.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
Labels: Ingestion, safe to test, To release

#22531 fix(ui): User popover card team redirection issue
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TasktabIncidentManagerHeaderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
Labels: UI, safe to test

#22699 Fix KPI widget scalability
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/KPILegend.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/kpi-legend.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Widgets.constant.ts
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Labels: UI, safe to test

#22601 Feed migrations to support multi-domain
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/feeds/FeedMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FeedUtils.java
  openmetadata-service/src/main/resources/json/data/eventsubscription/ActivityFeedEvents.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/feed/createThread.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/type/changeEvent.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/feed/createThread.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/feed/thread.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/eventSubscriptionDiagnosticInfo.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/typedEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/failedEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/failedEventResponse.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/changeEvent.ts
Labels: safe to test, backend

#22703 MINOR - Add platform rules & fix Data Contract execution
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/settings/entityRulesSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Labels: Ingestion, safe to test

#22678 test(ui): e2e tests for landing page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/RecentlyViewed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/EmptyWidgetPlaceholder/EmptyWidgetPlaceholderV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/WidgetCard/WidgetCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/WidgetCard/WidgetCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetMoreOptions/WidgetMoreOptions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/SelectAssetTypeField/SelectAssetTypeField.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/RecentlyViewed.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/RecentlyViewed/recently-viewed.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/alertsAPI.ts
Labels: UI, safe to test

#22707 Add migrations to update widget descriptions
  bootstrap/sql/migrations/native/1.9.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/postDataMigrationSQLScript.sql
Labels: safe to test, backend

#22713 PLAYWRIGHT: fix the lineage cycle playwright failing on 1.8.9
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
Labels: UI, safe to test

#22435 Playwright Tests coverage for Entity Permissions ,ServiceEntity, Domains and Glossary Operation Permissions
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DomainPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/EntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/GlossaryPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/ServiceEntityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPermissionUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Labels: UI, safe to test

#22617 Fix(UI): Logs after call not triggering when scrolled to bottom
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
Labels: UI, safe to test

#22714 MINOR - Add Tests & fix migrations
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.1/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Labels: Ingestion, safe to test

#22688 Chore(UI): Add make recipe for updating the typescript types
  Makefile
Labels: UI, safe to test

#22672 Docs: Adding Epic Connector
  openmetadata-docs/content/partials/v1.9/connectors/database/connectors-list.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/epic/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/epic/troubleshooting.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/epic/yaml.md
  openmetadata-docs/images/connectors/epic.webp
  openmetadata-docs/images/v1.9/connectors/epic/add-new-service.png
  openmetadata-docs/images/v1.9/connectors/epic/select-service.png
  openmetadata-docs/images/v1.9/connectors/epic/service-connection.png
Labels: safe to test

#22718 MINOR - Handle OM connection on DC trigger
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Labels: Ingestion, safe to test

#22715 fix sorting on updatedAt field in classification_search_index
  openmetadata-spec/src/main/resources/elasticsearch/en/classification_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/classification_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/classification_index_mapping.json
Labels: safe to test, backend

#22721 MINOR: Improve Unity Catalog Usage
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/queries.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/query_parser.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/usage.py
Labels: Ingestion, safe to test

#22724 Docs: 1.8.9 Release Updation
  openmetadata-docs/content/partials/v1.8/releases/1.8.8.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.8.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Labels: safe to test

#22722 fix: enum to domains
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/propagationStopConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/lineagePropagationAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/propagationStopConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Labels: safe to test

#22735 Supported Contract Execution Chart Summary Card
  openmetadata-ui/src/main/resources/ui/src/assets/svg/table-outline.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/contract-execution-chart.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#22726 Fix(UI): Incorrect Data model count
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Labels: safe to test

#22752 Support navigation blocker for customize my data page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/NavigationBlocker.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizablePageHeader/CustomizablePageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.tsx
Labels: UI, safe to test

#22732 MINOR: Improve Databricks Profiler & Test Connection
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/tests/unit/topology/database/test_databricks.py
Labels: Ingestion, safe to test

#22761 Minor : missing old pipeline in pipeline widget
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Labels: safe to test, To release, backend

#22753 fix (test) : Login test failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LoginConfiguration.spec.ts
Labels: UI, safe to test

#22760 Docs: Brand Name Tag Updation
  openmetadata-docs/content/v1.7.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.7.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.7.x/getting-started/index.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.8.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.8.x/getting-started/index.md
  openmetadata-docs/content/v1.8.x/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/collate-saas.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/gcp-composer.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/hybrid-ingestion-runner.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/day-1/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/getting-started/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/tests-ui.md
Labels: safe to test

#22766 Fix customize page layout for Governance and Data Assets
  openmetadata-ui/src/main/resources/ui/playwright/constant/customizeDetail.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/widget-header.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
Labels: UI, safe to test, To release

#22443 chore(BE): support displayName for installed apps endpoint
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Labels: UI, safe to test

#22437 Fix: #19907 Glossary Term Approval Workflow - Trigger Filters - JsonLogic along with Exclude Fields filter
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/CheckEntityAttributesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/EventBasedEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FilterEntityImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceStateRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v190/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/JsonLogicUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/LogicOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/GlossaryApprovalWorkflowTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/eventBasedEntityTrigger.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/governance/createWorkflowDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/triggers/eventBasedEntityTrigger.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Labels: safe to test, To release

#22777 fix(test): permissions test fix
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Labels: UI, safe to test, To release

#22734 Enable bedrock embedding service
  conf/openmetadata.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/elasticSearchConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Labels: safe to test

#22782 Chore(UI): Fix data quality AUTs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/AddTestCaseNewFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Labels: UI, safe to test, To release

#22778 fix AUT tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Labels: UI, safe to test

#22746 Update data contract details fields
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/contract-detail-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelect/user-team-select.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/UserTeamSelectableListSearchInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableListSearchInput/user-team-selectable-list-search-input.less
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Labels: UI, safe to test

#22784 MINOR - Disable Custom Data Asset Rules
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: Ingestion, safe to test, To release

#22776 Fix(ui) : Release dialog flash
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/GithubStarCard/GithubStarCard.test.tsx
Labels: safe to test, To release

#22795 test(ui): enhance data contract playwright test
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
Labels: UI, safe to test

#22801 COVERAGE: fix the coverage issue due to dataAssetRules changes
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
Labels: UI, safe to test, To release

#22791 Fix(ui): Flaky Tier Count
  openmetadata-ui/src/main/resources/ui/playwright/constant/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataConsumer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityDataSteward.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
Labels: safe to test, To release

#22800 test(ui): fix AUT for Tour.spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.component.tsx
Labels: UI, safe to test, To release

#22763 Fix breaking UI on edit announcement
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/AnnouncementDrawer/AnnouncementDrawer.tsx
Labels: UI, safe to test, To release

#22798 Fix empty chart UI in persona
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.ts
Labels: UI, safe to test, To release

#22805 Fix Security Vulnerabilities
  common/pom.xml
  openmetadata-mcp/pom.xml
Labels: safe to test, To release, backend

#22813 [MINOR] Fix Vulnerabilities
  common/pom.xml
  openmetadata-service/pom.xml
  pom.xml
Labels: safe to test, To release, backend

#22827 Fix curated assets description
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
Labels: UI, safe to test

#22826 FIX - Contract mismatch with existing test suites
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Labels: Ingestion, safe to test, To release

#22822 Fix service insight live update bugs
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datainsight/system/DataInsightSystemChartResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/messages/ChartDataStreamMessage.java
  openmetadata-spec/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/query_index_mapping.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/AgentsStatusWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/AgentsStatusWidget/agents-status-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/platform-insights-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/TotalDataAssetsWidget.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AgentsStatusWidgetUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Labels: UI, safe to test, To release

#22832 FIX - Restore existing DC during PUT
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Labels: Ingestion, safe to test, To release

#22825 Minor: add configs for embedding provider
  conf/openmetadata.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/elasticSearchConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Labels: safe to test

#22840 Remove home text from landing page and disable save for customize pages
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseGlossaryTermDetailPage/CustomiseGlossaryTermDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizableDomainPage/CustomizableDomainPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizeDetailsPage/CustomizeDetailsPage.tsx
Labels: UI, safe to test

#22849 Fixes #22847: Update PT-BR locale owner-plural-with-colon attribute
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
Labels: safe to test, To release

#22743 App widgets oss
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/plugins/AppPlugin.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
Labels: UI, safe to test

#22844 fix(ui): add pagination in sub domains table
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SubDomainPagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/SubDomainsTable/SubDomainsTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Domain/DomainClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Labels: UI, safe to test, To release

#22873 MINOR: Refactor BigQuery client type hinting in bigquery_utils.py
  ingestion/src/metadata/utils/bigquery_utils.py
Labels: Ingestion, safe to test

#22571 Fix #1093: Add Grafana Support
  ingestion/src/metadata/examples/workflows/grafana.yaml
  ingestion/src/metadata/ingestion/source/dashboard/grafana/__init__.py
  ingestion/src/metadata/ingestion/source/dashboard/grafana/client.py
  ingestion/src/metadata/ingestion/source/dashboard/grafana/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/grafana/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/grafana/models.py
  ingestion/src/metadata/ingestion/source/dashboard/grafana/service_spec.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/topology/dashboard/fixtures/grafana_fixtures.py
  ingestion/tests/unit/topology/dashboard/test_grafana.py
  ingestion/tests/unit/topology/dashboard/test_grafana_client.py
  ingestion/tests/unit/topology/dashboard/test_grafana_simple.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/grafana.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/grafanaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Grafana.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-grafana.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createChart.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/chart.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboard.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/grafanaConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: safe to test, backend

#22891 DOCS - Fix secrets typo
  openmetadata-docs/content/v1.7.x/deployment/secrets-manager/index.md
  openmetadata-docs/content/v1.8.x/deployment/secrets-manager/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/secrets-manager/index.md
Labels: Ingestion, safe to test

#22883 MINOR: Modify Documentation for metadata/types api
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
Labels: Ingestion, safe to test

#22872 MINOR: Enhance Sample Data with Owner and Descriptions
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Labels: Ingestion, safe to test

#22870 issue-22425: PowerBI parse expression along with measure
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  ingestion/tests/unit/test_powerbi_table_measures.py
Labels: Ingestion, safe to test

#22896 Update the sync-doc workflow
  .github/workflows/sync-docs-v1.yml
Labels: UI, safe to test

#22903 Fix the docs collate content failure
  openmetadata-docs/content/v1.10.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/external-configuration.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/how-to-guides/data-quality-observability/profiler/spark-engine/ui-configuration.md
  openmetadata-docs/content/v1.9.x/collate-menu.md
  openmetadata-docs/content/v1.9.x/how-to-guides/data-quality-observability/profiler/spark-engine/external-configuration.md
  openmetadata-docs/content/v1.9.x/how-to-guides/data-quality-observability/profiler/spark-engine/ui-configuration.md
Labels: UI, safe to test

#22892 Removed lastLoginTime from change Description
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Labels: safe to test, To release, backend

#22897 Fix #22164: Fix airflow compatibility issue with version 2.2.5
  ingestion/src/metadata/ingestion/source/pipeline/airflow/connection.py
Labels: Ingestion, safe to test, To release

#22919 MINOR: Update `alerts.md` to include `Advanced Configurations`
  openmetadata-docs/content/v1.9.x/how-to-guides/admin-guide/alerts.md
Labels: safe to test

#22906 fix(ui): default persona in user profile
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfilePersona/UserProfilePersona.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
Labels: UI, safe to test, To release

#22902 MINOR: precede source table name before pbi table name
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Labels: Ingestion, safe to test

#22937 Fix Bug: Match All Tags giving a NPE when the resource doesn't have tags
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Labels: safe to test, backend

#22949 Docs: Update the 1.9.1 Release
  openmetadata-docs/content/partials/v1.10/releases/1.9.0.md
  openmetadata-docs/content/partials/v1.10/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.9.0.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/sdk/python/index.md
  openmetadata-docs/content/v1.9.x/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x/menu.md
  openmetadata-docs/content/v1.9.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x/releases/releases/index.md
  openmetadata-docs/content/v1.9.x/sdk/python/index.md
Labels: safe to test

#22940 Fix: Flowable and Governance Workflow Error Logging for easy identifcation of errors and resolutions
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceExecutionIdSetterListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceStageListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/BaseDelegate.java
Labels: safe to test, backend

#22978 Fix - Do not able RDF by default
  conf/openmetadata.yaml
Labels: safe to test, backend

#22973 fix: issue with redirection from logs view page to data quality page.
  openmetadata-ui/src/main/resources/ui/src/utils/LogsClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LogsClassBase.ts
Labels: UI, safe to test, To release

#22963 feat(ui): allow toggle to see both deleted and non-deleted chart on dashboard page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Dashboards.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardChartTable/DashboardChartTable.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.tsx
Labels: UI, safe to test

#22933 Fix Consistent masking of PII in table column profiling
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Labels: bug, profiler, safe to test, java, To release, backend

#23001 Remove configuration for APIs for auth or authorizer
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/ConfigResourceTest.java
Labels: safe to test, To release, backend

#22975 Fix pagination for Persona listing
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
Labels: UI, safe to test, To release

#22988 fix(ui): UI lag when viewing kafka topics with large nested schemas
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Labels: UI, safe to test

#23004 Minor: Add workflow_dispatch option in yarn-coverage.yml workflow
  .github/workflows/yarn-coverage.yml
Labels: UI, safe to test

#23007 MINOR: Delete .github/workflows/sync-docs-v1.yml
  .github/workflows/sync-docs-v1.yml
Labels: Ingestion, safe to test

#22999 Add deploy pipeline method to ingestion pipeline repository
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Labels: Ingestion, safe to test

#23025 Improve Performance
  conf/openmetadata.yaml
Labels: safe to test, To release, backend

#22695 Fixes #21677: Refactor and enhance the entity name transformation logic
  ingestion/examples/sample_data/dashboards/dashboardDataModels.json
  ingestion/examples/sample_data/mysql/tables.json
  ingestion/src/metadata/ingestion/models/custom_basemodel_validation.py
  ingestion/src/metadata/ingestion/models/custom_pydantic.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/models/test_custom_basemodel_validation.py
  ingestion/tests/unit/models/test_custom_pydantic.py
  ingestion/tests/unit/test_fqn.py
  ingestion/tests/unit/utils/test_fqn_special_chars.py
Labels: Ingestion, safe to test

#23026 Improve: Tableau e2e Tests
  ingestion/tests/cli_e2e/dashboard/tableau/redshift.yaml
  ingestion/tests/cli_e2e/dashboard/tableau/tableau.yaml
  ingestion/tests/cli_e2e/test_cli_tableau.py
Labels: Ingestion, safe to test

#22976 Update asset types in curated assets list
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/KPILegend.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPILegend/kpi-legend.less
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Labels: UI, safe to test

#23034 chore(release): Prepare Branch for `1.10.0-SNAPSHOT`
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Labels: safe to test, backend

#23037 Fix(ui): prevent child term state loss on infinite scroll
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LargeGlossaryPerformance.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
Labels: safe to test

#23038 Refactor DatabaseServiceTablesProcessor and simplify getLatestTableProfile logic
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/costAnalysis/processors/DatabaseServiceTablesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
Labels: profiler, safe to test, java, backend

#23048 chore(ui): playwright fixes
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Labels: UI, safe to test, To release

#23040 Fixes: Snowflake Tags Ingestion
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Labels: Ingestion, safe to test, To release

#23031 Fix #18491: ingestion fails for Iceberg tables with nested partition column
  ingestion/src/metadata/ingestion/source/database/iceberg/models.py
  ingestion/tests/unit/topology/database/test_iceberg.py
Labels: Ingestion, safe to test, To release

#22932 FIXES #20888: Validate EntityLink column existence during test case creation
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/lineage/LineageResourceTest.java
Labels: Ingestion, safe to test, To release

#23049 Upgrade Mcp to 0.11.2
  openmetadata-mcp/pom.xml
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/AuthEnrichedMcpContextExtractor.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/HttpServletSseServerTransportProvider.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/MCPStreamableHttpServlet.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/McpServer.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/DefaultToolContext.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetLineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/PatchEntityTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SearchMetadataTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/McpIntegrationTest.java
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/McpTestUtils.java
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/McpToolsValidationTest.java
  openmetadata-mcp/src/test/resources/test-config-mcp.yaml
  openmetadata-spec/src/main/resources/json/schema/api/mcp/mcpSearchResponse.json
  pom.xml
Labels: safe to test, To release, backend

#22994 Follow-up to #22474: Expose retry_codes parameter in Airflow lineage backend configuration
  ingestion/src/airflow_provider_openmetadata/lineage/backend.py
  ingestion/src/airflow_provider_openmetadata/lineage/config/loader.py
Labels: safe to test, To release

#22909 fix: airflow ingest get_pipelines_list order_by added
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Labels: safe to test, To release

#22927 fix(ui): tab label with persona assigned
  openmetadata-ui/src/main/resources/ui/playwright/constant/customizeDetail.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/CustomizeTabWidget/CustomizeTabWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DraggableTabs/DraggableTabs.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DraggableTabs/DraggableTabs.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableClassBase.ts
Labels: UI, safe to test

#23057 PLAYWRIGHT: fix subdomain playwright failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SubDomainPagination.spec.ts
Labels: UI, safe to test, To release

#23081 MINOR: Improve UC lineage exception handling
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
Labels: Ingestion, safe to test, To release

#22855 Enhancement #22111 : Enable sub-domain access with hasDomain() Rule
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CreateResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Labels: safe to test, backend

#23083 fix the markdown data not visible in right panels
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
Labels: UI, safe to test

#22950 MINOR - tag_usage performance
  bootstrap/sql/migrations/native/1.9.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.3/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Labels: Ingestion, safe to test, To release

#22864 fix the table version page breaking if large column list
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/TableVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/table.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableVersion/TableVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableVersion/TableVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/VersionTable/VersionTable.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/toggle-switch.less
Labels: UI, safe to test, To release

#23088 Fix(ui): Infinity Scroll Playwright
  bootstrap/sql/migrations/native/1.9.3/mysql/schemaChanges.sql
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/GlossaryPagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LargeGlossaryPerformance.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Labels: UI, safe to test

#23100 Fixes duplicated documentation about the mcp endpoints
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/McpApplication.md
Labels: safe to test

#23021 MINOR - Add specific endpoint for log downloads in streaming
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionLogs/LogsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionLogs/LogsUtils.ts
Labels: Ingestion, safe to test, To release

#23065 MINOR - Add BE validations on entity types for Data Contracts
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APICollectionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APICollectionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APIEndpointMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APICollectionIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ServiceHierarchyCleanup.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetentionAppTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APICollectionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Labels: Ingestion, safe to test

#23097 MINOR - Simplify migration context computing during tests
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/context/MigrationWorkflowContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Labels: Ingestion, safe to test

#23119 MINOR - Update translations
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Labels: Ingestion, safe to test

#23144 Fixes 22994 (PR): Add List import to avoid errors
  ingestion/src/airflow_provider_openmetadata/lineage/config/loader.py
Labels: safe to test, To release

#23014 Minor: Fix Databricks & Unity Catalog, Table or View Not found
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/unity_catalog/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/system/databricks/system.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/unitycatalog/sampler.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/unit/sampler/sqlalchemy/test_unitycatalog_sampler.py
Labels: Ingestion, safe to test, To release

#23140 chore(BE): update response code for docs & signin page
  openmetadata-service/src/main/java/org/openmetadata/service/socket/OpenMetadataAssetServlet.java
Labels: UI, safe to test

#23103 MINOR: Allow additional fields for custom connectors
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/customDashboardConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/customDatabaseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/drive/customDriveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/customMessagingConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/mlmodel/customMlModelConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/customPipelineConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/search/customSearchConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/storage/customStorageConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/mcp/mcpSearchResponse.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDriveService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMessagingService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMlModelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createSearchService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createStorageService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/customDashboardConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/customDatabaseConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/drive/customDriveConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/messaging/customMessagingConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/mlmodel/customMlModelConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/customPipelineConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/search/customSearchConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/storage/customStorageConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/driveService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/messagingService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/mlmodelService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/searchService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/storageService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Labels: Ingestion, safe to test, To release

#23094 handle persona deletion and relations fetch when entitynotfoundexceptoin is thrown
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PersonaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaDeletionUserProfile.spec.ts
Labels: safe to test, e2e, To release, backend

#23164 Fix Resource Context - Invalid Entity Type being passed
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CreateResourceContext.java
Labels: safe to test, To release, backend

#23148 Chore(ui): fix flaky playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Labels: UI, safe to test, To release

#23154 playwright: fixed flakiness in AddTestCaseNewFlow, Tour & Domains
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/AddTestCaseNewFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Labels: UI, safe to test, To release
